#textdomain wesnoth-loti
[event]
    name=see_beelzebub_monument
    [lua]
        code = <<
                                local finder = wml.variables["unit"]
                                local have_lethalia = #wesnoth.units.find_on_map{ id = "Lethalia" } == 1
                                local have_vritra = #wesnoth.units.find_on_map{ id = "Vritra" } == 1
                                local have_efraim = #wesnoth.units.find_on_map{ id = "Efraim" } == 1
                                if finder.id ~= "Lethalia" and have_lethalia then
                                    wml.variables["msg_speaker"]="Lethalia"
                                    return
                                end
                                if finder.id == "Lethalia" and have_vritra then
                                    wml.variables["msg_speaker"]="Vritra"
                                    return
                                end
                                if finder.id == "Lethalia" and not have_vritra and have_efraim then
                                    wml.variables["msg_speaker"]="Efraim"
                                    return
                                end
                                if finder.id == "Krux" and have_vritra then
                                    wml.variables["msg_speaker"] = "Vritra"
                                    return
                                end
                                wml.variables["msg_speaker"]="Krux"
                                >>
    [/lua]

    [if]
        [variable]
            name=seen_beelzebub_monument
            equals=yes
        [/variable]
        [then]
            [message]
                speaker=unit
                message= _ "Look..."
            [/message]
            [if]
                [variable]
                    name=seen_beelzebub
                    equals=yes
                [/variable]
                [then]
                    [message]
                        speaker=$msg_speaker
                        message= _ "Oh damn. Beelzebub is here again."
                    [/message]
                [/then]
                [else]
                    [message]
                        speaker=$msg_speaker
                        message= _ "There's that weird looking stone thing again."
                    [/message]
                [/else]
            [/if]
        [/then]
        [else]
            [message]
                speaker=unit
                message= _ "Look! That stone looks quite weird."
            [/message]
            [message]
                speaker=$msg_speaker
                message= _ "Maybe we should investigate."
            [/message]
            [set_variable]
                name=seen_beelzebub_monument
                value=yes
            [/set_variable]
        [/else]
    [/if]
    [clear_variable]
        name=msg_speaker
    [/clear_variable]
[/event]
