#textdomain wesnoth-loti
[scenario]
    id=02_And_Another_Orcish_Assault
    name= _ "And Another Orcish Assault"
    #Pretty much a parody name
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/02_Frostbitten_Rainforest.map}"
    next_scenario=03_Fimbulwinter
    {TURNS 20 19 18}
    experience_modifier=80
    victory_when_enemies_defeated=yes
    {SCHEDULE_FIMBULWINTER}
    {SCENARIO_MUSIC "northerners.ogg"}
    {EXTRA_SCENARIO_MUSIC nunc_dimittis.ogg}
    {EXTRA_SCENARIO_MUSIC revelation.ogg}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=
        village_gold=1
        gold=0
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=no
        fog=no
    [/side]

    [side]
        id=Gumbrul
        name= _ "Gumbrul the Eviscerator"
        type=Orcish Warmonger
        random_traits=yes
        side=2
        canrecruit=yes
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Goblin Knight,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Goblin Impaler,Goblin Rouser
        gold=1100
        income=10
        village_gold=3
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                id=evisceration
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_LESSER_EVISCERATION}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
        [unit]
            type=Orcish Warrior
            generate_name=yes
            x=18
            y=34
            ai_special=guardian
        [/unit]
        [unit]
            type=Orcish Warrior
            generate_name=yes
            x=15
            y=21
            ai_special=guardian
        [/unit]
        [unit]
            type=Orcish Warrior
            generate_name=yes
            x=10
            y=21
            ai_special=guardian
        [/unit]
        [unit]
            type=Orcish Warrior
            generate_name=yes
            x=9
            y=23
            ai_special=guardian
        [/unit]
        [unit]
            type=Orcish Grunt
            generate_name=yes
            x=20
            y=27
            ai_special=guardian
            id=southern_scout
        [/unit]
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    {STARTING_VILLAGES 2 11}
    [side]
        type=Demon Overlord
        id=enemy
        generate_name=yes
        canrecruit=yes
        side=3
        recruit=Demon Warrior,Demon
        village_gold=5
        income=40
        {GOLD 1000 1150 1300}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
        [ai]
            aggression=1.0
        [/ai]
        {GUARDIAN_UNIT 3 "Demon" 15 7}
        {GUARDIAN_UNIT 3 "Demon" 22 6}
        {GUARDIAN_UNIT 3 "Demon Warrior" 17 8}
        {GUARDIAN_UNIT 3 "Demon" 24 6}
        {GENERIC_UNIT 3 "Demon Manowar" 17 9}
        {GENERIC_UNIT 3 "Demon" 21 8}
        {GENERIC_UNIT 3 "Demon Manowar" 13 6}
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the demon leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Krux or Vritra"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Gumbrul"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
        [kill]
            id=Efraim
            fire_event=no
            animate=no
        [/kill]
        [recall]
            id=Krux
            x,y=29,33
        [/recall]
        [recall]
            id=Vritra
        [/recall]
    [/event]
    [event]
        name=start
        [message]
            speaker=Vritra
            message= _ "What is happening to this world? It used to be too hot here for anybody, including <i>plants</i>. Now I can barely stand it without magic. I am freezing, my reflexes are slowing down."
        [/message]
        [message]
            speaker=Krux
            message= _ "Maybe if you had followed mom's advice and dressed more appropriately..."
        [/message]
        [message]
            speaker=Vritra
            message= _ "This is not what I am talking about. I am talking about the extreme heat that was suddenly replaced by this marrow-biting frost."
        [/message]
        [message]
            speaker=Krux
            message= _ "We have seen these burning clouds above places where the demonic power was too strong."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Yes, burning skies, dead land, plains of solidified lava and rivers of flame. That is how mom described Inferno when I asked her how other worlds look."
        [/message]
        [message]
            speaker=Krux
            message= _ "You know, fires create smoke, and such huge fires might create that much fumes to create a dark veil on the sky. Neither of the suns can shine through it, only some dim light reaches the ground. Without light of the suns, our world is freezing. This is just my theory."
        [/message]
        [message]
            speaker=southern_scout
            message= _ "A small group is approaching from the south, I cannot identify if they are demons or not."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Orcs ahead. According to what our parents said, they are huge brutes that are almost incapable of thinking and enjoy torture. Weaker and less organised than demons, but they might be more dangerous at the moment, because there is a big warband of them together, unlike the disorganised, randomly wandering demons we have encountered so far."
        [/message]
        [message]
            speaker=Krux
            message= _ "Do you think that they are allied with demons?"
        [/message]
        [message]
            speaker=Vritra
            message= _ "Possibly. But I do not think that demons would need help from creatures like them, and I even doubt if they can tell humans from orcs."
        [/message]
        [message]
            speaker=Krux
            message= _ "Demons are probably our common enemy. They might need allies."
        [/message]
        {MOVE_UNIT id=Krux 24 29}
        {MOVE_UNIT id=Vritra 24 30}
        {VARIABLE recall_count 20}
        [while]
            [variable]
                name=recall_count
                greater_than=1
            [/variable]
            [do]
                {VARIABLE_OP recall_count add -1}
                [recall]
                    side=1
                    x,y=25,30
                [/recall]
            [/do]
        [/while]
        {CLEAR_VARIABLE recall_count}
        [message]
            speaker=Krux
            message= _ "Hello. We are coming in peace. I think that demons are our common enemy, and I propose..."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Good to see that you are humans, and not those disguised demons."
        [/message]
        [message]
            speaker=Krux
            message= _ "How can you tell humans from disguised demons?"
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Because you are not humans... Well, that sounds strange. I wanted to tell that you look like a group of fugitives, ragged, tired, and of many races randomly assembled, while demons prefer to disguise themselves as a normal looking group."
        [/message]
        [message]
            speaker=Krux
            message= _ "True. Do I understand correctly that demons are our common enemy?"
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Yes. Demons are swarming these lands, and any human, elf, orc, dwarf, troll or saurian is fleeing from any larger groups. The demons are almost invincible, and they are also very numerous. The Sand Empire united with Even Newer Knalga, the kingdoms of New Borstep and Rainforest of Ellesiä and many many smaller realms and tribes to march against them, building an army that was so large that if you stood in its middle, you could not see its end on any side..."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "They managed to destroy a lot of demons, but then many demons assembled, and defeated them in the following battle. The battle was called the Battle for Irdya. A thousand of thousands men died, kingdoms and empires fell, and it did not make them less abundant. Rumours say that they were coming through a gate right from their homeworld, and a smaller group of heroes managed to close it."
        [/message]
        [message]
            speaker=Krux
            message= _ "Yes, we saw that happening. We are those that they left in this world while they were closing it. But they failed to get away from there, and now they are imprisoned in the world where demons came from. How can you even know that?"
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Shamans say that they saw that the demons were coming from a cave, but they are no longer coming. And we were told that some heroes went to close it."
        [/message]
        [message]
            speaker=Vritra
            message= _ "What can we expect now? How does this world look now? What is this frost doing here?"
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "This is the end of the world. The demons are still too numerous, and they have killed too many of us. Some towns were cleared so that not a single child survived. Some realms were corrupted, and they are serving the demons for now. There was a revolution against them in Karhaba, but the demons slaughtered all of its inhabitants then."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Humans and also other races are worshipping demons, everyone who refuses to obey them is hunted... even the Fimbulwinter is starting."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Fimbulwinter? What is that? A really terrible winter?"
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Garglash the Great Ancient Shaman once said that one day, an end of the world will come. Men will serve demons and kill each other, rivers of flame will flow through the land, heavens shall burn, and the whole wold will be frozen in Fimbulwinter, an endless winter."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Nice prospects. My apparel might not... Who could have foreseen... But maybe... Maybe we can kill them one by one in a guerrilla war before that winter... You know, my brother and I are demon hunters!"
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Garglash the Great Ancient Shaman added that the whole world will be built anew then. But I cannot rely on this promise."
        [/message]
        [message]
            speaker=Krux
            message= _ "We might clean some of the corrupted empires, and the demons might not strike back, because they know that they are isolated from reinforcements now."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "I would like at least to try that, but we need to stop a warband of demons that are chasing us. Your help will be appreciated."
        [/message]
        [message]
            speaker=enemy
            message= _ "There you are, you puny, foul-smelling humans... Trying to hide from us, eh? Your stench gave you away! Prepare for an eternal sweat bath in Inferno, hahaha."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Hey, those are our allies, whether shrimpy or stinking! And it's YOU who will stew in your own juice! – Whoever brings me the horns of that bellwether will be promoted!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=enemy
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "We have won! Now we will be able to perform a few offensive operations before they send another warband of demons after us."
        [/message]
        [message]
            speaker=Krux
            message= _ "What do you suggest to do? I see that you lack your usual allies, trolls and nagas, so..."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "There is a corrupted empire west from here. But the road there will be filled with scattered demons looking for survivors. It is closer than any troll or naga settlements we know about."
        [/message]
        [message]
            speaker=Krux
            message= _ "Well, I suggest to try to go there, then."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "I was thinking about one important thing. You have been with the party that closed the portal, so you probably know the demons more than me. I am giving you control of my army, but I will remain your main counsellor, because you have no idea about the politics in this area."
        [/message]
        [message]
            speaker=Krux
            message= _ "True. But I think that we should rule together. The orcs will obey you rather than us."
        [/message]
        {MODIFY_UNIT side=2 side 1}
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Vritra
            message= _ "We will never leave this place..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Vritra
            message= _ "No, you cannot die, brother!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Krux
            message= _ "No, you cannot die, sister!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Gumbrul
        [/filter]
        [message]
            speaker=Krux
            message= _ "No, we need him!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 10 15 (axe,mace,staff,spear,bow,sword,sword,dagger) yes 3}
    {GLOBAL_EVENTS}
[/scenario]
