#textdomain wesnoth-loti
[scenario]
    id=04_Betrayers_of_Humankind
    name= _ "Betrayers of Humankind"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/04_Borders_of_the_Empire.map}"
    next_scenario=05_The_Chase
    {TURNS 20 19 18}
    experience_modifier=80
    victory_when_enemies_defeated=yes
    {SCHEDULE_FIMBULWINTER}
    {SCENARIO_MUSIC "the_king_is_dead.ogg"}
    {EXTRA_SCENARIO_MUSIC the_dangerous_symphony.ogg}
    {EXTRA_SCENARIO_MUSIC siege_of_laurelmor.ogg}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Goblin Knight,Goblin Pillager,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Goblin Spearman,Goblin Impaler,Goblin Rouser
        village_gold=2
        gold=200
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=no
        fog=no
    [/side]

    [side]
        id=Delly
        name= _ "Deliria"
        unrenamable=yes
        type=Delly_start
        random_traits=yes
        side=2
        canrecruit=yes
        recruit=Knight,Lancer,Longbowman,Swordsman,Pikeman,Javelineer,Shock Trooper
        {GOLD 400 500 600}
        income=10
        village_gold=3
        unrenamable=yes
        team_name=evil
        user_team_name=_"Evil"
    [/side]
    {STARTING_VILLAGES 2 15}
    [side]
        type=Demon Infiltrator Swordsman
        id=enemy
        generate_name=yes
        canrecruit=yes
        side=3
        recruit=Horseman,Bowman,Spearman,Heavy Infantryman
        village_gold=2
        income=10
        {GOLD 300 400 500}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    [side]
        type=Demon Infiltrator Shock Trooper
        id=enemy2
        generate_name=yes
        canrecruit=yes
        side=4
        recruit=Horseman,Bowman,Spearman,Heavy Infantryman
        village_gold=2
        income=10
        {GOLD 300 400 500}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
        [ai]
            aggression=1.0
        [/ai]
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Kill a demon"
                condition=win
                [show_if]
                    [variable]
                        name=killed_a_demon
                        not_equals=yes
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Defeat Princess Deliria"
                condition=win
                [show_if]
                    [variable]
                        name=killed_a_demon
                        equals=yes
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Death of Krux, Vritra or Gumbrul"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Princess Deliria"
                condition=lose
                [show_if]
                    [variable]
                        name=killed_a_demon
                        not_equals=yes
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [kill]
            id=Efraim
            fire_event=no
            animate=no
        [/kill]
        [recall]
            id=Krux
            x,y=34,29
        [/recall]
        [recall]
            id=Vritra
        [/recall]
        [recall]
            id=Gumbrul
        [/recall]
    [/event]
    [event]
        name=start
        [message]
            speaker=Vritra
            message= _ "This is the Empire of Twilight, am I right, Gumbrul?"
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Yes, it is. We can expect an army of humans to attack us soon."
        [/message]
        [message]
            speaker=Krux
            message= _ "Humans are not exactly those we want to fight by now."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "I think that I am speaking for most of my tribe when I say that fighting humans is much more pleasant, because they cannot kill us in large numbers quickly."
        [/message]
        [message]
            speaker=Vritra
            message= _ "These are dark cultists, servants of demons and murderers of their own kin who refused to serve the demons. They deserve death anyway."
        [/message]
        [message]
            speaker=Krux
            message= _ "I have an idea. We might kill a demon right before their eyes and it might shatter their faith."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "That might be a good idea."
        [/message]
        [message]
            speaker=Krux
            message= _ "Behold, an army is approaching us from the north."
        [/message]
        [message]
            speaker=Delly
            message= _ "The news were correct. A warband of orcish invaders, followed by some lowly mercenaries of other races has crossed the borders. They will be a brilliant sacrifice to the Lords of Twilight."
        [/message]
        [message]
            speaker=enemy
            message= _ "Yes, yes."
        [/message]
        [message]
            speaker=Delly
            message= _ "I think that we might need to use a little ruse."
        [/message]
        [scroll_to_unit]
            id=Krux
        [/scroll_to_unit]
        [message]
            speaker=Delly
            scroll=no
            image=portraits/Delenia.png~RIGHT()
            message= _ "I am Deliria, Princess of the Empire of Twilight, one of the realms blessed by the gods. You have entered our empire, are you friends or enemies?"
        [/message]
        [message]
            speaker=Vritra
            message= _ "I do not remember seeing Krux bless this ugly land."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Hahahaha."
        [/message]
        [message]
            speaker=Delly
            scroll=no
            image=portraits/Delenia.png~RIGHT()
            message= _ "Krux? I have never heard of any Lord of Twilight using that name."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Do you see my brother here? He is a god."
        [/message]
        [message]
            speaker=Krux
            message= _ "Delly-something, are you trying to tell that the foul creatures that followed your army are gods? That is impossible..."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Yes, it is impossible, gods look completely different than these monstrosities."
        [/message]
        [message]
            speaker=Delly
            scroll=no
            image=portraits/Delenia.png~RIGHT()
            message= _ "Blasphemers! How can you dare to insult the Lords of Twilight?!"
        [/message]
        {MODIFY_UNIT id=Vritra name _"Vritra the Blasphemer"}
        [message]
            speaker=Vritra
            message= _ "Blasphemer. A nice title to have... Thank you, Delly."
        [/message]
        [message]
            speaker=Delly
            scroll=no
            image=portraits/Delenia.png~RIGHT()
            message= _ "How is it possible that you did not call me properly, where is <i>your royal majesty</i>?"
        [/message]
        [message]
            speaker=Vritra
            message= _ "I do not insist on being called in such a noble way. I am just Vritra, fine?"
        [/message]
        [message]
            speaker=Delly
            message= _ "Soldiers! Slay all of these blasphemers, show no mercy!"
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "I think that we should kill one of the demons before attacking the princess, as Krux said, it will tame their zeal."
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=enemy
            [or]
                id=enemy2
            [/or]
        [/filter]
        {VARIABLE killed_a_demon yes}
        [message]
            speaker=second_unit
            message= _ " Lady Deliria, just look at that! I can fell a god! I am not a mighty hero revered all across the world, only a person you have never heard of before. How can it be?"
        [/message]
        [message]
            speaker=Delly
            message= _ "You filthy piece of scum, killing gods is one of the worst crimes a mortal can do!"
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "They are not gods, they are just somewhat stronger than your men are. A strong, experienced orc with very good gear might take down one of them on his own."
        [/message]
        [message]
            speaker=Delly
            message= _ "The girl's unclean sorcery allowed this foul deed. Deicide!"
        [/message]
        {MODIFY_UNIT id=Vritra name _"Vritra the Deicidal Blasphemer"}
        [message]
            speaker=Vritra
            message= _ "Another beautiful title into my collection..."
        [/message]
        [show_objectives]
        [/show_objectives]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Delly
        [/filter]
        [if]
            [variable]
                name=killed_a_demon
                equals=yes
            [/variable]
            [then]
                [message]
                    speaker=Delly
                    message= _ "No, this cannot be. A curse on your witchery, filthy warlocks..."
                [/message]
                {MOVE_UNIT id=Delly 44 1}
                [kill]
                    id=Delly
                    animate=no
                    fire_event=no
                [/kill]
                [message]
                    speaker=Krux
                    message= _ "Quick, we must chase her!"
                [/message]
                [endlevel]
                    result=victory
                    bonus=yes
                    {NEW_GOLD_CARRYOVER 40}
                [/endlevel]
            [/then]
            [else]
                [message]
                    speaker=Krux
                    message= _ "This dooms our plans about cleansing this corrupted realm..."
                [/message]
                [endlevel]
                    result=defeat
                [/endlevel]
            [/else]
        [/if]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Vritra
            message= _ "Reinforcements. Many demons among them."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "Heck, Krux, my divinely gifted disciple! You... you have killed a god! How do you dare, it is the ultimate sin, innit?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Krux
            message= _ "A change of plans. Attack their empire, slay them all, all men, women and children without difference!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Gumbrul
        [/filter]
        [message]
            speaker=Krux
            message= _ "Oh, no, what shall we do without the support of orcs?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 9 14 (axe,mace,spear,bow,sword,sword,xbow,xbow,dagger) yes 2,3,4}
    {GLOBAL_EVENTS}
[/scenario]
