#textdomain wesnoth-loti
[scenario]
    id=05_The_Chase
    name= _ "The Chase"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/05_Frostbitten_Valleys.map}"
    next_scenario=06_Truth
    {TURNS 45 42 39}
    experience_modifier=80
    victory_when_enemies_defeated=no
    {SCHEDULE_FIMBULWINTER}
    [time_area]
        x=0-18
        y=0-21
        {UNDERGROUND}
    [/time_area]
    [time_area]
        x=44-57
        y=36-48
        {UNDERGROUND}
    [/time_area]
    {SCENARIO_MUSIC "northern_mountains.ogg"}
    {EXTRA_SCENARIO_MUSIC love_theme.ogg}
    {EXTRA_SCENARIO_MUSIC battle.ogg}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Goblin Knight,Goblin Pillager,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Goblin Spearman,Goblin Impaler,Goblin Rouser
        village_gold=2
        gold=200
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=no
    [/side]

    [side]
        id=Delly
        name= _ "Deliria"
        unrenamable=yes
        type=Delly_start
        random_traits=yes
        side=2
        canrecruit=yes
        recruit=Knight,Lancer,Longbowman,Swordsman,Pikeman,Javelineer,Shock Trooper
        {GOLD 400 500 600}
        income=10
        village_gold=3
        unrenamable=yes
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    {STARTING_VILLAGES 2 15}
    [side]
        no_leader=yes
        side=3
        team_name=chaotic evil
        user_team_name=_"Chaotic Evil"
        [ai]
            aggression=1.0
            {MODIFY_AI_ADD_ASPECT 3 attacks (
                [facet]
                    name=testing_ai_default::aspect_attacks
                    id=dont_attack_side_1
                    invalidate_on_gamestate_change=yes
                    [filter_enemy]
                        [not]
                            side=1
                        [/not]
                    [/filter_enemy]
                [/facet]
            )}
        [/ai]
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat Princess Deliria"
                condition=win
                [show_if]
                    [variable]
                        name=princess_in_trouble
                        not_equals=yes
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Defeat the enemies"
                condition=win
                [show_if]
                    [variable]
                        name=princess_in_trouble
                        equals=yes
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Death of Krux, Vritra or Gumbrul"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Princess Deliria"
                condition=lose
                [show_if]
                    [variable]
                        name=princess_in_trouble
                        equals=yes
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [kill]
            id=Efraim
            fire_event=no
            animate=no
        [/kill]
        [recall]
            id=Krux
            x,y=6,45
        [/recall]
        [recall]
            id=Vritra
        [/recall]
        [recall]
            id=Gumbrul
        [/recall]
    [/event]
    [event]
        name=start
        {RANDOM_ITEM 3 2}
        {RANDOM_ITEM 55 47}
        [message]
            speaker=Vritra
            message= _ "She must have taken one of the fortifications in these mountains to recruit more soldiers against us!"
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Obviously. She will rally more and more soldiers against us, until she flees too far and gets into trouble."
        [/message]
        [message]
            speaker=Krux
            message= _ "And we will have to kill humans again."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "I never had a problem with that."
        [/message]
        [message]
            speaker=Vritra
            message= _ "They are not humans, they are evil cultists, keep that in mind when fighting them."
        [/message]
        [message]
            speaker=Krux
            message= _ "There must be another way!"
        [/message]
        [message]
            speaker=Vritra
            message= _ "All the good people in this realm were murdered by them. And we are trying to redeem them, so if we kill them, it is just a necessary sacrifice in order to save them from their own corruption."
        [/message]
        [message]
            speaker=Krux
            message= _ "How now? Vritra the Redemptrix of Lost Souls?! ... Not easy to see it that way, but I will try."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Enough talking, we must hurry."
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Delly
        [/filter]
        {MODIFY_UNIT id=Delly hitpoints 50}
        [message]
            speaker=Delly
            message= _ "Argh. No. You will not defeat me."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "You are aware that we allowed you to slip away last time, right?"
        [/message]
        {MOVE_UNIT id=Delly 39 27}
        [message]
            speaker=Vritra
            message= _ "She is not, obviously."
        [/message]
        [gold]
            side=2
            {QUANTITY amount 400 500 600}
        [/gold]
        {GENERIC_UNIT 2 "Demon Infiltrator Heavy Infantryman" 43 25}
        {GENERIC_UNIT 2 "Demon Infiltrator Spearman" 37 22}
        [event]
            name=last breath
            [filter]
                id=Delly
            [/filter]
            {MODIFY_UNIT id=Delly hitpoints 40}
            [message]
                speaker=Delly
                message= _ "What kind of evil sorcery is this? Dispatching the Lords of Twilight like mere human champions?"
            [/message]
            [message]
                speaker=Gumbrul
                message= _ "Your weenies can be defeated without any magic. All the more, as we are amazingly competent warriors. Like it or not, Gumbrul the godly eviscerator is supremer than your gods!"
            [/message]
            [message]
                speaker=Delly
                message= _ "No, no, no... they told me that the girl with shining red eyes is a monster, using her unimaginably perverted magic to weaken them!"
            [/message]
            [message]
                speaker=Vritra
                message= _ "I am a monster... sort of... but I am not using any magic to weaken your petty idols particularly. Just observe my actions next time."
            [/message]
            {MOVE_UNIT id=Delly 47 15}
            [gold]
                side=2
                {QUANTITY amount 400 500 600}
            [/gold]
            {GENERIC_UNIT 2 "Demon Infiltrator Cavalryman" 45 10}
            {GENERIC_UNIT 2 "Demon Infiltrator Fencer" 51 13}
            [event]
                name=last breath
                [filter]
                    id=Delly
                [/filter]
                {MODIFY_UNIT id=Delly hitpoints 30}
                [message]
                    speaker=Delly
                    message= _ "You were casting your grim incantations just by concentrating your mind, strong warlocks do that!"
                [/message]
                [message]
                    speaker=Gumbrul
                    message= _ "But you must agree that your gods are falling one by one, with ease. They are not gods if a mere warlock can slay them in numbers."
                [/message]
                [message]
                    speaker=Delly
                    message= _ "She is a <i>demon</i>, an arch enemy of gods!"
                [/message]
                [message]
                    speaker=Vritra
                    message= _ "Those you call Lords of Twilight are demons themselves. Notice it. Would gods, a manifestation of good, force you to slay your own kin?"
                [/message]
                [message]
                    speaker=Delly
                    message= _ "Of course! Gods always have demanded crusades against the infidels and the death of blasphemers!"
                [/message]
                {MOVE_UNIT id=Delly 51 2}
                [gold]
                    side=2
                    amount=100
                [/gold]
                [message]
                    speaker=Krux
                    message= _ "Vritra, do you remember our parents talking about a friend of theirs named Delly?"
                [/message]
                [message]
                    speaker=Vritra
                    message= _ "I think so. But I was not sure neither."
                [/message]
                [message]
                    speaker=Krux
                    message= _ "They told us that every dead will be reborn. Maybe it is her."
                [/message]
                [message]
                    speaker=Vritra
                    message= _ "They would not be friends with somebody so pathetic. It must be a coincidence."
                [/message]
                [message]
                    speaker=Krux
                    message= _ "But she is an important person, and important people are usually reborn as important people..."
                [/message]
                {GENERIC_UNIT 3 Monstrosity 42 5}
                {GENERIC_UNIT 3 Monstrosity 42 4}
                {GENERIC_UNIT 3 Monstrosity 41 4}
                {GENERIC_UNIT 3 Monstrosity 43 5}
                {GENERIC_UNIT 3 Monstrosity 40 5}
                {GENERIC_UNIT 3 Monstrosity 41 6}
                {GENERIC_UNIT 3 Monstrosity 42 5}
                {GENERIC_UNIT 3 Monstrosity 42 4}
                {GENERIC_UNIT 3 Monstrosity 41 4}
                {GENERIC_UNIT 3 Monstrosity 43 5}
                {GENERIC_UNIT 3 Monstrosity 40 5}
                {GENERIC_UNIT 3 Monstrosity 41 6}
#ifndef EASY
                {GENERIC_UNIT 3 Monstrosity 39 3}
                {GENERIC_UNIT 3 Monstrosity 39 3}
#endif
#ifdef HARD
                {GENERIC_UNIT 3 Monstrosity 42 6}
                {GENERIC_UNIT 3 Monstrosity 42 6}
#endif
                [message]
                    speaker=Delly
                    message= _ "Heeeelp!"
                [/message]
                [modify_side]
                    side=2
                    team_name=good
                    user_team_name=_"Good"
                [/modify_side]
                [remove_shroud]
                    side=1
                    x,y=39-58,1-15
                [/remove_shroud]
                [message]
                    speaker=Krux
                    message= _ "We should help her. It might force her to follow us. She is on the edge of her realm, with little soldiers and a lot of enemies around."
                [/message]
                [message]
                    speaker=Vritra
                    message= _ "All the time, I was wondering about your reasons why this pathetic princess should be the one whose purification would help you cleanse the whole realm. And I have come to some conclusions..."
                [/message]
                [message]
                    speaker=Krux
                    message= _ "I want to cause as few people to die as possible, and because she was the first powerful person we met, she is a good candidate. I hope you came to this conclusion correctly."
                [/message]
                {VARIABLE princess_in_trouble yes}
                [show_objectives]
                [/show_objectives]
                [event]
                    name=last breath
                    [filter]
                        id=Delly
                    [/filter]
                    [message]
                        speaker=Krux
                        message= _ "This dooms our plans to purify this corrupted realm..."
                    [/message]
                    [endlevel]
                        result=defeat
                    [/endlevel]
                [/event]
                [event]
                    name=turn refresh
                    first_time_only=no
                    [if]
                        [have_unit]
                            side=3
                        [/have_unit]
                        [else]
                            [endlevel]
                                result=victory
                                bonus=yes
                                {NEW_GOLD_CARRYOVER 40}
                            [/endlevel]
                        [/else]
                    [/if]
                [/event]
            [/event]
        [/event]
    [/event]
    [event]
        name=die
        [filter]
            side=3
        [/filter]
        first_time_only=no
        [if]
            [have_unit]
                side=3
            [/have_unit]
            [else]
                [endlevel]
                    result=victory
                    bonus=yes
                    {NEW_GOLD_CARRYOVER 40}
                [/endlevel]
            [/else]
        [/if]
    [/event]
    [event]
        name=victory
        [message]
            speaker=Delly
            message= _ "You have saved me. You are trying to tempt me to join the demons' side."
        [/message]
        [message]
            speaker=Krux
            message= _ "What makes you believe so strongly that she is a demon and the Lords of Twilight are gods? Their arrival totally changed this world to a much worse place. They have not saved you from us nor from these monsters. We have helped you, and we have let you go several times."
        [/message]
        [message]
            speaker=Delly
            message= _ "You are trying to corrupt me. Orcs do not follow gods. I think it is enough self-explanatory."
        [/message]
        [message]
            speaker=Krux
            message= _ "From the other hand, your troops have no chance to win against us. You will come with us, no matter what you choose."
        [/message]
        [message]
            speaker=Delly
            message= _ "Where are we going? Where are you trying to get me?"
        [/message]
        [message]
            speaker=Krux
            message= _ "Outside your realm. To show you the truth."
        [/message]
        {MODIFY_UNIT (side=2
        race=human) side 1}
    [/event]
    [event]
        name=time over
        [message]
            speaker=Vritra
            message= _ "Reinforcements are coming. The army is swarming with demons. The king clearly decided to find his daughter."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "How do you dare to kill my favourite protégé?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Krux
            message= _ "Deliria, I swear I will kill you once I find you!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Gumbrul
        [/filter]
        [message]
            speaker=Krux
            message= _ "I wonder if the orcs will keep following us."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 9 14 (axe,mace,spear,bow,sword,sword,xbow,xbow,dagger) yes 2,3}
    {GLOBAL_EVENTS}
[/scenario]
