#textdomain wesnoth-loti
[scenario]
    id=06_Truth
    name= _ "Truth"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/06_Conquered_World.map}"
    next_scenario=07_Borders
    {TURNS 15 14 13}
    experience_modifier=80
    victory_when_enemies_defeated=no
    {SCHEDULE_HELL}
    {SCENARIO_MUSIC "frantic.ogg"}
    {EXTRA_SCENARIO_MUSIC heroes_rite.ogg}
    {EXTRA_SCENARIO_MUSIC the_city_falls.ogg}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Goblin Knight,Goblin Pillager,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Goblin Spearman,Goblin Impaler,Goblin Rouser
        village_gold=3
        gold=200
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=no
        fog=no
    [/side]

    [side]
        generate_name=yes
        id=enemy
        unrenamable=yes
        type=Demon Despot
        random_gender=yes
        random_traits=yes
        side=2
        canrecruit=yes
        recruit=Demon Infiltrator Footpad,Demon Infiltrator Thug,Demon Infiltrator Poacher,Imp
        {GOLD 900 1100 1300}
        income=10
        village_gold=3
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    {STARTING_VILLAGES 2 12}

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the enemy leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Krux, Vritra, Deliria or Gumbrul"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [kill]
            id=Efraim
            fire_event=no
            animate=no
        [/kill]
        [recall]
            id=Krux
            x,y=4,17
        [/recall]
        [recall]
            id=Vritra
            x,y=4,17
        [/recall]
        [recall]
            id=Gumbrul
            x,y=4,17
        [/recall]
        [recall]
            id=Delly
            x,y=4,17
        [/recall]
    [/event]
    [event]
        name=start
        [message]
            speaker=Vritra
            message= _ "Krux, I am still wondering why she is not chained. How can you be so sure that she will not escape?"
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "I agree with her. She should be chained."
        [/message]
        [message]
            speaker=Krux
            message= _ "She is not stupid. She was manipulated, but she has a mind that works. She knows that if she escaped now, she would have no chance to survive in this deserted world alone. And I let her know that that the rest of her soldiers are dominated by your sorcerous tricks."
        [/message]
        [message]
            speaker=Vritra
            message= _ "I wonder why you did not allow me to do the same to her. She would stop complaining. We would be sure that she stays with us."
        [/message]
        [message]
            speaker=Krux
            message= _ "She would not act naturally. If we met somebody who used to know her, it would be visible that it is not her. And she does not deserve it, we need to turn her to our side. At the moment, her fear of you is strong enough to keep her calm."
        [/message]
        [message]
            speaker=Delly
            message= _ "I will not escape, have no fear, witch."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "I do not trust her anyway. We should tie her."
        [/message]
        [message]
            speaker=Krux
            message= _ "We shall not tie her. Warlord's rule and that is final!"
        [/message]
        [message]
            speaker=Delly
            message= _ "To what end did you bring me here anyway? This land is really deserted. Are you going to pitch up a fortress? I cannot believe you are as mind-bendingly stupid as those who built that castle up there in front."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "We have no fortress. We are orcs, all we need are some temporary camps. Krux has a special reason to go here."
        [/message]
        [message]
            speaker=Krux
            message= _ "We are <i>mostly</i> orcs. And we are here to show you the truth about those you worship, the Lords of Twilight."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Jeepers creepers! That is a.... Are you up to attacking a demon fortress because of <i>her</i>? Oh gods, let it rain brains! Are you out of your mind, Krux?"
        [/message]
        [message]
            speaker=Krux
            message= _ "I have chosen this one, because it is relatively empty. A relatively easy target."
        [/message]
#ifndef HARD
        [terrain]
            x,y=17,5
            terrain=Zvw
        [/terrain]
#endif
#ifdef EASY
        [terrain]
            x,y=21,7
            terrain=Zvw^Dr
        [/terrain]
#endif
    [/event]
    [event]
        name=turn 2
        [disallow_recruit]
            side=2
            type=Demon
        [/disallow_recruit]
        [message]
            speaker=Delly
            message= _ "This is horrible. We should not be attacking them. It is a terrible crime against the whole world."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Hardly. Gods do not ask for blood sacrifices. Gods are much stronger than these. Gods do not have horns and generally demonic appearance."
        [/message]
        [message]
            speaker=Delly
            message= _ "It sounds somewhat reasonable, but I still disagree..."
        [/message]
    [/event]
    [event]
        name=attack
        [filter]
            id=Delly
        [/filter]
        [filter_second]
            race=demon-loti
        [/filter_second]
        [message]
            speaker=Delly
            message= _ "Please tell me, what are you. You are surely related to the Lords of Twilight, but you look... unusual. And my captors claim that you are a demon."
        [/message]
        [message]
            speaker=second_unit
            message= _ "Who are Lords of Twilight? And yes, I am a demon, young lady, and that means that you are going to die!"
        [/message]
        [event]
            name=new turn
            [fire_event]
                name=delly asks
            [/fire_event]
        [/event]
    [/event]
    [event]
        name=attack
        [filter]
            race=demon-loti
        [/filter]
        [filter_second]
            id=Delly
        [/filter_second]
        [message]
            speaker=Delly
            message= _ "No, my faith is strong, our common enemies are all around..."
        [/message]
        [message]
            speaker=unit
            message= _ "I do not care."
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=enemy
        [/filter]
        [message]
            speaker=Delly
            message= _ "Nooooo... let me ask something."
        [/message]
        [fire_event]
            name=delly asks
        [/fire_event]
    [/event]
    [event]
        name=delly asks
        {MOVE_UNIT id=Delly 18 6}
        [message]
            speaker=Delly
            message= _ "Who are you, please? You seem to be a High Lord of Twilight, but you are allied with these horned things and they keep telling that you are a demon..."
        [/message]
        [message]
            speaker=enemy
            message= _ "Who is a High Lord of Twilight?"
        [/message]
        [message]
            speaker=Delly
            message= _ "They are gods. They rule our kingdom to the west, and they are strong and powerful like gods."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Her wrong faith is strong... and blind."
        [/message]
        [message]
            speaker=enemy
            message= _ "There are no gods that can challenge us! Nothing can compare to us! We rule everything, including your pathetic little kingdom!"
        [/message]
        [message]
            speaker=Delly
            message= _ "So you are the Lords of Twilight."
        [/message]
        [message]
            speaker=enemy
            message= _ "We are demons, silly girl! We use different names to fool stupid mortals like you."
        [/message]
        [message]
            speaker=Delly
            message= _ "Why are you telling me this?"
        [/message]
        [message]
            speaker=enemy
            message= _ "We have no need of you anymore. Your faith is no longer blind enough. Because of these clever scoundrels. Now, you will die by torture!"
        [/message]
        {MODIFY_UNIT id=Delly status.petrified yes}
        [message]
            speaker=Delly
            message= _ "..."
        [/message]
        [message]
            speaker=enemy
            message= _ "Hahahaha!"
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id=enemy
        [/filter]
        [message]
            speaker=Krux
            message= _ "Deliria, you have seen their true nature. I suppose that you will be on our side even without being forced to. What do you say?"
        [/message]
        [message]
            speaker=Delly
            message= _ "..."
        [/message]
        [message]
            speaker=Krux
            message= _ "Ah, yes, you have been petrified. Let me release you."
        [/message]
        {MODIFY_UNIT id=Delly status.petrified no}
        [message]
            speaker=Delly
            message= _ "I will stay on your side. You have been right all the time. We were worshiping demons. Thank you for only imprisoning me."
        [/message]
        [message]
            speaker=Krux
            message= _ "I need you."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "What shall we do now?"
        [/message]
        [message]
            speaker=Krux
            message= _ "We will return to the Empire of Twilight and end the rule of demons."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Vritra
            message= _ "Lots of demons approaching from north. We are doomed."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Vritra
            message= _ "Brother, wake up!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Vritra
            message= _ "Nooooooooooooooo!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Gumbrul
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "Krux will be the heir of my post. Argh."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Delly
        [/filter]
        [message]
            speaker=Delly
            message= _ "Perfect, you fool me first and then you just let me die."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 3 2 15 12 10-20,7-17}
    {DROPS 9 14 (axe,mace,spear,bow,sword,sword,xbow,xbow,dagger) yes 2}
    {GLOBAL_EVENTS}
[/scenario]
