#textdomain wesnoth-loti
[scenario]
    id=08_Empire_of_Twilight
    name= _ "Empire of Twilight"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/08_Empire_of_Twilight.map}"
    next_scenario=09_Corrupted_Town
    {TURNS 80 75 70}
    experience_modifier=80
    victory_when_enemies_defeated=no
    {SCHEDULE_FIMBULWINTER}
    [time_area]
        x=26-37
        y=0-12
        {UNDERGROUND}
    [/time_area]
    [time_area]
        x=38-63
        y=0-5
        {UNDERGROUND}
    [/time_area]
    [time_area]
        x=31-49
        y=27-34
        {UNDERGROUND}
    [/time_area]
    {SCENARIO_MUSIC "northerners.ogg"}
    {EXTRA_SCENARIO_MUSIC loyalists.ogg}
    {EXTRA_SCENARIO_MUSIC breaking_the_chains.ogg}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Goblin Knight,Goblin Pillager,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Goblin Spearman,Goblin Impaler,Goblin Rouser
        village_gold=2
        gold=200
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=no
    [/side]

    [side]
        generate_name=yes
        id=first_enemy
        unrenamable=yes
        type=General
        random_gender=yes
        random_traits=yes
        side=2
        canrecruit=yes
        recruit=Knight,Lancer,Longbowman,Swordsman,Pikeman,Javelineer,Shock Trooper,Duelist
        {GOLD 400 500 600}
        income=10
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_WEAK_REFLECT}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=General
        random_gender=yes
        random_traits=yes
        side=3
        canrecruit=yes
        recruit=Knight,Lancer,Longbowman,Swordsman,Pikeman,Javelineer,Duelist
        {GOLD 400 500 600}
        {INCOME 30 40 50}
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
#ifdef HARD
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_INCREASE_RESISTANCE_AURA "Evil Protection" 70}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Demon Infiltrator General
        random_gender=yes
        random_traits=yes
        side=4
        canrecruit=yes
        recruit=Demon Infiltrator Swordsman,Demon Infiltrator Shock Trooper
        {GOLD 400 500 600}
        {INCOME 30 40 50}
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Champion Bowman
        random_gender=yes
        random_traits=yes
        side=5
        canrecruit=yes
        recruit=Horseman,Bowman,Spearman,Heavy Infantryman,Fencer
        gold=0
        income=-2
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_LEADERSHIP_LEVEL_4}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Iron Mauler
        random_gender=yes
        random_traits=yes
        side=6
        canrecruit=yes
        recruit=Knight,Lancer,Longbowman,Swordsman,Pikeman,Javelineer,Duelist
        gold=0
        income=-2
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
#ifdef HARD
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_CHARGING_BACKSTAB}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Iron Mauler
        random_gender=yes
        random_traits=yes
        side=7
        canrecruit=yes
        recruit=Knight,Lancer,Longbowman,Swordsman,Pikeman,Javelineer,Duelist,Shock Trooper
        gold=0
        income=-2
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_CONVICTION 50}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    {STARTING_VILLAGES 2 7}
    {STARTING_VILLAGES 3 5}
    {STARTING_VILLAGES 4 4}
    [event]
        name=prestart
        [time_area]
            terrain=Gs,Gs^Vh,Gs^Efm,Gs^Es,Ch,Kh,Wwg,Rb^Gvs,Wwg^Bsb\
            {TWO_SUNS_DEFAULT_SCHEDULE}
        [/time_area]
        [objectives]
            side=1
            [objective]
                description= _ "Reach the western border of the map"
                condition=win
            [/objective]
            [objective]
                description= _ "Find the entrance to the cave where trolls dwell (bonus)"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Krux, Vritra, Deliria or Gumbrul"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [kill]
            id=Efraim
            fire_event=no
            animate=no
        [/kill]
        [recall]
            id=Krux
            x,y=79,3
        [/recall]
        [recall]
            id=Vritra
            x,y=79,3
        [/recall]
        [recall]
            id=Gumbrul
            x,y=79,3
        [/recall]
        [recall]
            id=Delly
            x,y=79,3
        [/recall]
    [/event]
    [event]
        name=start
        {RANDOM_ITEM 37 24}
        [message]
            speaker=Gumbrul
            message= _ "We are approaching their capital. But there are still a few enemy fortresses and one possibly difficult mountain pass standing in our way. And we can expect that everybody will attack us on sight, the word about us must have spread."
        [/message]
        [message]
            speaker=Vritra
            message= _ "You said you knew about troll settlements in these parts where you use to hire muscle..."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Yes, I did. They should be somewhere here. I am not exactly sure, but it should be a cave in the mountains, near the mountain pass."
        [/message]
        [message]
            speaker=Delly
            message= _ "You are going to send trolls into our city?"
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Delly, you have seen that we are not what you believed we are. Trolls are not what you believe they are, they are not bloodthirsty brutes stalking in caves, they have quite peaceful a culture, just sometimes they are manipulated by us orcs to go into war. They will help us."
        [/message]
        {MODIFY_UNIT id=Delly name Delly}
        [message]
            speaker=Delly
            message= _ "Trolls are known for attacking miners on their own. And dwarves keep telling what monsters they are."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Miners frequently enter their dens, damaging them without asking, maybe unaware that they entered places belonging to trolls, but in all cases trolls do not want them there. And dwarves hate trolls because they are fighting an endless subterranean war against them. And in this case, dwarves are the evil ones, because their greed makes them conquer trolls' dens, and trolls are just fighting back."
        [/message]
        [message]
            speaker=Delly
            message= _ "Well, that sounds reasonable. Dwarves are really greedy. Very well, where are they."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "I have been there when I was a child, and all the country looked different without the snow. I only remember that it was somewhere near the mountain pass. Let us go, or we will freeze to death."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=26-37,1-12
            [or]
                side=1
                x,y=38-63,1-5
            [/or]
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "I think that this is not the correct cave."
        [/message]
        [message]
            speaker=Delly
            message= _ "Darn."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=50-79,16-34
        [/filter]
        [modify_side]
            side=5
            {GOLD 600 700 800}
            {INCOME 15 20 25}
        [/modify_side]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=1-25,1-22
        [/filter]
        [modify_side]
            side=6
            {GOLD 600 700 800}
            {INCOME 15 20 25}
        [/modify_side]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=1-25,15-34
        [/filter]
        [modify_side]
            side=7
            {GOLD 600 700 800}
            {INCOME 15 20 25}
        [/modify_side]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x=1-2
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "This is the way into the capital, but we might need to find the trolls before going there."
            [option]
                message=_ "Let the trolls be, we need to hurry into the capital."
                [command]
                    [message]
                        speaker=Vritra
                        message= _ "The end of these villains is coming..."
                    [/message]
                    [endlevel]
                        result=victory
                        bonus=yes
                        {NEW_GOLD_CARRYOVER 40}
                    [/endlevel]
                [/command]
            [/option]
            [option]
                message= _ "We need to find the trolls first!"
            [/option]
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=44-49,31-33
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "Yes, this is the cave where the trolls dwelled. I hope they are not in trouble."
        [/message]
        [message]
            speaker=Vritra
            message= _ "I hope they will not be superstitious and attack us when they notice me."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Trolls are hardly able to distinguish you from a human. It is the same with me and goblins... "
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
            next_scenario=08b_Trolls
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Gumbrul
            message= _ "The whole army assembled against us and they are coming, we are doomed."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Vritra
            message= _ "Just do not die, pleeaase!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Vritra
            message= _ "Save me, Krux! Use your resurrecting powers!"
        [/message]
        [message]
            speaker=Krux
            message= _ "It is too late to save you without using necromancy that would degrade you!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Gumbrul
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "How could this puny thing defeat me?!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Delly
        [/filter]
        [message]
            speaker=Delly
            message= _ "You have defeated the queen-to-be! That is an offense against a sovererghhh−"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 8 2 48 16 43-53,11-21}
    {DROPS 7 10 (axe,mace,spear,bow,sword,sword,xbow,xbow,dagger) yes 2,3,4,5,6,7}
    {GLOBAL_EVENTS}
[/scenario]
