#textdomain wesnoth-loti
[scenario]
    id=08b_Trolls
    name= _ "Trolls"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/08b_Trolls_Cave.map}"
    next_scenario=09_Corrupted_Town
    {TURNS 20 19 18}
    experience_modifier=80
    victory_when_enemies_defeated=no
    {UNDERGROUND}
    {SCENARIO_MUSIC "the_deep_path.ogg"}
    {EXTRA_SCENARIO_MUSIC heroes_rite.ogg}
    {EXTRA_SCENARIO_MUSIC into_the_shadows.ogg}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Goblin Knight,Goblin Pillager,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Goblin Spearman,Goblin Impaler,Goblin Rouser
        village_gold=3
        gold=200
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=no
    [/side]

    [side]
        generate_name=yes
        id=ally
        unrenamable=yes
        type=Siege Troll
        random_gender=yes
        random_traits=yes
        side=2
        canrecruit=yes
        recruit=Troll Warrior,Troll Boulderlobber,Troll,Troll Rocklobber,Troll Whelp
        {GOLD 400 500 600}
        income=10
        village_gold=3
        unrenamable=yes
        team_name=good
        user_team_name=_"Good"
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Dwarvish Lord
        id=enemy
        random_gender=yes
        random_traits=yes
        side=3
        canrecruit=yes
        recruit=Dwarvish Steelclad,Dwarvish Thunderguard,Dwarvish Berserker,Dwarvish Stalwart
        {GOLD 700 800 900}
        {INCOME 30 40 50}
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_UNYIELDING}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Dwarvish Technocrat
        id=enemy2
        random_gender=yes
        random_traits=yes
        side=4
        canrecruit=yes
        recruit=Dwarvish Lord,Dwarvish Dragonguard,Dwarvish Battlerager,Dwarvish Sentinel
        {GOLD 600 700 800}
        {INCOME 30 40 50}
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
#ifdef HARD
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_REFLECT}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    {STARTING_VILLAGES 1 6}
    {STARTING_VILLAGES 2 8}
    {STARTING_VILLAGES 3 8}
    {STARTING_VILLAGES 4 8}
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Kill all dwarves"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Krux, Vritra, Deliria or Gumbrul"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of all trolls"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [kill]
            id=Efraim
            fire_event=no
            animate=no
        [/kill]
        [recall]
            id=Krux
            x,y=39,5
        [/recall]
        [recall]
            id=Vritra
            x,y=39,5
        [/recall]
        [recall]
            id=Gumbrul
            x,y=39,5
        [/recall]
        [recall]
            id=Delly
            x,y=39,5
        [/recall]
    [/event]
    [event]
        name=start
        {RANDOM_ITEM 8 33}
        [message]
            speaker=Gumbrul
            message= _ "They should be somewhere around here."
        [/message]
        [unit]
            type=Troll
            x,y=37,16
            side=1
            id=troll_messenger
            {IS_LOYAL}
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        {MOVE_UNIT id=troll_messenger 39 7}
        [message]
            speaker=troll_messenger
            message= _ "Orcs. Trolls afraid another party of greedy dwarves come."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Do I look like an orc?"
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Silence. Do not start arguing right at the start."
        [/message]
        [message]
            speaker=troll_messenger
            message= _ "Elf small like an orc to me. Me sorry. Elves not allies of dwarves anyway."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "We are coming in peace. We are allies of trolls, after all."
        [/message]
        [message]
            speaker=troll_messenger
            message= _ "Trolls need help. Greedy dwarves attack, telling about humans paying for this attack."
        [/message]
        [message]
            speaker=Delly
            message= _ "Dwarvish mercenaries are attacking you?"
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Dwarves usually attack the trolls because they live in potential mines, not because they are paid to. But dwarves would attack any trolls if they had some profit from it. Maybe even humans, but humans can rarely match them at mining."
        [/message]
        [message]
            speaker=Krux
            message= _ "Maybe the disguised demons hoped that with a part of the endless wealth the demonkind has acquired will help them eradicate dwarves and trolls in one go."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "That is possible."
        [/message]
        [message]
            speaker=troll_messenger
            message= _ "Troll cave is under constant attack of dwarves, trolls can hold no more. Trolls will join you if you save them from here, dwarves are surrounding trolls."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "I agree. We will save you, you will join us in our campaign, because there is no other safe place."
        [/message]
        [message]
            speaker=troll_messenger
            message= _ "Agree."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "What will happen if your leader dies?"
        [/message]
        [message]
            speaker=troll_messenger
            message= _ "Organisation problems, but trolls can get over it."
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=enemy
        [/filter]
        [filter_second]
            side=1
        [/filter_second]
        [message]
            speaker=enemy
            message= _ "Filthy elves and orcs, coming to help the stinking trolls, we deserve the gold..."
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id=enemy2
        [/filter]
        [filter_second]
            side=1
        [/filter_second]
        [message]
            speaker=second_unit
            message= _ "Surprise! You greedy moles had not planned on that, had you?"
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            side=3,4
        [/filter]
        first_time_only=no
        [if]
            [have_unit]
                side=3,4
            [/have_unit]
            [else]
                [fire_event]
                    name=good victory
                [/fire_event]
            [/else]
        [/if]
    [/event]
    [event]
        name=new turn
        first_time_only=no
        [if]
            [have_unit]
                side=3,4
            [/have_unit]
            [else]
                [fire_event]
                    name=good victory
                [/fire_event]
            [/else]
        [/if]
    [/event]
    [event]
        name=die
        [filter]
            side=2
        [/filter]
        first_time_only=no
        [if]
            [have_unit]
                side=2
            [/have_unit]
            [else]
                [fire_event]
                    name=bad victory
                [/fire_event]
            [/else]
        [/if]
    [/event]
    [event]
        name=new turn
        first_time_only=no
        [if]
            [have_unit]
                side=2
            [/have_unit]
            [else]
                [fire_event]
                    name=bad victory
                [/fire_event]
            [/else]
        [/if]
    [/event]
    [event]
        name=good victory
        [message]
            race=troll
            message= _ "That was the last of them. You have saved us. Now trolls follow orcs."
        [/message]
        [allow_recruit]
            side=1
            type=Troll Whelp,Troll,Troll Rocklobber
        [/allow_recruit]
        [message]
            speaker=Vritra
            message= _ "A nice success. Regenerating warriors will help us nicely in the endless fight across the streets that awaits us."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 80}
        [/endlevel]
    [/event]
    [event]
        name=bad victory
        [message]
            speaker=Gumbrul
            message= _ "All trolls have been killed. There is no need to fight here anymore, let us go."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Regenerating warriors might have helped us nicely in the endless fight across the streets that awaits us. It is a pity they all died."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 80}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Vritra
            message= _ "Countless dwarves are marching to battle, it seems that the demons had enough gold to pay so many mercenaries."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Vritra
            message= _ "We should not have come here."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Vritra
            message= _ "Delly was right, there was no reason to come here."
        [/message]
        [message]
            speaker=Krux
            message= _ "Nobody could have expected this."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Gumbrul
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "We should have ignored the trolls and attacked the city without them."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Delly
        [/filter]
        [message]
            speaker=Delly
            message= _ "I was right, why did we even talk about looking for trolls..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 7 10 (axe,mace,spear,bow,sword,sword,xbow,xbow,dagger) yes 3,4}
    {GLOBAL_EVENTS}
[/scenario]
