#textdomain wesnoth-loti
[scenario]
    id=09_Corrupted_Town
    name= _ "Corrupted Town"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/09_Corrupted_City.map}"
    next_scenario=10_Idols_Falling
    {TURNS 55 52 50}
    experience_modifier=80
    victory_when_enemies_defeated=no
    {TWO_SUNS_DEFAULT_SCHEDULE}
    {SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC battle-epic.ogg}
    {EXTRA_SCENARIO_MUSIC vengeful.ogg}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Goblin Knight,Goblin Pillager,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Goblin Spearman,Goblin Impaler,Goblin Rouser
        village_gold=2
        gold=200
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=no
        fog=no
    [/side]

    [side]
        generate_name=yes
        id=demon_boss
        unrenamable=yes
        type=Demon Infiltrator Mage of Light
        random_gender=yes
        random_traits=yes
        side=2
        canrecruit=yes
        recruit=Demon Infiltrator White Mage,Demon Infiltrator Shock Trooper,Demon Infiltrator Swordsman
        {GOLD 300 400 500}
        {INCOME 80 100 120}
        village_gold=5
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=General
        id=enemy
        random_gender=yes
        random_traits=yes
        side=3
        canrecruit=yes
        recruit=Horseman,Bowman,Spearman,Heavy Infantryman,Fencer
        {GOLD 300 400 500}
        {INCOME 30 40 50}
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
            passive_leader=yes
        [/ai]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_MAYHEM}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Demon Infiltrator General
        id=demon_secret
        random_gender=yes
        random_traits=yes
        side=4
        canrecruit=yes
        recruit=Knight,Lancer,Longbowman,Swordsman,Pikeman,Javelineer,Duelist,Shock Trooper,Red Mage
        {GOLD 300 400 500}
        {INCOME 30 40 50}
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Swordmaster
        random_gender=yes
        random_traits=yes
        side=5
        canrecruit=yes
        recruit=Horseman,Bowman,Spearman,Heavy Infantryman,Fencer
        {GOLD 300 400 500}
        {INCOME 30 40 50}
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
            passive_leader=yes
        [/ai]
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_HORRID}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Dragon Rider
        random_gender=yes
        random_traits=yes
        side=6
        canrecruit=yes
        recruit=Knight,Lancer,Longbowman,Swordsman,Pikeman,Javelineer,Duelist,Red Mage,White Mage
        gold=0
        income=-2
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
            passive_leader=yes
        [/ai]
#ifdef HARD
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_DESPAIR 30}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Destroyer
        id=later_enemy
        random_gender=yes
        random_traits=yes
        side=7
        canrecruit=yes
        recruit=Knight,Lancer,Longbowman,Swordsman,Pikeman,Javelineer,Duelist,Shock Trooper
        gold=0
        income=-2
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
            passive_leader=yes
        [/ai]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_DESPAIR 40}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Pilum Master
        random_gender=yes
        random_traits=yes
        side=8
        canrecruit=yes
        recruit=Knight,Lancer,Longbowman,Swordsman,Pikeman,Javelineer,Duelist,Shock Trooper
        gold=0
        income=-2
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
            passive_leader=yes
        [/ai]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_MIND_RAID}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        no_leader=yes
        side=9
        gold=0
        income=-2
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    {STARTING_VILLAGES 2 7}
    {STARTING_VILLAGES 3 5}
    {STARTING_VILLAGES 4 4}
    {STARTING_VILLAGES 5 5}
    [event]
        name=prestart
        [store_locations]
            terrain=Cd
            variable=to_occupy
        [/store_locations]
        {FOREACH to_occupy i}
            {VARIABLE_OP spawn_type rand (Royal Guard,Pilum Master,Halberdier,Master Bowman,Iron Mauler)}
            [unit]
                type=$spawn_type
                x,y=$to_occupy[$i].x,$to_occupy[$i].y
                ai_special=guardian
                random_traits=yes
                side=9
            [/unit]
        {NEXT i}
        {CLEAR_VARIABLE to_occupy,spawn_type}
        [objectives]
            side=1
            [objective]
                description= _ "Reach the temple on northwest"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Krux, Vritra, Deliria or Gumbrul"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [label]
            x,y=3,2
            text=_"Temple"
        [/label]
        [kill]
            id=Efraim
            fire_event=no
            animate=no
        [/kill]
        [recall]
            id=Krux
            x,y=46,34
        [/recall]
        [recall]
            id=Vritra
            x,y=46,34
        [/recall]
        [recall]
            id=Gumbrul
            x,y=46,34
        [/recall]
        [recall]
            id=Delly
            x,y=46,34
        [/recall]
    [/event]
    [event]
        name=start
        [message]
            speaker=Gumbrul
            message= _ "This is where it shall end. We are here, entering their filthy capital. I see that the demons are protecting them from the winter as a reward for their worship. I personally prefer fighting in the darkness, so we will have a hard time under the suns."
        [/message]
        [message]
            speaker=Delly
            message= _ "Maybe there is a chance to persuade them."
        [/message]
        [message]
            speaker=Krux
            message= _ "I secretly hoped for it, but it is very unlikely to be successful. By doing so, we lose the element of surprise. My father told me that once he could not conquer a city, so he simply sneaked in and assassinated the king, stealing his throne for himself."
        [/message]
        [message]
            speaker=Delly
            message= _ "You are the son of a king?"
        [/message]
        [message]
            speaker=Krux
            message= _ "No, after several centuries of rule, he gave up the throne when a revolution was starting."
        [/message]
        [message]
            speaker=Delly
            message= _ "And then prince Krux was born? Heir without a crown, offspring of royal liches without kingdom? Come on! I know a thing or two: Conserved or not, magic fertility rites are limited when it comes to a dead man's virility and a lifeless woman's child-bearing ability!"
        [/message]
        [message]
            speaker=Krux
            message= _ "According to my well-preserved parents, the deadness of being undead is unpleasant – not only with regard to the mating drive. They found a way to return back to life. Not as humans, but as something... superior."
        [/message]
        [message]
            speaker=demon_boss
            message= _ "Orcs are approaching the town. We thought we had extinct them, but it seems that these survived. Attack them, they cannot enter the town!"
        [/message]
        [message]
            speaker=Delly
            message= _ "I am princess Deliria and I have important news! You are serving demons pretending to be gods! They themselves hurled the truth into my face! Figuring I would not survive their attempt on my life right after their smug exposure..."
        [/message]
        [message]
            speaker=demon_boss
            message= _ "We are protecting you from the deadly frost. And how do you dare to call us demons?"
        [/message]
        [message]
            speaker=demon_secret
            message= _ "Kill the heretic!"
        [/message]
        [message]
            speaker=enemy
            message= _ "She just has some orcs with her. We will destroy them before they enter the town."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Now it is easy to decide what to do. Attack! We need to destroy the demons in the temple, that will persuade them who is stronger."
        [/message]
    [/event]
    [event]
        name=turn 10
        [message]
            speaker=demon_boss
            message= _ "We need reinforcements. You humans are too weak. Send all units available into battle!"
        [/message]
        [modify_side]
            side=6
            {GOLD 300 400 500}
            {INCOME 15 20 25}
        [/modify_side]
        [modify_side]
            side=7
            {GOLD 300 400 500}
            {INCOME 15 20 25}
        [/modify_side]
        [modify_side]
            side=8
            {GOLD 300 400 500}
            {INCOME 15 20 25}
        [/modify_side]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=2-4,1-2
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "The temple will fall now. Let them learn the power of the orcs!"
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Krux
            message= _ "Demons are coming from all sides! We are doomed!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Krux
            message= _ "Now? Why does it have to happen now?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Vritra
            message= _ "No! I cannot die! I just cannot..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Gumbrul
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "Impressive. How could you..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Delly
        [/filter]
        [message]
            speaker=Delly
            message= _ "My ghost will haunt you forever, kinslayers!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 10 2 14 12 9-19,7-17}
    {DROPS 7 10 (axe,mace,spear,bow,sword,sword,xbow,xbow,dagger) yes 2,3,4,5,6,7,8,9}
    {GLOBAL_EVENTS}
[/scenario]
