#textdomain wesnoth-loti
[scenario]
    id=10_Idols_Falling
    name= _ "Idols Falling"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/10_Temple.map}"
    next_scenario=11_Miracle
    {TURNS 35 33 31}
    experience_modifier=80
    victory_when_enemies_defeated=no
    {INDOORS}
    {SCENARIO_MUSIC "breaking_the_chains.ogg"}
    {EXTRA_SCENARIO_MUSIC the_dangerous_symphony.ogg}
    {EXTRA_SCENARIO_MUSIC underground.ogg}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Goblin Knight,Goblin Pillager,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Goblin Spearman,Goblin Impaler,Goblin Rouser
        village_gold=1
        gold=0
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=no
    [/side]

    [side]
        generate_name=yes
        id=demon_leader
        unrenamable=yes
        type=Demon Infiltrator Prophet
        name=_"Kerkharus the False Prophet"
        random_gender=yes
        random_traits=yes
        side=2
        canrecruit=yes
        recruit=
        gold=0
        income=-2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        [unit]
            name=_"Thial the Temple Guard"
            type=Demon Infiltrator Royal Guard
            x,y=11,23
        [/unit]
        [unit]
            name=_"Rehlum the Temple Guard"
            type=Demon Infiltrator Iron Mauler
            x,y=12,22
        [/unit]
    [/side]
    {STARTING_VILLAGES 2 25}
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Kill everything that moves"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Krux, Vritra, Deliria or Gumbrul"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
        [kill]
            id=Efraim
            fire_event=no
            animate=no
        [/kill]
        [recall]
            id=Krux
            x,y=5,30
        [/recall]
        [recall]
            id=Vritra
            x,y=5,30
        [/recall]
        [recall]
            id=Gumbrul
            x,y=5,30
        [/recall]
        [recall]
            id=Delly
            x,y=5,30
        [/recall]
        [recall]
            level=4
        [/recall]
        [recall]
            level=4
        [/recall]
        [recall]
            level=3
        [/recall]
        [recall]
            level=3
        [/recall]
    [/event]
    [event]
        name=start
        [message]
            speaker=Krux
            message= _ "We must try to shorten the bloodshed in the city as much as possible, so we should avoid assembling the army and storm the temple just ourselves. These corridors are narrow enough to keep the fights small."
        [/message]
        [message]
            speaker=Delly
            message= _ "I agree. We must clear my people from this filth."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Attack! Why are we delaying it with out useless chat?"
        [/message]
        [message]
            speaker=Vritra
            message= _ "Because..."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "ATTACK!"
        [/message]
    [/event]
    [event]
        name=attack
        [filter]
            side=1
        [/filter]
        [message]
            speaker=second_unit
            message= _ "How do you dare, pathetic mortal?"
        [/message]
        [message]
            speaker=unit
            message= _ "Shut your filthy mouth, foul demon."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x=23-39
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "Demons! Kill yourselves before we do it, end your pitiful existence as true men!"
        [/message]
        [unit]
            name=_"Thernigor the Holy Guardian"
            type=Demon Infiltrator Royal Guard
            x,y=35,24
            side=2
        [/unit]
        [unit]
            name=_"Khlias the Acolyte"
            type=Demon Infiltrator White Mage
            x,y=39,28
            side=2
        [/unit]
        [unit]
            name=_"Thurrghordus the Acolyte"
            type=Demon Infiltrator White Mage
            x,y=36,22
            side=2
        [/unit]
#ifdef HARD
        [unit]
            name=_"Sarial the Holy Guardian"
            type=Demon Infiltrator Iron Mauler
            x,y=35,23
            side=2
        [/unit]
#endif
        [event]
            name=attack
            [filter]
                side=1
            [/filter]
            [message]
                speaker=second_unit
                message= _ "Stop this sacrilegious behaviour and I might let your family live!"
            [/message]
            [message]
                speaker=unit
                message= _ "The survival of my family does not depend on your decisions, fool."
            [/message]
        [/event]
        [event]
            name=moveto
            [filter]
                side=1
                y=1-19
            [/filter]
            [message]
                speaker=Vritra
                message= _ "How many ugly chambers full of depictions of demons do we have to pass through?"
            [/message]
            [unit]
                name=_"Argob the Guardian of Sacred Relics"
                type=Demon Infiltrator Swordsman
                x,y=33,8
                side=2
            [/unit]
            [unit]
                name=_"Grulul the Guardian of Sacred Objects"
                type=Demon Infiltrator Swordsman
                x,y=36,3
                side=2
            [/unit]
            [unit]
                name=_"Thalarghor the Acolyte"
                type=Demon Infiltrator White Mage
                x,y=38,5
                side=2
            [/unit]
            [unit]
                name=_"Darbadir the Priest"
                type=Demon Infiltrator Mage of Light
                x,y=32,8
                side=2
            [/unit]
#ifndef EASY
            [unit]
                name=_"Ablathor the Acolyte"
                type=Demon Infiltrator White Mage
                x,y=34,7
                side=2
            [/unit]
#endif
            [event]
                name=attack
                [filter]
                    side=1
                [/filter]
                [message]
                    speaker=second_unit
                    message= _ "Why are you trespassing the chambers of the sacred? You are disturbing our holy divinations."
                [/message]
                [message]
                    speaker=unit
                    message= _ "You speak too much."
                [/message]
                [message]
                    speaker=second_unit
                    message= _ "Are you daring to raise a weapon against me, a Lord of Twilight?"
                [/message]
                [message]
                    speaker=unit
                    message= _ "Yes, I do."
                [/message]
            [/event]
            [event]
                name=moveto
                [filter]
                    side=1
                    x=0-30
                [/filter]
                [message]
                    speaker=Delly
                    message= _ "I have never been this deep inside the temple, not even during the greatest events."
                [/message]
                [unit]
                    name=_"Azianor the Divine Protector"
                    type=Demon Infiltrator Destroyer
                    x,y=27,16
                    side=2
                [/unit]
                [unit]
                    name=_"Samrathiel the Priest"
                    type=Demon Infiltrator Mage of Light
                    x,y=25,15
                    side=2
                [/unit]
#ifndef EASY
                [unit]
                    name=_"Khilbiath the Curate"
                    type=Demon Infiltrator White Mage
                    x,y=28,17
                    side=2
                [/unit]
#endif
#ifdef HARD
                [unit]
                    name=_"Thirth the Curate"
                    type=Demon Infiltrator White Mage
                    x,y=28,13
                    side=2
                [/unit]
#endif
                [event]
                    name=attack
                    [filter]
                        side=1
                    [/filter]
                    [message]
                        speaker=second_unit
                        message= _ "What are you doing here? Even if the princess is in your company, it does not excuse you. Being here is more sacrilegious than you can imagine."
                    [/message]
                    [message]
                        speaker=unit
                        message= _ "Yet, you are here all the time. Thus you are the greatest sinner ever born."
                    [/message]
                    [message]
                        speaker=second_unit
                        message= _ "How can I, a Lord of Twilight, be a sinner?"
                    [/message]
                    [message]
                        speaker=unit
                        message= _ "Demons sin all the time, scallawag."
                    [/message]
                    [message]
                        speaker=second_unit
                        message= _ "So you know... prepare to die, weakling!"
                    [/message]
                [/event]
                [event]
                    name=moveto
                    [filter]
                        side=1
                        x=0-11
                    [/filter]
                    [message]
                        speaker=Krux
                        message= _ "How big is this temple?"
                    [/message]
                    [unit]
                        name=_"Thard the High Priest"
                        type=Demon Infiltrator Messenger
                        x,y=6,10
                        side=2
                    [/unit]
                    [unit]
                        name=_"Rebroibiel the High Priest"
                        type=Demon Infiltrator Mage of Light
                        x,y=7,11
                        side=2
                    [/unit]
                [/event]
            [/event]
        [/event]
    [/event]
    [event]
        name=die
        [filter]
            side=2
        [/filter]
        first_time_only=no
        [if]
            [have_unit]
                side=2
            [/have_unit]
            [else]
                [endlevel]
                    result=victory
                    bonus=no
                    {NEW_GOLD_CARRYOVER 100}
                [/endlevel]
            [/else]
        [/if]
    [/event]
    [event]
        name=new turn
        first_time_only=no
        [if]
            [have_unit]
                side=2
            [/have_unit]
            [else]
                [endlevel]
                    result=victory
                    bonus=no
                    {NEW_GOLD_CARRYOVER 100}
                [/endlevel]
            [/else]
        [/if]
    [/event]
    [event]
        name=victory
        {MOVE_UNIT id=Vritra 4 4}
        [message]
            speaker=Vritra
            message= _ "What might be in this chasm? There are climbing steps leading downwards."
        [/message]
        [message]
            speaker=Krux
            message= _ "A hiding place? Inside the temple? Down there must be something important for the demons."
        [/message]
        [message]
            speaker=Vritra
            message= _ "We should get to the bottom of the... matter. Wait, I will do a quick dive−"
        [/message]
        [message]
            speaker=Krux
            message= _ "Hold on! Let me first use a deep sight-night vision spell to check it out... yes, there are some demons. After the horrific experiences that we just went through, I do not want to run any risks. We will assemble our soldiers and finish the work down there."
        [/message]
        [message]
            speaker=Delly
            message= _ "D'oh, I thought it was over."
        [/message]
        [message]
            speaker=Krux
            message= _ "Me too, so what? Do you want to leave them there to breed more mischief?! Chin up, chest out. Move it!"
        [/message]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Krux
            message= _ "This fight is taking too long, our troops in the town must have killed at least a half of the town's inhabitants."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Vritra
            message= _ "I will kill you, filth!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Krux
            message= _ "Settle your score with your demon gods! You are living on borrowed time, abomination!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Gumbrul
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "I have fallen to this scum..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Delly
        [/filter]
        [message]
            speaker=Delly
            message= _ "No... I should not have joined you..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 14 20 (axe,mace,spear,bow,sword,sword,xbow,xbow,dagger) yes 2}
    {GLOBAL_EVENTS}
[/scenario]
