#textdomain wesnoth-loti
[scenario]
    id=11_Miracle
    name= _ "Miracle"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/11_Forgotten_Chasm.map}"
    next_scenario=12_Rush
    {TURNS 33 31 29}
    experience_modifier=80
    victory_when_enemies_defeated=yes
    {UNDERGROUND}
    {SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC legends_of_the_north.ogg}
    {EXTRA_SCENARIO_MUSIC northerners.ogg}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Goblin Knight,Goblin Pillager,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Goblin Spearman,Goblin Impaler,Goblin Rouser
        village_gold=4
        gold=200
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=no
    [/side]

    [side]
        generate_name=yes
        id=first_demon_boss
        unrenamable=yes
        type=Demon Overlord
        random_gender=yes
        random_traits=yes
        side=2
        canrecruit=yes
        recruit=Demon Warrior
        {GOLD 200 250 300}
        {INCOME 80 100 120}
        village_gold=5
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        {GENERIC_UNIT 2 Demon 24 20}
#ifndef EASY
        {GENERIC_UNIT 2 Demon 23 19}
#endif
#ifdef HARD
        {GENERIC_UNIT 2 Demon 22 19}
#endif
        {GENERIC_UNIT 2 Succubus 23 20}
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Demon Despot
        random_gender=yes
        random_traits=yes
        side=3
        canrecruit=yes
        recruit=Demon Manowar
        gold=0
        income=-2
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
            passive_leader=yes
        [/ai]
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Demon Despot
        random_gender=yes
        random_traits=yes
        side=4
        canrecruit=yes
        recruit=Demon Warrior
        gold=0
        income=-2
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
            passive_leader=yes
        [/ai]
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Demon Overlord
        random_gender=yes
        random_traits=yes
        side=5
        canrecruit=yes
        recruit=Demon
        gold=0
        income=-2
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
            passive_leader=yes
        [/ai]
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Demon Despot
        random_gender=yes
        random_traits=yes
        side=6
        canrecruit=yes
        recruit=Succubus
        gold=0
        income=-2
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
            passive_leader=yes
        [/ai]
    [/side]
    [side]
        generate_name=yes
        unrenamable=yes
        type=Demon Overlord
        random_gender=yes
        random_traits=yes
        side=7
        canrecruit=yes
        recruit=Imp
        gold=0
        income=-2
        village_gold=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
            passive_leader=yes
        [/ai]
    [/side]
    {STARTING_VILLAGES 2 7}
    {STARTING_VILLAGES 3 7}
    {STARTING_VILLAGES 4 7}
    {STARTING_VILLAGES 5 7}
    {STARTING_VILLAGES 6 7}
    {STARTING_VILLAGES 7 7}
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Krux, Vritra, Deliria or Gumbrul"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [kill]
            id=Efraim
            fire_event=no
            animate=no
        [/kill]
        [recall]
            id=Krux
            x,y=26,19
        [/recall]
        [recall]
            id=Vritra
            x,y=26,19
        [/recall]
        [recall]
            id=Gumbrul
            x,y=26,19
        [/recall]
        [recall]
            id=Delly
            x,y=26,19
        [/recall]
    [/event]
    [event]
        name=start
        [message]
            speaker=Vritra
            message= _ "You were right. There are not too many of them. They get a proper punch on their horns before they can do anything and we are done and out of here!"
        [/message]
        [message]
            speaker=Delly
            message= _ "I agree."
        [/message]
        [message]
            speaker=first_demon_boss
            message= _ "Your parents are roaming Inferno and laying waste to everything within it. They deserve death and eternal torture for it, and you deserve it too because you are their descendants."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Did you hear that, Krux? Mom and dad seem to be safe and sound! Let us show them that we are made of the same metal!"
        [/message]
        [message]
            speaker=first_demon_boss
            message= _ "That shall not save your meaningless lives. You will die. Slowly."
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id=first_demon_boss
        [/filter]
        [fire_event]
            name=activate others
        [/fire_event]
    [/event]
    [event]
        name=turn 4
        [fire_event]
            name=activate others
        [/fire_event]
    [/event]
    [event]
        name=activate others
        [message]
            speaker=Krux
            message= _ "I have a feeling that a large group of demons is coming. From all directions."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Me too. It might be very bad. As you have wisely foreseen, we need to summon our troops from the city."
        [/message]
        [modify_side]
            side=3
            {GOLD 600 750 900}
            {INCOME 80 100 120}
        [/modify_side]
        [modify_side]
            side=4
            {GOLD 600 750 900}
            {INCOME 80 100 120}
        [/modify_side]
        [modify_side]
            side=5
            {GOLD 600 750 900}
            {INCOME 80 100 120}
        [/modify_side]
        [modify_side]
            side=6
            {GOLD 600 750 900}
            {INCOME 80 100 120}
        [/modify_side]
        [modify_side]
            side=7
            {GOLD 600 750 900}
            {INCOME 80 100 120}
        [/modify_side]
        [if]
            [variable]
                name=turn_number
                equals=1
            [/variable]
            [then]
                [event]
                    name=turn 4
                    [fire_event]
                        name=miracle
                    [/fire_event]
                [/event]
            [/then]
        [/if]
        [if]
            [variable]
                name=turn_number
                equals=2
            [/variable]
            [then]
                [event]
                    name=turn 5
                    [fire_event]
                        name=miracle
                    [/fire_event]
                [/event]
            [/then]
        [/if]
        [if]
            [variable]
                name=turn_number
                equals=3
            [/variable]
            [then]
                [event]
                    name=turn 6
                    [fire_event]
                        name=miracle
                    [/fire_event]
                [/event]
            [/then]
        [/if]
        [if]
            [variable]
                name=turn_number
                equals=4
            [/variable]
            [then]
                [event]
                    name=turn 7
                    [fire_event]
                        name=miracle
                    [/fire_event]
                [/event]
            [/then]
        [/if]
    [/event]
    [event]
        name=miracle
        [message]
            race=demon-loti
            message= _ "Argh! What kind of sorcery is this?"
        [/message]
        [store_unit]
            [filter]
                side=2,3,4,5,6,7
            [/filter]
            variable=demon_store
            kill=no
        [/store_unit]
        {FOREACH demon_store i}
            [object]
                silent=yes
                [filter]
                    id=$demon_store[$i].id
                [/filter]
                [effect]
                    apply_to=hitpoints
                    increase_total=-50%
                    increase=-50%
                [/effect]
                [effect]
                    apply_to=attack
                    increase_damage=-50%
                [/effect]
            [/object]
            [floating_text]
                text= _ "Arghh... noo..."
                {COLOR_HARM}
                x,y=$demon_store[$i].x,$demon_store[$i].y
            [/floating_text]
        {NEXT i}
        {CLEAR_VARIABLE demon_store}
        [event]
            name=recruit
            first_time_only=no
            [filter]
                side=2,3,4,5,6,7
            [/filter]
            [object]
                silent=yes
                [filter]
                    x,y=$x1,$y1
                [/filter]
                [effect]
                    apply_to=hitpoints
                    increase_maximum=-50%
                    increase=-50%
                [/effect]
                [effect]
                    apply_to=attack
                    increase_damage=-50%
                [/effect]
            [/object]
        [/event]
        [message]
            race=demon-loti
            message= _ "Uria has been murdered. Your parents did it. We are weakened, but we are still numerous. We will kill you for your parents' deicide!"
        [/message]
        [message]
            speaker=Vritra
            message= _ "Woohoo! Hooray, they did it, Krux! They are simply fantastic! – Hey, longhorn, you should not use the word 'deicide', it is being used too much lately. In fact, those incidents become ironically routine."
        [/message]
        [message]
            speaker=Krux
            message= _ "Agreed, dad and mom are invincible! Now that the demons have lost their powers and cannot keep up their pretending anymore, humans will be able to oppose them and clear this world. And demons will be drenched with fear for the future of their kind."
        [/message]
        [message]
            speaker=Gumbrul
            message= _ "Attack, you see that they are weakened!"
        [/message]
    [/event]
    [event]
        name=enemies defeated
        [message]
            speaker=Gumbrul
            message= _ "Victory!"
        [/message]
        [message]
            speaker=Delly
            message= _ "What shall we do now?"
        [/message]
        [message]
            speaker=Krux
            message= _ "Clear this world from this plague, of course!"
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Krux
            message= _ "Countless demons are coming from all sides to have their revenge, they are weaker, but too numerous! We are doomed!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Krux
            message= _ "Now?! I hoped to see the final dusk of this terrible era."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Vritra
            message= _ "Noooo!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Gumbrul
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "I will kill you for this, pathetic creature... ah, I cannot somehow, my limbs are getting weaker and weaker..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Delly
        [/filter]
        [message]
            speaker=Delly
            message= _ "At least I died for a good thing..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 7 10 (axe,mace,spear,bow,sword,sword,xbow,xbow,dagger) yes 2,3,4,5,6,7}
    {GLOBAL_EVENTS}
[/scenario]
