#textdomain wesnoth-loti
[scenario]
    id=13_Black_Souls
    name= _ "Black Souls"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/13_Laboratory_Centre.map}"
    next_scenario=14_End_of_the_World
    {TURNS 25 23 21}
    experience_modifier=80
    victory_when_enemies_defeated=no
    {INDOORS}
    [time_area]
        x=26-45
        y=1-21
        {UNDERGROUND}
    [/time_area]
    [time_area]
        x=1-25
        y=1-13
        {UNDERGROUND}
    [/time_area]
    [time_area]
        x=43-45
        y=1-8
        {TWO_SUNS_DEFAULT_SCHEDULE}
    [/time_area]
    {SCENARIO_MUSIC "frantic.ogg"}
    {EXTRA_SCENARIO_MUSIC casualties_of_war.ogg}
    {EXTRA_SCENARIO_MUSIC the_deep_path.ogg}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Goblin Knight,Goblin Pillager,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Goblin Spearman,Goblin Impaler,Goblin Rouser
        village_gold=0
        gold=200
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=no
    [/side]
    [side]
        generate_name=yes
        id=last_demon_boss
        type=Demon Overlord
        random_gender=yes
        random_traits=yes
        side=2
        gold=200
        canrecruit=yes
        recruit=Demon Warrior
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        {GENERIC_UNIT 2 Demon 27 29}
        {GENERIC_UNIT 2 "Demon Warrior" 27 29}
        {GENERIC_UNIT 2 "Demon Infiltrator Heavy Infantryman" 27 29}
        {GENERIC_UNIT 2 "Demon Manowar" 27 29}
        {GENERIC_UNIT 2 Demon 27 29}
        {GENERIC_UNIT 2 Succubus 27 29}
        {GENERIC_UNIT 2 "Demon Warrior" 27 29}
        {GENERIC_UNIT 2 Demon 27 29}
        {GENERIC_UNIT 2 "Demon Infiltrator Swordsman" 27 29}
        {GENERIC_UNIT 2 "Demon Warrior" 27 29}
        {GENERIC_UNIT 2 Demon 27 29}
        {GENERIC_UNIT 2 "Demon Warrior" 27 29}
        {GENERIC_UNIT 2 Demon 27 29}
        {GENERIC_UNIT 2 "Demon Manowar" 27 29}
        {GENERIC_UNIT 2 Demon 27 29}
        {GENERIC_UNIT 2 Succubus 27 29}
    [/side]
    [side]
        no_leader=yes
        side=3
        team_name=chaotic evil
        user_team_name=_"Chaotic Evil"
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=4
        team_name=chaotic evil
        user_team_name=_"Chaotic Evil"
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=5
        team_name=chaotic evil
        user_team_name=_"Chaotic Evil"
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Escape through the caves"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Krux, Vritra, Deliria or Gumbrul"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
        [kill]
            id=Efraim
            fire_event=no
            animate=no
        [/kill]
        [recall]
            id=Krux
            x,y=7,28
        [/recall]
        [recall]
            id=Vritra
            x,y=7,28
        [/recall]
        [recall]
            id=Gumbrul
            x,y=7,28
        [/recall]
        [recall]
            id=Delly
            x,y=7,28
        [/recall]
        [recall]
            id=Stormrider
            x,y=7,28
        [/recall]
        {PLACE_IMAGE scenery/portal-red.png 1 30}
        {VARIABLE spawn_count 30}
        [while]
            [variable]
                name=spawn_count
                greater_than=0
            [/variable]
            [do]
                {VARIABLE_OP spawn_type rand (Bowman,Spearman,Heavy Infantryman,Dark Adept,Longbowman,Swordsman,Javelineer,Pikeman,Shock Trooper,Dark Sorcerer)}
                [unit]
                    type=$spawn_type
                    x,y=26,28
                    side=3
                    to_variable=blackening_store
                    generate_name=yes
                    random_traits=yes
                    random_gender=yes
                [/unit]
                {MAKE_BLACK_SOUL}
                [clear_variable]
                    name=blackening_store
                [/clear_variable]
                {VARIABLE_OP spawn_count sub 1}
            [/do]
        [/while]
        [item]
            x,y=34,30
            halo=terrain/gate_of_hell.png
        [/item]
        [remove_shroud]
            side=1
            x=1-24
            y=15-34
            [or]
                x=25-44
                y=23-34
            [/or]
        [/remove_shroud]
        [store_unit]
            [filter]
                side=2
            [/filter]
            variable=demon_store
            kill=no
        [/store_unit]
        {FOREACH demon_store i}
            [object]
                silent=yes
                [filter]
                    id=$demon_store[$i].id
                [/filter]
                [effect]
                    apply_to=hitpoints
                    increase_total=-50%
                    increase=-50%
                [/effect]
                [effect]
                    apply_to=attack
                    increase_damage=-50%
                [/effect]
            [/object]
        {NEXT i}
        {CLEAR_VARIABLE demon_store}
    [/event]
    [event]
        name=start
        [message]
            speaker=Vritra
            message= _ "It is already open... and it seems that there are way too many black souls to defeat. More are coming... fortunately, they are killing the demons right now."
        [/message]
        {VARIABLE spawn_side 3}
        {VARIABLE spawn_x 34}
        {VARIABLE spawn_y 30}
        {VARIABLE move_x 34}
        {VARIABLE move_y 28}
        [fire_event]
            name=spawn black soul
        [/fire_event]
        {VARIABLE spawn_side 3}
        {VARIABLE spawn_x 34}
        {VARIABLE spawn_y 30}
        {VARIABLE move_x 32}
        {VARIABLE move_y 32}
        [fire_event]
            name=spawn black soul
        [/fire_event]
        [message]
            speaker=Stormrider
            message= _ "I was afraid of this. We cannot stop them. Maybe if your parents were here, it might be possible, but I have no idea how to close the portal, so getting there will not help us. The only thing we can do is to hope that the portal is unstable and will close after some time or that there is not as many black souls as I thought. Neither of them is very likely."
        [/message]
        [message]
            speaker=Krux
            message= _ "Your opinions are too fatalistic. It is clear that we cannot defeat these, especially with the reinforcements they are constantly getting. But my parents have killed Uria already, so they should come soon. Inferno was conquered, they can find a way out easily when they are not constantly annoyed by demons' attacks."
        [/message]
        [message]
            speaker=Stormrider
            message= _ "That is possible. We should hope for that, and flee as fast as we can. Into the portal!"
        [/message]
        [message]
            speaker=last_demon_boss
            message= _ "We will never reach the portal, we are doomed to die here. ...and so are you! Nyah, nyah, nyah!"
        [/message]
        [message]
            speaker=Stormrider
            message= _ "What...? ... Oooh no, I augured doom... I am doomed to doom..."
        [/message]
        [delay]
            time=500
        [/delay]
        {FLASH_RED (
            [remove_item]
                x,y=1,30
                image=scenery/portal-red.png
            [/remove_item]
        )}
        [delay]
            time=500
        [/delay]
        [message]
            speaker=Krux
            message= _ "No! ... Our portal has vanished! We cannot go back anymore!"
        [/message]
        [message]
            speaker=Stormrider
            message= _ "There is a keep ahead! We should use it for our purposes."
        [/message]
        {MOVE_UNIT id=Krux 19 17}
        {MOVE_UNIT (side=1
        [not]
            id=Krux
        [/not]) 19 17}
        [message]
            speaker=Krux
            message= _ "So we have to fight them. There is no escape now. I fear that we will die here..."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Hardly. There is a cave behind that wall. Let me break it. Tha'ark rthaktharaktak asthamaratheanak..."
        [/message]
        [sound]
            name=rumble.ogg
        [/sound]
        [terrain]
            x,y=25,16-20
            terrain=Uu^Dr
        [/terrain]
        [redraw]
            clear_shroud=yes
        [/redraw]
        [message]
            speaker=Stormrider
            message= _ "We can flee now. Like cowards."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Sometimes, you have to flee. To save your life for future fights."
        [/message]
        [modify_side]
            side=1
            fog=yes
        [/modify_side]
    [/event]

    [event]
        name=spawn black soul
        first_time_only=no
#ifdef EASY
        {VARIABLE_OP spawn_type rand (Bowman,Spearman,Heavy Infantryman,Cavalryman,Horseman,Dark Adept,Longbowman,Swordsman,Javelineer,Pikeman,Shock Trooper,Dragoon,Knight,Dark Sorcerer)}
#endif
#ifdef NORMAL
        {VARIABLE_OP spawn_type rand (Heavy Infantryman,Horseman,Dark Adept,Longbowman,Swordsman,Javelineer,Pikeman,Shock Trooper,Dragoon,Knight,Dark Sorcerer)}
#endif
#ifdef HARD
        {VARIABLE_OP spawn_type rand (Longbowman,Swordsman,Javelineer,Pikeman,Shock Trooper,Dragoon,Knight,Dark Sorcerer)}
#endif
        [unit]
            type=$spawn_type
            x,y=$spawn_x,$spawn_y
            side=$spawn_side
            to_variable=blackening_store
            generate_name=yes
            random_traits=yes
            random_gender=yes
        [/unit]
        {MAKE_BLACK_SOUL}
        [if]
            [variable]
                name=move_x
                equals=$spawn_x
            [/variable]
            [and]
                [variable]
                    name=move_y
                    equals=$spawn_y
                [/variable]
            [/and]
            [then]
                {MOVE_UNIT id=$blackening_store.id $move_x $move_y}
            [/then]
        [/if]
        [clear_variable]
            name=blackening_store
        [/clear_variable]
        {CLEAR_VARIABLE move_x,move_y,spawn_x,spawn_y,spawn_side,spawn_type}
    [/event]

    [event]
        name=new turn
        first_time_only=no
        {VARIABLE spawn_side 3}
        {VARIABLE spawn_x 25}
        {VARIABLE spawn_y 28}
        {VARIABLE spawn_x 27}
        {VARIABLE spawn_y 28}
        [fire_event]
            name=spawn black soul
        [/fire_event]
        {VARIABLE spawn_side 4}
        {VARIABLE spawn_x 26}
        {VARIABLE spawn_y 28}
        {VARIABLE spawn_x 27}
        {VARIABLE spawn_y 29}
        [fire_event]
            name=spawn black soul
        [/fire_event]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x,y=43-44,1-7
        [/filter]
        [message]
            speaker=Stormrider
            message=_"We have survived this. But I wonder how long will our world survive."
        [/message]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
#define PORTAL_OPENING TURN X Y X1 Y1 X2 Y2
    [event]
        name=turn {TURN}
        {PLACE_IMAGE scenery/portal-red.png {X} {Y}}
        {VARIABLE spawn_side 4}
        {VARIABLE spawn_x {X}}
        {VARIABLE spawn_y {Y}}
        {VARIABLE move_x {X1}}
        {VARIABLE move_y {Y1}}
        [fire_event]
            name=spawn black soul
        [/fire_event]
        {VARIABLE spawn_side 4}
        {VARIABLE spawn_x {X}}
        {VARIABLE spawn_y {Y}}
        {VARIABLE move_x {X2}}
        {VARIABLE move_y {Y2}}
        [fire_event]
            name=spawn black soul
        [/fire_event]
        {VARIABLE spawn_side 4}
        {VARIABLE spawn_x {X}}
        {VARIABLE spawn_y {Y}}
        {VARIABLE move_x {X}}
        {VARIABLE move_y {Y}}
        [fire_event]
            name=spawn black soul
        [/fire_event]
        [event]
            name=new turn
            id=spawn_point_{X}_{Y}
            first_time_only=no
            {VARIABLE spawn_side 4}
            {VARIABLE spawn_x {X}}
            {VARIABLE spawn_y {Y}}
            {VARIABLE spawn_x {X}}
            {VARIABLE spawn_y {Y}}
            [fire_event]
                name=spawn black soul
            [/fire_event]
        [/event]
        [event]
            name=moveto
            [filter]
                x,y={X},{Y}
                side=1
            [/filter]
            [message]
                speaker=unit
                message=_"Klil thet tage mundum obscuro."
            [/message]
            [event]
                id=spawn_point_{X}_{Y}
                remove=yes
            [/event]
            {FLASH_RED (
                [remove_item]
                    x,y={X},{Y}
                    image=scenery/portal-red.png
                [/remove_item]
            )}
        [/event]
        [fire_event]
            name=stormrider warning
        [/fire_event]
    [/event]
#enddef
    {PORTAL_OPENING 2 30 18 28 18 29 19}
    {PORTAL_OPENING 5 39 11 40 12 40 11}
    {PORTAL_OPENING 6 39 2 37 3 38 2}
    {PORTAL_OPENING 8 26 8 28 8 27 8}
    {PORTAL_OPENING 11 8 6 9 8 8 7}
    {PORTAL_OPENING 16 21 2 19 3 20 2}
    {PORTAL_OPENING 19 42 3 40 3 41 3}
#undef PORTAL_OPENING
    [event]
        name=stormrider warning
        [message]
            speaker=Stormrider
            message=_"No! The portal is expanding, new outlets are emerging! The main gate might be getting unstable, hopefully. You can close these side portals by approaching them and speaking the words 'Klil thet tage mundum obscuro'."
        [/message]
    [/event]
    [event]
        name=new turn
        {VARIABLE spawn_side 5}
        {VARIABLE spawn_x 34}
        {VARIABLE spawn_y 30}
        {VARIABLE move_x 34}
        {VARIABLE move_y 28}
        [fire_event]
            name=spawn black soul
        [/fire_event]
        {VARIABLE spawn_side 5}
        {VARIABLE spawn_x 34}
        {VARIABLE spawn_y 30}
        {VARIABLE move_x 32}
        {VARIABLE move_y 32}
        [fire_event]
            name=spawn black soul
        [/fire_event]
    [/event]
    [event]
        name=die
        first_time_only=no
        [filter]
            side=2
        [/filter]
        [if]
            [have_unit]
                side=2
            [/have_unit]
            [else]
                [message]
                    speaker=Vritra
                    message= _ "Maybe I should knee our pursuers in the groin... Thalarae'thorn-shrot-kratharn! There, you see, they will be slowed now."
                [/message]
                {MODIFY_UNIT side=3,5 status.slowed yes}
                [event]
                    name=new_turn
                    first_time_only=no
                    {MODIFY_UNIT side=3,5 status.slowed yes}
                [/event]
            [/else]
        [/if]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Stormrider
            message= _ "There is no hope for us. There is no way to survive. There are too many of them, we are surrounded..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Krux
            message= _ "This world is ending. I am ending too..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Vritra
            message= _ "I wanted to be the last survivor..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Gumbrul
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "Go away, dark magic..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Stormrider
        [/filter]
        [message]
            speaker=Gumbrul
            message= _ "Maybe it will be better without him. His pessimism was unpleasant."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Delly
        [/filter]
        [message]
            speaker=Delly
            message= _ "No! This should not be happening!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 8 13 (axe,mace,spear,bow,sword,sword,xbow,xbow,dagger) yes 3,4,5}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
