#textdomain wesnoth-loti
[scenario]
    id=14s_New_Era
    name= _ "New Era"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/14s_Paradise.map}"
    next_scenario=null
    turns=-1
    experience_modifier=80
    victory_when_enemies_defeated=no
    {DEFAULT_SCHEDULE}
    {SCENARIO_MUSIC "elf-land.ogg"}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=
        village_gold=0
        gold=0
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=no
        fog=no
        [unit]
            x,y=37,40
            type=White Mage
            gender=male
            generate_name=yes
            random_traits=yes
            id=priest1
        [/unit]
        [unit]
            x,y=41,39
            type=White Mage
            gender=female
            generate_name=yes
            random_traits=yes
            id=priest2
        [/unit]
    [/side]

    [event]
        name=prestart
        {CAPTURE_VILLAGES 1 40 40 20}
        [kill]
            id=Efraim
            fire_event=no
            animate=no
        [/kill]
        [objectives]
            side=1
            [objective]
                description= _ "Seriously, nothing to do"
                condition=win
            [/objective]
        [/objectives]
        {FOREACH important_units_store i}
            {VARIABLE important_units_store[$i].hitpoints $important_units_store[$i].max_hitpoints}
            [unstore_unit]
                variable=important_units_store[$i]
                x,y=40,41
                find_vacant=yes
            [/unstore_unit]
        {NEXT i}
        {PLACE_IMAGE scenery/efraim-statue.png 39 39}
        {PLACE_IMAGE scenery/lethalia-statue.png 43 39}
    [/event]
    [event]
        name=start
        {MOVE_UNIT id=Krux 39 40}
        {MOVE_UNIT id=Vritra 38 41}
        {MOVE_UNIT id=Gumbrul 37 42}
        {MOVE_UNIT id=Delly 40 40}
        {MOVE_UNIT id=Stormrider 40 42}
        [message]
            speaker=Krux
            message= _ "So this is the future world. The corrected world for us to live in."
        [/message]
        [message]
            speaker=priest1
            message= _ "Welcome to our temple."
        [/message]
        [message]
            speaker=Krux
            message= _ "Whose temple is it?"
        [/message]
        [message]
            speaker=priest2
            message= _ "It was built for the glory of Efraim, son of Krux the Hanged Man and Lethalia, daughter of Tinebrithiel, the two gods who created this world."
        [/message]
        [message]
            speaker=Krux
            message= _ "I am Krux the Second, son of Efraim and Lethalia. This is my sister Vritra."
        [/message]
        [message]
            speaker=priest1
            message= _ "Really? Interesting, you have some features of both. It is a pleasure to meet you, children of gods."
        [/message]
        [message]
            speaker=Vritra
            message= _ "After all the hatred and war in our world, we are finally honoured as we deserve..."
        [/message]
        [message]
            speaker=priest2
            message= _ "I have a question to ask you. The entire world changed recently, and it changed really significantly. Like if the gods wanted this place to look differently. Small details like our temple were not changed, but in large scale everything is now as it never was."
        [/message]
        [message]
            speaker=Krux
            message= _ "Ah, the mystery of divine will... But gods work for the good of those who adore them. It pleased my parents to shape your world like their own in its days of glory. An act of divine inspiration."
        [/message]
        [message]
            speaker=Vritra
            message= _ "In its best era, but with a few corrections. Its best era had a few significant flaws."
        [/message]
        [message]
            speaker=priest1
            message= _ "Where are they now, by the way? They are not going to live with us?"
        [/message]
        [message]
            speaker=Vritra
            message= _ "They cannot. According to them, it is impossible. They are forever bound to walk the old, doomed, demon-infested world, in eternal exile."
        [/message]
        [message]
            speaker=priest2
            message= _ "So the gods sacrificed their well-being for our good? We will praise this decision for as many generations as possible."
        [/message]
        [message]
            speaker=Krux
            message= _ "And... they said that your religion is making them stronger, and they need it to survive in the old world. Keep up the good work."
        [/message]
        [message]
            speaker=priest1
            message= _ "It will be a pleasure."
        [/message]
        [message]
            speaker=Krux
            message= _ "Do you have any directions where we might settle?"
        [/message]
        [message]
            speaker=priest1
            message= _ "Please, do not leave us, son of the gods."
        [/message]
        [message]
            speaker=Krux
            message= _ "I would like to travel around this country, discover interesting places in my parents' world of olden times, and I want to court my... princess. Maybe we will come back one day...

(to himself) Mum seemed to oppose my romance with Deliria... I wonder why..."
        [/message]
        [message]
            speaker=Delly
            message= _ "Yes, a suggestion and a man after my fancy... Come on, chaps! How wonderful it is to set out into a world that for once does not need to be saved anymore!"
        [/message]
        [endlevel]
            result=victory
            bonus=no
        [/endlevel]
    [/event]
[/scenario]
