#textdomain wesnoth-kill_the_king
[textdomain]
    name="wesnoth-kill_the_king"
    path="data/add-ons/Kill_the_King/translations"
[/textdomain]

{~add-ons/Legend_of_the_Invincibles/extra_advancements.cfg}
[campaign]
    id="Kill_the_King"
    name= _ "Kill the King"
    define=CAMPAIGN_KILL_THE_KING
    extra_defines=LOTI_LOW_DROPS,NO_LOTI
    first_scenario="00_End_of_Tranquillity"

    abbrev= _ "KtK"
    rank=9000
    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions= _ "&data/core/images/units/undead-skeletal/skeleton/skeleton.png~RC(magenta>black)=Easy;*&data/core/images/units/undead-skeletal/revenant/revenant.png~RC(magenta>black)=Medium;&data/core/images/units/undead-skeletal/draug.png~RC(magenta>black)=Hard"
    description= _ "When the hero killed the evil queen, he had to ensure his succession by marrying her daughter. He secured the kingdom, but ended up with a manly wife loved only by his rational part. He begun drinking down his problems, neglecting his kingdom. Lead a group of dubious bards in their attempt to rouse the people into a rebellion against their boozer king. Do they have the metal to overthrow and replace him with someone more suitable?

(5 scenarios, advanced difficulty)"

    icon="data/add-ons/Kill_the_King/images/units/aarron-standing-2.png"
    image="data/add-ons/Kill_the_King/images/campaign_image.png"
    [about]
        title= _ "Author of this campaign:"
        [entry]
            name= "Dugi"
        [/entry]
    [/about]
    [about]
        title= _ "Artwork"
        [entry]
            name= _"Stolen from other add-ons, mainline and repositories, some slightly edited (frankensteined) to fit the story more"
        [/entry]
    [/about]
    [about]
        title= _ "Music"
        [entry]
            name= "Human Antagonist - Floating Paper Bags"
        [/entry]
        [entry]
            name= "Human Antagonist - Anonymity"
        [/entry]
        [entry]
            name= "Aran Koning - (post rock song)"
        [/entry]
        [entry]
            name= "Martin Linda - Emotion"
        [/entry]
        [entry]
            name= "Matthew Pablo - Imminent Threat"
        [/entry]
    [/about]
    [about]
        title= _ "Special thanks to"
        [entry]
            name= "Chewan"
        [/entry]
    [/about]
    {LOTI_EXTRA_ADVANCEMENT_LINES}
[/campaign]
[binary_path]
    path=data/add-ons/Kill_the_King/external_binary_data
[/binary_path]

#ifdef CAMPAIGN_KILL_THE_KING
[binary_path]
    path=data/add-ons/Legend_of_the_Invincibles/
[/binary_path]
[binary_path]
    path=data/add-ons/Kill_the_King/
[/binary_path]
[+language]
    type_lightning= _ "lightning"
[/language]
{~add-ons/Legend_of_the_Invincibles/utils}
{~add-ons/Kill_the_King/utils.cfg}
[+units]
    {~add-ons/Kill_the_King/units}
[/units]
[+units]
    {~add-ons/Legend_of_the_Invincibles/units}
[/units]
{~add-ons/Kill_the_King/scenarios}
[lua]
    code = << wesnoth.dofile("~add-ons/Legend_of_the_Invincibles/lua/main.lua") >>
[/lua]
{~add-ons/Legend_of_the_Invincibles/terrain.cfg}
#endif
