#textdomain wesnoth-tbc
[scenario]
    id="04_Marching_into_War"
    name= _ "Marching into War"
    map_data="{~add-ons/The_Beautiful_Child/maps/Fertile_Lands.map}"
    next_scenario=05_Coming_of_the_Tide
    victory_when_enemies_defeated=yes
    {TURNS 25 23 22}
    {DEFAULT_MUSIC_PLAYLIST}
    {DEFAULT_SCHEDULE}


    [side]
        type=Swordsman
        id=player
        canrecruit=yes
        side=1
        controller=human
        recruit=Spearman,Bowman,Cavalryman,Sergeant,Heavy Infantryman,Fencer,Duelist,Swordsman,Pikeman,Javelineer,Lieutenant,Shock Trooper,Longbowman,Dragoon
        village_gold=1
        {GOLD 50 40 30}
        team_name=good
        user_team_name=_"Good"
        shroud=no
        fog=yes
    share_view=yes
    [/side]
    [side]
        no_leader=yes
        side=2
        team_name=good
        user_team_name=_"Good"
    gold=150
    {INCOME 32 30 29}
    village_gold=2
    recruit=Bandit,Outlaw,Trapper,Rogue
    share_view=yes
    [/side]
    [side]
        id=Luke
    type=Bringer of Light
    name=_"Luke, The Bringer of Light"
    canrecruit=yes
    gender=male
        side=3
        team_name=twisted_good
        user_team_name=_"Twisted Good"
    {GOLD 300 350 400}
    {INCOME 10 20 30}
    village_gold=3
    recruit=Royal Guard,Halberdier,Pilum Master,Master Bowman,Cavalier,Iron Mauler
    [ai]
        aggression=1.0
    [/ai]
    [/side]
    [side]
        id=boss_1
    type=Mage of Light
    generate_name=yes
    canrecruit=yes
        side=4
        team_name=twisted_good
        user_team_name=_"Twisted Good"
    {GOLD 400 450 500}
    {INCOME 10 20 30}
    village_gold=3
    recruit=Swordsman,Pikeman,Javelineer,Longbowman,Dragoon,Shock Trooper
    [modifications]
        [advance]
            id=warrior_instead_of_mage
            [effect]
                apply_to=attack
                name=lightbeam
                increase_damage=-60%
                increase_attacks=-1
            [/effect]
            [effect]
                apply_to=attack
                name=morning star
                increase_damage=60%
                increase_attacks=1
            [/effect]
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_CURES}
                [/abilities]
            [/effect]
        [/advance]
    [/modifications]
    [ai]
        aggression=1.0
    [/ai]
    [/side]
    [side]
        id=boss_2
    type=Grand Marshal
    generate_name=yes
    canrecruit=yes
        side=5
        team_name=twisted_good
        user_team_name=_"Twisted Good"
    {GOLD 400 450 500}
    {INCOME 10 20 30}
    village_gold=3
    recruit=Spearman,Bowman,Heavy Infantryman,Cavalryman
    [ai]
        aggression=1.0
    [/ai]
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of player, Rimaru or Burke"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
    {TBC_RECALL_ALL 20 5}
    [if]
        [variable]
            name=quests.marching_into_war_hired
            equals=yes
        [/variable]
        [then]
            [terrain]
                x,y=31,8
                terrain=Ke
            [/terrain]
            [terrain]
                x,y=30,7
                terrain=Ce
            [/terrain]
            [terrain]
                x,y=31,7
                terrain=Ce
            [/terrain]
            [terrain]
                x,y=32,7
                terrain=Ce
            [/terrain]
            [terrain]
                x,y=30,8
                terrain=Ce
            [/terrain]
            [terrain]
                x,y=32,8
                terrain=Ce
            [/terrain]
            [terrain]
                x,y=31,9
                terrain=Ce
            [/terrain]
            [redraw]
            [/redraw]
            [unit]
                canrecruit=yes
                side=2
                id=bandit_boss
                generate_name=yes
                type=Shadowalker
                x,y=31,8
            [/unit]
        [/then]
    [/if]
    [/event]

    [event]
        name=start
        {CAPTURE_VILLAGES 3 18 22 25}
        {CAPTURE_VILLAGES 1 20 5 10}
        [message]
            speaker=Rimaru
            message=_"They are coming, occupying the keeps and sending soldiers across the land. We must strike now."
        [/message]
        [message]
            speaker=elf_merc
            message=_"We must use the cover of the forests to our advantage. They must not use it to ambush us like they did before."
        [/message]
        [message]
            speaker=Al Ghareeb
            message=_"Let's hope that there won't be too many of them. Many soldiers wearing his crest were seen in Sand Empire, but that doesn't give us much information how many of them are here."
        [/message]
        [message]
            speaker=orc
            message=_"Enough talking, I can't wait to hack them to pieces."
        [/message]
    [if]
        [variable]
            name=quests.marching_into_war_hired
            equals=yes
        [/variable]
        [then]
            [message]
                speaker=bandit_boss
                message=_"I am here to help you hack them to pieces."
            [/message]
        [/then]
    [/if]
        [store_gold]
            side=1
            variable=gold
        [/store_gold]
    [if]
        [variable]
            name=gold
            less_than=300
        [/variable]
        [then]
            [message]
                speaker=Burke
                message=_"I need to remind you of one problem. A serious problem. Lord Konrad in his great wisdom forgot to give us enough resources. I am not very sure if we can deal with them with the resources we currently have. I'll need to ask him to give us some gold. He surely won't like it and may even miss it, but I think we need it more. Should I?"
                [option]
                message=_"Yes, I also think that we need more resources."
                [command]
                    [gold]
                        side=1
                        amount=300
                    [/gold]
                    {VARIABLE quests.demanded_gold_from_konrad yes}
                    [message]
                        speaker=Rimaru
                        message=_"I think that missing three hundred gold will not be a real problem for him. But what if it actually..."
                    [/message]
                [/command]
                [/option]
                [option]
                message=_"Nah, I assume that we can deal with them with what we have."
                [command]
                    [message]
                        speaker=Rimaru
                        message=_"I am not sure if that is the right choice, but if we prevail, young Konrad will be happy."
                    [/message]
                    [message]
                        speaker=hired_swordsman
                        message=_"And I will have more enemies to fight. I like that."
                    [/message]
                [/command]
                [/option]
            [/message]
        [/then]
    [/if]
    {CLEAR_VARIABLE gold}
    [/event]


    [event]
    name=last breath
    [filter]
        id=boss_1
    [/filter]
    [filter_second]
        side=1
    [/filter_second]
    [message]
        speaker=second_unit
        message=_"What a strange mage..."
    [/message]
    [message]
        speaker=Rimaru
        message=_"I wonder how he was even accepted into the order. His spellcasting abilities are between weak and terrible, he can't heal at all."
    [/message]
    [message]
        speaker=Burke
        message=_"But he mastered illumination. Clearly because he wanted to see better when fighting at night."
    [/message]
    [message]
        speaker=she_brother
        message=_"Our order... well, our past order, it is governed by lust for money and power in these days. He was probably a rich man, probably a skilled and revered soldier, who was annoyed by his inability to obtain a noble title. So he decided to gain a title and power in the order. You don't need skill or piety to join the order if you have money. I've noticed this a few times, but I willingly ignored it in my blind complacence."
    [/message]
    [/event]

    [event]
    name=attack
    [filter]
        side=1
    [/filter]
    [filter_second]
        id=Luke
    [/filter_second]
    [message]
        speaker=unit
        message=_"You will die, villain!"
    [/message]
    [fire_event]
        name=luke_talk
    [/fire_event]
    [/event]

    [event]
    name=attack
    [filter]
        id=Luke
    [/filter]
    [filter_second]
        side=1
    [/filter_second]
    [message]
        speaker=unit
        message=_"Heh, heh, prepare to die, puny one."
    [/message]
    [message]
        speaker=second_unit
        message=_"It will be you who will die today, villain!"
    [/message]
    [fire_event]
        name=luke_talk
    [/fire_event]
    [/event]

    [event]
    name=luke_talk
    [message]
        speaker=Luke
        message=_"It is amusing to watch your pathetic rebellion failing, I must say."
    [/message]
    [message]
        speaker=Rimaru
        message=_"Are you going to run away again, Luke? That would have quite a bad effect on the army you're leading."
    [/message]
    [message]
        speaker=Luke
        message=_"I think that I will have to accept the risk of taking a bruise this time. But watching you lose and die will be worth it."
    [/message]
    [message]
        speaker=Rimaru
        message=_"I think that many of his soldiers are rather his allies than people who were totally brainwashed by his babbles. Mentioning the darkness behind his power might reduce their motivation to continue fighting."
    [/message]
    [message]
        speaker=Burke
        message=_"I will enjoy it."
    [/message]
    [message]
        speaker=Luke
        message=_"What are you whispering there? Some heretic plans to slay the Child?"
    [/message]
    [message]
        speaker=Burke
        message=_"Sorry, I don't talk to necromancers."
    [/message]
    [message]
        speaker=Luke
        message=_"Why should I be a necromancer? Speak of your evidence! And anyway, need I to remind you that necromancy is <i>not forbidden</i>?"
    [/message]
    [message]
        speaker=Rimaru
        message=_"My old pal Burke gets sick when he hears a necromancer talking, and he's sick now. Obviously, he is sick of you. That is the evidence. And anyway, need I to remind you that necromancy is <i>forbidden within your order</i>?"
    [/message]
    [message]
        speaker=Luke
        message=_"Leading diseased soldiers like Burke into battle to have them spread the disease is a very dishonest approach to warfare."
    [/message]
    [message]
        speaker=orc
        message=_"Human talks are so annoying to listen to! Argh, my ears bleed!"
    [/message]
    [message]
        speaker=Burke
        message=_"I am sick of you, necromancer! Your order is supposed to inspect necromancers and fight them if they misuse their craft for evil purposes, not to be led by a man whose powers come from nobody-knows-where and leads them into war with other countries!"
    [/message]
    [message]
        speaker=bandit_merc
        message=_"You know why they obey him. He tolerates peculation and bribes, who would refuse such a boss? They will gladly tolerate his necromancy in return."
    [/message]
    [message]
        speaker=Rimaru
        message=_"How did you become so powerful then? Which Brother of Light was known for an ability to rain down meteors from the sky? For being capable of moving squads across the country instantly?"
    [/message]
    [message]
        speaker=Luke
        message=_"Gods could do it, and they told me how they did it."
        [option]
        message=_"Do you have any evidence about that?"
        [command]
            [message]
                speaker=Luke
                message=_"Well, let's say that I can do it. Who else could I learn it from?"
            [/message]
            [message]
                speaker=Rimaru
                message=_"Maybe the... Queen of Darkness?"
            [/message]
        [/command]
        [/option]
        [option]
        message=_"Let me think, who was last known for using such spells? Queen of Darkness?"
        [command]
            [message]
                speaker=Luke
                message=_"That's a fallacy. Queen of Darkness could use any spell we can think of. Using your broken logic, any spellcaster who uses something innovative could be accused of being her apprentice."
            [/message]
            [message]
                speaker=Rimaru
                message=_"Innovation usually requires experimentation. Your innovations are magnificent and very wicked. How would you conceal so many dark experiments?"
            [/message]
        [/command]
        [/option]
        [option]
        message=_"The gods were gods, beings of great power. You were a human. Where did you get such power?"
        [command]
            [message]
                speaker=Luke
                message=_"They did not do such things with pure power. They figured out magnificent spells during their extremely long life."
            [/message]
            [message]
                speaker=Rimaru
                message=_"But nobody else used those spells. Excepts gods, their children, Argan the Lich Lord, Queen of Darkness,... Who shares his power with you? Are you draining it from Reezer? Or do you have a pact with the Queen of Darkness?"
            [/message]
        [/command]
        [/option]
    [/message]
    [message]
        speaker=Luke
        message=_"You will not accuse me of being allied with the Queen of Darkness. Remember that she is the one who's excellent at various racketeering tricks, raising an army that looks huge, uniting groups against it under her own hidden leadership. She is usually on the side that seems to be fighting against her."
    [/message]
    [message]
        speaker=Luke
        message=_"You are fabricating evidence against me, using anything that looks strange against me to imagine links between my person and the Queen of Darkness. Your rebellion is obviously an attempt to seize power, to destroy the Light and let the Queen of Darkness rule this land!"
    [/message]
    [message]
        speaker=Luke
        message=_"Brave soldiers, warriors of the purest Light! Forget what these dark cultists say and protect this country from the powers of Darkness!"
    [/message]
    [message]
        speaker=Rimaru
        message=_"I... think that we failed at this. Kill that liar!"
    [/message]
    [/event]

    [event]
        name=burning ground
        [message]
            speaker=Rimaru
            message= _ "These flames are dealing serious damage to us."
        [/message]
        [message]
            speaker=Burke
            message= _ "We will need to fight him somewhere where the ground wasn't ignited yet."
        [/message]
        [message]
            speaker=she_brother
            message= _ "Let's hope that he can't do that repeatedly."
        [/message]
    [/event]

    [event]
        name=attack
    [filter]
        side=1
        [filter_wml]
            [variables]
                dazzled=yes
            [/variables]
        [/filter_wml]
    [/filter]
        [message]
            speaker=unit
            message= _ "Damn, I can barely see who I am attacking!"
        [/message]
    [/event]

    [event]
    first_time_only=no
    name=recruit
    [filter]
        side=3,4,5
    [/filter]
    [object]
        silent=yes
        [filter]
            x,y=$x1,$y1
        [/filter]
        [effect]
            apply_to=attack
            [set_specials]
                [chance_to_hit]
                    id=dazzle_counter
                    value=30
                    apply_to=opponent
                    [filter_base_value]
                        greater_than=30
                    [/filter_base_value]
                    [filter_opponent]
                        [filter_wml]
                            [variables]
                                dazzled=yes
                            [/variables]
                        [/filter_wml]
                    [/filter_opponent]
                [/chance_to_hit]
            [/set_specials]
        [/effect]
    [/object]
    [/event]

    [event]
        name=last breath
    [filter]
        id=Luke
    [/filter]
        [message]
            speaker=unit
            message= _ "I'll be back."
        [/message]
        [message]
            speaker=Rimaru
            message= _ "Go crying to your momma, the Queen of Darkness."
        [/message]
    [move_unit]
        id=Luke
        to_x=1
        to_y=46
        fire_event=no
    [/move_unit]
    [kill]
        id=Luke
        fire_event=no
        animate=no
    [/kill]
    [/event]

    [event]
    name=enemies defeated
        [message]
            speaker=faithful_lieutenant
            message=_"Victory! I knew that we would win! The right cause is always victorious!"
        [/message]
        [message]
            speaker=elf_merc
            message=_"Yeah, I like that, a few more victories and my payment will come."
        [/message]
        [message]
            speaker=Burke
            message=_"This defeat will rid them of those complacent smiles on their faces."
        [/message]
    {VARIABLE previous_scenario marching_into_war}
    [disallow_recruit]
        side=1
        type=Spearman,Bowman,Cavalryman,Sergeant,Heavy Infantryman,Fencer,Duelist,Swordsman,Pikeman,Javelineer,Lieutenant,Shock Trooper,Longbowman,Dragoon
    [/disallow_recruit]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Rimaru
            message= _ "It's too late, Uver's armies surely left the Sand Empire and are preparing to strike at us."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    {TBC_GLOBAL_EVENTS_STRATEGY}
[/scenario]
