#textdomain wesnoth-tbc
[scenario]
    id="05_Coming_of_the_Tide"
    name= _ "Coming of the Tide"
    map_data="{~add-ons/The_Beautiful_Child/maps/Thunderhold.map}"
    next_scenario=Fertile_Lands
    victory_when_enemies_defeated=yes
    {TURNS 20 18 17}
    {DEFAULT_MUSIC_PLAYLIST}
    {DEFAULT_SCHEDULE}


    [side]
        type=Swordsman
        id=player
        canrecruit=yes
        side=1
        controller=human
        recruit=Spearman,Bowman,Cavalryman,Sergeant,Heavy Infantryman,Fencer,Duelist,Swordsman,Pikeman,Javelineer,Lieutenant,Shock Trooper,Longbowman,Dragoon
        village_gold=1
        {GOLD 100 90 80}
        team_name=good
        user_team_name=_"Good"
        shroud=yes
        fog=no
    share_view=yes
    [/side]
    [side]
        no_leader=yes
        side=2
        team_name=good
        user_team_name=_"Good"
    gold=250
    village_gold=2
    recruit=Knight
    share_view=yes
    [/side]
    [side]
        no_leader=yes
        side=3
        team_name=twisted_good
        user_team_name=_"Twisted Good"
    {GOLD 200 250 300}
    {INCOME 30 38 45}
    village_gold=3
    recruit=White Mage
    [ai]
        aggression=1.0
        passive_leader=yes
    [/ai]
    [/side]
    [side]
        no_leader=yes
        side=4
        team_name=twisted_good
        user_team_name=_"Twisted Good"
    {GOLD 500 600 700}
    {INCOME 30 38 45}
    village_gold=3
    recruit=Swordsman,Pikeman,Javelineer,Longbowman,Dragoon,Shock Trooper
    [ai]
        aggression=1.0
        passive_leader=yes
    [/ai]
    [/side]
    [side]
        no_leader=yes
        side=5
        team_name=twisted_good
        user_team_name=_"Twisted Good"
    {GOLD 400 450 500}
    {INCOME 30 38 45}
    village_gold=3
    recruit=Shock Trooper,Duelist,Red Mage
    [ai]
        aggression=1.0
        passive_leader=yes
    [/ai]
    [/side]

    [event]
        name=prestart
    [remove_shroud]
        side=1
    [/remove_shroud]
    [place_shroud]
        side=1
        terrain=Xol,Mm^Xm
    [/place_shroud]
        {PLACE_IMAGE scenery/bookshelf-1.png 1 3}
        {PLACE_IMAGE items/box.png 14 1}
        {PLACE_IMAGE items/box.png 7 6}
        {PLACE_IMAGE items/box.png 12 3}
        {PLACE_IMAGE scenery/bookshelf-2.png 6 1}
        {PLACE_IMAGE scenery/bookshelf-3.png 3 2}
        {PLACE_IMAGE cabinet.png 2 2}
    [time_area]
        terrain=Iwr,Xol
        {INDOORS}
    [/time_area]
        [objectives]
            side=1
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of player, Rimaru or Burke"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
    [unit]
        side=2
        ai_special=guardian
        x,y=3,4
        type=Champion
        id=Konrad_II
        name= _"Konrad II"
        canrecruit=yes
        [modifications]
            [advance]
                id=portrait
                [effect]
                    apply_to=profile
                    portrait="portraits/humans/transparent/fencer.png"
                [/effect]
            [/advance]
        [/modifications]
    [/unit]
    [teleport]
        [filter]
            id=player
        [/filter]
        x,y=3,4
        clear_shroud=yes
    [/teleport]
    {TBC_RECALL_ALL 3 4}
    [if]
        [variable]
            name=quests.demanded_gold_from_konrad
            equals=yes
        [/variable]
        [else]
            [unit]
                canrecruit=yes
                side=2
                id=Enfor
                generate_name=yes
                type=Grand Knight
                x,y=33,2
            [/unit]
        [/else]
    [/if]
    {GUARDIAN_UNIT 2 Peasant 14 30}
    [+unit]
        id=scared_peasant
    [/unit]
    [/event]

    [event]
        name=start
        {CAPTURE_VILLAGES 1 10 16 30}
        [message]
            speaker=Burke
            message=_"We have defeated them. We can now invade the town!"
        [/message]
        [message]
            speaker=Konrad_II
            message=_"That was a great victory indeed. I've heard rumours that you scared off Luke himself. He rained fiery death on you, spread flames with every step and kept bringing new soldiers out of nowhere, but you still managed to defeat him. A pity that he ran away, his death would be a crushing blow to our enemies."
        [/message]
        [message]
            speaker=Rimaru
            message=_"He's just the favourite finger of the monster. The one that is used to pick the nose. There are many others, willing to replace him and continue his politics. He tolerates the corruption and spreading their power means more resources for peculation, more powerful people who are willing to offer bribes."
        [/message]
        [message]
            speaker=Konrad_II
            message=_"Still, destroying their leader might cause some in-fighting and destabilisation. It would also shatter the faith of many. Considering your comparison, it's like a dilemma whether to use the index finger on the left hand or ring finger of the right hand to pick the nose after losing the index finger on the right hand. Combined with the bad appearance of missing a finger."
        [/message]


#define ARRIVE ID SIDE TYPE X Y
    [unit]
        side={SIDE}
        canrecruit=yes
        id={ID}
        x,y=14,33
        type={TYPE}
        generate_name=yes
        gender=male
    [/unit]
    [move_unit]
        id={ID}
        to_x={X}
        to_y={Y}
        fire_event=no
    [/move_unit]
#enddef
    {ARRIVE boss_1 3 "Mage of Light" 16 32}
    {ARRIVE boss_2 4 "Grand Marshal" 25 32}
    {ARRIVE boss_3 5 "Chaos Rider" 3 32}
#undef ARRIVE
    [terrain]
        x,y=16,32
        terrain=Ket
    [/terrain]
    [terrain]
        x,y=15-17,31
        terrain=Ce
    [/terrain]
    [terrain]
        x,y=17,32-33
        terrain=Ce
    [/terrain]

    [terrain]
        x,y=25,32
        terrain=Ket
    [/terrain]
    [terrain]
        x,y=24-26,31
        terrain=Ce
    [/terrain]
    [terrain]
        x,y=24,32
        terrain=Ce
    [/terrain]
    [terrain]
        x,y=26,32
        terrain=Ce
    [/terrain]
    [terrain]
        x,y=25,33
        terrain=Ce
    [/terrain]

    [terrain]
        x,y=3,32
        terrain=Ket
    [/terrain]
    [terrain]
        x,y=2-4,31
        terrain=Ce
    [/terrain]
    [terrain]
        x,y=4,32
        terrain=Ce
    [/terrain]

    [move_unit]
        id=scared_peasant
        to_x=8
        to_y=2
        fire_event=no
    [/move_unit]

        [message]
            speaker=scared_peasant
            message=_"Enemies! Invaders! We have been attacked!"
        [/message]
        [message]
            speaker=Konrad_II
            message=_"Bandits?"
        [/message]
        [message]
            speaker=bandit_merc
            message=_"Bandits aren't so stupid to attack this town."
        [/message]
        [message]
            speaker=scared_peasant
            message=_"No bandits. Soldiers, under lord Uver's crest. There are so numerous!"
        [/message]
        [message]
            speaker=orc
            message=_"You should learn from orcs. Don't make so many plans. Gods laugh when humans make plans."
        [/message]
        [message]
            speaker=Burke
            message=_"Do we have any allies?"
        [/message]
    [if]
        [variable]
            name=quests.demanded_gold_from_konrad
            equals=yes
        [/variable]
        [then]
            [message]
                speaker=Konrad_II
                message=_"I wanted to employ one of my knights, Enfor, to protect my town, but I didn't have supplies needed for his journey here because you took them. We'll be alone for this."
            [/message]
        [/then]
        [else]
            [message]
                speaker=Konrad_II
                message=_"I managed to employ one of my knights, Enfor, to protect my town. He and other knights following him will surely help us a lot."
            [/message]
        [/else]
    [/if]
        [message]
            speaker=Rimaru
            message=_"Good to know."
        [option]
        message=_"How did it happen that they came here? They were defeated like two days ago!"
        [command]
            [message]
                speaker=Rimaru
                message=_"Maybe Uver isn't so dumb and didn't send all soldiers into the previous battle. He had much more reserves than we thought."
            [/message]
            [message]
                speaker=she_brother
                message=_"Brothers of Light are behind this. It seems that they gave him good advice this time."
            [/message]
            [message]
                speaker=Konrad_II
                message=_"I am giving you command of my army, you have won much more battles than I ever fought."
            [/message]
            [message]
                speaker=faithful_lieutenant
                message=_"Glad to hear your words of approval."
            [/message]
        [/command]
        [/option]
        [option]
        message=_"Can we have control of your army, Konrad?"
        [command]
            [message]
                speaker=faithful_lieutenant
                message=_"We will lead them to victory, as always."
            [/message]
            [message]
                speaker=Konrad_II
                message=_"Okay. I wanted to suggest that myself."
            [/message]
        [/command]
        [/option]
        [option]
        message=_"This is bad. Enemies are at our gates. We're doomed, right?"
        [command]
            [message]
                speaker=faithful_lieutenant
                message=_"They are, but they might not be numerous enough and their backups might not be sufficient."
            [/message]
            [message]
                speaker=Burke
                message=_"They are here, but it may be an all in assault, hoping to destroy us before we unleash our devastating attack. This was possibly the only way they could surprise us."
            [/message]
            [message]
                speaker=hired_swordsman
                message=_"This is a nice surprise for me, I was afraid that I will have to wait more until I fight again."
            [/message]
            [message]
                speaker=Konrad_II
                message=_"It appears the Brothers of Light expected our moves and brought some soldiers to support Uver. Or that he wasn't as stupid as we assumed and didn't send as much forces south into war as we assumed. Anyway, take control of my army, you've proven to be very good commanders."
            [/message]
        [/command]
        [/option]
        [/message]
        [message]
            speaker=elf_merc
            message=_"How about running to the hills and letting this be? Guerilla warfare suits us much better, I think..."
        [/message]
        [message]
            speaker=Rimaru
            message=_"Let's look at them."
        [/message]
        [message]
            speaker=Konrad_II
            message=_"I'll stay inside, my death would have very bad consequences on our campaign."
        [/message]
    [move_unit]
        side=1
        to_x=11
        to_y=17
        fire_event=no
    [/move_unit]
        [message]
            speaker=boss_1
            message=_"Your ways of thinking are funny. We underestimated you and didn't send much soldiers against you, and you assumed that we are disorganised and prepared for an attack at Faithdome. You thought that a small squad would easily fight their way through our guards and sent most of your soldiers back... Ridiculous."
        [/message]
        [message]
            speaker=Rimaru
            message=_"We made your big boss run away. Ridiculous."
        [/message]
        [message]
            speaker=boss_1
            message=_"When we realised that old Konrad's faith was deviating, we decided to send some of Uver's soldiers back because he would soon have to deal with traitors from inside. That ruined your plans."
        [option]
        message=_"We'll defeat you just like we defeated your boss before. Then we'll return to our original plan and you won't be able to do anything about it."
        [command]
            [message]
                speaker=bandit_merc
                message=_"Yes, intimidate them until they cry!"
            [/message]
            [message]
                speaker=boss_1
                message=_"He wasn't defeated, he merely decided that letting you believe that you defeated him would make you overestimate your abilities and ultimately fail."
            [/message]
            [message]
                speaker=hired_halberdier
                message=_"He was bleeding badly and I was longing to pierce his black heart. His flight was obviously the only way for him to escape."
            [/message]
            [message]
                speaker=Rimaru
                message=_"I haven't heard such a funny excuse for long. Pretending that a shameful escape was deception."
            [/message]
        [/command]
        [/option]
        [option]
        message=_"Maybe you are numerous, but we have fortifications."
        [command]
            [message]
                speaker=elf_merc
                message=_"You will regret your decision to attack very soon when I'll rain death from the walls."
            [/message]
            [message]
                speaker=boss_1
                message=_"They will crumble when the righteous ones arrive."
            [/message]
            [message]
                speaker=orc
                message=_"Your blind faith will kill you soon."
            [/message]
        [/command]
        [/option]
        [option]
        message=_"Attack! Whoever who brings me their leaders' heads will be awarded by a hundred golden pieces!"
        [command]
            [message]
                speaker=elf_merc
                message=_"I will need a harpoon... Dammit."
            [/message]
        [/command]
        [/option]
        [/message]
    [end_turn]
    [/end_turn]
    [/event]


    [event]
    name=last breath
    [filter]
        id=boss_1
    [/filter]
    [message]
        speaker=unit
        message=_"No! You cheaters! You don't fight honestly!"
    [/message]
    [message]
        speaker=second_unit
        message=_"You underestimated us. You thought that you're better, but you aren't. Now, worms will eat your face."
    [/message]
    [/event]

    [event]
    name=enemies defeated
        [message]
            speaker=Al Ghareeb
            message=_"I knew that we would win. My comrades in the Sand Empire are fighting bravely to keep our enemies far away from this place."
        [/message]
        [message]
            speaker=hired_halberdier
            message=_"This was a nice fight."
        [/message]
        [message]
            speaker=Rimaru
            message=_"We must try to use the chaos now. They're sending supplies and reinforcements into slaughter and when they'll realise that there is no battle anymore, they'll spend a lot of effort to regroup and attack again. It's the best time to strike unexpectedly and dethrone lord Uver."
        [/message]
    {VARIABLE previous_scenario coming_of_the_tide}
    [disallow_recruit]
        side=1
        type=Spearman,Bowman,Cavalryman,Sergeant,Heavy Infantryman,Fencer,Duelist,Swordsman,Pikeman,Javelineer,Lieutenant,Shock Trooper,Longbowman,Dragoon
    [/disallow_recruit]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Rimaru
            message= _ "This is taking too much time, I am sure that they have some huge reinforcements coming."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    {TBC_GLOBAL_EVENTS_STRATEGY}
[/scenario]
