#textdomain wesnoth-tbc
[scenario]
    id="07_Siege_of_Ziggurat"
    name= _ "Siege of Ziggurat"
    map_data="{~add-ons/The_Beautiful_Child/maps/Ziggurat_Town.map}"
    next_scenario=Ziggurat_Town
    victory_when_enemies_defeated=yes
    {TURNS 26 24 22}
    {DEFAULT_MUSIC_PLAYLIST}
    {DEFAULT_SCHEDULE}


    [side]
        type=Swordsman
        id=player
        canrecruit=yes
        side=1
        controller=human
        recruit=Spearman,Bowman,Cavalryman,Sergeant,Heavy Infantryman,Fencer,Duelist,Swordsman,Pikeman,Javelineer,Lieutenant,Shock Trooper,Longbowman,Dragoon
        village_gold=1
        {GOLD 200 180 160}
        team_name=good
        user_team_name=_"Good"
        shroud=no
        fog=no
    [/side]
    [side]
    type=Master at Arms
    id=Konrad_II
    name= _"Konrad II"
    canrecruit=yes
    [modifications]
        [advance]
            id=portrait
            [effect]
                apply_to=profile
                portrait="portraits/humans/transparent/fencer.png"
            [/effect]
        [/advance]
    [/modifications]
        side=2
        team_name=good
        user_team_name=_"Good"
    gold=250
    village_gold=2
    income=45
    recruit=Knight,Swordsman,Pikeman,Longbowman,Duelist,Shock Trooper,Javelineer
    share_view=yes
    [/side]
    [side]
        id=boss_1
    type=Mage of Light
    generate_name=yes
    random_gender=yes
        side=3
        team_name=twisted_good
        user_team_name=_"Twisted Good"
    {GOLD 0 50 100}
    {INCOME 30 38 45}
    village_gold=3
    recruit=Mage of Light,Shock Trooper
    [ai]
        aggression=1.0
        passive_leader=yes
    [/ai]
    [/side]
    [side]
        id=boss_2
    type=Mage of Light
    generate_name=yes
    random_gender=yes
        side=4
        team_name=twisted_good
        user_team_name=_"Twisted Good"
    {GOLD 0 50 10}
    {INCOME 30 38 45}
    village_gold=3
    recruit=Mage of Light,Red Mage
    [ai]
        aggression=1.0
        passive_leader=yes
    [/ai]
    [/side]
    [side]
        id=boss_3
    type=Destroyer
    generate_name=yes
        side=5
        team_name=twisted_good
        user_team_name=_"Twisted Good"
    {GOLD 500 650 800}
    {INCOME 30 38 45}
    village_gold=3
    recruit=Royal Guard,Halberdier,Iron Mauler,Master Bowman,Cavalier
    [ai]
        aggression=1.0
        passive_leader=yes
    [/ai]
    [/side]
    [side]
        id=boss_4
    type=Grand Knight
    generate_name=yes
        side=6
        team_name=twisted_good
        user_team_name=_"Twisted Good"
    {GOLD 100 150 200}
    {INCOME 30 38 45}
    village_gold=3
    recruit=Knight
    [ai]
        aggression=1.0
        passive_leader=yes
    [/ai]
    [/side]
    [side]
        id=boss_5
    type=Grand Marshal
    generate_name=yes
        side=7
        team_name=twisted_good
        user_team_name=_"Twisted Good"
    {GOLD 0 50 100}
    {INCOME 30 38 45}
    village_gold=3
    recruit=Spearman,Bowman,Cavalryman,Sergeant,Heavy Infantryman,Fencer,Duelist,Swordsman,Pikeman,Javelineer,Lieutenant,Shock Trooper,Longbowman,Dragoon
    [ai]
        aggression=1.0
        passive_leader=yes
    [/ai]
    [/side]

    [event]
        name=prestart
    [item]
        x,y=20,6
        halo=ziggurat.png
    [/item]
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the marshal defending the valley"
                condition=win
                [show_if]
            [not]
                    [variable]
                        name=quests.ziggurat_siege
                        equals=yes
                    [/variable]
            [/not]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
                [show_if]
                    [variable]
                        name=quests.ziggurat_siege
                        equals=yes
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Death of player, Rimaru, Burke or Sicaria"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
    {TBC_RECALL_ALL 39 4}
    [/event]

    [event]
        name=start
        {CAPTURE_VILLAGES 2 12 14 15}
        {CAPTURE_VILLAGES 4 36 22 10}
        {CAPTURE_VILLAGES 5 28 27 15}
        {CAPTURE_VILLAGES 1 36 4 10}
        [message]
            speaker=faithful_lieutenant
            message=_"They are in full force, defeating them won't be easy."
        [/message]
        [message]
            speaker=Burke
            message=_"We must defeat them."
        [/message]
        [message]
            speaker=wise_warrior
            message=_"Indeed. We will need this victory to bring peace from the Brothers' schemes. Wait... I am speaking almost like them."
        [/message]
        [message]
            speaker=Konrad_II
            message=_"Look there, you can see Ziggurat through the mountains. Their most solemn building rebuilt at the time of the Child's arrival. It used to be the residence of the principals, but it has never been their main base. That one is far away, away from our reach."
        [/message]
    [scroll_to]
        x,y=20,6
    [/scroll_to]
    [delay]
        time=1000
    [/delay]
        [message]
        scroll=no
            speaker=Rimaru
            message=_"It was clearly made to impress."
        [/message]
        [message]
        scroll=no
            speaker=elf_merc
            message=_"It's so tall that I would not be able to hit somebody on its balcony with an arrow."
        [/message]
        [message]
            speaker=Konrad_II
            message=_"Our problem is that they will evacuate it as soon as they realise that they're going to be surrounded. We need to defeat those enemies quickly so that they wouldn't have the time to take everything they need. They will be slow when Luke is gone and they haven't chosen a new boss."
        [/message]
        [message]
            speaker=she_brother
            message=_"I wonder if they'll call the new one simply Grandmaster or give him the new title of Bringer of Light."
        [/message]
        [message]
            speaker=faithful_lieutenant
            message=_"I suggest not to try to run too far, we don't want to make them panic and escape. Just towards the end of the valley we need to block."
        [/message]
        [message]
            speaker=Rimaru
            message=_"It's good to have you fighting by our side, Konrad."
        [/message]
    [/event]


    [event]
    name=last breath
    [filter]
        id=boss_3
    [/filter]
    [message]
        speaker=unit
        message=_"Damned pagans, how did you get so numerous?"
    [/message]
    [message]
        speaker=second_unit
        message=_"For our cause is righteous."
    [/message]
    [gold]
        side=7
        {QUANTITY amount 300 375 450}
    [/gold]
    [gold]
        side=5
        {QUANTITY amount 200 250 300}
    [/gold]
    [/event]
    [event]
    name=last breath
    [filter]
        id=boss_4
    [/filter]
    [filter_condition]
        [have_unit]
            id=boss_5
        [/have_unit]
    [/filter_condition]
    [message]
        speaker=unit
        message=_"I can't hold them anymore. We've been defeated here."
    [/message]
    [message]
        speaker=boss_5
        message=_"I will send reinforcements, let's hope that they will suffice."
    [/message]
    [message]
        speaker=unit
        message=_"They are strong. I think that it's because our faith is growing weak."
    [/message]
    [message]
        speaker=second_unit
        message=_"Your faith has no effect on your performance. You are weak, regardless of your faith's quality."
    [/message]
    [message]
        speaker=boss_5
        message=_"I am starting to get a bad feeling about this, we never thought that their onslaught will penetrate through the valleys. Even if we managed to defend Ziggurat, they are already free to roam and raid the lowlands south."
    [/message]
    [message]
        speaker=unit
        message=_"I failed."
    [/message]
    [message]
        speaker=boss_5
        message=_"Don't take it so bad, everybody fails once."
    [/message]
    [gold]
        side=7
        {QUANTITY amount 300 375 450}
    [/gold]
    {TBC_SPAWN_UNITS_NO_LEADER 7 1.6 "Swordsman,Javelineer,Longbowman,Pikeman,Shock Trooper" 13 23}
    [/event]

    [event]
    name=moveto
    [filter]
        side=1
        x,y=3-20,1-29
    [/filter]
    [message]
        speaker=boss_5
        message=_"The invaders are here! I can't hold them. It's unpleasant, but it's very probable that we will be defeated soon."
    [/message]
    [message]
        speaker=boss_1
        message=_"We'll send everyone we can send to support you. We need to hold them away from here, we can't let them kill Reezer."
    [/message]
    [message]
        speaker=boss_2
        message=_"Do your best to stop them, our very survival depends on you."
    [/message]
    [message]
        speaker=boss_5
        message=_"But I strongly doubt that we'll prevail, they're so numerous!"
    [/message]
    [gold]
        side=3
        amount=100
    [/gold]
    [gold]
        side=4
        amount=100
    [/gold]
    [/event]

    [event]
    name=last breath
    [filter]
        id=boss_5
    [/filter]
    [fire_event]
        name=siege_start
    [/fire_event]
    [/event]

    [event]
    name=moveto
    [filter]
        side=1
        x,y=1-19,1-16
    [/filter]
    [fire_event]
        name=siege_start
    [/fire_event]
    [/event]

    [event]
    name=siege_start
    [message]
        speaker=boss_5
        message=_"I have warned you. We have been defeated and you didn't evacuate. You are doomed and I failed to protect you. The odds were against me, though."
    [/message]
    [message]
        speaker=boss_1
        message=_"There is a hidden path through the mountains. We can still escape, but we'll need to delay them ourselves and we'll need more preparations for that."
    [/message]
    [message]
        speaker=boss_2
        message=_"But many of us will die defending those who retreat. Well, heroic death is better than total defeat and stories of our achievements ruined by these heathens."
    [/message]
    [message]
        speaker=boss_1
        message=_"The problem is that many of those we'll have to send to battle are important people for our order, no expendable acolytes like before. We shall not allow the memory of them to be forgotten."
    [/message]
    [gold]
        side=3
        {QUANTITY amount 300 375 450}
    [/gold]
    [gold]
        side=4
        {QUANTITY amount 400 550 700}
    [/gold]
    [modify_turns]
        add=10
    [/modify_turns]
    {VARIABLE quests.ziggurat_siege yes}
    [message]
        speaker=Konrad_II
        message=_"We must destroy them all before they succeed with that escape!"
    [/message]
    [/event]


    [event]
    name=moveto
    [filter]
        side=1
        x,y=2-19,12-20
    [/filter]
    [message]
        speaker=boss_1
        message=_"They are too close, we have to retreat towards Ziggurat."
    [/message]
    [message]
        speaker=boss_2
        message=_"That's unpleasant, but I see no other options."
    [/message]
    [move_unit]
        id=boss_1
        to_x=16
        to_y=10
        fire_event=no
    [/move_unit]
    [move_unit]
        id=boss_2
        to_x=12
        to_y=8
        fire_event=no
    [/move_unit]
    [gold]
        side=3
        {QUANTITY amount 200 250 300}
    [/gold]
    [gold]
        side=4
        {QUANTITY amount 200 250 300}
    [/gold]
    [/event]

    [event]
    name=last breath
    [filter]
        id=boss_1
    [/filter]
        [message]
            speaker=boss_2
            message=_"No, how will I survive it without you?!"
        [/message]
    [/event]

    [event]
    name=last breath
    [filter]
        id=boss_2
    [/filter]
        [message]
            speaker=boss_1
            message=_"With you dead, I can't hold them!"
        [/message]
    [/event]

    [event]
    name=enemies defeated
        [message]
            speaker=hired_swordsman
            message=_"This was a nice battle! With a victorious end!"
        [/message]
        [message]
            speaker=Al Ghareeb
            message=_"Haha, you invaded Sand Empire, we invaded your Ziggurat. Prepare to die, marooned leadership of Brothers of Light."
        [/message]
        [message]
            speaker=Burke
            message=_"Whoever was in Ziggurat will not leave it until we allow them. Excellent."
        [/message]
        [message]
            speaker=Konrad_II
            message=_"We shall storm it soon, but we need some rest after the battle. Those inside are cut from supplies anyway, they can only hope for reinforcements from south."
        [/message]
        [message]
            speaker=Sicaria
            message=_"And they have no fresh souls to eat."
        [/message]
        [message]
            speaker=she_brother
            message=_"I wonder what happens to those who regularly devour souls if they are cut from them for some time."
        [/message]
    {VARIABLE previous_scenario siege_of_ziggurat}
    [disallow_recruit]
        side=1
        type=Spearman,Bowman,Cavalryman,Sergeant,Heavy Infantryman,Fencer,Duelist,Swordsman,Pikeman,Javelineer,Lieutenant,Shock Trooper,Longbowman,Dragoon
    [/disallow_recruit]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=time over
    [filter_condition]
        [not]
            [variable]
                name=quests.ziggurat_siege
                equals=yes
            [/variable]
        [/not]
    [/filter_condition]
        [message]
            speaker=boss_1
            message= _ "All preparations are finished. Start the evacuation!"
        [/message]
        [message]
            speaker=boss_2
            message= _ "It's better to leave Ziggurat to these heretics than to risk losing Reezer. Evacuate!"
        [/message]
        [message]
            speaker=Burke
            message= _ "Darn, they are going to flee!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
    [filter_condition]
        [variable]
            name=quests.ziggurat_siege
            equals=yes
        [/variable]
    [/filter_condition]
        [message]
            speaker=Burke
            message= _ "They're leaving for the mountains. We have failed!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    {TBC_GLOBAL_EVENTS_STRATEGY}
[/scenario]
