#define LOTI_EXTRA_ADVANCEMENT_LINES
    [modify_unit_type]
        type="Assassin"
        set_advances_to="Exterminator"
        set_experience=300
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Master at Arms"
        set_advances_to="Champion,Shadowalker"
        set_experience=320
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Necromancer"
        set_advances_to="Arch Necromancer,09 Ancient Lich,Demilich"
        set_experience=300
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Lich"
        set_advances_to="09 Ancient Lich,Demilich,Lich King"
        set_experience=300
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Elvish Champion"
        set_advances_to="Elvish Juggernaut"
        set_experience=250
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Orcish Slayer"
        set_advances_to="Orcish Nightblade loti"
        set_experience=220
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Elvish Shyde"
        set_advances_to="Faerie Incarnation"
        set_experience=250
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Soulless"
        set_advances_to="Monstrosity,Bone Shooter,Revenant,Necrophage"
        set_experience=90
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Skeleton"
        add_advancement="Chocobone"
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Revenant"
        add_advancement="Death Knight"
    [/modify_unit_type]
    [modify_unit_type]
        type="Revenant"
        add_advancement="Zombie Rider"
    [/modify_unit_type]
    [modify_unit_type]
        type="Revenant LotI"
        add_advancement="Death Knight"
    [/modify_unit_type]
    [modify_unit_type]
        type="Revenant LotI"
        add_advancement="Zombie Rider"
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Death Knight"
        set_advances_to="Deathlord,Infernal Knight,Lich King"
        set_experience=270
    [/modify_unit_type]
    [modify_unit_type]
        type="Death Knight LotI"
        set_advances_to="Deathlord,Infernal Knight,Lich King"
        set_experience=270
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Draug"
        set_advances_to="Deathlord"
        set_experience=250
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Chocobone LotI"
        set_advances_to="Grim Knight,Zombie Rider"
        set_experience=180
    [/modify_unit_type]
    [modify_unit_type]
        type="Chocobone"
        set_advances_to="Grim Knight,Zombie Rider"
        set_experience=180
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Ghast"
        set_advances_to="Abomination"
        set_experience=300
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Direwolf Rider"
        set_advances_to="Werewolf Rider"
        set_experience=300
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Troll Warrior"
        set_advances_to="Siege Troll"
        set_experience=280
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Elvish Sharpshooter"
        set_advances_to="Elvish Assassin,Elvish Gryphon Rider"
        set_experience=250
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Elvish Outrider"
        set_advances_to="Elvish Gryphon Rider"
        set_experience=250
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Spectre"
        set_advances_to="Reaper"
        set_experience=300
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Dwarvish Dragonguard"
        set_advances_to="Dwarvish Technocrat"
        set_experience=300
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Elvish Sylph"
        set_advances_to="Elvish Seer"
        set_experience=500
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Silver Mage"
        set_advances_to="Duelist Wizard"
        set_experience=300
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Troll Rocklobber"
        set_advances_to="Troll Boulderlobber"
        set_experience=225
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Nightgaunt"
        set_advances_to="Dark Shade"
        set_experience=250
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Fencer"
        add_advancement="Sword Mage"
    [/modify_unit_type]
    [modify_unit_type]
        type="Mage LotI"
        add_advancement="Sword Mage"
    [/modify_unit_type]
    [modify_unit_type]
        type="Mage"
        add_advancement="Sword Mage"
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Lancer"
        set_advances_to="Lunatic Knight"
        set_experience=200
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Royal Guard"
        set_advances_to="Swordmaster"
        set_experience=320
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Great Mage"
        set_advances_to="Elder Mage LotI"
        set_experience=500
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Banebow"
        set_advances_to="Soul Shooter"
        set_experience=280
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Halberdier"
        set_advances_to="Scythemaster"
        set_experience=300
    [/modify_unit_type]
       
    [modify_unit_type]
        type="Elvish High Lord"
        set_advances_to="Elvish Overlord"
        set_experience=250
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Javelineer"
        set_advances_to="Pilum Master"
        set_experience=200
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Dwarvish Berserker"
        set_advances_to="Dwarvish Battlerager"
        set_experience=150
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Dwarvish Sentinel"
        set_advances_to="Dwarvish Protector"
        set_experience=250
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Deathblade"
        set_advances_to="Phantom,Grim Knight"
        set_experience=120
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Elvish Marshal"
        set_advances_to="Elvish Warlord"
        set_experience=260
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Dwarvish Lord"
        set_advances_to="Dwarvish Hero"
        set_experience=300
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Goblin Pillager"
        set_advances_to="Goblin Ravager"
        set_experience=180
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Elvish Avenger"
        set_advances_to="Elvish Nightprowler"
        set_experience=230
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Orcish Slurbow"
        set_advances_to="Orcish Strafer"
        set_experience=280
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Orcish Warlord"
        set_advances_to="Orcish Warmonger"
        set_experience=350
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Goblin Impaler"
        set_advances_to="Sky Goblin"
        set_experience=90
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Grand Knight"
        set_advances_to="Dragon Rider"
        set_experience=800
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Grand Marshal"
        set_advances_to="Duke,Dragon Rider"
        set_experience=500
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Huntsman"
        set_advances_to="Predator"
        set_experience=320
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Ranger"
        set_advances_to="Forester"
        set_experience=300
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Cavalier"
        set_advances_to="Chaos Rider"
        set_experience=260
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Paladin"
        set_advances_to="Prophet"
        set_experience=300
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Mage of Light"
        set_advances_to="Celestial Messenger,Prophet"
        set_experience=300
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Iron Mauler"
        set_advances_to="Destroyer,Blackguard"
        set_experience=320
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Highwayman"
        set_advances_to="Shadow Prince,Blackguard"
        set_experience=300
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Fugitive"
        set_advances_to="Shadow Prince"
        set_experience=300
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Goblin Rouser"
        set_advances_to="Goblin Warbanner"
        set_experience=80
    [/modify_unit_type]
    
    [modify_unit_type]
        type="Master Bowman"
        set_advances_to="Champion Bowman"
        set_experience=300
    [/modify_unit_type]
#enddef
