#textdomain wesnoth-loti
[editor_group]
    id = "wesnoth-UMC-LotI"
    name = _ "Legend of the Invincibles (custom terrains)"
    icon = "group_custom"
[/editor_group]

{TERRAIN_BASE_RANDOM     Zaw                                                       frozen/arctic_wasteland}
{TERRAIN_BASE_RANDOM     Zvw                                                       hell/volcanic_wasteland}
{TERRAIN_BASE_RANDOM     Zwsl                                                       hell/wasteland}
{TERRAIN_BASE_RANDOM     Zgwl                                                       hell/weird_landscape}
{OVERLAY_B               *^Zewe                                   ANIMATION_08_140 hell/weird_eye}
{OVERLAY_B               *^Zews                                   ANIMATION_18_70 hell/weird_eyes}
{OVERLAY_B               *^Zewt                                   ANIMATION_08_140 hell/weird_tentacle}
{OVERLAY_B               *^Zewc                                   ANIMATION_08_140 hell/weird_tentacles}
{OVERLAY_RANDOM          *^Zdcm                                                      hell/demonic_cemetery}
{TERRAIN_BASE            Zic*                                                        frozen/ice-cave-wall}
{NEW:WALL             Zic*            (!,Zic*)                                   frozen/ice-cave-wall}
{NEW:WALL             Zic*            (Qx*,Ql*)                                 frozen/ice-cave-wall-chasm}
{OVERLAY_RANDOM          *^Xis                                                      frozen/ice-shards}
{OVERLAY             *^Vzps  village/power_source1.png:200,village/power_source2.png:200,village/power_source3.png:200,village/power_source4.png.png:200,village/power_source5.png:200,village/power_source6.png:200,village/power_source7.png:200,village/power_source8.png.png:200}
{OVERLAY             *^Zps  village/power_source1.png:200,village/power_source2.png:200,village/power_source3.png:200,village/power_source4.png.png:200,village/power_source5.png:200,village/power_source6.png:200,village/power_source7.png:200,village/power_source8.png.png:200}	#Just for retrospective compatibility!

# Tropical forests made by Mefisto
{NEW:FOREST             *^Fzr            (C*,K*,X*,Q*,W*,Ai,M*,*^V*,*^B*)    forest/tropical/rainforest}
{NEW:FOREST             H*^Fzty,M*^Fzty   (C*,K*,X*,Q*,W*,Ai,M*,*^V*,*^B*)    forest/tropical/palms-sparse}
{NEW:FOREST             *^Fzty           (C*,K*,X*,Q*,W*,Ai,M*,*^V*,*^B*)    forest/tropical/palms}
{NEW:FOREST             H*^Fztd,M*^Fztd (C*,K*,X*,Q*,W*,Ai,M*,*^V*,*^B*)    forest/tropical/palm-desert-sparse}
{NEW:FOREST             *^Fztd          (C*,K*,X*,Q*,W*,Ai,M*,*^V*,*^B*)    forest/tropical/palm-desert}
{NEW:FOREST             H*^Fzts,M*^Fzts   (C*,K*,X*,Q*,W*,Ai,M*,*^V*,*^B*)    forest/tropical/savanna-sparse}
{NEW:FOREST             *^Fzts           (C*,K*,X*,Q*,W*,Ai,M*,*^V*,*^B*)    forest/tropical/savanna}

{NEW:FOREST             *^Zfr            (C*,K*,X*,Q*,W*,Ai,M*,*^V*,*^B*)    forest/tropical/rainforest}
{NEW:FOREST             H*^Zfty,M*^Zfty   (C*,K*,X*,Q*,W*,Ai,M*,*^V*,*^B*)    forest/tropical/palms-sparse}
{NEW:FOREST             *^Zfty           (C*,K*,X*,Q*,W*,Ai,M*,*^V*,*^B*)    forest/tropical/palms}
{NEW:FOREST             H*^Zftd,M*^Zftd (C*,K*,X*,Q*,W*,Ai,M*,*^V*,*^B*)    forest/tropical/palm-desert-sparse}
{NEW:FOREST             *^Zftd          (C*,K*,X*,Q*,W*,Ai,M*,*^V*,*^B*)    forest/tropical/palm-desert}
{NEW:FOREST             H*^Zfts,M*^Zfts   (C*,K*,X*,Q*,W*,Ai,M*,*^V*,*^B*)    forest/tropical/savanna-sparse}
{NEW:FOREST             *^Zfts           (C*,K*,X*,Q*,W*,Ai,M*,*^V*,*^B*)    forest/tropical/savanna}

{OVERLAY_COMPLETE        *^Ziff         (C*,K*,X*,Ql*,Qx*,W*,M*,*^V*)               embellishments/mushroom-farm}
{TRANSITION_COMPLETE_LF    *^Ziff          (!,*^Emf,C*,K*,*^F*,M*,H*,W*)       -330   transition2    embellishments/mushroom-farm}

[terrain_type]
    symbol_image=frozen/arctic_wasteland3
    id=arctic_wasteland
    name= _ "Arctic Wasteland"
    editor_name= _ "Arctic Wasteland"
    string=Zaw
    aliasof=At, Gt
    editor_group=wesnoth-UMC-LotI
[/terrain_type]
[terrain_type]
    symbol_image=frozen/ice-cave-wall-tile
    id=icy_cavewall
    name= _ "Icy Cave Wall"
    string=Zic
    aliasof=Xt
    editor_group=wesnoth-UMC-LotI
[/terrain_type]
[terrain_type]
    symbol_image=frozen/ice-shards4
    id=ice_shards
    editor_name= _ "Ice Crystals"
    string=^Xis
    aliasof=_bas
    editor_group=wesnoth-UMC-LotI
[/terrain_type]
[terrain_type]
    symbol_image=hell/volcanic_wasteland3
    id=volcanic_wasteland
    name= _ "Volcanic Wasteland"
    editor_name= _ "Volcanic Wasteland"
    string=Zvw
    aliasof=Gt
    editor_group=wesnoth-UMC-LotI
[/terrain_type]
[terrain_type]
    symbol_image=village/power_source1
    id=power_source_blue_flame
    editor_name= _ "Power Source"
    name= _ "Power Source"
    string=^Vzps
#ifver WESNOTH_VERSION >= 1.11.8
    aliasof=_bas,Vit
#else
    aliasof=_bas,Vi
#endif
    editor_group=wesnoth-UMC-LotI
    heals=16
    gives_income=true
[/terrain_type]
[terrain_type]
    symbol_image=hell/wasteland3
    id=wasteland_loti
    name= _ "Wasteland"
    editor_name= _ "Wasteland"
    string=Zwsl
    aliasof=Gt
    editor_group=wesnoth-UMC-LotI
[/terrain_type]
[terrain_type]
    symbol_image=hell/weird_landscape6
    id=weird_landscape
    name= _ "Weird Landscape"
    editor_name= _ "Weird Landscape"
    string=Zgwl
    aliasof=Gt
    editor_group=wesnoth-UMC-LotI
[/terrain_type]
[terrain_type]
    symbol_image=hell/weird_eye-A07
    id=weird_eye
    name= _ "Weird Eye"
    editor_name= _ "Weird Eye"
    string=^Zewe
    aliasof=_bas
    editor_group=wesnoth-UMC-LotI
[/terrain_type]
[terrain_type]
    symbol_image=hell/weird_eyes-A01
    id=weird_eyes
    name= _ "Weird Eyes"
    editor_name= _ "Weird Eyes"
    string=^Zews
    aliasof=_bas
    editor_group=wesnoth-UMC-LotI
[/terrain_type]
[terrain_type]
    symbol_image=hell/weird_tentacle-A01
    id=weird_tentacle
    name= _ "Weird Tentacle"
    editor_name= _ "Weird Tentacle"
    string=^Zewt
    aliasof=_bas
    editor_group=wesnoth-UMC-LotI
[/terrain_type]
[terrain_type]
    symbol_image=hell/weird_tentacles-A01
    id=weird_tentacles
    name= _ "Weird Tentacles"
    editor_name= _ "Weird Tentacles"
    string=^Zewc
    aliasof=_bas
    editor_group=wesnoth-UMC-LotI
[/terrain_type]
[terrain_type]
    symbol_image=hell/demonic_cemetery7
    id=ice_shards
    editor_name= _ "Demonic Cemetery"
    string=^Zdcm
    aliasof=_bas
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

#Needed to be a different terrain type
[terrain_type]
    symbol_image=embellishments/mushroom-farm-small
    id=infernal_forest
    editor_name= _ "Infernal Forest"
    name= _ "Infernal Forest"
    string=^Ziff
    aliasof=_bas,Ft
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

# This one is impassable
[terrain_type]
    symbol_image=forest/tropical/rainforest-tile
    id=rainforest_loti_old
    name= _ "Forest"
    editor_name= _ "Rainforest (deprecated)"
    string=^Zfr
    aliasof=_bas,Xt
    mvt_alias=-,_bas,Xt
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

[terrain_type]
    symbol_image=forest/tropical/rainforest-tile
    id=rainforest_loti_impassable
    name= _ "Forest"
    editor_name= _ "Rainforest"
    string=^Fzr
    aliasof=_bas,Xt
    mvt_alias=-,_bas,Xt
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

# Kept here only to keep old save files compatible

[terrain_type]
    symbol_image=forest/tropical/palms-tile
    id=palm_forest_loti_old
    name= _ "Forest"
    editor_name= _ "Palm Forest (deprecated, use default)"
    string=^Zfty
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

[terrain_type]
    symbol_image=forest/tropical/palms-on-hills-tile
    id=palms_on_hills_loti_old
    name= _ "Hills"
    editor_name= _ "Palms on Hills (deprecated, use default)"
    string=Hh^Zfty
    aliasof=Hh,Ft
    mvt_alias=-,Hh,Ft
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

[terrain_type]
    symbol_image=forest/tropical/palm-desert-tile
    id=palm_desert_forest_loti_old
    name= _ "Forest"
    editor_name= _ "Palm Desert Forest (deprecated, use default)"
    string=^Zftd
    default_base=Dd
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

[terrain_type]
    symbol_image=forest/tropical/palms-on-dunes-tile
    id=palms_on_dunes_loti_old
    name= _ "Hills"
    editor_name= _ "Palms on Dunes (deprecated, use default)"
    string=Hd^Zftd
    aliasof=Hh,Ft
    mvt_alias=-,Hh,Ft
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

[terrain_type]
    symbol_image=forest/tropical/savanna-tile
    id=savanna_loti_old_loti_old
    name= _ "Savanna"
    editor_name= _ "Savanna (deprecated, use default)"
    string=^Zfts
    default_base=Dd
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

[terrain_type]
    symbol_image=forest/tropical/savanna-hills-tile
    id=savanna_hills_loti_old
    name= _ "Hills"
    editor_name= _ "Savanna Hills (deprecated, use default)"
    string=Hd^Zfts
    aliasof=Hh,Ft
    mvt_alias=-,Hh,Ft
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

[terrain_type]
    symbol_image=forest/tropical/palms-tile
    id=palm_forest_loti_old
    name= _ "Forest"
    editor_name= _ "Palm Forest (deprecated, use default)"
    string=^Fzty
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

[terrain_type]
    symbol_image=forest/tropical/palms-on-hills-tile
    id=palms_on_hills_loti_old
    name= _ "Hills"
    editor_name= _ "Palms on Hills (deprecated, use default)"
    string=Hh^Fzty
    aliasof=Hh,Ft
    mvt_alias=-,Hh,Ft
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

[terrain_type]
    symbol_image=forest/tropical/palm-desert-tile
    id=palm_desert_forest_loti_old
    name= _ "Forest"
    editor_name= _ "Palm Desert Forest (deprecated, use default)"
    string=^Fztd
    default_base=Dd
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

[terrain_type]
    symbol_image=forest/tropical/palms-on-dunes-tile
    id=palms_on_dunes_loti_old
    name= _ "Hills"
    editor_name= _ "Palms on Dunes (deprecated, use default)"
    string=Hd^Fztd
    aliasof=Hh,Ft
    mvt_alias=-,Hh,Ft
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

[terrain_type]
    symbol_image=forest/tropical/savanna-tile
    id=savanna_loti_old
    name= _ "Savanna"
    editor_name= _ "Savanna (deprecated, use default)"
    string=^Fzts
    default_base=Dd
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
    editor_group=wesnoth-UMC-LotI
[/terrain_type]

[terrain_type]
    symbol_image=forest/tropical/savanna-hills-tile
    id=savanna_hills_loti_old
    name= _ "Hills"
    editor_name= _ "Savanna Hills (deprecated, use default)"
    string=Hd^Fzts
    aliasof=Hh,Ft
    mvt_alias=-,Hh,Ft
    editor_group=wesnoth-UMC-LotI
[/terrain_type]
