#textdomain wesnoth-tbc
#define TBC_GLOBAL_EVENTS_RPG_LIST

[event]
    name=waypoint
    first_time_only=no
    {VARIABLE seen.$current_scenario yes}
    [fire_event]
        name=waypoint info
    [/fire_event]
    [message]
        speaker=narrator
        caption=_"Waypoint"
        message=_"Where do you want to go?"
        [option]
            message=_"Farborough"
            [show_if]
                [variable]
                    name=seen.farborough
                    equals=yes
                [/variable]
            [/show_if]
            [command]
                {VARIABLE pick Farborough}
            [/command]
        [/option]
        [option]
            message=_"Crooked Ravine"
            [show_if]
                [variable]
                    name=seen.crooked_ravine
                    equals=yes
                [/variable]
            [/show_if]
            [command]
                {VARIABLE pick Crooked_Ravine}
            [/command]
        [/option]
        [option]
            message=_"Goonville"
            [show_if]
                [variable]
                    name=seen.goonville
                    equals=yes
                [/variable]
            [/show_if]
            [command]
                {VARIABLE pick Goonville}
            [/command]
        [/option]
        [option]
            message=_"Burke's Castle"
            [show_if]
                [variable]
                    name=seen.burkes_castle
                    equals=yes
                [/variable]
            [/show_if]
            [command]
                {VARIABLE pick Burkes_Castle}
            [/command]
        [/option]
        [option]
            message=_"Grey Hills"
            [show_if]
                [variable]
                    name=seen.grey_hills
                    equals=yes
                [/variable]
            [/show_if]
            [command]
                {VARIABLE pick Grey_Hills}
            [/command]
        [/option]
        [option]
            message=_"Thunderhold"
            [show_if]
                [variable]
                    name=seen.thunderhold
                    equals=yes
                [/variable]
            [/show_if]
            [command]
                {VARIABLE pick Thunderhold}
            [/command]
        [/option]
        [option]
            message=_"Fertile Lands"
            [show_if]
                [variable]
                    name=seen.fertile_lands
                    equals=yes
                [/variable]
            [/show_if]
            [command]
                {VARIABLE pick Fertile_Lands}
            [/command]
        [/option]
        [option]
            message=_"Faithdome"
            [show_if]
                [variable]
                    name=seen.faithdome
                    equals=yes
                [/variable]
            [/show_if]
            [command]
                {VARIABLE pick Faithdome}
            [/command]
        [/option]
        [option]
            message=_"Valley Passage"
            [show_if]
                [variable]
                    name=seen.valley_passage
                    equals=yes
                [/variable]
            [/show_if]
            [command]
                {VARIABLE pick Valley_Passage}
            [/command]
        [/option]
        [option]
            message=_"Ziggurat Town"
            [show_if]
                [variable]
                    name=seen.ziggurat_town
                    equals=yes
                [/variable]
            [/show_if]
            [command]
                {VARIABLE pick Ziggurat_Town}
            [/command]
        [/option]


        [option]
            message=_"No, I want to stay here"
            [command]
                {VARIABLE pick none}
            [/command]
        [/option]
    [/message]
    [if]
        [variable]
            name=pick
            not_equals=none
        [/variable]
        [then]
            {VARIABLE previous_scenario "waypoint"}
            [endlevel]
                result=victory
                bonus=no
                next_scenario=$pick
                {NEW_GOLD_CARRYOVER 100}
            [/endlevel]
        [/then]
    [/if]
    {CLEAR_VARIABLE pick}
[/event]

[event]
    name=start
        [objectives]
            side=1
            [objective]
                description= _ "Chase the Brothers of Light as they travel to the north"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Enter Burke's Castle"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=2
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Find some evidence against Burke"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=3
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Confront Burke with evidence"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=4
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destroy the assassin"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=5
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Reach lord Konrad"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=6
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Find lord Konrad's son"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=7
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Bring Konrad II back to his father"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=8
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destroy the assassin"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=9
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Capture or kill lord Uver"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=10
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Capture the assassin"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=11
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Find the Hidden Valley"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=12
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Kill Luke"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=13
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Meet Konrad to start the onslaught"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=14
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Enter Ziggurat to save Reezer"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=15
                    [/variable]
                [/show_if]
            [/objective]



            [objective]
                description=_ "Death of the player's character"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Rimaru"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Burke"
                condition=lose
                [show_if]
                    [variable]
                        name=quests.overall
                        greater_than=2
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Death of Konrad II"
                condition=lose
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=8
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Death of Sicaria"
                condition=lose
                [show_if]
                    [variable]
                        name=quests.overall
                        greater_than=11
                    [/variable]
                [/show_if]
            [/objective]
        [/objectives]
    [if]
        [variable]
            name=quests.shown_waypoint_info
            equals=yes
        [/variable]
        [else]
            [event]
                name=waypoint info
                {VARIABLE quests.shown_waypoint_info yes}
                [message]
                    speaker=narrator
                    caption=_"Waypoint"
                    message=_"Waypoint is a device that will allow you to travel quickly between places you've already been to. From any waypoint, you can visit any waypoint you have previously visited. By selecting the area you are already in, you will reload the area."
                [/message]
            [/event]
        [/else]
    [/if]
[/event]

#enddef
