#textdomain wesnoth-tbc
#define TBC_GLOBAL_EVENTS_STRATEGY_LIST

[event]
    name=recruit
    first_time_only=no
    [filter]
        side=1
    [/filter]
    [store_unit]
        [filter]
            find_in=unit
        [/filter]
        variable=recruited
    [/store_unit]
    {VARIABLE recruited.variables.cant_pick yes}
    [unstore_unit]
        variable=recruited
        find_vacant=no
    [/unstore_unit]
[/event]


#enddef
