#textdomain wesnoth-tbc
#define TBC_GLOBAL_EVENTS_RPG

    {DROPS 20 20 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) no 2,3,4,5,6,7,8}

    {TBC_GLOBAL_EVENTS}

    [event]
        name=prestart
        [unit]
            type=TBC RPG Event Loader
            side=1
            x,y=1,1
        [/unit]
        [kill]
            type=TBC RPG Event Loader
            animate=no
        [/kill]
    [/event]

#enddef

#define TBC_GLOBAL_EVENTS_STRATEGY

    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) no 2,3,4,5,6,7,8}

    {TBC_GLOBAL_EVENTS}

    [event]
        name=prestart
        [unit]
            type=TBC Strategy Event Loader
            side=1
            x,y=1,1
        [/unit]
        [kill]
            type=TBC Strategy Event Loader
            animate=no
        [/kill]
    [/event]

#enddef

#define TBC_GLOBAL_EVENTS

    {GLOBAL_EVENTS} # LotI global events

    [event]
        name=prestart
        [unit]
            type=TBC Event Loader
            side=1
            x,y=1,1
        [/unit]
        [kill]
            type=TBC Event Loader
            animate=no
        [/kill]
    [/event]

#enddef

#define TBC_RECALL_ALL X Y
{FOREACH party_members i}
    [recall]
        id=$party_members[$i].id
        x,y={X},{Y}
        show=no
    [/recall]
{NEXT i}
#enddef

#define TBC_ORIGIN PREVIOUS X Y
[if]
    [variable]
        name=previous_scenario
        equals={PREVIOUS}
    [/variable]
    [then]
        [teleport]
            [filter]
                id=player
            [/filter]
            x,y={X},{Y}
            clear_shroud=yes
        [/teleport]
        {TBC_RECALL_ALL {X} {Y}}
    [/then]
[/if]
#enddef

#define TBC_TRANSITION RANGE_X RANGE_Y TARGET TARGET_DESC DESC_X DESC_Y
[label]
    x,y={DESC_X},{DESC_Y}
    text={TARGET_DESC}
    color=255,255,255
[/label]
[event]
    name=moveto
    first_time_only=no
    [filter]
        x,y={RANGE_X},{RANGE_Y}
        side=1
        [filter_wml]
            [variables]
                hero=yes
            [/variables]
        [/filter_wml]
    [/filter]
    [message]
        speaker=narrator
        caption=_"Area transition"
        message=_"Do you want to go to " + {TARGET_DESC} + _"?"
        [option]
            message=_"Yes, of course."
            [command]
                {VARIABLE previous_scenario $current_scenario}
                [endlevel]
                    result=victory
                    bonus=no
                    next_scenario={TARGET}
                    {NEW_GOLD_CARRYOVER 100}
                [/endlevel]
            [/command]
        [/option]
        [option]
            message=_"No, that isn't the place where I wanted to go."
            [command]
                [allow_undo]
                [/allow_undo]
            [/command]
        [/option]
    [/message]
[/event]
#enddef

#define TBC_PLACE_WAYPOINT X Y
{PLACE_IMAGE scenery/monolith1.png {X} {Y}}
[event]
    name=moveto
    first_time_only=no
    [filter]
        side=1
        x,y={X},{Y}
        [filter_wml]
            [variables]
                hero=yes
            [/variables]
        [/filter_wml]
    [/filter]
    [filter_condition]
        [not]
            [variable]
                name=disallow_waypoint
                equals=yes
            [/variable]
        [/not]
    [/filter_condition]
    [fire_event]
        name=waypoint
    [/fire_event]
[/event]
[event]
    name=prestart
    {TBC_ORIGIN waypoint {X} {Y}}
[/event]
#enddef

#define SCENARIO_DURATION_VARIABLE NAME VALUE
{VARIABLE {NAME} {VALUE}}
[event]
    name=victory
    id={NAME}_clear_event
    {CLEAR_VARIABLE NAME}
[/event]
#enddef

#define TBC_SPAWN_UNITS_NO_LEADER SIDE QUANTITY TYPES X Y
{VARIABLE quantity $party_members.length}
{VARIABLE_OP quantity multiply {QUANTITY}}
#ifdef HARD
    {VARIABLE_OP quantity multiply 1.3}
#endif
#ifdef EASY
    {VARIABLE_OP quantity divide 1.2}
#endif
[while]
    [variable]
        name=quantity
        greater_than=0
    [/variable]
    [do]
        {VARIABLE_OP unit_type rand {TYPES}}
        {GENERIC_UNIT {SIDE} $unit_type {X} {Y}}
        {VARIABLE_OP quantity sub 1}
    [/do]
[/while]
{CLEAR_VARIABLE quantity,unit_type}
#enddef

#define TBC_SPAWN_UNITS SIDE QUANTITY TYPES X Y LEADER_TYPE LEADER_ID
[unit]
    side={SIDE}
    type={LEADER_TYPE}
    id={LEADER_ID}
    generate_name=yes
    x,y={X},{Y}
    random_traits=yes
    upkeep=full
[/unit]
{TBC_SPAWN_UNITS_NO_LEADER {SIDE} {QUANTITY} {TYPES} {X} {Y}}
#enddef

#define TBC_DIPLOMACY_TRIED
[fire_event]
    name=diplomacy_tried
[/fire_event]
#enddef

#define TBC_GOLD_CHEST X Y VAR
    [if]
        [variable]
            name=quests.{VAR}
            equals=yes
        [/variable]
        [else]
            {PLACE_IMAGE items/chest-plain-closed.png {X} {Y}}
        [+item]
        visible_in_fog=no
        [/item]
            [event]
                name=moveto
                [filter]
                    side=1
                    x,y={X},{Y}
                [/filter]
                [sound]
                    name=gold.ogg
                [/sound]
                [message]
                    speaker=unit
                    message= _ "I have found some gold."
                [/message]
                {VARIABLE gold_amount "$(2d10)"}
                [gold]
                    side=$side_number
                    amount=$gold_amount
                [/gold]
                {CLEAR_VARIABLE gold_amount}
                [remove_item]
                    x,y={X},{Y}
                    image=items/chest-plain-closed.png
                [/remove_item]
                {PLACE_IMAGE items/chest-plain-open.png {X} {Y}}
                {VARIABLE quests.{VAR} yes}
            [/event]
        [/else]
    [/if]
#enddef

#define CLEAR_RECALLS
[kill]
    side=1
    [not]
        [filter_wml]
            [variables]
                hero=yes
            [/variables]
        [/filter_wml]
    [/not]
    fire_event=no
    animate=no
[/kill]
#enddef
