#textdomain wesnoth-loti
[event]
    name=visit_beelzebub_monument
    [if]
        [variable]
            name=seen_beelzebub_monument_close
            equals=yes
        [/variable]
        [then]
            [message]
                speaker=unit
                message= _ "This is indeed left behind by Beelzebub."
            [/message]
            [message]
                id=Lethalia
                [or]
                    id=Vritra
                [/or]
                message= _ "This makes me wonder if we want to see him again."
            [/message]
        [/then]
        [else]
            [message]
                speaker=unit
                message= _ "Some strange letters are inscribed on this monument. It says... <i>ROTFL, BRB, LOL</i>."
            [/message]
            [message]
                id=Efraim
                [or]
                    id=Krux
                [/or]
                message= _ "I have seen these shortcuts before... What was it, Lethalia, can you remember?"
            [/message]
            [message]
                id=Lethalia
                [or]
                    id=Vritra
                [/or]
                message= _ "Let me think... <i>ROTFL</i> stands for <i>Rule on till forever, Lilith</i>. <i>LOL</i> means <i>Lilith our Leader</i>. <i>BRB</i> is a shortcut of <i>Beelzebub rules below</i>. Beelzebub... I have heard of that one. This is his motto, if I recall correctly. Somebody has been venerating demons here. Really foul magic."
            [/message]
            [message]
                id=Efraim
                [or]
                    id=Krux
                [/or]
                message= _ "For what ends? Why do the demons need veneration? What do people get for it?"
            [/message]
            [message]
                id=Lethalia
                [or]
                    id=Vritra
                [/or]
                message= _ "If I recall correctly, these stones can be used like extensions of the demons' presence. The demon can use them to appear near any of them whenever he wants, and see what is around the stone. They have to be created by locals, demons cannot create them so that they would work in this world. Maybe the demon forced someone to create this. But why is the demon here...?"
            [/message]
            [message]
                id=Efraim
                [or]
                    id=Krux
                [/or]
                message= _ "Maybe someone summoned them to destroy us."
            [/message]
            [message]
                id=Lethalia
                [or]
                    id=Vritra
                [/or]
                message= _ "It's really horrible if a strong demon is present here. Imagine how much havoc can one such demon spread. We might not be the target, the demon is not coming."
            [/message]
            [message]
                id=Efraim
                [or]
                    id=Krux
                [/or]
                message= _ "Maybe the demon is bad at looking for us."
            [/message]
            [message]
                id=Lethalia
                [or]
                    id=Vritra
                [/or]
                message= _ "Maybe we could willingly allow the demon to come by, to save others from destruction. Some demons are fabled to wear ancient artefacts of power, so we might just want to fight for material gain."
            [/message]
            [set_variable]
                name=seen_beelzebub_monument_close
                value=yes
            [/set_variable]
        [/else]
    [/if]
    [message]
        id=Efraim
        [or]
            id=Krux
        [/or]
        message= _ "So what, shall we touch it to attract him?"
        [option]
            label=_"Touch it. We must stop the creature."
            [command]
                [remove_event]
                    id=spawn_beelzebub
                [/remove_event]
                [sound]
                    name="rumble.ogg"
                [/sound]
                [scroll]
                    x=5
                    y=0
                [/scroll]
                [scroll]
                    x=-10
                    y=0
                [/scroll]
                [scroll]
                    x=5
                    y=5
                [/scroll]
                [scroll]
                    x=0
                    y=-10
                [/scroll]
                [scroll]
                    x=0
                    y=5
                [/scroll]
                [sound]
                    name="lightning.ogg"
                [/sound]
                [scroll]
                    x=2
                    y=1
                [/scroll]
                [scroll]
                    x=-1
                    y=-3
                [/scroll]
                [scroll]
                    x=-3
                    y=1
                [/scroll]
                [unit]
                    canrecruit=yes
                    id=Beelzebub
                    name=_"Beelzebub"
                    type=Beelzebub
                    side=$bzb_side
                    x,y=$bzb_x,$bzb_y
                    [variables]
                        bonus_boss=yes
                    [/variables]
                    to_variable=beel_store
                [/unit]
                [scroll]
                    x=1
                    y=3
                [/scroll]
                [scroll]
                    x=1
                    y=-2
                [/scroll]

                [unstore_unit]
                    variable=beel_store
                    find_vacant=yes
                [/unstore_unit]
                [set_variable]
                    name=beel_store_level_add
                    value=$bzb_power
                [/set_variable]
                [set_variable]
                    name=beel_store_level_add
                    mulitply=5
                [/set_variable]
                [object]
                    silent=yes
                    [filter]
                        id=Beelzebub
                    [/filter]
                    [effect]
                        apply_to=level
                        set="$($beel_store.level + $beel_store_level_add)"
                    [/effect]
                    [effect]
                        apply_to=status
                        add=not_living
                    [/effect]
                [/object]
                [clear_variable]
                    name=beel_store,beel_store_level_add
                [/clear_variable]
                [set_variable]
                    name="REPEAT_i"
                    value=0
                [/set_variable]
                [while]
                    [variable]
                        less_than=$power
                        name="REPEAT_i"
                    [/variable]
                    [do]
                        [object]
                            silent=yes
                            [filter]
                                id="Beelzebub"
                            [/filter]
                            [effect]
                                apply_to="hitpoints"
                                increase="20%"
                                increase_total="20%"
                            [/effect]
                            [effect]
                                apply_to="attack"
                                increase_damage="20%"
                            [/effect]
                        [/object]
                        [set_variable]
                            add=1
                            name="REPEAT_i"
                        [/set_variable]
                    [/do]
                [/while]
                [clear_variable]
                    name="REPEAT_i"
                [/clear_variable]
                [sound]
                    name="rumble.ogg"
                [/sound]
                [scroll]
                    x=5
                    y=0
                [/scroll]
                [scroll]
                    x=-10
                    y=0
                [/scroll]
                [scroll]
                    x=5
                    y=5
                [/scroll]
                [scroll]
                    x=0
                    y=-10
                [/scroll]
                [scroll]
                    x=0
                    y=5
                [/scroll]
                [message]
                    speaker=Beelzebub
                    message= _ "I have found you, sneaky weaklings."
                [/message]
                [if]
                    [variable]
                        name=seen_beelzebub
                        equals=yes
                    [/variable]
                    [else]
                        [message]
                            id=Lethalia
                            [or]
                                id=Vritra
                            [/or]
                            message= _ "We were not hiding."
                        [/message]
                        [message]
                            speaker=Beelzebub
                            message= _ "Are you so foolish?"
                            [option]
                                label=_"You are told to possess all kinds of objects we seek. We want to take them from your dead body."
                                [command]
                                    [message]
                                        speaker=Beelzebub
                                        message= _ "Ha, you think you can kill me? So come, meet your end!"
                                    [/message]
                                [/command]
                            [/option]
                            [option]
                                label=_"We need to stop you from wreaking havoc all around."
                                [command]
                                    [message]
                                        speaker=Beelzebub
                                        message= _ "You dare to defy me? We shall see how you will cry for mercy and receive none."
                                    [/message]
                                [/command]
                            [/option]
                            [option]
                                label=_"We seek a challenge. All other enemies were too easy."
                                [command]
                                    [message]
                                        speaker=Beelzebub
                                        message= _ "I will be your last challenge. I will enjoy your demise."
                                    [/message]
                                [/command]
                            [/option]
                            [option]
                                label=_"We have forgotten to hide."
                                [command]
                                    [message]
                                        speaker=Beelzebub
                                        message= _ "You are more foolish than I thought. Your sentence is death."
                                    [/message]
                                [/command]
                            [/option]
                            [option]
                                label=_"Stories go that demons are a bonne bouche!"
                                [command]
                                    [message]
                                        speaker=Beelzebub
                                        message= _ "No one ever tasted any of it. You shall not change it. I will eat you alive!"
                                    [/message]
                                [/command]
                            [/option]
                        [/message]
                        [set_variable]
                            name="seen_beelzebub"
                            value=true
                        [/set_variable]
                    [/else]
                [/if]
                [remove_event]
                    id=spawn_beelzebub
                [/remove_event]
            [/command]
        [/option]
        [option]
            label=_"Let it be. We have worse problems to deal with first."
            [command]
                [message]
                    id=Efraim
                    [or]
                        id=Krux
                    [/or]
                    message= _ "Well, let us slip by."
                [/message]
            [/command]
        [/option]
    [/message]
[/event]
