#textdomain wesnoth-kill_the_king
[scenario]
    id="01_Violating_the_Law"
    name= _ "Violating the Law"
    map_data="{~add-ons/Kill_the_King/maps/01_The_Huge_Tavern.map}"
    next_scenario=02_Rampant_Rebellion
    victory_when_enemies_defeated=no
    {TURNS 15 14 13}
    {SCENARIO_MUSIC "Emotion.ogg"}
    {EXTRA_SCENARIO_MUSIC PostRock.ogg}
    {EXTRA_SCENARIO_MUSIC Imminent_Threat.ogg}
    {INDOORS}

    [story]
        [part]
            story= _ "They spent almost a year learning to play properly, practising performing together, composing songs and rehearsing them. They also trained themselves in basics of axe combat so that they would be able to react if ambushed while performing. Eventually, they decided that they were ready for playing before a different audience than a few rangers they encountered in the forest where they practised."
        [/part]
        [part]
            story= _ "They used a few spells to disguise Calcy to be harder to distinguish from a human and made their debut in a small hicksville tavern. Most peasants fled in terror, but some remained and enjoyed the show. They repeated the outing a couple of times and their audience slowly grew. They performed in some other pubs nearby. Some people followed them, increasing the profit of any village inn where they played. They persuaded bartenders to reduce the prices in the concert nights and the cheaper ale attracted more visitors to their shows."
        [/part]
        [part]
            story= _ "They were surprised that no guards tried to stop them, but they did not complain. After a dozen shows, their audience grew and had issues fitting into a usual tavern, so they decided to play in The Huge Tavern, the shebeen around."
        [/part]
    [/story]

    [side]
        type=Aarron
        id=Aarron
        name=_"Aarron"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Ghoul,Dark Adept,Walking Corpse,Vampire Bat
        village_gold=0
        income=-2
        {GOLD 80 60 40} #They have 100 gold from previous scenario
        team_name=sabotage
        user_team_name=_"Sabotäge"
        shroud=no
        fog=no
    [/side]
    [side]
        no_leader=yes
        side=2
        team_name=sabotage,law
        user_team_name=_"Unrelated guys"
        ai_algorithm=idle_ai
        [unit]
            type=Footpad
            gender=female
            x,y=18,9
            id=waitress
            generate_name=yes
            random_traits=yes
#define WAITRESS_OBJECT
    [modifications]
        [object]
            [effect]
                apply_to=profile
                portrait=portraits/waitress.png
            [/effect]
            [effect]
                apply_to=attack
                range=melee
                set_description=_"mug in the face"
            [/effect]
            [effect]
                apply_to=attack
                range=ranged
                set_description=_"ale spill"
                set_type=cold
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_SLOW}
                [/set_specials]
            [/effect]
            [effect]
                apply_to=image_mod
                replace="O(0)~BLIT(units/waitress.png)"
            [/effect]
        [/object]
    [/modifications]
#enddef
            {WAITRESS_OBJECT}
        [/unit]
        [unit]
            type=Footpad
            gender=female
            x,y=11,7
            generate_name=yes
            random_traits=yes
            {WAITRESS_OBJECT}
#undef WAITRESS_OBJECT
        [/unit]
        [unit]
            type=Thug
            x,y=10,5
            id=fan
            generate_name=yes
            random_traits=yes
        [/unit]
        {GENERIC_UNIT 2 Footpad 4 3}
        {GENERIC_UNIT 2 Thug 6 4}
        {GENERIC_UNIT 2 Peasant 8 5}
        {GENERIC_UNIT 2 Bandit 12 6}
        {GENERIC_UNIT 2 Peasant 15 11}
        {GENERIC_UNIT 2 Peasant 9 13}
        {GENERIC_UNIT 2 Footpad 17 15}
        {GENERIC_UNIT 2 "Orcish Grunt" 13 9}
        [unit]
            type=Swordsman
            x,y=12,8
            id=king
            name=_"Incognityn"
            random_traits=yes
            [modifications]
                [object]
                    [effect]
                        apply_to=profile
                        portrait=portraits/king.png
                    [/effect]
                [/object]
            [/modifications]
        [/unit]
    [/side]
    [side]
        type=General
        id=enemy
        canrecruit=yes
        recruit=Spearman,Heavy Infantryman,Mage,Cavalryman
        generate_name=yes
        side=3
        team_name=law
        user_team_name=_"Law & Order"
        {INCOME 20 23 26}
        {GOLD 140 160 180}
        [unit]
            type=Swordsman
            x,y=7,3
            id=guard1
            generate_name=yes
            random_traits=yes
        [/unit]
        [unit]
            type=Swordsman
            x,y=12,8
            id=guard2
            generate_name=yes
            random_traits=yes
            [modifications]
                [object]
                    [effect]
                        apply_to=profile
                        portrait=portraits/humans/transparent/swordsman-2.png
                    [/effect]
                [/object]
            [/modifications]
        [/unit]
        [unit]
            type=Swordsman
            x,y=17,14
            id=guard3
            generate_name=yes
            random_traits=yes
        [/unit]
        [unit]
            type=Swordsman
            x,y=9,10
            id=guard4
            generate_name=yes
            random_traits=yes
            [modifications]
                [object]
                    [effect]
                        apply_to=profile
                        portrait=portraits/humans/transparent/swordsman-3.png
                    [/effect]
                [/object]
            [/modifications]
        [/unit]
    [/side]
    [event]
        name=prestart
        [item]
            x,y=5,4
            image=scenery/table.png
        [/item]
        [item]
            x,y=14,2
            image=scenery/potatobox.png
        [/item]
        [item]
            x,y=17,4
            image=scenery/potatobox.png
        [/item]
        [item]
            x,y=15,4
            image=scenery/potatobox.png
        [/item]
        [item]
            x,y=13,7
            image=scenery/round-table-and-chair.png
        [/item]
        [item]
            x,y=8,14
            image=scenery/round-table-and-chair.png
        [/item]
        [item]
            x,y=16,10
            image=scenery/round-table-and-chair.png
        [/item]
        [item]
            x,y=15,14
            image=scenery/round-table-and-chair.png
        [/item]
        [item]
            x,y=16,4
            image=scenery/matress.png
        [/item]
        [item]
            x,y=12,5
            image=scenery/chest-closed-se.png
        [/item]
        [item]
            x,y=3,3
            image=scenery/bookcase.png
        [/item]
        [item]
            x,y=10,16
            image=scenery/redcarpet-se.png
        [/item]
        [item]
            x,y=13,5
            image=scenery/redcarpet-se.png
        [/item]
        [recall]
            id=Strigo
            x,y=4,6
        [/recall]
        [recall]
            id=Mortimer
            x,y=4,5
        [/recall]
        [recall]
            id=Calcy
            x,y=6,6
        [/recall]
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the enemy boss"
                condition=win
            [/objective]
            [objective]
                description= _ "Demise of Strigo, Mortimer, Aarron or Calcy"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            [gold_carryover]
                carryover_percentage=100
                bonus=no
            [/gold_carryover]
        [/objectives]
    [/event]
    [event]
        name=start
        {ADVANCE_UNIT id=Calcy Calcy}
        {ADVANCE_UNIT id=Mortimer Mortimer}
        {ADVANCE_UNIT id=Aarron Aarron}
        {START_SINGING 5 6}
#define DESTRUCTION X Y
    [terrain]
        x,y={X},{Y}
        terrain=Iwr^Dr
    [/terrain]
    [redraw]
    [/redraw]
#enddef
        {SING_A_VERSE 5 6 _"Vanquished the tyrant"}
        {DESTRUCTION 12 14}
        {SING_A_VERSE 5 6 _"Took the Sceptre of Fire"}
        {DESTRUCTION 18 15}
        {SING_A_VERSE 5 6 _"But he has fallen"}
        {DESTRUCTION 8 4}
        {SING_A_VERSE 5 6 _"Now is a big liar"}
        {DESTRUCTION 17 8}

        {SING_A_VERSE 5 6 _"He spilt his glory"}
        {DESTRUCTION 10 12}
        {SING_A_VERSE 5 6 _"Into gallons of booze"}
        {DESTRUCTION 14 14}
        {SING_A_VERSE 5 6 _"Now he is a wreck"}
        {DESTRUCTION 9 17}
        {SING_A_VERSE 5 6 _"With nothing to lose"}
        {DESTRUCTION 7 16}

        {SING_A_VERSE 5 6 _"We will remember"}
        {DESTRUCTION 11 14}
        {SING_A_VERSE 5 6 _"His deeds of valour"}
        {DESTRUCTION 10 8}
        {SING_A_VERSE 5 6 _"But the man we knew"}
        {DESTRUCTION 12 16}
        {SING_A_VERSE 5 6 _"Is with us no more"}
        {DESTRUCTION 8 6}

        {SING_A_VERSE 5 6 _"HE IS NOT"}
        {DESTRUCTION 16 2}
        {SING_A_VERSE 5 6 _"WHAT HE USED TO BE"}
        {DESTRUCTION 5 3}
        {SING_A_VERSE 5 6 _"HE IS NOT"}
        {DESTRUCTION 9 10}
        {SING_A_VERSE 5 6 _"WHAT IS GOOD FOR ME"}
        {DESTRUCTION 14 12}

        {SING_A_VERSE 5 6 _"We revere the past"}
        {DESTRUCTION 8 14}
        {SING_A_VERSE 5 6 _"We forget the present"}
        {DESTRUCTION 7 13}
        {SING_A_VERSE 5 6 _"What I say is a must"}
        {DESTRUCTION 13 10}
        {SING_A_VERSE 5 6 _"To secure our future"}
        {DESTRUCTION 4 4}

        {SING_A_VERSE 5 6 _"HE IS NOT"}
        {DESTRUCTION 14 4}
        {SING_A_VERSE 5 6 _"WHAT HE USED TO BE"}
        {DESTRUCTION 10 6}
        {SING_A_VERSE 5 6 _"HE IS NOT"}
        {DESTRUCTION 12 14}
        {SING_A_VERSE 5 6 _"WHAT IS GOOD FOR ME"}
        {DESTRUCTION 11 16}
        {STOP_SINGING 5 6}
#undef DESTRUCTION

        {KTK_UNLOCK_LYRICS forgotten_glory}
        [message]
            speaker=guard1
            message=_"This is sedition! They are trying to rouse an uprising against our king!"
        [/message]
        [message]
            speaker=Mortimer
            message=_"That is your personal problem. I am not responsible for your inability..."
        [/message]
        [message]
            speaker=guard2
            message=_"He is right! That song was about our king. You are telling that he should be replaced!"
        [/message]
        [message]
            speaker=Strigo
            message=_"And...? Four of the songs we played today were about that."
        [/message]
        [message]
            speaker=guard4
            message=_"The third word on the second line was impossible to understand, so we did not get it earlier."
        [/message]
        [message]
            speaker=guard3
            message=_"You mean you did not understand <i>arrgrr</i>?! It was <i>arrgrr</i>, dude! Like... Arrgrr, he growled we should forget our king's glorious deeds! And grunted that His Majesty was not good enough for him! What a nerve!"
        [/message]
        [message]
            speaker=Aarron
            message=_"Nah, you got that wrong. My singing might be too guttural... We must forget the feats of our heroic king because we revere him for his past and do not bear in mind who and what he is at present."
        [/message]
        [message]
            speaker=guard2
            message=_"Nobody will criticise our mighty king!"
        [/message]
        [message]
            speaker=waitress
            message=_"You guards are supposed to end fights, not to start them!"
        [/message]
        [message]
            speaker=fan
            message=_"Yes, our bards are singing the truth and these ironheads are looking for a brawl."
        [/message]
        [message]
            speaker=king
            message=_"Liar! They are trying to destabilise our country. All hail to m... ehm, our king!"
        [/message]
        [delay]
            time=2000
        [/delay]
        [message]
            speaker=guard1
            message=_"...hail?"
        [/message]
        [message]
            speaker=fan
            message=_"You see how little attention you have, shill?"
        [/message]
        [message]
            speaker=guard2
            message=_"We need to silence these scoundrels. They are working on an insurrection!"
        [/message]
        [message]
            speaker=Mortimer
            message=_"All hail our boozer king!"
        [/message]
        [message]
            speaker=guard3
            message=_"HAAAIL!"
        [/message]
        [message]
            speaker=fan
            message=_"Long drink the king!"
        [/message]
        [message]
            speaker=guard4
            message=_"Sir! I think he is mocking at the king, sir!"
        [/message]
        [message]
            speaker=enemy
            message=_"Well spotted, soldier, you shall rise in rank. The situation is worse than reported... Well, actions speak louder than singsong. We have to crush this act of sabotage!"
        [/message]
        [message]
            speaker=Calcy
            message=_"This no sabotage, this is Sabotäge! And it is not an act but a <i>show</i> of Sabotäge. Keep up with the times, lad!"
        [/message]
        [message]
            speaker=fan
            message=_"How do you pronounce that <i>ä</i>, by the way?"
        [/message]
        [message]
            speaker=waitress
            message=_"So you have come to start a brawl? Can you do it outside?"
        [/message]
        [message]
            speaker=Aarron
            message=_"Do not get your knickers in a twist, Mathilda. Gunnhilda? Edmunda? My apologies, m'lady... We shall not vandalise the best performance venue for miles around! – C'mon guys, let us step outside and deal with these annoying brats."
        [/message]
        [message]
            speaker=enemy
            message=_"You shall not leave this tavern alive."
        [/message]
        [message]
            speaker=Mortimer
            message=_"That is all right. Now maybe you could stop blocking the door."
        [/message]
        [message]
            speaker=enemy
            message=_"Kill them, do not let them leave. They are too dangerous to be held alive."
        [/message]
        [message]
            speaker=fan
            message=_"We will defend you!"
        [/message]
        [message]
            speaker=Strigo
            message=_"No need, we are no warlords to force innocent people to fight our battles. We know how to deal with judas priests and musical low-brows... Hey, Aarron, can you disguise our... ehm... roadies, so that they would be... ehm, well received?"
        [/message]
        [message]
            speaker=Aarron
            message=_"Yes, I am ready. I practised on Calcy."
        [/message]
        [message]
            speaker=enemy
            message=_"To arms, men!"
        [/message]
        [message]
            speaker=king
            message=_"Give them hell! Kill these insurrectionists!"
        [/message]
        [message]
            speaker=waitress
            message=_"Shut up you boozed punk."
        [/message]
        [message]
            speaker=Strigo
            message=_"Let us change to a battle tune, shall we?"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=enemy
        [/filter]
        [message]
            speaker=enemy
            message= _ "Forgive me, my king, I failed to stop this... insurrection."
        [/message]
        [message]
            speaker=Strigo
            message=_"Do not worry, he will forget about it very soon."
        [/message]
        [message]
            speaker=Mortimer
            message=_"Let us continue the show."
        [/message]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]

    [event]
        name=time over
        [message]
            speaker=Mortimer
            message= _ "We will never get out of this tavern! They are getting reinforcements!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {EARN_BY_SLAUGHTER}
    {KTK_GENERIC_DEATHS}
    {GLOBAL_EVENTS}
    {DROPS 4 10 (axe,axe,axe,axe,axe,bow,mace) yes 3}
    {EARLY_FINISH_BONUS_FROM_SLAUGHTER 10 12 13}
    {KTK_SONGBOOK}
[/scenario]
