#textdomain wesnoth-kill_the_king
[scenario]
    id="02_Rampant_Rebellion"
    name= _ "Rampant Rebellion"
    map_data="{~add-ons/Kill_the_King/maps/02_Traphampton.map}"
    next_scenario=03_Sucker_Punch
    victory_when_enemies_defeated=no
    turns=26
    {SCENARIO_MUSIC "Floating_Paper_Bags.ogg"}
    {EXTRA_SCENARIO_MUSIC Anonymity.ogg}
    {EXTRA_SCENARIO_MUSIC Emotion.ogg}
    {DEFAULT_SCHEDULE_MORNING}

    [story]
        [part]
            story= _ "The battle at <i>The Huge Tavern</i> had taught the royal forces a hard-to-forget lesson: musicians cannot only play instruments but also the part of heroes and act pretty tough in both cases. The disgraceful news that a general had been outplayed by bards in a tavern fight quickly made the rounds. Wesnoth's army had to come up with a better way to silence those outrageous rabble-rousers..

In the meantime, the band continued playing their trend- and tone-setting role."
        [/part]
        [part]
            story= _ "A good while later, under the codename <i>returning the law</i>, troops of the special counter-bardolatry force <i>black sabaton</i> assembled near Traphampton, a village where they were performing Sabotäge was giving an open air concert as part of their <i>Rampagë</i> tour. Their presence was known early at the supreme military command because they completely ignored the bat lookouts that reported their presence. A trap was set before the awfully well attended show begun began."
        [/part]
    [/story]

    [side]
        type=Aarron
        id=Aarron
        name=_"Aarron"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Ghoul,Dark Adept,Walking Corpse,Vampire Bat
        village_gold=0
        income=-2
        {GOLD 160 140 120}
        team_name=sabotage
        user_team_name=_"Sabotäge"
        shroud=no
        fog=no
    [/side]
    [side]
        no_leader=yes
        side=2
        team_name=sabotage,law
        user_team_name=_"Unrelated guys"
        ai_algorithm=idle_ai
        [unit]
            type=Footpad
            x,y=28,17
            id=fan
            generate_name=yes
            random_traits=yes
        [/unit]
        {GENERIC_UNIT 2 Footpad 23 16}
        {GENERIC_UNIT 2 Thug 30 16}
        {GENERIC_UNIT 2 Peasant 25 13}
        {GENERIC_UNIT 2 Outlaw 27 15}
        {GENERIC_UNIT 2 Peasant 22 16}
        {GENERIC_UNIT 2 Peasant 25 18}
        {GENERIC_UNIT 2 Thug 28 16}
        {GENERIC_UNIT 2 Peasant 24 15}
        {GENERIC_UNIT 2 "Elvish Fighter" 28 15}
    [/side]
    [side]
        type=General
        id=enemy
        canrecruit=yes
        recruit=Spearman,Heavy Infantryman,Mage,Cavalryman
        generate_name=yes
        side=3
        team_name=law
        user_team_name=_"Law & Order"
        {INCOME 12 16 20}
        {GOLD 140 180 200}
        {GENERIC_UNIT 3 "Red Mage" 35 3}
        {GENERIC_UNIT 3 Longbowman 37 4}
        {GENERIC_UNIT 3 Spearman 39 2}
    [/side]
    [side]
        type=Royal Guard
        id=enemy2
        canrecruit=yes
        recruit=Swordsman,Longbowman,Dragoon,Shock Trooper,White Mage
        generate_name=yes
        side=4
        team_name=law
        user_team_name=_"Law & Order"
        {INCOME 12 16 20}
        {GOLD 140 180 200}
        {GENERIC_UNIT 2 Swordsman 3 6}
        {GENERIC_UNIT 2 Mage 4 7}
        {GENERIC_UNIT 2 Pikeman 3 9}
    [/side]
    [side]
        type=Cavalier
        id=enemy3
        canrecruit=yes
        recruit=Fencer,Heavy Infantryman,Mage,Bowman
        generate_name=yes
        side=5
        team_name=law
        user_team_name=_"Law & Order"
        {INCOME 12 16 20}
        {GOLD 140 180 200}
        {GENERIC_UNIT 2 Swordsman 36 32}
        {GENERIC_UNIT 2 "Heavy Infantryman" 38 31}
        {GENERIC_UNIT 2 "White Mage" 40 32}
    [/side]
    [event]
        name=prestart
        [item]
            x,y=29,17
            image=scenery/well.png
        [/item]
        [recall]
            id=Strigo
            x,y=26,15
        [/recall]
        [recall]
            id=Mortimer
            x,y=27,16
        [/recall]
        [recall]
            id=Calcy
            x,y=25,16
        [/recall]
        [objectives]
            side=1
            [objective]
                description= _ "Kill everything that can be killed"
                condition=win
            [/objective]
            [objective]
                description= _ "Demise of Strigo, Mortimer, Aarron or Calcy"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            [gold_carryover]
                carryover_percentage=40
                bonus=no
            [/gold_carryover]
        [/objectives]
    [/event]
    [event]
        name=start
        {START_SINGING 26 16}
        {SING_A_VERSE 26 16 _"A great hero"}
        {SING_A_VERSE 26 16 _"Was our king"}
        {SING_A_VERSE 26 16 _"One that everyone"}
        {SING_A_VERSE 26 16 _"Should be following"}

        {SING_A_VERSE 26 16 _"Many used to follow"}
        {SING_A_VERSE 26 16 _"The one who saved all"}
        {SING_A_VERSE 26 16 _"But now they all know"}
        {SING_A_VERSE 26 16 _"He cares not anymore"}

        {SING_A_VERSE 26 16 _"For their efforts"}
        {SING_A_VERSE 26 16 _"Zero appreciation"}
        {SING_A_VERSE 26 16 _"The obvious result"}
        {SING_A_VERSE 26 16 _"Zero motivation"}

        {SING_A_VERSE 26 16 _"WHO RULES THIS LAND?"}
        {SING_A_VERSE 26 16 _"A BUSY TIRED MAN!"}
        {SING_A_VERSE 26 16 _"NO VISION, NO GOAL!"}
        {SING_A_VERSE 26 16 _"JUST A LOAD OF ALCOHOL!"}

        {SING_A_VERSE 26 16 _"Few are those"}
        {SING_A_VERSE 26 16 _"Who can and do stay"}
        {SING_A_VERSE 26 16 _"When reward is none"}
        {SING_A_VERSE 26 16 _"For work until late"}

        {SING_A_VERSE 26 16 _"WHO RULES THIS LAND?"}
        {SING_A_VERSE 26 16 _"A BUSY TIRED MAN!"}
        {SING_A_VERSE 26 16 _"NO VISION, NO GOAL!"}
        {SING_A_VERSE 26 16 _"JUST A LOAD OF ALCOHOL!"}
        {STOP_SINGING 26 16}

        {KTK_UNLOCK_LYRICS obeying_the_wrong_one}
        [message]
            speaker=Aarron
            message=_"I hope you liked this! Our next song is called <i>Find and Destroy</i>..."
        [/message]
        [message]
            speaker=fan
            message=_"Dude, soldiers are all around the village. They are preparing to attack us all for a on the pretext of unruly gathering of revolters and armed minstrels playing ambiguous music."
        [/message]
        [message]
            speaker=Mortimer
            message=_"Have no fear, we can handle... They were extorting taxes while we were not near and imprisoning our friends. It was hard to find them, so we let them find us instead."
        [/message]
        [message]
            speaker=Aarron
            message=_"The next phase of our plan is <i>Found, now Destroy</i>."
        [/message]
        [message]
            speaker=Strigo
            message=_"There are some resources nearby. They will try to occupy them to maintain their army, if we did the same we would betray our principles."
        [/message]
        [message]
            speaker=Mortimer
            message=_"We may get all the resources we need from the bodies of dead soldiers."
        [/message]
        [message]
            speaker=enemy
            message=_"Consider yourself arrested on charges of playing pandemonial pagan music and subversive singing! The alert eye of the law was watching you, now feel its long arm and a rap on your knuckles from us. You are surrounded! Your numbers are inferior, the odds are on our side!"
        [/message]
        [message]
            speaker=enemy2
            message=_"Give up. I believe that both of us want minimum casualties."
        [/message]
        [message]
            speaker=enemy
            message=_"Or do you delight in death as you have shown in the tavern at Littlefiddleville?"
        [/message]
        [message]
            speaker=Aarron
            message=_"You mean Hicksville? A memorable bummer for you, right! Well, this time I want a duel. Just you and me.  Let two champions decide what does not have to be decided my by many men. Let the champions sort this out, no one else is needed."
        [/message]
        [message]
            speaker=enemy
            message=_"You would not fight fair. And remember that we are the ones with a superior military force."
        [/message]
        [message]
            speaker=Mortimer
            message=_"I just wanted to say the same about us."
        [/message]
        [message]
            speaker=enemy3
            message=_"They are using a delaying tactic. They have an ace up their sleeve. We should be wary."
        [/message]
        [message]
            speaker=enemy
            message=_"Silence, we are not playing cards to decide, that would allow them to win even easier."
        [/message]
        [message]
            speaker=enemy3
            message=_"I mean it might be a..."
        [/message]
        [message]
            speaker=enemy
            message=_"Enough talking. Attack!"
        [/message]
    [/event]

    [event]
        name=turn 2
        [message]
            speaker=Mortimer
            message=_"Wait for it... hold positions, do not engage."
        [/message]
    [/event]

    [event]
        name=turn 5
        [message]
            speaker=Aarron
            message=_"Get ready..."
        [/message]
        {GENERIC_UNIT 1 "Skeleton Archer" 9 5}
        {GENERIC_UNIT 1 "Ghoul" 11 7}
        {GENERIC_UNIT 1 "Skeleton" 5 11}
        {GENERIC_UNIT 1 "Soulless" 8 11}
        {GENERIC_UNIT 1 "Ghost" 13 8}
        {GENERIC_UNIT 1 "Skeleton" 13 5}
        {GENERIC_UNIT 1 "Skeleton Archer" 7 3}

        {GENERIC_UNIT 1 "Ghost" 28 30}
        {GENERIC_UNIT 1 "Walking Corpse" 30 26}
        {GENERIC_UNIT 1 "Walking Corpse" 27 26}
        {GENERIC_UNIT 1 "Skeleton" 27 24}
        {GENERIC_UNIT 1 "Skeleton Archer" 33 23}
        {GENERIC_UNIT 1 "Skeleton Archer" 38 21}
        {GENERIC_UNIT 1 "Ghoul" 41 24}

        {GENERIC_UNIT 1 "Skeleton" 27 5}
        {GENERIC_UNIT 1 "Skeleton Archer" 30 4}
        {GENERIC_UNIT 1 "Ghost" 36 9}
        {GENERIC_UNIT 1 "Ghoul" 37 8}
        {GENERIC_UNIT 1 "Wraith" 43 10}
        {GENERIC_UNIT 1 "Skeleton Archer" 44 8}
        {GENERIC_UNIT 1 "Walking Corpse" 43 4}
        [message]
            speaker=enemy
            message=_"It is a trap!"
        [/message]
        [message]
            speaker=enemy3
            message=_"I have told you! Now we are separated from our troops because of YOUR stupidity!"
        [/message]
        [message]
            speaker=Mortimer
            message=_"Quick, let us kill their generals!"
        [/message]
    [/event]

    [event]
        name=die
        [filter_condition]
            [not]
                [have_unit]
                    side=3
                    [or]
                        side=4
                    [/or]
                    [or]
                        side=5
                    [/or]
                [/have_unit]
            [/not]
        [/filter_condition]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=side turn
        [filter_condition]
            [not]
                [have_unit]
                    side=3
                    [or]
                        side=4
                    [/or]
                    [or]
                        side=5
                    [/or]
                [/have_unit]
            [/not]
        [/filter_condition]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=victory
        [message]
            speaker=Mortimer
            message= _ "They are down! Our trap worked!"
        [/message]
        [message]
            speaker=Strigo
            message=_"I doubt the king's office will manage to assemble more soldiers to fight us."
        [/message]
        [message]
            speaker=Aarron
            message=_"Getting the lords to send soldiers to fight orcs is easy, but persuading them to fight <i>bards</i> requires definitely a larger political skill."
        [/message]
        [message]
            speaker=Mortimer
            message= _ "We might have full rein – as long as we do not pose a threat too serious to be ignored by the nobility. That is, by those lords who still support the king. But I think that pushing his heir there is a possibility that would not help the country as a heir of my choice."
        [/message]
    [/event]

    [event]
        name=time over
        [message]
            speaker=Calcy
            message= _ "I do not want to talk into your work, generals, but more of them are coming from behind that hill."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {EARN_BY_SLAUGHTER}
    {KTK_GENERIC_DEATHS}
    {GLOBAL_EVENTS}
    {DROPS 4 10 (axe,axe,axe,axe,axe,bow,mace) yes 3,4,5}
    {EARLY_FINISH_BONUS_FROM_SLAUGHTER 38 54 60}
    {KTK_SONGBOOK}
[/scenario]
