#textdomain wesnoth-kill_the_king
#define LIGHTNING DIRECTION_NUMBER
    [attack_anim]
        [filter_attack]
            name=lightning
            [or]
                name=thunder
            [/or]
        [/filter_attack]

        {LIGHTNING_BOLT {DIRECTION_NUMBER} }

        start_time=-250
        [frame]
            begin=-300
            end=-200
            image="units/aarron.png"
        [/frame]
        [frame]
            begin=-200
            end=-75
            image="units/aarron-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=75
                image="units/aarron-attack-1.png"
                sound=lightning.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=75
                image="units/aarron-attack-1.png"
                sound=lightning-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=75
            end=150
            image="units/aarron.png"
        [/frame]
    [/attack_anim]
#enddef
[unit_type]
    id=Aarron
    name= _ "Mysterious Bard"
    race=undead
    gender=male
    image="units/aarron.png"
    profile="portraits/Aarron.png"
    hitpoints=52
    movement_type=elusivefoot
    [movement_costs]
        deep_water=2
    [/movement_costs]
    [defense]
        frozen=40
        shallow_water=60
        deep_water=40
        reef=50
        flat=40
        castle=30
        village=30
        forest=30
        cave=40
        hills=30
        mountains=30
        fungus=40
        swamp_water=60
        sand=60
        unwalkable=40
    [/defense]
    [resistance]
        blade=80
        pierce=50
        impact=130
        fire=100
        cold=50
        arcane=130
    [/resistance]
    movement=7
    experience=63
    level=2
    alignment=chaotic
    advances_to=null
    cost=53
    usage=mixed fighter
    description= _ "Bards are storytellers who travel from place to place, their sung narratives and poems tell the legends of great heroes from the past. Some of these singers are composers and instrumentalists with great influence, chiefly responsible for the rise of new styles of music. Commonly considered the only reliable source of information, bards also bring news from the king’s court.

THIS bard slightly breaks from this tradition by setting himself up as mouthpiece of the people as well. His real nature is secret and he keeps secret conceals even his real name..."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/aarron-standing-3.png" "units/aarron-standing-2.png" {SOUND_LIST:HUMAN_HIT}}
    [abilities]
        {ABILITY_EXTRA_DAMAGE_AURA _"battle chant" 20}
        {ABILITY_REGENERATES}
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=battle axe
        description=_"battle axe"
        type=blade
        range=melee
        icon=attacks/battleaxe.png
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_LEECH}
        [/specials]
    [/attack]
    [attack]
            name="lightning"
            description= _ "lightning"
            icon=attacks/lightning.png
            type=lightning
            range=ranged
            [specials]
                {WEAPON_SPECIAL_MAGICAL}
            [/specials]
            damage=18
            number=2
    [/attack]
    {ROCKING_ANIMS aarron}
    [attack_anim]
        [filter_attack]
            name=battle axe
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/aarron-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=0
                image="units/aarron-attack-2.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=0
                image="units/aarron-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=100
            image="units/aarron-attack-3.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/aarron-attack-4.png"
        [/frame]
        [frame]
            begin=200
            end=201
            image="units/aarron.png"
        [/frame]
    [/attack_anim]
    {LIGHTNING 1}
    {LIGHTNING 2}
    {LIGHTNING 3}
    {GENERIC_AMLA units/aarron.png units/aarron-standing-1.png units/aarron-attack-1.png units/aarron.png units/aarron-standing-1.png units/aarron-attack-1.png (
        [advancement]
            id=axe
            max_times=1
            description= _ "striking stronger with axe"
            image=attacks/battleaxe.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=battle axe
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=axe1_speed
            max_times=1
            description= _ "faster with axe"
            image=attacks/battleaxe.png
            strict_amla=yes
            require_amla="axe"
            [effect]
                apply_to=attack
                name=battle axe
                increase_attacks=1
                increase_damage=-2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=axe2
            max_times=1
            description= _ "striking stronger with axe"
            image=attacks/battleaxe.png
            strict_amla=yes
            require_amla="axe"
            [effect]
                apply_to=attack
                name=battle axe
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=axe2_struggle
            max_times=1
            description= _ "more defensive with axe"
            image=attacks/battleaxe.png
            strict_amla=yes
            require_amla="axe2"
            [effect]
                apply_to=attack
                name=battle axe
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_STRUGGLE}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=axe3
            max_times=1
            description= _ "striking stronger with axe"
            image=attacks/battleaxe.png
            strict_amla=yes
            require_amla="axe2"
            [effect]
                apply_to=attack
                name=battle axe
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=axe3_speed
            max_times=1
            description= _ "faster with axe"
            image=attacks/battleaxe.png
            strict_amla=yes
            require_amla="axe3"
            [effect]
                apply_to=attack
                name=battle axe
                increase_attacks=1
                increase_damage=-2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=axe3
            max_times=5
            description= _ "better with axe"
            image=attacks/battleaxe.png
            strict_amla=yes
            require_amla="axe,axe2"
            [effect]
                apply_to=attack
                name=battle axe
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    [advancement]
        max_times=1
        always_display=yes
        id=lightning
        description= _ "casting lightnings better"
        image=attacks/lightning.png
        strict_amla=yes
        require_amla=""
        [effect]
            apply_to=attack
            name=lightning
            increase_damage=5
        [/effect]
        {AMLA_DEFAULT_BONUSES}
    [/advancement]
    [advancement]
        max_times=1
        always_display=yes
        id=lightning2
        description= _ "casting lightnings better"
        image=attacks/lightning.png
        strict_amla=yes
        require_amla="lightning"
        [effect]
            apply_to=attack
            name=lightning
            increase_damage=4
        [/effect]
        {AMLA_DEFAULT_BONUSES}
    [/advancement]
    [advancement]
        max_times=5
        always_display=yes
        id=lightning3
        description= _ "casting lightnings better"
        image=attacks/lightning.png
        strict_amla=yes
        require_amla="lightning2"
        [effect]
            apply_to=attack
            name=lightning
            increase_damage=3
        [/effect]
        {AMLA_DEFAULT_BONUSES}
    [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=chant1
            description= _ "rousing allies better (+30% damage)"
            image=icons/leadership.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
            {ABILITY_EXTRA_DAMAGE_AURA _"battle chant" 20}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
            {ABILITY_EXTRA_DAMAGE_AURA _"battle chant" 30}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=chant2
            description= _ "rousing allies better (+35% damage)"
            image=icons/leadership.png
            strict_amla=yes
            require_amla="chant1"
            [effect]
                apply_to=remove_ability
                [abilities]
            {ABILITY_EXTRA_DAMAGE_AURA _"battle chant" 30}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
            {ABILITY_EXTRA_DAMAGE_AURA _"battle chant" 35}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=chant3
            description= _ "rousing allies better (+40% damage)"
            image=icons/leadership.png
            strict_amla=yes
            require_amla="chant2"
            [effect]
                apply_to=remove_ability
                [abilities]
            {ABILITY_EXTRA_DAMAGE_AURA _"battle chant" 35}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
            {ABILITY_EXTRA_DAMAGE_AURA _"battle chant" 40}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=dodge
            max_times=5
            description= _ "harder to be hit"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-2
                    shallow_water=-2
                    deep_water=-2
                    reef=-2
                    flat=-2
                    castle=-1
                    village=-1
                    forest=-1
                    cave=-2
                    hills=-1
                    mountains=-1
                    fungus=-2
                    swamp_water=-2
                    sand=-2
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            id=movement4
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla="movement3"
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Aarron"}
