#textdomain wesnoth-kill_the_king
[unit_type]
    id=Aarron_early
    name= _ "Mysterious Swashbuckler"
    race=undead
    gender=male
    image="units/aarron-early.png"
    profile="portraits/Aarron-early.png"
    hitpoints=52
    movement_type=elusivefoot
    [movement_costs]
        forest=1
        deep_water=2
    [/movement_costs]
    [defense]
        frozen=40
        shallow_water=60
        deep_water=40
        reef=50
        flat=40
        castle=30
        village=30
        forest=30
        cave=40
        hills=30
        mountains=30
        fungus=40
        swamp_water=60
        sand=60
        unwalkable=40
    [/defense]
    [resistance]
        blade=80
        pierce=50
        impact=130
        fire=100
        cold=50
        arcane=130
    [/resistance]
    movement=7
    experience=63
    level=2
    alignment=neutral
    advances_to=null
    cost=53
    hide_help=true
    do_not_list=yes
    usage=mixed fighter
    description= _ "This bard's real nature is secret and he keeps secret even his real name."
    [abilities]
        {ABILITY_REGENERATES}
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-unholy.png
        type=blade
        range=melee
        damage=9
        number=4
        [specials]
            {WEAPON_SPECIAL_LEECH}
        [/specials]
    [/attack]
    [attack]
            name="lightning"
            description= _ "lightning"
            icon=attacks/lightning.png
            type=lightning
            range=ranged
            [specials]
                {WEAPON_SPECIAL_MAGICAL}
            [/specials]
            damage=18
            number=2
    [/attack]
[/unit_type]
