#textdomain wesnoth-kill_the_king
[unit_type]
    id=Calcy_early
    name= _ "Skeleton"
    race=undead
    image="units/calcy.png"
    profile="portraits/Calcy-early.png"
    hitpoints=34
    movement_type=undeadfoot
    movement=5
    experience=35
    level=1
    alignment=chaotic
    advances_to=null
    cost=15
    usage=fighter
    description= _ "Skeletons are warriors who have been slain in battle and brought back by dark magics. Bla bla bla, you know the rest, you must have already read it for normal skeletons."
    die_sound={SOUND_LIST:SKELETON_DIE}
    hide_help=true
    do_not_list=yes
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/undead/transparent/skeleton.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/undead/transparent/skeleton.png"
    [/portrait]
    [abilities]
        {ABILITY_HAUNTING 20}
        {ABILITY_SUBMERGE}
    [/abilities]
    [resistance]
        blade=60
        pierce=40
        impact=120
    [/resistance]
    [attack]
        name=axe
        description=_"axe"
        icon=attacks/axe-undead.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [standing_anim]
        start_time=0
        [frame]
            image="units/calcy-standing-1.png:150"
        [/frame]
        [frame]
            image="units/calcy.png:150"
        [/frame]
    [/standing_anim]
[/unit_type]
