#textdomain wesnoth-kill_the_king
#define ABILITY_HAUNTING INTENSITY
    [leadership]
        id=haunting
        value=-{INTENSITY}
        cumulative=no
        name= _ "haunting ("+{INTENSITY}+_")"
        female_name= _ "female^haunting ("+{INTENSITY}+_")"
        description= _ "This unit plays hauntingly beautiful music, causing enemies to lose interest in combat and listen instead, causing them to deal "+{INTENSITY}+_"% less damage."
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
        [/affect_adjacent]
    [/leadership]
#enddef
[unit_type]
    id=Calcy
    name= _ "Skeleton Minstrel"
    race=undead
    image="units/calcy.png"
    profile="portraits/Calcy.png"
    hitpoints=34
    movement_type=undeadfoot
    movement=5
    experience=35
    level=1
    alignment=chaotic
    advances_to=null
    cost=23
    usage=fighter
    description= _ "Skeletons are warriors who have been slain in battle and brought back by dark magics. If they were minstrels in life, they end up such in their undead existence. Together with the tendons that barely hold the bones together, they keep their vocal chords – though the missing body parts have an effect on the voice pitch and cause a very sepulchral low bass singing. Skeletal minstrels wander the lands, sing and play haunting blues to everyone who is not scared of rackabones that coax tender timbres from an axe. Well, THIS one does not always play blues."
    die_sound={SOUND_LIST:SKELETON_DIE}

    {DEFENSE_ANIM_DIRECTIONAL "units/undead-skeletal/skeleton/skeleton-se-defend2.png" "units/undead-skeletal/skeleton/skeleton-se-defend1.png" "units/undead-skeletal/skeleton/skeleton-ne-defend2.png" "units/undead-skeletal/skeleton/skeleton-ne-defend1.png" {SOUND_LIST:SKELETON_HIT} }
    {MOVING_ANIM_DIRECTIONAL_12_FRAME "units/undead-skeletal/skeleton/skeleton"}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/Calcy.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/Calcy.png"
    [/portrait]
    {ROCKING_ANIMS calcy}
    [abilities]
        {ABILITY_HAUNTING 20}
        {ABILITY_SUBMERGE}
    [/abilities]
    [death]
        start_time=0
        [frame]
            image="units/undead-skeletal/skeleton/skeleton-dying-[1~7].png:100"
        [/frame]
    [/death]
    [resistance]
        blade=60
        pierce=40
        impact=120
    [/resistance]
    [attack]
        name=axe
        description=_"axe"
        icon=attacks/axe-undead.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        {ATTACK_ANIM_DIRECTIONAL_10_FRAME "units/undead-skeletal/skeleton/skeleton" "melee" axe.ogg {SOUND_LIST:MISS}}
    [/attack_anim]
    {GENERIC_AMLA units/calcy.png units/calcy-standing-1.png units/calcy-standing-2.png units/calcy.png units/calcy-standing-1.png units/calcy-standing-2.png (
        [advancement]
            max_times=1
            always_display=yes
            id=axe1
            description= _ "better with axe"
            image=attacks/axe-undead.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=axe
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=axe1_speed
            description= _ "faster with axe"
            image=attacks/axe-undead.png
            strict_amla=yes
            require_amla="axe1"
            [effect]
                apply_to=attack
                name=axe
                increase_damage=-1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=axe2
            description= _ "better with axe"
            image=attacks/axe-undead.png
            strict_amla=yes
            require_amla="axe1"
            [effect]
                apply_to=attack
                name=axe
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=axe3
            description= _ "better with axe"
            image=attacks/axe-undead.png
            strict_amla=yes
            require_amla="axe2"
            [effect]
                apply_to=attack
                name=axe
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=axe2_precision
            description= _ "more precise with axe"
            image=attacks/axe-undead.png
            strict_amla=yes
            require_amla="axe2"
            [effect]
                apply_to=attack
                name=axe
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_MARKSMAN}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=axe3_speed
            description= _ "faster with axe"
            image=attacks/axe-undead.png
            strict_amla=yes
            require_amla="axe3"
            [effect]
                apply_to=attack
                name=axe
                increase_damage=-1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=haunting1
            description= _ "haunting nearby enemies better (-30% damage)"
            image=attacks/curse.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_HAUNTING 20}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_HAUNTING 30}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=haunting2
            description= _ "haunting nearby enemies better (-35% damage)"
            image=attacks/curse.png
            strict_amla=yes
            require_amla="haunting1"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_HAUNTING 30}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_HAUNTING 35}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=haunting3
            description= _ "haunting nearby enemies better (-40% damage)"
            image=attacks/curse.png
            strict_amla=yes
            require_amla="haunting2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_HAUNTING 35}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_HAUNTING 40}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better protected from physical blows (4% better resistances)"
            image=icons/steel_armor.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-4
                    pierce=-4
                    impact=-5
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            {AMLA_DEFAULT_BONUSES}
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/advancement]
    ) "Calcy"}
[/unit_type]
# wmlxgettext: [/unit_type]
