#textdomain wesnoth-kill_the_king
[unit_type]
    id=Mortimer_early
    name= _ "Masked Ghost"
    race=undead
    gender=male
    image="units/mortimer-early.png"
    profile="portraits/Mortimer-early.png"
    hitpoints=30
    movement_type=undeadspirit
    movement=7
    experience=58
    level=2
    alignment=chaotic
    advances_to=null
    cost=42
    usage=mixed fighter
    description= _ "Some ghosts refuse to to accept that they are long dead. They try to disguise themselves as living using large amounts of clothing and masks. In this form, they resume the profession they pursued during their lifetime."+{SPECIAL_NOTES}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:HUMAN_DIE}
    hide_help=true
    do_not_list=yes
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/baneblade.png
        type=blade
        range=melee
        damage=6
        number=4
    [specials]
        {WEAPON_SPECIAL_DRAIN}
    [/specials]
    [/attack]
    [attack]
    name=fireball
    description=_"fireball"
    icon=attacks/fireball.png
    type=fire
    range=ranged
    damage=6
    number=3
    [specials]
        {WEAPON_SPECIAL_MAGICAL}
    [/specials]
    [/attack]
[/unit_type]
