#textdomain wesnoth-kill_the_king
[unit_type]
    id=Slayerina
    name= _ "Elvish Minstrel"
    race=undead
    gender=female
    image="units/slayerina.png"
    profile="portraits/Slayerina.png"
    hitpoints=53
    movement_type=woodlandfloat
    [resistance]
        fire=100
        arcane=130
        cold=40
        blade=70
        pierce=40
        impact=110
    [/resistance]
    [defense]
        deep_water=40
        unwalkable=40
    [/defense]
    [movement_costs]
        deep_water=1
        unwalkable=1
    [/movement_costs]
    movement=6
    experience=57
    level=2
    alignment=chaotic
    advances_to=null
    cost=57
    usage=mixed fighter
    description= _ "Generally not allowed to perform in public, wandering female singers and musicians are rather unusual, but found in the company of
travelling folk or bards. Elves are known to be not only outstanding singers, but also more liberal: their women are equal to men in times
of peace and war.

This elvish lady is a minstrel, but her real nature is secret and she conceals even her real name..."
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/slayerina-standing-3.png" "units/slayerina-standing-2.png" {SOUND_LIST:ELF_FEMALE_HIT}}
    [abilities]
        {ABILITY_CURES}
        {ABILITY_REGENERATES}
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-green.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        damage=7
        number=2
        range=melee
    [/attack]
    [attack]
        name=faerie fire
        description=_"faerie fire"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=9
        number=4
        range=ranged
        icon=attacks/faerie-fire.png
    [/attack]
    {ROCKING_ANIMS slayerina}
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/slayerina-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/slayerina-attack-2.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/slayerina-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/slayerina-attack-1.png"
        [/frame]
        [frame]
            begin=200
            end=201
            image="units/slayerina.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=faerie fire
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_FIRE}

        [if]
            hits=yes
            [frame]
                begin=-450
                end=-375
                image="units/slayerina-magic.png"
                sound=magic-faeriefire.ogg
                halo=halo/elven/faerie-fire-halo1.png
                halo_x,halo_y=0,-28
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-450
                end=-375
                image="units/slayerina-magic.png"
                sound=magic-faeriefire-miss.ogg

                halo=halo/elven/faerie-fire-halo1.png
                halo_x,halo_y=0,-28
            [/frame]
        [/else]

        [frame]
            begin=-375
            end=-300
            image="units/slayerina-magic.png"
            halo=halo/elven/faerie-fire-halo2.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/slayerina-magic.png"
            halo=halo/elven/faerie-fire-halo3.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/slayerina-magic.png"
            halo=halo/elven/faerie-fire-halo4.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/slayerina-magic.png"
            halo=halo/elven/faerie-fire-halo5.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/slayerina-magic.png"
            halo=halo/elven/faerie-fire-halo6.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-0
            end=75
            image="units/slayerina.png"
            halo=halo/elven/faerie-fire-halo7.png
            halo_x,halo_y=0,-28
        [/frame]
    [/attack_anim]

    {GENERIC_AMLA units/slayerina.png units/slayerina-standing-1.png units/slayerina-magic.png units/slayerina.png units/slayerina-standing-1.png units/slayerina-magic.png (
        [advancement]
            id=staff
            max_times=1
            description= _ "striking stronger with staff"
            image=attacks/staff-green.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=staff
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=staff1_speed
            max_times=1
            description= _ "faster with staff"
            image=attacks/staff-green.png
            strict_amla=yes
            require_amla="staff"
            [effect]
                apply_to=attack
                name=staff
                increase_attacks=1
                increase_damage=-2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=staff2
            max_times=1
            description= _ "striking stronger with staff"
            image=attacks/staff-green.png
            strict_amla=yes
            require_amla="staff"
            [effect]
                apply_to=attack
                name=staff
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=staff2_imprecise
            max_times=1
            description= _ "less precise but more damaging with staff"
            image=attacks/staff-green.png
            strict_amla=yes
            require_amla="staff2"
            [effect]
                apply_to=attack
                name=staff
                increase_damage=4
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_IMPRECISE}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=staff3
            max_times=2
            description= _ "striking stronger with staff"
            image=attacks/staff-green.png
            strict_amla=yes
            require_amla="staff2"
            [effect]
                apply_to=attack
                name=staff
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=faerie1
            description= _ "causing more havoc with faerie fire"
            image=attacks/faerie-fire.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=faerie fire
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=faerie2
            description= _ "causing more havoc with faerie fire"
            image=attacks/faerie-fire.png
            strict_amla=yes
            require_amla="faerie1"
            [effect]
                apply_to=attack
                name=faerie fire
                increase_damage=-1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=faerie2_boom
            description= _ "dealing damage to multiple units with faerie fire"
            image=attacks/faerie-fire.png
            strict_amla=yes
            require_amla="faerie1,faerie2"
            [effect]
                apply_to=attack
                name=faerie fire
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_CONE}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=faerie3
            description= _ "causing more havoc with faerie fire"
            image=attacks/faerie-fire.png
            strict_amla=yes
            require_amla="faerie1,faerie2"
            [effect]
                apply_to=attack
                name=faerie fire
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=heals1
            description= _ "healing allies better (+12 health)"
            image=icons/healing.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_CURES}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_HEALS_OTHER 12}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=heals2
            description= _ "healing allies better (+16 health)"
            image=icons/healing.png
            strict_amla=yes
            require_amla="heals1"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_HEALS_OTHER 12}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_HEALS_OTHER 16}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=heals3
            description= _ "healing allies better (+20 health)"
            image=icons/healing.png
            strict_amla=yes
            require_amla="heals2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_HEALS_OTHER 16}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_HEALS_OTHER 20}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=dodge
            max_times=5
            description= _ "harder to be hit"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-2
                    shallow_water=-2
                    deep_water=-2
                    reef=-2
                    flat=-2
                    castle=-1
                    village=-1
                    forest=-1
                    cave=-2
                    hills=-1
                    mountains=-1
                    fungus=-2
                    swamp_water=-2
                    sand=-2
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            id=movement4
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla="movement3"
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Slayerina"}
[/unit_type]
# wmlxgettext: [/unit_type]
