#textdomain wesnoth-kill_the_king
[unit_type]
    id=Strigo
    name= _ "Vampire Drummer"
    race=undead
    gender=male
    image="units/strigo.png"
    profile="portraits/Strigo.png"
    hitpoints=43
    movement_type=smallfoot
    [resistance]
        arcane=130
    [/resistance]
    movement=6
    experience=37
    level=1
    alignment=chaotic
    advances_to=null
    cost=21
    usage=fighter
    description= _ "Vampires are an ancient race of bloodsucking undead that serve no master. They lead undead on their own, like necromancers, except that they fight together with their skeletal servants. Some of them drum a battle rhythm to scare their opponents and make the job easier for their rotting army.

This revived leech drums his rotting army into battle, the frightening rhythm scares not only opponents..."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/strigo-standing-3.png" "units/strigo-standing-2.png" {SOUND_LIST:HUMAN_HIT}}
    [abilities]
        {ABILITY_FRAIL_TIDE 20}
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=mace
        description=_"drumstick"
        icon="attacks/club-small.png~GS()"
        type=impact
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_LEECH}
        [/specials]
    [/attack]
    {ROCKING_ANIMS strigo}
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/strigo-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=150
                image="units/strigo-attack-2.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=150
                image="units/strigo-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/strigo-attack-3.png"
        [/frame]
        [frame]
            begin=200
            end=225
            image="units/strigo.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/mortimer.png units/mortimer-standing-1.png units/mortimer-standing-2.png units/mortimer.png units/mortimer-standing-1.png units/mortimer-standing-2.png (
        [advancement]
            id=mace
            max_times=1
            description= _ "striking stronger with drumsticks"
            image="attacks/club-small.png~GS()"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=mace
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=mace_speed
            max_times=1
            description= _ "striking faster with drumsticks"
            image="attacks/club-small.png~GS()"
            strict_amla=yes
            require_amla="mace"
            [effect]
                apply_to=attack
                name=mace
                increase_attacks=1
                increase_damage=-2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=mace2
            max_times=1
            description= _ "striking stronger with drumsticks"
            image="attacks/club-small.png~GS()"
            strict_amla=yes
            require_amla="mace"
            [effect]
                apply_to=attack
                name=mace
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=mace2_speed
            max_times=1
            description= _ "striking faster with drumsticks"
            image="attacks/club-small.png~GS()"
            strict_amla=yes
            require_amla="mace2"
            [effect]
                apply_to=attack
                name=mace
                increase_attacks=1
                increase_damage=-2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=mace3
            max_times=5
            description= _ "striking stronger with drumsticks"
            image="attacks/club-small.png~GS()"
            strict_amla=yes
            require_amla="mace2"
            [effect]
                apply_to=attack
                name=mace
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=mace_horrid
            max_times=1
            description= _ "causing enemies to lose all their will to fight with melee attacks"
            image="attacks/club-small.png~GS()"
            strict_amla=yes
            require_amla="mace3"
            [effect]
                apply_to=attack
                name=mace
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_LESSER_LETHARGY}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=frail_tide1
            description= _ "reducing enemies' resistances better (-30% resistances)"
            image=attacks/curse.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_FRAIL_TIDE 20}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_FRAIL_TIDE 30}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=frail_tide2
            description= _ "reducing enemies' resistances better (-35% resistances)"
            image=attacks/curse.png
            strict_amla=yes
            require_amla="frail_tide1"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_FRAIL_TIDE 30}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_FRAIL_TIDE 35}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=frail_tide3
            description= _ "reducing enemies' resistances better (-40% resistances)"
            image=attacks/curse.png
            strict_amla=yes
            require_amla="frail_tide2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_FRAIL_TIDE 35}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_FRAIL_TIDE 40}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "more resistant (4% better resistances)"
            image=icons/armor_leather.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-4
                    pierce=-4
                    impact=-4
                    fire=-4
                    arcane=-6
                    cold=-4
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Strigo"}
[/unit_type]
# wmlxgettext: [/unit_type]
