#textdomain wesnoth-loti
[scenario]
    id="02_Tunnels_of_Cruelty"
    name= _ "Tunnels of Cruelty"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/02_Tunnels_of_Cruelty.map}"
    next_scenario=03_Shores_of_Abyss
    victory_when_enemies_defeated=no
    experience_modifier=80
    turns=-1
    {DEFAULT_MUSIC_PLAYLIST}
    {INDOORS}
    {INFERNO_SHOW_MAP}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper,Troll,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Thunderer,Dwarvish Thunderguard,Dwarvish Ulfserker,Dwarvish Berserker
        village_gold=0
        income=-2
        gold=0
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=yes
    [/side]
    [side]
        type=Demon Overlord
        canrecruit=yes
        random_gender=yes
        side=2
        recruit=Heavy Infantryman,Bowman,Elvish Fighter,Fencer,Dwarvish Guardsman
        village_gold=10
        {GOLD 500 600 700}
        {INCOME 0 10 20}
        team_name=evil
        user_team_name=_"Evil"
        id=boss1
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
    [/side]
    [side]
        type=Lethalia_evil_good
        canrecruit=yes
        random_gender=yes
        side=3
        recruit=Doom Knight,Knight of Pain
        name= _ "Lethalia"
        village_gold=10
        {GOLD 900 1100 1300}
        income=50
        team_name=lesser_evil
        user_team_name=_"Lesser Evil"
        id=Lethalia_evil
        [ai]
            aggression=1.0
            passive_leader=yes
            [aspect]
                id=attacks
                [facet]
                    invalidate_on_gamestate_change=yes
                    [filter_enemy]
                        [not]
                            side=1
                        [/not]
                    [/filter_enemy]
                [/facet]
            [/aspect]
        [/ai]
    [/side]
    {INFERNO_ENEMY_NO_LEADER_SIDE 4}
    [event]
        name=prestart
        {INFERNAL_OBJECTIVES}
        {INFERNO_TRANSITION 1 3,31 1-3,32-33}
        {INFERNO_CHEST 28 5 sc2_chest}
        {VARIABLE last_scenario 2}
    [/event]
    [event]
        name=start
        {INFERNO_RECALL_ALL}
        [if]
            [variable]
                name=quests.entered_sc2
                equals=yes
            [/variable]
            [else]
                [message]
                    speaker=Lethalia
                    message= _ "I wonder what horrors lurk in these dark tunnels."
                [/message]
                {VARIABLE quests.entered_sc2 yes}
            [/else]
        [/if]
        [if]
            [variable]
                name=quests.completed_sc2
                equals=yes
            [/variable]
            [then]
                [kill]
                    side=2,3
                    canrecruit=yes
                    animate=no
                    fire_event=no
                [/kill]
            [/then]
        [/if]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=40-42,3-5
        [/filter]
        [fire_event]
            name=evil_lethalia_chat
        [/fire_event]
    [/event]
    [event]
        name=attack
        [filter]
            side=1
        [/filter]
        [filter_second]
            id=Lethalia_evil_good
        [/filter_second]
        [fire_event]
            name=evil_lethalia_chat
        [/fire_event]
    [/event]
    [event]
        name=attack
        [filter]
            id=Lethalia_evil_good
        [/filter]
        [filter_second]
            side=1
        [/filter_second]
        [fire_event]
            name=evil_lethalia_chat
        [/fire_event]
    [/event]
    [event]
        name=evil_lethalia_chat
        [if]
            [variable]
                name=quests.completed_sc2
                equals=yes
            [/variable]
            [else]
                [message]
                    speaker=Lethalia_evil
                    message= _ "Hello. I am pleased to meet you."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Vritra? What are you doing here?"
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "I am not Vritra. My name is Lethalia. I used to be your arch enemy."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "You? Are you allied with these blasted demons now?"
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "What? I am fighting against them, like you! They were about to destroy our world, and no matter how evil I can seem to you, I never wanted to destroy the world I am from. Only a fool might want that."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "How could you even survive? We blasted you with energy until nothing remained of you!"
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "Almost all the souls bled out from me. Only several of them, those with the strongest will to stay inside survived. And I was completely out of my power. I was too weak to fight you, so I fled with no idea what I would do without my power. But I was not dead. After some time, my wounds recovered. I was merely a powerful spirit, without any material presence. But I was still capable of possessing the weak. I have found a young noble lady, known to be beautiful but stupid. Very stupid."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "I possessed her. To her family, it looked like a wonder, for nobody ever cured innate stupidity. I sought to restore my power that sizzled after fighting you. I had my knowledge of magic that still kept me quite powerful, but I wanted the same power as I had before. I needed to perform some experiments on living subjects, devour some souls and so on. I explained to my foster family that I was going to study magic into a distant magical college I had just imagined, and left into the wilderness."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "But after several experiments that restored neglectful parts of my previous power, her body started to decay. There was only one thing I could do. I created another dark breed. A similar thing to the child you stole from me before. This time, I was inside her from the beginning of her development. Of course, this meant that I had to stop controlling her mother. She received a part of my wisdom, so she was no longer so stupid, and had enough wits to understand that she should pretend that nothing unnatural happened."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "She explained that she missed her family and so she returned. She quickly married a man who loved her before, and because she was no longer so stupid, his parents allowed her to marry him. Her pregnancy with me was suspiciously short, but not impossibly short. I was struggling with the childish instincts of my new-born body, and I was almost unable to do anything for two years. Then my mind started growing stronger, and I started accelerating my growth."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "I was thought to be a prodigious child. What really surprised me was that I no longer felt a need to seek power using any means available. So I did not pretend I was a messenger of some god and did not rule the town by turning all its inhabitants into religious fanatics, bringing bloody sacrifices to me. I just explained after some time that I was going to a magical college to study magic and left. I no longer felt the need to capture innocent victims and perform experiments on them, but I wanted to grow stronger. I was getting kinder, probably because I was <i>living</i>."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "My knowledge of magic was making me strong, but not enough. I travelled into a huge city, named Krapul. As in every bustling town, there were a lot of criminals who deserved being fed on. I stole a lot of magical pieces of armour, especially small ones that did not conceal other gear below them too much. Looking like a walking jewelcase, gold, diamonds and magical sparkles everywhere, all I needed to find them was to wander the streets at night. Every attempt for a mugging resulted in a mayhem nobody survived. Streets became safe, because everybody knew what was happening to muggers, but nobody knew who was behind it."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "After destroying the muggers who were easy targets, I started fighting the organised crime to hunt for souls to feed on. And I found out something terrible. The criminal world had its grim secrets. Something much more dreadful than I ever expected. It was infiltrated by demonic creatures. I started investigating. I found out that they were coming from some portal, but I was not strong enough. I allied myself with the ruler, and we started fighting the crime together. I wanted to persuade him to send his army with me to close the portal, after retaking control of the city, but the demons prevailed."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "The city was overrun with demons, all I could do was to hunt them and build an army of undead demons, that are much stronger than normal undead. I stormed the portal, and used the chaos to sneak inside. But there were too many demons around the portal control. I entered these caves to assemble enough random dead demons to be able to storm them again, but they sent out this division to fend me off. And then I met you."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "You seem to be fighting the demons like us. I believe you that part, because the demons were attacking you."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "I do not trust you at all. This all might have been just a theatrical play by Uria to insert a spy into our ranks."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "Suggest a reason why I should ally with them. A stronger demon is an overwhelming force to me. I can defeat demons only with minions or by stealth or using some trickery, my power decreased greatly when you defeated me. If I was allied with them, I would get the lowest rank available, maybe they would even make an even lower rank just for me."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Uhm... Uria might reward you with power, and power is what you always craved for."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "She is weak compared to other demons. Uria would slay her instead of rewarding her, because she has no other need of her. And remember that your <i>sister</i> wants to rule, not to serve. And she knows that her power will be restored after enough kills."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "She wants to have the demonic power in addition to her old powers restored, and that would assure that nobody will be able to face her during her rise to power in our world."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "The demons seek to destroy our world. There will be nothing to rule soon."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "The portal has been closed. But it was a demon who closed it when he was sure he has no hope to prevent us from closing it, and we are stuck here because of him."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "You fools! There is nothing to do here now, and there is no escape! I can kill myself now."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "We are looking for a way to escape. We have no idea what to do, but I believe we will figure something out."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "I will follow you then."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "No! I do not trust you."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "Why do you think I am the worst evil you can imagine? I am a necromancer, just like you were and still are. Maybe I seek conquest, but you sought that too before you were brought to life by the ashes of phoenix. I was reincarnated, so I am alive too, just like you now. I might not be as noble as you, I might behave like a dreadful necromancer, but remember that even necromancers are fighting the demons."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "The demons are no longer a threat to our world. Maybe Uria promised you a return to our world for spying on us."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "Why would I trust Uria? And if she cannot enter our world herself, how can she bring <i>me</i> there? And most of all, you trust necromancers, but you do not trust me? Why?"
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Because you were allied with demonologists! And they might have been the cause of the entire Götterdämmerung."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "They came to join me themselves. I did not pay them, I never promised anything to them. They believed I would reward them for helping me after conquering the world, but I never wanted to do anything like that, they were abominations I wanted to exploit and destroy. Why do you think I never learned anything from them?"
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "I would tend to trust her. She is just like you before being transformed by the ashes of phoenix. Search your memories, you led armies of undead, sought power, but never even thought of experimenting with demonic powers."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Why are you defending her? Because she looks younger than me?"
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "Calm down. You are a much better person than she is. And you look very similar to her. To me, she looks like a child. She looks like Vritra, who is like a daughter to me."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "You have adopted my first experiment as a child? I am glad to hear that..."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Stop pretending emotions, wretch. You are nothing but a foul necromancer."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "But necromancers do not ally themselves with demons. And she is no longer a lich."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "You might be right. We will let her travel with us. But only until we find a way from Inferno."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "Many thanks. I will not deceive you."
                [/message]
                [modify_unit]
                    [filter]
                        id=Lethalia_evil
                    [/filter]
                    side=1
                    canrecruit=no
                [/modify_unit]
                [message]
                    speaker=Lethalia
                    message= _ "Stop it..."
                [/message]
                {VARIABLE quests.completed_sc2 yes}
            [/else]
        [/if]
    [/event]

    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4}
    {FORCE_CHANCE_TO_HIT side=2 id=Lethalia_evil 0 ()}
    {FORCE_CHANCE_TO_HIT side=1 id=Lethalia_evil 0 ()}
    {INFERNO_SPAWN_POINT 4 3 42 37}
    {INFERNO_SPAWN_POINT 4 4 32 32}
    {INFERNO_SPAWN_POINT 4 3 8 6}
    {INFERNO_SPAWN_POINT 4 4 24 1}
    {CAMPAIGN9_EVENTS}
    {STOP_COMING_ON_VICTORY}
    {GENERIC_DEATHS}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
