#textdomain wesnoth-loti
[scenario]
    id="22_Where_the_Hatred_Grows"
    name= _ "Where the Hatred Grows"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/22_Where_the_Hatred_Grows.map}"
    next_scenario=23_Empire_of_Suffering
    victory_when_enemies_defeated=no
    experience_modifier=80
    turns=-1
    {DEFAULT_MUSIC_PLAYLIST}
    {SCHEDULE_HELL}
    {INFERNO_SHOW_MAP}
    [time_area]
        x=49-59
        y=0-9
        {INDOORS}
    [/time_area]
    [time_area]
        x=45-59
        y=29-34
        {UNDERGROUND}
    [/time_area]
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper,Troll,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Thunderer,Dwarvish Thunderguard,Dwarvish Ulfserker,Dwarvish Berserker
        village_gold=0
        income=-2
        gold=0
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=no		#Fog=no, do not copy without thinking!
    [/side]
    [side]
        type=Demon Manowar
        canrecruit=yes
        random_gender=yes
        side=2
        recruit=Demon
        village_gold=5
        gold=0
        income=-2
        team_name=evil
        user_team_name=_"Evil"
        id=boss1
        [ai]
            aggression=1.0
        [/ai]
        [modifications]
            [object]
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        flat={UNREACHABLE}
                    [/movement_costs]
                [/effect]
            [/object]
        [/modifications]
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
    [/side]
    [side]
        type=Demon Manowar
        canrecruit=yes
        random_gender=yes
        side=3
        recruit=Longbowman,Swordsman,Pikeman,Javelineer,Elvish Ranger,Dwarvish Steelclad
        village_gold=3
        gold=0
        income=-2
        team_name=evil
        user_team_name=_"Evil"
        id=boss2
        [ai]
            aggression=1.0
        [/ai]
        [modifications]
            [object]
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        flat={UNREACHABLE}
                    [/movement_costs]
                [/effect]
            [/object]
        [/modifications]
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
    [/side]
    [side]
        type=Demon Manowar
        canrecruit=yes
        random_gender=yes
        side=4
        recruit=Demon
        village_gold=4
        {GOLD 500 650 800}
        {INCOME 20 30 40}
        team_name=evil
        user_team_name=_"Evil"
        id=boss3
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
    [/side]
    {INFERNO_ENEMY_NO_LEADER_SIDE 5}
    {INFERNO_ENEMY_NO_LEADER_SIDE 6}
    {INFERNO_ENEMY_NO_LEADER_SIDE 7}
    {INFERNO_ENEMY_NO_LEADER_SIDE 8}
    {INFERNO_ENEMY_NO_LEADER_SIDE 9}
    {INFERNO_ENEMY_NO_LEADER_SIDE 10}
    {INFERNO_ENEMY_NO_LEADER_SIDE 11}
    {INFERNO_ENEMY_NO_LEADER_SIDE 12}
    {INFERNO_ENEMY_NO_LEADER_SIDE 13}
    {INFERNO_ENEMY_NO_LEADER_SIDE 14}
    {INFERNO_ENEMY_NO_LEADER_SIDE 15}
    {INFERNO_URIA_AVATAR_SIDE 16}
    [event]
        name=prestart
        {INFERNAL_OBJECTIVES}
        {INFERNO_TRANSITION 17 55,32 51-58,29-34}
        {INFERNO_TRANSITION 15 37,33 31-41,32-34}
        {INFERNO_TRANSITION 12 8,33 0-20,32-34}
        {INFERNO_TRANSITION 23 7,1 0-18,1-2}
        {INFERNO_TRANSITION 27 55,2 52-59,1-6}
        {INFERNO_CHEST 23 3 sc22_chest}
        {INFERNO_ORIGIN 17 53,32}
        {INFERNO_ORIGIN 15 36,32}
        {INFERNO_ORIGIN 12 9,32}
        {INFERNO_ORIGIN 23 10,2}
        {INFERNO_ORIGIN 27 53,4}
        {VARIABLE last_scenario 22}
    [/event]
    [event]
        name=start
        {INFERNO_RECALL_ALL}
        {INFERNO_ITEM 1 20 sc22_item1}
        {INFERNO_ITEM 55 13 sc22_item2}
        [remove_shroud]
            side=1
            x=49-58
            y=0-8
        [/remove_shroud]
        [if]
            [variable]
                name=quests.entered_sc22
                equals=yes
            [/variable]
            [else]
                [if]
                    [have_unit]
                        side=1
                        x,y=53,32
                    [/have_unit]
                    [then]
                        [remove_shroud]
                            side=1
                            x=43-39
                            y=24-31
                        [/remove_shroud]
                        {MOVE_UNIT id=Lethalia 46 25}
                        {MOVE_UNIT id=Efraim 47 26}
                    [/then]
                [/if]
                [message]
                    speaker=Lethalia
                    message= _ "Look at that fortress far away."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "I cannot see any. Because of this damned fog."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "There is one. I wonder what do they keep inside. Maybe it is the passage into Pandemonium."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "These evil forests look pretty dangerous as well."
                [/message]
                {VARIABLE quests.entered_sc22 yes}
            [/else]
        [/if]
        [modify_side]
            side=1
            fog=yes
        [/modify_side]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x=37-57
            y=0-17
        [/filter]
        [if]
            [variable]
                name=quests.sc22_boss1
                equals=yes
            [/variable]
            [else]
                [message]
                    speaker=boss1
                    message= _ "You dare to approach the Stronghold of Tears? It will be your death, your have walked this world for far too long. I will shred you to pieces, but while you will be alive, I will start making sausages from your guts, fill your stomach with your flesh and eat it..."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Yes, yes, we know something about our insides as well."
                [/message]
            [/else]
        [/if]
        [modify_side]
            side=2
            {GOLD 700 850 1000}
            {INCOME 40 55 70}
        [/modify_side]
        [modify_side]
            side=3
            {GOLD 500 650 800}
            {INCOME 30 40 50}
        [/modify_side]
    [/event]
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5,6,7,8,9,10,11,12,13,14,15,16}
    {INFERNO_SPAWN 20-50,4-35 39 17 (Imp) 30 sc22_spawn1 5}
    {INFERNO_SPAWN 1-25,1-23 13 11 (Hellhound,Hellhound,Hellhound,Shadow Hound) 9 sc22_spawn2 7}
    {INFERNO_SPAWN 15-40,1-19 28 6 (Knight of Disaster,Knight of Disaster,Doom Knight,Knight of Pain,Knight of Disaster,Knight of Disaster,Doom Knight,Knight of Pain,Knight of Annihilation,Knight of Oblivion) 11 sc22_spawn3 11}
    {INFERNAL_FLORA (10,11,12,13,14,15) (Voracious Herb,Voracious Herb,Voracious Herb,Deathshroom,Flower of Evil,Flower of Evil,Hatredshroom)}
    {INFERNO_URIA_AVATAR_SPAWN 13-45,1-23 29 7 16}
    {INFERNO_SPAWN_POINT 8 6 53 14}
    {INFERNO_SPAWN_POINT 8 10 29 28}
    {INFERNO_SPAWN_POINT 8 8 9 23}
    {INFERNO_SPAWN_POINT 9 6 20 2}
    {INFERNO_SPAWN_POINT 9 8 42 2}
    {INFERNO_SPAWN_POINT 9 8 55 2}
    {SPAWN_ONLY_ONCE boss1 sc22_boss1}
    {SPAWN_ONLY_ONCE boss2 sc22_boss2}
    {BLACKENING_DEMONS}
    {CAMPAIGN9_EVENTS}
    {STOP_COMING_ON_VICTORY}
    {GENERIC_DEATHS}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
