#textdomain wesnoth-loti
[scenario]
    id="30_Nightmare_Cellar"
    name= _ "Nightmare Cellar"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/30_Nightmare_Cellar.map}"
    next_scenario=31_Bank_of_Ill_Luck
    victory_when_enemies_defeated=no
    experience_modifier=80
    turns=-1
    {DEFAULT_MUSIC_PLAYLIST}
    {INDOORS}
    {INFERNO_SHOW_MAP}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper,Troll,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Thunderer,Dwarvish Thunderguard,Dwarvish Ulfserker,Dwarvish Berserker
        village_gold=0
        income=-2
        gold=0
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=yes
    [/side]
    [side]
        no_leader=yes
        side=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        recruit=Demon Warrior
        {GOLD 2600 2800 3000}
        {INCOME 100 120 140}
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
        [unit]
            type=Demon Lord
            random_gender=yes
            random_traits=yes
            generate_name=yes
            x,y=28,8
            id=boss1
        [/unit]
    [/side]
    {INFERNO_ENEMY_NO_LEADER_SIDE 3}
    {INFERNO_LILITH_SIDE 4}
    [event]
        name=prestart
        {INFERNAL_OBJECTIVES}
        {INFERNO_TRANSITION 29 2,30 1-2,27-32}
        {GOLD_CHEST 24 5}
        {INFERNO_ORIGIN 20 5,30}
        {VARIABLE last_scenario 30}
        [modify_unit]
            [filter]
                id=boss1
            [/filter]
            canrecruit=yes
        [/modify_unit]
    [/event]
    [event]
        name=start
        {INFERNO_RECALL_ALL}
        {RANDOM_ITEM 23 5}
        {RANDOM_ITEM 36 6}
        {RANDOM_ITEM 28 8}
        [if]
            [variable]
                name=quests.entered_sc30
                equals=yes
            [/variable]
            [else]
                [message]
                    speaker=Efraim
                    message= _ "So what have we here? ... It is sheer pandemonium, the cabinet of Uria's horrors!"
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Collectors' items, contemporary art... A stroll through her museum, that is all we needed. We better go back and pay a courtesy visit to the artist herself in Pandemonium..."
                [/message]
                {VARIABLE quests.entered_sc30 yes}
            [/else]
        [/if]
    [/event]

    [event]
        name=before fist activation of statues
        [message]
            speaker=Efraim
            message= _ "These statues look somewhat... menacing."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "A group of demons, led by Lilith... It had to be made by Lilith. I am sure of that."
        [/message]
        [message]
            speaker=Lilith
            message= _ "Do you think I would ever make or order making such an imperfect depiction of myself? The sculptor was in love with me, that is all. I think it was Pygmal, he makes statues like these. In large numbers." # For translators: This is a reference to Ovid's Pygmalion
        [/message]
    [/event]
    [event]
        name=after fist activation of statues
        [message]
            speaker=Lethalia
            message= _ "The statues... they are moving! What wicked spell made that happen?"
        [/message]
        [message]
            speaker=Lilith
            message= _ "My statue is not moving. Good. It would bring me shame."
        [/message]
    [/event]

    {STATUE_AMBUSH sc30_1 10-15,25-28 13 14 16 23 24 26}
    {STATUE_AMBUSH sc30_2 14-21,15-20 15 13 11 18 20 22}
    {STATUE_AMBUSH sc30_3 3-10,3-7 10 11 12 10 9 8}
    {STATUE_AMBUSH sc30_4 27-29,7-10 26 24 23 5 4 3}
    {STATUE_AMBUSH sc30_5 25-31,9-15 18 20 22 13 15 17}
    {STATUE_AMBUSH sc30_6 20-26,19-24 26 27 29 22 21 19}
    {STATUE_AMBUSH sc30_7 35-41,18-24 40 38 36 18 20 22}

    {DROPS 10 14 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5}
    {INFERNO_LILITH_SPAWN 7-34,7-37 22 22 5}
    {INFERNO_SPAWN_POINT 4 3 16 25}
    {INFERNO_SPAWN_POINT 4 5 10 17}
    {INFERNO_SPAWN_POINT 4 4 9 12}
    {INFERNO_SPAWN_POINT 4 3 22 11}
    {INFERNO_SPAWN_POINT 4 4 35 15}
    {INFERNO_SPAWN_POINT 4 3 38 22}
    {INFERNO_SPAWN_POINT 4 2 32 26}
    {INFERNO_SPAWN_POINT 4 3 20 36}
    {INFERNO_SPAWN_POINT 4 2 27 19}
    {INFERNO_SPAWN_POINT 4 3 38 5}
    {CAMPAIGN9_EVENTS}
    {STOP_COMING_ON_VICTORY}
    {GENERIC_DEATHS}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
