#textdomain wesnoth-loti
[scenario]
    id="34_Urias_Den"
    name= _ "Uria's Den"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/34_Urias_Den.map}"
    next_scenario=35_Antechambers_of_Ultimate_Evil
    victory_when_enemies_defeated=no
    experience_modifier=80
    turns=-1
    {DEFAULT_MUSIC_PLAYLIST}
    {INDOORS}
    {INFERNO_SHOW_MAP}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper,Troll,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Thunderer,Dwarvish Thunderguard,Dwarvish Ulfserker,Dwarvish Berserker
        village_gold=0
        income=-2
        gold=0
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=yes
    [/side]
    [side]
        type=Uria
        id=Uria
        name= _ "Uria"
        type=Uria_avatar
        random_traits=no
        canrecruit=yes
        random_gender=yes
        side=2
        recruit=Demon Manowar
        village_gold=5
        {GOLD 1100 1250 1400}
        {INCOME 50 70 90}
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
    [/side]
    {INFERNO_ENEMY_NO_LEADER_SIDE 3}
    {INFERNO_ENEMY_NO_LEADER_SIDE 4}
    {INFERNO_ABADDON_SIDE 5}
    [event]
        name=prestart
        {VARIABLE quests.overall 7}
        {VARIABLE_OP path rand (1..4)}
        [if]
            [variable]
                name=path
                greater_than=2
            [/variable]
            [then]
                {INFERNO_TRANSITION 37 2,22 1-2,19-26}
                {INFERNO_ORIGIN 37 1,22}
                [if]
                    [variable]
                        name=path
                        equals=3
                    [/variable]
                    [then]
                        [terrain]
                            x=9
                            y=21
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=7
                            y=20
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=9
                            y=27
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=11
                            y=26
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
            [else]
                {INFERNO_TRANSITION 37 49,12 49-50,9-15}
                {INFERNO_ORIGIN 37 49,12}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=44
                            y=9
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=43
                            y=10
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=41
                            y=15
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=42
                            y=15
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/else]
        [/if]
        {INFERNO_TRANSITION 33 29,42 26-32,41-42}
        {INFERNO_TRANSITION 35 25,1 21-29,1-2}
        {INFERNO_CHEST 46 30 sc34_chest}
        {INFERNO_ORIGIN 33 29,41}
        {INFERNO_ORIGIN 35 25,2}
        {VARIABLE last_scenario 34}
    [/event]
    [event]
        name=start
        {INFERNO_RECALL_ALL}
        {INFERNO_ITEM 17 42 sc34_item1}
        {INFERNO_ITEM 48 7 sc34_item2}
        {VARIABLE quests.objectives_comment _"
Path to Uria: Antechambers of Ultimate evil > Temple of Ultimate Evil > Catacombs of Prolonged Agony > Halls of Miscreation > Gathering Alcove (Pillar here) > Refuge of Black Hope > Basilica of Imperfection > Execrable Sanctum"}
        {INFERNAL_OBJECTIVES}
        [if]
            [variable]
                name=quests.sc34_boss1
                equals=yes
            [/variable]
            [then]
                [event]
                    id=uria appear
                    remove=yes
                [/event]
            [/then]
        [/if]
        [if]
            [variable]
                name=quests.entered_sc34
                equals=yes
            [/variable]
            [else]
                [message]
                    speaker=Efraim
                    message= _ "About that fishy subject... Can you please tell me the untold part of the secret Uria was bragging about? I have to know what she knows that I do not know. It might be crucial to our prudent strategic planning."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "I have told you the truth. You know that Uria tells something that is not a lie, but its real meaning is different from the apparent meaning."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "That might be right. She did not say that the Argan we knew was her servant, she said that there was only one Argan that was so powerful. The real meaning is that our Argan is nobody compared to her Argan."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Argan cannot remember what he was doing during eons. Maybe he used to walk a path that was more evil than following my duplicate."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "Wait, it is you who is persuading me that Uria was not telling the truth. And if you remember, Argan said that he read about a man named Argan who was a master of incredibly powerful arcane arts, and added that it could not have been him. Our Argan is not the fiend who served Uria."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Ah, yes, I remember. Now, understand that there was surely some trick behind the affirmation about my secrets as well. She could have been talking about any half truth I said. Shortly before we saw the city and she started talking, I said that my arm hurts a little. In truth, the pain was really bad, but I did not want you to worry. Damn, Efraim, do you believe Uria more than me?"
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "I have not abandoned my suspicions completely, but I trust you... for now."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "And now to test <i>your</i> loyalty, Lilith. How do we get to Uria?"
                [/message]
                [message]
                    speaker=Lilith
                    message= _ "We can surely get into the Antechambers of Ultimate Evil from here, that is obviously the entrance into the Temple of Ultimate Evil. These places are visited by the usual Uria worshippers, but that does not mean that we can use infiltration. Do not expect to find Uria there, however. From there, we will have to go through the Catacombs of Prolonged Agony into the Halls of Miscreation. From there, we might get into Gathering Alcove which should be close to Uria."
                [/message]
                [message]
                    speaker=Lilith
                    message=_"From there, we can get into the Refuge of Black Hope, that leads into the Basilica of Imperfection, that is directly connected with Uria's home in Execrable Sanctum. Along the way I will remind where to go. However, the walls shift from time to time, so I cannot tell you in advance when to turn left or right. There are a lot of alternate paths, some might be very nice shortcuts, but their location is unpredictable."
                [/message]
                [message]
                    speaker=Lilith
                    message= _ "There is also an extremely large labyrinth of tunnels named Passage of Detriment, told to lead directly to Uria or to other important places, but nothing ever left that labyrinth, so you might expect a lot of dangers lurking there and better avoid that place. Then, there is Steelhive, the source of all these mechanical monsters Uria keeps bragging about, destroying it during our travel might be useful, its entrance should not be too deep in this fortress."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "I hope you are telling us the truth."
                [/message]
                {VARIABLE quests.entered_sc34 yes}
            [/else]
        [/if]
    [/event]
    [event]
        name=moveto
        id=uria appear
        [filter]
            side=1
            y=7-35
        [/filter]
        [object]
            silent=yes
            [filter]
                id=Uria
            [/filter]
            [effect]
                apply_to=attack
                increase_damage="$($quests.met_uria_avatar*2-$quests.uria_avatar_deaths)"
            [/effect]
            [effect]
                apply_to=hitpoints
                increase_damage="$($quests.met_uria_avatar*60-$quests.uria_avatar_deaths*30)"
                heal_full=yes
                times=per_level
            [/effect]
        [/object]
        [remove_shroud]
            x,y=27,23
            radius=2
            side=1
        [/remove_shroud]
        [modify_side]
            side=1
            fog=no
        [/modify_side]
        [message]
            speaker=Uria
            message= _ "Can you see me? I am here, persisting, undefeated. Your pathetic little victory means nothing. You cannot enter my chamber anyway. You will never find the way."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I can see your dumb face clearly, goon. We will kill you, just like your minions."
        [/message]
        [message]
            speaker=Uria
            message= _ "You will never find me... the path shifts and it will always move away from you."
        [/message]
        [message]
            speaker=Lilith
            message= _ "This can be quite a problem. The paths here are never constant, and if she prevents you from finding a path, you will not find it."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Let us kill this one, then we will talk about the lost path."
        [/message]
        [modify_side]
            side=1
            fog=yes
        [/modify_side]
        [fire_event]
            name=uria avatar initialise
        [/fire_event]
        {VARIABLE sc34_boss1 yes}
    [/event]
    [event]
        name=victory
        [message]
            speaker=Efraim
            message= _ "Lilith, do you have any ideas how we could get to Uria's hideout, when the path is impossible to find?"
        [/message]
        [message]
            speaker=Lilith
            message= _ "She uses the Pillar of Continuum's Alteration to alter the paths as she wishes. If we find it, we can alter the way it works. We cannot destroy it, that might block the path to her permanently."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Where is that Pillar? Dammit, do not make me worm all the facts out of you!"
        [/message]
        [message]
            speaker=Lilith
            message= _ "It should be in Gathering Alcove, not far from here. It might have been moved since the day I saw it last. But it is quite heavy and uneasy to move around."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "If this is true, it is still there. Dull as she is, Uria herself would be unable to find it again."
        [/message]
        {VARIABLE quests.pillar 1}
    [/event]

    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5}
    {INFERNO_ABADDON_SPAWN 12-42,14-42 26 29 5}
    {INFERNO_SPAWN_POINT 3 3 47 38}
    {INFERNO_SPAWN_POINT 3 4 41 26}
    {INFERNO_SPAWN_POINT 3 3 38 17}
    {INFERNO_SPAWN_POINT 3 4 35 6}
    {INFERNO_SPAWN_POINT 3 6 12 3}
    {INFERNO_SPAWN_POINT 4 4 5 11}
    {INFERNO_SPAWN_POINT 4 4 17 23}
    {INFERNO_SPAWN_POINT 4 3 3 34}
    {INFERNO_SPAWN_POINT 4 4 16 37}
    {INFERNO_SPAWN_POINT 4 6 26 20}
    {INFERNO_SPAWN_POINT 4 4 29 17}
    {SPAWN_ONLY_ONCE Uria sc34_boss1}
    {HUNGRY_VOID}
    {CAMPAIGN9_EVENTS}
    {STOP_COMING_ON_VICTORY}
    {GENERIC_DEATHS}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
