#textdomain wesnoth-loti
[scenario]
    id="35_Antechambers_of_Ultimate_Evil"
    name= _ "Antechambers of Ultimate Evil"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/35_Antechambers_of_Ultimate_Evil.map}"
    next_scenario=36_Temple_of_Ultimate_Evil
    victory_when_enemies_defeated=no
    experience_modifier=80
    turns=-1
    {DEFAULT_MUSIC_PLAYLIST}
    {INDOORS}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper,Troll,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Thunderer,Dwarvish Thunderguard,Dwarvish Ulfserker,Dwarvish Berserker
        village_gold=0
        income=-2
        gold=0
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=yes
    [/side]
    [side]
        type=Demon Despot
        canrecruit=yes
        random_gender=yes
        side=2
        recruit=Demon Warrior
        village_gold=5
        {GOLD 1000 1150 1300}
        {INCOME 60 75 90}
        team_name=evil
        user_team_name=_"Evil"
        id=boss1
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
    [/side]
    {INFERNO_ENEMY_NO_LEADER_SIDE 3}
    [side]
        type=Demon Despot
        canrecruit=yes
        random_gender=yes
        side=4
        recruit=Shadow Hound
        village_gold=5
        {GOLD 800 950 1100}
        {INCOME 60 75 90}
        team_name=evil
        user_team_name=_"Evil"
        id=boss2
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
    [/side]
    {INFERNO_ENEMY_NO_LEADER_SIDE 4}
    {INFERNO_ENEMY_NO_LEADER_SIDE 5}
    {INFERNO_ABADDON_SIDE 6}
    [event]
        name=prestart
        {INFERNAL_OBJECTIVES}
        {VARIABLE_OP path rand (1..4)}
        [if]
            [variable]
                name=path
                greater_than=2
            [/variable]
            [then]
                {INFERNO_TRANSITION 37 51,41 51-52,38-41}
                {INFERNO_ORIGIN 37 50,39}
                [if]
                    [variable]
                        name=path
                        equals=3
                    [/variable]
                    [then]
                        [terrain]
                            x=50
                            y=36
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=48
                            y=36
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=46
                            y=37
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=46
                            y=40
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
            [else]
                {INFERNO_TRANSITION 37 51,9 51-52,6-12}
                {INFERNO_ORIGIN 37 50,8}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=49
                            y=6
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=50
                            y=5
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=48
                            y=12
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=49
                            y=13
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/else]
        [/if]
        {VARIABLE_OP path rand (1,2)}
        [if]
            [variable]
                name=path
                equals=1
            [/variable]
            [or]
                [variable]
                    name=last_scenario
                    equals=39
                [/variable]
            [/or]
            [then]
                {INFERNO_TRANSITION 39 1,1 1-6,1-2}
                {INFERNO_ORIGIN 39 4,2}
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=9
                            y=2
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=9
                            y=3
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=6
                            y=5
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=4
                            y=5
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
        [/if]
        {VARIABLE_OP path rand (1,2)}
        [if]
            [variable]
                name=path
                equals=1
            [/variable]
            [or]
                [variable]
                    name=last_scenario
                    equals=43
                [/variable]
            [/or]
            [then]
                {INFERNO_TRANSITION 43 2,32 1-2,30-35}
                {INFERNO_ORIGIN 43 3,33}
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=3
                            y=29
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=6
                            y=30
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=6
                            y=34
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=4
                            y=35
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
        [/if]
        {VARIABLE_OP path rand (1,2)}
        [if]
            [variable]
                name=path
                equals=1
            [/variable]
            [or]
                [variable]
                    name=last_scenario
                    equals=42
                [/variable]
            [/or]
            [then]
                {INFERNO_TRANSITION 42 51,26 51-52,24-28}
                {INFERNO_ORIGIN 42 50,25}
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=49
                            y=23
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=47
                            y=24
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=51
                            y=29
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=50
                            y=28
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
        [/if]
        {INFERNO_TRANSITION 34 26,40 24-28,40-41}
        {INFERNO_TRANSITION 36 29,1 27-31,1-2}
        {INFERNO_CHEST 11 19 sc35_chest}
        {INFERNO_ORIGIN 34 26,39}
        {INFERNO_ORIGIN 36 29,3}
        {VARIABLE last_scenario 35}
    [/event]
    [event]
        name=start
        {INFERNO_RECALL_ALL}
        {INFERNO_ITEM 9 29 sc35_item1}
        {INFERNO_ITEM 45 11 sc35_item2}
        [if]
            [variable]
                name=quests.entered_sc35
                equals=yes
            [/variable]
            [else]
                [message]
                    speaker=Lethalia
                    message= _ "Incredible. How big a temple these demons have built to praise that old wretch..."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "She might be younger than you."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "I do not care! Age hardly matters. I am godlike and adorable as well, but I do not make others believe in me, I have no need for temples, adulation and sacrifices!"
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "You have all that with me. An adorer willing to sacrifice for you, a blind believer and a temple in my heart. But... maybe founding a sect is a wise thought. A religion with all the frills, controlled by a responsible god – like you or me. Our worshipers would even get answers, we would guide them prudently through life, the amount of evil will decrease, the world becomes a better place... Hallelujah."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "I do not want such power. It might make me misuse it."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "Can you remember the time when we ruled the Wesnothian Empire for several centuries? We were liches, and yet we decided to step down when the revolt started."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Maybe we should think about it more, it might not be so bad as an idea."
                [/message]
                [message]
                    speaker=Lilith
                    message= _ "If you conquer a land, you command soldiers and decide about mundane matters, but if you are also their god, you can rule any aspect of their life."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Completely missed the point..."
                [/message]
                {VARIABLE quests.entered_sc35 yes}
            [/else]
        [/if]
    [/event]

    {STATUE_AMBUSH sc35_1 35-42,32-37 39 40 41 34 35 36}
    {STATUE_AMBUSH sc35_2 23-27,32-38 24 26 28 32 34 36}
    {STATUE_AMBUSH sc35_3 42-51,18-23 46 47 48 20 21 22}
    {STATUE_AMBUSH sc35_4 26-32,5-10 28 29 30 5 7 9}
    {STATUE_AMBUSH sc35_5 1-8,5-10 3 4 5 6 7 8}
    {STATUE_AMBUSH sc35_6 43-50,1-8 46 47 48 2 3 4}

    [event]
        name=before fist activation of statues
        [message]
            speaker=Lilith
            message= _ "These statues can awaken, be careful."
        [/message]
        [message]
            speaker=Efraim
            message= _ "The sculptor saw you as a leader... congratulations."
        [/message]
    [/event]
    [event]
        name=after fist activation of statues
        [message]
            speaker=Lethalia
            message= _ "They move very much like living beings. Take care."
        [/message]
        [message]
            speaker=Lilith
            message= _ "He did not insult me by making my statue move in any unrealistic way. Great."
        [/message]
    [/event]

    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5,6}
    {INFERNO_ABADDON_SPAWN 11-41,5-35 26 20 6}
    {INFERNO_SPAWN_POINT 5 3 41 34}
    {INFERNO_SPAWN_POINT 5 4 44 19}
    {INFERNO_SPAWN_POINT 5 3 39 2}
    {INFERNO_SPAWN_POINT 5 4 16 2}
    {INFERNO_SPAWN_POINT 5 6 2 14}
    {INFERNO_SPAWN_POINT 5 4 7 27}
    {INFERNO_SPAWN_POINT 5 4 6 41}
    {INFERNO_SPAWN_POINT 5 3 26 28}
    {INFERNO_SPAWN_POINT 5 4 30 19}
    {INFERNO_SPAWN_POINT 5 6 29 5}
    {SPAWN_ONLY_ONCE boss1 sc35_boss1}
    {SPAWN_ONLY_ONCE boss2 sc35_boss2}
    {CAMPAIGN9_EVENTS}
    {STOP_COMING_ON_VICTORY}
    {GENERIC_DEATHS}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
