#textdomain wesnoth-loti
[scenario]
    id="37_Catacombs_of_Prolonged_Agony"
    name= _ "Catacombs of Prolonged Agony"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/37_Catacombs_of_Prolonged_Agony.map}"
    next_scenario=38_Halls_of_Miscreation
    victory_when_enemies_defeated=no
    experience_modifier=80
    turns=-1
    {DEFAULT_MUSIC_PLAYLIST}
    [time]
        id=dark_indoors
        name= _ "Indoors"
        image=misc/schedule-indoors.png
        lawful_bonus=-25
        red=-45
        green=-35
        blue=-10
    [/time]
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper,Troll,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Thunderer,Dwarvish Thunderguard,Dwarvish Ulfserker,Dwarvish Berserker
        village_gold=0
        income=-2
        gold=0
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=yes
    [/side]
    {INFERNO_ENEMY_NO_LEADER_SIDE 2}
    {INFERNO_ENEMY_NO_LEADER_SIDE 3}
    {INFERNO_ENEMY_NO_LEADER_SIDE 4}
    {INFERNO_ENEMY_NO_LEADER_SIDE 5}
    [event]
        name=prestart
        {INFERNAL_OBJECTIVES}
        {VARIABLE_OP path rand (1..4)}
        [if]
            [variable]
                name=path
                greater_than=2
            [/variable]
            [then]
                {INFERNO_TRANSITION 38 36,43 30-41,43-44}
                {INFERNO_ORIGIN 38 35,43}
                [if]
                    [variable]
                        name=path
                        equals=3
                    [/variable]
                    [then]
                        [terrain]
                            x=29
                            y=39
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=27
                            y=35
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=40
                            y=40
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=42
                            y=41
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
            [else]
                {INFERNO_TRANSITION 38 51,22 52-53,19-25}
                {INFERNO_ORIGIN 38 50,22}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=49
                            y=18
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=45
                            y=19
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=44
                            y=27
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=47
                            y=30
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/else]
        [/if]
        {VARIABLE_OP path rand (1,2)}
        [if]
            [variable]
                name=path
                equals=1
            [/variable]
            [or]
                [variable]
                    name=last_scenario
                    equals=35
                [/variable]
            [/or]
            [then]
                {INFERNO_TRANSITION 35 3,23 1-2,20-26}
                {INFERNO_ORIGIN 35 3,23}
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=3
                            y=28
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=8
                            y=25
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=8
                            y=22
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=5
                            y=20
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
        [/if]
        {VARIABLE_OP path rand (1,2)}
        [if]
            [variable]
                name=path
                equals=1
            [/variable]
            [or]
                [variable]
                    name=last_scenario
                    equals=36
                [/variable]
            [/or]
            [then]
                {INFERNO_TRANSITION 36 25,1 21-29,1-2}
                {INFERNO_ORIGIN 36 25,3}
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=18
                            y=3
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=18
                            y=7
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=28
                            y=6
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=30
                            y=3
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
        [/if]
        {VARIABLE_OP path rand (1,2)}
        [if]
            [variable]
                name=path
                equals=1
            [/variable]
            [or]
                [variable]
                    name=last_scenario
                    equals=39
                [/variable]
            [/or]
            [then]
                {INFERNO_TRANSITION 39 9,44 4-15,43-44}
                {INFERNO_ORIGIN 39 9,43}
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=6
                            y=39
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=7
                            y=39
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=11
                            y=40
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=9
                            y=39
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
        [/if]
        {VARIABLE_OP path rand (1,2)}
        [if]
            [variable]
                name=path
                equals=1
            [/variable]
            [or]
                [variable]
                    name=last_scenario
                    equals=34
                [/variable]
            [/or]
            [then]
                {INFERNO_TRANSITION 34 4,1 2-7,1-2}
                {INFERNO_ORIGIN 34 4,2}
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=3
                            y=5
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=5
                            y=4
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=12
                            y=3
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=10
                            y=4
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
        [/if]
        {INFERNO_CHEST 30 16 sc37_chest}
        {VARIABLE last_scenario 37}
    [/event]
    [event]
        name=start
        {INFERNO_RECALL_ALL}
        {INFERNO_ITEM 26 35 sc37_item1}
        {INFERNO_ITEM 6 38 sc37_item2}
        [if]
            [variable]
                name=quests.entered_sc37
                equals=yes
            [/variable]
            [else]
                [message]
                    speaker=Lethalia
                    message= _ "Finally. This place is not twilit. I learned to hate it sooo much. Darkness is so much better."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "If it is dark here, you should expect to meet some nocturnal beings, like undead demons."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Undead demons. Ah, yes. The demons will not feel bad if we choose to hack the remains of their ancestors to pieces, that is a pity."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "But why did they build a tomb for them? It would be much easier to let some imps or Flowers of Evil eat these carcasses."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Maybe they needed them as reinforcements for times of crisis. You see how they are keen on using necromancy on their own ancestors."
                [/message]
                {VARIABLE quests.entered_sc37 yes}
            [/else]
        [/if]
    [/event]
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5,6}
    {STEELHIVE_PORTAL 2 15 24}
    {STEELHIVE_PORTAL 2 36 8}
#define ACTIVE_TOMBSTONE X Y RANGE SIDE VARIABLE_USED
    {PLACE_IMAGE items/coffin-closed.png {X} {Y}}
    [event]
        name=new turn
        first_time_only=no
        [if]
            [have_unit]
                side=1
                x,y={RANGE}
            [/have_unit]
            [not]
                [variable]
                    name=quests.{VARIABLE_USED}
                    greater_than=5
                [/variable]
            [/not]
            [then]
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Knight of Disaster,Doom Knight,Knight of Pain,Knight of Disaster,Knight of Pain,Knight of Annihilation,Knight of Oblivion)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Knight of Disaster,Knight of Disaster,Doom Knight,Knight of Pain,Knight of Disaster,Knight of Disaster,Knight of Pain,Knight of Annihilation,Knight of Oblivion)}
#endif
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Knight of Disaster,Knight of Disaster,Doom Knight,Knight of Pain,Knight of Disaster,Knight of Disaster,Doom Knight,Knight of Pain,Knight of Annihilation,Knight of Oblivion)}
#endif
                {GENERIC_UNIT {SIDE} $spawn_type {X} {Y}}
                [if]
                    [variable]
                        name=quests.{VARIABLE_USED}
                        greater_than=1
                    [/variable]
                    [then]
                        {VARIABLE_OP quests.{VARIABLE_USED} add 1}
                    [/then]
                    [else]
                        {VARIABLE quests.{VARIABLE_USED} 1}
                    [/else]
                [/if]
                {CLEAR_VARIABLE spawn_type}
            [/then]
        [/if]
    [/event]
#enddef
    {ACTIVE_TOMBSTONE 11 39 7-14,38-42 3 sc37_tomb1}
    {ACTIVE_TOMBSTONE 6 32 3-9,29-35 3 sc37_tomb2}
    {ACTIVE_TOMBSTONE 15 24 12-18,21-27 3 sc37_tomb3}
    {ACTIVE_TOMBSTONE 29 35 26-32,32-38 3 sc37_tomb4}
    {ACTIVE_TOMBSTONE 33 29 30-36,26-32 3 sc37_tomb5}
    {ACTIVE_TOMBSTONE 49 38 47-52,35-41 3 sc37_tomb6}
    {ACTIVE_TOMBSTONE 42 39 39-45,36-42 4 sc37_tomb7}
    {ACTIVE_TOMBSTONE 37 27 34-40,24-30 4 sc37_tomb8}
    {ACTIVE_TOMBSTONE 15 24 12-18,22-27 4 sc37_tomb9}
    {ACTIVE_TOMBSTONE 25 19 23-27,16-22 4 sc37_tomb10}
    {ACTIVE_TOMBSTONE 46 16 43-49,13-18 4 sc37_tomb11}
    {ACTIVE_TOMBSTONE 9 16 7-12,14-18 4 sc37_tomb12}
    {ACTIVE_TOMBSTONE 7 6 4-10,3-9 5 sc37_tomb13}
    {ACTIVE_TOMBSTONE 16 7 13-17,4-10 5 sc37_tomb14}
    {ACTIVE_TOMBSTONE 35 9 32-38,6-12 5 sc37_tomb15}
    {ACTIVE_TOMBSTONE 50 2 47-52,1-5 5 sc37_tomb16}
    {ACTIVE_TOMBSTONE 36 12 33-39,10-15 5 sc37_tomb17}
    {ACTIVE_TOMBSTONE 19 20 17-22,18-23 5 sc37_tomb18}
#undef ACTIVE_TOMBSTONE
    {CAMPAIGN9_EVENTS}
    {GENERIC_DEATHS}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
