#textdomain wesnoth-loti
[scenario]
    id="38_Halls_of_Miscreation"
    name= _ "Halls of Miscreation"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/38_Halls_of_Miscreation.map}"
    next_scenario=39_Steelhive
    victory_when_enemies_defeated=no
    experience_modifier=80
    turns=-1
    {DEFAULT_MUSIC_PLAYLIST}
    {INDOORS}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper,Troll,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Thunderer,Dwarvish Thunderguard,Dwarvish Ulfserker,Dwarvish Berserker
        village_gold=0
        income=-2
        gold=0
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=yes
    [/side]
    [side]
        no_leader=yes
        side=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        recruit=Spider Demon
        village_gold=5
        {GOLD 1300 1600 1900}
        {INCOME 200 230 260}
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
        [unit]
            type=Demon Lord
            random_traits=yes
            generate_name=yes
            x,y=21,23
            id=boss1
        [/unit]
    [/side]
    {INFERNO_ENEMY_NO_LEADER_SIDE 3}
    {INFERNO_ENEMY_NO_LEADER_SIDE 4}
    {INFERNO_ABADDON_SIDE 5}
    {INFERNO_ROMERO_SIDE 6}
    [event]
        name=prestart
        {INFERNAL_OBJECTIVES}
        {VARIABLE_OP path rand (1..4)}
        [if]
            [variable]
                name=path
                greater_than=2
            [/variable]
            [then]
                {INFERNO_TRANSITION 44 49,15 49-50,11-18}
                {INFERNO_ORIGIN 44 48,14}
                [if]
                    [variable]
                        name=path
                        equals=3
                    [/variable]
                    [then]
                        [terrain]
                            x=45
                            y=13
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=47
                            y=12
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=49
                            y=11
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=44
                            y=16
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=46
                            y=17
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=48
                            y=18
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
            [else]
                {INFERNO_TRANSITION 44 37,1 34-41,1-2}
                {INFERNO_ORIGIN 44 38,2}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=42
                            y=5
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=40
                            y=6
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=38
                            y=7
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=33
                            y=5
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=33
                            y=3
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=33
                            y=1
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/else]
        [/if]
        {VARIABLE_OP path rand (1,2)}
        [if]
            [variable]
                name=path
                equals=1
            [/variable]
            [or]
                [variable]
                    name=last_scenario
                    equals=36
                [/variable]
            [/or]
            [then]
                {INFERNO_TRANSITION 36 2,6 1-2,3-10}
                {INFERNO_ORIGIN 36 3,7}
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=4
                            y=3
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=6
                            y=4
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=8
                            y=5
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=8
                            y=7
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=6
                            y=8
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=4
                            y=9
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
        [/if]
        {VARIABLE_OP path rand (1,2)}
        [if]
            [variable]
                name=path
                equals=1
            [/variable]
            [or]
                [variable]
                    name=last_scenario
                    equals=39
                [/variable]
            [/or]
            [then]
                {INFERNO_TRANSITION 39 2,28 1-2,25-31}
                {INFERNO_ORIGIN 39 3,28}
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=6
                            y=26
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=7
                            y=27
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=7
                            y=28
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=2
                            y=31
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=4
                            y=30
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=6
                            y=29
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
        [/if]
        {VARIABLE_OP path rand (1,2)}
        [if]
            [variable]
                name=path
                equals=1
            [/variable]
            [or]
                [variable]
                    name=last_scenario
                    equals=43
                [/variable]
            [/or]
            [then]
                {INFERNO_TRANSITION 43 11,44 8-14,44-45}
                {INFERNO_ORIGIN 43 11,43}
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=7
                            y=42
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=7
                            y=43
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=7
                            y=44
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=8
                            y=40
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=11
                            y=39
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=14
                            y=40
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
        [/if]
        [if]
            [variable]	#This path appears only if you have come from Heart of Steelhive
                name=last_scenario
                equals=41
            [/variable]
            [then]
                {INFERNO_TRANSITION 41 49,41 49-50,39-43}
                {INFERNO_ORIGIN 41 48,40}
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=44
                            y=40
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=44
                            y=38
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=44
                            y=36
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=45
                            y=36
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=47
                            y=37
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=49
                            y=38
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
            [else]
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [or]
                        [variable]
                            name=last_scenario
                            equals=37
                        [/variable]
                    [/or]
                    [then]
                        {INFERNO_TRANSITION 37 49,41 49-50,39-43}
                        {INFERNO_ORIGIN 37 48,40}
                        {VARIABLE_OP path rand (1,2)}
                        [if]
                            [variable]
                                name=path
                                equals=1
                            [/variable]
                            [then]
                                [terrain]
                                    x=44
                                    y=40
                                    terrain=Urb
                                [/terrain]
                                [terrain]
                                    x=44
                                    y=38
                                    terrain=Urb
                                [/terrain]
                                [terrain]
                                    x=44
                                    y=36
                                    terrain=Urb
                                [/terrain]
                            [/then]
                            [else]
                                [terrain]
                                    x=45
                                    y=36
                                    terrain=Urb
                                [/terrain]
                                [terrain]
                                    x=47
                                    y=37
                                    terrain=Urb
                                [/terrain]
                                [terrain]
                                    x=49
                                    y=38
                                    terrain=Urb
                                [/terrain]
                            [/else]
                        [/if]
                    [/then]
                [/if]
            [/else]
        [/if]
        {INFERNO_CHEST 49 37 sc38_chest}
        {VARIABLE last_scenario 38}
    [/event]
    [event]
        name=start
        {INFERNO_RECALL_ALL}
        {CAPTURE_VILLAGES 2 21 23 25}
        [modify_unit]
            [filter]
                id=boss1
            [/filter]
            canrecruit=yes
        [/modify_unit]
        [if]
            [variable]
                name=quests.entered_sc38
                equals=yes
            [/variable]
            [else]
                [message]
                    speaker=Lethalia
                    message= _ "Look at the instruments around here. And the body parts. It looks like as if some sinister experiments were done here."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "Well, the entire floor looks neatly tidied, the tools must have been stored, the leftovers properly cremated. But you have better eyes than me, you always see what no one else can see..."
                [/message]
                [message]
                    speaker=Lilith
                    message= _ "Indeed, Uria is always working on making her kin stronger. She is very keen on working on the living. I prefer working on the dead, like you."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "No more, we have decided to abandon necromancy unless necessary. Like now. But our previous necromantic experience is enough, we hardly need further experiments."
                [/message]
                [message]
                    speaker=Lilith
                    message= _ "I liked the old versions of you more... now, you keep this stupid no necromancy, no needless slaughter rule... what happened to you...?"
                [/message]
                {VARIABLE quests.entered_sc38 yes}
            [/else]
        [/if]
    [/event]

    [event]
        name=die
        [filter]
            id=boss1
        [/filter]
        [message]
            speaker=Efraim
            message= _ "Something is wrong here... Like if this boss was merely a decoy of a greater force."
        [/message]
        [message]
            side=1
            [not]
                id=Efraim
            [/not]
            message= _ "I saw some movement over there!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "They are stalking around, surely trying to prey on those who separated themselves from the rest and can be swarmed. Gather around me, warriors!"
        [/message]
        [store_unit]
            [filter]
                side=1
            [/filter]
            kill=no
            variable=movement_store
        [/store_unit]
        {FOREACH movement_store i}
            {MOVE_UNIT x,y=$movement_store[$i].x,$movement_store[$i].y 21 23}
        {NEXT i}
        {CLEAR_VARIABLE movement_store}
        [unit]
            id=Romero
            x,y=28,31
            name= _ "Romero"
            type=Romero
            random_traits=no
            side=6
            {IS_HERO}
        [/unit]
        {VARIABLE spawn_count 9}
#ifdef HARD
        {VARIABLE_OP spawn_count multiply "1.2"}
#endif
#ifdef EASY
        {VARIABLE_OP spawn_count divide "1.2"}
#endif
        [while]
            [variable]
                name=spawn_count
                greater_than=0
            [/variable]
            [do]
                {VARIABLE_OP spawn_type rand (Demon Manowar,Demon Warrior,Demon Overlord)}
                {GENERIC_UNIT 6 $spawn_type 28 31}
                {GENERIC_UNIT 6 $spawn_type 3 28}
                {GENERIC_UNIT 6 $spawn_type 16 15}
                {GENERIC_UNIT 6 $spawn_type 37 24}
                {VARIABLE_OP spawn_count sub 1}
            [/do]
        [/while]
        [remove_shroud]
            x,y=28,31
            radius=2
            side=1
        [/remove_shroud]
        [modify_side]
            side=1
            fog=no
        [/modify_side]
        [fire_event]
            name=romero chat
        [/fire_event]
        [modify_side]
            side=1
            fog=yes
        [/modify_side]
    [/event]

    {DROPS 6 9 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5,6}
    {INFERNO_ABADDON_SPAWN 5-35,1-25 20 10 5}
    {INFERNO_SPAWN_POINT 3 3 7 33}
    {INFERNO_SPAWN_POINT 3 4 7 21}
    {INFERNO_SPAWN_POINT 3 3 16 5}
    {INFERNO_SPAWN_POINT 3 4 40 9}
    {INFERNO_SPAWN_POINT 3 6 39 26}
    {STEELHIVE_PORTAL 4 12 28}
    {STEELHIVE_PORTAL 4 5 22}
#    {STEELHIVE_PORTAL 4 28 4}
    {STEELHIVE_PORTAL 4 49 31}
    {SPAWN_ONLY_ONCE boss1 sc38_boss1}
    {HUNGRY_VOID}
    {CAMPAIGN9_EVENTS}
    {STOP_COMING_ON_VICTORY}
    {GENERIC_DEATHS}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
