#textdomain wesnoth-loti
[scenario]
    id="40_Steelhive_Depths"
    name= _ "Steelhive Depths"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/40_Steelhive_Depths.map}"
    next_scenario=41_Heart_of_Steelhive
    victory_when_enemies_defeated=no
    experience_modifier=80
    turns=-1
    {DEFAULT_MUSIC_PLAYLIST}
    {INDOORS}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper,Troll,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Thunderer,Dwarvish Thunderguard,Dwarvish Ulfserker,Dwarvish Berserker
        village_gold=0
        income=-2
        gold=0
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=yes
    [/side]
    {INFERNO_ENEMY_NO_LEADER_SIDE 2}
    {INFERNO_ENEMY_NO_LEADER_SIDE 3}
    {INFERNO_ABADDON_SIDE 4}
    [event]
        name=prestart
        {INFERNAL_OBJECTIVES}
        {VARIABLE_OP path rand (1..4)}
        [if]
            [variable]
                name=path
                greater_than=2
            [/variable]
            [then]
                {INFERNO_TRANSITION 41 26,1 21-31,1-2}
                {INFERNO_ORIGIN 41 26,2}
                [if]
                    [variable]
                        name=path
                        equals=3
                    [/variable]
                    [then]
                        [terrain]
                            x=25
                            y=5
                            terrain=Zaw
                        [/terrain]
                        [terrain]
                            x=22
                            y=3
                            terrain=Zaw
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=30
                            y=30
                            terrain=Zaw
                        [/terrain]
                        [terrain]
                            x=31
                            y=3
                            terrain=Zaw
                        [/terrain]
                    [/else]
                [/if]
            [/then]
            [else]
                {INFERNO_TRANSITION 41 51,13 51-52,11-17}
                {INFERNO_ORIGIN 41 50,12}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=49
                            y=16
                            terrain=Zaw
                        [/terrain]
                        [terrain]
                            x=48
                            y=15
                            terrain=Zaw
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=48
                            y=10
                            terrain=Zaw
                        [/terrain]
                        [terrain]
                            x=47
                            y=11
                            terrain=Zaw
                        [/terrain]
                    [/else]
                [/if]
            [/else]
        [/if]
        {VARIABLE_OP path rand (1..4)}
        [if]
            [variable]
                name=path
                greater_than=2
            [/variable]
            [then]
                {INFERNO_TRANSITION 39 35,46 31-39,45-46}
                {INFERNO_ORIGIN 39 36,45}
                [if]
                    [variable]
                        name=path
                        equals=3
                    [/variable]
                    [then]
                        [terrain]
                            x=34
                            y=43
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=33
                            y=44
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=39
                            y=44
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=39
                            y=43
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
            [else]
                {INFERNO_TRANSITION 39 2,25 1-2,23-27}
                {INFERNO_ORIGIN 39 2,25}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=5
                            y=23
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=3
                            y=22
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=6
                            y=26
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=4
                            y=28
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/else]
        [/if]
        {INFERNO_CHEST 12 14 sc40_chest}
        {VARIABLE last_scenario 40}
    [/event]
    [event]
        name=start
        {INFERNO_RECALL_ALL}
        {INFERNO_ITEM 3 12 sc40_item1}
        {INFERNO_ITEM 32 35 sc40_item2}
        {INFERNO_ITEM 4 43 sc40_item3}
        [if]
            [variable]
                name=quests.destroyed_steelhive
                equals=yes
            [/variable]
            [else]
                {GENERIC_UNIT 3 "Machine Fabricator" 45 39}
                {GENERIC_UNIT 3 "Machine Fabricator" 40 22}
                {GENERIC_UNIT 3 "Machine Fabricator" 14 41}
                {GENERIC_UNIT 3 "Machine Fabricator" 6 15}
                {GENERIC_UNIT 3 "Machine Fabricator" 18 27}
            [/else]
        [/if]
        [if]
            [variable]
                name=quests.entered_sc40
                equals=yes
            [/variable]
            [or]
                [variable]
                    name=quests.entered_sc41
                    equals=yes
                [/variable]
            [/or]
            [else]
                [message]
                    speaker=Lethalia
                    message= _ "Damn, this place is so unliving. Even the feeding flames are missing here."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "I do not like this place as well. "
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "And why is it so cold in here?"
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "Maybe the processes needed to construct them have to be done in low temperatures. But... we should not rant, we should keep going on, making sure that these machines will not bother us when fighting Uria is important."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Aha! Our technical experience gained from the battle against Akula pays off. This crazy, newfangled stuff is one of the roots of all evil. Hence with it!"
                [/message]
                {VARIABLE quests.entered_sc40 yes}
            [/else]
        [/if]
    [/event]
    [event]
        name=new turn
        first_time_only=no
        [store_unit]
            [filter]
                type=Machine Fabricator
            [/filter]
            variable=fabricators
            kill=no
        [/store_unit]
        {FOREACH fabricators i}
#ifdef HARD
            {VARIABLE_OP spawn_type rand (Machine Oculus,Machine Vector,Machine Drone,Machine Sparkgazer,Machine Vorpal,Machine Welder)}
#endif
#ifdef NORMAL
            {VARIABLE_OP spawn_type rand (Machine Oculus,Machine Vector,Machine Drone,Machine Oculus,Machine Vector,Machine Drone,Machine Oculus,Machine Vector,Machine Drone,Machine Sparkgazer,Machine Vorpal,Machine Welder,Machine Sparkgazer,Machine Vorpal,Machine Welder)}
#endif
#ifdef EASY
            {VARIABLE_OP spawn_type rand (Machine Oculus,Machine Vector,Machine Drone,Machine Oculus,Machine Vector,Machine Drone,Machine Sparkgazer,Machine Vorpal,Machine Welder)}
#endif
            {GENERIC_UNIT 3 $spawn_type $fabricators[$i].x $fabricators[$i].y}
        {NEXT i}
        {CLEAR_VARIABLE fabricators,spawn_type}
    [/event]
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4}
    {INFERNO_ABADDON_SPAWN 15-46,11-41 31 26 4}
    {STEELHIVE_PORTAL 2 32 29}
    {STEELHIVE_PORTAL 2 18 28}
    {STEELHIVE_PORTAL 2 23 19}
    {STEELHIVE_PORTAL 2 39 16}
    {STEELHIVE_PORTAL 2 32 10}
    {STEELHIVE_PORTAL 2 21 38}
    {CAMPAIGN9_EVENTS}
    {GENERIC_DEATHS}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
