#textdomain wesnoth-loti
[scenario]
    id="41_Heart_of_Steelhive"
    name= _ "Heart of Steelhive"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/41_Heart_of_Steelhive.map}"
    next_scenario=42_Passage_of_Detriment
    victory_when_enemies_defeated=no
    experience_modifier=80
    turns=-1
    {DEFAULT_MUSIC_PLAYLIST}
    {INDOORS}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper,Troll,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Thunderer,Dwarvish Thunderguard,Dwarvish Ulfserker,Dwarvish Berserker
        village_gold=0
        income=-2
        gold=0
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=yes
    [/side]
    [side]
        type=Master Fabricator
        canrecruit=yes
        random_gender=yes
        side=2
        recruit=
        team_name=evil
        user_team_name=_"Evil"
        id=fabricator
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
        [modifications]
            [object]
                [effect]
                    apply_to=image_mod
                    replace="CS(40,40,-200)"
                [/effect]
            [/object]
        [/modifications]
    [/side]
    {INFERNO_ENEMY_NO_LEADER_SIDE 3}
    [event]
        name=prestart
        {INFERNAL_OBJECTIVES}
        {VARIABLE_OP path rand (1,2)}
        [if]
            [variable]
                name=path
                equals=1
            [/variable]
            [or]
                [variable]
                    name=last_scenario
                    equals=42
                [/variable]
            [/or]
            [then]
                {INFERNO_TRANSITION 42 13,44 8-16,43-44}
                {INFERNO_ORIGIN 42 12,43}
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=10
                            y=40
                            terrain=Zaw
                        [/terrain]
                        [terrain]
                            x=7
                            y=44
                            terrain=Zaw
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=15
                            y=41
                            terrain=Zaw
                        [/terrain]
                        [terrain]
                            x=16
                            y=42
                            terrain=Zaw
                        [/terrain]
                    [/else]
                [/if]
            [/then]
        [/if]
        {INFERNO_CHEST 47 34 sc41_chest}
        {INFERNO_TRANSITION 40 52,11 52-53,9-15}
        {INFERNO_TRANSITION 38 4,1 1-6,1-2}
        {INFERNO_ORIGIN 40 52,11}
        {INFERNO_ORIGIN 38 4,2}
        {VARIABLE last_scenario 41}
    [/event]
    [event]
        name=start
        {INFERNO_RECALL_ALL}
        [if]
            [variable]
                name=quests.destroyed_steelhive
                equals=yes
            [/variable]
            [then]
                [kill]
                    id=fabricator
                    animate=no
                    fire_event=no
                [/kill]
            [/then]
            [else]
                {GENERIC_UNIT 3 "Machine Fabricator" 19 5}
                {GENERIC_UNIT 3 "Machine Fabricator" 8 12}
                {GENERIC_UNIT 3 "Machine Fabricator" 12 27}
                {GENERIC_UNIT 3 "Machine Fabricator" 47 30}
                {GENERIC_UNIT 3 "Machine Fabricator" 47 20}
            [/else]
        [/if]
        [if]
            [variable]
                name=quests.entered_sc41
                equals=yes
            [/variable]
            [else]
                [message]
                    speaker=Lethalia
                    message= _ "Efraim, maybe these machines are the things that were consuming the energy from Island of Atrocity!"
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "That is possible. Although it does not explain why it is so cold in here."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "I have a feeling we are in the centre of Steelhive. There will surely be something that we can destroy and it will stop these machines."
                [/message]
                {VARIABLE quests.entered_sc41 yes}
            [/else]
        [/if]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x,y=28-41,17-27
        [/filter]
        [if]
            [variable]
                name=quests.destroyed_steelhive
                equals=yes
            [/variable]
            [or]
                [variable]
                    name=quests.talked_to_fabricator
                    equals=yes
                [/variable]
            [/or]
            [else]
                [message]
                    caption= _ "A strange voice"
                    image=units/unknown-unit.png
                    message= _ "Intruders near the central! Sequence B100D activated."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "What are you?"
                [/message]
                [message]
                    caption= _ "A strange voice"
                    image=units/unknown-unit.png
                    message= _ "C4A7 sequence initiated. Internal - Master Fabricator. External - King Efraim of Wesnoth. Talk will start now. King Efraim of Wesnoth is talking to Master Fabricator. Introduction. Master Fabricator is a mechanical device designed to control the fabrication of Steelhive devices and for the purpose of development also to fabricate them. What does King Efraim of Wesnoth want?"
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "Does that mean that if we destroy you, machines will be fabricated in Steelhive no more?"
                [/message]
                [message]
                    caption= _ "Master Fabricator"
                    image=units/unknown-unit.png
                    message= _ "Alalysing the meaning of word: 'you'. Meaning found. Meaning is a pointer to Master Fabricator. Analysing the meaning of word: 'we'. Meaning found. Meaning is a pointer to the intruders array. Translation: Does the previous sentence mean that if intruders destroy Master Fabricator, machines will be fabricated in Steelhive no more? Analysing. Error in statement. Expected strength of mortal intruders: 18345245. Expected strength of available Steelhive forces: 42892094."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "He is not exactly what I call well-spoken."
                [/message]
                [message]
                    caption= _ "Master Fabricator"
                    image=units/unknown-unit.png
                    message= _ "Conclusion: defeat of Steelhive forces is improbable beyond the range of consideration, and will be considered impossible."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "Let us suppose that the strength of mortal intruders is 90672127. If you were destroyed under these conditions, would it mean that machines will be fabricated in Steelhive no more?"
                [/message]
                [message]
                    caption= _ "Master Fabricator"
                    image=units/unknown-unit.png
                    message= _ "Error reading input. Expected reason: the meaning of 'we' was altered. Attempting to find a new meaning. Meaning found. New meaning. Master Fabricator and the intruders array. Removing 'intruders' from the definition because this part is not needed. Error: Duplicate meaning: 'we' and 'you' both mean Master Fabricator. Ignoring. Translation: Master Fabricator will suppose that the strength of intruders is 90672127. If Master Fabricator was destroyed under the condition mentioned above, would it mean that machines will be fabricated in Steelhive no more?"
                [/message]
                [message]
                    caption= _ "Master Fabricator"
                    image=units/unknown-unit.png
                    message= _ "Warning: one of the numbers computed diverges. In the previously described case, the scenario is following: The destruction of Master Fabricator stops all production for a period of time expected between eighty hours and infinity. During this time, all devices in Steelhive will be deactivated and help from demons will be required. Reminding that this supposes strength of intruders that does not meet expectations."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "King Efraim of Wesnoth orders Master Fabricator to destroy itself."
                [/message]
                [message]
                    caption= _ "Master Fabricator"
                    image=units/unknown-unit.png
                    message= _ "Error: King Efraim of Wesnoth does not have the privileges to use this command."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "List the commands King Efraim of Wesnoth has the privileges to use."
                [/message]
                [message]
                    caption= _ "Master Fabricator"
                    image=units/unknown-unit.png
                    message= _ "Error: King Efraim of Wesnoth does not have the privileges to use this command."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "Which commands can King Efraim of Wesnoth use?"
                [/message]
                [message]
                    caption= _ "Master Fabricator"
                    image=units/unknown-unit.png
                    message= _ "The list is empty. The only interaction possible is the C4A7 sequence initiated by Master Fabricator."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "Tell King Efraim of Wesnoth about the weaknesses of Master Fabricator."
                [/message]
                [message]
                    caption= _ "Master Fabricator"
                    image=units/unknown-unit.png
                    message= _ "Error: King Efraim of Wesnoth does not have the privileges to access this information."
                [/message]
                [message]
                    caption= _ "Master Fabricator"
                    image=units/unknown-unit.png
                    message= _ "Maximum time for chat before combat ran out. Risk of enemies performing stealthy actions is beyond acceptable values. C4A7 sequence terminated. Preparing to battle. Shutting down external communication due to a necessity to conceal operations. Shut down successful."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Efraim! I am thrilled at how you performed! You speak machine language, that's jaw-dropping! You almost outwitted this thing! Well, we have to destroy it in our conventional way."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "Yeah, I have always been pretty bright. I wonder, how Uria can do this... Quite interesting how these machines speak. So, Master Fabricator's anger is elevated beyond acceptable values, attack is imminent, haha."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Once, I had a magical axe that could talk to me somehow. It was speaking normally... strange."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "That kind of magic is probably related to using some kind of soul. These machines are soulless. There is less life in them than in undead."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "But we can redeem them."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "Maybe some enchantments are put into them, and these residual enchantments increase our power when devoured. It was probably impossible to make conscient magical entities communicate with the machines."
                [/message]
                {VARIABLE secret_8 1}
                [set_global_variable]
                    namespace=dugi_loti
                    from_local=secret_8
                    to_global=secret_8
                    immediate=yes
                [/set_global_variable]
                {CLEAR_VARIABLE secret_8}
                {VARIABLE quests.talked_to_fabricator yes}
            [/else]
        [/if]
    [/event]
    [event]
        name=new turn
        first_time_only=no
        [store_unit]
            [filter]
                type=Machine Fabricator
            [/filter]
            variable=fabricators
            kill=no
        [/store_unit]
        {FOREACH fabricators i}
#ifdef HARD
            {VARIABLE_OP spawn_type rand (Machine Oculus,Machine Vector,Machine Drone,Machine Sparkgazer,Machine Vorpal,Machine Welder)}
#endif
#ifdef NORMAL
            {VARIABLE_OP spawn_type rand (Machine Oculus,Machine Vector,Machine Drone,Machine Oculus,Machine Vector,Machine Drone,Machine Oculus,Machine Vector,Machine Drone,Machine Sparkgazer,Machine Vorpal,Machine Welder,Machine Sparkgazer,Machine Vorpal,Machine Welder)}
#endif
#ifdef EASY
            {VARIABLE_OP spawn_type rand (Machine Oculus,Machine Vector,Machine Drone,Machine Oculus,Machine Vector,Machine Drone,Machine Sparkgazer,Machine Vorpal,Machine Welder)}
#endif
            {GENERIC_UNIT 3 $spawn_type $fabricators[$i].x $fabricators[$i].y}
        {NEXT i}
        {CLEAR_VARIABLE fabricators,spawn_type}
    [/event]
    [event]
        name=new turn
        first_time_only=no
        [if]
            [have_unit]
                side=1
                x,y=28-41,17-27
            [/have_unit]
            [then]
                [store_unit]
                    [filter]
                        id=fabricator
                    [/filter]
                    variable=fabricator
                    kill=no
                [/store_unit]
                {VARIABLE spawn_count 5}
#ifdef NORMAL
                {VARIABLE spawn_count 6}
#endif
#ifdef EASY
                {VARIABLE spawn_count 4}
#endif
                [while]
                    [variable]
                        name=spawn_count
                        greater_than=0
                    [/variable]
                    [do]
#ifdef HARD
                        {VARIABLE_OP spawn_type rand (Machine Oculus,Machine Vector,Machine Drone,Machine Sparkgazer,Machine Vorpal,Machine Welder)}
#endif
#ifdef NORMAL
                        {VARIABLE_OP spawn_type rand (Machine Oculus,Machine Vector,Machine Drone,Machine Oculus,Machine Vector,Machine Drone,Machine Oculus,Machine Vector,Machine Drone,Machine Sparkgazer,Machine Vorpal,Machine Welder,Machine Sparkgazer,Machine Vorpal,Machine Welder)}
#endif
#ifdef EASY
                        {VARIABLE_OP spawn_type rand (Machine Oculus,Machine Vector,Machine Drone,Machine Oculus,Machine Vector,Machine Drone,Machine Sparkgazer,Machine Vorpal,Machine Welder)}
#endif
                        {GENERIC_UNIT 2 $spawn_type $fabricator.x $fabricator.y}
                        {VARIABLE_OP spawn_count sub 1}
                    [/do]
                [/while]
                {CLEAR_VARIABLE fabricator,spawn_type,spawn_count}
            [/then]
        [/if]
    [/event]
    [event]
        name=last breath
        [filter]
            id=fabricator
        [/filter]
        [message]
            speaker=Efraim
            message= _ "Finally, no more of these countless annoying pests."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I am as happy as you are that their source is destroyed."
        [/message]
        [message]
            speaker=Lilith
            message= _ "Maybe we could have modified their behaviour somehow to make them obey us. A thousand petty nuissances might even destroy Uria. But well, it is too late to turn back time."
        [/message]
        [message]
            speaker=Efraim
            message= _ "To be honest, I hate them so much that I would not suffer them on our side. They are not as important as you are, Lilith, though I do not enjoy your presence either."
        [/message]
        {VARIABLE quests.destroyed_steelhive yes}
        [kill]
            type=Machine Fabricator
            animate=no
            fire_event=no
        [/kill]
        [event]
            name=steelhive_spawn
            remove=yes
        [/event]
    [/event]
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3}
    {STEELHIVE_PORTAL 2 35 24}
    {STEELHIVE_PORTAL 2 15 25}
    {STEELHIVE_PORTAL 2 23 20}
    {STEELHIVE_PORTAL 2 40 14}
    {STEELHIVE_PORTAL 2 32 10}
    {STEELHIVE_PORTAL 2 21 37}
    {CAMPAIGN9_EVENTS}
    {GENERIC_DEATHS}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
