#textdomain wesnoth-loti
[scenario]
    id="44_Gathering_Alcove"
    name= _ "Gathering Alcove"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/44_Gathering_Alcove.map}"
    next_scenario=45_Refuge_of_Black_Hope
    victory_when_enemies_defeated=no
    experience_modifier=80
    turns=-1
    {DEFAULT_MUSIC_PLAYLIST}
    {INDOORS}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper,Troll,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Thunderer,Dwarvish Thunderguard,Dwarvish Ulfserker,Dwarvish Berserker
        village_gold=0
        income=-2
        gold=0
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
        fog=yes
    [/side]
    [side]
        no_leader=yes
        side=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        recruit=Spider Demon
        village_gold=5
        {GOLD 800 1000 1200}
        {INCOME 120 140 160}
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
        [unit]
            type=Demon Lord
            random_traits=yes
            generate_name=yes
            x,y=39,26
            id=boss1
        [/unit]
    [/side]
    [side]
        no_leader=yes
        side=3
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        recruit=Longbowman,Swordsman,Pikeman,Javelineer,Elvish Ranger,Dwarvish Steelclad
        village_gold=5
        {GOLD 500 650 800}
        {INCOME 50 70 90}
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
        [unit]
            type=Demon Lord
            random_traits=yes
            generate_name=yes
            x,y=27,26
            id=boss2
        [/unit]
    [/side]
    [side]
        no_leader=yes
        side=4
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        recruit=Demon
        village_gold=5
        {GOLD 700 850 1000}
        {INCOME 120 140 160}
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
        [unit]
            type=Demon Lord
            random_traits=yes
            generate_name=yes
            x,y=33,16
            id=boss3
        [/unit]
    [/side]
    {INFERNO_ENEMY_NO_LEADER_SIDE 5}
    {INFERNO_ENEMY_NO_LEADER_SIDE 6}
    {INFERNO_ABADDON_SIDE 7}
    {INFERNO_ROMERO_SIDE 8}
    {INFERNO_ENEMY_NO_LEADER_SIDE 9}
    [event]
        name=prestart
        {INFERNAL_OBJECTIVES}
        {INFERNO_ORIGIN 46 4,9}
        [if]
            [variable]
                name=quests.pillar
                greater_than_equal_to=2
            [/variable]
            [not]
                [variable]
                    name=quests.closed_death_portal
                    equals=yes
                [/variable]
            [/not]
            [then]
                [fire_event]
                    name=unleash black souls
                [/fire_event]
            [/then]
        [/if]
        {VARIABLE_OP path rand (1..4)}
        [if]
            [variable]
                name=path
                greater_than=2
            [/variable]
            [then]
                {INFERNO_TRANSITION 45 52,16 52-53,14-19}
                {INFERNO_ORIGIN 45 51,17}
                [if]
                    [variable]
                        name=path
                        equals=3
                    [/variable]
                    [then]
                        [terrain]
                            x=48
                            y=16
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=48
                            y=17
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=48
                            y=18
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=49
                            y=15
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=50
                            y=14
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=51
                            y=14
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
            [else]
                {INFERNO_TRANSITION 45 28,1 24-32,1-2}
                {INFERNO_ORIGIN 45 29,2}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=25
                            y=3
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=26
                            y=3
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=27
                            y=4
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=33
                            y=3
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=32
                            y=3
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=33
                            y=2
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/else]
        [/if]
        {VARIABLE_OP path rand (1,2)}
        [if]
            [variable]
                name=path
                equals=1
            [/variable]
            [or]
                [variable]
                    name=last_scenario
                    equals=38
                [/variable]
            [/or]
            [then]
                {INFERNO_TRANSITION 38 2,31 1-2,28-33}
                {INFERNO_ORIGIN 38 3,31}
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=6
                            y=33
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=7
                            y=33
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=8
                            y=32
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=4
                            y=28
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=5
                            y=29
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=6
                            y=29
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
        [/if]
        {VARIABLE_OP path rand (1,2)}
        [if]
            [variable]
                name=path
                equals=1
            [/variable]
            [or]
                [variable]
                    name=last_scenario
                    equals=47
                [/variable]
            [/or]
            [then]
                {INFERNO_TRANSITION 47 45,42 41-50,41-42}
                {INFERNO_ORIGIN 47 45,41}
                {VARIABLE_OP path rand (1,2)}
                [if]
                    [variable]
                        name=path
                        equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x=41
                            y=40
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=41
                            y=41
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=41
                            y=42
                            terrain=Urb
                        [/terrain]
                    [/then]
                    [else]
                        [terrain]
                            x=47
                            y=39
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=48
                            y=39
                            terrain=Urb
                        [/terrain]
                        [terrain]
                            x=49
                            y=40
                            terrain=Urb
                        [/terrain]
                    [/else]
                [/if]
            [/then]
        [/if]
        {INFERNO_CHEST 16 1 sc44_chest}
        {VARIABLE last_scenario 44}
    [/event]
    [event]
        name=start
        {INFERNO_RECALL_ALL}
        {CAPTURE_VILLAGES 2 21 33 16}
        [modify_unit]
            [filter]
                id=boss1
            [/filter]
            canrecruit=yes
        [/modify_unit]
        [modify_unit]
            [filter]
                id=boss2
            [/filter]
            canrecruit=yes
        [/modify_unit]
        [modify_unit]
            [filter]
                id=boss3
            [/filter]
            canrecruit=yes
        [/modify_unit]
        [if]
            [variable]
                name=quests.entered_sc44
                equals=yes
            [/variable]
            [else]
                [message]
                    speaker=Lethalia
                    message= _ "I am starting to hate these sinful temples more and more."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "Be happy that there is no decoration. It would surely represent terrible sights of torture and evisceration."
                [/message]
                [message]
                    speaker=Lilith
                    message= _ "I was choosing sculptors with the ability to make statues showing various gory and dreadful scenes when <i>you</i> entered the game..."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "I mean that I hate what they represent. Their faith in a creature of their kin who simply assembled the greatest power is perverted is weird by itself, but what is worse is the fact that this religion is based on selfishness. Demons are rewarded with power and position for serving Uria. If they saw Uria die, they would abandon this religion quickly and start serving some other unholy cause."
                [/message]
                [message]
                    speaker=Lethalia_evil
                    message= _ "I have been praised by many servants by the time when I was powerful, but I never wanted it to turn into religion. Just obey your boss, and you will be rewarded with power."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "Yes, I think you are right."
                [/message]
                [message]
                    speaker=Lilith
                    message= _ "And remember that the Pillar of Continuum's Alteration should be here."
                [/message]
                {VARIABLE quests.pillar 1}
                {VARIABLE quests.entered_sc44 yes}
            [/else]
        [/if]
        [if]
            [variable]
                name=quests.pillar
                less_than=2
            [/variable]
            [then]
                [event]
                    name=moveto
                    [filter]
                        side=1
                        x,y=29-38,19-27
                    [/filter]
                    [message]
                        speaker=Lilith
                        message= _ "We are doomed! The pillar... it is not here!"
                    [/message]
                    [message]
                        speaker=Lethalia
                        message= _ "It is a trap! Uria knew our destination, and prepared an army here! Assemble here, everyone, we do not want them to hunt us one by one."
                    [/message]
                    [store_unit]
                        [filter]
                            side=1
                        [/filter]
                        kill=no
                        variable=movement_store
                    [/store_unit]
                    {FOREACH movement_store i}
                        {MOVE_UNIT x,y=$movement_store[$i].x,$movement_store[$i].y 33 23}
                    {NEXT i}
                    {CLEAR_VARIABLE movement_store}
                    [unit]
                        id=Romero
                        x,y=33,16
                        name= _ "Romero"
                        type=Romero
                        random_traits=no
                        side=8
                        {IS_HERO}
                    [/unit]
                    {VARIABLE spawn_count 10}
#ifdef HARD
                    {VARIABLE_OP spawn_count multiply "1.2"}
#endif
#ifdef EASY
                    {VARIABLE_OP spawn_count divide "1.2"}
#endif
                    [while]
                        [variable]
                            name=spawn_count
                            greater_than=0
                        [/variable]
                        [do]
                            {VARIABLE_OP spawn_type rand (Demon Manowar,Demon Warrior,Demon Overlord)}
                            {GENERIC_UNIT 8 $spawn_type 33 16}
                            {GENERIC_UNIT 8 $spawn_type 51 17}
                            {GENERIC_UNIT 8 $spawn_type 48 33}
                            {VARIABLE_OP spawn_count sub 1}
                        [/do]
                    [/while]
                    {VARIABLE quests.pillar 2}
                    [remove_shroud]
                        x,y=33,16
                        radius=2
                        side=1
                    [/remove_shroud]
                    [modify_side]
                        side=1
                        fog=no
                    [/modify_side]
                    [fire_event]
                        name=romero chat
                    [/fire_event]
                    [modify_side]
                        side=1
                        fog=yes
                    [/modify_side]
                    [fire_event]
                        name=unleash black souls
                    [/fire_event]
                [/event]
            [/then]
        [/if]
    [/event]
    [event]
        name=unleash black souls
        {PLACE_IMAGE scenery/portal-red.png 4 9}
        {INFERNO_TRANSITION 46 4,9 4,9}
        [event]
            name=new turn
            first_time_only=no
#ifdef HARD
            {VARIABLE_OP spawn_type rand (Iron Mauler,Royal Guard,Master Bowman,Halberdier,Necromancer,Reaper,Dark Shade)}
#endif
#ifdef NORMAL
            {VARIABLE_OP spawn_type rand (Iron Mauler,Royal Guard,Master Bowman,Halberdier,Necromancer,Shock Trooper,Swordsman,Longbowman,Reaper,Dark Shade)}
#endif
#ifdef EASY
            {VARIABLE_OP spawn_type rand (Iron Mauler,Royal Guard,Master Bowman,Halberdier,Necromancer,Shock Trooper,Swordsman,Longbowman,Pikeman,Dark Sorcerer,Reaper,Dark Shade,Nightgaunt)}
#endif
            [unit]
                type=$spawn_type
                x,y=4,9
                side=9
                to_variable=blackening_store
                generate_name=yes
                random_traits=yes
                random_gender=yes
            [/unit]
            [if]
                [variable]
                    name=blackening_store.race
                    equals="human"
                [/variable]
                [then]
                    {MAKE_BLACK_SOUL}
                [/then]
                [else]
                    [unstore_unit]
                        variable=blackening_store
                        find_vacant=yes
                    [/unstore_unit]
                [/else]
            [/if]
            {CLEAR_VARIABLE spawn_type,blackening_store}
        [/event]
        [event]
            name=moveto
            [filter]
                side=1
                x,y=2-7,8-11
            [/filter]
            [message]
                speaker=unit
                message= _ "A portal… Should we take a look? Maybe this pillar is hidden inside it."
            [/message]
        [/event]
    [/event]
    [event]
        name=attack
        id=portal suggestion
        [filter_second]
            type=black soul-loti
        [/filter_second]
        [message]
            speaker=unit
            message= _ "Black souls?"
        [/message]
        [message]
            speaker=Lilith
            message= _ "The presence of black souls here indicates that it was hidden in the world of the dead. We should investigate this area, there might be a portal leading there somewhere nearby."
        [/message]
    [/event]
    {DROPS 6 9 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5,6,7,8,9}
    {INFERNO_ABADDON_SPAWN 1-27,1-27 12 12 7}
    {INFERNO_SPAWN_POINT 5 3 16 2}
    {INFERNO_SPAWN_POINT 5 4 4 13}
    {INFERNO_SPAWN_POINT 5 3 33 32}
    {INFERNO_SPAWN_POINT 5 4 24 17}
    {INFERNO_SPAWN_POINT 5 6 42 17}
    {STEELHIVE_PORTAL 6 23 38}
    {STEELHIVE_PORTAL 6 12 15}
#    {STEELHIVE_PORTAL 6 37 11}
    {STEELHIVE_PORTAL 6 37 22}
    {SPAWN_ONLY_ONCE boss1 sc44_boss1}
    {SPAWN_ONLY_ONCE boss2 sc44_boss2}
    {SPAWN_ONLY_ONCE boss3 sc44_boss3}
    {HUNGRY_VOID}
    {CAMPAIGN9_EVENTS}
    {STOP_COMING_ON_VICTORY}
    {GENERIC_DEATHS}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
