#textdomain wesnoth-loti
[scenario]
    id=02_Escape
    name= _ "Escape"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/02_West_Alduin.map}"
    {SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_dangerous_symphony.ogg"}
    {TURNS 12 11 10}
    {DOUBLE_SUN}
    next_scenario=03_Pirates
    victory_when_enemies_defeated=no
    [story]
        [part]
            background=maps/wesnoth.png
            show_title=yes
            {OLD_BATTLE 87 556}
            {NEW_BATTLE 82 548}
            story= _ "Just a few miles away, near the port, they found some resistance."
        [/part]
    [/story]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Move close to the ship with Efraim or Lethalia"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim, Lethalia or Akula"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_80}
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        [recall]
            id=Akula
        [/recall]
    [/event]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Revenant,Deathblade,Bone Shooter,Ghost,Shadow,Wraith,Chocobone
        {GOLD 150 120 100}
        income=0
        team_name=good
        user_team_name=_"Good"
        village_gold=2
    [/side]
    [side]
        generate_name=yes
        type=09 Great Mage
        side=2
        canrecruit=yes
        recruit=Silver Mage,Mage of Light,Arch Mage
        {GOLD 800 1000 1200}
        income=40
        random_traits=yes
        team_name="Unwise Good"
        user_team_name=_"Unwise Good"
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        flat={UNREACHABLE}
                    [/movement_costs]
                [/effect]
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_DAZZLE}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        no_leader=yes
        side=3
        ai_algorithm=idle_ai
        team_name=good
        user_team_name=_"Good"
        [unit]
            type=Transport Galleon
            x,y=2,9
        [/unit]
    [/side]

    [event]
        name=start
        [message]
            speaker=Efraim
            message= _ "Oh no, an army of enemies is trying to destroy the ship before we get to it."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Well, we will have to hurry."
        [/message]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Akula
            message= _ "They have magically aimed at the ship. They will sink it as soon as we get into deeper waters."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=1-4,6-10
            id=Efraim
        [/filter]
        [message]
            speaker=Efraim
            message= _ "One more suggestion, wizards. Think it over."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
        [/endlevel]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=1-4,6-10
            id=Lethalia
        [/filter]
        [message]
            speaker=Efraim
            message= _ "One more suggestion, wizards. Think it over."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=unit
            message= _ "Noooooo!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=second_unit
            message= _ "I hope I will receive a part of your power..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Akula
        [/filter]
        [message]
            speaker=second_unit
            message= _ "I have caught the betrayer."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {GLOBAL_EVENTS}
    {DROPS 4 5 (sword,knife,staff,axe,bow) yes 2}
    experience_modifier=125
[/scenario]
