#textdomain wesnoth-loti
[scenario]
    id=03_Pirates
    name= _ "Pirates"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/03_Nameless_Atol.map}"
    {SCENARIO_MUSIC "frantic.ogg"}
    {EXTRA_SCENARIO_MUSIC "nunc_dimittis.ogg"}
    {TURNS 29 27 25}
    {DOUBLE_SUN}
    next_scenario=04_Again
    victory_when_enemies_defeated=yes
    [story]
        [part]
            background=maps/wesnoth.png
            show_title=yes
            {OLD_BATTLE 87 556}
            {OLD_BATTLE 82 548}
            {NEW_JOURNEY 60 542}
            {NEW_JOURNEY 48 519}
            {NEW_JOURNEY 65 500}
            {NEW_JOURNEY 90 505}
            story= _ "And then, a terrible thunderstorm started. They found themselves incapable to stop it despite their huge power, and struggled to survive it. Of course, they could not drown, but the waves were strong enough to break the bones of every skeleton they had raised. Not mentioning the delay it would have caused."
        [/part]
#define NEW_JOURNEY_FAKE X Y
    [image]
        x,y={X},{Y}
        file=misc/new-journey.png
        centered=yes
    [/image]
#enddef
        [part]
            background=maps/wesnoth.png
            show_title=yes
            {OLD_BATTLE 87 556}
            {OLD_BATTLE 82 548}
            {NEW_JOURNEY_FAKE 60 542}
            {NEW_JOURNEY_FAKE 48 519}
            {NEW_JOURNEY_FAKE 65 500}
            {NEW_JOURNEY_FAKE 90 505}
            {NEW_JOURNEY 115 517}
            {NEW_BATTLE 137 531}
            story= _ "When the storm was already weakening, they shipwrecked on an unmapped island."
        [/part]
    [/story]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the enemy leader at the northest part of the island"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim, Lethalia or Akula"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_80}
        [/objectives]
        [unit]
            type=Transport Galleon
            x=33
            y=49
            side=1
            [modifications]
                {TRAIT_LOYAL}
                [object]
                    [effect]
                        apply_to=movement_costs
                        replace="true"
                        [movement_costs]
                            flat={UNREACHABLE}
                            shallow_water={UNREACHABLE}
                            reef={UNREACHABLE}
                            sand={UNREACHABLE}
                        [/movement_costs]
                    [/effect]
                [/object]
            [/modifications]
        [/unit]
        [recall]
            id=Lethalia
        [/recall]
        [recall]
            id=Akula
        [/recall]
        {VARIABLE recall_count 20}
        [while]
            [variable]
                name=recall_count
                greater_than=1
            [/variable]
            [do]
                {VARIABLE_OP recall_count add -1}
                [recall]
                    type=Ghost,Wraith,Shadow,Nightgaunt,Spectre,Reaper,Fire Guardian
                    x,y=32,44
                [/recall]
            [/do]
        [/while]
        {CLEAR_VARIABLE recall_count}
    [/event]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Revenant,Deathblade,Bone Shooter,Ghost,Shadow,Wraith,Chocobone
        gold=0
        income=0
        team_name=good
        user_team_name=_"Good"
        village_gold=2
        shroud=yes
    [/side]
    [side]
        generate_name=yes
        type=Highwayman
        side=2
        canrecruit=yes
        recruit=Bandit,Outlaw
        {GOLD 400 550 600}
        income=40
        random_traits=yes
        team_name="Evil"
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        flat={UNREACHABLE}
                        sand={UNREACHABLE}
                    [/movement_costs]
                [/effect]
#ifdef HARD
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_KNOCKBACK}
                    [/set_specials]
                [/effect]
#endif
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        generate_name=yes
        type=Shadow Prince
        gender=female
        id=enemy
        side=3
        canrecruit=yes
        recruit=Bandit,Outlaw,Rogue
        {GOLD 700 850 1000}
        income=50
        random_traits=yes
        team_name="Evil"
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        flat={UNREACHABLE}
                        sand={UNREACHABLE}
                    [/movement_costs]
                [/effect]
#ifndef EASY
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_DISTANT_ATTACK}
                    [/set_specials]
                [/effect]
#endif
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        generate_name=yes
        type=Fugitive
        side=4
        canrecruit=yes
        recruit=Bandit,Outlaw
        {GOLD 400 550 600}
        income=40
        random_traits=yes
        team_name="Evil"
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
        [modifications]
            [object]
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        flat={UNREACHABLE}
                        sand={UNREACHABLE}
                    [/movement_costs]
                [/effect]
            [/object]
        [/modifications]
    [/side]

    [event]
        name=start
        [message]
            speaker=Efraim
            message= _ "There are some pirates on this island. They will probably have a ship hidden somewhere."
        [/message]
        [message]
            speaker=enemy
            message= _ "Prepare to meet your maker!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "That is impossible, m'lady, I cannot. My maker died of disease when I was young."
        [/message]
        [message]
            speaker=Akula
            message= _ "We have just shipwrecked on this island. We do not want to harm you."
        [/message]
        [message]
            speaker=enemy
            message= _ "You will not want to be harmed very soon. We will kill you, and take your valuable items. You seem to have a lot of them."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "There are just some people who do not deserve to have a mouth."
        [/message]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Akula
            message= _ "They have magically aimed at the ship. They will sink it as soon as we get into deeper waters."
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=enemy
        [/filter]
        [message]
            speaker=Efraim
            message= _ "Where is your ship?!"
        [/message]
        [message]
            speaker=enemy
            message= _ "It is... hidden under in the reef, just north from the keep. Spare me, please!"
        [/message]
        [message]
            speaker=second_unit
            message= _ "And would you have spared our lives?"
        [/message]
        [message]
            speaker=enemy
            message= _ "Arrr, I would have... You look like wealthy people worth a huge ransom. If you leave me, I will help you somehow... later, after I get this mess organised again."
        [/message]
        [message]
            speaker=second_unit
            message= _ "Should I kill her?"
            [option]
                message= _"Yes. She wanted to kill us, we will kill her!"
                [command]
                [/command]
            [/option]
            [option]
                message= _"No. We have killed too many humans here."
                [command]
                    [store_unit]
                        [filter]
                            id=enemy
                        [/filter]
                        variable=thankful_enemy
                        kill=no
                    [/store_unit]
                    {VARIABLE thankful_enemy.id thankful_enemy}
                    {VARIABLE thankful_enemy.side 1}
                    {VARIABLE thankful_enemy.canrecruit no}
                    {VARIABLE thankful_enemy.x 1}
                    {VARIABLE thankful_enemy.y 14}
                [/command]
            [/option]
        [/message]
        [kill]
            type=Transport Galleon
            animate=no
        [/kill]
        [endlevel]
            result=victory
            bonus=yes
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=unit
            message= _ "No, no, no, no, noooo!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=second_unit
            message= _ "Ha ha, I defeated you."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Akula
        [/filter]
        [message]
            speaker=second_unit
            message= _ "What a weird person I killed."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {GLOBAL_EVENTS}
    {DROPS 4 4 (sword,knife,dagger,staff,axe,bow,spear) no 2,3,4}
    experience_modifier=125
[/scenario]
