#textdomain wesnoth-loti
[scenario]
    id=04_Again
    name= _ "Again"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/04_Rural.map}"
    {SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC "nunc_dimittis.ogg"}
    {EXTRA_SCENARIO_MUSIC "battle_epic.ogg"}
    {TURNS 21 20 19}
    {DOUBLE_SUN}
    next_scenario=05_We_Walk_in_the_Shadows
    victory_when_enemies_defeated=yes
    [story]
        [part]
            background=maps/wesnoth.png
            show_title=yes
            {OLD_BATTLE 87 556}
            {OLD_BATTLE 82 548}
            {OLD_JOURNEY 60 542}
            {OLD_JOURNEY 48 519}
            {OLD_JOURNEY 65 500}
            {OLD_JOURNEY 90 505}
            {OLD_JOURNEY 115 517}
            {OLD_BATTLE 127 531}
            {NEW_JOURNEY 175 551}
            {NEW_JOURNEY 219 563}
            {NEW_JOURNEY 269 573}
            {NEW_JOURNEY 315 577}
            story= _ "The debarkation went without any issues, the whole land was generally unguarded and even soldiers in fortified places didn't fight, they just fled. They passed a half of the distance into Weldyn without any serious issues, so they had time to talk about the current events."
        [/part]
#define NEW_JOURNEY_FAKE X Y
    [image]
        x,y={X},{Y}
        file=misc/new-journey.png
        centered=yes
    [/image]
#enddef
#define AGAIN_REPLY TEXT
    [part]
        background=maps/wesnoth.png
        show_title=yes
        {OLD_BATTLE 87 556}
        {OLD_BATTLE 82 548}
        {OLD_JOURNEY 60 542}
        {OLD_JOURNEY 48 519}
        {OLD_JOURNEY 65 500}
        {OLD_JOURNEY 90 505}
        {OLD_JOURNEY 115 517}
        {OLD_BATTLE 127 531}
        {NEW_JOURNEY_FAKE 175 551}
        {NEW_JOURNEY_FAKE 219 563}
        {NEW_JOURNEY_FAKE 269 573}
        {NEW_JOURNEY_FAKE 315 577}
        story= {TEXT}
    [/part]
#enddef
        {AGAIN_REPLY _"Efraim:
Where did you hide those notes how they created the second sun? That mage, Taruk, found it. I had never heard of him before, so he is definitely no prodigy."}
        {AGAIN_REPLY _"Lethalia:
I have hidden it really carefully. It was hidden in a dimension I created only because of it, behind a secret portal only undead elves can enter. There was no other way to get there, because it was the portal itself that created it when you tried to enter."}
        {AGAIN_REPLY _"Efraim:
So what if he had an undead elf ally? That is not so impossible. There are surely also some elvish liches. When you see a lich, you cannot tell if it is a human or elf or orc. But why would that lich do that for him? Hm, probably he was just offered a reward and he had no idea what was there."}
        {AGAIN_REPLY _"Lethalia:
It was not so easy. The portal was in a deep cave, inside the world of my mind, and also well-hidden. There was no way somebody could locate it there."}
        {AGAIN_REPLY _"Efraim:
Maybe some complex magic methods might be able to find such things. And also it should be possible to create a portal there without having to read such books as Gateways, just from more basic things you have not censored."}
        {AGAIN_REPLY _"Lethalia:
I agree. But it would require a really exquisite mind to do that. And these two things are there just to make sure that nobody will steal or damage it. It is magically encrypted. They cannot read a word from it if it is not placed inside the decryption showcase, and reading it there requires a passphrase. The passphrase is just a senseless group of letters I remember, and the decryption showcase itself offers no clue about the passphrase. There is absolutely no way to tell what the passphrase is. All they can do is to try the possibilities, or get lucky. In both cases, it is not very likely to happen before a million of years pass."}
        {AGAIN_REPLY _"Efraim:
This stinks with betrayal. We will have to find that mage as soon as possible."}
        {AGAIN_REPLY _"Lethalia:
... ... ...he is in Dan'Tonk. He is not even trying to hide from searching spells."}
        {AGAIN_REPLY _"Efraim:
Before the town, we will leave our army with Akula and we will enter the town. I know we are the most wanted ones at the moment, but we can... hide in the shadows."}
        [part]
            background=maps/wesnoth.png
            show_title=yes
            {OLD_BATTLE 87 556}
            {OLD_BATTLE 82 548}
            {OLD_JOURNEY 60 542}
            {OLD_JOURNEY 48 519}
            {OLD_JOURNEY 65 500}
            {OLD_JOURNEY 90 505}
            {OLD_JOURNEY 115 517}
            {OLD_BATTLE 127 531}
            {NEW_JOURNEY_FAKE 175 551}
            {NEW_JOURNEY_FAKE 219 563}
            {NEW_JOURNEY_FAKE 269 573}
            {NEW_JOURNEY_FAKE 315 577}
            {NEW_JOURNEY 366 577}
            {NEW_BATTLE 402 566}
            story= _ "But, unfortunately, they have met a resistance that was not so likely to flee."
        [/part]
    [/story]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim, Lethalia or Akula"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_80}
        [/objectives]
        [recall]
            id=Lethalia
            x,y=2,19
        [/recall]
        [recall]
            id=Akula
            x,y=3,21
        [/recall]
        {VARIABLE recall_count 10}
        [while]
            [variable]
                name=recall_count
                greater_than=1
            [/variable]
            [do]
                {VARIABLE_OP recall_count add -1}
                [recall]
                    x,y=2,20
                [/recall]
            [/do]
        [/while]
        {CLEAR_VARIABLE recall_count}
    [/event]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Revenant,Deathblade,Bone Shooter,Ghost,Shadow,Wraith,Chocobone
        gold=200
        income=0
        team_name=good
        user_team_name=_"Good"
        village_gold=2
    [/side]
    [side]
        generate_name=yes
        id=enemy
        type=Grand Marshal
        side=2
        canrecruit=yes
        recruit=Spearman,Swordsman,Fencer,Duelist,White Mage,Javelineer,Pikeman,Horseman,Knight,Lancer,Bowman,Longbowman,White Mage,Paladin
        {GOLD 800 1000 1200}
        {INCOME 150 200 250}
        random_traits=yes
        team_name="Unwise Good"
        user_team_name=_"Unwise Good"
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
        [modifications]
            [object]
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        flat={UNREACHABLE}
                        village={UNREACHABLE}
                    [/movement_costs]
                [/effect]
#ifndef EASY
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_PURIFY}
                    [/set_specials]
                [/effect]
#endif
            [/object]
        [/modifications]
    [/side]
    [side]
        generate_name=yes
        id=enemy2
        type=General
        side=3
        canrecruit=yes
        recruit=Spearman,Swordsman,Fencer,Duelist,White Mage,Javelineer,Pikeman,Horseman,Knight,Lancer,Bowman,Longbowman,White Mage
        {GOLD 500 750 900}
        {INCOME 20 30 40}
        random_traits=yes
        {AI_LEAVE_THE_LEADERS 3}
        team_name="Unwise Good"
        user_team_name=_"Unwise Good"
        [modifications]
            [object]
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        flat={UNREACHABLE}
                        village={UNREACHABLE}
                    [/movement_costs]
                [/effect]
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_PENETRATE}
                    [/abilities]
                [/effect]
            [/object]
        [/modifications]
    [/side]
    [side]
        type=Saurian Flanker
        generate_name=yes
        canrecruit=yes
        recruit=Saurian Skirmisher,Saurian Augur,Saurian Ambusher,Saurian Soothsayer,Saurian Oracle
        side=4
        {GOLD 300 440 500}
        {INCOME 35 50 75}
        team_name=evil
        user_team_name=_"Evil"
    [/side]
    [event]
        name=start
        [message]
            speaker=Efraim
            message= _ "This... does not look well."
        [/message]
        [message]
            speaker=enemy
            message= _ "This will be your end, necromancers. Very soon, vultures will feast on the remains of your rotten flesh and I will reap the huge reward for killing you."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I am giving you the last chance to surrender. Flee, and save your lives. I don't want any unnecessary bloodshed, but you are forcing me to it. Dying in battle will be less painful than dying due to the cataclysm the king's decisions will cause."
        [/message]
        [message]
            speaker=enemy
            message= _ "Enough. You will not persuade anybody. Kill the necromancers! Anyone who brings me their heads will become a Count."
        [/message]
        [message]
            speaker=Efraim
            message= _ "People will die, because of you."
        [/message]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Lethalia
            message= _ "More reinforcements are coming, Dan'Tonk is being evacuated..."
        [/message]
    [/event]
    [event]
        name=enemies_defeated
        [message]
            speaker=Efraim
            message= _ "Akula, you will stay with the army, and create more undead if you can. We will question that sorcerer."
        [/message]
        [message]
            speaker=Akula
            message= _ "What do you think he will tell you? Nothing. He just figured it out somehow and we have to face its consequences. We have to prey on the patrols and ravage the land until we get enough minions to attack Weldyn."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Avoiding bloodshed is our priority."
        [/message]
        [message]
            speaker=Akula
            message= _ "Fools, you will regret it when he tells you nothing important."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=unit
            message= _ "This should not be happening."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=second_unit
            message= _ "Now call me Count $second_unit.name|."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Akula
        [/filter]
        [message]
            speaker=unit
            message= _ "You fools, you have let me die."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {GLOBAL_EVENTS}
    {DROPS 3 5 (sword,knife,dagger,staff,axe,bow,spear) yes 2,3,4}
    experience_modifier=125
[/scenario]
