#textdomain wesnoth-loti
[scenario]
    id=07_Into_the_Shadows
    name= _ "Into the Shadows"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/07_Entrance.map}"
    {SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC "into_the_shadows.ogg"}
    {EXTRA_SCENARIO_MUSIC "traveling_minstrels.ogg"}
    {TURNS 21 20 19}
    {DOUBLE_SUN}
    next_scenario=08_Entrance
    victory_when_enemies_defeated=no
    [story]
        [part]
            background=maps/wesnoth.png
            show_title=yes
            {OLD_BATTLE 87 556}
            {OLD_BATTLE 82 548}
            {OLD_JOURNEY 60 542}
            {OLD_JOURNEY 48 519}
            {OLD_JOURNEY 65 500}
            {OLD_JOURNEY 90 505}
            {OLD_JOURNEY 115 517}
            {OLD_BATTLE 127 531}
            {OLD_JOURNEY 175 551}
            {OLD_JOURNEY 219 563}
            {OLD_JOURNEY 269 573}
            {OLD_JOURNEY 315 577}
            {OLD_JOURNEY 366 577}
            {OLD_BATTLE 402 566}
            {OLD_JOURNEY 433 547}
            {OLD_JOURNEY 453 528}
            {OLD_BATTLE 461 504}
            {OLD_JOURNEY 484 489}
            {OLD_JOURNEY 491 452}
            {OLD_JOURNEY 507 415}
            {OLD_JOURNEY 519 373}
            {OLD_JOURNEY 522 327}
            {OLD_BATTLE 516 290}
            {NEW_BATTLE 521 259}
            story= _ "The tin army had been given an opportunity to demonstrate their power and to reflect upon the strategic benefit of blunt manners. Although the first clash had not yet proven them to have the whip hand over the kingdom, the confident threat voiced by their neutralized leader urged the duly authorised representatives of His Majesty King Dantair to better not throw all caution to the winds. It wasn't long before they ran into another steel outpost where an iron-fisted general was assuming a hostile attitude against some royalists..."
        [/part]
    [/story]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Enter the cave in the east"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_80}
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
    [/event]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Revenant,Deathblade,Bone Shooter,Ghost,Shadow,Wraith,Chocobone
        gold=200
        income=0
        team_name=good
        user_team_name=_"Good"
        village_gold=4
    [/side]
    [side]
        generate_name=yes
        id=enemy
        type=General_steel
        side=2
        canrecruit=yes
        recruit=Spearman_steel,Dark Adept_steel
        {GOLD 500 550 600}
        {INCOME 30 40 50}
        random_traits=yes
        team_name="Dreadful Evil"
        user_team_name=_"Dreadful Evil"
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
    [/side]
    [side]
        generate_name=yes
        id=ally
        type=Orcish Warmonger
        side=3
        canrecruit=yes
        recruit=Orcish Grunt,Orcish Warrior,Orcish Assassin,Orcish Slayer,Orcish Archer,Orcish Crossbowman,Wolf Rider,Goblin Knight,Orcish Warrior
        {GOLD 800 700 600}
        {INCOME 50 45 40}
        random_traits=yes
        team_name=good
        user_team_name=_"Good"
    [/side]
    [event]
        name=start
        {VARIABLE efraim_spells_left 1}
        {VARIABLE lethalia_spells_left 1}
        [message]
            speaker=enemy
            message= _ "You will suffer. We will not tolerate such brutes as you. Attack the Empire, or your fate will be much worse than death!"
        [/message]
        [message]
            speaker=ally
            message= _ "We will not break our alliance with the Empire. Without them, the whole land would be covered by an inhospitable desert. They are our friends, and we will not betray them."
        [/message]
        [message]
            speaker=enemy
            message= _ "That does not sound like words of an orc."
        [/message]
        [message]
            speaker=ally
            message= _ "I will not do what you want. I will never obey anyone who threatens me. I am siding with the Empire only because it is mutually helpful, don't get me wrong. Come, and prepare to get sliced by the blades of my warriors."
        [/message]
        [message]
            speaker=enemy
            message= _ "You chose death... come and take it..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I am afraid we will have to form an alliance with those stinking orcs."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Orcs are not inherently evil. They can ally with anybody, if he makes them believe it is good for them. And by the way, since when can you smell things? And may I remind you that the only reason why we do not stink like humans, elves, dwarves or orcs is because we just cannot stink ourselves."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "It was meant to be an <i>insult</i>. And they are stupid brutes, that should be slaughtered without exception."
        [/message]
        [message]
            speaker=Efraim
            message= _ "You are speaking like a dwarf now. We are necromancers, we are vile beings, whose only intention is to kill and grow in power. This is what you would have said if you were not a necromancer."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "You are probably right..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "And by the way, why are you getting angry all the time, making quick and aggressive decisions and generally differently than you used to?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I have no idea... Well, I am a necromancer, and necromancy is a path of darkness, and although darkness is not necessarily evil, it is possible that it is transforming me somehow."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Also, I have a feeling that something weird is happening with my soul. Like if it was splitting. I don't mean that I think it is somewhat related to my occasional anger, but I just sometimes feel somewhat weird, and I decided to check the world inside me. If there is not a decoy or something. And the world's shape was different, like if a part of it was separating. Its inhabitants were not noticing a thing. But still, like if a small part of my soul wanted to split from mine..."
        [/message]
        [message]
            speaker=ally
            message= _ "Hey, are you two going to observe how they will defeat us? Would you mind joining us?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Yes, yes, yes... We will finish this talk later."
        [/message]
        [if]
            [variable]
                name=thankful_enemy.id
                equals=thankful_enemy
            [/variable]
            [then]
#ifver WESNOTH_VERSION >= 1.13.2
                {CLEAR_VARIABLE thankful_enemy.modifications.advancement}
#else
                {CLEAR_VARIABLE thankful_enemy.modifications.advance}
#endif
                {VARIABLE thankful_enemy.movement_costs.flat 1}
                {VARIABLE thankful_enemy.movement_costs.sand 1}
                {VARIABLE thankful_enemy.hitpoints $thankful_enemy.max_hitpoints}
                {CLEAR_VARIABLE thankful_enemy.status}
                [unstore_unit]
                    variable=thankful_enemy
                    find_vacant=yes
                [/unstore_unit]
                {CLEAR_VARIABLE thankful_enemy}
                [message]
                    speaker=thankful_enemy
                    message= _ "I have been a good girl and so I came here to help you, as I promised."
                [/message]
            [/then]
        [/if]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Lethalia
            message= _ "I can see huge reinforcements coming inside the caves. We are doomed."
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            side=2
        [/filter]
        [message]
            speaker=second_unit
            message= _ "I think you will be spared. We need somebody to tell us how to stop this conspiracy."
        [/message]
        [message]
            speaker=unit
            message= _ "I do not know..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Stop lying, or we shall kill you. Talk if you want to live... if you call this kind of existence 'living'."
        [/message]
        [message]
            speaker=unit
            message= _ "Well, she has some magic amplificators. They are making her pretty much invincible. I think you have to destroy them. Her death would ruin us, because she is partially controlling each of us. I will draw you a rough map of the place..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Fine, fine, I will teleport you now somewhere where you will not cause any harm."
        [/message]
        [kill]
            id=$unit.id
        [/kill]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=38-42,10-17
        [/filter]
        [message]
            speaker=enemy
            message= _ "Argh, you cannot even know what terrors await you if you proceed..."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 4 1 23 16 18-28,11-21}
    {GLOBAL_EVENTS}
    {CAMPAIGN5_EVENTS}
    [event]
        name=turn refresh
        {VARIABLE enemy_sides 2}
    [/event]
    experience_modifier=125
[/scenario]
