#textdomain wesnoth-loti
[scenario]
    id=08_Entrance
    name= _ "Entrance"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/08_Entrance.map}"
    {SCENARIO_MUSIC "the_deep_path.ogg"}
    {EXTRA_SCENARIO_MUSIC "into_the_shadows.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_king_is_dead.ogg"}
    turns=-1
    {UNDERGROUND}
    next_scenario=09_Northwestern_Storeroom
    victory_when_enemies_defeated=no
    [story]
        [part]
            background=maps/antediluvian_tunnels_map.jpg
            show_title=yes
            [image]
                x,y=61,128
                file=misc/red-x.png
                centered=yes
            [/image]
            story=""
        [/part]
    [/story]
    {SPAWN_POINT 3 4 4 5}
    {SPAWN_POINT 3 5 3 25}
    {SPAWN_POINT 3 3 43 33}
    {SPAWN_POINT 3 4 43 6}
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Familiarise yourself with the dungeon and proceed further"
                condition=win
                [show_if]
                    [variable]
                        name=sc08
                        not_equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
        [/objectives]
        {ORIGIN 9 41,19}
        {ORIGIN 21 42,29}
        {ORIGIN 27 12,27}
        [recall]
            id=Lethalia
        [/recall]
    [/event]
    {RECALL_ALL}
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Revenant,Deathblade,Bone Shooter,Ghost,Shadow,Wraith,Chocobone
        gold=0
        income=0
        shroud=yes
        team_name=good
        user_team_name=_"Good"
        village_gold=1
    [/side]
    [side]
        generate_name=yes
        id=enemy
        type=General_steel
        side=2
        canrecruit=yes
        recruit=Spearman_steel,Dark Adept_steel,Fencer_steel,Bowman_steel
        {GOLD 400 450 500}
        {INCOME 30 40 50}
        random_traits=yes
        team_name="Dreadful Evil"
        user_team_name=_"Dreadful Evil"
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
    [/side]
    [side]
        no_leader=yes
        side=3
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
        team_name="Dreadful Evil"
        user_team_name=_"Dreadful Evil"
    [/side]
    [event]
        name=start
        {VARIABLE efraim_spells_left 1}
        {VARIABLE lethalia_spells_left 1}
        {VARIABLE last_scenario 8}
        {CHAPTER5_ITEM item_1_sc_8 2 5}
        {CHAPTER5_ITEM item_2_sc_8 23 2}
        [if]
            [variable]
                name=sc08
                equals=1
            [/variable]
            [else]
                [message]
                    speaker=Lethalia
                    message= _ "So, this is their lair. According to that person, this place is excessively large and we have to do a few things before attacking Akula."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "I suggest to do so, people scared so much usually do not lie."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "Fortunately it is so dark here. Our undead will have an advantage."
                [/message]
                [message]
                    speaker=narrator
                    image="wesnoth-icon.png"
                    message= _ "You are in an enemy territory. The enemy knows about you and you are under a relentless attack. Enemy units will be continually coming out from trapdoors, so you will have to walk on fighting (damaging the enemy facilities will weaken them for all future scenarios). You can use it to get stronger, training your units on them, and collecting items. You proceed to another scenario when you come to a transition (it is labelled where it goes), no matter if the objectives are or are not complete. You can keep a unit near a transition to flee from the scenario if the situation gets too hot, but it may get killed by the enemies easily."
                [/message]
                [message]
                    speaker=narrator
                    image="wesnoth-icon.png"
                    message= _ "Although there are villages in the dungeon, you receive no gold from them, but <b>units' upkeep is disabled</b>. You can proceed and attack Akula right when you get there, but it is not the best thing to do, the fight is extremely hard, if it is even possible to win, so damaging some enemy facilities and power amplificators will make the fight much easier.

Note: Consult the map selecting the newly added menu item."
                [/message]
            [/else]
        [/if]
    [/event]
    [event]
        name=victory
        {VARIABLE sc08 1}
    [/event]
    {TRANSITION 42-45,14-18 43,16 _"Northwestern Storeroom" 09_Northwestern_Storeroom}
    {TRANSITION 42-45,28-32 43,29 _"Soldiers' Quarters" 21_Soldiers_Quarters}
    {TRANSITION 1-17,32-34 10,32 _"Power Station" 27_Power_Station}
    {CAMPAIGN5_EVENTS}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
    {SHOW_MAP}
    experience_modifier=125
[/scenario]
