#textdomain wesnoth-loti
[scenario]
    id=12_Amplificator_1
    name= _ "Magic Power Amplificator 1"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/12_Magic_Power_Amplificator1.map}"
    {GLOBAL_EVENTS}
    {SCENARIO_MUSIC "the_dangerous_symphony.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_deep_path.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_city_falls.ogg"}
    {EXTRA_SCENARIO_MUSIC "underground.ogg"}
    turns=-1
    {DEEP_UNDERGROUND}
    next_scenario=13_Eastern_Storeroom
    victory_when_enemies_defeated=no
    [story]
        [part]
            background=maps/antediluvian_tunnels_map.png
            show_title=yes
            [image]
                x,y=444,72
                file=misc/red-x.png
                centered=yes
            [/image]
            story=""
        [/part]
    [/story]
    {SPAWN_POINT 2 2 26 14}
    {SPAWN_POINT 2 2 28 17}
    {SPAWN_POINT 2 2 23 16}
    {SPAWN_POINT 2 3 51 19}
    {SPAWN_POINT 2 3 44 25}
    {SPAWN_POINT 2 5 38 16}
    {SPAWN_POINT 2 4 28 24}
    {SPAWN_POINT 2 5 35 4}
    {SPAWN_POINT 2 4 5 17}
    {SPAWN_POINT 2 6 6 3}
    {SPAWN_POINT 2 5 23 5}
    {SPAWN_POINT 2 4 41 10}
    {SPAWN_POINT 2 7 36 14}
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Destroy the power amplificator"
                condition=win
                [show_if]
                    [variable]
                        name=ch5_quests.amplificators.1.destroyed
                        not_equals=yes
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
        [/objectives]
        {ORIGIN 28 50,8}
        {ORIGIN 26 6,22}
        {ORIGIN 13 51,27}
        [recall]
            id=Lethalia
        [/recall]
#ifdef HARD
        [if]
            [variable]
                name=ch5_quests.sc12.done
                equals=yes
            [/variable]
            [then]
                {TRANSITION 0-2,7-12 1,9 _"Guards' Quarters" 10_Guards_Quarters}
                {TRANSITION 48-54,25-28 51,27 _"Eastern Storeroom" 13_Eastern_Storeroom}
                {TRANSITION 0-3,25-28 2,26 _"Library" 26_Library}
                {TRANSITION 53-54,3-6 53,5 _"War Zone" 28_War_Zone}
            [/then]
            [else]
                [switch]
                    variable=last_scenario
                    [case]
                        value=10
                        {TRANSITION 48-54,25-28 51,27 _"Eastern Storeroom" 13_Eastern_Storeroom}
                        {TRANSITION 0-3,25-28 2,26 _"Library" 26_Library}
                        {TRANSITION 53-54,3-6 53,5 _"War Zone" 28_War_Zone}
                    [/case]
                    [case]
                        value=13
                        {TRANSITION 0-2,7-12 1,9 _"Guards' Quarters" 10_Guards_Quarters}
                        {TRANSITION 0-3,25-28 2,26 _"Library" 26_Library}
                        {TRANSITION 53-54,3-6 53,5 _"War Zone" 28_War_Zone}
                    [/case]
                    [case]
                        value=26
                        {TRANSITION 0-2,7-12 1,9 _"Guards' Quarters" 10_Guards_Quarters}
                        {TRANSITION 48-54,25-28 51,27 _"Eastern Storeroom" 13_Eastern_Storeroom}
                        {TRANSITION 53-54,3-6 53,5 _"War Zone" 28_War_Zone}
                    [/case]
                    [case]
                        value=28
                        {TRANSITION 0-2,7-12 1,9 _"Guards' Quarters" 10_Guards_Quarters}
                        {TRANSITION 48-54,25-28 51,27 _"Eastern Storeroom" 13_Eastern_Storeroom}
                        {TRANSITION 0-3,25-28 2,26 _"Library" 26_Library}
                    [/case]
                [/switch]
            [/else]
        [/if]
#else
        {TRANSITION 0-2,7-12 1,9 _"Guards' Quarters" 10_Guards_Quarters}
        {TRANSITION 0-3,25-28 2,26 _"Library" 26_Library}
        {TRANSITION 53-54,3-6 53,5 _"War Zone" 28_War_Zone}
        {TRANSITION 48-54,25-28 51,27 _"Eastern Storeroom" 13_Eastern_Storeroom}
#endif
        [micro_ai]  # Give Icy units an affinity for frozen
            side=3
            ai_type=lurkers
            action=add
            [filter]
                type=*
            [/filter]
            [filter_location]
                terrain=Ai*,Aa*,Ha*
            [/filter_location]
            [filter_location_wander]
                terrain=Ai*,Aa*,Ha*
            [/filter_location_wander]
        [/micro_ai]
        {VARIABLE frozen_radius 6}
        {PLACE_IMAGE scenery/signpost.png 3 26}  # FIX: set up moveto
    [/event]
    {RECALL_ALL}
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        {QUANTITY recruit "Skeleton,Skeleton Archer,Revenant,Deathblade,Bone Shooter,Ghost,Shadow,Wraith,Chocobone"
        "Skeleton,Skeleton Archer,Revenant,Deathblade,Bone Shooter,Ghost,Shadow,Wraith,Chocobone"
        "Skeleton,Skeleton Archer,Ghost" }
        gold=0
        income=0
        shroud=yes
        team_name=good
        user_team_name=_"Good"
        village_gold=1
    [/side]
    [side]
        no_leader=yes
        side=2
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
        team_name="Dreadful Evil"
        user_team_name=_"Dreadful Evil"
    [/side]
    [side]
        id=amplificator
        name= _ "Magic Power Amplificator"
        type=Amplificator
        canrecruit=yes
        {QUANTITY recruit "Ice Spirit,Great Icemonax" "Ice Spirit,Ice Wraith,Great Icemonax" "Ice Wraith,Rabid Icemonax"}
        {GOLD 500 1000 1500}
        {INCOME 25 50 75}
        side=3
        team_name="Dreadful Evil"
        user_team_name=_"Dreadful Evil"
#ifndef EASY
        [modifications]
            [object]
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_NORTHFROST_AURA}
                    [/abilities]
                [/effect]
            [/object]
        [/modifications]
#endif
    [/side]
    [event]
        name=start
        {VARIABLE efraim_spells_left 2}
        {VARIABLE lethalia_spells_left 2}
        {VARIABLE last_scenario 12}
        {CHAPTER5_ITEM item_1_sc_12 23 27}
        [if]
            [variable]
                name=ch5_quests.amplificators.1.destroyed
                equals=yes
            [/variable]
            [then]
                [kill]
                    id=amplificator
                [/kill]
            [/then]
            [else]
                [message]
                    speaker=Efraim
                    message=_"According to the map, one of the amplificators will be here. Destroying it should greatly weaken Akula. It should be easy to find, magic so strong should cause various aberrations."
                [/message]
            [/else]
        [/if]
    [/event]

    [event]
        name=die
        id=amplificator_die
        [filter]
            id=amplificator
        [/filter]
        [fire_event]
            name=amplificator_die_message
            [primary_unit]
                id=$unit.id
            [/primary_unit]
            [secondary_unit]
                id=$second_unit.id
            [/secondary_unit]
        [/fire_event]
        {VARIABLE ch5_quests.amplificators.1.destroyed yes}
        {VARIABLE ch5_quests.sc12.done yes}  # technically redundant with ch5_quests.amplificators.1.destroyed, but consistent with other scenarios
        {TRANSITION 0-2,7-12 1,9 _"Guards' Quarters" 10_Guards_Quarters}
        {TRANSITION 0-3,25-28 2,26 _"Library" 26_Library}
        {TRANSITION 53-54,3-6 53,5 _"War Zone" 28_War_Zone}
        {TRANSITION 48-54,25-28 51,27 _"Eastern Storeroom" 13_Eastern_Storeroom}
        {CLEAR_VARIABLE frozen_radius}
    [/event]
    [event]
        name=new turn
        id=expand frozen
        first_time_only=no
        [if]
            [variable]
                name=turn_number
                {QUANTITY greater_than 13 10 7}
            [/variable]
            [and]
                [variable]
                    name=ch5_quests.amplificators.1.destroyed
                    not_equals=yes
                [/variable]
            [/and]
            [then]
                {VARIABLE convert[0].from "Urb,Ub"}
                {VARIABLE convert[0].to "Aa"}
                {VARIABLE convert[1].from "Qxu^Bw\r"}
                {VARIABLE convert[1].to "Ai^Bw\r"}
                {VARIABLE convert[1].from "Qxu^Bw\r"}
                {VARIABLE convert[1].to "Ai^Bw\r"}
                {VARIABLE convert[2].from "Qxu^Bw|r"}
                {VARIABLE convert[2].to "Ai^Bw|r"}
                {VARIABLE convert[3].from "Qxu^Bw/r"}
                {VARIABLE convert[3].to "Ai^Bw/r"}
                {VARIABLE convert[4].from "Uh,Uue"}
                {VARIABLE convert[4].to "Ha"}
                {VARIABLE convert[5].from "Uu"}
                {VARIABLE convert[5].to "Ai"}
                {VARIABLE convert[6].from "Uu^Vu"}
                {VARIABLE convert[6].to "Ha^Vu"}
                {VARIABLE convert[7].from "Ur,Rb"}
                {VARIABLE convert[7].to "Rra"}
                {VARIABLE convert[8].from "Uu^Uf"}
                {VARIABLE convert[8].to "Aa^Fda"}
                {VARIABLE convert[9].from "Cud"}
                {VARIABLE convert[9].to "Cfa"}
                {VARIABLE convert[10].from "Kud"}
                {VARIABLE convert[10].to "Kfa"}
                {VARIABLE convert[11].from "Qxu"}
                {VARIABLE convert[11].to "Ai^_ml"}
                {VARIABLE convert[12].from "Qxe"}
                {VARIABLE convert[12].to "Ai^_mll"}
                [for]
                    array=convert
                    variable=i
                    [do]
                        [store_locations]
                            variable=let_it_snow
                            terrain=$convert[$i].from
                            [and]
                                x,y=25,16
                                radius=$frozen_radius
                            [/and]
                        [/store_locations]
                        [for]
                            array=let_it_snow
                            variable=j
                            [do]
                                [terrain]
                                    terrain=$convert[$i].to
                                    x,y=$let_it_snow[$j].x,$let_it_snow[$j].y
                                [/terrain]
                            [/do]
                        [/for]
                    [/do]
                [/for]
                {VARIABLE_OP frozen_radius add 1}
                {CLEAR_VARIABLE convert}
            [/then]
        [/if]
    [/event]
    [event]
        name=new turn
        id=the_thin_ice
        first_time_only=no
        [store_locations]
            variable=the_thin_ice
            terrain=Ai^_ml
            [filter]
                side=1
                [filter_wml]
                    [not]
                        flying=yes
                    [/not]
                    [not]
                        [movement_costs]
                            frozen=1
                        [/movement_costs]
                    [/not]
                [/filter_wml]
            [/filter]
        [/store_locations]
        [foreach]
            array=the_thin_ice
            [do]
                [harm_unit]
                    [filter]
                        x,y=$this_item.x,$this_item.y
                        [filter_wml]
                            [not]
                                flying=yes
                            [/not]
                            [not]
                                [movement_costs]
                                    frozen=1
                                [/movement_costs]
                            [/not]
                        [/filter_wml]
                    [/filter]
                    amount=8
                    damage_type=cold
                    animate=yes
                    kill=no
                [/harm_unit]
                [terrain]
                    terrain=Wwg
                    x,y=$this_item.x,$this_item.y
                [/terrain]
            [/do]
        [/foreach]
        [store_locations]
            variable=the_thin_ice
            terrain=Ai^_mll
            [filter]
                side=1
                [filter_wml]
                    [not]
                        flying=yes
                    [/not]
                    [not]
                        [movement_costs]
                            frozen=1
                        [/movement_costs]
                    [/not]
                [/filter_wml]
            [/filter]
        [/store_locations]
        [foreach]
            array=the_thin_ice
            [do]
                [harm_unit]
                    [filter]
                        x,y=$this_item.x,$this_item.y
                    [/filter]
                    amount=16
                    damage_type=cold
                    animate=yes
                    kill=no
                [/harm_unit]
                [terrain]
                    terrain=Wog
                    x,y=$this_item.x,$this_item.y
                [/terrain]
            [/do]
        [/foreach]
        {CLEAR_VARIABLE the_thin_ice}
    [/event]
    [event]
        name=new turn
        id=shallow_water_harm
        first_time_only=no
        [harm_unit]
            [filter]
                side=1
                [filter_location]
                    terrain=Wog
                [/filter_location]
                [filter_wml]
                    [not]
                        flying=yes
                    [/not]
                [/filter_wml]
            [/filter]
            amount=12
            damage_type=cold
        [/harm_unit]
    [/event]
    [event]
        name=new turn
        id=deep_water_harm
        first_time_only=no
        [harm_unit]
            [filter]
                side=1
                [filter_location]
                    terrain=Wog
                [/filter_location]
                [filter_wml]
                    [not]
                        flying=yes
                    [/not]
                [/filter_wml]
            [/filter]
            amount=24
            damage_type=cold
            poisoned=yes
        [/harm_unit]
    [/event]
    [event]
        name=moveto
        id=signpost
        first_time_only=no
        [filter]
            x,y=3,26
        [/filter]
        [message]
            speaker=unit
            message= _"It says, 'No one here gets out alive'"
        [/message]
    [/event]

    {CAMPAIGN5_EVENTS}
    {DISABLE_UPKEEP 1}
    {SHOW_MAP}
    experience_modifier=125
[/scenario]
