#textdomain wesnoth-loti
[scenario]
    id=17_Amplificator_3
    name= _ "Magic Power Amplificator 3"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/17_Magic_Power_Amplificator3.map}"
    {SCENARIO_MUSIC "casualties_of_war.ogg"}
    {EXTRA_SCENARIO_MUSIC "nunc_dimittis.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_king_is_dead.ogg"}
    {EXTRA_SCENARIO_MUSIC "into_the_shadows.ogg"}
    turns=-1
    {DEEP_UNDERGROUND}
    next_scenario=19_Soldiers_Training_Room
    victory_when_enemies_defeated=no
    [story]
        [part]
            background=maps/antediluvian_tunnels_map.jpg
            show_title=yes
            [image]
                x,y=472,359
                file=misc/red-x.png
                centered=yes
            [/image]
            story=""
        [/part]
    [/story]
    {SPAWN_POINT 2 3 51 25}
    {SPAWN_POINT 2 3 51 13}
    {SPAWN_POINT 2 5 43 4}
    {SPAWN_POINT 2 2 34 10}
    {SPAWN_POINT 2 2 25 10}
    {SPAWN_POINT 2 5 21 18}
    {SPAWN_POINT 2 2 11 20}
    {SPAWN_POINT 2 2 6 25}
    {SPAWN_POINT 2 5 11 8}
    {SPAWN_POINT 2 3 5 3}
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Destroy the power amplificator"
                condition=win
                [show_if]
                    [variable]
                        name=sc17
                        not_equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
        [/objectives]
        {ORIGIN 16 51,8}
        {ORIGIN 15 23,3}
        [recall]
            id=Lethalia
        [/recall]
    [/event]
    {RECALL_ALL}
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Revenant,Deathblade,Bone Shooter,Ghost,Shadow,Wraith,Chocobone
        gold=0
        income=0
        shroud=yes
        team_name=good
        user_team_name=_"Good"
        village_gold=1
    [/side]
    [side]
        no_leader=yes
        side=2
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
        team_name="Dreadful Evil"
        user_team_name=_"Dreadful Evil"
    [/side]
    [side]
        id=amplificator
        name= _ "Magic Power Amplificator"
        type=Amplificator
        canrecruit=yes
        recruit=
        side=3
        ai_algorithm=idle_ai
        team_name="Dreadful Evil"
        user_team_name=_"Dreadful Evil"
    [/side]
    [side]
        no_leader=yes
        side=4
        team_name="Good"
        user_team_name=_"Good"
        ai_algorithm=idle_ai
        [unit]
            type=Merchant
            x,y=14,12
            id=trader
            generate_name=yes
        [/unit]
    [/side]
    [event]
        name=start
        {VARIABLE efraim_spells_left 2}
        {VARIABLE lethalia_spells_left 2}
        {VARIABLE last_scenario 17}
        {CHAPTER5_ITEM item_1_sc_17 35 27}
        [if]
            [variable]
                name=sc17
                equals=1
            [/variable]
            [then]
                [kill]
                    id=amplificator
                [/kill]
            [/then]
            [else]
                [message]
                    speaker=Efraim
                    message=_"According to the map, one of the amplificators should be here. Destroying it will badly weaken Akula. Locating one should be easy, the magical power flowing around should visibly manifest itself."
                [/message]
            [/else]
        [/if]
    [/event]

    [event]
        name=die
        [filter]
            id=amplificator
        [/filter]
        {VARIABLE_OP enemies_slain add 1}
        [if]
            [variable]
                name=sc12
                equals=1
            [/variable]
            [or]
                [variable]
                    name=sc15
                    equals=1
                [/variable]
            [/or]
            [or]
                [variable]
                    name=sc17
                    equals=1
                [/variable]
            [/or]
            [or]
                [variable]
                    name=sc22
                    equals=1
                [/variable]
            [/or]
            [else]
                [message]
                    speaker=Lethalia
                    message=_"What a terrible creation! Akula must be a really twisted mind."
                [/message]
            [/else]
        [/if]
        {VARIABLE sc17 1}
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            [filter_adjacent]
                x,y=14,12
            [/filter_adjacent]
        [/filter]
        [store_gold]
            side=1
            variable=gold
        [/store_gold]
        [message]
            speaker=trader
            message= _ "Hello, I am a trader. I sell items. Look at my stock and tell me what would you like to look at more closely."
            {SELL_GEMS}
            {SHOP_ITEM _"Ring of Unearthly Existence" 150 9 items/ring-white.png sc17_i1}
            {SHOP_ITEM _"Holy Sword" 50 14 items/holy-sword.png sc17_i2}
            {SHOP_ITEM _"Amulet of Reason" 40 17 items/ankh-necklace.png sc17_i3}
            {SHOP_ITEM _"Foul Potion" 70 16 items/potion-green.png sc17_i4}
            [option]
                message=_"Nothing"
                [command]
                [/command]
            [/option]
        [/message]
        {CLEAR_VARIABLE gold}
    [/event]
    {NEUTRAL_SIDE 4}
    {TRANSITION 1-3,14-19 1,17 _"Soldiers' Training Room" 19_Soldiers_Training_Room}
    {TRANSITION 50-54,6-8 52,7 _"Southeastern Storeroom" 16_Southeastern_Storeroom}
    {TRANSITION 20-27,0-4 23,1 _"Amplificator 2" 15_Amplificator_2}
    {GLOBAL_EVENTS}
    {CAMPAIGN5_EVENTS}
    [event]
        name=start
        {VARIABLE enemy_sides 2,3}
    [/event]
    {DISABLE_UPKEEP 1}
    {SHOW_MAP}
    experience_modifier=125
[/scenario]
