#textdomain wesnoth-loti
[scenario]
    id=19_Soldiers_Training_Room
    name= _ "Soldiers Training Room"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/19_Soldiers_Training_Room.map}"
    {SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_king_is_dead.ogg"}
    {EXTRA_SCENARIO_MUSIC "into_the_shadows.ogg"}
    {EXTRA_SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC "underground.ogg"}
    turns=-1
    {DEEP_UNDERGROUND}
    next_scenario=17_Amplificator_3
    victory_when_enemies_defeated=no
    [story]
        [part]
            background=maps/antediluvian_tunnels_map.jpg
            show_title=yes
            [image]
                x,y=328,326
                file=misc/red-x.png
                centered=yes
            [/image]
            story=""
        [/part]
    [/story]
    {SPAWN_POINT 2 2 39 3}
    {SPAWN_POINT 2 2 24 28}
    {SPAWN_POINT 2 2 3 8}
    {SPAWN_POINT 2 3 14 12}
    {SPAWN_POINT 2 5 18 20}
    {SPAWN_POINT 2 5 24 20}
    {SPAWN_POINT 2 4 35 11}
    {SPAWN_POINT 2 3 28 6}
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Kill 50 enemies"
                condition=win
                [show_if]
                    [variable]
                        name=sc19
                        not_equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
        [/objectives]
        {ORIGIN 20 14,2}
        {ORIGIN 17 42,24}
        [recall]
            id=Lethalia
        [/recall]
    [/event]
    {RECALL_ALL}
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Revenant,Deathblade,Bone Shooter,Ghost,Shadow,Wraith,Chocobone
        gold=0
        income=0
        shroud=yes
        team_name=good
        user_team_name=_"Good"
        village_gold=1
    [/side]
    [side]
        generate_name=yes
        id=enemy
        type=Grand Marshal_steel
        side=2
        canrecruit=yes
        recruit=Spearman_steel,Dark Adept_steel,Fencer_steel,Bowman_steel
        {GOLD 250 300 350}
        {INCOME 30 40 50}
        random_traits=yes
        team_name="Dreadful Evil"
        user_team_name=_"Dreadful Evil"
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
        [object]
            [effect]
                apply_to=movement_costs
                replace="true"
                [movement_costs]
                    flat={UNREACHABLE}
                    village={UNREACHABLE}
                [/movement_costs]
            [/effect]
        [/object]
    [/side]
    [event]
        name=start
        {VARIABLE efraim_spells_left 1}
        {VARIABLE lethalia_spells_left 1}
        {VARIABLE last_scenario 19}
        {CHAPTER5_ITEM item_1_sc_19 24 15}
        {VARIABLE enemies_slain 0}
        [if]
            [variable]
                name=sc19
                equals=1
            [/variable]
            [then]
                [kill]
                    id=enemy
                    animate=no
                    fire_event=no
                [/kill]
            [/then]
            [else]
                [message]
                    speaker=Efraim
                    message=_"How about interrupting the training of soldiers here?"
                [/message]
                [print]
                    text= _ "Enemies to slay: $(50-$enemies_slain)"
                    duration=100
                    red,green,blue=255,255,255
                [/print]
            [/else]
        [/if]
    [/event]
    [event]
        name=die
        first_time_only=no
        [filter]
            side=2
        [/filter]
        {VARIABLE_OP enemies_slain add 1}
        [if]
            [variable]
                name=sc19
                equals=1
            [/variable]
            [else]
                [if]
                    [variable]
                        name=enemies_slain
                        equals=50
                    [/variable]
                    [then]
                        [message]
                            speaker=Lethalia
                            message=_"I think this should be enough."
                        [/message]
                        {VARIABLE sc19 1}
                    [/then]
                    [else]
                        [if]
                            [variable]
                                name=enemies_slain
                                greater_than=50
                            [/variable]
                            [else]
                                [print]
                                    text= _ "Enemies to slay: $(50-$enemies_slain)"
                                    duration=100
                                    red,green,blue=255,255,255
                                [/print]
                            [/else]
                        [/if]
                    [/else]
                [/if]
            [/else]
        [/if]
    [/event]

    [event]
        name=victory
        {CLEAR_VARIABLE enemies_slain}
    [/event]

    {BEELZEBUB_SPAWN_POINT 3 6 16 18 11-21,13-23}
    {TRANSITION 43-45,24-28 44,25 _"Amplificator 3" 17_Amplificator_3}
    {TRANSITION 0-2,18-24 2,21 _"Amplificator 4" 22_Amplificator_4}
    {TRANSITION 10-17,0-2 14,1 _"Southern Guardian Room" 20_Southern_Guardian_Room}
    {GLOBAL_EVENTS}
    {CAMPAIGN5_EVENTS}
    {DISABLE_UPKEEP 1}
    {SHOW_MAP}
    experience_modifier=125
[/scenario]
