#textdomain wesnoth-loti
[scenario]
    id=20_Southern_Guardian_Room
    name= _ "Southern Guardian Room"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/20_Southern_Guardian_Room.map}"
    {GLOBAL_EVENTS}
    {SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC "battle-epic.ogg"}
    {EXTRA_SCENARIO_MUSIC "vengeful.ogg"}
    turns=-1
    {DEEP_UNDERGROUND}
    next_scenario=23_Akulas_Place
    victory_when_enemies_defeated=no
    [story]
        [part]
            background=maps/antediluvian_tunnels_map.png
            show_title=yes
            [image]
                x,y=318,270
                file=misc/red-x.png
                centered=yes
            [/image]
            story=""
        [/part]
    [/story]
    {SPAWN_POINT 2 2 3 23}
    {SPAWN_POINT 2 2 6 16}
    {SPAWN_POINT 2 2 16 18}
    {SPAWN_POINT 2 2 19 21}
    {SPAWN_POINT 2 2 28 19}
    {SPAWN_POINT 2 2 25 14}
    {SPAWN_POINT 2 2 16 17}
    {SPAWN_POINT 2 2 6 15}
    {SPAWN_POINT 2 2 15 12}
    {SPAWN_POINT 2 2 12 7}
    {SPAWN_POINT 2 2 8 17}
    {SPAWN_POINT 2 3 24 17}
#ifdef HARD
    {SPAWN_POINT 2 4 19 28}
    {SPAWN_POINT 2 4 20 3}
#endif
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the enemy leaders"
                condition=win
                [show_if]
                    [variable]
                        name=ch5_quests.sc20.done
                        not_equals=yes
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
        [/objectives]
        {ORIGIN 23 16,2}
        {VARIABLE leaders_slain 0}
        [recall]
            id=Lethalia
        [/recall]
#ifdef HARD
        [if]
            [variable]
                name=ch5_quests.sc20.done
                equals=yes
            [/variable]
            [then]
                {TRANSITION 9-17,30-31 13,30 _"Soldiers' Training Room" 19_Soldiers_Training_Room}
                {TRANSITION 11-19,0-2 15,1 _"Akula's Place" 23_Akulas_Place}
                [if]
                    [variable]
                        name=last_scenario
                        equals=19
                    [/variable]
                    [then]
                        [unit]
                            side=5
                            type=Heimdall
                            id=enemy5
                            name= _"Heimdallr"  # is one of the names of guardian of the bridge to Asgard in Norse mythology.  Not sure if this should be translated?
                            canrecruit=yes
                            random_traits=yes
                            x,y=16,2
                        [/unit]
                    [/then]
                [/if]
            [/then]
            [else]
                [switch]
                    variable=last_scenario
                    [case]
                        value=19
                        {TRANSITION 11-19,0-2 15,1 _"Akula's Place" 23_Akulas_Place}
                        [unit]
                            side=5
                            type=Heimdall
                            id=enemy5
                            name= _"Heimdallr"  # is one of the names of guardian of the bridge to Asgard in Norse mythology.  Not sure if this should be translated?
                            canrecruit=yes
                            random_traits=yes
                            x,y=16,2
                        [/unit]
                    [/case]
                    [case]
                        value=23
                        {TRANSITION 9-17,30-31 13,30 _"Soldiers' Training Room" 19_Soldiers_Training_Room}
                        [unit]
                            side=5
                            type=General_steel
                            id=enemy4
                            canrecruit=yes
                            random_traits=yes
                            x,y=13,29
                            [modifications]
                                [object]
                                    [effect]
                                        apply_to=new_ability
                                        [abilities]
                                            {ABILITY_NORTHFROST_AURA}
                                        [/abilities]
                                    [/effect]
                                [/object]
                            [/modifications]
                        [/unit]
                    [/case]
                [/switch]
            [/else]
        [/if]
#else
        {TRANSITION 9-17,30-31 13,30 _"Soldiers' Training Room" 19_Soldiers_Training_Room}
        {TRANSITION 11-19,0-2 15,1 _"Akula's Place" 23_Akulas_Place}
#endif
#ifdef HARD
        [terrain]
            terrain=Urb
            x=   18,   19,   20,   21,   22,   23,24
            y=22-23,23-26,23-28,24-28,24-27,25-27,25
        [/terrain]
        [terrain]
            terrain=Urb
            x=  21,  22,  23,  24,  25,  26
            y=8-11,7-11,7-12,7-11,7-12,7-12
        [/terrain]
        {GENERIC_UNIT 2 "Longbowman_steel" 21 20}
        {GENERIC_UNIT 2 "Swordsman_steel" 22 18}
        {GENERIC_UNIT 2 "General_steel" 22 19}
        {GENERIC_UNIT 2 "Swordsman_steel" 22 20}
        {GENERIC_UNIT 2 "Dark Sorcerer_steel" 23 19}
        {GENERIC_UNIT 2 "General_steel" 23 21}
        {GENERIC_UNIT 2 "Dark Sorcerer_steel" 24 19}
        {GENERIC_UNIT 2 "Javelineer_steel" 24 20}
        {GENERIC_UNIT 2 "Dark Sorcerer_steel" 24 21}
        {GENERIC_UNIT 2 "Royal Guard_steel" 25 19}
        {GENERIC_UNIT 2 "Javelineer_steel" 25 20}
        {GENERIC_UNIT 3 "Longbowman_steel" 21 15}
        {GENERIC_UNIT 3 "Dark Sorcerer_steel" 21 16}
        {GENERIC_UNIT 3 "Javelineer_steel" 22 14}
        {GENERIC_UNIT 3 "Dark Sorcerer_steel" 22 16}
        {GENERIC_UNIT 3 "Longbowman_steel" 23 15}
        {GENERIC_UNIT 3 "Dark Sorcerer_steel" 23 16}
        {GENERIC_UNIT 3 "Javelineer_steel" 24 15}
        {GENERIC_UNIT 4 "Javelineer_steel" 10 14}
        {GENERIC_UNIT 4 "Longbowman_steel" 10 15}
        {GENERIC_UNIT 4 "Dark Sorcerer_steel" 10 16}
        {GENERIC_UNIT 4 "Javelineer_steel" 11 15}
        {GENERIC_UNIT 4 "General_steel" 11 16}
        {GENERIC_UNIT 4 "Javelineer_steel" 12 14}
        {GENERIC_UNIT 4 "Dark Sorcerer_steel" 12 16}
        {GENERIC_UNIT 4 "Longbowman_steel" 13 15}
        {GENERIC_UNIT 4 "Dark Sorcerer_steel" 13 16}
#endif
    [/event]
    {RECALL_ALL}
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        {QUANTITY recruit "Skeleton,Skeleton Archer,Revenant,Deathblade,Bone Shooter,Ghost,Shadow,Wraith,Chocobone"
        "Skeleton,Skeleton Archer,Revenant,Deathblade,Bone Shooter,Ghost,Shadow,Wraith,Chocobone"
        "Skeleton,Skeleton Archer,Ghost" }
        gold=0
        income=0
        shroud=yes
        team_name=good
        user_team_name=_"Good"
        village_gold=1
    [/side]
    [side]
        generate_name=yes
        id=enemy
        type=Grand Marshal_steel
        side=2
        canrecruit=yes
        recruit=Spearman_steel,Dark Adept_steel,Fencer_steel,Bowman_steel
        {GOLD 400 450 500}
        {INCOME 40 50 60}
        random_traits=yes
        team_name="Dreadful Evil"
        user_team_name=_"Dreadful Evil"
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
        [object]
            [effect]
                apply_to=movement_costs
                replace="true"
                [movement_costs]
                    flat={UNREACHABLE}
                [/movement_costs]
            [/effect]
#ifdef HARD
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_INCREASE_RESISTANCE_AURA _"Song of Metal" 25}
                [/abilities]
            [/effect]
#endif
        [/object]
    [/side]
    [side]
        generate_name=yes
        id=enemy2
        type=Royal Guard_steel
        side=3
        canrecruit=yes
        recruit=Spearman_steel,Dark Adept_steel,Fencer_steel,Bowman_steel
        {GOLD 400 450 500}
        {INCOME 40 50 60}
        random_traits=yes
        team_name="Dreadful Evil"
        user_team_name=_"Dreadful Evil"
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
        [object]
            [effect]
                apply_to=movement_costs
                replace="true"
                [movement_costs]
                    flat={UNREACHABLE}
                [/movement_costs]
            [/effect]
#ifdef HARD
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_BACKSTAB_LEADERSHIP}
                    {ABILITY_CAREFUL 25}
                [/abilities]
            [/effect]
#endif
        [/object]
    [/side]
    [side]
        generate_name=yes
        id=enemy3
        type=Necromancer_steel
        side=4
        canrecruit=yes
        recruit=Spearman_steel,Dark Adept_steel,Fencer_steel,Bowman_steel
        {GOLD 400 450 500}
        {INCOME 40 50 60}
        random_traits=yes
        team_name="Dreadful Evil"
        user_team_name=_"Dreadful Evil"
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
        [object]
            [effect]
                apply_to=movement_costs
                replace="true"
                [movement_costs]
                    flat={UNREACHABLE}
                [/movement_costs]
#ifdef HARD
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_GRIM_PRESENCE}
                        {ABILITY_ADAMANT}
                    [/abilities]
                [/effect]
#endif
            [/effect]
        [/object]
    [/side]
#ifdef HARD
    [side]
        side=5
        recruit=Javelineer_steel,Dark Sorcerer_steel,Duelist_steel,Longbowman_steel
        team_name="Dreadful Evil"
        user_team_name=_"Dreadful Evil"
        {AI_OVERHAUL_PLACE 5}
        {AI_OVERHAUL_PLACE_2 5}
    [/side]
#endif
    [event]
        name=sighted
        id="enemy4|5_sighted"
        [filter]
            id=enemy4,enemy5
        [/filter]
        [filter_second]
            side=1
        [/filter_second]
        [modify_side]
            side=5
            {GOLD 600 800 1000}
            {INCOME 40 60 80}
        [/modify_side]
    [/event]
    [event]
        name=die
        id=enemy5_dies
        [filter]
            id=enemy5
        [/filter]
        {VARIABLE_OP ch5_quests.sc20.bridge_guardian.killed add 1}
        [switch]
            variable=ch5_quests.sc20.bridge_guardian.killed
            [case]
                value=1
                {PLACE_ITEM 24 $unit.x $unit.y}   # 200 gold
            [/case]
            [case]
                value=2
                {PLACE_ITEM 37 $unit.x $unit.y}   # 100 gold
            [/case]
            [case]
                value=3
                {PLACE_ITEM 44 $unit.x $unit.y}   # 50 gold
            [/case]
        [/switch]
    [/event]

    [event]
        name=die
        id=enemy_leader
        first_time_only=no
        [filter]
            id=enemy,enemy2,enemy3,enemy4,enemy5
        [/filter]
        {VARIABLE_OP leaders_slain add 1}
        [if]
            [variable]
                name=leaders_slain
                {QUANTITY equals 3 3 4}
            [/variable]
            [then]
                {VARIABLE ch5_quests.sc20.done yes}
                {VARIABLE bosses $old_bosses}
                {CLEAR_VARIABLE leaders_slain,old_bosses}
                {TRANSITION 9-17,30-31 13,30 _"Soldiers' Training Room" 19_Soldiers_Training_Room}
                {TRANSITION 11-19,0-2 15,1 _"Akula's Place" 23_Akulas_Place}
            [/then]
        [/if]
    [/event]

    [event]
        name=start
        {VARIABLE efraim_spells_left 2}
        {VARIABLE lethalia_spells_left 2}
        {VARIABLE last_scenario 20}
    [/event]
    [event]
        name=turn 1   # bosses is set in start event by global_events.cfg
        id=update_bosses
        {VARIABLE old_bosses $bosses}
        {VARIABLE bosses $old_bosses+,enemy4,enemy5}
    [/event]

    {CAMPAIGN5_EVENTS}
    {DISABLE_UPKEEP 1}
    {SHOW_MAP}
    experience_modifier=125
[/scenario]
