#textdomain wesnoth-loti
[scenario]
    id=26_Library
    name= _ "Library"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/26_Library.map}"
    {SCENARIO_MUSIC "revelation.ogg"}
    {EXTRA_SCENARIO_MUSIC "nunc_dimittis.ogg"}
    turns=-1
    {DEEP_UNDERGROUND}
    next_scenario=18_Eastern_Guardian_Room
    victory_when_enemies_defeated=no
    [story]
        [part]
            background=maps/antediluvian_tunnels_map.jpg
            show_title=yes
            [image]
                x,y=381,137
                file=misc/red-x.png
                centered=yes
            [/image]
            story=""
        [/part]
    [/story]
    {SPAWN_POINT 2 2 18 8}
    {SPAWN_POINT 2 2 21 17}
    {SPAWN_POINT 2 2 6 18}
    {SPAWN_POINT 2 2 20 22}
    {SPAWN_POINT 2 2 10 22}
    {SPAWN_POINT 2 2 4 18}
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
        [/objectives]
        {ORIGIN 18 5,25}
        [recall]
            id=Lethalia
        [/recall]
    [/event]
    {RECALL_ALL}
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Revenant,Deathblade,Bone Shooter,Ghost,Shadow,Wraith,Chocobone
        gold=0
        income=0
        shroud=yes
        team_name=good
        user_team_name=_"Good"
        village_gold=1
    [/side]
    [side]
        no_leader=yes
        side=2
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
        team_name="Dreadful Evil"
        user_team_name=_"Dreadful Evil"
    [/side]
    [event]
        name=start
        {VARIABLE efraim_spells_left 1}
        {VARIABLE lethalia_spells_left 1}
        {VARIABLE last_scenario 26}
        {PLACE_IMAGE scenery/bookshelf-1.png 28 21}
        {PLACE_IMAGE scenery/bookshelf-2.png 18 24}
        {PLACE_IMAGE scenery/bookshelf-3.png 24 15}
        {PLACE_IMAGE scenery/bookshelf-4.png 5 18}
        {PLACE_IMAGE scenery/bookshelf-5.png 9 11}
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x,y=28,21
        [/filter]
        [message]	#I am not so crazy to imagine all this lore - it was taken from Invasion of the Unknown, only a very few things were made up by myself
            speaker=unit
            message= _ "These tunnels were built by the Argazars, an ancient race, whose mastery of both the mundane and the arcane was incredible. They could, by mundane means, create golems, weapons of unimaginable power, and also living beings of their own design. Their greatest and at the same time worst creation were shaxthals, mindless, half-robotic creatures, obeying a machine that was controlled by Argazars. They were probably used as machines of war against another society, which could be from another planet or dimension. It is known that after the war, the shaxthals turned against them, and put an end to their race. The shaxthals, however, have not survived it either."
        [/message]
        {VARIABLE secret_4 1}
        [set_global_variable]
            namespace=dugi_loti
            from_local=secret_4
            to_global=secret_4
            immediate=yes
        [/set_global_variable]
        {CLEAR_VARIABLE secret_4}
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x,y=18,24
        [/filter]
        [message]
            speaker=unit
            message= _ "These tunnels have existed for millennia. They are remains of an ancient underground fortress of the Argazars, build to protect themselves from an unknown military force, called Rythé, apparently with the same technological level. Because a few places look like they were once some kind of underground forests, the surface was probably destroyed, maybe by a natural cataclysm, maybe by the forces of Rythé, and maybe also by themselves to hide from their enemies. The forces of Rythé obviously did not scout the area for hidden Argazar colonies, probably because of the number of shaxthals roaming the surface and doubt that something except highly adaptive shaxthals could survive the doom."
        [/message]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x,y=24,15
        [/filter]
        [message]
            speaker=unit
            message= _ "These tunnels were discovered during an excavation led by Lady Akula, and named Antediluvian Tunnels. Large numbers of interesting objects were found inside, and most of them seemed to be still able to serve their purposes. They ranged from mysterious shooting weapons, slightly similar to dwarves' thunderstaves, but much stronger, strange pipes that could breathe flames, destroying anything, thawing stones to molten lava, shining swords that could cut through anything, a lot of objects that shone and showed some weird symbols depending on the way how buttons were pushed, the purpose of those is still unknown, and also regular objects like chairs, tables or chests, but with mysterious designs. There were no traps, so the excavation has mapped the entire area easily. After that, Lady Akula decided to try to put on one of the mysterious devices, one that looked like an armour designed for creatures with really weirdly shaped bodies. She died painfully and the rest of the excavation group fled, trying to avoid touching any devices. Now, it is known how to use these devices, and there is still enough of them for new soldiers. The absence of shaxthal bodies annoys Akula, because using them for warfare instead of human or half-human soldiers would be a great way to minimise losses."
        [/message]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x,y=5,18
        [/filter]
        [message]
            speaker=unit
            message= _ "After the end of the war the Argazars fought against the Rythenians, the shaxthals, their greatest invention, started attacking them, considering them to be their enemies as well. They were facing countless enemies, so they had to make sure that no shaxthal could kill them in combat. They created robotic replacements for several body parts, using their organic parts to digest, think, and as parts that can easily regenerate, while all their movement system was replaced by robotic devices. This allowed them to handle the shaxthals, but prevented them from reproducing, which they noticed after defeating them, and only three women and no men remained unchanged by then. With no way to reproduce, they died from age. It is speculated, however, that some of them became liches and still may possibly hide in the depths of the cavern system, waiting for something that would allow them to breed offspring. This is a danger to everyone, because it is not known if they would not consider all beings inferior and try to exterminate them."
        [/message]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x,y=9,11
        [/filter]
        [message]
            speaker=unit
            message= _ "This place was destroyed by the shaxthals by the end of the war, short before the Argazars found a way to destroy them globally. The Argazars fought them bravely, and a thousand shaxthals died to kill a single Argazar. But because of the sheer quantity of the shaxthals, any loss was affordable if it led to an Argazar killed. Their Hive was producing new shaxthals at incredible speed, and a constant flow of drones was marching into the tunnels, where they were slaughtered by hundreds, only to have a little chance that, because of some mistake, malfunction or pure luck, they would hit a vulnerable spot in an Argazar's armour that could lead to death a single foe. One by one, the Argazars died. The shaxthals carried their dead back into the Hive, to unblock the tunnels and to gain material to produce new Shaxthal drones. Their numbers were countless, and so the Argazar numbers dwindled slowly. Anything that could cause harm to the drones, including all traps, was destroyed at the cost of huge losses on the drones' side. After the battle, the shaxthals took their bodies back into the Hive to continue the operations against other Argazar keeps. That is why no shaxthals were found inside."
        [/message]
    [/event]

    {TRANSITION 20-28,0-2 23,1 _"Amplificator 1" 12_Amplificator_1}
    {TRANSITION 2-4,26-28 3,27 _"Eastern Guardian Room" 18_Eastern_Guardian_Room}
    {GLOBAL_EVENTS}
    {CAMPAIGN5_EVENTS}
    {DISABLE_UPKEEP 1}
    {SHOW_MAP}
    experience_modifier=125
[/scenario]
