#textdomain wesnoth-loti
[scenario]
    id="01_The_Awakening"
    name= _ "The Awakening"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/01_Forgotten_Tomb.map}"
    next_scenario="02_Who_Am_I"
    victory_when_enemies_defeated=no
    {TURNS 70 65 60}
    experience_modifier=80
    {SCENARIO_MUSIC "the_deep_path.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_dangerous_symphony.ogg"}
    {EXTRA_SCENARIO_MUSIC "into_the_shadows.ogg"}

    {DEEP_UNDERGROUND}

    {CHAPTER_TITLE into_the_light.png 6 "~CS(-60,-200,-200)" _"<i>My goal is so noble that it will justify any means of achieving it.</i> -Lethalia, Queen of Wesnoth"}

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Find the friend"
                condition=win
                [show_if]
                    [variable]
                        name=found_him
                        not_equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Escape the tomb"
                condition=win
                [show_if]
                    [variable]
                        name=found_him
                        equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destruction of Lethalia"
                condition=lose
                [show_if]
                    [variable]
                        name=found_him
                        not_equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
                [show_if]
                    [variable]
                        name=found_him
                        equals=1
                    [/variable]
                [/show_if]
            [/objective]
        [/objectives]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "In the dark, in a forgotten tomb deep under all places known to mankind..."
        [/message]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "She awoke. Everything was black, there was nothing but wide and deep darkness. She was almost unable to move. Something was preventing her from moving. With all her strength, she managed to tear these things away from her. She fell on the ground."
        [/message]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "She tried to stand up. She fell back on the ground, but her second try was successful. She could not see a thing, nonetheless she tried to walk. A few paces further she realised that the shuffle of her steps sounded quite weird. She was not used to that sound. After a moment of reflection, she became aware that she was naked."
        [/message]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "After deciding to find some clothes, she made another step. And another. She started walking. She no longer crashed into walls, that made her realise that she could see in the dark, but she did not know about it at the start. She looked at the thing that was holding her when she awoke. Terrified, she realised that she had been hanging on chains attached to her body by large hooks. A quick look at her shoulder made her notice that her wounds were healing quickly, and did not hurt."
        [/message]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "She continued to walk. There were numerous tables around her. No, these things were not tables, they were coffins. She opened them, one by one, and found just bare skeletons. In another room, the coffins contained also bodies with armours. After a few tries, she found one that fitted her size. She also took a sword, but after a few swings with it, she gave it up, she was unable to fight with a sword. In another room, she found an axe, and she felt somehow she knew to fight with this weapon much better."
        [/message]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "When she was finally geared up, she noticed she was not alone. Dark shapes were crawling towards her, awakened by her movements."
        [/message]
        {UPDATE_ATTACKS 7 9}
        [store_unit]
            variable=Efraim_store
            [filter]
                id=Efraim
            [/filter]
            kill=yes
        [/store_unit]

        {GUARDIAN_UNIT 2 "Walking Corpse" 12 5}
        {GUARDIAN_UNIT 2 "Walking Corpse" 18 3}
        {GUARDIAN_UNIT 2 "Soulless" 20 7}
        {GUARDIAN_UNIT 2 "Walking Corpse" 16 11}
        {GUARDIAN_UNIT 2 "Soulless" 10 17}
        {GUARDIAN_UNIT 2 "Necrophage" 18 17}
        {GUARDIAN_UNIT 2 "Soulless" 18 23}
        {GUARDIAN_UNIT 2 "Ghost" 9 26}
        {GUARDIAN_UNIT 2 "Skeleton Archer" 6 32}
        {GUARDIAN_UNIT 2 "Soulless" 8 37}
        {GUARDIAN_UNIT 2 "Ghoul" 20 30}
        {GUARDIAN_UNIT 2 "Soulless" 24 30}
        {GUARDIAN_UNIT 2 "Revenant" 30 21}
        {GUARDIAN_UNIT 2 "Deathblade" 39 14}
        {GUARDIAN_UNIT 2 "Bone Shooter" 39 14}
        {GUARDIAN_UNIT 2 "Deathblade" 41 21}
        {GUARDIAN_UNIT 2 "Draug" 43 27}
        {GUARDIAN_UNIT 2 "Wraith" 39 33}
        {GUARDIAN_UNIT 2 "Lich" 30 37}
        {GUARDIAN_UNIT 2 "Deathblade" 41 10}
        {GUARDIAN_UNIT 2 "Draug" 39 5}
        {GUARDIAN_UNIT 2 "Wraith" 46 3}
        {GUARDIAN_UNIT 2 "Lich" 32 1}

        {GENERIC_UNIT 2 "Walking Corpse" 17 4}
        {GENERIC_UNIT 2 "Walking Corpse" 17 11}
#ifndef EASY
        {GENERIC_UNIT 2 "Soulless" 14 12}
#endif
        {GENERIC_UNIT 2 "Walking Corpse" 8 18}
        {GENERIC_UNIT 2 "Soulless" 12 29}
#ifdef EASY
        {GENERIC_UNIT 2 "Necrophage" 23 30}
#endif
#ifdef HARD
        {GENERIC_UNIT 2 "Soulless" 28 22}
#endif
        {GENERIC_UNIT 2 "Ghost" 37 15}
        {GENERIC_UNIT 2 "Skeleton Archer" 40 8}
        {GENERIC_UNIT 2 "Soulless" 36 4}
    [/event]

    [side]
        type=Efraim_lich_weakened
        id=Efraim
        name= _ "Efraim"
        side=1
        canrecruit=yes
        controller=human
        recruit=Walking Corpse
        unrenamable=yes
        team_name=Good
        user_team_name=_"Good"
        gold=0
        shroud=yes
        {NO_INCOME}
        [modifications]
            {TRAIT_RESILIENT}
            {TRAIT_STRONG}
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                id=chill
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                id=chill1
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                id=chill2
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                id=chill_slow_extra
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                id=chill3
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                id=chill4
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                id=chill5
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                id=chill5_attacks
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
        [unit]
            id=Lethalia
            type=Lethalia_lich_weakened
            name= _ "Lethalia"
            unrenamable=yes
            canrecruit=yes
            x,y=7,9
            [modifications]
                {TRAIT_RESILIENT}
                {TRAIT_DEXTROUS}
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    id=heal
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    id=heal1
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
            [/modifications]
        [/unit]
    [/side]

    [side]
        no_leader=yes
        side=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    {PLACE_IMAGE items/coffin-closed.png 8 10}
    {PLACE_IMAGE items/coffin-closed.png 5 8}
    {PLACE_IMAGE items/coffin-closed.png 4 9}
    {PLACE_IMAGE items/coffin-closed.png 17 3}
    {PLACE_IMAGE items/coffin-closed.png 21 2}
    {PLACE_IMAGE items/coffin-closed.png 21 5}
    {PLACE_IMAGE items/coffin-closed.png 16 9}
    {PLACE_IMAGE items/coffin-closed.png 14 11}
    {PLACE_IMAGE items/coffin-closed.png 7 17}
    {PLACE_IMAGE items/coffin-closed.png 10 15}
    {PLACE_IMAGE items/coffin-closed.png 11 18}
    {PLACE_IMAGE items/coffin-closed.png 22 16}
    {PLACE_IMAGE items/coffin-closed.png 18 18}
    {PLACE_IMAGE items/coffin-closed.png 16 19}
    {PLACE_IMAGE items/coffin-closed.png 20 23}
    {PLACE_IMAGE items/coffin-closed.png 16 23}
    {PLACE_IMAGE items/coffin-closed.png 5 32}
    {PLACE_IMAGE items/coffin-closed.png 8 32}
    {PLACE_IMAGE items/coffin-closed.png 6 36}
    {PLACE_IMAGE items/coffin-closed.png 10 37}
    {PLACE_IMAGE items/coffin-closed.png 3 39}
    {PLACE_IMAGE items/coffin-closed.png 24 31}
    {PLACE_IMAGE items/coffin-closed.png 26 35}
    {PLACE_IMAGE items/coffin-closed.png 27 38}
    {PLACE_IMAGE items/coffin-closed.png 40 33}
    {PLACE_IMAGE items/coffin-closed.png 39 31}
    {PLACE_IMAGE items/coffin-closed.png 43 30}
    {PLACE_IMAGE items/coffin-closed.png 39 27}
    {PLACE_IMAGE items/coffin-closed.png 44 26}
    {PLACE_IMAGE items/coffin-closed.png 41 21}
    {PLACE_IMAGE items/coffin-closed.png 35 15}
    {PLACE_IMAGE items/coffin-closed.png 41 15}
    {PLACE_IMAGE items/coffin-closed.png 27 21}
    {PLACE_IMAGE items/coffin-closed.png 26 22}
    [event]
        name=moveto
        [filter]
            side=1
            x,y=23-35,18-24
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "Here he is!"
        [/message]
        {MOVE_UNIT id=Lethalia 27 22}
        [message]
            speaker=Lethalia
            message= _ "(she casts some sort of spell)"
        [/message]
        [unstore_unit]
            variable=Efraim_store
        [/unstore_unit]
        {UPDATE_ATTACKS 27 71}
        [remove_shroud]
            side=1
            x,y=23-30,19-26
        [/remove_shroud]
        {VARIABLE found_him 1}
        [message]
            speaker=Efraim
            message= _ "Who... are you?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "My name is... hm... I have no idea..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Lethalia. Your name is Lethalia. I think I used to know you, but I cannot remember right now. Where are we, by the way?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Your name is Efraim. But that is all I know. I awoke some time ago, hanging on some chains. Naked. I found some gear then."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I was more lucky, then. I was buried with some clothes... And also with two swords."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "This place is swarming with undead. We should better escape, and talk later."
        [/message]
        [objectives]
            summary= _ "New Objectives:"
            show=yes
            [objective]
                description= _ "Escape the tomb"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
        [/objectives]
    [/event]
    [event]
        name=start
        [message]
            speaker=Lethalia
            message= _ "Those... things are faltering toward me... Danger..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I think I know them... And there is an image coming to my mind... I used to travel with some... friend... And somehow I even feel he is nearby... But where? ..."
        [/message]
    [/event]
    [event]
        name=turn 2
        {RANDOM_ITEM 21 4}
        {RANDOM_ITEM 15 9}
        {RANDOM_ITEM 5 36}
        {RANDOM_ITEM 24 36}
        {RANDOM_ITEM 32 37}
    [/event]
    [event]
        name=side turn
        first_time_only=no
        [if]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [then]
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghoul,Walking Corpse)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Walking Corpse,Skeleton,Skeleton Archer,Ghoul,Soulless)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Walking Corpse,Skeleton,Skeleton Archer,Ghoul,Ghost,Soulless)}
#endif
                {GENERIC_UNIT 2 $spawn_type 35 1}
            [/then]
        [/if]
        {CLEAR_VARIABLE spawn_type}
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=30-39,1-2
        [/filter]
        [message]
            speaker=Efraim
            message= _ "Nobody knows, what is still in front of us..."
        [/message]
        {CLEAR_VARIABLE found_him}
        [endlevel]
            result=victory
            bonus=no
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Damn, a whole army of undead army is coming. We are doomed!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife) yes 2}
    {GLOBAL_EVENTS}
    {GENERIC_DEATHS}
[/scenario]
