#textdomain wesnoth-loti
[scenario]
    id="02_Who_Am_I"
    name= _ "Who Am I"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/02_Vault.map}"
    next_scenario="03_Into_the_Light"
    victory_when_enemies_defeated=no
    {TURNS 35 32 30}
    experience_modifier=80
    {SCENARIO_MUSIC "the_deep_path.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_dangerous_symphony.ogg"}
    {EXTRA_SCENARIO_MUSIC "undergriund.ogg"}

    {DEEP_UNDERGROUND}
    [event]
        name=prestart
        {VARIABLE progress 1}
        {VARIABLE efraim_progress 1}
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the enemy"
                condition=win
                [show_if]
                    [variable]
                        name=progress
                        equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Find more clues about your past"
                condition=win
                [show_if]
                    [variable]
                        name=progress
                        equals=2
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Exit the cave to the northeast"
                condition=win
                [show_if]
                    [variable]
                        name=progress
                        equals=3
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        {GUARDIAN_UNIT 2 "Revenant" 16 7}
        {GUARDIAN_UNIT 2 "Draug" 14 21}
        {GUARDIAN_UNIT 2 "Soulless" 10 31}
        {GUARDIAN_UNIT 2 "Lich" 5 28}
        {GUARDIAN_UNIT 2 "Soulless" 6 22}
        {GUARDIAN_UNIT 2 "Ghast" 5 16}
        {GUARDIAN_UNIT 2 "Soulless" 2 7}
        {GUARDIAN_UNIT 2 "Spectre" 9 5}
        {GUARDIAN_UNIT 2 "Deathlord" 12 3}
        {GUARDIAN_UNIT 2 "Soulless" 26 3}
        {GUARDIAN_UNIT 2 "Wraith" 40 2}
        {GUARDIAN_UNIT 2 "Dark Adept" 15 20}
        {GUARDIAN_UNIT 2 "Dark Adept" 15 20}
        {GUARDIAN_UNIT 2 "Dark Adept" 15 20}
        {GUARDIAN_UNIT 2 "Dark Adept" 15 20}
        {GUARDIAN_UNIT 2 "Dark Adept" 15 20}
        {GUARDIAN_UNIT 2 "Dark Adept" 15 20}

        {GENERIC_UNIT 2 "Revenant" 35 29}
#ifdef HARD
        {GENERIC_UNIT 2 "Spectre" 32 25}
#endif
#ifndef EASY
        {GENERIC_UNIT 2 "Soulless" 35 23}
#endif
        {GENERIC_UNIT 2 "Walking Corpse" 38 19}
        {GENERIC_UNIT 2 "Soulless" 33 16}
        {GUARDIAN_UNIT 3 "Necromancer" 13 9}
        {GUARDIAN_UNIT 3 "Deathlord" 13 12}
        {GUARDIAN_UNIT 3 "Reaper" 21 10}
    [/event]

    [side]
        type=Efraim_lich_weakened
        id=Efraim
        name= _ "Efraim"
        side=1
        canrecruit=yes
        controller=human
        {GOLD 200 180 150}
        recruit=Walking Corpse,Soulless,
        unrenamable=yes
        team_name=Good
        user_team_name=_"Good"
        village_gold=2
        shroud=yes
    [/side]

    [side]
        type=Deathlord
        canrecruit=yes
        recruit=Dark Adept,Soulless,Ghost
        {GOLD 200 230 250}
        {INCOME 15 20 25}
        side=2
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
    [/side]

    [side]
        type=Ancient Lich
        max_moves=0
        name= _ "Quer'krath"
        id=Antediluvian
        recruit=Dark Adept,Soulless,Ghost
        side=3
        team_name=Good,evil
        user_team_name=_"Evil"
    [/side]
    {PLACE_IMAGE items/coffin-closed.png 17 18}
    {PLACE_IMAGE items/coffin-closed.png 13 21}
    {PLACE_IMAGE items/coffin-closed.png 17 23}
    {PLACE_IMAGE items/coffin-closed.png 12 26}
    {PLACE_IMAGE items/coffin-closed.png 2 22}
    {PLACE_IMAGE items/coffin-closed.png 9 22}
    {PLACE_IMAGE items/coffin-closed.png 4 18}
    {PLACE_IMAGE items/coffin-closed.png 9 17}
    {PLACE_IMAGE items/coffin-closed.png 5 11}
    {PLACE_IMAGE items/coffin-closed.png 3 6}
    {PLACE_IMAGE items/coffin-closed.png 13 4}
    {PLACE_IMAGE items/coffin-closed.png 22 14}
    [event]
        name=moveto
        [filter]
            side=1
            x,y=10-22,6-14
        [/filter]
        [remove_shroud]
            side=1
            x=10-22
            y=6-14
        [/remove_shroud]
        [message]
            speaker=Antediluvian
            message= _ "This is outrageous!"
        [/message]
        {MOVE_UNIT id=Lethalia 14 9}
        {MOVE_UNIT id=Efraim 14 10}
        [message]
            speaker=Lethalia
            message= _ "What? Why have I done wrong? Am I forbidden to trespass here?"
        [/message]
        [message]
            speaker=Antediluvian
            message= _ "No... I mean that my undead went out of control. I am sorry that they attacked you."
        [/message]
        [message]
            speaker=Efraim
            message= _ "They almost killed us!"
        [/message]
        [message]
            speaker=Antediluvian
            message= _ "I will not refund you. I am too busy."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I am sorry that we disturbed you. We just awakened in a tomb and this seemed to be the only way out."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "And why are you busy? If a necromancer becomes a lich, his work is over, right?"
        [/message]
        [message]
            speaker=Antediluvian
            message= _ "I am a researcher. I am trying to understand the true nature of the existence. For eons, but I am still failing to understand it. As far as I know, you are a weird kind of liches, maybe you know something I do not. Do you?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Probably not. How old are you?"
        [/message]
        [message]
            speaker=Antediluvian
            message= _ "Probably older than you. I come from a civilisation that lived before the Fall. I mean a Fall that was eons before the Fall today's people know. We had great knowledge, we knew how most processes in the nature worked, but we also discovered two problematic things. The first one was that if we are making a measurement, most processes happen differently than if you are not making a measurement. Things seemed to be made from atoms, small particles, there were about a thousand kinds of them, although only something over a hundred could exist for a longer time."
        [/message]
        [message]
            speaker=Antediluvian
            message= _ "They had also some structure themselves, and that explained although all known processes, and allowed us to invent a lot of technical devices you never dreamed of. But it seems that all of this exists only if we are making a measurement. All things work in a simpler way if we are not checking it. We could not unravel this mystery, and although many of our researchers became liches, neither of us ever figured out this mystery."
        [/message]
        [message]
            speaker=Antediluvian
            message= _ "The second problem was the magic. It seemed to be simply something that completely ignored the laws of nature, obeying several completely simple laws. We studied it deeply, we had great knowledge of magic, but it still looks like a few simple laws somebody just made up and added it to the laws of nature. But there was no Creator, so this is impossible."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I have absolutely no idea. I have some knowledge of combat, quite a wide knowledge of magic, but I doubt I can help you."
        [/message]
        [message]
            speaker=Antediluvian
            message= _ "Not a problem, I never expected something from anybody born after us... What do <i>you</i> seek?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I need some knowledge about my past. I have no idea what I am. He neither. We have found out that we are some kind of necromancers, but that is all."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Maybe if you are the boss here, you were the boss here also in the days when we were buried here."
        [/message]
        [message]
            speaker=Antediluvian
            message= _ "No. I came here because a huge, strongly enchanted object crashed here. It was inhabited by various things before me, until I decided that something worth studying might be here. Nothing important could be found here, except for a few magical artifacts, you, and this hole into another dimension. But this was just another creation of magic, so it is nothing worth really studying. The magical artifacts may be yours, so have a look at them. But I am too busy to control my pets, I hope you can take care of yourself."
        [/message]
        {VARIABLE secret_5 1}
        [set_global_variable]
            namespace=dugi_loti
            from_local=secret_5
            to_global=secret_5
            immediate=yes
        [/set_global_variable]
        {CLEAR_VARIABLE secret_5}
        [objectives]
            summary= _ "New Objectives:"
            show=yes
            [objective]
                description= _ "Find more clues about your past"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
        [/objectives]
    [/event]
    {RECRUIT_UNIT_VARIATIONS 1 "Walking Corpse" saurian,bat,bat,troll,saurian,saurian,troll,bat}
    {RECRUIT_UNIT_VARIATIONS 1 "Soulless" saurian,bat,bat,troll,saurian,saurian,troll,bat}
    [event]
        name=start
        [message]
            speaker=Lethalia
            message= _ "More undead. No time to talk. Fortunately, there is a keep ahead for us to raise undead. We can... rise undead ourselves... Do not ask me, I just know to do it."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Once learnt, never forgotten. Loss of identity does not imply the loss of skills... Though, knowing about the powers of necromancy sheds a slightly worrying light on our past. Please, raise a troop and let me train my fighting skills. You seem to have remembered quite a lot about combat."
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            side=2
            canrecruit=yes
        [/filter]
        [if]
            [variable]
                name=progress
                less_than=2
            [/variable]
            [then]
                {VARIABLE progress 2}
            [/then]
        [/if]
        [message]
            speaker=Efraim
            message= _ "Phew, we are a bit safer now. We should investigate this place, some information how did we end up here and who we are should lie in these caves."
        [/message]
    [/event]
    [event]
        name=turn 2
        {RANDOM_ITEM 11 31}
        {RANDOM_ITEM 42 10}
        {PLACE_ITEM 604 8 31}
        {PLACE_ITEM 24 39 27}
        {PLACE_ITEM 55 32 25}
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=32,25
        [/filter]
        [message]
            speaker=Efraim
            message= _ "Finally we found a weapon for me to kill those undead..."
        [/message]
    [/event]
    {PLACE_IMAGE items/staff-lethalia.png 8 30}
    [event]
        name=last_breath
        first_time_only=no
        [filter]
            race=human
        [/filter]
        [filter_second]
            id=Efraim
        [/filter_second]
        [if]
            [variable]
                name=efraim_progress
                equals=3
            [/variable]
            [then]
                [floating_text]
                    text=_ "FEED, I SAY! Do you want to be a pathetic weak lich forever?"
                    x,y=$x2,$y2
                [/floating_text]
                [message]
                    speaker=Efraim
                    message= _ "What is this...?"
                [/message]
                [animate_unit]
                    flag=attack
                    [filter]
                        id=Efraim
                    [/filter]
                    [filter_second]
                        id=$unit.id
                    [/filter_second]
                    [primary_attack]
                        range=ranged
                    [/primary_attack]
                    hits=yes
                [/animate_unit]
                {ADVANCE_UNIT id=Efraim Efraim_lich}
                [store_unit]
                    variable=advanced2
                    [filter]
                        id=Efraim
                    [/filter]
                    kill=yes
                [/store_unit]
                {BACKUP_UNIT_STATS}
                {CALCULATE_WEAPONS_ONLY}
                {CALCULATE_LAST_THINGS}
                {CALCULATIONS_END}
                {VARIABLE efraim_progress 4}
                [message]
                    speaker=Efraim
                    message= _ "I feel much stronger now..."
                [/message]
            [/then]
        [/if]
        [if]
            [variable]
                name=efraim_progress
                equals=2
            [/variable]
            [then]
                [floating_text]
                    text= _ "Feed! Eat his soul, like you always used to."
                    x,y=$x2,$y2
                [/floating_text]
                [message]
                    speaker=Efraim
                    message= _ "I feel a disturbingly strong urge to eat his soul. Strange."
                [/message]
                {VARIABLE efraim_progress 3}
            [/then]
        [/if]
        [if]
            [variable]
                name=efraim_progress
                equals=1
            [/variable]
            [then]
                [floating_text]
                    text= _ "Feed!"
                    x,y=$x2,$y2
                [/floating_text]
                [message]
                    speaker=Efraim
                    message= _ "What? Something is talking to me!"
                [/message]
                {VARIABLE efraim_progress 2}
            [/then]
        [/if]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=44-45,1-6
        [/filter]
        [if]
            [variable]
                name=progress
                greater_than_equal_to=3
            [/variable]
            [then]
                [message]
                    speaker=Efraim
                    message= _ "I hope the surface is near."
                [/message]
                {CLEAR_VARIABLE progress,efraim_progress}
                [endlevel]
                    result=victory
                    bonus=yes
                    {NEW_GOLD_CARRYOVER 40}
                [/endlevel]
            [/then]
        [/if]
        [if]
            [variable]
                name=progress
                equals=2
            [/variable]
            [then]
                [message]
                    speaker=Efraim
                    message= _ "Yes, but where are the pieces of our past that should be located somewhere nearby?"
                [/message]
            [/then]
        [/if]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=1-22,26-34
        [/filter]
        [remove_shroud]
            side=1
            x=1-22
            y=26-34
        [/remove_shroud]
        [message]
            speaker=Lethalia
            message= _ "I recognise these items. This used to be my staff."
        [/message]
        {VARIABLE progress 3}
        {MOVE_UNIT id=Lethalia 8 30}
        [object]
            [filter]
                id=Lethalia
            [/filter]
            description= _"<span color='#60A0FF'>Increases physical resistances by 10% </span>
<span color='green'>Damage increased by 3</span>
<span color='green'>Increases all magical damages by 30% </span>
<span color='purple'>1 more movement point (requires Lethalia's Armour)</span>"
            name= _ "Lethalia's Staff"
            image=items/staff-lethalia.png
            number=603
            sort=staff
            icon=attacks/staff-green.png
            magic=30
            damage_plus=3
            defence=10
            resist_arcane=10
            [latent]
                description= _ "<span color='purple'>1 more movement point (requires Lethalia's Armour)</span>"
                number_required=604
                apply_to=movement
                increase=1
            [/latent]
        [/object]
        [remove_item]
            x,y=8,30
        [/remove_item]
        {ADVANCE_UNIT id=Lethalia Lethalia_lich}
        [store_unit]
            [filter]
                id=Lethalia
            [/filter]
            variable=advanced
        [/store_unit]
        [unstore_unit]
            variable=advanced
            find_vacant=no
        [/unstore_unit]
        [store_unit]
            variable=advanced2
            [filter]
                id=Lethalia
            [/filter]
            kill=yes
        [/store_unit]
        {BACKUP_UNIT_STATS}
        {CALCULATE_WEAPONS_ONLY}
        {CALCULATE_LAST_THINGS}
        {CALCULATIONS_END}
        [if]
            [variable]
                name=efraim_progress
                not_equals=4
            [/variable]
            [then]
                [message]
                    speaker=Efraim
                    message= _ "I remembered a few things too..."
                [/message]
                {ADVANCE_UNIT id=Efraim Efraim_lich}
                [store_unit]
                    variable=advanced2
                    [filter]
                        id=Efraim
                    [/filter]
                    kill=yes
                [/store_unit]
                {BACKUP_UNIT_STATS}
                {CALCULATE_WEAPONS_ONLY}
                {CALCULATE_LAST_THINGS}
                {CALCULATIONS_END}
            [/then]
        [/if]
        [objectives]
            summary= _ "New Objectives:"
            show=yes
            [objective]
                description= _ "Exit the cave to the northeast"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            duration=100
            message= _ "Although your leaders may seem to be powerful enough to beat all enemies, it is a bad idea to go without recruiting and advancing other units. In the next chapter, it will become absolutely impossible to survive without support from other units."
        [/message]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Damn, this cave is collapsing!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 2 5 (axe,axe,staff,sword,sword,knife) yes 2}
    {GLOBAL_EVENTS}
    {GENERIC_DEATHS}
    {NEUTRAL_SIDE 3}
[/scenario]
