#textdomain wesnoth-loti
[scenario]
    id="03_Into_the_Light"
    name= _ "Into the Light"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/03_Tomb_Exit.map}"
    next_scenario="04_I_Hate_You_I_Hate_You_Too"
    victory_when_enemies_defeated=no
    {TURNS 35 32 30}
    experience_modifier=80
    {SCENARIO_MUSIC "the_deep_path.ogg"}
    {EXTRA_SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC "transcience.ogg"}

    {DEEP_UNDERGROUND}
    [event]
        name=prestart
        {VARIABLE progress 1}
        [objectives]
            side=1
            [objective]
                description= _ "Exit the cave to the north"
                condition=win
                [show_if]
                    [variable]
                        name=progress
                        equals=2
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destroy the demons and whatever brought them here"
                condition=win
                [show_if]
                    [variable]
                        name=progress
                        equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        {GENERIC_UNIT 2 "Demon" 23 20}
        {CAPTURE_VILLAGES 2 36 12 20}
        {CAPTURE_VILLAGES 1 4 31 10}
    [/event]

    [side]
        type=Efraim_lich
        id=Efraim
        name= _ "Efraim"
        side=1
        canrecruit=yes
        controller=human
        {GOLD 300 280 250}
        recruit=Walking Corpse,Soulless,Skeleton,Skeleton Archer,Ghost
        unrenamable=yes
        team_name=Good
        user_team_name=_"Good"
        village_gold=2
        shroud=yes
    [/side]
    {RECRUIT_UNIT_VARIATIONS 1 "Walking Corpse" saurian,bat,bat,troll,saurian,saurian,troll,bat}
    {RECRUIT_UNIT_VARIATIONS 1 "Soulless" saurian,bat,bat,troll,saurian,saurian,troll,bat}
    [side]
        type=Demonologist
        id=enemy
        canrecruit=yes
        recruit=Demon
        {GOLD 150 200 250}
        {NO_INCOME}
        side=2
#ifndef EASY
        village_gold=4
#else
        village_gold=3
#endif
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    [event]
        name=prerecruit
        first_time_only=no

        [filter]
            side=2
        [/filter]
        {FOREACH unit.modifications.trait i}
            [if]
                [variable]
                    name=unit.modifications.trait[$i].id
                    equals=slimy
                [/variable]
                [or]
                    [variable]
                        name=unit.modifications.trait[$i].id
                        equals=regrowing
                    [/variable]
                [/or]
                [then]
                    {CLEAR_VARIABLE unit.modifications.trait[$i]}
                    {VARIABLE_OP i sub 1}
                [/then]
            [/if]
        {NEXT i}
        [unstore_unit]
            variable=unit
            find_vacant=no
        [/unstore_unit]
    [/event]
    [event]
        name=start
        [remove_shroud]
            side=1
            x=1-11
            y=26-33
        [/remove_shroud]
        [message]
            speaker=Efraim
            message= _ "The surface should be near, although... the darkness here seems to still be very dense. Weird."
        [/message]
        [unit]
            side=2
            type=Demon
            name= _ "Athla"
            id=demoness2
            x,y=19,26
            random_traits=yes
            gender=female
        [/unit]
        {MOVE_UNIT id=demoness2 11 27}
        [message]
            speaker=Efraim
            message= _ "What is that thing...?"
        [/message]
        [message]
            speaker=demoness2
            message= _ "I am something you have never seen before. I am the thing that turns your dreams into the darkest nightmares you have. A concentration of pure evil, your doom. You cannot fight me, you will die in a terrible torture by my hands. You will never see the light of the day, because I will take your soul into Inferno where it will burn forever under blood red skies..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Enough! You may be powerful, but you cannot face us. Ancient, immerse power, that is preparing to change this world. A mere demon cannot stop us!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "The problem is not the demon herself, but fact that a demon is in this world. As far as I remember, they were imprisoned in their dimension forever, and her presence here clearly means that there is a hole in the cage. I hope you know what they are..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Yes, I know. They are creations of foul magic, that know no maternal love, no parental care... they are just spawned in some... hives or fields or something... and because they are created and not born, they do not possess a soul or something, so they only serve their purpose. Books say so. Their purpose is causing destruction and pain. All they can think about is devastation and suffering, and they are plotting complicated plans just to bring doom to life... or to other demons, or whatever they are not obeying at that time. They are just evil in its purest form."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I think that I used to think that their creator was the Original Demon, Lilith. Her origin is unknown. Hmm... I wonder where did I learn this knowledge..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Enough, it is time to kill them all."
        [/message]
    [/event]
    [event]
        name=last_breath
        [filter]
            id=enemy
        [/filter]
        {VARIABLE progress 2}
        [message]
            speaker=enemy
            message= _ "You will end up in Inferno anyway!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Why should I? The dead go to the world of the dead. You have sold your soul to the demons, so you will end up in Inferno."
        [/message]
        [message]
            speaker=enemy
            message= _ "No... No... Yes... I will end up there, but great power will be given to me as a reward for bringing the demons here!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "A demon would never give you a good reward. There will be a catch. The power will be painful to use and you will have to use it a lot or something."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Why... Why are we even talking about this? You shall go into a much better place. I will devour your soul!"
        [/message]
        {MOVE_UNIT id=Lethalia $unit.x $unit.y}		#Next to him
        [store_unit]
            [filter]
                id=Lethalia
            [/filter]
            variable=lethalia
        [/store_unit]
        {VARIABLE_OP lethalia.variables.devour_count add 1}
        [unstore_unit]
            variable=lethalia
            {COLOR_HEAL}
            text="$eater.variables.devour_count|/$eater.variables.max_devour_count"
            find_vacant=no
        [/unstore_unit]
        [objectives]
            summary= _ "New Objectives:"
            show=yes
            [objective]
                description= _ "Exit the cave to the north"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x,y=24,0-2
        [/filter]
        [if]
            [variable]
                name=progress
                equals=2
            [/variable]
            [then]
                [message]
                    speaker=unit
                    message= _ "Sand? Where are we?"
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "This looks bad."
                [/message]
                [message]
                    speaker=Lethalia
                    message= _ "A pessimist would have said that the world changed into a desert."
                [/message]
                {CLEAR_VARIABLE progress}
                [endlevel]
                    result=victory
                    bonus=yes
                    {NEW_GOLD_CARRYOVER 40}
                [/endlevel]
            [/then]
        [/if]
        [if]
            [variable]
                name=progress
                equals=1
            [/variable]
            [then]
                [message]
                    speaker=Efraim
                    message= _ "No, the abomination must be destroyed!"
                [/message]
            [/then]
        [/if]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Damn, his experiments are starting to create a crack between our world and Inferno!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 20 25 (axe,axe,staff,sword,sword,knife,bow,dagger,xbow) yes 2}	#Demons will drop a lot
    {GLOBAL_EVENTS}
    {GENERIC_DEATHS}
[/scenario]
