#textdomain wesnoth-loti
[scenario]
    id="04_I_Hate_You_I_Hate_You_Too"
    name= _ "I Hate You, I Hate You Too"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/04_Valley_of_the_Ancient_Tombs.map}"
    next_scenario="05_Friends_No_More"
    victory_when_enemies_defeated=yes
    experience_modifier=80
    {TURNS 35 32 30}
    {SCENARIO_MUSIC "frantic.ogg"}
    {EXTRA_SCENARIO_MUSIC "nunc_dimittis.ogg"}
    {EXTRA_SCENARIO_MUSIC "sad.ogg"}

    {TWO_SUNS_DEFAULT_SCHEDULE}
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the enemy leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        {CAPTURE_VILLAGES 2 10 36 6}
        {GUARDIAN_UNIT 3 Skeleton 4 32}
        {GUARDIAN_UNIT 3 "Skeleton Archer" 31 28}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 34 20}
        {GUARDIAN_UNIT 3 Deathblade 38 14}
        {GUARDIAN_UNIT 3 Skeleton 22 13}
        {GUARDIAN_UNIT 3 Ghost 9 23}
        {GUARDIAN_UNIT 3 "Skeleton Archer" 8 3}
        {GUARDIAN_UNIT 3 "Giant Spider" 24 1}
        {GUARDIAN_UNIT 3 Revenant 23 9}
        {GUARDIAN_UNIT 3 Skeleton 41 3}
        {GUARDIAN_UNIT 3 Ghost 15 15}
        {PLACE_IMAGE scenery/temple1.png 9 30}
        {PLACE_IMAGE scenery/temple1.png 9 11}
        {PLACE_IMAGE scenery/temple1.png 22 3}
        {PLACE_IMAGE scenery/temple1.png 40 20}
    [/event]

    [side]
        type=Efraim_lich
        id=Efraim
        name= _ "Efraim"
        side=1
        canrecruit=yes
        controller=human
        gold=200
        recruit=Walking Corpse,Soulless,Skeleton,Skeleton Archer,Ghost
        unrenamable=yes
        team_name=Good
        user_team_name=_"Good"
        village_gold=2
        shroud=yes
    [/side]

    [side]
        type=Swordmaster
        id=enemy
        canrecruit=yes
        recruit=Spearman,Horseman,Bowman,Fencer,Cavalryman
        {GOLD 800 1000 1200}		#They will fight also other undead
        side=2
        team_name=other_good
        user_team_name=_"Other Good"
        [ai]
            aggression=1.0
        [/ai]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_INCINERATE}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        no_leader=yes
        side=3
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
    [/side]

    [story]
        [part]
            background=into_the_light.png
            story= _ "They left the caves... longing to see what has the world become as the millennia passed."
        [/part]
    [/story]
    [event]
        name=start
        [message]
            speaker=Lethalia
            message= _ "Noooo! All the country... It transformed into a desert! All the beauty of the world is gone!"
        [/message]
        [unit]
            side=2
            type=Cavalryman
            generate_name=yes
            id=lookout
            x,y=25,22
            random_traits=yes
        [/unit]
        {MOVE_UNIT id=lookout 14 31}
        [message]
            speaker=lookout
            message= _ "Not again... Master, undead are creeping from the tombs!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "No, we are not going to harm you..."
        [/message]
        {MOVE_UNIT id=lookout 24 21}
        [kill]
            id=lookout
        [/kill]
        [message]
            speaker=Lethalia
            message= _ "That is useless... They saw us coming from the tomb, they will fight us. Prejudices."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Should we flee?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Do you want an army following you all the time? We will have to kill them, they attacked us first. Or they would attack us anyway."
        [/message]
        [message]
            speaker=Efraim
            message= _ "That is not the most peaceful solution..."
        [/message]
    [/event]
    [event]
        name=last_breath
        [filter]
            id=enemy
        [/filter]
        [message]
            speaker=enemy
            message= _ "Darn! The undead prevailed..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "This valley is now ours. We can raise skeletons from all dead inhabitants, create a great army, loot all these tombs, and then..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Do you really want to do that? Are we just like any other liches, seeking the destruction of everything that cannot be dominated?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "No... I did not mean that... But we need a huge army to walk this world. There are too many perils, and we two cannot handle them."
        [/message]
        [message]
            speaker=Efraim
            message= _ "We can just try to avoid them. We are quick enough to flee most enemies. And we will not attract as many things as an army of undead."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "But what would we achieve that way? We have to conquer. And we need an army to do it!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Why do you want to conquer? We may just fight the evil, build ourselves a reputation, like... ehm..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "No. This world is too ugly. It has to be improved. Build some irrigation systems, to bring water here and transform this place into a hospitable farmland..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I agree with that."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "But to achieve that, we need to conquer the continent first. We need the resources to do that."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Stop talking about conquest! We cannot kill so many humans, elves and dwarves just because they do not understand what we want."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "A shiny goal excuses the dark means to achieve it."
        [/message]
        [message]
            speaker=Efraim
            message= _ "No! Maybe we can achieve that by diplomacy! With as little military power as possible!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Have you seen the successes of our diplomacy? Diplomacy is useless, the strength of our undead minions is the only method that works."
        [/message]
        [message]
            speaker=Efraim
            message= _ "We just cannot kill so many people. That is unacceptable!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Then you are my enemy. I expected that you will not go with me into this, so I took control of the undead. Skeletons, slay him!"
        [/message]
        {MOVE_UNIT id=Efraim 43 1}
        {VARIABLE leader_chosen Efraim}
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "You can chose whose path you want to follow."
            [option]
                message= _"The path of Efraim, trying to solve things by peaceful means of lies and subterfuge"
                [command]
                    {VARIABLE leader_chosen Efraim}
                [/command]
            [/option]
            [option]
                message= _"The path of Lethalia, the way of conquest and destruction"
                [command]
                    {VARIABLE leader_chosen Lethalia}
                [/command]
            [/option]
        [/message]

        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    {RECRUIT_UNIT_VARIATIONS 1 "Walking Corpse" saurian,bat,bat,troll,saurian,saurian,troll,bat}
    {RECRUIT_UNIT_VARIATIONS 1 "Soulless" saurian,bat,bat,troll,saurian,saurian,troll,bat}
    [event]
        name=side turn
        first_time_only=no
        [if]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [then]
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Ghoul,Walking Corpse)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Ghoul,Walking Corpse,Deathblade,Bone Shooter)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Ghoul,Walking Corpse,Deathblade,Bone Shooter,Revenant,Soulless,Wraith)}
#endif
                {GENERIC_UNIT 3 $spawn_type 22 3}
            [/then]
        [/if]
        [if]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [then]
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Ghoul,Walking Corpse,Soulless)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Ghoul,Walking Corpse,Deathblade,Bone Shooter,Soulless)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Ghoul,Walking Corpse,Deathblade,Bone Shooter,Revenant,Soulless,Wraith,Wraith)}
#endif
                {GENERIC_UNIT 3 $spawn_type 9 11}
            [/then]
        [/if]
        [if]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [then]
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Ghoul,Walking Corpse,Soulless,Skeleton)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Ghoul,Walking Corpse,Deathblade,Bone Shooter,Soulless,Skeleton)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Ghoul,Walking Corpse,Deathblade,Bone Shooter,Revenant,Soulless,Wraith,Wraith,Skeleton)}
#endif
                {GENERIC_UNIT 3 $spawn_type 40 20}
            [/then]
        [/if]
        {CLEAR_VARIABLE spawn_type}
    [/event]
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,dagger,xbow) yes 2,3}
    {GLOBAL_EVENTS}
    {GENERIC_DEATHS}
[/scenario]
