#textdomain wesnoth-loti
[scenario]
    id="07_World_Without_Amity"
    name= _ "World Without Amity"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/07_Outpost.map}"
    next_scenario="08_Misguiding_Lives"
    victory_when_enemies_defeated=no
    experience_modifier=80
    {TURNS 35 32 30}
    {SCENARIO_MUSIC "loyalists.ogg"}
    {EXTRA_SCENARIO_MUSIC "weight_of_revenge.ogg"}
    {EXTRA_SCENARIO_MUSIC "breaking_the_chains.ogg"}

    {TWO_SUNS_DEFAULT_SCHEDULE}
    [event]
        name=prestart
        {CAPTURE_VILLAGES 1 12 32 10}
        {CAPTURE_VILLAGES 2 37 2 10}
        {CAPTURE_VILLAGES 3 11 4 10}
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the drake leader"
                condition=win
                [show_if]
                    [variable]
                        name=leader_chosen
                        equals=Efraim
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Defeat the leader of humans"
                condition=win
                [show_if]
                    [variable]
                        name=leader_chosen
                        equals=Lethalia
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destruction of Efraim"
                condition=lose
                [show_if]
                    [variable]
                        name=leader_chosen
                        equals=Efraim
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destruction of Lethalia"
                condition=lose
                [show_if]
                    [variable]
                        name=leader_chosen
                        equals=Lethalia
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
        [if]
            [variable]
                name=leader_chosen
                equals=Efraim
            [/variable]
            [else]
                [store_unit]
                    [filter]
                        id=Efraim
                    [/filter]
                    variable=Efraim_store
                    kill=yes
                [/store_unit]
                [recall]
                    id=Lethalia
                    x,y=12,32
                [/recall]
                [modify_side]
                    side=2
                    {GOLD 1200 1400 1600}
                    team_name=victims
                    user_team_name=_"Victims"
                [/modify_side]
                [modify_side]
                    side=3
                    {GOLD 800 950 1100}
                [/modify_side]
            [/else]
        [/if]
    [/event]

    [story]
        [part]
            background=story/barren_land.jpg
            story= _ "This new world was a much worse place than the old one. Fields and forests where life flourished transformed into barren lands were all nations struggled for survival, a great empire maintaining peace became a land of endless wars. But the past could not be undone, even if they did their best..."
        [/part]
    [/story]

    [side]
        type=Efraim_lich
        id=Efraim
        name= _ "Efraim"
        side=1
        canrecruit=yes
        controller=human
        gold=200
        recruit=
        unrenamable=yes
        team_name=Good
        user_team_name=_"Good"
        village_gold=2
        shroud=no
    [/side]

    [side]
        type=General
        canrecruit=yes
        generate_name=yes
        id=general
        side=2
        team_name=Good
        user_team_name=_"Good"
        {GOLD 800 950 1100}
        recruit=Shock Trooper,Javelineer,Pikeman,Swordsman,Dragoon,Knight,Lancer,Longbowman,Duelist,White Mage
        income=100
        [ai]
            aggression=0.4
        [/ai]
    [/side]
    [side]
        type=Drake Flameheart
        canrecruit=yes
        generate_name=yes
        id=enemy
        side=3
        team_name=enemy
        user_team_name=_"Enemy"
        {GOLD 1200 1400 1600}
        recruit=Drake Warrior,Drake Flare,Drake Thrasher,Sky Drake,Drake Arbiter
        income=100
        [ai]
            aggression=1.0
        [/ai]
#ifdef HARD
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=ranged
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_GUIDED}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [event]
        name=start
        [message]
            speaker=$leader_chosen
            message= _ "Are you in trouble?"
        [/message]
        [message]
            speaker=general
            message= _ "Of course we are! We need to beat those drakes."
        [/message]
        [message]
            speaker=$leader_chosen
            message= _ "A war with drakes? That is quite rare, drakes are not evil, just sometimes too militant."
        [/message]
        [message]
            speaker=general
            message= _ "Maybe they are not so evil, but it is hard to find a place where you can live. Orcs breed like rats, and they may push others from their homelands. And then they have to conquer places for themselves, and so on..."
        [/message]
        [message]
            speaker=$leader_chosen
            message= _ "They did not agree to unite with you to defeat these orcs?"
        [/message]
        [message]
            speaker=general
            message= _ "No, drakes are not very diplomatic. They decided to conquer this place, and they will not change their mind."
        [/message]
        [message]
            speaker=$leader_chosen
            message= _ "Aye, I will help you. You will let me pass through your land for it."
        [/message]
        [message]
            speaker=general
            message= _ "As you wish. If I die, make sure that my son will not take my place before ten years pass. He is not grown up enough to rule alone. My first counselor will have to rule with him."
        [/message]
        [if]
            [variable]
                name=leader_chosen
                equals=Efraim
            [/variable]
            [then]
                [message]
                    speaker=Efraim
                    message= _ "I hope you will not die, then."
                [/message]
                {VARIABLE enemy_sides 3}
                [event]
                    name=last_breath
                    [filter]
                        id=enemy
                    [/filter]
                    [message]
                        speaker=Efraim
                        message= _ "Victory is ours!"
                    [/message]
                    [kill]
                        side=2
                        canrecruit=yes
                        animate=yes
                    [/kill]
                    [message]
                        speaker=Efraim
                        message= _ "What is going on?"
                    [/message]
                    [kill]
                        side=2
                        animate=yes
                    [/kill]
                    [message]
                        speaker=Efraim
                        message= _ "Damn, Lethalia is here. She must have found something really nasty while I was fighting here. Why has she done this... I know! She wants to exploit the young heir!"
                    [/message]
                    [endlevel]
                        result=victory
                        bonus=yes
                        {NEW_GOLD_CARRYOVER 40}
                    [/endlevel]
                [/event]
                [event]
                    name=last_breath
                    [filter]
                        id=general
                    [/filter]
                    [message]
                        speaker=Efraim
                        message= _ "Oh, no! I will have to defeat them myself!"
                    [/message]
                [/event]
            [/then]
            [else]
                [message]
                    speaker=Lethalia
                    message= _ "An exploitable young landlord... very nice. Prepare to die, general!"
                [/message]
                [event]
                    name=last_breath
                    [filter]
                        id=general
                    [/filter]
                    [message]
                        speaker=Lethalia
                        message= _ "Hahahahaha..."
                    [/message]
                    [unstore_unit]
                        variable=Efraim_store
                        x=recall
                        y=recall
                    [/unstore_unit]
                    {CLEAR_VARIABLE Efraim_store}
                    [endlevel]
                        result=victory
                        bonus=yes
                        {NEW_GOLD_CARRYOVER 40}
                    [/endlevel]
                [/event]
            [/else]
        [/if]
    [/event]
    [event]
        name=time over
        [message]
            speaker=$leader_chosen
            message= _ "Oops, drakish reinforcements, I will not beat them..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=$leader_chosen
        [/filter]
        [message]
            speaker=unit
            message= _ "Argh, I did not want this to happen."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,dagger,xbow,spear,spear,bow,dagger,mace) yes 2,3}    #If Lethalia kills the drake boss, she gets an item - not the wisest thing to do, though
    {GLOBAL_EVENTS}
[/scenario]
