#textdomain wesnoth-loti

[scenario]
    id="13_Phoenix"
    name= _ "Phoenix"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/13_Pyrophor.map}"
    next_scenario="14_Frozen_Land"
    victory_when_enemies_defeated=no
    experience_modifier=80
    {TURNS 24 22 20}
    {SCENARIO_MUSIC "frantic.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_dangerous_symphony.ogg"}

    [time]
        id=pyrophor
        name= _ "flaming skies"
        image=misc/schedule-hell.png
        lawful_bonus=0
        red=30
        green=-25
        blue=-30
    [/time]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the phoenix"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim"
                condition=lose
                [show_if]
                    [variable]
                        name=leader_chosen
                        equals=Efraim
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destruction of Lethalia"
                condition=lose
                [show_if]
                    [variable]
                        name=leader_chosen
                        equals=Lethalia
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note= _ "Note: No upkeep, no income, no matter what it shows."
        [/objectives]
        [if]
            [variable]
                name=leader_chosen
                equals=Efraim
            [/variable]
            [else]
                [store_unit]
                    [filter]
                        id=Efraim
                    [/filter]
                    variable=Efraim_store
                    kill=yes
                [/store_unit]
                [recall]
                    id=Lethalia
                    x,y=11,17
                [/recall]
                [recall]
                    id=Phillip
                    x,y=11,17
                [/recall]
            [/else]
        [/if]
    [/event]
    [story]
        [part]
            background=story/joyless_descent.jpg~CS(100,-30,-30)
            story= _ "The world of Pyrophor made everybody appreciate the beauty of the remains of their homeworld. The barren rock landscape was enveloped by caustic vapours coming from the lakes of lava that were scattered everywhere. Sometimes the vapours would thin and swirl, revealing the daunting sight of flaming skies above... It was by sheer luck that the portal was not created right above a blaze or pool of molten rock."
        [/part]
    [/story]
    [side]
        type=Efraim_lich
        id=Efraim
        name= _ "Efraim"
        side=1
        canrecruit=yes
        controller=human
        gold=200
        recruit=
        unrenamable=yes
        team_name=Good
        user_team_name=_"Good"
        village_gold=2
        village_support=1000
        shroud=yes
    [/side]
    [side]
        no_leader=yes
        side=2
        team_name=Enemy
        user_team_name=_"Enemy"
        [ai]
            aggression=1.0
        [/ai]
        {GUARDIAN_UNIT 2 Phoenix 12 5}
        {GUARDIAN_UNIT 2 Phoenix 2 1}
        {GUARDIAN_UNIT 2 Phoenix 20 2}
    [/side]

    [event]
        name=start
        [message]
            speaker=$leader_chosen
            message= _ "We need to find a phoenix, defeat it in order to pull it into Chillhold. Time to make a little hunt."
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            type=Phoenix
        [/filter]
        [message]
            speaker=$leader_chosen
            message= _ "You will go to Chillhold with us. Hehehe."
        [/message]
        [if]
            [variable]
                name=leader_chosen
                equals=Efraim
            [/variable]
            [else]
                [unstore_unit]
                    variable=Efraim_store
                    x=recall
                    y=recall
                [/unstore_unit]
                {CLEAR_VARIABLE Efraim_store}
            [/else]
        [/if]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=$leader_chosen
        [/filter]
        [message]
            speaker=unit
            message= _ "Argh, how can it be, dying almost at the end of the journey?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Phillip
        [/filter]
        [message]
            speaker=unit
            message= _ "Damn, what will these elves do now...?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I will find another relative... hehehe..."
        [/message]
    [/event]
    {DROPS 30 50 (axe,axe,staff,sword,sword,knife,bow,dagger,xbow,spear,spear,bow,dagger,mace) yes 2}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
