#textdomain wesnoth-loti

[scenario]
    id="14_Frozen_Land"
    name= _ "Frozen Land"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/14_Chillhold.map}"
    next_scenario="15_Apologies"
    victory_when_enemies_defeated=no
    experience_modifier=80
    {TURNS 24 22 20}
    {SCENARIO_MUSIC "frantic.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_dangerous_symphony.ogg"}
    [time]
        id=Cool day
        name= _ "Cool day"
        image=misc/schedule-frozen.png
        lawful_bonus=25
        red=20
        green=20
        blue=40
    [/time]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Smash the phoenix"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim"
                condition=lose
                [show_if]
                    [variable]
                        name=leader_chosen
                        equals=Efraim
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Destruction of Lethalia"
                condition=lose
                [show_if]
                    [variable]
                        name=leader_chosen
                        equals=Lethalia
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note= _ "Note: No upkeep, no income, no matter what it shows."
        [/objectives]
        [if]
            [variable]
                name=leader_chosen
                equals=Efraim
            [/variable]
            [else]
                [store_unit]
                    [filter]
                        id=Efraim
                    [/filter]
                    variable=Efraim_store
                    kill=yes
                [/store_unit]
                [recall]
                    id=Lethalia
                    x,y=22,16
                [/recall]
                [recall]
                    id=Phillip
                    x,y=22,16
                [/recall]
            [/else]
        [/if]
        {GENERIC_UNIT 2 "Solid Phoenix" 22 16}
        {VARIABLE recall_count 20}
        [while]
            [variable]
                name=recall_count
                greater_than=1
            [/variable]
            [do]
                {VARIABLE_OP recall_count add -1}
                [recall]
                    side=1
                    x,y=22,16
                [/recall]
            [/do]
        [/while]
        {CLEAR_VARIABLE recall_count}
        {PLACE_IMAGE scenery/general_frozen.png 18 8}
        {PLACE_IMAGE scenery/lancer_frozen.png 17 19}
        {PLACE_IMAGE scenery/master_at_arms_frozen.png 14 29}
        {PLACE_IMAGE scenery/master_bowman_frozen.png 40 25}
        {PLACE_IMAGE scenery/peasant_frozen_1.png 28 15}
        {PLACE_IMAGE scenery/pikeman_frozen.png 37 5}
        {PLACE_IMAGE scenery/royal_guard_frozen.png 40 12}
        {PLACE_IMAGE scenery/ruffian_frozen.png 8 12}
        {PLACE_IMAGE scenery/shock_trooper_frozen.png 29 9}
        {GENERIC_UNIT 2 "Ice Spirit" 28 23}
        {GENERIC_UNIT 2 "Ice Spirit" 9 31}
        {GENERIC_UNIT 2 "Ice Spirit" 14 13}
        {GENERIC_UNIT 2 "Ice Spirit" 35 6}
        {GENERIC_UNIT 2 "Ice Spirit" 35 16}
    [/event]

    [side]
        type=Efraim_lich
        id=Efraim
        name= _ "Efraim"
        side=1
        canrecruit=yes
        controller=human
        gold=200
        recruit=
        unrenamable=yes
        team_name=Good
        user_team_name=_"Good"
        village_gold=2
        village_support=1000
        shroud=yes
    [/side]
    [side]
        no_leader=yes
        side=2
        team_name=Enemy
        user_team_name=_"Enemy"
        [ai]
            aggression=1.0
        [/ai]
    [/side]

    [event]
        name=start
        [message]
            speaker=$leader_chosen
            message= _ "This wretched cold has solidified the bird as planned, but smashing through this tough crust will take some time... in this weather, it will be tough."
        [/message]
    [/event]

    [event]
        name=turn 9
        {GENERIC_UNIT 2 "Ice Dragon" 39 32}
    [/event]

    [event]
        name=side turn
        first_time_only=no
        [if]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [then]
                {VARIABLE_OP spawn_x rand (4,7)}
                {VARIABLE_OP spawn_y rand (31,21,3)}
                {GENERIC_UNIT 2 "Ice Spirit" $spawn_x $spawn_y}
                {VARIABLE_OP spawn_x rand (36,44)}
                {VARIABLE_OP spawn_y rand (33,19,5)}
                {GENERIC_UNIT 2 "Ice Spirit" $spawn_x $spawn_y}
                {CLEAR_VARIABLE spawn_x,spawn_y}
                [harm_unit]
                    [filter]
                        side=1
                        [or]
                            type=Solid Phoenix
                        [/or]
                    [/filter]
                    fire_event=no
                    type=cold
                    amount=3
                    kill=no
                    animate=no
                [/harm_unit]
            [/then]
        [/if]
    [/event]

    [event]
        name=last breath
        [filter]
            type=Solid Phoenix
        [/filter]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "When the ice was finally broken the ashes were collected, and the brutally frigid land was gladly left behind."
        [/message]
        [if]
            [variable]
                name=leader_chosen
                equals=Efraim
            [/variable]
            [else]
                [unstore_unit]
                    variable=Efraim_store
                    x=recall
                    y=recall
                [/unstore_unit]
                {CLEAR_VARIABLE Efraim_store}
            [/else]
        [/if]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=$leader_chosen
        [/filter]
        [message]
            speaker=unit
            message= _ "Argh, how can it be, dying almost at the end of the journey?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Phillip
        [/filter]
        [message]
            speaker=unit
            message= _ "Damn, what will these elves do now...?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I will find another relative... hehehe..."
        [/message]
    [/event]

    #Disable fire attacks
    [event]
        name=attack
        first_time_only=no
        {FOREACH unit.attack i}
            {VARIABLE unit.variables.former_attack_numbers[$i].number $unit.attack[$i].number}
            [if]
                [variable]
                    name=unit.attack[$i].type
                    equals=fire
                [/variable]

                [then]
                    {VARIABLE unit.attack[$i].number 0}
                [/then]
            [/if]
        {NEXT i}

        [unstore_unit]
            variable=unit
            find_vacant=no
        [/unstore_unit]
        {FOREACH second_unit.attack i}
            {VARIABLE second_unit.variables.former_attack_numbers[$i].number $second_unit.attack[$i].number}
            [if]
                [variable]
                    name=second_unit.attack[$i].type
                    equals=fire
                [/variable]

                [then]
                    {VARIABLE second_unit.attack[$i].number 0}
                [/then]
            [/if]
        {NEXT i}

        [unstore_unit]
            variable=second_unit
            find_vacant=no
        [/unstore_unit]

        [event]
            name=attack end
            delayed_variable_substitution=yes
            {FOREACH unit.attack i}
                {VARIABLE unit.attack[$i].number $unit.variables.former_attack_numbers[$i].number}
            {NEXT i}
            {CLEAR_VARIABLE unit.variables.former_attack_numbers}

            [unstore_unit]
                variable=unit
                find_vacant=no
            [/unstore_unit]
            {FOREACH second_unit.attack i}
                {VARIABLE second_unit.attack[$i].number $second_unit.variables.former_attack_numbers[$i].number}
            {NEXT i}
            {CLEAR_VARIABLE second_unit.variables.former_attack_numbers}

            [unstore_unit]
                variable=second_unit
                find_vacant=no
            [/unstore_unit]
        [/event]
    [/event]

    {DROPS 6 8 (axe,axe,staff,sword,sword,knife,bow,dagger,xbow,spear,spear,bow,dagger,mace) yes 2}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
