#textdomain wesnoth-loti
[scenario]
    id="test_scenario"
    name= _ "Test Scenario"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/01_Forbidden_Notch.map}"
    next_scenario="02_Into_Out_Frozen_Land"
    victory_when_enemies_defeated=no
    turns=-1
    {SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_dangerous_symphony.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_king_is_dead.ogg"}
    experience_modifier="50"

    {DEFAULT_SCHEDULE}
    [event]
        name=prestart
        {VARIABLE saved_turns 500}
        [objectives]
            side=1
            [objective]
                description= _ "Gain Levels"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
        [message]
            speaker=narrator
            image=wesnoth-icon.png
            message= _ "This is just a test scenario. Nothing is related to events in the campaign."
        [/message]
        {VARIABLE topazes 10}
        {VARIABLE opals 10}
        {VARIABLE obsidians 10}
        {VARIABLE pearls 10}
        {VARIABLE black_pearls 10}
        {VARIABLE emeralds 10}
        {VARIABLE rubies 10}
        {VARIABLE diamonds 10}
        {VARIABLE amethysts 10}
        {VARIABLE sapphires 10}
        #	[set_variables]
        #		name=item_storage
        #		more=replace
        #		[value]
        #			[amulet]
        #				sort="amulet"
        #				type=2
        #			[/amulet]
        #			[amulet]
        #				sort="amulet"
        #				type=12
        #			[/amulet]
        #			[staff]
        #				sort="staff"
        #				type=7
        #			[/staff]
        #			[staff]
        #				sort="staff"
        #				type=4
        #			[/staff]
        #			[amulet]
        #				sort="amulet"
        #				type=12
        #			[/amulet]
        #		[/value]
        #	[/set_variables]
        [set_menu_item]
            id=jrfdscx
            description=_"Advance"
            [command]
                [store_unit]
                    [filter]
                        x,y=$x1,$y1
                    [/filter]
                    variable=advanced
                    kill=yes
                [/store_unit]
                [unit]	#Doesn't flash white like the previous way to do it
                    side=$advanced.side
                    x=$advanced.x
                    y=$advanced.y
                    experience=$advanced.experience
                    canrecruit=$advanced.canrecruit
                    type=$advanced.type
                    id=$advanced.id
                    gender=$advanced.gender
                    name=$advanced.name
                    facing=$advanced.facing
                    extra_recruit=$advanced.extra_recruit
                    attacks_left=0
                    moves=0
                    underlying_id=$advanced.underlying_id
                    unrenamable=$advanced.unrenamable
                    animate=no
                    [insert_tag]
                        name=modifications
                        variable=advanced.modifications
                    [/insert_tag]
                    [insert_tag]
                        name=variables
                        variable=advanced.variables
                    [/insert_tag]
                [/unit]
                [store_unit]
                    [filter]
                        x,y=$x1,$y1
                    [/filter]
                    variable=advanced
                [/store_unit]
                [if]
                    [variable]
                        name=advanced.type
                        equals=Elvish Assassin
                    [/variable]
                    [then]
                        [set_variables]
                            mode=replace
#ifver WESNOTH_VERSION >= 1.13.2
                            name=advanced.modifications.advancement[0]
#else
                            name=advanced.modifications.advance[0]
#endif
                            [value]
                                max_times=1
                                always_display=yes
                                id=execution
                                image=attacks/bow-elven-magic.png
                                strict_amla=yes
                                require_amla=""
                                [effect]
                                    apply_to=bonus_attack
                                    name=execution
                                    description= _ "execution"
                                    icon=attacks/bow-elven-magic
                                    range=ranged
                                    defense_weight=0
                                    damage=-45
                                    merge=yes
                                    [specials]
                                        {WEAPON_SPECIAL_FOCUSED}
                                    [/specials]
                                [/effect]
                                {GREATER_AMLA_DEFAULT_BONUSES}
                            [/value]
                        [/set_variables]
                    [/then]
                [/if]
                {UPDATE_STATS}
                {CLEAR_VARIABLE advanced}
            [/command]
        [/set_menu_item]
    [/event]
    [event]
        name=turn refresh

        {VARIABLE i 1}
        [while]
            [variable]
                name=i
                less_than_equal_to=315
            [/variable]
            [do]
                [set_variable]
                    name=length
                    to_variable=item_storage.$item_list.object[$($i-1)].sort|.length
                [/set_variable]

                {VARIABLE "item_storage.$item_list.object[$($i-1)].sort|[$length].type" "$item_list.object[$($i-1)].number"}
                {VARIABLE_OP i add 1}
            [/do]
        [/while]
    [/event]
    [side]
        type=Dragon Rider
        id=Morzan
        name= _ "Morzan"
        side=1
        canrecruit=yes
        controller=human
        recruit=Deathlord,Mage,Sword Mage
        team_name=Loyalists
        user_team_name=_"Loyalists"
        gold=50000
        [modifications]
            {TRAIT_RESILIENT}
            {TRAIT_STRONG}
            [object]
                [effect]
                    apply_to=movement
                    increase=50
                [/effect]
            [/object]
        [/modifications]
        [unit]
            id=Russophile
            type=Siege Troll
            name=Russophile
            x,y=28,18
            side=1
        [/unit]
        [unit]
            id=Great King Herod
            type=Elvish Warlord
            name=Great King Herod
            x,y=28,18
            side=1
        [/unit]
        [unit]
            id=Heroin selling heroine
            type=Shadowalker
            name=Heroin selling heroine
            x,y=28,18
            side=1
            gender=female
        [/unit]
        [unit]
            id=Donald Trump
            type=Lunatic Knight
            name=Donald Trump
            x,y=28,18
            side=1
        [/unit]
        [unit]
            id=Naegleria Fowleri
            type=Warlock
            name=Naegleria Fowleri
            gender=female
            x,y=28,18
            side=1
            [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    id=legacy_of_the_freezing_north
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    id=awareness
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    [effect]
                        apply_to=new_ability
                        [abilities]
                            {ABILITY_FIRECAST}
                        [/abilities]
                    [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
            [/modifications]
        [/unit]
        [unit]
            id=Alien
            type=Predator
            name=Alien
            x,y=28,18
            side=1
        [/unit]
        [unit]
            id=Arnie
            type=Exterminator
            gender=male
            name=Arnie
            x,y=28,18
            side=1
        [/unit]
        [unit]
            id=The Spook
            type=Abomination
            name=The Spook
            x,y=30,17
            side=1
        [/unit]
    [/side]

    [side]
        id=Gromar
        name= _ "Gromar"
        type=Goblin Trainer
        side=2
        canrecruit=yes
        recruit=Goblin Trainer
        {GOLD 100 10 100}
        random_traits=yes
        [ai]
            {ATTACK_DEPTH 4 5 5}
#ifdef HARD
            aggression=1.0
            caution=-10
#endif
        [/ai]
        team_name=evil
        income=30
        user_team_name=_"Evil"
    [/side]

    {BEELZEBUB_SPAWN_POINT 3 2 16 17 11-21,12-22}
    {DROPS 10 13 (sword,sword,sword,bow,bow,bow,staff,staff,staff,axe,axe,axe,xbow,dagger,knife,mace,mace,spear) yes 2}
    {GLOBAL_EVENTS}
[/scenario]
