#textdomain wesnoth-affably_evil
#define REMOVE_FROM_RECALL_LIST NAME
    [for]
        array=party_members
        [do]
            [if]
                [variable]
                    name=party_members[$i].id
                    equals={NAME}
                [/variable]
                [then]
                    {CLEAR_VARIABLE party_members[$i]}
                    {VARIABLE_OP i sub 1}
                [/then]
            [/if]
        [/do]
    [/foreach]
#enddef
#define AE_GLOBAL_EVENTS_LIST

    # Deaths

    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=unit
            message= _ "So this is where my evil deeds have lead. Into the grave. Remember this as a warning kids, evil always gets punished."
        [/message]
        [message]
            speaker=Acanthamoeba,Fowleri
            message= _ "No, you do not deserve it, Krux!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Acanthamoeba
        [/filter]
        [message]
            speaker=unit
            message= _ "You are all silly with your dumb plans with me. If it was me to decide, I would still be alive."
        [/message]
        [message]
            speaker=Krux
            message= _ "We might have gone quite well without this campaign. We will try to avoid repeating this fault in the future. Rest in peace, sister."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Antipos
        [/filter]
        [message]
            speaker=Krux
            message= _ "No, Antipos, you cannot die like this, we need you!"
        [/message]
        [message]
            speaker=unit
            message= _ "I am sorry, I fear that my service is over. There are so many plans I have not executed yet... so sad. Some philosophers say that the dead are born again some time after their death. I hope they are right. I shall have my kingdom back!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Judas
        [/filter]
        [message]
            speaker=unit
            message= _ "And this is how my story ends. I should have cared more about survival than about money... and never joined this campaign."
        [/message]
        [message]
            speaker=Krux
            message= _ "I wish I could save you... But try to take it from the brighter side. You have spent your time well, fighting all these enemies, helped us a lot and earned a lot of money. The fights, were they not worth the danger? All the thrill, the victorious feelings? All the gratefulness we feel thanks to your heroic deeds? We shall not forget you for several generations, I guarantee you that. We have a large hall full of paintings of great warriors who have fallen for our cause. It was full recently, so we had to expand it a bit. And then there is the money."
        [/message]
        [message]
            speaker=Krux
            message= _ "You have spent it well, on all kinds of mundane pleasures and still you saved a significant portion of it. I have never had the pleasure to see your wife, maybe you are happy for it, maybe not, I am not sure, but anyway, she will certainly have a much better life with the money you have earned and we will deliver it to her. Do you still see it so negatively? Hey! He is dead... Was I speaking all of this for no reason?"
        [/message]
        [message]
            speaker=Fowleri
            message= _ "I am amazed by your ways of speaking, Krux. I would just say that I am happy that there is one less scoundrel walking this world."
        [/message]
        {VARIABLE chars.judas_died yes}
        {REMOVE_FROM_RECALL_LIST Judas}
    [/event]

    [event]
        name=last breath
        [filter]
            id=Hare
            side=1
        [/filter]
        [message]
            speaker=unit
            message= _ "I am defeated. It has been a pleasure to serve you masser... master, but now I must go."
        [/message]
        [message]
            speaker=Krux
            message= _ "You have shown that you were a loyal soldier. We will have to carry on without your mighty stick."
        [/message]
        [message]
            speaker=Acanthamoeba
            message= _ "Hare, no, do not die! I need you! I love you!"
        [/message]
        [message]
            speaker=unit
            message= _ "I would like to. But I cannot."
        [/message]
        [message]
            speaker=Fowleri
            message= _ "I must admit that I was never really fond of this knucklehead. A pity you will not let me give his dying body a kick."
        [/message]
        {VARIABLE chars.hare_died yes}
        {REMOVE_FROM_RECALL_LIST Hare}
    [/event]

    [event]
        name=last breath
        [filter]
            id=Xalzaxx
        [/filter]
        [message]
            speaker=Krux
            message= _ "Oh, our good friend Xalzaxx is dying. Do you think that there is something that we can do about it, Antipos?"
        [/message]
        [message]
            speaker=Antipos
            message= _ "Not anymore. I can only alleviate his pain."
        [/message]
        [message]
            speaker=unit
            message= _ "Please... bring this... emerald-clad ring I have stolen from an enemy to my wife... She lives in Strych... her name is Amara..."
        [/message]
        [message]
            speaker=Krux
            message= _ "I shall do as you want."
        [/message]
        [message]
            speaker=unit
            message= _ "Thanks... ugh..."
        [/message]
        [message]
            speaker=Fowleri,Acanthamoeba
            message= _ "He is dead!"
        [/message]
        [message]
            speaker=Krux
            message= _ "That emerald is a fake. A very nice fake, but a fake. Nothing worth stealing. I will let his wife have it when I see her."
        [/message]
        {VARIABLE chars.xalzaxx_died yes}
        {REMOVE_FROM_RECALL_LIST Xalzaxx}
    [/event]

    [event]
        name=last breath
        [filter]
            id=Lucretia
        [/filter]
        [message]
            speaker=Lucretia
            message= _ "I am done. Where do the dead ghosts go?"
        [/message]
        [message]
            speaker=Antipos
            message= _ "Into the same place where dead humans go. The exact place where humans go after death is not known, we can only guess."
        [/message]
        [message]
            speaker=Lucretia
            message= _ "I liked the life in the human world. I wish that all dead will be like me once. With no need to eat, free from all mundane pain."
        [/message]
        [message]
            speaker=Krux
            message= _ "I was wondering about that too. I should certainly learn how you were created, just to be like you."
        [/message]
        [message]
            speaker=Acanthamoeba
            message= _ "Interesting point of view..."
        [/message]
        [message]
            speaker=Fowleri
            message= _ "What is so interesting about that? He wants to become an undead, like way too many humans want."
        [/message]
        {VARIABLE chars.lucretia_died yes}
        {REMOVE_FROM_RECALL_LIST Lucretia}
    [/event]

    [event]
        name=last breath
        [filter]
            id=dwarf_merc
        [/filter]
        [message]
            speaker=dwarf_merc
            message= _ "I have fallen. Please send my loyal axe to my brother. I hope you will not mind that."
        [/message]
        [message]
            speaker=Krux
            message= _ "I will do that once this camaign is over. I will never forget your sacrifice."
        [/message]
        [message]
            speaker=Fowleri
            message= _ "You will..."
        [/message]
        {VARIABLE chars.dwarf_merc_died yes}
        {REMOVE_FROM_RECALL_LIST dwarf_merc}
    [/event]

    [event]
        name=last breath
        [filter]
            id=Fowleri
            side=1
        [/filter]
        [message]
            speaker=Fowleri
            message= _ "I think that I will not survive this. I am not blaming you of anything."
        [/message]
        [message]
            speaker=Krux
            message= _ "I am sorry, I never wanted this to happen to you!"
        [/message]
        [message]
            speaker=Fowleri
            message= _ "My life was poisoned with grief when I was young and I was living with it most of my life. Death is not a great loss for me."
        [/message]
        [message]
            speaker=Krux
            message= _ "Bye bye, beautiful."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=side 1 turn refresh
        first_time_only=no
        [store_unit]
            [filter]
                side=1
            [/filter]
            variable=fixing
        [/store_unit]
        [for]
            array=fixing
            [do]
                [if]
                    [variable]
                        name=fixing[$i].variables.hero
                        equals=yes
                    [/variable]
                    [then]
                        {CLEAR_VARIABLE fixing[$i].variables.cant_pick}
                    [/then]
                    [else]
                        {VARIABLE fixing[$i].variables.cant_pick yes}
                    [/else]
                [/if]
                [unstore_unit]
                    variable=fixing[$i]
                    find_vacant=no
                [/unstore_unit]
            [/do]
        [/for]
        {CLEAR_VARIABLE fixing}
    [/event]

    [event]
        name=help_walkthroughs
        first_time_only=no
        [message]
            speaker=narrator
            message="Sorry, walkthroughs aren't available yet because the campaign's balancing is not finished yet."
            image="wesnoth-icon.png"
        [/message]
    [/event]

    [event]
        name=choose name
        first_time_only=no
        [message]
            speaker=narrator
            caption=_"Choose a villain name"
            message="Choose how the protagonist is to be called."
            image="wesnoth-icon.png"
            [option]
                message=_"Krux the Conqueror"
                [command]
                    {VARIABLE villain_name _"Krux the Conqueror"}
                [/command]
                [show_if]
                    [variable]
                        name=names_unlocked.conqueror
                        equals=yes
                    [/variable]
                [/show_if]
            [/option]
            [option]
                message=_"Krux the Necrophiliac"
                [command]
                    {VARIABLE villain_name _"Krux the Necrophiliac"}
                [/command]
                [show_if]
                    [variable]
                        name=names_unlocked.necrophiliac
                        equals=yes
                    [/variable]
                [/show_if]
            [/option]
            [option]
                message=_"Krux the Usurper"
                [command]
                    {VARIABLE villain_name _"Krux the Usurper"}
                [/command]
                [show_if]
                    [variable]
                        name=names_unlocked.usurper
                        equals=yes
                    [/variable]
                [/show_if]
            [/option]
            [option]
                message=_"Krux the Necromancer"
                [command]
                    {VARIABLE villain_name _"Krux the Necromancer"}
                [/command]
                [show_if]
                    [variable]
                        name=names_unlocked.necromancer
                        equals=yes
                    [/variable]
                [/show_if]
            [/option]
            [option]
                message=_"Krux the Tyrant"
                [command]
                    {VARIABLE villain_name _"Krux the Tyrant"}
                [/command]
                [show_if]
                    [variable]
                        name=names_unlocked.tyrant
                        equals=yes
                    [/variable]
                [/show_if]
            [/option]
            [option]
                message=_"Krux the Hangman"
                [command]
                    {VARIABLE villain_name _"Krux the Hangman"}
                [/command]
            [/option]
            [option]
                message=_"Krux the Incarcerator"
                [command]
                    {VARIABLE villain_name _"Krux the Incarcerator"}
                [/command]
            [/option]
            [option]
                message=_"Krux de Rais"
                [command]
                    {VARIABLE villain_name _"Krux de Rais"}
                [/command]
            [/option]
            [option]
                message=_"Krux"
                [command]
                    {VARIABLE villain_name _"Krux"}
                [/command]
            [/option]
        [/message]
        [modify_unit]
            [filter]
                id=Krux
            [/filter]
            name=$villain_name
        [/modify_unit]
        {CLEAR_VARIABLE villain_name}
    [/event]

#enddef

#define CHOOSE_VILLAIN_NAME
    [fire_event]
        name=choose name
    [/fire_event]
#enddef
