#textdomain wesnoth-affably_evil
#define AE_GLOBAL_EVENTS_RPG_LIST

[event]
    name=waypoint
    first_time_only=no
    {VARIABLE seen.$current_scenario yes}
    [fire_event]
        name=waypoint info
    [/fire_event]
    [if]
        [variable]
            name=quests.overall
            less_than=11
        [/variable]
        [then]
            [message]
                speaker=narrator
                caption=_"Waypoint"
                message=_"Where do you want to go?"
                [option]
                    message=_"Strych"
                    [show_if]
                        [variable]
                            name=seen.strych
                            equals=yes
                        [/variable]
                        [not]
                            [variable]
                                name=quests.overall
                                equals=9
                            [/variable]
                        [/not]
                    [/show_if]
                    [command]
                        {VARIABLE pick Strych}
                    [/command]
                [/option]
                [option]
                    message=_"Ogira"
                    [show_if]
                        [variable]
                            name=seen.ogira
                            equals=yes
                        [/variable]
                        [not]
                            [variable]
                                name=quests.overall
                                equals=9
                            [/variable]
                        [/not]
                    [/show_if]
                    [command]
                        {VARIABLE pick Ogira}
                    [/command]
                [/option]
                [option]
                    message=_"Emants"
                    [show_if]
                        [variable]
                            name=seen.emants
                            equals=yes
                        [/variable]
                        [not]
                            [variable]
                                name=quests.overall
                                equals=9
                            [/variable]
                        [/not]
                    [/show_if]
                    [command]
                        {VARIABLE pick Emants}
                    [/command]
                [/option]
                [option]
                    message=_"Amaranth"
                    [show_if]
                        [variable]
                            name=seen.amaranth
                            equals=yes
                        [/variable]
                    [/show_if]
                    [command]
                        {VARIABLE pick Amaranth}
                    [/command]
                [/option]
                [option]
                    message=_"Libreborough"
                    [show_if]
                        [variable]
                            name=seen.libreborough
                            equals=yes
                        [/variable]
                        [not]
                            [variable]
                                name=quests.overall
                                equals=9
                            [/variable]
                        [/not]
                    [/show_if]
                    [command]
                        {VARIABLE pick Libreborough}
                    [/command]
                [/option]
                [option]
                    message=_"Boonies"
                    [show_if]
                        [variable]
                            name=seen.boonies
                            equals=yes
                        [/variable]
                        [not]
                            [variable]
                                name=quests.overall
                                equals=9
                            [/variable]
                        [/not]
                    [/show_if]
                    [command]
                        {VARIABLE pick Boonies}
                    [/command]
                [/option]
                [option]
                    message=_"Southen Estates"
                    [show_if]
                        [variable]
                            name=seen.southern_estates
                            equals=yes
                        [/variable]
                        [not]
                            [variable]
                                name=quests.overall
                                equals=9
                            [/variable]
                        [/not]
                    [/show_if]
                    [command]
                        {VARIABLE pick Southern_Estates}
                    [/command]
                [/option]
                [option]
                    message=_"Lorendas' Forest"
                    [show_if]
                        [variable]
                            name=seen.lorendas_forest
                            equals=yes
                        [/variable]
                        [not]
                            [variable]
                                name=quests.overall
                                equals=9
                            [/variable]
                        [/not]
                    [/show_if]
                    [command]
                        {VARIABLE pick Lorendas_Forest}
                    [/command]
                [/option]
                [option]
                    message=_"Dead End Trail"
                    [show_if]
                        [variable]
                            name=seen.dead_end_trail
                            equals=yes
                        [/variable]
                        [not]
                            [variable]
                                name=quests.overall
                                equals=9
                            [/variable]
                        [/not]
                    [/show_if]
                    [command]
                        {VARIABLE pick Dead_End_Trail}
                    [/command]
                [/option]
                [option]
                    message=_"Gruzgob's Path"
                    [show_if]
                        [variable]
                            name=seen.gruzgobs_path
                            equals=yes
                        [/variable]
                    [/show_if]
                    [command]
                        {VARIABLE pick Gruzgobs_Path}
                    [/command]
                [/option]
                [option]
                    message=_"No, I want to stay here"
                    [command]
                        {VARIABLE pick none}
                    [/command]
                [/option]
            [/message]
            [if]
                [variable]
                    name=pick
                    not_equals=none
                [/variable]
                [then]
                    {VARIABLE previous_scenario "waypoint"}
                    [endlevel]
                        result=victory
                        bonus=no
                        next_scenario=$pick
                        {NEW_GOLD_CARRYOVER 100}
                    [/endlevel]
                [/then]
            [/if]
            {CLEAR_VARIABLE pick}
        [/then]
        [else]
            [message]
                speaker=$unit.id
                message=_"This crap does not work!"
            [/message]
        [/else]
    [/if]
[/event]

[event]
    name=start
        [objectives]
            side=1
            [objective]
                description= _ "See father in Strych"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Visit Boonies"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=2
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Announce victory to parents in Strych"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=3
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Ask for new orders"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=4
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Find a suitable elf (should be somewhere in the north)"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=5
                    [/variable]
            [or]
                    [variable]
                        name=quests.overall
                        equals=6
                    [/variable]
            [/or]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Find the elf in Emants"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=7
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Defeat the troll leader"
                condition=win
                [show_if]
                    [variable]
                        name=quests.emants_seen_trolls
                        equals=yes
                    [/variable]
            [not]
                    [variable]
                        name=quests.emants_defeated_trolls
                        equals=yes
                    [/variable]
            [/not]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Return to Fowleri"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=8
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Visit a party in Ogira"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=9
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "See parents in Strych"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=10
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Save Ogira from the undead"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=11
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Get to Strych to learn what is going on"
                condition=win
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=12
                    [/variable]
                [/show_if]
            [/objective]



            [objective]
                description=_ "Death of Krux"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Acanthamoeba"
                condition=lose
                [show_if]
                    [variable]
                        name=quests.overall
                        not_equals=9
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Acanthamoeba gets hurt"
                condition=lose
                [show_if]
                    [variable]
                        name=quests.overall
                        equals=9
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Death of Antipater"
                condition=lose
                [show_if]
                    [variable]
                        name=quests.overall
                        less_than=14
                    [/variable]
                [/show_if]
            [/objective]
        [/objectives]
    [if]
        [variable]
            name=quests.shown_waypoint_info
            equals=yes
        [/variable]
        [else]
            [event]
                name=waypoint info
                {VARIABLE quests.shown_waypoint_info yes}
                [message]
                    speaker=narrator
                    caption=_"Waypoint"
                    message=_"Waypoint is a device that will allow you to travel quickly between places you've already been to. From any waypoint, you can visit any waypoint you have previously visited. By selecting the area you are already in, you will reload the area."
                [/message]
            [/event]
        [/else]
    [/if]
    [if]
        [variable]
            name=quests.overall
            equals=9
        [/variable]
        [then]
            [event]
                name=attacker hits
                [filter_second]
                    id=Acanthamoeba
                [/filter_second]
                [message]
                    speaker=Acanthamoeba
                    message=_"Oh, no! Your kid is not going to make it!"
                [/message]
                [endlevel]
                    result=defeat
                [/endlevel]
            [/event]
            [event]
                name=defender hits
                [filter]
                    id=Acanthamoeba
                [/filter]
                [message]
                    speaker=Acanthamoeba
                    message=_"Oh, no! Your kid is not going to make it!"
                [/message]
                [endlevel]
                    result=defeat
                [/endlevel]
            [/event]
        [/then]
    [/if]
[/event]

#enddef
