#textdomain wesnoth-loti
#define GUARDIAN_UNIT SIDE TYPE X Y
    [unit]
        side={SIDE}
        type={TYPE}
        x={X}
        y={Y}
        generate_name=yes
        random_traits=yes
        random_gender=yes
        upkeep=full
        ai_special=guardian
    [/unit]
#enddef
[scenario]
    id="01_He_Came_Down_From_The_Mountains"
    name= _ "He Came Down From The Mountains"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/01_Forbidden_Notch.map}"
    next_scenario="02_Into_Our_Frozen_Land"
    victory_when_enemies_defeated=no
    {TURNS 16 15 14}
    {SCENARIO_MUSIC "breaking_the_chains.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_dangerous_symphony.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_king_is_dead.ogg"}

    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
    {MORNING}

    {CHAPTER_TITLE undead_invasion.png 4 "~NOP()" _"<i>I am the new king. For your own good, obey me. As you have seen, I do not need any army for a takeover. This castle is now under my control and disobedience will be punished by death.</i> -Efraim de Ceise, Kingslayer and Tyrant"}

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Help Ekrathan to kill Vlad"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Ekrathan"
                condition=lose
            [/objective]
            [objective]
                description= _ "Destruction of Efraim"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [store_unit]
            variable=Lethalia_store
            [filter]
                id=Lethalia
            [/filter]
            kill=yes
        [/store_unit]
        [store_unit]
            variable=Argan_store
            [filter]
                id=Argan
            [/filter]
            kill=yes
        [/store_unit]
        [store_unit]
            variable=Stormrider_store
            [filter]
                id=Stormrider
            [/filter]
            kill=yes
        [/store_unit]
        [store_unit]
            variable=Delly_store
            [filter]
                id=Delly
            [/filter]
            kill=yes
        [/store_unit]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "But things did not go as they had planned. Before Asheviere's power grew strong enough to rename Wesnoth, a foolish wizard named Delfador, ignorant of the events that had happened behind the scenes, managed to end Asheviere's tyranny. Wesnoth grew strong under king Konrad's reign. Liches were backed to grow in power, to create massive undead armies and invade Wesnoth, but all attempts to invade the country or infiltrate the royal palace ended in failure."
        [/message]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "They could only watch in despair as the Wesnothian kingdom grew in power, stronger and stronger. A final attempt was made, as they helped their old foes the orcs to unite, trying to break down Wesnoth's power to bring about its downfall. This didn't work either, so they decided to set out looking for artefacts of power all over the world, hoping to find a relic strong enough to cause a potent cataclysm that would destroy Wesnoth and prevent the future corruption."
        [/message]
    [/event]

    [side]
        type=Efraim_lich
        id=Efraim
        name= _ "Efraim"
        side=1
        canrecruit=yes
        controller=human
        recruit=
        team_name=Rebels
        unrenamable=yes
        {GOLD 20 10 0}		#Will fund you an extra soldier in the next scenario.
        user_team_name=_"Rebels"
    [/side]
    [side]
        type=Huntsman
        id=Ekrathan
        name= _ "Ekrathan"
        side=2
        canrecruit=yes
        recruit=Woodsman,Poacher,Thug,Footpad,Thief,Ruffian
        team_name=Rebels
        user_team_name=_"Rebels"
        gold=100
        [ai]
            recruitment_pattern=archer,archer,fighter,archer,mixed fighter,archer
            aggression=0.1
            caution=0.9
        [/ai]
        [unit]
            type=Peasant
            id=the_one_who_dared
            x,y=30,23
            generate_name=yes
            random_traits=yes
        [/unit]
        [unit]
            type=Peasant
            id=first_converted
            x,y=13,13
            generate_name=yes
            random_traits=yes
        [/unit]
        [unit]
            type=Peasant
            id=resisted_conversion
            x,y=16,17
            generate_name=yes
            random_traits=yes
        [/unit]
        [unit]
            type=Peasant
            id=scared_one
            x,y=15,6
            generate_name=yes
            random_traits=yes
        [/unit]
    [/side]
    [side]
        id=Vlad
        name= _ "Vlad"
        type=Vampire General
        side=3
        canrecruit=yes
        recruit=Vampire Spearman,Vampire Bowman,Vampire Fencer
        {GOLD 130 170 200}
        random_traits=yes
        team_name=evil
        user_team_name=_"Evil"
    [/side]

    [event]
        name=start
        {GENERIC_UNIT 2 Peasant 26 5}
        {GENERIC_UNIT 2 Peasant 24 8}
        {GENERIC_UNIT 2 Peasant 26 14}
        {GENERIC_UNIT 2 Peasant 32 9}
        {GENERIC_UNIT 2 Peasant 37 9}
        {GENERIC_UNIT 2 Peasant 32 16}
        {GENERIC_UNIT 2 Peasant 29 18}
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "Countless centuries later, somewhere north of Wesnoth."
        [/message]
        {MOVE_UNIT id=Efraim 32 29}
        {MOVE_UNIT id=the_one_who_dared 30 25}
        [message]
            speaker=Efraim
            message= _ "Someone is coming, I better hide."
        [/message]
        {MOVE_UNIT id=Efraim 33 29}
        {MOVE_UNIT id=the_one_who_dared 31 27}
        {MOVE_UNIT id=Vlad 31 26}
        [message]
            speaker=Vlad
            message= _ "What are you doing? Do not go there, you will get us all killed!"
        [/message]
        [message]
            speaker=the_one_who_dared
            message= _ "I am sorry, I thought that I saw someone there, so I wanted to see who it was."
        [/message]
        [message]
            speaker=Vlad
            message= _ "I should kill you for that! The perils that lie there are far worse than death. Do you want to return as a revenant and slaughter everyone in this valley?!"
        [/message]
        [message]
            speaker=the_one_who_dared
            message= _ "I... I... I will never... do it again, my lord. Please, let me live, I have a family..."
        [/message]
        [message]
            speaker=Vlad
            message= _ "That was the last time I saw you approaching there. Are we clear?"
        [/message]
        [message]
            speaker=the_one_who_dared
            message= _ "Thank you, yes my lord. You are a merciful man."
        [/message]
        [message]
            speaker=Vlad
            message= _ "Yes, I am. You are only alive now thanks to my good will."
        [/message]
        [message]
            speaker=the_one_who_dared
            message= _ "Thank you, thank you, thank you..."
        [/message]
        {MOVE_UNIT id=Vlad 14 10}
        {MOVE_UNIT id=Efraim 32 27}
        [message]
            speaker=Efraim
            message= _ "Who was that man?"
        [/message]
        [message]
            speaker=the_one_who_dared
            message= _ "Ah!! Are you the one I just saw in the woods?... Who... who are you?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "My name is Efraim de Ceise, a nobleman from a distant land. Who was that man just now?"
        [/message]
        [message]
            speaker=the_one_who_dared
            message= _ "Lord Vlad, a nobleman who protects this valley. He is a merciful and good man..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Good!? Merciful!? He was considering handing you the death penalty for leaving this land, and you consider him merciful???"
        [/message]
        [message]
            speaker=the_one_who_dared
            message= _ "When someone goes there, a destiny worse than death awaits them. If someone tries to go there, and you can try it at any time, killing him would save him from the terrible perils that lie behind the notch."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Sounds like you are reciting from a bedtime book they have read you as a child... do you really believe that crap?"
        [/message]
        [message]
            speaker=the_one_who_dared
            message= _ "You speak like one of those rangers who dwell to the north-east. They gossip about the nobleman all the time. Maybe being close to the frontier to the Dark Lands is corrupting them. It seems that you have been corrupted just as well."
        [/message]
        [message]
            speaker=Efraim
            message= _ "And you, peasants, should stop behaving like a crowd of the ignorant sheep, obeying every word of a tyrant."
        [/message]
        [message]
            speaker=the_one_who_dared
            message= _ "Ah, go away, fool!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "I will meet the nobles and show you who is right. I will visit those rangers before though... you said they were to the north-east from here, right?"
        [/message]
        [message]
            speaker=the_one_who_dared
            message= _ "I am not speaking to you any more, and I will never come here again!"
        [/message]
        {MOVE_UNIT id=the_one_who_dared 30 21}
        {MOVE_UNIT id=Efraim 42 8}
        [message]
            speaker=Efraim
            message= _ "Greetings, good man. I have come down from the mountains, and I was told that we share the same intentions."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "I have heard about that. I have my scouts in place to ensure nothing escapes my knowledge. Now tell me: how do I know you are not an impostor?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "There is no way to prove it. However, could I help you defeat this kingdom, would that be enough proof for you?"
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "Well, I was considering a takeover of this valley..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Well, then if I am an impostor, it means that the noblemen are after you and you are doomed, so you have to attack as it is the only way to survive. And if I am not, then I will truly help you succeed. Either way, the best idea is to attack now."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "Ah! Clever one, heh? But I understand the meaning behind your words."
        [/message]
        [message]
            speaker=Ekrathan
            message=_ "Men, our time of retribution has come! This is the day of our wrath! Let us show this rabble how much we care for being pushed away from the good lands! To arms. I will lead you to victory!"
        [/message]
        [message]
            speaker=Vlad
            message= _ "That scum is preparing to rise up against us. To arms men! I will grant my power to some of you!"
        [/message]
        {MOVE_UNIT id=Vlad 13 12}
        {MODIFY_UNIT id=Vlad facing s}
        [animate_unit]
            flag=attack
            [filter]
                id=Vlad
            [/filter]
            [filter_second]
                id=first_converted
            [/filter_second]
            [primary_attack]
                range=melee
            [/primary_attack]
            hits=yes
        [/animate_unit]
        {ADVANCE_UNIT id=first_converted "Vampire Spearman"}
        {MODIFY_UNIT id=first_converted side 3}
        [message]
            speaker=first_converted
            message= _ "Thank you, Master."
        [/message]
        {MOVE_UNIT id=Vlad 16 16}
        {MODIFY_UNIT id=Vlad facing n}
        [message]
            speaker=resisted_conversion
            message= _ "Keep your stinking sword away from me!"
        [/message]
        [animate_unit]
            flag=attack
            [filter]
                id=Vlad
            [/filter]
            [filter_second]
                id=resisted_conversion
            [/filter_second]
            [primary_attack]
                range=melee
            [/primary_attack]
            hits=yes
        [/animate_unit]
        [message]
            speaker=resisted_conversion
            message= _ "Argh. I still want you to leave this place and never ret..."
        [/message]
        {ADVANCE_UNIT id=resisted_conversion "Vampire Bowman"}
        {MODIFY_UNIT id=resisted_conversion side 3}
        [message]
            speaker=resisted_conversion
            message= _ "Ah, it is so awesome to be so powerful... Thank you..."
        [/message]
        {MOVE_UNIT id=Vlad 15 7}
        {MODIFY_UNIT id=Vlad facing s}
        [message]
            speaker=scared_one
            message= _ "No, please, leave me... Does it hurt?"
        [/message]
        [animate_unit]
            flag=attack
            [filter]
                id=Vlad
            [/filter]
            [filter_second]
                id=scared_one
            [/filter_second]
            [primary_attack]
                range=melee
            [/primary_attack]
            hits=yes
        [/animate_unit]
        {ADVANCE_UNIT id=scared_one "Vampire Fencer"}
        {MODIFY_UNIT id=scared_one side 3}
        [message]
            speaker=scared_one
            message= _ "It does not..."
        [/message]
        {MOVE_UNIT id=Vlad 14 10}
        [message]
            speaker=Vlad
            message= _ "Kill everyone."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x=1-19
        [/filter]
        {GUARDIAN_UNIT 3 "Vampire Swordsman" 14 10}
        {GUARDIAN_UNIT 3 "Vampire Spearman" 14 10}
        {GUARDIAN_UNIT 3 "Vampire Swordsman" 14 10}
        {GUARDIAN_UNIT 3 "Vampire Spearman" 14 10}
#ifndef EASY
        {GUARDIAN_UNIT 3 "Vampire Swordsman" 14 10}
#endif
#ifdef HARD
        {GUARDIAN_UNIT 3 "Vampire Swordsman" 14 10}
#endif
        [message]
            speaker=Vlad
            message= _ "The enemy is near. Guaaards!"
        [/message]
    [/event]

    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Damn! Reinforcements are coming, I will have to summon undead in order to beat them."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=unit
            message= _ "Argh, after all I have been through... killed by such petty beasts..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Ekrathan
        [/filter]
        [message]
            speaker=unit
            message= _ "You tricked me... you are an impos... tor..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vlad
        [/filter]
        [message]
            speaker=Vlad
            message= _ "Hnghf... others will... avenge me!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Yeah, just let them come to me, it will be easier for me to find them."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "Ah! The clever one spoke true then. I am glad. You have earned my trust. You have also proven yourself to be a magnificent warrior, so we will follow you to victory. Lead us then, clever one!"
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    {VAMPIRISM 3}
    {GLOBAL_EVENTS}
    {DROPS 3 4 (sword,knife) no 3}
    experience_modifier=125
[/scenario]
