#textdomain wesnoth-loti
[scenario]
    id=02_Into_Our_Frozen_Land
    name= _ "Into Our Frozen Land"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/02_Darkbottom_Lake.map}"
    {SCENARIO_MUSIC "breaking_the_chains.ogg"}
    {EXTRA_SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_city_falls.ogg"}
    {TURNS 30 27 25}
    victory_when_enemies_defeated=yes

    {DEFAULT_SCHEDULE}

    next_scenario=03_Revolution_Begins

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Ekrathan"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
    [/event]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Poacher,Thug,Bandit,Trapper,Footpad,Outlaw,Thief,Rogue
        {GOLD 500 450 400}
        income=2
        team_name=good
        user_team_name=_"Good"
        village_gold=2
        [unit]
            id=Ekrathan
            name=Ekrathan
            type=Huntsman
            x,y=22,31
            {IS_HERO}
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
    [/side]
    [side]
        type=Vampire Overlord
        id=Rold
        name=Rold
        canrecruit=yes
        recruit=Vampire Guard,Vampire Master,Vampire Master Bowman
        side=2
        {GOLD 75 100 125}
        team_name=evil
        user_team_name=_"Evil"
    [/side]
    [side]
        type=Vampire Master
        id=Vokun
        name=Vokun
        canrecruit=yes
        recruit=Vampire Duelist,Vampire Longbowman,Vampire Lieutenant,Vampire Swordsman
        side=3
        {GOLD 125 150 175}
        team_name=evil
        user_team_name=_"Evil"
    [/side]
    [side]
        type=Vampire General
        id=Herdoald
        name=Herdoald
        canrecruit=yes
        recruit=Vampire Duelist,Vampire Longbowman,Vampire Lieutenant,Vampire Swordsman
        side=4
        {GOLD 125 150 175}
        team_name=evil
        user_team_name=_"Evil"
    [/side]
    [side]
        type=Death Knight
        id=Undead_boss
        canrecruit=yes
        recruit=
        side=5
        gold=0
        team_name=chaos
        user_team_name=_"Chaos"
        [modifications]
            {TRAIT_LOYAL}
            [object]
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        deep_water={UNREACHABLE}
                    [/movement_costs]
                [/effect]
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_SUBMERGE}
                    [/abilities]
                [/effect]
            [/object]
        [/modifications]
    [/side]
    [story]
        [part]
            background=story/mountains3.jpg
            story= _ "That such a wondrous landscape could be ruled over by such a strain of nobility is perhaps a mystery for poets and philosophers to decipher. The known truth is that the mountains, valleys and clean lakes of this land strike the immortal with such awe, that he could even allow himself the fantasy of being truly alive once more and able to feel the scent of the green grass, the coolness of the breeze, the invigorating touch of fresh water down his throat.
This dream could not be given much time, however, for evil had to be dealt with once more."
        [/part]
    [/story]

    [event]
        name=start
        [message]
            speaker=Efraim
            message= _ "Although the few soldiers that were fighting me were not too much challenge, I can imagine that a larger battalion of them might be able to best me. I cannot stop thinking that some evil power was animating them... and the thought brings back dark memories."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "Indeed... the enemies you faced are not normal humans... I was amazed by your combat abilities. No man I have ever met would hold their ground as you did."
        [/message]
        [message]
            speaker=Efraim
            message= _ "No man can defeat me. They must be something... different."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "Ah! I tend to believe your confident words, clever one, as I have seen you whirl in the battlefield as a blight tornado! They truly do seem to have some dark magic behind them, being able to leech our very vitality from us each time they hit."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Their attacks were somewhat strange... arcane, they felt. Their blades are imbued with some kind of dark energy that drains your vital energy to regenerate their bodies. They are also weakened by daylight, much more than any creatures of the night would be. Furthermore, they can infect others with their own power simply by attacking them. It is similar to the undead plague, but I... know... some necromancy... and it is very different.
The only other possibility that comes to mind is a mythical being I have read about somewhere long ago, in a tome of dark lore: the vampire. A dark creature capable of turning others into their likeness and that drinks blood as food."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "That sounds terrible, vanquisher! Agh! Disgusting! I hope you will lead us to victory, indeed. I do not want these... monstrosities... to walk this land... to exist in this world!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "If I am right about them, I may hope I can defeat them, but I will need your help. There are too many of them for me alone. We must proceed together until we slay their leader. Agreed?"
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "He calls himself 'King', ah! For sure we will help you in this matter, I will send my boys with you. And... I will hang on too. Take good care of us, champion!"
        [/message]
        [message]
            speaker=Vokun
            message= _ "What is this? The cattle revolts? The beasts have decided to attack us. Let us stop this petty rebellion and make an example of them that will last the ages..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Hmm... That lake there is... compelling. I have a feeling I should explore it."
        [/message]
    [/event]

    [event]
        name=enemies defeated
        [message]
            speaker=Efraim
            message= _ "These will trouble the land no more! We need to reach their lair!"
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "Just north of here is their capital, but the King is surely calling for reinforcements, so we must expect to be attacked from all sides."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "But with you among us, we will prevail, hero! Ah! Even if you fall, I will get to the King myself and kill him for your sake! I could then proclaim myself ruler and outlaw this monstrosity! Not bad for a renegade to aspire to, heh?
Let us move, men!"
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "I can see the northern notch overrun by enemies. We will never get through there now... we missed our chance to reach their overlord... or king, whatever."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=unit
            message= _ "This cannot be... Argh... How...?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Ekrathan
        [/filter]
        [message]
            speaker=second_unit
            message= _ "Finally, we have been looking for you for years. Now you are brought to justice and the bounty gold belongs to me."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=moveto
        [filter]
            id=Efraim
            x,y=18-36,5-20
        [/filter]
        [message]
            speaker=Efraim
            message= _ "I hope no one will notice what I have done to the bodies of the countless victims of these creatures that they threw into this lake... Arghak sam'ek tastar mortis emryoklot. Hehehe..."
        [/message]
        {GENERIC_UNIT 5 "Skeleton" 27 12}
        {GENERIC_UNIT 5 "Skeleton" 27 12}
        {GENERIC_UNIT 5 "Skeleton" 27 12}
        {GENERIC_UNIT 5 "Skeleton" 27 12}
        {GENERIC_UNIT 5 "Skeleton Archer" 27 12}
        {GENERIC_UNIT 5 "Skeleton Archer" 27 12}
        {GENERIC_UNIT 5 "Skeleton Archer" 27 12}
        {GENERIC_UNIT 5 "Skeleton Archer" 27 12}
        {GENERIC_UNIT 5 "Deathblade" 27 12}
        {GENERIC_UNIT 5 "Deathblade" 27 12}
        {GENERIC_UNIT 5 "Deathblade" 27 12}
        {GENERIC_UNIT 5 "Deathblade" 27 12}
        {GENERIC_UNIT 5 "Revenant" 27 12}
        {GENERIC_UNIT 5 "Revenant" 27 12}
        {GENERIC_UNIT 5 "Revenant" 27 12}
        {GENERIC_UNIT 5 "Revenant" 27 12}
        {GENERIC_UNIT 5 "Bone Shooter" 27 12}
        {GENERIC_UNIT 5 "Bone Shooter" 27 12}
        {GENERIC_UNIT 5 "Bone Shooter" 27 12}
        {GENERIC_UNIT 5 "Bone Shooter" 27 12}
        {GENERIC_UNIT 5 "Chocobone" 27 12}
        {GENERIC_UNIT 5 "Chocobone" 27 12}
        {GENERIC_UNIT 5 "Chocobone" 27 12}
        {GENERIC_UNIT 5 "Chocobone" 27 12}
    [/event]
    [event]
        name=attack
        [filter]
            side=5
        [/filter]
        [message]
            speaker=Efraim
            message= _ "Hm, I will make sure these mindless undead will not attack us. Tharthagon obte lopardi akh'ta."
        [/message]
        [modify_side]
            side=5
            user_team_name=_"Good"
            team_name=good
        [/modify_side]
    [/event]
    {VAMPIRISM 2}
    {VAMPIRISM 3}
    {VAMPIRISM 4}
    {GLOBAL_EVENTS}
    {DROPS 5 8 (mace,mace,mace,dagger,knife,sword,bow) yes 2,3,4,5}
    experience_modifier=125
[/scenario]
