#textdomain wesnoth-loti
[scenario]
    id=03_Revolution_Begins
    name= _ "Revolution Begins"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/03_Vampiropolis.map}"
    {SCENARIO_MUSIC "breaking_the_chains.ogg"}
    {EXTRA_SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_king_is_dead.ogg"}
    {TURNS 60 57 55}
    victory_when_enemies_defeated=no

#ifdef EASY
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
    {MORNING}
    {AFTERNOON}
#else
    {DEFAULT_SCHEDULE}
#endif
    next_scenario=04_Doomsday_Omens

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Get to the castle at the centre of the city with Efraim"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note=_"No gold will be carried into next scenario."
        [/objectives]
    [/event]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Poacher,Thug,Bandit,Trapper,Footpad,Outlaw,Thief,Rogue
        gold=200
        income=2
        team_name=good
        user_team_name=_"Good"
        village_gold=3
    [/side]
    [side]
        type=Vampire Guard
        id=Karbath
        name=Karbath
        canrecruit=yes
        recruit=Vampire Duelist,Vampire Longbowman,Vampire Lieutenant,Vampire Swordsman
        side=2
        {GOLD 80 100 120}
        team_name=evil
        user_team_name=_"Evil"
        village_gold=1
    [/side]
    [side]
        type=Vampire Master
        id=Kran
        name=Kran
        canrecruit=yes
        recruit=Vampire Duelist,Vampire Longbowman,Vampire Lieutenant,Vampire Swordsman
        side=3
        {GOLD 80 100 120}
        team_name=evil
        user_team_name=_"Evil"
        village_gold=1
    [/side]
    [side]
        type=Vampire General
        id=Krum
        name=Krum
        canrecruit=yes
        recruit=Vampire Duelist,Vampire Longbowman,Vampire Lieutenant,Vampire Swordsman
        side=4
        {GOLD 80 100 120}
        team_name=evil
        user_team_name=_"Evil"
        village_gold=1
    [/side]

    [side]
        type=Vampire Master Bowman
        id=Krakor
        name=Krakor
        canrecruit=yes
        recruit=Vampire Duelist,Vampire Longbowman,Vampire Lieutenant,Vampire Swordsman
        side=5
        {GOLD 80 100 120}
        team_name=evil
        user_team_name=_"Evil"
        village_gold=1
    [/side]
    [side]
        type=Vampire Overlord
        id=Karkus
        name=Karkus
        canrecruit=yes
        recruit=Vampire Guard,Vampire Master,Vampire Master Bowman
        side=6
        {GOLD 80 100 120}
        team_name=evil
        user_team_name=_"Evil"
        village_gold=1		 # Village gold 2 would mean 3 level 4 vamps per turn.
    [/side]
    [side]
        no_leader=yes
        side=7
        team_name=evil
        user_team_name=_"Evil"
    [/side]
    [side]
        no_leader=yes
        side=8
        team_name=evil
        user_team_name=_"???"
    [/side]
    {STARTING_VILLAGES 6 56}
    [event]
        name=start
        [recall]
            id=Ekrathan
        [/recall]

#ifdef EASY
        {GUARDIAN_UNIT 7 "Vampire Swordsman" 20 4}
        {GUARDIAN_UNIT 7 "Vampire Swordsman" 23 5}
        {GUARDIAN_UNIT 7 "Vampire Swordsman" 24 5}
        {GUARDIAN_UNIT 7 "Vampire Swordsman" 25 6}
        {GUARDIAN_UNIT 7 "Vampire Swordsman" 26 6}
        {GUARDIAN_UNIT 7 "Vampire Swordsman" 30 6}
        {GUARDIAN_UNIT 7 "Vampire Swordsman" 31 6}
#else
        {GUARDIAN_UNIT 7 "Vampire Guard" 20 4}
        {GUARDIAN_UNIT 7 "Vampire Guard" 23 5}
        {GUARDIAN_UNIT 7 "Vampire Guard" 24 5}
        {GUARDIAN_UNIT 7 "Vampire Guard" 25 6}
        {GUARDIAN_UNIT 7 "Vampire Guard" 26 6}
        {GUARDIAN_UNIT 7 "Vampire Guard" 30 6}
        {GUARDIAN_UNIT 7 "Vampire Guard" 31 6}
#endif
#ifndef HARD
        {GUARDIAN_UNIT 7 "Vampire Swordsman" 31 5}
        {GUARDIAN_UNIT 7 "Vampire Swordsman" 33 3}
        {GUARDIAN_UNIT 7 "Vampire Swordsman" 34 2}
        {GUARDIAN_UNIT 7 "Vampire Swordsman" 18 1}
        {GUARDIAN_UNIT 7 "Vampire Swordsman" 18 2}
        {GUARDIAN_UNIT 7 "Vampire Swordsman" 19 4}
#else
        {GUARDIAN_UNIT 7 "Vampire Guard" 31 5}
        {GUARDIAN_UNIT 7 "Vampire Guard" 33 3}
        {GUARDIAN_UNIT 7 "Vampire Guard" 34 2}
        {GUARDIAN_UNIT 7 "Vampire Guard" 18 1}
        {GUARDIAN_UNIT 7 "Vampire Guard" 18 2}
        {GUARDIAN_UNIT 7 "Vampire Guard" 19 4}
#endif
        {MODIFY_UNIT id=Ekrathan canrecruit yes}
        [message]
            speaker=Efraim
            message= _ "Ah... the dark hunters surface from behind their human masks. It seems he called for heavy reinforcements from the ranks of their kind."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "This does not bode well... We will never defeat them! Not even you can slash through so many!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "There are many kinds of defeat and victory. If we were to eradicate them all suddenly, what would be of the subjugated humans who have never known a free moment in their lives? Dark as they are, they were keeping some kind of order here. If we remove it too quickly, chaos will follow among the slave-minded human minions. Directionless and insecure, they would just kill each other over scraps. Our swift victory here might become an even worse defeat than the existence of their dark tyranny."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "Ahahaha! You are the clever one indeed! Ah!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Since you have given me that title, I should live up to it, do you agree?"
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "Eheh! It was not given in vain! Your cleverness - and your battle skills - may be my people's only hope! What is your plan, then, clever one?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "I suppose the best option would be to kill their leader and replace him. I would be the most suitable candidate for leading them from there. They fear me, so they would obey. And then I could slowly replace their vampiric nobility with some of your people. After some time, I would hand over the throne to a responsible enough human."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "Clever and selfless, eh? You never fail to surprise me! Why would one of your might and wisdom disagree to be a king? You have proven that you would rule us well!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "I have my own goals, and ruling this land is not one of them. Still, I want to help you and I will do what is necessary... It also happens that helping you will help me too, so I help."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "Clever, selfless and pragmatic! Come now, we have fought together and have a level of trust between us. Tell me about you! What is your objective? Maybe we can help you once this is all over!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "My name is Efraim de Ceise. I prefer not to talk about my goals."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "...de Ceise... I have read about you somewhere. It was... an old history book, I think. But I cannot remember what it told about you. And... wait, wait... it was a tale of millennia ago."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Yes, it has been a long time. I cannot remember the details well, either."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "One cannot live so long... not even you..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I had said before that I am not a normal man."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "You have me worried here... Then what are you?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Again, I would prefer not to talk about it."
        [/message]
        [message]
            speaker=Kran
            message= _ "The rebels seem to be getting stuck an a lengthy chat. Let us use this advantage and attack them."
        [/message]
        [message]
            speaker=Karkus
            message= _ "Attack, men. And thank you boys for coming."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "They are on the move! We must go! I will try to lure them away from you to let you get there. If I die, I will die like a hero... although I would prefer to hear the rest of your story one day!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "I too prefer that you survive through this... do not be foolhardy."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "I do not see it as positively as you do. I have estimated your strength, but I found it insufficient. You fight like ten men, that might allow you to survive this, but it will not guarantee the victory."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I have a trump up my sleeve. I do care to be unpredictable and keep a reserve of new tricks. Most enemies are less unpredictable than me, so be glad you have me on your side, not standing against you. My unpredictability will save..."
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "While you are lost in thought, I would like to remind you that we say <i>ace up my sleeve</i>."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Ah, yes, <i>ace</i>. Thank you. Trump was a bad choice. But rather than mindlessly trumping up I have anticipated the result: We will overtrump this benighted ass as I am an ace as for unpredictability, as said already! Watch me!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Sons of battle and victory, come from far beyond time, let the fire burn in your hearts forever so that our world shall never die!"
        [/message]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "You may now recall two units from the previous chapter."
        [/message]
	{RECALL_FROM_VARIABLE Valhalla 23 32}
	{RECALL_FROM_VARIABLE Valhalla 23 32}
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "Ekrathan's death is not a lose condition in this scenario, but he can recruit units as well as long as he is alive."
        [/message]
    [/event]

    [event]
	name=turn 2
	{GENERIC_UNIT 8 "Black Army Swordsman" 5 26}
	{GENERIC_UNIT 8 "Black Army Pikeman" 43 26}
	{GENERIC_UNIT 8 "Black Army Bowman" 43 6}
	{GENERIC_UNIT 8 "Black Army Mage" 2 2}
    [/event]

    [event]
	name=attack
	[filter]
		side=8
	[/filter]
        [message]
            speaker=second_unit
            message= _ "Who are these armoured freaks? They seem human, but they wear scary armour and are helping our enemies. And they are incredibly tough!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "I have no idea!"
        [/message]
        [message]
            speaker=Ekrathan
            message= _ "I have never seen them before!"
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Efraim
            x,y=25-29,1-2
        [/filter]
        [message]
            speaker=Efraim
            message= _ "I wonder if these beasts could be used to finally destroy the Wesnothian Empire."
        [/message]
        [store_unit]
	    [filter]
	            side=1
        	    [not]
                	id=Efraim
	            [/not]
	    [/filter]
            variable=prevamp_store
            kill=yes
        [/store_unit]
        [endlevel]
            result=victory
            bonus=no
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "I see the King fleeing from the castle and summoning more reinforcements. We are doomed now!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=unit
            message= _ "Argh, killed by this scum..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Ekrathan
        [/filter]
        [message]
            speaker=second_unit
            message= _ "Finally, we have been looking for you for years. Now you are brought to justice and the bounty gold is mine."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Rest in peace, friend. You will not go unavenged for too long."
        [/message]
        [message]
            speaker=second_unit
            message= _ "We shall lock you up in a dungeon. You will be wishing you were dead!"
        [/message]
	[store_unit]
		[filter]
			id=Ekrathan
		[/filter]
		variable=Ekrathan_store
		kill=yes
	[/store_unit]
        [message]
            speaker=Efraim
            message= _ "I will free you, do not worry."
        [/message]
    [/event]

    {VAMPIRISM 2}
    {VAMPIRISM 3}
    {VAMPIRISM 4}
    {VAMPIRISM 5}
    {VAMPIRISM 6}
    {VAMPIRISM 7}
    {GLOBAL_EVENTS}
    {DROPS 5 8 (mace,mace,mace,dagger,knife,sword,bow) yes 2,3,4,5,6,7,8}
    experience_modifier=125
[/scenario]
