#textdomain wesnoth-loti
[scenario]
    id=04_Doomsday_Omens
    name= _ "Doomsday Omens"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/04_Near_Keshars_Cave.map}"
    {SCENARIO_MUSIC "elf-land.ogg"}
    {EXTRA_SCENARIO_MUSIC "into_the_shadows.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_deep_path.ogg"}
    {TURNS 30 27 25}
    victory_when_enemies_defeated=no
    [time_area]
        x=0-44
        y=0-18
        {UNDERGROUND}
    [/time_area]
    {DEFAULT_SCHEDULE}
    next_scenario=05_Meeting_of_the_Ancients

    [story]
        [part]
            background=maps/wesnoth.png
            show_title=yes
            {NEW_BATTLE 458 263}
            story= _ "Meanwhile, elsewhere..."
        [/part]
    [/story]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Reach one of the northern borders of the caves"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Lethalia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
    [/event]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        shroud=yes
        controller=human
        recruit=
        {GOLD 150 125 100}
        income=2
        team_name=good
        user_team_name=_"Good"
        village_gold=2
    [/side]
    [side]
        type=Elvish Lord
        id=allied_elf
        generate_name=yes
        canrecruit=yes
        recruit=
        side=2
        gold=0
        team_name=good
        user_team_name=_"Good"
        village_gold=1
        ai_special=guardian
    [/side]
    [side]
        type=Ancient Lich
        id=Kal-Kartha
        name=Kal-Kartha
        canrecruit=yes
#ifndef HARD
        recruit=Ghoul,Necrophage,Skeleton,Soulless,Skeleton Archer,Bone Shooter,Revenant,Deathblade,Ghost,Wraith
#else
        recruit=Ghoul,Necrophage,Skeleton,Soulless,Skeleton Archer,Bone Shooter,Revenant,Deathblade,Ghost,Wraith,Ghast,Spectre,Draug,Banebow,Lich
#endif
        side=3
        {GOLD 200 250 300}
        {INCOME 10 15 20}
        team_name=evil
        user_team_name=_"Evil"
        village_gold=2
    [/side]
    [side]
        type=Necromancer
        id=necro
        generate_name=yes
        random_traits=yes
        random_gender=yes
        canrecruit=yes
        recruit=Ghost,Wraith,Spectre,Dark Adept,Dark Sorcerer,Necromancer,Lich
        side=4
        gold=0
        {AI_OVERHAUL_PLACE_2 4}
        {INCOME 10 15 20}
        team_name=evil
        user_team_name=_"Evil"
        village_gold=2
    [/side]

    [side]
        type=Lich
        id=Mal Tohovela
        name=Mal Tohovela
        canrecruit=yes
        recruit=Draug,Spectre
        side=5
        {AI_OVERHAUL_PLACE_2 5}
        gold=0
        {INCOME 10 15 20}
        team_name=evil
        user_team_name=_"Evil"
        village_gold=2
    [/side]
    [side]
        type=Lich
        id=Mal Takasiprd
        name=Mal Takasiprd
        canrecruit=yes
        recruit=Ghoul,Necrophage,Skeleton,Soulless,Skeleton Archer,Bone Shooter,Revenant,Deathblade,Ghost,Wraith
        side=6
        gold=0
        {INCOME 10 15 20}
        team_name=evil
        user_team_name=_"Evil"
        village_gold=2
    [/side]
    {STARTING_VILLAGES 1 16}
    [event]
        name=start
        [unstore_unit]
            variable=Lethalia_store
            find_vacant=yes
            x,y=40,41
        [/unstore_unit]
        [store_unit]
            variable=Efraim_store
            [filter]
                id=Efraim
            [/filter]
            kill=yes
        [/store_unit]
        {GUARDIAN_UNIT 2 "Elvish Captain" 35 42}
        {GUARDIAN_UNIT 2 "Elvish Hero" 37 43}
        {GUARDIAN_UNIT 2 "Elvish Shyde" 34 42}
        {GUARDIAN_UNIT 2 "Elvish Ranger" 41 39}
        {GUARDIAN_UNIT 2 "Elvish Marksman" 44 43}
        {GUARDIAN_UNIT 2 "Elvish Archer" 39 27}
        {GUARDIAN_UNIT 2 "Elvish Fighter" 33 25}
        {GUARDIAN_UNIT 2 "Elvish Champion" 17 26}
        {GUARDIAN_UNIT 2 "Elvish Sorceress" 21 32}
        [unit]
            id=Overlord_counsellor
            x,y=38,40
            type=Elvish Overlord
            generate_name=yes
            random_traits=yes
            side=1
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [unit]
            id=Gryphon_counsellor
            x,y=17,44
            type=Elvish Gryphon Rider
            generate_name=yes
            gender=female
            random_traits=yes
            side=1
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [unit]
            id=Archer_counsellor
            x,y=38,41
            type=Elvish Nightprowler
            gender=male
            generate_name=yes
            random_traits=yes
            side=1
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        {UPDATE_ATTACKS 38 40}
        {UPDATE_ATTACKS 17 44}
        {UPDATE_ATTACKS 38 41}
        [message]
            speaker=Lethalia
            message= _ "Why do you propose us to exterminate the undead lurking in these caves, even though they are not attacking us?"
        [/message]
        [message]
            speaker=allied_elf
            message= _ "See the bigger picture, sweetie. They are not focused on us, no, but orcs have settlements not far from here, and we have seen small groups of undead attacking them before. If whoever is animating them decides to send a larger horde against the orcs, we would be caught in between and they would no doubt overwhelm us."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "A necromancer who loathes the orcs more than anything and seeks their destruction specifically, instead of just attacking anything alive to expand the army of undead? It certainly reminds me of one story."
        [/message]
        [message]
            speaker=allied_elf
            message= _ "I have never heard of a necromancer fighting for any cause even remotely just, cutie."
        [/message]
        [message]
            speaker=Overlord_counsellor
            message= _ "That is perhaps because you are not as savvy in ancient legends as I am."
        [/message]
        [message]
            speaker=allied_elf
            message= _ "Indeed I did not devote myself to study too much of long dead tales and rumours. My time was better applied to useful knowledge."
        [/message]
        [message]
            speaker=Overlord_counsellor
            message= _ "Ancient lore is not for everyone and its usefulness is only clear to a few. I am trying to recall his name... Mali... the rest evades me... Mal-Ikesh? No..."
        [/message]
        [message]
            speaker=Archer_counsellor
            message= _ "Malin Keshar. He was expelled from a college of wizards and made his way back home, only to find a merciless group of orcs slaughtering the people of his town. A necromancer then arrived and pushed back the orcs, saving the town. Malin was so impressed by his ability to counter the orcish threat, that he asked to be instructed in that same power, so that he could also protect his people. His plea was accepted and he spent some time learning the dark arts from his new necromancer master. Hm, his name was Dhar..."
        [/message]
        [message]
            speaker=Overlord_counsellor
            message= _ "Darken Folk. When the next orcish raid happened, Malin used his knowledge to raise some zombies to protect the people but was banished from the town by the very ones he was trying to protect. The town's simple-minded folk could not accept the use of such dark tricks even though it would keep them from destruction. Darken Volk took pity on him and took him in as a permanent apprentice, if I can call that pity. He taught him necromancy to perfection, until such time as the master felt him ready to assist him in a long desired personal quest."
        [/message]
        [message]
            speaker=Overlord_counsellor
            message= _ "So, together they attacked a library to steal a book containing instructions on how to become a lich. Satisfied by the possession of his prize, Darken dismissed Malin, whom had exhausted his usefulness. Malin understood his former master's dishonesty and would not accept being wronged in such way without vengeance. After a clash of their armies, one of Malin's skeletons decapitated Darken and won the battle. Malin took the book, became a lich, and since then he devotes his existence to attacking the orcs in the dark and deep places of the world."
        [/message]
        [message]
            speaker=allied_elf
            message= _ "Not doubting your knowledge of the ancient tales, do you all believe it is Malin Keshar who is commanding these undead against the orcs?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "My intuition says so."
        [/message]
        [message]
            speaker=allied_elf
            message= _ "If you are right, honey, we face a powerful adversary. A powerful adversary the authorities prefer to neglect because he helps them avoid orcish overpopulation and maintain peace."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I am not afraid of him, he is but a lesser lich."
        [/message]
        {MOVE_UNIT id=Gryphon_counsellor 40 42}
        [message]
            speaker=Gryphon_counsellor
            message= _ "Letha, one of us is missing, we lost sight of Alothan! And I bring terrible news−"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Do not call me that! I have a proper name! And what news can be terrible? We all know that most evil is usually also good for something!"
        [/message]
        [message]
            speaker=Gryphon_counsellor
            message= _ "My apologies. The news I bring are from the Wesnothian Empire. One of their Arch-Mages developed a few very powerful new magical techniques. It seems they are able to, for instance, unite their powers to cast a really powerful enchantment that could be used to - I overheard him say - 'lift an entire castle with the rock under it, and make it float forever' or to 'make a stone shine like a star for eternity'. By themselves these techniques are dangerous enough, but if they ever combine these two enchantments..."
        [/message]
        [message]
            speaker=Overlord_counsellor
            message= _ "This is truly terrible. It takes only one idiot in power to consider it a good idea and the king will surely decide in favour of such madness to become a legendary ruler, while the whole world is devastated."
        [/message]
        [message]
            speaker=Archer_counsellor
            message= _ "Indeed... And we can take it for granted, that those boot-licking chowder heads at the royal court will no longer heed elvish counsel! What do you suggest?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Well, we need some time, for this can not be prepared overnight."
        [/message]
        [message]
            speaker=allied_elf
            message= _ "What about this Mal lich threat, my dear? Maybe we should focus on the threat at hand?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Mal or Malin Keshar. I believe that he simply abbreviated his given name and other liches started using it as a title of honour... And I think we shall help you, but we shall not kill Malin. He might be important in our quest to prevent... a horrible thing... from happening."
        [/message]
        [message]
            speaker=allied_elf
            message= _ "What horrible thing, beautiful?"
        [/message]
        [message]
            speaker=Archer_counsellor
            message= _ "Could you please stop flirting with her? We are trying to discuss things."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I would prefer not to speak about that... ehm, horrible thing, my love. You should have noticed that we all took care not to mention it, as words have power. Still, it will not kill you nor harm you, so remain calm."
        [/message]
        [message]
            speaker=allied_elf
            message= _ "Fine, then. I will let you use some of my soldiers and supplies and take care of the undead problem. I do not want a beautiful and intelligent woman like you to die in that cave."
        [/message]
        [message]
            speaker=Archer_counsellor
            message= _ "Perish the thought! She should not waste valuable time chasing a mythical being! But as usual, she turns a deaf ear to my counsel and throws caution to the winds..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I cannot always please everyone. (winks playfully at the Elvish Lord)"
        [/message]
        [disallow_recruit]
            side=1
            type=Poacher,Thug,Bandit,Trapper,Footpad,Outlaw,Thief,Rogue
        [/disallow_recruit]
        [allow_recruit]
            side=1
            type=Elvish Archer,Elvish Fighter,Elvish Scout,Elvish Shaman,Elvish Marksman,Elvish Ranger,Elvish Hero,Elvish Captain, Elvish Rider,Elvish Druid,Elvish Sorceress,Elvish Lord
        [/allow_recruit]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            y=1-2
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "Let us proceed deeper into the caves."
        [/message]
        [message]
            speaker=Archer_counsellor
            message= _ "And we shall see if it is indeed Malin Keshar who is hiding inside."
        [/message]
        [unstore_unit]
            variable=Efraim_store
            x=recall
            y=recall
        [/unstore_unit]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Lethalia
            message= _ "Damned! I guess we had to hurry."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=unit
            message= _ "Oh, no, I do not have time for this."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            y=1-17
        [/filter]
        [message]
            speaker=unit
            message= _ "Interesting cave system. Dwarves must have had mines here. I wonder where those railways go."
        [/message]
        [gold]
            side=5
            amount=100
        [/gold]
        [gold]
            side=6
            amount=100
        [/gold]
        [gold]
            side=7
            amount=100
        [/gold]
    [/event]
    [event]
        name=attack
        [filter]
            side=3,4,5,6
        [/filter]
        [message]
            speaker=second_unit
            message= _ "We are being attacked."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I guess the undead can sense that something is going to happen."
        [/message]
    [/event]
    {DROPS 5 6 (sword,bow,staff,axe) yes 3,4,5,6}
    {GLOBAL_EVENTS}
    experience_modifier=125
[/scenario]
