#textdomain wesnoth-loti
[scenario]
    id=06_Castle_of_the_Wicked
    name= _ "Castle of the Wicked"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/06_Vampiropolis_Castle.map}"
    {SCENARIO_MUSIC "breaking_the_chains.ogg"}
    {EXTRA_SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC "underground.ogg"}
    {TURNS 27 25 23}
    victory_when_enemies_defeated=no

    next_scenario=07_Nemesis

    [time]
        id=dark_indoors
        name= _ "Indoors"
        image=misc/schedule-indoors.png
        lawful_bonus=-25
        red=-45
        green=-35
        blue=-10
    [/time]
    [story]
        [part]
            story= _ "Back to Efraim's adventure."
        [/part]
    [/story]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Reach the northern border of the map"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
    [/event]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=
        gold=0
        shroud=yes
        income=-2
        team_name=good
        user_team_name=_"Good"
        village_gold=2
    [/side]
    [side]
        type=Vampire General
        name=_"You Should Not Be Able To See This Guy"
        canrecruit=yes
        recruit=Vampire Assassin
        side=2
        gold=0
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 2}
    [/side]
    [side]
        no_leader=yes
        side=3
        {AI_OVERHAUL_PLACE_2 3}
        team_name=evil
        user_team_name=_"Evil"
    [/side]
    [event]
        name=start

        {GUARDIAN_UNIT 2 "Vampire Guard" 14 29}
        {GUARDIAN_UNIT 2 "Vampire Guard" 10 27}
        {GUARDIAN_UNIT 2 "Vampire Guard" 14 24}
        {GUARDIAN_UNIT 2 "Vampire Guard" 2 30}
        {GUARDIAN_UNIT 2 "Vampire Guard" 7 24}
        {GUARDIAN_UNIT 2 "Vampire Guard" 5 20}
        {GUARDIAN_UNIT 2 "Vampire Guard" 15 19}
        {GUARDIAN_UNIT 2 "Vampire Guard" 8 14}
        {GUARDIAN_UNIT 2 "Vampire Guard" 13 19}
        {GUARDIAN_UNIT 2 "Vampire Guard" 13 12}
        {GUARDIAN_UNIT 2 "Vampire Guard" 16 6}
        {GUARDIAN_UNIT 2 "Vampire Guard" 11 1}
        {GUARDIAN_UNIT 2 "Vampire Guard" 4 9}
        {GUARDIAN_UNIT 2 "Vampire Guard" 6 14}
        {GUARDIAN_UNIT 2 "Vampire Guard" 4 26}
        {GENERIC_UNIT 2 "Vampire Assassin" 14 13}
#ifndef EASY
        {GUARDIAN_UNIT 2 "Vampire Guard" 8 21}
        {GUARDIAN_UNIT 2 "Vampire Guard" 16 11}
        {GENERIC_UNIT 2 "Vampire Guard" 12 2}
#endif
#ifdef HARD
        {GUARDIAN_UNIT 2 "Vampire Guard" 10 9}
#endif

        [message]
            speaker=Efraim
            message= _ "Seems their project to replace the floor will be jeopardised... but wait, there are too many enemies. I should use a little trick Lethalia taught me."
        [/message]
	[fire_event]
		name=make_doppelganger
		[primary_unit]
			id=Efraim
		[/primary_unit]
	[/fire_event]
        [message]
            speaker=Efraim
            message= _ "I will try it once more in a while."
        [/message]
    [/event]

    [event]
	name=turn 2
	[fire_event]
		name=make_doppelganger
		[primary_unit]
			id=Efraim
		[/primary_unit]
	[/fire_event]
        [message]
            speaker=Efraim
            message= _ "I will try it once more in a while."
        [/message]
    [/event]

    [event]
	name=turn 3
	[fire_event]
		name=make_doppelganger
		[primary_unit]
			id=Efraim
		[/primary_unit]
	[/fire_event]
    [/event]

    [event]
	name=moveto
	[filter]
		side=1
		x,y=1-20,15-25 # TODO - set the right coordinates, also to the units
	[/filter]
	[unit]
		type=The Prince
		id=The Prince
		name=_"The Prince"
		x,y=10,19
		{IS_HERO}
		side=3
	[/unit]
	{GENERIC_UNIT 3 "Black Army Pikeman" 10 19}
	{GENERIC_UNIT 3 "Black Army Pikeman" 10 19}
	{GENERIC_UNIT 3 "Black Army Swordsman" 10 19}
	{GENERIC_UNIT 3 "Black Army Bowman" 10 19}
	{GENERIC_UNIT 3 "Black Army Mage" 10 19}
	{GENERIC_UNIT 3 "Black Army Mage" 10 19}
#ifndef EASY
	{GENERIC_UNIT 3 "Black Army Pikeman" 10 19}
	{GENERIC_UNIT 3 "Black Army Bowman" 10 19}
#endif
#ifdef HARD
	{GENERIC_UNIT 3 "Black Army Pikeman" 10 19}
	{GENERIC_UNIT 3 "Black Army Bowman" 10 19}
#endif
        [message]
            speaker=The Prince
            message= _ "Efraim de Ceise, bastard son of Krux de Rais and revered slayer of vampires. I have found you at last."
        [/message]
        [message]
            speaker=Efraim
            message= _ "You were looking for me? Conscience-smitten? A hangover and the blues after excessive blood drinking? Well, sure, I will put an end to it!"
        [/message]
        [message]
            speaker=The Prince
            message= _ "No, no! I did not touch a drop! Why should I feel guilty? ... Oh, you assume me to be the lord of the castle! Nah, I am just a guest here. The ruler of this kingdom and I do not share the same taste for drinks but a common enemy, you know."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Pardon. Let me pass, would you. I am in a hurry. Pressing matters require my— Say, how come you know my name? Have we met before?"
        [/message]
        [message]
            speaker=The Prince
            message= _ "We had a mutual acquaintance. A harlot. Afraid she died at my hand."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Oh well, that is alright. What do I care about a woman of obscure origin? I have a wonderful wife!"
        [/message]
        [message]
            speaker=The Prince
            message= _ "That is the very one! The loose dame I am talking about, lady F."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Who might that be? I am failing to understand. I have never wenched with some promiscuous F-women! Now, cut that mystery mongering, I do have other fish to fry!"
        [/message]
        [message]
            speaker=The Prince
            message= _ "She has not told you? Are you really so naïve to think that her parents named her <i>Lethalia</i>?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "I am not, you whistleblower. She herself adopted this name. For what reason does not matter, it is surely none of <i>your</i> business! I like and respect her for what she is, I do not care who or what she was a hundred years before my time, just so you know! Now, do not dare to bad-mouth my lady!"
        [/message]
        [message]
            speaker=The Prince
            message= _ "When did your father die?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "What the heck has he got to do with this? He lost his life when I was a child, in a rebellion against his family. Enough already!."
        [/message]
        [message]
            speaker=The Prince
            message= _ "That is what you think. I am not even certain if your begetter is really gone."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Why, yes! He became a lich! Am I wrong, you filthy tongue? Someone ought to cut you throat! What reminds me of my mission..."
        [/message]
        [message]
            speaker=The Prince
            message= _ "Old Krux did not give up his spirit, but became some sort of ghost, very human-like – capable to wander around them without being noticed."
        [/message]
        [message]
            speaker=Efraim
            message= _ "That is outrageous! How do you know that? But of course, you are my spooky father's lackey, right? Well, give my regards to him and get lost now!"
        [/message]
        [message]
            speaker=The Prince
            message= _ "Go easy, boy! Never met your old man, but I found his autobiography. Or more precisely a message to his future self, in case he should lose his memory or something. I discovered his secret vault."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Give that book to me!"
        [/message]
        [message]
            speaker=The Prince
            message= _ "Never! Not even over my dead body! I do not carry it around with me, it is well-guarded out of harm's way. So I did arouse your curiosity after all, right? Well, it matters not. Because now, you will die."
        [/message]
        [message]
            speaker=Efraim
            message= _ "What you arouse is my disgust! And just in case you lied about my father's memoirs, I would like to give you a foretaste of my dreaded anger!"
        [/message]
    [/event]

    [event]
	name=last breath
	[filter]
		id=The Prince
	[/filter]
        [message]
            speaker=The Prince
            message= _ "Whoa there, you have what it takes! You are stronger than that fancy woman. Even without the help of a proper army... How unfortunate for you that I have this potion that allows me to make a quick getaway. Our next encounter will be the last one!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Because you will be bleeding to death under my boots."
        [/message]
        [message]
            speaker=The Prince
            message= _ "I admire the height of your self-esteem."
        [/message]
        {MOVE_UNIT id="The Prince" 12 2}
	[kill]
		id=The Prince
		fire_event=no
		animate=no
	[/kill]
        [message]
            speaker=Efraim
            message= _ "Come back, you coward!"
        [/message]
    [/event]

    [event]
        name=turn 5
        [message]
            speaker=Efraim
            message= _ "I had better try to fight the vampires in the lit areas, they are much weaker there."
        [/message]
        {GENERIC_UNIT 2 "Vampire Iron Mauler" 12 2}
        {GENERIC_UNIT 2 "Vampire Assassin" 12 2}
#ifndef EASY
        {GENERIC_UNIT 2 "Vampire Shock Trooper" 12 2}
#endif
#ifdef HARD
        {GENERIC_UNIT 2 "Vampire Spearman" 12 2}
#endif
    [/event]
    [event]
        name=turn 8
        {GENERIC_UNIT 2 "Vampire Shock Trooper" 12 2}
        {GENERIC_UNIT 2 "Vampire Assassin" 12 2}
#ifndef EASY
        {GENERIC_UNIT 2 "Vampire Longbowman" 12 2}
#endif
#ifdef HARD
        {GENERIC_UNIT 2 "Vampire Spearman" 12 2}
#endif
    [/event]
    [event]
        name=turn 11
        {GENERIC_UNIT 2 "Vampire Longbowman" 12 2}
        {GENERIC_UNIT 2 "Vampire Assassin" 12 2}
#ifndef EASY
        {GENERIC_UNIT 2 "Vampire Spearman" 12 2}
#endif
#ifdef HARD
        {GENERIC_UNIT 2 "Vampire Master Bowman" 12 2}
#endif
    [/event]
    [event]
        name=turn 14
        {GENERIC_UNIT 2 "Vampire Duelist" 12 2}
        {GENERIC_UNIT 2 "Vampire Assassin" 12 2}
#ifndef EASY
        {GENERIC_UNIT 2 "Vampire Spearman" 12 2}
#endif
#ifdef HARD
        {GENERIC_UNIT 2 "Vampire Longbowman" 12 2}
#endif
    [/event]
    [event]
        name=turn 17
        {GENERIC_UNIT 2 "Vampire Guard" 12 2}
        {GENERIC_UNIT 2 "Vampire Assassin" 12 2}
#ifndef EASY
        {GENERIC_UNIT 2 "Vampire Duelist" 12 2}
#endif
#ifdef HARD
        {GENERIC_UNIT 2 "Vampire Spearman" 12 2}
#endif
    [/event]
    [event]
        name=moveto
        [filter]
            id=Efraim
            y=1-2
        [/filter]
        [message]
            speaker=Efraim
            message= _ "Let us see who the evil King is."
        [/message]
        [endlevel]
            result=victory
            bonus=no
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "I can hear the King fleeing the castle."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=unit
            message= _ "Argh, I did not want this to happen."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 5 6 (sword,knife) no 2}
    {GLOBAL_EVENTS}
    experience_modifier=125
[/scenario]
