#textdomain wesnoth-loti
[scenario]
    id=09_The_First_Blow
    name= _ "The First Blow"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/09_Orcish_Land.map}"
    {SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC "northern_mountains.ogg"}
    {EXTRA_SCENARIO_MUSIC "legends_of_the_north.ogg"}
    {TURNS 25 23 21}
    {DEFAULT_SCHEDULE}

    next_scenario=10_Dealing_with_Trolls
    disallow_recall=yes
    [story]
        [part]
            background=maps/wesnoth.png
            show_title=yes
            {OLD_BATTLE 458 263}
            {OLD_BATTLE 465 255}
            {OLD_JOURNEY 431 238}
            {OLD_JOURNEY 397 221}
            {OLD_JOURNEY 364 205}
            {OLD_JOURNEY 330 188}
            {OLD_BATTLE 295 171}
            {NEW_JOURNEY 283 159}
            {NEW_JOURNEY 271 147}
            {NEW_BATTLE 260 135}
            story= _ "Next, she proceeded into the centre of the orcish lands. A legendary orcish warrior and shaman named Gruzgob lived there, together with a lot of other important orcs. Ravaging this land would not only bring more undead to her army, but also internal squabbles would prevent the orcs from helping the Empire in the final battle."
        [/part]
    [/story]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Lethalia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        [store_unit]
            variable=Efraim_store
            [filter]
                id=Efraim
            [/filter]
            kill=yes
        [/store_unit]
        {VARIABLE recall_count 70}
        [while]
            [variable]
                name=recall_count
                greater_than=1
            [/variable]
            {VARIABLE_OP recall_count add -1}
            [do]
                [recall]
                    race=undead
		    [not]
			type=Efraim_doppelganger
		    [/not]
                [/recall]
            [/do]
        [/while]
        {CLEAR_VARIABLE recall_count}
    [/event]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=
        gold=0
        income=2
        team_name=good
        user_team_name=_"Good"
        village_gold=1		#The undead are supposed to be loyal, so the earning from this scenario would be really crazy.
    [/side]
    [side]
        type=Orcish Warmonger
        name=_"Gruzgob the Great"
        id=Gruzgob
        canrecruit=yes
        recruit=Orcish Grunt,Orcish Warrior,Orcish Assassin,Orcish Slayer,Orcish Archer,Orcish Crossbowman,Wolf Rider,Goblin Knight,Orcish Warlord,Orcish Slurbow,Direwolf Rider,Troll Whelp,Troll,Troll Warrior
        side=2
        {GOLD 800 1000 1200}
        income=70
        [ai]
            recruitment_pattern=scout,fighter,archer,mixed fighter
        [/ai]
        {AI_OVERHAUL_PLACE_2 2}
        team_name=evil
        user_team_name=_"Evil"
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_MAYHEM}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        type=Orcish Nightblade
        id=boss2
        generate_name=yes
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Grunt,Orcish Assassin,Orcish Archer,Wolf Rider
#endif
#ifdef NORMAL
        recruit=Orcish Grunt,Orcish Warrior,Orcish Assassin,Orcish Archer,Orcish Crossbowman,Wolf Rider,Goblin Knight
#endif
#ifdef HARD
        recruit=Orcish Grunt,Orcish Warrior,Orcish Assassin,Orcish Slayer,Orcish Archer,Orcish Crossbowman,Wolf Rider,Goblin Knight
#endif
        side=3
        {GOLD 300 375 450}
        {INCOME 25 35 45}
        {AI_OVERHAUL_PLACE_2 3}
        team_name=evil
        user_team_name=_"Evil"
#ifdef HARD
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_PARRY}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        type=Orcish Strafer
        generate_name=yes
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Grunt,Orcish Assassin,Orcish Archer,Wolf Rider
#endif
#ifdef NORMAL
        recruit=Orcish Grunt,Orcish Warrior,Orcish Assassin,Orcish Slayer,Orcish Archer,Orcish Crossbowman,Wolf Rider,Goblin Knight
#endif
#ifdef HARD
        recruit=Orcish Grunt,Orcish Warrior,Orcish Assassin,Orcish Slayer,Orcish Archer,Orcish Crossbowman,Wolf Rider,Goblin Knight,Orcish Warlord,Orcish Slurbow,Direwolf Rider
#endif
        side=4
        {GOLD 500 650 800}
        income=70
        {AI_OVERHAUL_PLACE_2 4}
        team_name=evil
        user_team_name=_"Evil"
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_ANGER}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        type=Orcish Warlord
        generate_name=yes
        canrecruit=yes
        recruit=Orcish Grunt,Orcish Warrior,Orcish Assassin,Orcish Slayer,Orcish Archer,Orcish Crossbowman,Wolf Rider,Goblin Knight
        id=boss3
        side=5
        {GOLD 300 375 450}
        {INCOME 35 45 55}
        {AI_OVERHAUL_PLACE_2 5}
        team_name=evil
        user_team_name=_"Evil"
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_DEATHAURA 24}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        type=Orcish Strafer
        generate_name=yes
        canrecruit=yes
        recruit=Orcish Grunt,Orcish Warrior,Orcish Assassin,Orcish Slayer,Orcish Archer,Orcish Crossbowman,Wolf Rider,Goblin Knight
        side=6
        {GOLD 300 375 450}
        {INCOME 25 35 45}
        {AI_OVERHAUL_PLACE_2 6}
        team_name=evil
        user_team_name=_"Evil"
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=ranged
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_FOCUSED}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        no_leader=yes
        side=7
        {AI_OVERHAUL_PLACE_2 3}
        team_name=evil
        user_team_name=_"Evil"
    [/side]

    {STARTING_VILLAGES 2 30}
    {STARTING_VILLAGES 6 6}
    [event]
        name=start
        [message]
            speaker=Lethalia
            message= _ "This will be a nice retribution for all the deeds, they have done, hehehe..."
        [/message]
        [message]
            speaker=Gruzgob
            message= _ "Undead are attacking us! There is a lot of them."
        [/message]
        [message]
            speaker=boss2
            message= _ "There is not so many of them."
        [/message]
        [message]
            speaker=boss3
            message= _ "I have just received a message from a runaway goblin, informing me that one of our camps to the southeast was attacked by a single necromancer. This load of undead are remains of the orcs who lived there. They may be dangerous."
        [/message]
        [message]
            speaker=Gruzgob
            message= _ "Yes, the undead are not so dangerous, but the power of the necromancer should not be underestimated."
        [/message]
        [message]
            speaker=boss2
            message= _ "We can kill a single necromancer."
        [/message]
        [message]
            speaker=boss3
            message= _ "Do we want at least some of our dead to join their ranks? No. We should ask humans for support, we care less about their lives and the future of their souls."
        [/message]
        [message]
            speaker=boss2
            message= _ "We can kill a single necromancer, just look how many of us is here."
        [/message]
        [message]
            speaker=Gruzgob
            message= _ "How would it sound if we asked the humans for support just because a single necromancer is attacking us? Attack, we will prevail!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Your flesh and your bones shall serve me, abominations! And my other selves I will soon create!"
        [/message]
    [/event]

    [event]
	name=turn 2
	[fire_event]
		name=make_doppelganger
		[primary_unit]
			id=Lethalia
		[/primary_unit]
	[/fire_event]
        [message]
            speaker=Lethalia
            message= _ "These copies of mine are so beatiful. I will try it once more in a while. I must fill this world with beauty, hahaha!"
        [/message]
        [message]
            type=Lethalia_doppelganger
            message= _ "To battle! For beauty!"
        [/message]
    [/event]

    [event]
	name=turn 3
	[fire_event]
		name=make_doppelganger
		[primary_unit]
			id=Lethalia
		[/primary_unit]
	[/fire_event]
    [/event]

    [event]
        name=die
        first_time_only=no
        [filter]
            side=2,3,4,5,6
        [/filter]
        [filter_second_attack]
            [not]
                special=plague
            [/not]
        [/filter_second_attack]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message=_"What should be raised from this orc?"
            [option]
                message= _"Skeleton"
                [command]
                    [unit]
                        type=Skeleton
                        x,y=$x1,$y1
                        to_variable=advanced
                        side=1
                        [modifications]
                            {TRAIT_UNDEAD}
                            {TRAIT_LOYAL}
                        [/modifications]
                    [/unit]
                [/command]
            [/option]
            [option]
                message= _"Skeleton Archer"
                [command]
                    [unit]
                        type=Skeleton Archer
                        x,y=$x1,$y1
                        to_variable=advanced
                        side=1
                        [modifications]
                            {TRAIT_UNDEAD}
                            {TRAIT_LOYAL}
                        [/modifications]
                    [/unit]
                [/command]
            [/option]
            [option]
                message= _"Soulless"
                [command]
                    [unit]
                        type=Soulless
                        x,y=$x1,$y1
                        to_variable=advanced
                        side=1
                        [modifications]
                            {TRAIT_UNDEAD}
                            {TRAIT_LOYAL}
                        [/modifications]
                    [/unit]
                [/command]
            [/option]
            [option]
                message= _"Ghost"
                [command]
                    [unit]
                        type=Ghost
                        x,y=$x1,$y1
                        to_variable=advanced
                        side=1
                        [modifications]
                            {TRAIT_UNDEAD}
                            {TRAIT_LOYAL}
                        [/modifications]
                    [/unit]
                [/command]
            [/option]
        [/message]
        {UPDATE_ATTACKS_STUFF}
        [unstore_unit]
            variable=advanced
            find_vacant=no
        [/unstore_unit]
        [event]
            id=kill_walking_corpses
            remove=yes
        [/event]
    [/event]
    [event]
        name=die
        first_time_only=no
        [filter]
            side=2,3,4,5,6
        [/filter]
        [filter_second_attack]
            special=plague
        [/filter_second_attack]
        [message]
            image="wesnoth-icon.png"
            speaker=narrator
            message=_"A ghost will be raised from this one, because the body is already used."
        [/message]
        [unit]
            type=Ghost
            x,y=$x1,$y1
            to_variable=advanced
            side=1
            [modifications]
                {TRAIT_UNDEAD}
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        {UPDATE_ATTACKS_STUFF}
        [unstore_unit]
            variable=advanced
            find_vacant=yes
        [/unstore_unit]
    [/event]

    [event]
	name=turn 7
	[unit]
		type=The Prince
		id=The Prince
		name=_"The Prince"
		x,y=5,30
		{IS_HERO}
		side=7
	[/unit]
	{GENERIC_UNIT 7 "Black Army Pikeman" 5 30}
	{GENERIC_UNIT 7 "Black Army Swordsman" 5 30}
	{GENERIC_UNIT 7 "Black Army Bowman" 5 30}
	{GENERIC_UNIT 7 "Black Army Mage" 5 30}
	{GENERIC_UNIT 7 "Black Army Pikeman" 5 30}
	{GENERIC_UNIT 7 "Black Army Swordsman" 5 30}
	{GENERIC_UNIT 7 "Black Army Bowman" 5 30}
	{GENERIC_UNIT 7 "Black Army Mage" 5 30}
	{GENERIC_UNIT 7 "Black Army Mage" 5 30}
	{GENERIC_UNIT 7 "Black Army Mage" 5 30}
	{GENERIC_UNIT 7 "Black Army Swordsman" 5 30}
	{GENERIC_UNIT 7 "Black Army Swordsman" 5 30}
#ifndef EASY
	{GENERIC_UNIT 7 "Black Army Swordsman" 5 30}
	{GENERIC_UNIT 7 "Black Army Swordsman" 5 30}
	{GENERIC_UNIT 7 "Black Army Swordsman" 5 30}
#endif
#ifdef HARD
	{GENERIC_UNIT 7 "Black Army Pikeman" 5 30}
	{GENERIC_UNIT 7 "Black Army Pikeman" 5 30}
	{GENERIC_UNIT 7 "Black Army Pikeman" 5 30}
#endif
        [message]
            speaker=The Prince
            message= _ "I have found you, abomination. Now, you will die."
        [/message]
        [message]
            speaker=boss2
            message= _ "Humans came to help us against this undead plague!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Why are you after me?"
        [/message]
        [message]
            speaker=The Prince
            message= _ "You want to sabotage our plan. I am certain of it."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "What plan?"
        [/message]
        [message]
            speaker=The Prince
            message= _ "You know about our magnificient plan, do not pretend to be an idiot."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "How do you know? Where the hell did you get all that mysterious knowledge of yours?"
        [/message]
        [message]
            speaker=The Prince
            message= _ "Hahahaha!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Alothan... he disappeared mysteriously. Your people captured him and made him talk."
        [/message]
        [message]
            speaker=The Prince
            message= _ "Finally I see a proof that you are not an idiot."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "You torture elves. Legends say that it was the way orcs were created. You are the abomination here. I will not stop slashing you until I am fully covered with your blood!"
        [/message]
    [/event]

    [event]
	name=last breath
	[filter]
		id=The Prince
	[/filter]
        [message]
            speaker=The Prince
            message= _ "Foul magic!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Now... you die."
        [/message]
        [message]
            speaker=The Prince
            message= _ "Guess once again."
        [/message]
        {MOVE_UNIT id="The Prince" 1 21}
	[kill]
		id=The Prince
		fire_event=no
		animate=no
	[/kill]
    [/event]

    [event]
        name=time over
        [message]
            speaker=Lethalia
            message= _ "Damn, I am too late..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=enemies defeated
        [unstore_unit]
            variable=Efraim_store
            x=recall
            y=recall
        [/unstore_unit]
        [endlevel]
            result=victory
            bonus=no
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=unit
            message= _ "Oh, no, these orcs have defeated me, what a shame..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 4 6 (staff,axe,bow,dagger,xbow,axe,axe,bow) yes 2,3,4,5,6,7}
    {GLOBAL_EVENTS}
    experience_modifier=125
[/scenario]
