#textdomain wesnoth-loti
[scenario]
    id=10_Dealing_with_Trolls
    name= _ "Dealing with Trolls"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/10_Trolls_Cave.map}"
    {SCENARIO_MUSIC "northern_mountains.ogg"}
    {EXTRA_SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC "underground.ogg"}
    {TURNS 18 16 14}
    victory_when_enemies_defeated=no
    disallow_recall=yes
    next_scenario=11_Invasion

    [time_area]
        x=21-45
        y=23-34
        {DEFAULT_SCHEDULE}
    [/time_area]
    {UNDERGROUND}
    [story]
        [part]
            background=maps/wesnoth.png
            show_title=yes
            {OLD_BATTLE 458 263}
            {OLD_BATTLE 465 255}
            {OLD_JOURNEY 431 238}
            {OLD_JOURNEY 397 221}
            {OLD_JOURNEY 364 205}
            {OLD_JOURNEY 330 188}
            {OLD_BATTLE 295 171}
            {OLD_JOURNEY 283 159}
            {OLD_JOURNEY 271 147}
            {OLD_BATTLE 260 135}
            {NEW_BATTLE 373 39}
            story= _ "Back to Efraim's adventure."
        [/part]
    [/story]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Get to the leader of the trolls killing as few trolls as possible"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
    [/event]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=
        gold=0
        shroud=yes
        income=2
        team_name=good
        user_team_name=_"Good"
        village_gold=2
    [/side]
    [side]
        type=Great Troll
        name="Tok"
        id=Tok
        canrecruit=yes
        recruit=Troll,Troll Shaman,Troll Hero,Troll Warrior,Troll Rocklobber
        side=2
        {GOLD 50 60 80}
        income=10
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 2}
    [/side]
    [side]
        no_leader=yes
        side=3
        {AI_OVERHAUL_PLACE 3}
        team_name=evil
        user_team_name=_"Evil"
    [/side]
    [event]
        name=start
        {VARIABLE kill_count 0}
        {RANDOM_ITEM 6 31}
        {GUARDIAN_UNIT 2 "Troll" 19 19}
        {GUARDIAN_UNIT 2 "Troll" 32 20}
        {GUARDIAN_UNIT 2 "Troll" 26 19}
        {GUARDIAN_UNIT 2 "Troll" 38 12}
        {GUARDIAN_UNIT 2 "Troll" 36 7}
        {GUARDIAN_UNIT 2 "Troll" 29 4}
        {GUARDIAN_UNIT 2 "Troll" 23 7}
        {GUARDIAN_UNIT 2 "Troll" 25 13}
        {GUARDIAN_UNIT 2 "Troll" 23 19}
        {GUARDIAN_UNIT 2 "Troll" 15 25}
        {GUARDIAN_UNIT 2 "Troll" 8 29}
        {GUARDIAN_UNIT 2 "Troll" 7 25}
        {GUARDIAN_UNIT 2 "Troll" 9 21}
        {GUARDIAN_UNIT 2 "Troll" 10 16}
        {GUARDIAN_UNIT 2 "Troll" 8 11}
        {GUARDIAN_UNIT 2 "Troll" 17 8}
        {GUARDIAN_UNIT 2 "Troll" 11 1}
        {GUARDIAN_UNIT 2 "Troll" 17 4}
        {GUARDIAN_UNIT 2 "Troll Warrior" 11 14}
        {GUARDIAN_UNIT 2 "Troll Warrior" 10 22}
        {GUARDIAN_UNIT 2 "Troll Warrior" 28 19}
#ifndef EASY
        {GUARDIAN_UNIT 2 "Troll" 36 8}
        {GUARDIAN_UNIT 2 "Troll" 25 5}
        {GUARDIAN_UNIT 2 "Troll Warrior" 24 15}
        {GUARDIAN_UNIT 2 "Troll" 19 14}
#endif
#ifdef HARD
        {GUARDIAN_UNIT 2 "Troll" 6 15}
        {GUARDIAN_UNIT 2 "Troll" 17 23}
        {GUARDIAN_UNIT 2 "Troll" 33 14}
        {GUARDIAN_UNIT 2 "Troll Warrior" 25 9}
#endif

        [message]
            speaker=Efraim
            message= _ "A problem is that the trolls will fight me. I must get to their leader before killing too many of them. I will create a few copies to lure them away."
        [/message]
        [event]
            id=kill_walking_corpses
            remove=yes
        [/event]
    [/event]

    [event]
	name=turn 2
	[fire_event]
		name=make_doppelganger
		[primary_unit]
			id=Efraim
		[/primary_unit]
	[/fire_event]
        [message]
            speaker=Efraim
            message= _ "I will try it once more in a while."
        [/message]
    [/event]

    [event]
	name=turn 3
	[fire_event]
		name=make_doppelganger
		[primary_unit]
			id=Efraim
		[/primary_unit]
	[/fire_event]
    [/event]

    [event]
	name=turn 5
	{GENERIC_UNIT 3 "Black Army Pikeman" 31 32}
	{GENERIC_UNIT 3 "Black Army Swordsman" 31 32}
	{GENERIC_UNIT 3 "Black Army Bowman" 31 32}
	{GENERIC_UNIT 3 "Black Army Mage" 31 32}
#ifndef EASY
	{GENERIC_UNIT 3 "Black Army Pikeman" 31 32}
#endif
#ifdef HARD
	{GENERIC_UNIT 3 "Black Army Bowman" 31 32}
#endif
        [message]
            side=3
            message= _ "This is so stupid. Kill some trolls. Possibly capture the monster. The trolls are outnumbering us, the monster could face our entire squad. We should have joined the dragon hunt yesterday, we should have realised it was the safer option."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Oh damn, they want to kill some trolls to throw the blame on me and make it harder to forge an alliance! And since the prince is not here, they are probably harassing Lethalia at the moment!"
        [/message]
    [/event]

    [event]
        name=die
        first_time_only=no
        [filter]
            side=2
        [/filter]
        {VARIABLE_OP kill_count add 1}
    [/event]

    [event]
        name=moveto
        [filter]
            id=Efraim
            x,y=1-15,1-10
	    [or]
        	type=Efraim_doppelganger
      		x,y=1-15,1-10
	    [/or]
        [/filter]
        {MOVE_UNIT id=Tok 8 4}
        {MOVE_UNIT id=$unit.id 9 5}
        [message]
            speaker=$unit.id
            message= _ "Are you Tok, the Great Leader of the Trolls in this cave?"
        [/message]
        [message]
            speaker=Tok
            message= _ "Yes, I am. What does you want of me?"
        [/message]
        [message]
            speaker=$unit.id
            message= _ "I think there is something you want and I want too."
        [/message]
        [if]
            [variable]
                name=kill_count
                equals=0
            [/variable]
            [then]
                [message]
                    speaker=Tok
                    message= _ "So you are not one of those thieves who sneak and when found try to admire me. Me learned what is behind their admiration, they want to excuse that they came to steal! What you want? Prove me you not a thief."
                [/message]
            [/then]
            [else]
                [message]
                    speaker=Tok
                    message= _ "But you killed some trolls. Why did you so?"
                [/message]
                [message]
                    speaker=$unit.id
                    message= _ "They wanted to kill me. I had to kill a few of them to get to you."
                [/message]
                [message]
                    speaker=Tok
                    message= _ "I will not pardon that, but now tell me what you want? I am curious."
                [/message]
            [/else]
        [/if]
        [message]
            speaker=$unit.id
            message= _ "The Wesnothian Empire can raise a second sun. The strong sunshine will cause the stones to melt and pour as lava, destroying all caves where trolls can live."
        [/message]
        [message]
            speaker=Tok
            message= _ "Terrible Wesnoth boys, we must stop them!"
        [/message]
        [message]
            speaker=$unit.id
            message= _ "Yes, we must. I can summon some monsters, but there will not be enough of us to defeat them. We need some support, and creatures as strong and tough as trolls should help us quite a bit."
        [/message]
        [message]
            speaker=Tok
            message= _ "I thinked, and I want to know why are these Wesnoth boys wanting to do something so terrible."
        [/message]
        [message]
            speaker=$unit.id
            message= _ "They think they will only remove the night. But the heat it will cause is beyond their understanding."
        [/message]
        [message]
            speaker=Tok
            message= _ "So they are stupid. We, trolls, will be the wise boys, fighting the stupid!"
        [/message]
        [endlevel]
            result=victory
            bonus=no
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Lethalia must have been waiting for me for ages already..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=unit
            message= _ "Argh, naughty troll..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 4 6 (sword,knife) no 2}
    {GLOBAL_EVENTS}
    experience_modifier=125
[/scenario]
