#textdomain wesnoth-loti
[scenario]
    id=13_The_Way_of_Assassins
    name= _ "The Way of Assassins"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/13_Weldyn-Sneak.map}"
    {SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_city_falls.ogg"}
    {EXTRA_SCENARIO_MUSIC "breaking_the_chains.ogg"}
    {TURNS 37 35 32}
    victory_when_enemies_defeated=no
    disallow_recall=yes
    next_scenario=14_The_Kingslayer
#ifdef EASY
    {FIRST_WATCH}
    {FIRST_WATCH}
#endif
#ifndef HARD
    {FIRST_WATCH}
    {FIRST_WATCH}
#endif
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {DAWN}

#define TALK_MAP
    background=maps/wesnoth.png
    show_title=yes
    {OLD_BATTLE 458 263}
    {OLD_BATTLE 465 255}
    {OLD_JOURNEY 431 238}
    {OLD_JOURNEY 397 221}
    {OLD_JOURNEY 364 205}
    {OLD_JOURNEY 330 188}
    {OLD_BATTLE 295 171}
    {OLD_JOURNEY 283 159}
    {OLD_JOURNEY 271 147}
    {OLD_BATTLE 260 135}
    {OLD_BATTLE 373 39}
    {OLD_JOURNEY 262 171}
    {OLD_JOURNEY 283 220}
    {OLD_JOURNEY 309 247}
    {OLD_JOURNEY 315 91}
    {OLD_JOURNEY 304 160}
    {OLD_JOURNEY 318 238}
    {OLD_JOURNEY 333 271}
    {OLD_JOURNEY 346 315}
    {OLD_JOURNEY 352 361}
    {OLD_JOURNEY 354 414}
    {OLD_JOURNEY 372 457}
    {OLD_JOURNEY 411 472}
    {OLD_JOURNEY 445 472}
    {OLD_BATTLE 451 484}
    {OLD_JOURNEY 492 497}
    {OLD_JOURNEY 528 515}
    {OLD_JOURNEY 560 535}
    {OLD_BATTLE 577 546}
    {OLD_JOURNEY 587 499}
    {OLD_JOURNEY 582 455}
    {OLD_JOURNEY 571 411}
#enddef
    [story]
        [part]
            background=maps/wesnoth.png
            show_title=yes
            {OLD_BATTLE 458 263}
            {OLD_BATTLE 465 255}
            {OLD_JOURNEY 431 238}
            {OLD_JOURNEY 397 221}
            {OLD_JOURNEY 364 205}
            {OLD_JOURNEY 330 188}
            {OLD_BATTLE 295 171}
            {OLD_JOURNEY 283 159}
            {OLD_JOURNEY 271 147}
            {OLD_BATTLE 260 135}
            {OLD_BATTLE 373 39}
            {OLD_JOURNEY 262 171}
            {OLD_JOURNEY 283 220}
            {OLD_JOURNEY 309 247}
            {OLD_JOURNEY 315 91}
            {OLD_JOURNEY 304 160}
            {OLD_JOURNEY 318 238}
            {OLD_JOURNEY 333 271}
            {OLD_JOURNEY 346 315}
            {OLD_JOURNEY 352 361}
            {OLD_JOURNEY 354 414}
            {OLD_JOURNEY 372 457}
            {OLD_JOURNEY 411 472}
            {OLD_JOURNEY 445 472}
            {OLD_BATTLE 451 484}
            {OLD_JOURNEY 492 497}
            {OLD_JOURNEY 528 515}
            {OLD_JOURNEY 560 535}
            {OLD_BATTLE 577 546}
            {NEW_JOURNEY 587 499}
            {NEW_JOURNEY 582 455}
            {NEW_JOURNEY 571 411}
            story= _ "They fled successfully and lost them in a forest."
        [/part]
    [/story]
    [story]
        [part]
            {TALK_MAP}
            story= _ "Lethalia:
I hope you have an idea how to get there by stealth. Because I think they would attack us on sight."
        [/part]
    [/story]
    [story]
        [part]
            {TALK_MAP}
            story= _ "Efraim:
That rude freak dared to call you a pack of bones! They did not even get close enough to see you! I shall break his pathetic bones! Just as we did to everyone who laid eyes on us. No way they will ever identify us just by our voices. "
        [/part]
    [/story]
    [story]
        [part]
            {TALK_MAP}
            story= _ "Lethalia:
You are probably right. What should we do, then?"
        [/part]
    [/story]
    [story]
        [part]
            {TALK_MAP}
            story= _ "Efraim:
The Wesnothian Empire has suffered heavy losses. The Orcs have rioted. Most of their military forces will be concentrated at the northern borders. Of course, their capital will be guarded and their mages will seek ways of preventing us from attacking again. We may expect an army of mages capable of casting powerful undead-killing spells. And, sooner or later, the idea to create a second sun, - almost the entire theory to do that is ready."
        [/part]
    [/story]
    [story]
        [part]
            {TALK_MAP}
            story= _ "Lethalia:
It does not sound good. What should we do now?"
        [/part]
    [/story]
    [story]
        [part]
            {TALK_MAP}
            story= _ "Efraim:
I will try to assassinate the noblemen who support the King, to destabilise his rule. Then I will murder the king and all his heirs who are not too young to rule. These are dark times, so they will all be in their castle, as it is thought to be the safest place. Then I will usurp the throne. We will have to rule the Empire ourselves to make sure these grim prophecies will not be fulfilled."
        [/part]
    [/story]
    [story]
        [part]
            {TALK_MAP}
            story= _ "Efraim:
You will enter their library, pretending to be just an elf seeking their knowledge. They will be happy that a proud elf seeks it, and will loftily allow you to study it. You will prepare a few spells there in secret, and then blast the entire library with the mages inside. That should stop them. Take care, Zortheus should be there, and as he is terribly powerful, he might recognise you."
        [/part]
    [/story]
    [story]
        [part]
            {TALK_MAP}
            story= _ "Lethalia:
A good plan. Let us go."
        [/part]
    [/story]
    [story]
        [part]
            {TALK_MAP}
            {NEW_JOURNEY 565 467}
            {NEW_JOURNEY 569 468}
            {NEW_BATTLE 585 546}
            story= _ "As they approached the capital, they heard grim news. The mage Zortheus had suggested to the king to order the creation of a new sun, and he agreed. Large amounts of mages were coming to the city to help with this grandiose project."
        [/part]
    [/story]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Kill Lord Revan, Lord Roth and Lord Kartyn and get to the castle on the eastern border of the map"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
    [/event]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=
        gold=0
        shroud=yes
        fog=yes
        team_name=good
        user_team_name=_"Good"
        village_gold=0
    [/side]
    [side]
        no_leader=yes
        side=2
        ai_algorithm=idle_ai
        team_name=evil
        user_team_name=_"Evil"
        fog=yes
    [/side]
    [side]
        no_leader=yes
        side=3
        team_name=evil
        user_team_name=_"Evil"
        fog=no
        {AI_OVERHAUL_PLACE 3}		#They'll need a bit of courage.
    [/side]
    [side]
        no_leader=yes
        side=4
        team_name=evil
        user_team_name=_"Evil"
        fog=yes
        [unit]
            type=Royal Warrior
            id=lord1
            name=Lord Revan
            ai_special=guardian
            x,y=17,9
            [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    [effect]
                        apply_to=new_ability
                        [abilities]
                            {ABILITY_STEADFAST}
                        [/abilities]
                    [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
            [/modifications]
        [/unit]
        [unit]
            type=Royal Warrior
            id=lord2
            name=Lord Roth
            ai_special=guardian
            x,y=12,26
#ifndef EASY
            [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    [effect]
                        apply_to=new_ability
                        [abilities]
                            {ABILITY_ILLUMINATES}
                        [/abilities]
                    [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
            [/modifications]
#endif
        [/unit]
        [unit]
            type=Royal Warrior
            id=lord3
            name=Lord Kartyn
            ai_special=guardian
            x,y=41,11
#ifdef HARD
            [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    [effect]
                        apply_to=new_ability
                        [abilities]
                            {ABILITY_REGENERATES_OTHER 36}
                        [/abilities]
                    [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
            [/modifications]
#endif
        [/unit]
    [/side]
    [side]
        no_leader=yes
        side=5
        team_name=evil
        user_team_name=_"Evil"
    [/side]
    [event]
        name=start
        {VARIABLE murder_count 0}

        {GENERIC_UNIT 2 "Iron Mauler" 10 1}
        {GENERIC_UNIT 2 "Iron Mauler" 3 8}
        {GENERIC_UNIT 2 "Iron Mauler" 5 13}
        {GENERIC_UNIT 2 "Iron Mauler" 14 9}
        {GENERIC_UNIT 2 "Iron Mauler" 17 3}
        {GENERIC_UNIT 2 "Iron Mauler" 22 5}
        {GENERIC_UNIT 2 "Iron Mauler" 14 10}
        {GENERIC_UNIT 2 "Iron Mauler" 5 18}
        {GENERIC_UNIT 2 "Iron Mauler" 4 25}
        {GENERIC_UNIT 2 "Iron Mauler" 8 20}
        {GENERIC_UNIT 2 "Iron Mauler" 16 19}
        {GENERIC_UNIT 2 "Iron Mauler" 19 14}
        {GENERIC_UNIT 2 "Iron Mauler" 24 8}
        {GENERIC_UNIT 2 "Iron Mauler" 30 4}
        {GENERIC_UNIT 2 "Iron Mauler" 27 2}
        {GENERIC_UNIT 2 "Iron Mauler" 40 5}
        {GENERIC_UNIT 2 "Iron Mauler" 41 9}
        {GENERIC_UNIT 2 "Iron Mauler" 35 10}
        {GENERIC_UNIT 2 "Iron Mauler" 38 14}
        {GENERIC_UNIT 2 "Iron Mauler" 31 15}
        {GENERIC_UNIT 2 "Iron Mauler" 30 21}
        {GENERIC_UNIT 2 "Iron Mauler" 22 22}
        {GENERIC_UNIT 2 "Iron Mauler" 23 38}
        {GENERIC_UNIT 2 "Iron Mauler" 16 30}
        {GENERIC_UNIT 2 "Iron Mauler" 26 33}
        {GENERIC_UNIT 2 "Iron Mauler" 36 32}
        {GENERIC_UNIT 2 "Iron Mauler" 42 28}
        {GENERIC_UNIT 2 "Iron Mauler" 40 24}
        {GENERIC_UNIT 2 "Iron Mauler" 43 20}
        {GENERIC_UNIT 2 "Iron Mauler" 42 13}
        {GENERIC_UNIT 2 "Iron Mauler" 41 4}
#ifndef EASY
        {GENERIC_UNIT 2 "Iron Mauler" 36 17}
        {GENERIC_UNIT 2 "Iron Mauler" 19 26}
        {GENERIC_UNIT 2 "Iron Mauler" 6 18}
        {GENERIC_UNIT 2 "Iron Mauler" 38 3}
#endif
#ifdef HARD
        {GENERIC_UNIT 2 "Iron Mauler" 31 10}
        {GENERIC_UNIT 2 "Iron Mauler" 36 22}
        {GENERIC_UNIT 2 "Iron Mauler" 10 22}
        {GENERIC_UNIT 2 "Iron Mauler" 22 1}
#endif

        [message]
            speaker=Efraim
            message= _ "This night will be a horror for the town. They will see more than one horror tonight."
        [/message]
	[fire_event]
		name=make_doppelganger
		[primary_unit]
			id=Efraim
		[/primary_unit]
	[/fire_event]
        [message]
            type=Efraim_doppelganger
            message= _ "There will have to be more of me soon."
        [/message]
        [disallow_recruit]
            side=1
            type=Elvish Archer,Elvish Fighter,Elvish Scout,Elvish Shaman,Elvish Marksman,Elvish Ranger,Elvish Hero,Elvish Captain, Elvish Rider,Elvish Druid,Elvish Sorceress,Skeleton,Soulless,Skeleton Archer,Bone Shooter,Revenant,Deathblade,Ghost,Wraith,Vampire Bat,Blood Bat,Shadow,Chocobone,Walking Corpse
        [/disallow_recruit]
    [/event]

    [event]
	name=turn 2
	[fire_event]
		name=make_doppelganger
		[primary_unit]
			id=Efraim
		[/primary_unit]
	[/fire_event]
        [message]
            speaker=Efraim
            message= _ "I will try it once more in a while."
        [/message]
    [/event]

    [event]
	name=turn 3
	[fire_event]
		name=make_doppelganger
		[primary_unit]
			id=Efraim
		[/primary_unit]
	[/fire_event]
    [/event]

    [event]
	name=turn 5
	{GENERIC_UNIT 5 "Black Army Pikeman" 42 7}
	{GENERIC_UNIT 5 "Black Army Swordsman" 42 7}
	{GENERIC_UNIT 5 "Black Army Bowman" 42 7}
	{GENERIC_UNIT 5 "Black Army Mage" 42 7}
#ifndef EASY
	{GENERIC_UNIT 5 "Black Army Pikeman" 42 7}
#endif
#ifdef HARD
	{GENERIC_UNIT 5 "Black Army Bowman" 42 7}
#endif
        [message]
            side=5
            message= _ "Listen everyone! We have suspicions that assassins might be skulking through the city."
        [/message]
        [message]
            type=Black Army Mage
            message= _ "My spells can detect them. No assassins will leave this city alive."
        [/message]
        [message]
            side=1
            message= _ "Darn."
        [/message]
    [/event]

    [event]
        name=side turn
        first_time_only=no

        [if]
            [variable]
                name=side_number
                equals=2
            [/variable]
            [then]
                [if]
                    [have_unit]
                        side=1
                        [filter_vision]
                            visible=yes
                            viewing_side=2
                        [/filter_vision]
                        [or]
                            side=1
                            [filter_vision]
                                visible=yes
                                viewing_side=3
                            [/filter_vision]
                        [/or]
                    [/have_unit]
                    [then]
                        {MODIFY_UNIT (
                            type=Iron Mauler
                            [filter_location]
                                [filter]
                                    side=1
                                [/filter]

                                {QUANTITY radius 5 6 7}
                            [/filter_location]
                        ) side 3}
                    [/then]
                    [else]
                        {MODIFY_UNIT side=3 side 2}
                    [/else]
                [/if]
            [/then]
        [/if]
    [/event]
    [event]
        #Makes the guards wander around the map, when not in combat mode.
        name=side turn
        first_time_only=no
        [if]
            [variable]
                name=side_number
                equals=2
            [/variable]
            [then]
                [store_unit]
                    [filter]
                        side=2
                    [/filter]
                    kill=no
                    variable=movement_store
                [/store_unit]
                {FOREACH movement_store i}
                    {VARIABLE_OP move_x rand (-3,-2,-1,0,1,2,3)}
                    {VARIABLE_OP move_y rand (-3,-2,-1,0,1,2,3)}
                    {VARIABLE moveto_x $movement_store[$i].x}
                    {VARIABLE moveto_y $movement_store[$i].y}
                    {VARIABLE_OP moveto_x add $move_x}
                    {VARIABLE_OP moveto_y add $move_y}
                    [if]
                        [variable]
                            name=moveto_x
                            less_than=45
                        [/variable]
                        [and]
                            [variable]
                                name=moveto_x
                                greater_than=0
                            [/variable]
                        [/and]
                        [and]
                            [variable]
                                name=moveto_y
                                greater_than=0
                            [/variable]
                        [/and]
                        [and]
                            [variable]
                                name=moveto_y
                                less_than=34
                            [/variable]
                        [/and]
                        [then]
                            {MOVE_UNIT x,y=$movement_store[$i].x,$movement_store[$i].y $moveto_x $moveto_y}
                        [/then]
                    [/if]
                {NEXT i}
                {CLEAR_VARIABLE move_x}
                {CLEAR_VARIABLE move_y}
                {CLEAR_VARIABLE moveto_x}
                {CLEAR_VARIABLE moveto_y}
                {CLEAR_VARIABLE movement_store}
            [/then]
        [/if]
    [/event]
    [event]
        name=die
        first_time_only=no
        [filter]
            side=4
        [/filter]
        {VARIABLE_OP murder_count add 1}
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            id=Efraim
            x,y=41-45,21-26
        [/filter]
        [if]
            [variable]
                name=murder_count
                less_than=3
            [/variable]
            [then]
                [message]
                    speaker=Efraim
                    message= _ "The noblemen are not dead yet."
                [/message]
            [/then]
            [else]
                [message]
                    speaker=Efraim
                    message= _ "Going to kill a king. I will call myself Kingslayer."
                [/message]
                {CLEAR_VARIABLE murder_count}
		[store_unit]
			[filter]
				side=1
				x,y=1-44,1-33
				type=Efraim_doppelganger
			[/filter]
			variable=doppelgangers
			kill=no
		[/store_unit]
                [endlevel]
                    result=victory
                    bonus=no
                [/endlevel]
            [/else]
        [/if]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Dammit, the dawn is near."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=unit
            message= _ "Lethalia will avenge me, be sure about that..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {NO_FAST_AI}
    {DROPS 3 5 (sword,knife,dagger) no 2,3,4,5}
    {GLOBAL_EVENTS}
    experience_modifier=125
[/scenario]
