#textdomain wesnoth-loti
[scenario]
    id=14_The_Kingslayer
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/14_Weldyn-Castle.map}"
    name= _ "The Kingslayer"
    {SCENARIO_MUSIC "the _king_is_dead.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_city_falls.ogg"}
    {EXTRA_SCENARIO_MUSIC "breaking_the_chains.ogg"}
    {TURNS 30 28 26}
    victory_when_enemies_defeated=no
    disallow_recall=yes
    next_scenario=15s_The_Speech
    {INDOORS}

    [story]
        [part]
            background=maps/wesnoth.png
            show_title=yes
            {OLD_BATTLE 458 263}
            {OLD_BATTLE 465 255}
            {OLD_JOURNEY 431 238}
            {OLD_JOURNEY 397 221}
            {OLD_JOURNEY 364 205}
            {OLD_JOURNEY 330 188}
            {OLD_BATTLE 295 171}
            {OLD_JOURNEY 283 159}
            {OLD_JOURNEY 271 147}
            {OLD_BATTLE 260 135}
            {OLD_BATTLE 373 39}
            {OLD_JOURNEY 262 171}
            {OLD_JOURNEY 283 220}
            {OLD_JOURNEY 309 247}
            {OLD_JOURNEY 315 91}
            {OLD_JOURNEY 304 160}
            {OLD_JOURNEY 318 238}
            {OLD_JOURNEY 333 271}
            {OLD_JOURNEY 346 315}
            {OLD_JOURNEY 352 361}
            {OLD_JOURNEY 354 414}
            {OLD_JOURNEY 372 457}
            {OLD_JOURNEY 411 472}
            {OLD_JOURNEY 445 472}
            {OLD_BATTLE 451 484}
            {OLD_JOURNEY 492 497}
            {OLD_JOURNEY 528 515}
            {OLD_JOURNEY 560 535}
            {OLD_BATTLE 577 546}
            {OLD_JOURNEY 587 499}
            {OLD_JOURNEY 582 455}
            {OLD_JOURNEY 571 411}
            {OLD_JOURNEY 565 467}
            {OLD_JOURNEY 569 468}
            {OLD_BATTLE 585 546}
            {NEW_BATTLE 587 548}
            story= _ "He entered the royal palace, with murderous plans and bloodstained blades..."
        [/part]
    [/story]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Kill all members of the royal family"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
	{FOREACH doppelgangers i}
		[recall]
			id=$doppelgangers[$i].id
		[/recall]
	{NEXT i}
	{CLEAR_VARIABLE doppelgangers}
    [/event]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=
        gold=0
        shroud=yes
        fog=no
        team_name=good
        user_team_name=_"Good"
        village_gold=0
    [/side]
    [side]
        no_leader=yes
        side=2
        team_name=evil
        user_team_name=_"Evil"
        fog=yes
        {AI_OVERHAUL_PLACE 2}
        [unit]
            type=Master at Arms
            profile="portraits/humans/transparent/fencer.png"
            [modifications]
                [object]
                    [effect]
                        apply_to=defense
                        replace=true
                        [defense]
                            frozen=30
                            shallow_water=30
                            coastal_reef=30
                            flat=20
                            castle=20
                            village=20
                            forest=20
                            cave=20
                            hills=20
                            mountains=20
                            mushroom_groove=20
                            swamp=30
                            sand=30
                        [/defense]
                    [/effect]
                    [effect]
                        apply_to=attack
                        range=melee
                        increase_damage=1
                        set_type=fire
                        set_icon=attacks/sword-flaming.png
                        [set_specials]
                            mode=append
                            {WEAPON_SPECIAL_BERSERK}
                        [/set_specials]
                    [/effect]
                    [effect]
                        apply_to=remove_attacks
                        range=ranged
                    [/effect]
                    [effect]
                        apply_to=hitpoints
                        increase_total=20
                        increase=20
                    [/effect]
                    [effect]
                        apply_to=resistance
                        replace=true
                        [resistance]
                            blade=60
                            impact=60
                            pierce=60
                        [/resistance]
                    [/effect]
                [/object]
            [/modifications]
            id=royal4
            name=_"Prince Driz"
            ai_special=guardian
            x,y=19,3
        [/unit]
    [/side]
    [side]
        no_leader=yes
        side=3
        team_name=evil
        user_team_name=_"Evil"
        fog=no
        {AI_OVERHAUL_PLACE 3}
    [/side]
    [side]
        name=_"King Haldric XLVII"
        id=royal1
        type=Royal Warrior
        side=4
        team_name=evil
        user_team_name=_"Evil"
        profile=portraits/humans/transparent/swordsman-3.png
        {AI_OVERHAUL_PLACE 4}
        [unit]
            type=Royal Warrior
            profile="portraits/humans/transparent/iron-mauler.png~RIGHT()"
            id=royal2
            name=_"Prince Jürgen VII"
            ai_special=guardian
            x,y=38,12
        [/unit]
        [unit]
            type=Swordsman
            profile="portraits/humans/transparent/swordsman-2.png"
            id=royal3
            name=_"Prince Haldric XLVIII"
            x,y=9,19
            [modifications]
                [object]
                    [effect]
                        apply_to=resistance
                        replace=true
                        [resistance]
                            blade=50
                            impact=50
                            pierce=50
                        [/resistance]
                    [/effect]
                    [effect]
                        apply_to=hitpoints
                        increase_total=40
                        increase=40
                    [/effect]
                [/object]
            [/modifications]
        [/unit]
        [unit]
            type=Shadowalker
            gender=female
            id=royal5
            name=_"Princess Li'sen II"
            [modifications]
                [object]
                    [effect]
                        apply_to=defense
                        replace=true
                        [defense]
                            frozen=30
                            shallow_water=30
                            coastal_reef=30
                            flat=20
                            castle=20
                            village=20
                            forest=20
                            cave=20
                            hills=20
                            mountains=20
                            mushroom_groove=20
                            swamp=30
                            sand=30
                        [/defense]
                    [/effect]
                    [effect]
                        apply_to=attack
                        increase_damage=10
                    [/effect]
                    [effect]
                        apply_to=new ability
                        [abilities]
                            {ABILITY_NIGHTSTALK}
                        [/abilities]
                    [/effect]
                [/object]
            [/modifications]
            x,y=6,31
        [/unit]
        [unit]
            type=Red Mage
            gender=female
            id=royal6
            name=_"Queen Ashielle XXIV"
            ai_special=guardian
            [modifications]
                [object]
                    [effect]
                        apply_to=attack
                        range=ranged
                        increase_damage=15
                        [set_specials]
                            mode=append
                            {WEAPON_SPECIAL_EXPLOSIVE_DAMAGE_ENEMY}
                        [/set_specials]
                    [/effect]
                    [effect]
                        apply_to=hitpoints
                        increase_total=40
                        increase=40
                    [/effect]
                [/object]
            [/modifications]
            x,y=40,10
        [/unit]
    [/side]
    [event]
        name=start

        {GUARDIAN_UNIT 3 "Royal Guard" 35 28}
        {GENERIC_UNIT 3 "Royal Guard" 26 39}
        {GENERIC_UNIT 3 "Royal Guard" 18 26}
        {GUARDIAN_UNIT 3 "Royal Guard" 3 31}
        {GENERIC_UNIT 3 "Royal Guard" 6 31}
        {GUARDIAN_UNIT 3 "Royal Guard" 6 17}
        {GENERIC_UNIT 3 "Royal Guard" 13 19}
        {GENERIC_UNIT 3 "Royal Guard" 28 25}
        {GUARDIAN_UNIT 3 "Royal Guard" 26 21}
        {GENERIC_UNIT 3 "Royal Guard" 33 18}
        {GUARDIAN_UNIT 3 "Royal Guard" 40 21}
        {GUARDIAN_UNIT 3 "Royal Guard" 30 14}
        {GUARDIAN_UNIT 3 "Royal Guard" 36 8}
        {GENERIC_UNIT 3 "Royal Guard" 36 13}
#ifndef EASY
        {GENERIC_UNIT 3 "Royal Guard" 38 24}
        {GENERIC_UNIT 3 "Royal Guard" 17 8}
#endif
#ifdef HARD
        {GENERIC_UNIT 3 "Royal Guard" 23 4}
        {GENERIC_UNIT 3 "Royal Guard" 10 20}
#endif

	[fire_event]
		name=make_doppelganger
		[primary_unit]
			id=Efraim
		[/primary_unit]
	[/fire_event]
        [message]
            speaker=Efraim
            message= _ "Sic semper tyrannis..."
        [/message]
    [/event]
    [event]
	name=turn 2
	[fire_event]
		name=make_doppelganger
		[primary_unit]
			id=Efraim
		[/primary_unit]
	[/fire_event]
        [message]
            speaker=Efraim
            message= _ "I will try it once more in a while."
        [/message]
    [/event]

    [event]
	name=turn 3
	[fire_event]
		name=make_doppelganger
		[primary_unit]
			id=Efraim
		[/primary_unit]
	[/fire_event]
    [/event]

    [event]
        name=turn 5
        {GENERIC_UNIT 3 "Royal Guard" 5 7}
        {GENERIC_UNIT 3 "Royal Guard" 5 7}
#ifdef NORMAL
        {GENERIC_UNIT 3 "Swordsman" 5 7}
#endif
#ifdef HARD
        {GENERIC_UNIT 3 "Royal Guard" 5 7}
#endif
    [/event]
    [event]
        name=turn 10
        {GENERIC_UNIT 3 "Royal Guard" 5 7}
        {GENERIC_UNIT 3 "Royal Guard" 5 7}
#ifdef NORMAL
        {GENERIC_UNIT 3 "Swordsman" 5 7}
#endif
#ifdef HARD
        {GENERIC_UNIT 3 "Royal Guard" 5 7}
#endif
    [/event]
    [event]
        name=turn 12
	{GENERIC_UNIT 3 "Black Army Pikeman" 5 7}
	{GENERIC_UNIT 3 "Black Army Swordsman" 5 7}
	{GENERIC_UNIT 3 "Black Army Bowman" 5 7}
	{GENERIC_UNIT 3 "Black Army Mage" 5 7}
#ifndef EASY
	{GENERIC_UNIT 3 "Black Army Mage" 5 7}
#endif
#ifdef HARD
	{GENERIC_UNIT 3 "Black Army Mage" 5 7}
#endif
    [/event]
    [event]
        name=turn 20
        {GENERIC_UNIT 3 "Royal Guard" 5 7}
        {GENERIC_UNIT 3 "Royal Guard" 5 7}
#ifdef NORMAL
        {GENERIC_UNIT 3 "Swordsman" 5 7}
#endif
#ifdef HARD
        {GENERIC_UNIT 3 "Royal Guard" 5 7}
#endif
    [/event]

    [event]
        name=moveto
        [filter]
            id=Efraim
            x,y=12-26,1-16
        [/filter]
        {MOVE_UNIT id=Efraim 18 10}
        {MODIFY_UNIT id=Efraim moves 0}
        {MOVE_UNIT id=royal4 18 8}
        [message]
            speaker=royal4
            message= _ "Efraim de Ceise. What a nice meeting. Even under my desired circumstances."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Was it your wish to die by my hands?"
        [/message]
        [message]
            speaker=royal4
            message= _ "No, no, no... I am a perfect fencer myself. I am wearing magical clothes that protect me greatly. And my flaming swords will kill everything quickly."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Do you really believe that wearing garments made by a few puny mages can match the power of someone who has lived for more than a millennium? Get real and decide if you want to join me or die quickly and without too much pain."
        [/message]
        [message]
            speaker=royal4
            message= _ "I will never give up. You will die!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "You are a hopeless fool, did you know that?"
        [/message]
    [/event]
    [event]
        name=die
        first_time_only=no
        [filter]
            side=4
        [/filter]
        [if]
            [have_unit]
                side=4
            [/have_unit]
            [then]
                [message]
                    speaker=Efraim
                    message= _ "I am sorry, but I had to do it."
                [/message]
            [/then]
            [else]
                [message]
                    speaker=Efraim
                    message= _ "Listen! I am the new king. For your own good, obey me. As you have seen, I do not need any army for a takeover. This castle is now under my control and disobedience will be punished by death."
                [/message]
                {MOVE_UNIT id=Efraim 42 10}
                [unit]
                    type=Elder Mage
                    profile="portraits/humans/transparent/mage-arch.png"
                    id=counsellor1
                    name=_"Counsellor Polonius"
                    x,y=41,9
                    side=3
                [/unit]
                [unit]
                    type=Elder Mage
                    profile="portraits/humans/transparent/mage-red.png"
                    id=counsellor2
                    name=_"Counsellor Polonius II"
                    x,y=39,11
                    side=3
                [/unit]
                [unit]
                    type=Elder Mage
                    profile="portraits/humans/transparent/mage-arch.png"
                    id=counsellor3
                    name=_"Counsellor Radius"
                    x,y=41,12
                    side=3
                [/unit]
                [message]
                    speaker=counsellor1
                    message= _ "Behold, the new king has arisen!"
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "I am your new king. I warn you, I will kill anyone who doubts my rule."
                [/message]
                [message]
                    speaker=counsellor3
                    message= _ "We are already afraid of you enough, we have seen your actions here. Your Majesty, I have no idea where you came from nor what is your plan, can you please enlighten me?"
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "I am a hero from ancient times, but my past is not important. Now I am king Efraim I, and I seek to lead Wesnoth to even greater prosperity."
                [/message]
                [message]
                    speaker=counsellor2
                    message= _ "More specifically, what do you want to do?"
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "First, I decree that the second sun will not be created. Anyone trying to do it will be executed. This is necessary to preserve our world."
                [/message]
                [message]
                    speaker=counsellor3
                    message= _ "That will certainly get a lot of opponents of the previous king to your side."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "That was the reason why I decided to become the king. Also, I want to rename Wesnoth. From now on, the country is called Midland, or The Land of Glory. There is no reason for it to be named Wesnoth, from the West-North of centuries ago. We have to distinguish it from that frequently unstable kingdom. Also, we need more control over the mages, my agents have discovered that their knowledge can destroy our world."
                [/message]
                [message]
                    speaker=counsellor1
                    message= _ "They will not accept the new name, but the control of mages will be loved by the council of noblemen."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "I will rename it later, let us say after a century of my rule. I also have another idea. Allowing the use of necromancy on orcish corpses would surely lead to cheap soldiers, without desecrating any corpses. We know what do the orcs do to our dead. Also we shall force the mages to make enchanted armour and weapons for our living soldiers."
                [/message]
                [message]
                    speaker=counsellor1
                    message= _ "That sounds quite reasonable, but it would be hard to persuade others to agree with it."
                [/message]
                [message]
                    speaker=Efraim
                    message= _ "I know. I will now make a speech to the people; they should know what has happened."
                [/message]
                [endlevel]
                    result=victory
                    bonus=no
                [/endlevel]
            [/else]
        [/if]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Wait. It is dawning in the afternoon? Nooooooooooooo!!!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=unit
            message= _ "We should have tried to invade them again."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {GLOBAL_EVENTS}
    {DROPS 10 15 (sword,knife,dagger) no 2,3,4}
    experience_modifier=125
[/scenario]
