#textdomain wesnoth-loti
[scenario]
    id=15s_The_Speech
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/15s_Weldyn-Square.map}"
    name= _ "The Speech"
    {SCENARIO_MUSIC "the _king_is_dead.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_city_falls.ogg"}
    {EXTRA_SCENARIO_MUSIC "breaking_the_chains.ogg"}
    turns=-1
    victory_when_enemies_defeated=no
    disallow_recall=yes
    next_scenario=15_The_Library
    {AFTERNOON}
#define CITIZEN X Y
    [unit]
        side=2
        type=Peasant
        x={X}
        y={Y}
        generate_name=yes
        random_traits=yes
        random_gender=yes
    [/unit]
    [unit]
        side=2
        type=Ruffian
        x={X}
        y={Y}
        generate_name=yes
        random_traits=yes
        random_gender=yes
    [/unit]
    [unit]
        side=2
        type=Spearman
        x={X}
        y={Y}
        generate_name=yes
        random_traits=yes
        random_gender=yes
    [/unit]
    [unit]
        side=2
        type=Bowman
        x={X}
        y={Y}
        generate_name=yes
        random_traits=yes
        random_gender=yes
    [/unit]
    [unit]
        side=2
        type=Woodsman
        x={X}
        y={Y}
        generate_name=yes
        random_traits=yes
        random_gender=yes
    [/unit]
    [unit]
        side=2
        type=Peasant
        x={X}
        y={Y}
        generate_name=yes
        random_traits=yes
        random_gender=yes
    [/unit]
    [unit]
        side=2
        type=Fencer
        x={X}
        y={Y}
        generate_name=yes
        random_traits=yes
        random_gender=yes
    [/unit]
#enddef
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Persuade the folks"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim"
                condition=lose
            [/objective]
        [/objectives]
    [/event]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=
        gold=0
        team_name=good
        user_team_name=_"Good"
        village_gold=0
    [/side]
    [side]
        no_leader=yes
        side=2
        team_name=good
        user_team_name=_"Good"
    [/side]
    [event]
        name=start
        [unit]
            side=2
            type=Peasant
            x=15
            y=2
            id=listener1
            generate_name=yes
            random_traits=yes
            random_gender=yes
        [/unit]
        [unit]
            side=2
            type=Ruffian
            x=11
            y=7
            id=listener2
            generate_name=yes
            random_traits=yes
            random_gender=yes
        [/unit]
        [unit]
            side=2
            type=Fencer
            x=8
            y=2
            id=listener3
            generate_name=yes
            random_traits=yes
            random_gender=yes
        [/unit]
        [unit]
            side=2
            type=Peasant
            x=4
            y=7
            id=listener4
            generate_name=yes
            random_traits=yes
            random_gender=yes
        [/unit]
        [unit]
            side=2
            type=Spearman
            x=4
            y=2
            id=listener5
            generate_name=yes
            random_traits=yes
            random_gender=yes
        [/unit]
        {GENERIC_UNIT 1 "Royal Guard" 17 3}
        {GENERIC_UNIT 1 "Royal Guard" 17 5}
        {CITIZEN 16 6}
        {CITIZEN 13 7}
        {CITIZEN 11 4}
        {CITIZEN 14 3}
        {CITIZEN 15 3}
        {CITIZEN 12 1}
        {CITIZEN 11 3}
        {CITIZEN 10 4}
        {CITIZEN 9 6}
        {CITIZEN 12 7}
        {CITIZEN 5 8}
        {CITIZEN 6 7}
        {CITIZEN 7 5}
        {CITIZEN 4 5}
        {CITIZEN 6 2}
        {CITIZEN 3 2}
        {CITIZEN 9 3}
        {MOVE_UNIT id=Efraim 17 4}

        [message]
            speaker=Efraim
            message= _ "Because rumours about a fight in the city and castle are spreading, I will tell you what has happened."
        [/message]

        [message]
            speaker=listener1
            message= _ "Who are you?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "That is the point. The castle was attacked by forces opposing the creation of the second sun."
        [/message]
        [message]
            speaker=listener2
            message= _ "These enemies are fools, - more sun, more crops, more food from the same land, - prosperity for all."
        [/message]
        [message]
            speaker=Efraim
            message= _ "It is not so simple. Sunlight also causes water to evaporate, and therefore makes more clouds, more thunderstorms, hailstorms and so on. And you know that it needs only one hailstorm to destroy almost all the crops. Can you imagine the consequences of five hailstorms per month? No crops. No food."
        [/message]
        [message]
            speaker=listener3
            message= _ "But without it, the undead would destroy us!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "This invasion was led by some liches who feared that the Empire would raise the second sun, and they wanted to prevent it at all costs. By the way, they were united with the elves, and elves would not join an evil skirmish."
        [/message]
        [message]
            speaker=listener3
            message= _ "And why would the undead do good things then?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Because it would harm them, as it was designed to. But also because it would harm everyone. The goals of the campaign were not evil, so the elves and others joined them."
        [/message]
        [message]
            speaker=listener1
            message= _ "Can you please tell us what happened, not only the motivations of these enemies?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Of course, if you would let me continue... The castle was attacked. All the royal family was killed."
        [/message]
        [message]
            speaker=listener4
            message= _ "Noooo!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "There was no other way to make them step back. We were facing the danger of a cataclysm, so we had to use any means possible. It was the only way. The deaths caused by this deed cannot be compared to the millions of victims of the cataclysm."
        [/message]
        [message]
            speaker=listener5
            message= _ "I agree. He has saved us from our foolish king!"
        [/message]
        [message]
            speaker=listener1
            message= _ "He saved us!"
        [/message]
        [message]
            speaker=listener2
            message= _ "He saved us! But who will be the next king now?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "I will be the king. I need to make sure it will not happen in the future. From now on, the taxes are halved."
        [/message]
        [message]
            speaker=listener3
            message= _ "You fool! The Empire needs each piece of gold in this time of war."
        [/message]
        [message]
            speaker=Efraim
            message= _ "What war? The remaining groups of orcs are being mauled by the retreating undead army. I am a great warrior myself, - I have defeated about twenty royal guards in the castle myself. We will order the mages to enchant weapons for our soldiers instead of making doomsday spells, and each of our soldiers will be thrice as strong as he used to be. Also we shall save a lot of gold by removing the useless royal ceremonies and other crap."
        [/message]
        [message]
            speaker=listener1
            message= _ "Less taxes! Hail the new king!"
        [/message]
        [kill]
            x,y=17,4
            [or]
                x,y=17,5
            [/or]
        [/kill]
        [endlevel]
            result=victory
            bonus=no
        [/endlevel]
    [/event]
    experience_modifier=125
[/scenario]
