#textdomain wesnoth-loti
[event]
    name=help_faq
    [message]
        speaker=narrator
        message=" "
        side_for=$side_number
        image="wesnoth-icon.png"
        [option]
            label=_"Why can I unstore only potions or books, but none of the other items I stored in the inventory?"
            [command]
                [message]
                    speaker=narrator
                    message=_"In order to avoid misuse, it is impossible to unstore other things than potions and limited items after turn 2. This rule doesn't apply on castle terrain. So, if there is none around and you need a lot of swapping, equip your units at the beginning of each scenario. If you want to swap items later, just put them on the ground."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_faq
                [/fire_event]
            [/command]
        [/option]
        [option]
            label=_"Resistances don't seem to increase correctly."
            [command]
                [message]
                    speaker=narrator
                    message=_"Effect 'Increases physical resistances by X%' does not increase them linearly but multiplicatively.

Resistance gains from armours increase the ability to cope with being attacked in a specific way: A unit whose physical resistances have been increased by X% will suffer X% less damage than a unit without armour. Example: An unarmoured Fencer bears 130% of blade damage. With two pieces of armour – one increasing resistances by 20%, one adding 10% – he will suffer 130 * (100 - 20) * (100 - 10) = 93.6 % of the damage he would take if he was unprotected, equivalent to a 7% blade resistance. This applies to any unit – no matter how much armour it is already wearing. Naturally, it requires extremely powerful items to obtain extremely high resistances. Note that only half of the set percentage applies to resistance to impact: blunt weapons were always used to bash through armours."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_faq
                [/fire_event]
            [/command]
        [/option]
        [option]
            label=_"Why am I receiving information about some precious stones?"
            [command]
                [message]
                    speaker=narrator
                    message=_"There are some precious stones on the ground, dropped by enemies. They are small, not very visible, so you probably didn't notice them. Collect them, quite powerful items can be made from them."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_faq
                [/fire_event]
            [/command]
        [/option]
        [option]
            label=_"I have picked up an item with a unit and placed it into the inventory, why do all units have it in their inventories?"
            [command]
                [message]
                    speaker=narrator
                    message=_"The inventory is common for all units to simplify matters."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_faq
                [/fire_event]
            [/command]
        [/option]
        [option]
            label=_"Enemy leader dies and drops an item – mission completed, end of the scenario. Wouldn't it be possible to let me get the item?"
            [command]
                [message]
                    speaker=narrator
                    message=_"Robbing the dead? You DO get it, greedhead. It's moved into your item storage."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_faq
                [/fire_event]
            [/command]
        [/option]
        [option]
            label=_"There's an item in the wall! How do I reach it?"
            [command]
                [message]
                    speaker=narrator
                    message=_"Your thirst for loot is boundless, isn't it? It's moved into your item storage at the end of the scenario."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_faq
                [/fire_event]
            [/command]
        [/option]
        [option]
            label=_"Why my unit does less and less damage?"
            [command]
                [message]
                    speaker=narrator
                    message=_"Attacks that hit multiple enemies are extremely powerful and thus have a drawback - they temporarily reduce the user's damage, which prevents you from using them all the time. Do not use them to avoid this issue."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_faq
                [/fire_event]
            [/command]
        [/option]
        [option]
            label=_"In some scenarios, there are guys who just hang around somewhere and don't move at all?"
            [command]
                [message]
                    speaker=narrator
                    message=_"Those are camouflaged traders. Step next to them to strike up a conversation, and to check the items that are on sale."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_faq
                [/fire_event]
            [/command]
        [/option]
        [option]
            label=_"I spent all my gold to buy more automatically recalled units – and not a single one appeared."
            [command]
                [message]
                    speaker=narrator
                    message=_"The units do not join your team at the time of buying slots. Any change regarding auto-recall will only take effect at the start of the next scenario."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_faq
                [/fire_event]
            [/command]
        [/option]
        [option]
            label=_"The property of some items that makes unit gain life per hit does not work sometimes."
            [command]
                [message]
                    speaker=narrator
                    message=_"This deliberately works only with items that do impact, pierce or blade damage. Items that change the damage type prevent it from working. There is an item to change the damage type back."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_faq
                [/fire_event]
            [/command]
        [/option]
        [option]
            label=_"Exit"
            [command]
            [/command]
        [/option]
    [/message]
[/event]
