#textdomain wesnoth-loti

[event]
    name=help_interface
    [message]
        speaker=narrator
        message=_"What do you need help with?"
        side_for=$side_number
        image="wesnoth-icon.png"
        [option]
            label=_"Items"
            [command]
                [message]
                    speaker=narrator
                    message=_"You will find magical items, gems, weapons or pieces of armor on your way, as well as potions, trinkets, ancient books... and lots of gold, of course. Enemies might lose objects in the heat of the battle or drop valuable articles when they get killed. Grab them!

To USE a certain item, the unit needs to have the required weapon capability. For example, a unit might be able to cast spells, but to use magic staves as weapon it has to command the staff attack.

A unit cannot take more than one item of a certain type. A message shows, whether – and if so which – piece of equipment has to be dropped, you then decide whether you agree with the swap.

A unit outfitted with items shows the trait 'GEARED' to easily detect it on the recall list. There are also small images of armours, weapons or red orbs next to them to identify them as 'not the most expendable soldiers'.

To unequip a geared unit click on the unit and select the respective piece. 'Limited' items are rare editions of books that cannot be removed."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_interface
                [/fire_event]
            [/command]
        [/option]
        [option]
            label=_"Item Storage"
            [command]
                [message]
                    speaker=narrator
                    message=_"It is something like an inventory of all your collected items, all units have access to this arsenal. You can store items there at any time, but only potions and books can be taken out of it after turn 2 (right-click on the unit you want to get these items, hit 'Items' and 'View the item storage' then). So, gear up your units when the scenario starts. Items are arranged in the way they were put there (however, if there are too many of them, they will be split to folders by type). Don't hoard and keep them stashed away: this stuff makes only sense on your units."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_interface
                [/fire_event]
            [/command]
        [/option]
        [option]
            label=_"Crafting"
            [command]
                [message]
                    speaker=narrator
                    message=_"The gems you find or that have been dropped by enemies are used to manufacture special gear. Some of them are very frequent, some of them are quite rare. To access crafting, right-click on the unit you want to get these items, hit 'Items' and 'Crafting' then. You will see how many gems of each kind you have (it's common for all units, like the item storage) and you will be asked whether you want to make an armour or a weapon. Then you will select the desired properties (the names of those pieces you can make with your current materials are white coloured, others are marked in red), then you will be asked if you want to make it and told how many gems it costs. Next you are told how many gems you have to fork out to craft the object of desire. If you confirm the selection you will be asked to choose the type of item. In case of crafting armour: Note, that helms, gloves or boots will increase physical resistances only by a third of the value promised because droppable armours typically increase the physical resistances significantly more than other armour pieces. So if you used some mid level crafting recipes with values made suitable for armours to make gauntlets, you'd produce items with far better defensive properties than other gauntlets."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_interface
                [/fire_event]
            [/command]
        [/option]
#ifndef NO_LOTI
        [option]
            label=_"Soul eater ability"
            [command]
                [message]
                    speaker=narrator
                    message=_"This ability is granted to your leaders in chapter 1, scenario 12 and is very useful. After a certain number of kills, you are asked which additional advancement path the unit should take. The benefits of the new advancements vary, spells deal a lot of damage, regeneration nicely increases survival abilities, while leaderships or healing are very useful in cooperation with other units.

To check a particular 'Soul eater score' right-click on the unit > Items > Unit information"
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_interface
                [/fire_event]
            [/command]
        [/option]
#endif
        [option]
            label=_"Books"
            [command]
                [message]
                    speaker=narrator
                    message=_"Books are items which can't be unequipped and add new advancement paths to their lucky owners. The new career opportunities show when the unit is going to take a promotion, hence when the required XP for the next level have been obtained. Improvements gained by books are also displayed among ability upgrades in the unit description."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_interface
                [/fire_event]
            [/command]
        [/option]
        [option]
            label=_"Legacies"
            [command]
                [message]
                    speaker=narrator
                    message=_"Each living unit has a legacy. One advancement opportunity must be sacrificed to learn it. Deliberately, only the next level-up will disclose the traces of legendary genes in the unit's blood and you can use their benefits. The improvements are usually better than the normal ones, but might not be very useful to the unit in question. Still, once aware of a legacy, it won't change – no matter how far backwards you reload the game."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_interface
                [/fire_event]
            [/command]
        [/option]
#ifndef NO_LOTI
        [option]
            label=_"Redeeming weapon special"
            [command]
                [message]
                    speaker=narrator
                    message=_"This is in some ways similar to the soul eater ability, but instead of increasing the count with each kill, the number of successful uses of this weapon special matters.

Redeem can be used only once every three turns, a message will pop up to notify when it is available again. It is, in many respects, imperative to use the redeem attack from time to time: After redeeming a certain amount of enemies, redeem becomes more effective (possibly also a good offensive weapon) and the unit gains a new advancement line of choice. Some of them add new spells, others add new abilities. Spells gained have huge ranges, incomparable to other spells, and converge into Particle storm, an attack hitting many enemies and dealing severe arcane damage. Physical abilities converge into Spiritual Transformation, that is an attack that makes the unit attack a single target with huge damage and taking only 33% of the damage.
Without these advancements, the unit will never get particularly strong, and low level enemies may become rare to find.

To check a particular 'Redeem score' right-click on the unit > Items > Unit information."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_interface
                [/fire_event]
            [/command]
        [/option]
#endif
        [option]
            label=_"Specific calculations"
            [command]
                [message]
                    speaker=narrator
                    message=_"-The base damage of attacks is determined by base unit stats and advancements, no change here.
-Percent values of item effects are added to the base damage of each weapon, thereby multiplying it. The result is shown as 'Damage increased by X%'.
-Defence/resistance gains from armours increase the ability to cope with being attacked in a specific way: A unit whose physical resistances have been increased by X% will suffer X% less damage than a unit without armour (resistance to impact is affected only by half of the set percentage). This applies to any unit – no matter how much armour it is already wearing. Naturally, it requires extremely powerful items to obtain extremely high resistances.
-Some effects stack additively, repeated application increases their intensity. Such as 'Sucks X HP with each hit', where the sum of all amounts of HP is drained. Same with 'resistance penetration'.
-Some items only take effect in combination with specific other equipped items. In descriptions, those items are displayed with purple letters, these properties work like advancements.
-Some advancements give special attacks whose damage, attack count, icon, specials and animation is based on the base attack of that unit."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_interface
                [/fire_event]
            [/command]
        [/option]
#ifndef NO_LOTI
        [option]
            label=_"Beelzebub"
            [command]
                [message]
                    speaker=narrator
                    message=_"In this campaign, finishing scenarios early will open up unforeseen opportunities, besides the usual bonus gold. The enemy is always keeping a watchful eye, calculating your progress and success. When the scales turn against him and his wacky scoring reaches a certain milestone (it can take many scenarios to build up a critical level), Beelzebub is summoned.

When this hunter is around, beacons that allow him to trace your units will appear on the map. No need to be discouraged, those GPS trackers fail to function well: they detect you only if you deliberately activate them by selecting the corresponding option when the time has come.

The enemy calls a high-ranking big gun into play, Beelzebub is very hard to beat – his strength adjusted to your estimated power. But once defeated, he'll drop a vast amount of valuable equipment – precious treasures which are, indeed, worth one or the other sacrifice."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_interface
                [/fire_event]
            [/command]
        [/option]
#endif
#ifndef NO_LOTI
        [option]
            label=_"Secrets"
            [command]
                [message]
                    speaker=narrator
                    message=_"In some scenarios, you get a clue to a mystery – someone might divulge a 'secret', or there's something strange about what you're being called to deal with. Towards the end of chapter 9, there's an important dialogue where these pieces of information are analysed. For this to happen it is important to beat the last but one scenario with the same computer and BfW-version you used to play through this campaign. The save files won't help to get to know the shocking truth behind those secrets that were passed on to you..."
                    side_for=$side_number
                    image="wesnoth-icon.png"
                [/message]
                [fire_event]
                    name=help_interface
                [/fire_event]
            [/command]
        [/option]
#endif
        [option]
            label=_"Exit"
            [command]
            [/command]
        [/option]
    [/message]
[/event]
