#textdomain wesnoth-loti
#define CH7S2_SPAWN COORDINATES X Y
    [event]
        name=moveto
        [filter]
            side=1
            x,y={COORDINATES}
        [/filter]
#ifdef HARD
        {VARIABLE spawn_count 8}
#endif
#ifdef NORMAL
        {VARIABLE spawn_count 7}
#endif
#ifdef EASY
        {VARIABLE spawn_count 6}
#endif
        {VARIABLE_OP spawn_sort rand (orcs,drakes,elves,nagas)}
        [if]
            [variable]
                name=spawn_sort
                equals=orcs
            [/variable]
            [then]
                [while]
                    [variable]
                        name=spawn_count
                        greater_than=0
                    [/variable]
                    [do]
                        {VARIABLE_OP spawn_type rand (Corrupted Orcish Grunt,Corrupted Orcish Grunt,Corrupted Orcish Grunt,Corrupted Orcish Assassin,Corrupted Orcish Assassin,Corrupted Orcish Slayer,Corrupted Orcish Warrior)}
                        {GENERIC_UNIT 2 $spawn_type {X} {Y}}
                        {VARIABLE_OP spawn_count sub 1}
                    [/do]
                [/while]
            [/then]
        [/if]
        [if]
            [variable]
                name=spawn_sort
                equals=drakes
            [/variable]
            [then]
                [while]
                    [variable]
                        name=spawn_count
                        greater_than=0
                    [/variable]
                    [do]
                        {VARIABLE_OP spawn_type rand (Corrupted Drake Fighter,Corrupted Drake Fighter,Corrupted Drake Fighter,Corrupted Drake Fighter,Corrupted Drake Clasher,Corrupted Drake Clasher,Corrupted Drake Warrior)}
                        {GENERIC_UNIT 7 $spawn_type {X} {Y}}
                        {VARIABLE_OP spawn_count sub 1}
                    [/do]
                [/while]
            [/then]
        [/if]
        [if]
            [variable]
                name=spawn_sort
                equals=elves
            [/variable]
            [then]
                [while]
                    [variable]
                        name=spawn_count
                        greater_than=0
                    [/variable]
                    [do]
                        {VARIABLE_OP spawn_type rand (Corrupted Elvish Fighter,Corrupted Elvish Fighter,Corrupted Elvish Fighter,Corrupted Elvish Hero,Corrupted Elvish Scout,Corrupted Elvish Scout)}
                        {GENERIC_UNIT 3 $spawn_type {X} {Y}}
                        {VARIABLE_OP spawn_count sub 1}
                    [/do]
                [/while]
            [/then]
        [/if]
        [if]
            [variable]
                name=spawn_sort
                equals=nagas
            [/variable]
            [then]
                [while]
                    [variable]
                        name=spawn_count
                        greater_than=0
                    [/variable]
                    [do]
                        {VARIABLE_OP spawn_type rand (Corrupted Naga Fighter,Corrupted Naga Fighter,Corrupted Naga Fighter,Corrupted Naga Warrior)}
                        {GENERIC_UNIT 4 $spawn_type {X} {Y}}
                        {VARIABLE_OP spawn_count sub 1}
                    [/do]
                [/while]
            [/then]
        [/if]
        [allow_undo]
        [/allow_undo]	#You can go back, but the enemy will be there anyway; this is to make sure that the player cannot notice some enemies spawned in the distance
        {CLEAR_VARIABLE spawn_count,spawn_type,spawn_sort}
    [/event]
#enddef
[scenario]
    id="02_Search_for_Elves"
    name= _ "Search for Elves"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/02_Corrupted_Land.map}"
    next_scenario=03_Corruption
    victory_when_enemies_defeated=no
    turns=50
    experience_modifier=80
    {DEFAULT_MUSIC_PLAYLIST}
    {TWO_SUNS_DEFAULT_SCHEDULE}
    [time_area]
        x=55-59
        y=7-14
        {UNDERGROUND}
    [/time_area]
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Knight
        gold=200
        village_support=1000
        shroud=yes
        random_traits=yes
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
    [/side]

    [side]
        type=Corrupted Orcish Sovereign
        canrecruit=yes
        generate_name=yes
        side=2
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 600 750 900}
        {NO_INCOME}
        village_gold=0
        recruit=Corrupted Orcish Grunt,Corrupted Orcish Assassin,Orcish Archer,Goblin Impaler
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=3
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 700 850 1000}
        {NO_INCOME}
        village_gold=0
        recruit=Corrupted Elvish Fighter,Corrupted Elvish Scout
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=4
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 600 750 900}
        {NO_INCOME}
        village_gold=0
        recruit=Corrupted Naga Fighter,Naga Fighter
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=5
        team_name=Corruption
        user_team_name=_"Corruption"
        village_gold=0
        {AI_OVERHAUL_PLACE 5}
        {AI_OVERHAUL_PLACE_2 5}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=6
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 700 850 1000}
        {NO_INCOME}
        village_gold=0
        recruit=Outlaw,Fugitive,Rogue,Assassin,Bandit,Highwayman,Trapper
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=7
        team_name=Corruption
        user_team_name=_"Corruption"
        {AI_OVERHAUL_PLACE 7}
        {AI_OVERHAUL_PLACE_2 7}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=8
        team_name=Good
        user_team_name=_"Good"
        {GENERIC_UNIT 7 "Elvish Marksman" 45 4}
        {GENERIC_UNIT 7 "Elvish Champion" 48 5}
        {GENERIC_UNIT 7 "Elvish Sharpshooter" 42 7}
        {GENERIC_UNIT 7 "Elvish Gryphon Rider" 46 1}
        {GENERIC_UNIT 7 "Elvish Ranger" 49 3}
        {GENERIC_UNIT 7 "Elvish Sorceress" 45 8}
    [/side]

    [event]
        name=prestart
        {VARIABLE found_elves 0}
        [objectives]
            side=1
            [objective]
                description=_ "Find the elves"
                condition=win
                [show_if]
                    [variable]
                        name=found_elves
                        equals=0
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Find a reliable source of news"
                condition=win
                [show_if]
                    [variable]
                        name=found_elves
                        equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Death of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note= _"Note: No upkeep, no income, no matter what it shows. Additional gold can be found in chests."
        [/objectives]
        {RANDOM_ITEM 57 48}
        {RANDOM_ITEM 8 6}
        {RANDOM_ITEM 35 2}
        {RANDOM_ITEM 22 25}
        {RANDOM_ITEM 56 3}
        {RANDOM_ITEM 54 2}
        {RANDOM_ITEM 57 9}
        {RANDOM_ITEM 57 9}
        {RANDOM_ITEM 55 3}
    [/event]
    {GOLD_CHEST 34 24}
    {GOLD_CHEST 3 21}
    {GOLD_CHEST 36 7}
    {CH7S2_SPAWN 0-13,17-32 3 24}
    {CH7S2_SPAWN 24-45,35-50 34 45}
    {CH7S2_SPAWN 37-57,12-33 46 22}
    {CH7S2_SPAWN 15-31,1-17 23 7}
    {CH7S2_SPAWN 0-15,0-12 4 2}
    [event]
        name=moveto
        [filter]
            side=1
            x,y=38-59,24-50
        [/filter]
        [unit]
            type=Corrupted Elvish Champion
            x,y=52,34
            canrecruit=yes
            side=3
            random_traits=yes
            generate_name=yes
        [/unit]
        [allow_undo]
        [/allow_undo]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=1-28,1-26
        [/filter]
        [unit]
            type=Corrupted Naga Myrmidon
            x,y=13,16
            canrecruit=yes
            side=4
            random_traits=yes
            generate_name=yes
        [/unit]
        [allow_undo]
        [/allow_undo]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=16-45,9-27
        [/filter]
        [unit]
            type=Blackguard
            x,y=31,17
            id=bandit_boss
            canrecruit=yes
            side=6
            random_traits=yes
            generate_name=yes
            [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    [effect]
                        apply_to=attack
                        range=melee
                        [set_specials]
                            mode=append
                            {WEAPON_SPECIAL_HIT_AND_RUN}
                        [/set_specials]
                    [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
            [/modifications]
        [/unit]
        [allow_undo]
        [/allow_undo]
    [/event]

    [event]
        name=start
        [recall]
            id=Lethalia
        [/recall]
        {CAPTURE_VILLAGES 1 5 48 12}
        {CAPTURE_VILLAGES 7 48 3 12}
        [message]
            speaker=Efraim
            message= _ "We will have to find these elves. Elvish necromancers... Oh, nooo! A curse on Lilith!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "What?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Can you remember your prophecy? That the next corruption of elves would come, when two suns on the sky will shine?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Noooo! Lilith again? That would actually fit, elvish necromancers, scaring even orcs away,..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Just one thing does not fit. The orcs said there were also naga necromancers and orcish necromancers."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Maybe this is far worse than the thing that was happening before. Lilith is not satisfied with elvish servants. She wants to control all races, including orcs and nagas."
        [/message]
        [message]
            speaker=Efraim
            message= _ "She would probably like having nagas as servants. Serpents were always allied with evil."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Well, we should try to find some elves."
        [/message]
    [/event]

    [event]
        name=attack
        [filter]
            side=1,3
        [/filter]
        [filter_second]
            side=1,3
        [/filter_second]
        {VARIABLE found_elves 1}
        [message]
            speaker=Lethalia
            message= _ "These are not the elves we are looking for. I am not perfectly sure what they are, but I think I have seen similar abominations ages ago. Led by Shibboleth the Accursed, a mysterious necromancer. We will need to find somebody who knows what is going on."
        [/message]
        [show_objectives]
            side=1
        [/show_objectives]
    [/event]
    [event]
        name=last breath
        [filter]
            id=bandit_boss
        [/filter]
        [message]
            speaker=unit
            message= _ "I give up."
        [/message]
        [message]
            speaker=second_unit
            message= _ "Tell your boys to fight against these abominations, not for them."
        [/message]
        [message]
            speaker=unit
            message= _ "Their leader paid me. I should not..."
        [/message]
        [message]
            speaker=second_unit
            message= _ "Breaking the contract or death?"
        [/message]
        [message]
            speaker=unit
            message= _ "I do not feel like breaking a promise to such a beautiful lady. You know, even we, bandits, have some kind of pride loyalty. And I am sort of knight."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "What was the name of that beautiful lady?"
        [/message]
        [message]
            speaker=unit
            message= _ "I have no idea."
        [/message]
        [message]
            speaker=second_unit
            message= _ "Broken promise or death?"
        [/message]
        [message]
            speaker=unit
            message= _ "Broken promise.. will do... Boys, fight against these abominations, not for them."
        [/message]
        [message]
            speaker=second_unit
            message= _ "I do not trust you. Run away!"
        [/message]
        {MODIFY_UNIT id=bandit_boss hitpoints 20}
        [kill]
            side=6
            animate=no
            fire_event=no
        [/kill]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=42-53,1-6
        [/filter]
        [message]
            speaker=unit
            message= _ "Are you the... good elves?"
        [/message]
        [message]
            side=8
            message= _ "Yes. We are the last remains of elves that did not fall to this corruption. Can you please make haste and come to our town? We are under a severe siege."
        [/message]
        [message]
            speaker=Efraim
            message= _ "You are a regular elf, yes, I can feel it. Very well, we shall follow you into your town."
        [/message]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]

    [event]
        name=side turn
        first_time_only=no
        [if]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [then]
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Walking Corpse)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Bone Shooter)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Bone Shooter,Revenant,Necrophage)}
#endif
                {GENERIC_UNIT 5 $spawn_type 57 12}
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Walking Corpse,Blood Bat)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Revenant)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Wraith,Shadow,Necrophage)}
#endif
                {VARIABLE_OP spawn_x rand (12,15)}
                {VARIABLE_OP spawn_y rand (2,8)}
                {GENERIC_UNIT 5 $spawn_type $spawn_x $spawn_y}
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Walking Corpse)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Revenant)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Wraith,Revenant,Necrophage)}
#endif
                {VARIABLE_OP spawn_x rand (47,56)}
                {VARIABLE_OP spawn_y rand (40,48)}
                {GENERIC_UNIT 5 $spawn_type $spawn_x $spawn_y}
                {CLEAR_VARIABLE spawn_type,spawn_x,spawn_y}
            [/then]
        [/if]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Whoever is behind this, his dreadful plans must have been already executed."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 9 3 34 41 29-39,36-46}
    {GENERIC_DEATHS}
    {DROPS 5 7 (axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5,6,7}
    {GLOBAL_EVENTS}
    {NEUTRAL_SIDE 8}
    {DISABLE_UPKEEP 1}
[/scenario]
