#textdomain wesnoth-loti
[scenario]
    id="03_Corruption"
    name= _ "Corruption"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/03_Last_Elven_Keep.map}"
    next_scenario=04_Last_Survivors
    victory_when_enemies_defeated=yes
    {TURNS 30 27 25}
    experience_modifier=80
    {SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC northeners.ogg}
    {EXTRA_SCENARIO_MUSIC the_city_falls.ogg}
    {TWO_SUNS_DEFAULT_SCHEDULE}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Knight
#ifdef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_VII
        gold=1000
#else
        gold=500
#endif
        village_gold=4
        random_traits=yes
        unrenamable=yes
        team_name=good
        user_team_name=_"Good"
    [/side]

    [side]
        type=Elvish Overlord
        canrecruit=yes
        generate_name=yes
        id=ally_ch7sc3
        side=2
        village_gold=4
        team_name=good
        user_team_name=_"Good"
        {GOLD 1200 1300 1400}
        {INCOME 70 90 110}
        recruit=Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress
        [ai]
            passive_leader_shares_keep=yes
        [/ai]
        [modifications]
            {TRAIT_LOYAL}
            {TRAIT_RESILIENT}
        [/modifications]
    [/side]
    [side]
        type=Corrupted Elvish Juggernaut
        id=enemy
        side=3
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 700 850 1000}
        {INCOME 70 80 90}
        village_gold=2
        recruit=Corrupted Elvish Fighter,Corrupted Elvish Scout,Spell Eater
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        type=Corrupted Orcish Sovereign
        side=4
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 600 750 900}
        {INCOME 70 80 90}
        village_gold=2
        recruit=Corrupted Naga Fighter,Corrupted Orcish Grunt,Corrupted Orcish Assassin,Spell Eater
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        type=Corrupted Armageddon Drake
        side=5
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 1000 1200 1400}
        {INCOME 70 80 90}
        village_gold=2
        recruit=Corrupted Drake Clasher,Corrupted Drake Fighter,Spell Eater
        {AI_OVERHAUL_PLACE 5}
        {AI_OVERHAUL_PLACE_2 5}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=6
        team_name=Corruption
        user_team_name=_"Corruption"
        {AI_OVERHAUL_PLACE 6}
        {AI_OVERHAUL_PLACE_2 6}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of the elven lord"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
    [/event]

    [event]
        name=start
        [recall]
            id=Lethalia
            x,y=25,20
        [/recall]
        {CAPTURE_VILLAGES 2 26 18 25}
        [message]
            speaker=ally_ch7sc3
            message= _ "Welcome to our valley. Our last valley."
        [/message]
        [message]
            speaker=Efraim
            message= _ "How is the situation?"
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "It is very bad. Lots of enemies are attacking us, and they are very strong, each one of them. We have lost all our positions, those who remained trapped there were probably turned into abominations like them."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "What are they, anyway?"
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "We have studied them. We are looking for effective ways to defeat them desperately. Our first discovery was that they are vulnerable to arcane magic. This means they are created by magic. Then, we discovered that they were not just imitations of elves, but they were elves once. Do not ask me how we discovered it."
        [/message]
        [message]
            speaker=Efraim
            message= _ "So they are zombies of some kind?"
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "No, they are living. Just some kind of weird, dark enchantment has been cast on them, that strengthens them and controls them completely. Also, their bodies deteriorate over time, they probably do not live for longer than a few years."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Maybe demons are possessing them."
        [/message]
        [message]
            speaker=Efraim
            message= _ "That would be possible if Lilith was involved, but the magic they are using is black magic, not demonic magic. Demons were hurling fireballs and some other spells, these ones use shadow wave and chill wave, like necromancers. It appears to be some kind of possession by evil spirits."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "This reminds me of the breaks in the barrier to the world of the dead. Maybe the shadows learned to possess the living to spread the evil better?"
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "I disagree. We have investigated. Whatever is possessing them is not on its own. They seem to obey something higher."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "What can this thing be? I cannot believe a necromancer could do this."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Maybe the necromancer is really exceptional."
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "You came to the same result than we did. We believe this whole is a scheme of an extremely powerful necromancer. Not of a necromancer who was, like most others, building an army for eons, but one whose inventions are beyond our understanding."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "But I know a lot about necromancy. And I have no idea what might these things be."
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "I believe there is something like mainstream necromancy, that is studied from books and stuff. Then there are necromancers who learned everything themselves and do things in an absolutely different way."
        [/message]
        [message]
            speaker=Efraim
            message= _ "You are right. A friend of mine used to be that kind of a necromancer. Do you have any ideas where might be the headquarters of that necromancer?"
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "I believe the necromancer is not the mastermind. These enemies fight too strategically, like if a general was leading them. They scared the orcs, who started destroying other settlements, weakening their future targets. They blocked us in this valley, where we have a little chance to survive the ongoing winter. If they will not get us, it will be the winter."
        [/message]
        [message]
            speaker=Efraim
            message= _ "So there are more enemy leaders. Any clues where they might be?"
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "We have found a recently built giant tower far north from here. Only the most courageous of our hunters managed to get close enough to see it through a mountain pass."
        [/message]
        [message]
            speaker=Efraim
            message= _ "A necromancer building a tower? That is unusual, they usually hide in caves."
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "It might be a really weird necromancer..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Wait, do you remember what did that madman in the town say? That on iced plains, there is a tower, where a dragon is guarding a princess."
        [/message]
        [message]
            speaker=Efraim
            message= _ "But we should figure out how much truth was in the gibberish he said. We might suppose the enemy mastermind is a dragon. That might fit. Dragons have decent knowledge of magic, and they might be also good strategists and I do not know what else, their life is so long that they may master almost anything."
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "Have you heard of the dracoliches?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Dracolich... That sounds scary. But it would explain this all. And also, if I remember correctly, he said white dragon, not ice dragon, so maybe he thought the colour of the bones."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "What is that princess then? The princess that should be slain?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Maybe his captive. Maybe his ally. Maybe he just added her to the story to make it sound more like a fairy tale. And maybe it is Lilith and the dragon just guards her while she works on other things, like getting more demons here, but that sounds too crazy."
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "So let us assume we are facing a powerful dracolich, with huge armies, and hidden in a tower on a frozen tundra. What can we do?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "We will travel north and slay him! We have already defeated Lilith's incarnation, Ba'al The Great Dark Dragon, Akula The Technologically Advanced Monster, and a lot of other enemies, a dracolich should not be a problem."
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "I believe it is our only hope. We should travel north..."
        [/message]
        [message]
            speaker=enemy
            message= _ "Are you going somewhere?"
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "No! They are here! We are besieged! They are coming from all exits from the valley! The corruption came to take us!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "We will defeat them."
        [/message]
        [message]
            speaker=enemy
            message= _ "You will never defeat us. We are stronger. But you may surrender and come to the tower with us. To became as strong as we are."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I will not succumb to your honeyed words. You will be annihilated."
        [/message]
        [message]
            speaker=enemy
            message= _ "Your foolish words are just making sure you will not avoid a painful death."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Enough chatting with you, it is time to fight."
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "Take control of the villages, I believe you will use it better. I have other sources of income."
        [/message]
        {CAPTURE_VILLAGES 1 26 18 25}
    [/event]

    [event]
        name=enemies defeated
        [message]
            speaker=Efraim
            message= _ "Victory is ours, but what is the plan?"
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "This valley continues north. There should be a small outpost in its northern extremity, and these soldiers know very well to hide. Then there is a pass to northern tundras, from where we can approach the spot from where the tower was seen. Then we will get through the mountains somehow."
        [/message]
        [message]
            speaker=Efraim
            message= _ "That is a very desperate plan. I like it. Time to go!"
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "I am giving you the control of my army, you will be better leaders."
        [/message]
        {MODIFY_UNIT id=ally_ch7sc3 canrecruit no}
        {MODIFY_UNIT side=2 side 1}
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=side turn
        first_time_only=no
        [if]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [then]
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Walking Corpse)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Bone Shooter,Spell Eater)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Bone Shooter,Revenant,Necrophage,Spell Eater)}
#endif
                {GENERIC_UNIT 6 $spawn_type 10 33}
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Walking Corpse,Blood Bat,Spell Eater)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Revenant,Spell Eater)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Wraith,Shadow,Necrophage,Spell Eater)}
#endif
                {GENERIC_UNIT 6 $spawn_type 1 4}
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Walking Corpse)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Revenant)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Wraith,Revenant,Necrophage,Spell Eater)}
#endif
                {GENERIC_UNIT 6 $spawn_type 35 1}
                {CLEAR_VARIABLE spawn_type,spawn_x,spawn_y}
            [/then]
        [/if]
    [/event]
    [event]
        name=last breath
        [filter]
            id=ally_ch7sc3
        [/filter]
        [message]
            speaker=unit
            message= _ "I am finished. Our war is over."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Reinforcements! They must have mustered a half of their army! We are doomed!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 7 3 10 24 5-15,19-29}
    {GENERIC_DEATHS}
    {DROPS 5 7 (axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 3,4,5,6}
    {GLOBAL_EVENTS}
[/scenario]
