#textdomain wesnoth-loti
#define CH7S5_SPAWN COORDINATES X Y
    [event]
        name=moveto
        [filter]
            side=1
            x,y={COORDINATES}
        [/filter]
        {VARIABLE_OP spawn_sort rand (orcs,elves,monsters,spirits)}
        [if]
            [variable]
                name=spawn_sort
                equals=orcs
            [/variable]
            [then]
#ifdef HARD
                {VARIABLE spawn_count 10}
#endif
#ifdef NORMAL
                {VARIABLE spawn_count 9}
#endif
#ifdef EASY
                {VARIABLE spawn_count 8}
#endif
                [while]
                    [variable]
                        name=spawn_count
                        greater_than=0
                    [/variable]
                    [do]
                        {VARIABLE_OP spawn_type rand (Corrupted Orcish Grunt,Corrupted Orcish Assassin,Corrupted Orcish Slayer,Corrupted Orcish Warrior,Spell Eater)}
                        {GENERIC_UNIT 3 $spawn_type {X} {Y}}
                        {VARIABLE_OP spawn_count sub 1}
                    [/do]
                [/while]
            [/then]
        [/if]
        [if]
            [variable]
                name=spawn_sort
                equals=elves
            [/variable]
            [then]
#ifdef HARD
                {VARIABLE spawn_count 10}
#endif
#ifdef NORMAL
                {VARIABLE spawn_count 9}
#endif
#ifdef EASY
                {VARIABLE spawn_count 8}
#endif
                [while]
                    [variable]
                        name=spawn_count
                        greater_than=0
                    [/variable]
                    [do]
                        {VARIABLE_OP spawn_type rand (Corrupted Elvish Fighter,Corrupted Elvish Hero,Corrupted Elvish Scout,Corrupted Elvish Rider,Corrupted Elvish Archer,Corrupted Elvish Ranger,Spell Eater)}
                        {GENERIC_UNIT 4 $spawn_type {X} {Y}}
                        {VARIABLE_OP spawn_count sub 1}
                    [/do]
                [/while]
            [/then]
        [/if]
        [if]
            [variable]
                name=spawn_sort
                equals=monsters
            [/variable]
            [then]
#ifdef HARD
                {VARIABLE spawn_count 14}
#endif
#ifdef NORMAL
                {VARIABLE spawn_count 12}
#endif
#ifdef EASY
                {VARIABLE spawn_count 10}
#endif
                [while]
                    [variable]
                        name=spawn_count
                        greater_than=0
                    [/variable]
                    [do]
                        {VARIABLE_OP spawn_type rand (Yeti,Ice Spirit)}
                        {GENERIC_UNIT 5 $spawn_type {X} {Y}}
                        {VARIABLE_OP spawn_count sub 1}
                    [/do]
                [/while]
            [/then]
        [/if]
        [if]
            [variable]
                name=spawn_sort
                equals=spirits
            [/variable]
            [then]
#ifdef HARD
                {VARIABLE spawn_count 18}
#endif
#ifdef NORMAL
                {VARIABLE spawn_count 15}
#endif
#ifdef EASY
                {VARIABLE spawn_count 13}
#endif
                [while]
                    [variable]
                        name=spawn_count
                        greater_than=0
                    [/variable]
                    [do]
                        {VARIABLE_OP spawn_type rand (Ghost,Wraith,Spectre,Reaper,Shadow,Nightgaunt,Dark Shade)}
                        {GENERIC_UNIT 6 $spawn_type {X} {Y}}
                        {VARIABLE_OP spawn_count sub 1}
                    [/do]
                [/while]
            [/then]
        [/if]
        [allow_undo]
        [/allow_undo]	#You can go back, but the enemy will be there anyway; this is to make sure that the player cannot notice some enemies spawned in the distance
        {CLEAR_VARIABLE spawn_count,spawn_type,spawn_sort}
    [/event]
#enddef
[scenario]
    id="05_Tundra"
    name= _ "Tundra"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/05_Tundra.map}"
    next_scenario=06_Where_the_Flames_Freeze
    victory_when_enemies_defeated=no
    turns=90
    experience_modifier=80
    {DEFAULT_MUSIC_PLAYLIST}
    {TWO_SUNS_DEFAULT_SCHEDULE}
    [time_area]
        x=27-38
        y=76-91
        {UNDERGROUND}
    [/time_area]
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress
        gold=300
        shroud=yes
        random_traits=yes
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
    [/side]

    [side]
        no_leader=yes
        side=2
        team_name=Undead
        user_team_name=_"Undead"
        {GOLD 600 750 900}
        {NO_INCOME}
        village_gold=0
        recruit=Grim Knight,Banebow,Draug,Ghast,Spectre
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
#define CORRUPTION_NO_LEADER_SIDE SIDE
    [side]
        no_leader=yes
        side={SIDE}
        team_name=Corruption
        user_team_name=_"Corruption"
        {AI_OVERHAUL_PLACE {SIDE}}
        {AI_OVERHAUL_PLACE_2 {SIDE}}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
#enddef

    {CORRUPTION_NO_LEADER_SIDE 3}
    {CORRUPTION_NO_LEADER_SIDE 4}
    {CORRUPTION_NO_LEADER_SIDE 5}
    {CORRUPTION_NO_LEADER_SIDE 6}
    {CORRUPTION_NO_LEADER_SIDE 7}
    {CORRUPTION_NO_LEADER_SIDE 8}
    {CORRUPTION_NO_LEADER_SIDE 9}
    {CORRUPTION_NO_LEADER_SIDE 10}
    {CORRUPTION_NO_LEADER_SIDE 11}
    {CORRUPTION_NO_LEADER_SIDE 12}

    [event]
        name=prestart
        {VARIABLE can_build_encampment 1}
        {VARIABLE teleport_wait 10}
        {CAPTURE_VILLAGES 1 54 87 12}
#ifdef HARD
        {VARIABLE spawn_count 60}
#endif
#ifdef NORMAL
        {VARIABLE spawn_count 50}
#endif
#ifdef EASY
        {VARIABLE spawn_count 40}
#endif
        [while]
            [variable]
                name=spawn_count
                greater_than=0
            [/variable]
            [do]
                {VARIABLE_OP spawn_type rand (Wraith,Spectre,Reaper,Shadow,Nightgaunt,Dark Shade,Deathblade,Grim Knight,Revenant,Chocobone,Draug,Deathlord,Banebow,Bone Shooter,Soul Shooter)}
                {VARIABLE_OP spawn_x rand (1..65)}
                {VARIABLE_OP spawn_y rand (1..91)}
                {VARIABLE_OP spawn_side rand (10,11,12)}
                {GUARDIAN_UNIT $spawn_side $spawn_type $spawn_x $spawn_y}
                {VARIABLE_OP spawn_count sub 1}
            [/do]
        [/while]
        {CLEAR_VARIABLE spawn_type,spawn_x,spawn_y,spawn_side,spawn_count}
        [kill]
            [filter_location]
                terrain=*^Xm,Xu
            [/filter_location]
        [/kill]
        [objectives]
            side=1
            [objective]
                description=_ "Exit the tundra to the north"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of Efraim or Lethalia"
                condition=lose
            [/objective]
            note= _"Note: No upkeep, no income, no matter what it shows. Additional gold can be found in chests.
You can teleport all units to Efraim once per ten turns.
You can build a keep anywhere for 50 gold (see options in the right-click menu)."
        [/objectives]
        {RANDOM_ITEM 37 88}
        {RANDOM_ITEM 29 88}
        {RANDOM_ITEM 23 85}
        {RANDOM_ITEM 51 46}
        {RANDOM_ITEM 8 87}
        {RANDOM_ITEM 7 38}
        {RANDOM_ITEM 60 23}
        {RANDOM_ITEM 44 20}
        {RANDOM_ITEM 62 3}
    [/event]
    {GOLD_CHEST 29 80}
    {GOLD_CHEST 12 85}
    {GOLD_CHEST 11 46}
    {GOLD_CHEST 42 52}
    {GOLD_CHEST 27 17}
    {GOLD_CHEST 7 26}
    {CH7S5_SPAWN 33-62,59-78 51 71}
    {CH7S5_SPAWN 19-52,40-73 37 57}
    {CH7S5_SPAWN 5-24,48-83 13 62}
    {CH7S5_SPAWN 1-19,68-91 8 81}
    {CH7S5_SPAWN 1-23,37-67 12 52}
    {CH7S5_SPAWN 10-38,30-57 24 45}
    {CH7S5_SPAWN 35-52,35-52 48 47}
    {CH7S5_SPAWN 50-65,47-37 62 52}
    {CH7S5_SPAWN 47-65,20-48 61 34}
    {CH7S5_SPAWN 31-57,18-47 43 33}
    {CH7S5_SPAWN 3-29,10-47 15 32}
    {CH7S5_SPAWN 1-22,10-37 9 22}
    {CH7S5_SPAWN 20-47,5-32 34 18}
    {CH7S5_SPAWN 40-65,8-38 56 22}
    {CH7S5_SPAWN 41-65,1-27 55 12}
    {CH7S5_SPAWN 23-47,1-26 39 12}
    {CH7S5_SPAWN 4-32,1-19 17 6}

    [story]
        [part]
            background=story/barren_land.jpg~CS(-30,-30,30)
            story= _ "The vegetation was getting smaller and weaker as they continued north. Only a very few plants could survive the cold weather of this harsh land."
        [/part]
    [/story]

    [event]
        name=moveto
        [filter]
            side=1
            x,y=28-39,77-90
        [/filter]
        [unit]
            type=Ancient Lich
            x,y=31,90
            canrecruit=yes
            side=2
            random_traits=yes
        [/unit]
        [modify_side]
            side=2
            {INCOME 60 70 80}
        [/modify_side]
        [allow_undo]
        [/allow_undo]
    [/event]

    [event]
        name=start
        [set_menu_item]
            id=zz_ch6s9_teleport
            description= _ "Teleport units to leader"
            [show_if]
                [have_unit]
                    x,y=$x1,$y1
                    id=Efraim
                [/have_unit]
                [and]
                    [variable]
                        name=teleport_wait
                        greater_than_equal_to=10
                    [/variable]
                [/and]
            [/show_if]
            [command]
                {VARIABLE teleport_wait 0}
                [store_unit]
                    [filter]
                        side=1
                        [not]
                            id=Efraim
                        [/not]
                    [/filter]
                    kill=no
                    variable=teleport_store
                [/store_unit]
                {FOREACH teleport_store i}
                    [teleport]
                        [filter]
                            id=$teleport_store[$i].id
                        [/filter]
                        x,y=$x1,$y1
                        clear_shroud=yes
                        animate=no
                    [/teleport]
                {NEXT i}
                {CLEAR_VARIABLE teleport_store}
            [/command]
        [/set_menu_item]
        [set_menu_item]
            id=zz_ch7s5_camp
            description= _ "Build an encampment"
            [show_if]
                [variable]
                    name=can_build_encampment
                    equals=1
                [/variable]
            [/show_if]
            [command]
                [store_gold]
                    side=1
                    variable=gold
                [/store_gold]
                [message]
                    speaker=narrator
                    message= _ "Do you want to spend 50 gold to build an encampment to recruit units?"
                    image=wesnoth-icon.png
                    [option]
                        message=_"Yes"
                        [command]
                            [gold]
                                side=1
                                amount=-50
                            [/gold]
                            [terrain]
                                x,y=$x1,$y1
                                terrain=Kea
                            [/terrain]
                            [store_locations]
                                [filter_adjacent_location]
                                    x,y=$x1,$y1
                                [/filter_adjacent_location]
                                variable=terrains_for_castle
                            [/store_locations]
                            {FOREACH terrains_for_castle i}
                                [terrain]
                                    x,y=$terrains_for_castle[$i].x,$terrains_for_castle[$i].y
                                    terrain=Cea
                                [/terrain]
                            {NEXT i}
                            {CLEAR_VARIABLE terrains_for_castle}
                            [redraw]
                            [/redraw]
                        [/command]
                        [show_if]
                            [variable]
                                name=gold
                                greater_than_equal_to=50
                            [/variable]
                        [/show_if]
                    [/option]
                    [option]
                        message=_"No"
                        [command]
                        [/command]
                    [/option]
                [/message]
                {CLEAR_VARIABLE gold}
            [/command]
        [/set_menu_item]
        [recall]
            id=Lethalia
            x,y=57,85
        [/recall]
        [recall]
            id=ally_ch7sc3
        [/recall]
        [recall]
            id=ally_ch7sc4
        [/recall]
        [message]
            speaker=ally_ch7sc4
            message= _ "So, here is the tundra. For you, it is a harsh and inhospitable wasteland, for me, it is home."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "It just looks like another valley."
        [/message]
        [message]
            speaker=ally_ch7sc4
            message= _ "It is behind the valley. You will see it better soon."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Any tactical information?"
        [/message]
        [message]
            speaker=ally_ch7sc4
            message= _ "It is a huge flat land, so everyone can walk through it without problems, but it will be hard to find some cover. Also, there are no remains of civilisation ahead, maybe a few villages, but there are no castles, so I recommend you to take everyone you need now."
        [/message]
        [message]
            speaker=Efraim
            message= _ "There are enough stones and the grass is quite thick, we might build encampments ourselves."
        [/message]
        [message]
            speaker=ally_ch7sc4
            message= _ "I believe it can be done."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Where are we going to?"
        [/message]
        [message]
            speaker=ally_ch7sc4
            message= _ "You see those mountain peaks by the horizon? The tower is behind them. The river has cut a pass through them, so we should seek that place. But it might be blocked by snow drifts, it is not summer anymore, and in that case, we would have to try to pass through a cave we have recently discovered. It is east from the pass."
        [/message]
        [message]
            speaker=Efraim
            message= _ "The tundra might be covered by snow."
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "Yes, in that case, use the hunters to scout the snow-covered places, they might find paths for your soldiers. This was quite a useful strategy when we were trying to rescue some elves they took. But this time, much more enemies will be there, I fear."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Sure, let us go."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x,y=50-52,0-3
        [/filter]
        [message]
            speaker=unit
            message= _ "There is a cave here..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Excellent! Let us enter it."
        [/message]
        {CLEAR_VARIABLE teleport_wait,can_build_encampment}
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=28-38,1-3
        [/filter]
        [message]
            speaker=unit
            message= _ "The mountain pass is blocked by tons of snow, we will have to find another way."
        [/message]
        [message]
            speaker=Efraim
            message= _ "They mentioned a cave..."
        [/message]
    [/event]

    [event]
        name=side turn
        first_time_only=no
        [if]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [then]
                {VARIABLE_OP teleport_wait add 1}
                {VARIABLE_OP random random (0,0,1)}
                [if]
                    [variable]
                        name=random
                        equals=1
                    [/variable]
                    [then]
                        {GENERIC_UNIT 7 "Ice Spirit" 51 1}
                    [/then]
                [/if]
                {CLEAR_VARIABLE random}
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Wraith,Revenant,Deathblade)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Wraith,Revenant,Deathblade,Bone Shooter,Monstrosity)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Wraith,Revenant,Deathblade,Bone Shooter,Grim Knight,Monstrosity,Spell Eater)}
#endif
                {VARIABLE_OP spawn_x rand (3,62)}
                {VARIABLE_OP spawn_y rand (16,31)}
                {GENERIC_UNIT 8 $spawn_type $spawn_x $spawn_y}
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Wraith,Revenant,Bone Shooter,Monstrosity)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Wraith,Revenant,Deathblade,Bone Shooter,Monstrosity,Spell Eater)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Wraith,Revenant,Deathblade,Bone Shooter,Spectre,Monstrosity,Spell Eater)}
#endif
                {VARIABLE_OP spawn_x rand (3,62)}
                {VARIABLE_OP spawn_y rand (48,62)}
                {GENERIC_UNIT 9 $spawn_type $spawn_x $spawn_y}
                {CLEAR_VARIABLE spawn_type,spawn_x,spawn_y}
            [/then]
        [/if]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Whoever is behind this, the dreadful plans must have been already executed. Freezing death will spread to all known places..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 13 5 9 28 4-14,24-34}
    {GENERIC_DEATHS}
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5,6,7,8,9,10,11,12}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
