#textdomain wesnoth-loti
[scenario]
    id="06_Where_the_Flames_Freeze"
    name= _ "Where the Flames Freeze"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/06_Icy_Cave.map}"
    next_scenario=07_Subterranean_War
    victory_when_enemies_defeated=no
    {TURNS 40 38 36}
    experience_modifier=80
    {SCENARIO_MUSIC "underground.ogg"}
    {EXTRA_SCENARIO_MUSIC northeners.ogg}
    {EXTRA_SCENARIO_MUSIC the_deep_path.ogg}
    {UNDERGROUND}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress
#ifdef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_VII
        gold=300
#else
        gold=400
#endif
        village_gold=2
        team_name=good
        user_team_name=_"Good"
        shroud=yes
    [/side]

    [side]
        no_leader=yes
        id=ally
        side=2
        village_gold=4
        team_name=good
        user_team_name=_"Good"
        gold=700
        {NO_INCOME}
        recruit=Dwarvish Steelclad,Dwarvish Thunderguard,Gryphon Master,Dwarvish Sentinel
        [ai]
            passive_leader_shares_keep=yes
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=3
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 1000 1200 1400}
        {NO_INCOME}
        recruit=Corrupted Snow Hunter,Spell Eater
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=4
        team_name=Corruption
        user_team_name=_"Corruption"
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=5
        team_name=Corruption
        user_team_name=_"Corruption"
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]

    [event]
        name=prestart
        {VARIABLE found_dwarves 0}
        [objectives]
            side=1
            [objective]
                description=_ "Find the correct path"
                condition=win
                [show_if]
                    [variable]
                        name=found_dwarves
                        equals=0
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Defeat the enemy leader"
                condition=win
                [show_if]
                    [variable]
                        name=found_dwarves
                        equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Death of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of the dwarvish leader"
                condition=lose
                [show_if]
                    [variable]
                        name=found_dwarves
                        equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        {CAPTURE_VILLAGES 1 40 37 10}
        [recall]
            id=Lethalia
        [/recall]
        [recall]
            id=ally_ch7sc3
        [/recall]
        [recall]
            id=ally_ch7sc4
        [/recall]
    [/event]
    [story]
        [part]
            background=story/ice_cave.jpg~CS(-30,-30,30)
            story= _ "The coldness of the air of the icy cave was already comparable to a chill wave spell of a necromancer. Touching any metallic object was a pain hard to stand, so they had to magically heat their weapons to be able to use them..."
        [/part]
    [/story]
    [event]
        name=start
#ifdef HARD
        {VARIABLE spawn_count 40}
#endif
#ifdef NORMAL
        {VARIABLE spawn_count 35}
#endif
#ifdef EASY
        {VARIABLE spawn_count 30}
#endif
        [while]
            [variable]
                name=spawn_count
                greater_than=0
            [/variable]
            [do]
                {VARIABLE_OP spawn_type rand (Wraith,Spectre,Shadow,Nightgaunt,Deathblade,Grim Knight,Revenant,Chocobone,Draug,Banebow,Bone Shooter,Monstrosity)}
                {VARIABLE_OP spawn_x rand (1..55)}
                {VARIABLE_OP spawn_y rand (1..39)}
                {GENERIC_UNIT 4 $spawn_type $spawn_x $spawn_y}
                {VARIABLE_OP spawn_count sub 1}
            [/do]
        [/while]
        {CLEAR_VARIABLE spawn_type,spawn_x,spawn_y,spawn_count}
        [kill]
            [filter_location]
                terrain=Zic,Xos
            [/filter_location]
        [/kill]
        {RANDOM_ITEM 53 33}
        {RANDOM_ITEM 53 24}
        {RANDOM_ITEM 54 5}
        {RANDOM_ITEM 27 29}
        {RANDOM_ITEM 24 2}
        {RANDOM_ITEM 34 15}
        {RANDOM_ITEM 31 24}
        {RANDOM_ITEM 24 34}
        {RANDOM_ITEM 22 1}
        [message]
            speaker=Lethalia
            message= _ "This war is terrible. Where are the groups of stupid evil orcs? We are fighting elves possessed by dark forces, killing those we ought to save, just because we have no other option. And the undead are roaming all places like rats, tirelessly coming from distance. I would really like to see who is behind all of this. If it is Lilith or not!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "We need to get through these caves. We can expect a lot of hard terrains. Also, there is no keep nearby, so we should hurry to find one."
        [/message]
        [message]
            speaker=ally_ch7sc3
            message= _ "That sounds reasonable. I fear the things we are going to run into."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x,y=3-12,10-28
        [/filter]
        [unit]
            type=Corrupted Elvish Nightprowler
            id=enemy
            x,y=2,7
            canrecruit=yes
            side=3
            random_traits=yes
            generate_name=yes
        [/unit]
        [unit]
            type=Dwarvish Hero
            id=ally
            x,y=15,1
            canrecruit=yes
            side=2
            random_traits=yes
            generate_name=yes
        [/unit]
        [modify_side]
            side=2
            {INCOME 60 70 80}
        [/modify_side]
        [modify_side]
            side=3
            {INCOME 100 120 140}
        [/modify_side]
        [message]
            speaker=unit
            message= _ "I can hear some fighting in the distance!"
        [/message]
        {VARIABLE found_dwarves 1}
        [show_objectives]
            side=1
        [/show_objectives]
    [/event]
    [event]
        name=sighted
        [filter]
            side=2
        [/filter]
        [filter_second]
            side=1
        [/filter_second]
        [message]
            speaker=unit
            message= _ "Pride and anger are better for our souls than you ... you... Hail, you beardless over there, I have a feeling we are allies here! Nothing a hammer cannot solve, but the leader of these monstrosities stays cowardly out of sight!"
        [/message]
        [message]
            speaker=ally_ch7sc4
            message= _ "Do not call them monstrosities, they were once my kind!"
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=enemy
        [/filter]
        [message]
            speaker=ally
            message= _ "You have helped us to win this battle. We were losing this war, and losing this battle would have meant a quick defeat for us all."
        [/message]
        [message]
            speaker=Efraim
            message= _ "They are invading your tunnels in other sectors too?"
        [/message]
        [message]
            speaker=ally
            message= _ "Yes. This terrible war started only recently, but we can hardly fight against this foul mojo. During a few months, we lost almost all tunnels, and they are trying to finish us now."
        [/message]
        {CLEAR_VARIABLE found_dwarves}
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=turn refresh
        first_time_only=no
        [if]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [then]
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Ice Spirit,Spell Eater)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Bone Shooter,Ice Spirit,Spell Eater)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Bone Shooter,Draug,Ice Spirit,Spell Eater)}
#endif
                {GENERIC_UNIT 4 $spawn_type 47 1}
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Ice Spirit,Spell Eater)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Bone Shooter,Ice Spirit,Spell Eater)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Bone Shooter,Draug,Ice Spirit,Spell Eater)}
#endif
                {GENERIC_UNIT 4 $spawn_type 4 39}
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Ice Spirit)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Bone Shooter,Ice Spirit,Spell Eater)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Bone Shooter,Draug,Ice Spirit,Spell Eater)}
#endif
                {GENERIC_UNIT 4 $spawn_type 1 2}
                {CLEAR_VARIABLE spawn_type,spawn_x,spawn_y}
            [/then]
        [/if]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Reinforcements! Their legion does not seem to have an end."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=44-53,5-15
        [/filter]
        [message]
            speaker=unit
            message= _ "I have found a keep!"
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=22-34,5-11
        [/filter]
#ifdef HARD
        {VARIABLE spawn_count 15}
#endif
#ifdef NORMAL
        {VARIABLE spawn_count 13}
#endif
#ifdef EASY
        {VARIABLE spawn_count 11}
#endif
        [while]
            [variable]
                name=spawn_count
                greater_than=0
            [/variable]
            [do]
                {VARIABLE_OP spawn_type rand (Corrupted Elvish Fighter,Corrupted Elvish Hero,Corrupted Elvish Scout,Corrupted Elvish Rider,Corrupted Elvish Archer,Corrupted Elvish Ranger,Corrupted Snow Hunter,Spell Eater)}
                {GENERIC_UNIT 5 $spawn_type 15 32}
                {VARIABLE_OP spawn_count sub 1}
            [/do]
        [/while]
        [allow_undo]
        [/allow_undo]	#You can go back, but the enemy will be there anyway; this is to make sure that the player cannot notice some enemies spawned in the distance
        {CLEAR_VARIABLE spawn_count,spawn_type,spawn_sort}
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=1-21,33-40
        [/filter]
#ifdef HARD
        {VARIABLE spawn_count 13}
#endif
#ifdef NORMAL
        {VARIABLE spawn_count 11}
#endif
#ifdef EASY
        {VARIABLE spawn_count 9}
#endif
        [while]
            [variable]
                name=spawn_count
                greater_than=0
            [/variable]
            [do]
                {VARIABLE_OP spawn_type rand (Corrupted Elvish Fighter,Corrupted Elvish Hero,Corrupted Elvish Scout,Corrupted Elvish Rider,Corrupted Elvish Archer,Corrupted Elvish Ranger,Corrupted Snow Hunter,Spell Eater)}
                {GENERIC_UNIT 5 $spawn_type 7 27}
                {VARIABLE_OP spawn_count sub 1}
            [/do]
        [/while]
        [allow_undo]
        [/allow_undo]	#You can go back, but the enemy will be there anyway; this is to make sure that the player cannot notice some enemies spawned in the distance
        {CLEAR_VARIABLE spawn_count,spawn_type,spawn_sort}
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=1-14,33-40
        [/filter]
        [message]
            speaker=unit
            message= _ "The river cannot be followed here, the ceiling is too low further."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=43-49,1-3
        [/filter]
        [message]
            speaker=unit
            message= _ "The river cannot be followed here, the ceiling is too low further."
        [/message]
    [/event]
    {BEELZEBUB_SPAWN_POINT 6 5 45 3 30-40,1-8}
    {GENERIC_DEATHS}
    {DROPS 5 7 (axe,staff,staff,sword,sword,sword,knife,bow,bow,xbow,spear,spear,bow,dagger,mace) yes 3,4,5}
    {GLOBAL_EVENTS}
[/scenario]
