#textdomain wesnoth-loti
[scenario]
    id="07_Subterranean_War"
    name= _ "Subterranean War"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/07_Stonehold.map}"
    next_scenario=08_Eruption
    victory_when_enemies_defeated=no
    {TURNS 18 17 16}
    experience_modifier=80
    {SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC the_king_is_dead.ogg}
    {EXTRA_SCENARIO_MUSIC the_city_falls.ogg}
    {UNDERGROUND}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress
#ifdef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_VII
        gold=300
#else
        gold=400
#endif
        village_gold=2
        random_traits=yes
        unrenamable=yes
        team_name=good
        user_team_name=_"Good"
    [/side]

    [side]
        type=Dwarvish Hero
        canrecruit=yes
        name=Dulaithsilos
        id=ally_ch7sc7
        side=2
        village_gold=2
        team_name=good
        user_team_name=_"Good"
        {GOLD 1400 1500 1600}
        {INCOME 80 90 100}
        recruit=Dwarvish Steelclad,Dwarvish Fighter,Dwarvish Berserker,Dwarvish Stalwart,Dwarvish Thunderguard
        [ai]
            passive_leader_shares_keep=yes
        [/ai]
        [modifications]
            {TRAIT_LOYAL}
            {TRAIT_RESILIENT}
        [/modifications]
    [/side]
    [side]
        type=Demonologist
        side=3
        id=enemy_side3
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 1000 1200 1400}
        {INCOME 80 90 100}
        village_gold=2
        recruit=Demon
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
        [modifications]
            [object]
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        flat={UNREACHABLE}
                        cave={UNREACHABLE}
                        castle={UNREACHABLE}
                        hills={UNREACHABLE}
                        village={UNREACHABLE}
                    [/movement_costs]
                [/effect]
            [/object]
        [/modifications]
    [/side]
    [side]
        type=Corrupted Orcish Sovereign
        side=4
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 600 700 800}
        {INCOME 120 140 160}
        village_gold=2
        recruit=Corrupted Naga Fighter,Corrupted Orcish Grunt,Corrupted Orcish Assassin,Corrupted Orcish Slayer,Spell Eater
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
        [modifications]
            [object]
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        flat={UNREACHABLE}
                        cave={UNREACHABLE}
                        castle={UNREACHABLE}
                        hills={UNREACHABLE}
                        village={UNREACHABLE}
                    [/movement_costs]
                [/effect]
            [/object]
        [/modifications]
    [/side]
    [side]
        type=Corrupted Snow Hunter
        side=5
        id=enemy
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 600 700 800}
        {INCOME 120 140 160}
        village_gold=2
        recruit=Corrupted Snow Hunter,Spell Eater
        {AI_OVERHAUL_PLACE 5}
        {AI_OVERHAUL_PLACE_2 5}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
        [modifications]
            [object]
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        flat={UNREACHABLE}
                        cave={UNREACHABLE}
                        castle={UNREACHABLE}
                        hills={UNREACHABLE}
                        village={UNREACHABLE}
                    [/movement_costs]
                [/effect]
            [/object]
        [/modifications]
    [/side]
    [side]
        no_leader=yes
        side=6
        team_name=Corruption
        user_team_name=_"Corruption"
        {AI_OVERHAUL_PLACE 6}
        {AI_OVERHAUL_PLACE_2 6}
        [ai]
            aggression=1.0
        [/ai]
        [modifications]
            [object]
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        flat={UNREACHABLE}
                        cave={UNREACHABLE}
                        castle={UNREACHABLE}
                        hills={UNREACHABLE}
                        village={UNREACHABLE}
                    [/movement_costs]
                [/effect]
            [/object]
        [/modifications]
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Exit the town to northeast"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Dulaithsilos"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [recall]
            id=Lethalia
            x,y=24,16
        [/recall]
        [recall]
            id=ally_ch7sc3
            x,y=24,16
        [/recall]
        [recall]
            id=ally_ch7sc4
            x,y=24,16
        [/recall]
        {CAPTURE_VILLAGES 2 18 17 25}
    [/event]

    [event]
        name=start
        [message]
            speaker=ally_ch7sc7
            message= _ "Welcome to the town of Stonehold, adventurers. I am Dulaithsilos, son of Glamcating. Our beloved king was killed recently, along with the heir of the throne, so I am temporarily in command, until a new king is found."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I am Efraim de Ceise. It is a pleasure to meet you."
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "Wait, wait, wait... you should not speak like that. You should say your name in the dwarvish way."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I am Efraim, son of Krux."
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "It is a pleasure to meet you."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "And I, Lethalia, the daughter of Tinebrithiel."
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "She is an elf! You know that we dwarves hate elves! ... Although we are supposed to take our old quarrels away for now, I would prefer not to talk to you - it makes me angry, I cannot control it."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "That is maybe one of the reasons of our mutual hatred. So I will not speak, just hang out around..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Let us talk about more pressing matters. You may mistrust me, I do not care. I am not attacking, but I am probably strong enough to overwhelm your army and take over your town. You better believe me. We are allies, what can you tell me about the situation here?"
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "Euh... Well... You are strong... I get what you mean. The situation is not going well. We have this town, and a few other places, but they are losing this war as well. We are close to complete annihilation. Our enemies are much more powerful with their magic, their enchanted bodies are very strong, and their numbers are superior."
        [/message]
        [message]
            speaker=Efraim
            message= _ "What are you planning to do if you lose all your fortifications?"
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "We may only flee. The northeastern tunnel leads into several volcanic caves that lead somewhere... I do not exactly know where, but no enemies were sighted there."
        [/message]
        [message]
            speaker=Efraim
            message= _ "What if it is a trap?"
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "We have no other choices. I just prefer the path with the highest probability to survive. Maybe we will eventually even find a tunnel into their stronghold. Unmapped tunnels lead to various places and there are underground ways to get anywhere, if you know the path."
        [/message]
        [message]
            speaker=Efraim
            message= _ "That sounds reasonable. You should send some scouts there, we have no need of scouts now anyway."
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "Well, well. What do you know about our enemy?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "It might be a dracolich, or Lilith, a demon ruler, or something else."
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "One of them called their mastermind 'Queen of Darkness'. So it would be that Lilith, if your assumptions are correct."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Lilith does not love darkness. Demons are not creatures of darkness. They seem to dislike both light and darkness. They like only destruction."
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "But if it was a dracolich, he would have to have his speaker named so. Or to keep a magical illusion. Or just to worship a deity he made up."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Or it might be something completely different. Or a... female dracolich? Or a preserved lich?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Please..."
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "There are too many hypotheses. Let us admit it, that we have absolutely no idea what our enemy is."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Yes, yes. But a mage had a vision and spoke about a dragon and a princess, and the princess has to be slain."
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "So you suppose our enemy is a woman?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "It seems so. But it might be just an icon, and the real enemy might be something else. Maybe that dracolich."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "The mage said that the dragon is not important."
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "I believe it is that demon Lilith, with a dragon pet guardian."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Maybe..."
        [/message]
        [unit]
            type=Dwarvish Lord
            x,y=14,18
            id=messenger
            side=2
            generate_name=yes
            random_traits=yes
        [/unit]
        {MOVE_UNIT id=messenger 18 18}
        [message]
            speaker=messenger
            message= _ "My lord, enemies are here, they have taken over the city's outer fortifications and are trying to penetrate further!"
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "No! How could they be so quick?!"
        [/message]
        [message]
            speaker=enemy
            message= _ "In the name of the Queen of Darkness, surrender now and we might let some of you go."
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "We are no cowardly elves, we are no treacherous humans, we are dwarves!"
        [/message]
        [message]
            speaker=ally_ch7sc4
            message= _ "So ill-mouthed..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "We will defeat them."
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "We can not. They will receive reinforcements quite soon, we know their strategy - sometimes, a few of them comes, so we enter the battle, because we are made believe that we have a chance to defeat them, then a load of reinforcements comes, and we cannot flee."
        [/message]
        [message]
            speaker=enemy
            message= _ "You are wise, puny dwarf. But this time, there is no fleeing."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "The exit to the northeast, it is blocked too!"
        [/message]
        [message]
            speaker=enemy_side3
            message= _ "Hahahahahaaa... We will crush you like bugs!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Oh, no, a demonologist! Lilith is probably involved!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "We should hold the town and defeat these invaders, you dwarves need some time to evacuate. Then we shall flee into those volcanic tunnels. The way the enemy comes from is to be avoided, we must find uncharted tunnels and collapse the entrances behind us. With luck, we shall seek out a path to their tower and blindside them, striking from underneath!"
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "I agree. Charge!"
        [/message]
        {CAPTURE_VILLAGES 1 22 16 7}
        [message]
            speaker=Efraim
            message= _ "I am taking the nearby villages, we need supplies more than you do."
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "The distant villages will not follow your command, for they know you not and we have no time to waste by sending messengers. As I said, chaaaaarge!"
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x,y=37-39,1
        [/filter]
        [message]
            speaker=Efraim
            message= _ "Great, we have cleared our way out of their encirclement, but the future of our campaign remains unclear."
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "They were just elves and orcs, they cannot follow us too far. We will just build another town deeper and less close to them. Of course, we will help you to destroy the enemies as well as we can."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I will appreciate it."
        [/message]
        {MODIFY_UNIT id=ally_ch7sc7 canrecruit no}
        {MODIFY_UNIT side=2 side 1}
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=side turn
        first_time_only=no
        [if]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [then]
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Necrophage,Spell Eater)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Bone Shooter,Necrophage,Spell Eater)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Bone Shooter,Draug,Necrophage,Spell Eater)}
#endif
                {GENERIC_UNIT 6 $spawn_type 18 33}
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Necrophage)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Bone Shooter,Necrophage)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Bone Shooter,Draug,Necrophage,Spell Eater)}
#endif
                {GENERIC_UNIT 6 $spawn_type 2 23}
                {CLEAR_VARIABLE spawn_type,spawn_x,spawn_y}
            [/then]
        [/if]
    [/event]
    [event]
        name=last breath
        [filter]
            id=ally_ch7sc7
        [/filter]
        [message]
            speaker=unit
            message= _ "I am finished. Our war is lost."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Reinforcements! They came too early, we are doomed!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 7 5 27 6 23-33,1-11}
    {GENERIC_DEATHS}
    {DROPS 5 7 (axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 3,4,5}
    {GLOBAL_EVENTS}
[/scenario]
