#textdomain wesnoth-loti
[scenario]
    id="08_Eruption"
    name= _ "Eruption"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/08_Volcanic_Cave.map}"
    next_scenario=08s_Neighbours
    victory_when_enemies_defeated=no
    {TURNS 25 22 20}
    experience_modifier=80
    {SCENARIO_MUSIC "underground.ogg"}
    {EXTRA_SCENARIO_MUSIC frantic.ogg}
    {EXTRA_SCENARIO_MUSIC into_the_shadows.ogg}
    {UNDERGROUND}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Thunderer,Dwarvish Thunderguard,Dwarvish Ulfserker,Dwarvish Berserker
#ifdef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_VII
        gold=300
#else
        gold=400
#endif
        village_gold=2
        team_name=good
        user_team_name=_"Good"
        shroud=yes
        fog=yes
    [/side]

    [side]
        no_leader=yes
        side=2
        village_gold=4
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 1000 1200 1400}
        recruit=Corrupted Snow Hunter,Corrupted Orcish Grunt,Corrupted Orcish Assassin,Corrupted Orcish Slayer,Corrupted Orcish Warrior,Spell Eater
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=3
        village_gold=4
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 1000 1200 1400}
        recruit=Demon
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=4
        team_name=Corruption
        user_team_name=_"Corruption"
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
        [ai]
            aggression=1.0
        [/ai]
    [/side]

    [event]
        name=prestart
        {VARIABLE lava_turns -1}
        [objectives]
            side=1
            [objective]
                description=_ "Find the path that leads into safety"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Dulaithsilos"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        [recall]
            id=ally_ch7sc3
        [/recall]
        [recall]
            id=ally_ch7sc4
        [/recall]
        [recall]
            id=ally_ch7sc7
        [/recall]
        [unit_overlay]
            id=ally_ch7sc7
            image=misc/loyal-icon.png
        [/unit_overlay]
    [/event]

    [event]
        name=start
#ifdef HARD
        {VARIABLE spawn_count 45}
#endif
#ifdef NORMAL
        {VARIABLE spawn_count 38}
#endif
#ifdef EASY
        {VARIABLE spawn_count 32}
#endif
        [while]
            [variable]
                name=spawn_count
                greater_than=0
            [/variable]
            [do]
                {VARIABLE_OP spawn_type rand (Wraith,Spectre,Shadow,Nightgaunt,Dread Bat,Grim Knight,Dark Shade,Vampire Bat,Draug,Banebow,Blood Bat,Ghast,Necrophage,Deathlord,Reaper)}
                {VARIABLE_OP spawn_x rand (1..45)}
                {VARIABLE_OP spawn_y rand (1..34)}
                {GUARDIAN_UNIT 4 $spawn_type $spawn_x $spawn_y}
                {VARIABLE_OP spawn_count sub 1}
            [/do]
        [/while]
        {CLEAR_VARIABLE spawn_type,spawn_x,spawn_y,spawn_count}
        [kill]
            [filter_location]
                terrain=Xu,Xuc
            [/filter_location]
        [/kill]
        {RANDOM_ITEM 11 6}
        {RANDOM_ITEM 18 3}
        {RANDOM_ITEM 37 3}
        {RANDOM_ITEM 41 10}
        {RANDOM_ITEM 43 17}
        {RANDOM_ITEM 25 15}
        {RANDOM_ITEM 15 17}
        {RANDOM_ITEM 17 29}
        {RANDOM_ITEM 19 33}
        {RANDOM_ITEM 30 33}
        {RANDOM_ITEM 34 22}
        {MOVE_UNIT id=Efraim 8 27}
        {MOVE_UNIT id=Lethalia 3 27}
        {MOVE_UNIT id=ally_ch7sc3 8 26}
        {MOVE_UNIT id=ally_ch7sc4 7 27}
        {MOVE_UNIT id=ally_ch7sc7 7 28}
        {CAPTURE_VILLAGES 1 6 26 7}
        [message]
            speaker=Lethalia
            message= _ "This was terrible. They are still chasing us, no time to rest..."
        [/message]
        [message]
            speaker=ally_ch7sc7
            message= _ "This is the last of our fortifications here. There is wilderness ahead."
        [/message]
        [message]
            speaker=Efraim
            message= _ "We need to learn where they came from and avoid that path. That should be the best way to lose them. And we should just do the absolutely most necessary things here, I think we might even omit assembling our soldiers, the enemies will come here very very soon and we have to flee. And we should not rush too much forward, and wait for the slower ones."
        [/message]
        [message]
            speaker=ally_ch7sc4
            message= _ "Good idea... It is somewhat hot here, what do you think?"
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x,y=1-12,10-17
        [/filter]
        [message]
            speaker=unit
            message= _ "The path west from here looks like if a lot of soldiers marched there. We should head east!"
        [/message]
        {VARIABLE lava_turns 0}
        [terrain]
            x,y=8,28
            terrain=Qlf
        [/terrain]
        [terrain]
            x,y=9,24
            terrain=Qlf
        [/terrain]
        [terrain]
            x,y=8,19
            terrain=Qlf
        [/terrain]
        [terrain]
            x,y=10,17
            terrain=Qlf
        [/terrain]
        [terrain]
            x,y=8,12
            terrain=Qlf
        [/terrain]
        {EARTHQUAKE (           [redraw]
    [/redraw])}
    [redraw]
    [/redraw]
    [message]
        speaker=ally_ch7sc7
        message= _ "No! The earth is waking! This cave will soon be filled with lava! We must make haste!"
    [/message]
    [message]
        speaker=Efraim
        message= _ "Our enemies will not be able to follow us, so this is rather good."
    [/message]
    [message]
        speaker=ally_ch7sc7
        message= _ "But lava is very dangerous! Especially in caves! And there is a lot of treasures here we are not very likely to rescue!"
    [/message]
    [message]
        speaker=narrator
        image="wesnoth-icon.png"
        message= _ "Units on lava take 48 fire damage per turn. Units that can fly take 24 points of damage when above lava."
    [/message]
[/event]
[event]
    name=turn 4
    [unit]
        type=Corrupted Elvish Juggernaut
        id=enemy
        x,y=8,27
        canrecruit=yes
        side=3
        random_traits=yes
        generate_name=yes
    [/unit]
    [unit]
        type=Demonologist
        x,y=3,27
        canrecruit=yes
        side=4
        random_traits=yes
        generate_name=yes
    [/unit]
    {GENERIC_UNIT 2 "Corrupted Elvish Champion" 6 27}
    {GENERIC_UNIT 2 "Corrupted Elvish Fighter" 6 27}
    {GENERIC_UNIT 2 "Corrupted Elvish Hero" 6 27}
    {GENERIC_UNIT 2 "Corrupted Orcish Slayer" 6 27}
    {GENERIC_UNIT 2 "Corrupted Elvish Hero" 6 27}
    {GENERIC_UNIT 2 "Corrupted Elvish Archer" 6 27}
    {GENERIC_UNIT 2 "Corrupted Elvish Ranger" 6 27}
    {GENERIC_UNIT 2 "Corrupted Elvish Hero" 6 27}
    {GENERIC_UNIT 2 "Corrupted Elvish Ranger" 6 27}
    {GENERIC_UNIT 2 "Spell Eater" 6 27}
    {GENERIC_UNIT 2 "Corrupted Snow Hunter" 6 27}
    {GENERIC_UNIT 2 "Spell Eater" 6 27}
    {GENERIC_UNIT 2 "Corrupted Naga Warrior" 6 27}
    [message]
        speaker=enemy
        message= _ "Prepare to die, fools! There is no escape! You shall die or rot away down here."
    [/message]
[/event]
[event]
    name=moveto
    [filter]
        x,y=43-44,27-33
        side=1
    [/filter]
    [message]
        speaker=ally_ch7sc7
        message= _ "Run, quickly!"
    [/message]
    {CLEAR_VARIABLE lava_turns}
    [endlevel]
        result=victory
        bonus=no
        {NEW_GOLD_CARRYOVER 40}
    [/endlevel]
[/event]
[event]
    name=last breath
    [filter]
        id=ally_ch7sc7
    [/filter]
    [message]
        speaker=Efraim
        message= _ "No, we needed him!"
    [/message]
    [endlevel]
        result=defeat
    [/endlevel]
[/event]
[event]
    name=turn refresh
    first_time_only=no
    [if]
        [variable]
            name=side_number
            equals=1
        [/variable]
        [then]
#ifdef EASY
            {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Necrophage,Spell Eater)}
#endif
#ifdef NORMAL
            {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Bone Shooter,Necrophage,Spell Eater)}
#endif
#ifdef HARD
            {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghost,Walking Corpse,Revenant,Deathblade,Bone Shooter,Draug,Necrophage,Spell Eater)}
#endif
            {GENERIC_UNIT 4 $spawn_type 44 30}
            {CLEAR_VARIABLE spawn_type}
            [if]
                [variable]
                    name=lava_turns
                    greater_than_equal_to=0
                [/variable]
                [then]
                    [store_locations]
                        [filter_adjacent_location]
                            terrain=Qlf
                        [/filter_adjacent_location]
                        [not]
                            terrain=Xuc,Xu
                        [/not]
                        variable=to_melt
                    [/store_locations]
                    {FOREACH to_melt i}
                        [terrain]
                            terrain=Qlf
                            x,y=$to_melt[$i].x,$to_melt[$i].y
                        [/terrain]
                    {NEXT i}
                    {CLEAR_VARIABLE to_melt}
                    [redraw]
                    [/redraw]
                    [store_unit]
                        [filter]
                            [filter_location]
                                terrain=Qlf,Ql
                            [/filter_location]
                        [/filter]
                        variable=burning_store
                        kill=no
                    [/store_unit]
                    {FOREACH burning_store i}
                        [if]
                            [variable]
                                name=burning_store[$i].movement_costs.unwalkable
                                equals=1
                            [/variable]
                            [or]
                                [variable]
                                    name=burning_store[$i].movement_costs.unwalkable
                                    equals=2
                                [/variable]
                            [/or]
                            [or]
                                [variable]
                                    name=burning_store[$i].movement_costs.unwalkable
                                    equals=3
                                [/variable]
                            [/or]
                            [then]
                                [harm_unit]
                                    [filter]
                                        id=$burning_store[$i].id
                                    [/filter]
                                    amount=24
                                    damage_type=fire
                                    fire_event=yes
                                    experience=no
                                    kill=yes
                                [/harm_unit]
                            [/then]
                            [else]
                                [harm_unit]
                                    [filter]
                                        id=$burning_store[$i].id
                                    [/filter]
                                    amount=48
                                    damage_type=fire
                                    fire_event=yes
                                    experience=no
                                    kill=yes
                                [/harm_unit]
                            [/else]
                        [/if]
                    {NEXT i}
                    {VARIABLE_OP lava_turns add 1}
                [/then]
            [/if]
            [if]
                [variable]
                    name=side_number
                    equals=2
                [/variable]
                [then]
                    [if]
                        [variable]
                            name=lava_turns
                            greater_than_equal_to=6
                        [/variable]
                        [then]
                            [store_locations]
                                [filter_adjacent_location]
                                    terrain=Qlf
                                [/filter_adjacent_location]
                                [not]
                                    terrain=Xuc,Xu
                                [/not]
                                variable=to_melt
                            [/store_locations]
                            {FOREACH to_melt i}
                                [terrain]
                                    terrain=Qlf
                                    x,y=$to_melt[$i].x,$to_melt[$i].y
                                [/terrain]
                            {NEXT i}
                            {CLEAR_VARIABLE to_melt}
                            [redraw]
                            [/redraw]
                        [/then]
                    [/if]
                [/then]
            [/if]
        [/then]
    [/if]
[/event]
[event]
    name=time over
    [message]
        speaker=Efraim
        message= _ "This is desperate, the air is terribly polluted by lava fumes that we cannot even breathe properly."
    [/message]
    [endlevel]
        result=defeat
    [/endlevel]
[/event]

{GENERIC_DEATHS}
{DROPS 5 7 (axe,axe,staff,staff,sword,sword,sword,knife,bow,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4}
{GLOBAL_EVENTS}
[/scenario]
