#textdomain wesnoth-loti
[scenario]
    id="09_The_Den_of_Evil"
    name= _ "The Den of Evil"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/09_The_Den_of_Evil.map}"
    next_scenario=10_The_Dragon_and_the_Princess
    victory_when_enemies_defeated=no
    {TURNS 60 55 50}
    experience_modifier=80
    {SCENARIO_MUSIC "the_dangerous_symphony.ogg"}
    {EXTRA_SCENARIO_MUSIC heroes_rite.ogg}
    {EXTRA_SCENARIO_MUSIC weight_of_revenge.ogg}
    [time]
        id=dark_indoors
        name= _ "Indoors"
        image=misc/schedule-indoors.png
        lawful_bonus=-25
        red=-45
        green=-35
        blue=-10
    [/time]
    [time_area]
        x=61-78
        y=53-66
        {UNDERGROUND}
    [/time_area]
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Thunderer,Dwarvish Thunderguard,Dwarvish Ulfserker,Dwarvish Berserker
#ifdef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_VII
        gold=300
#else
        gold=400
#endif
        village_gold=0
        team_name=good
        user_team_name=_"Good"
        fog=yes
        shroud=yes
    [/side]
#define CORRUPTION_SIDE_FULL_RECRUIT SIDE LEADER
    [side]
        type={LEADER}
        id=leader_{SIDE}
        canrecruit=yes
        random_traits=yes
        generate_name=yes
        side={SIDE}
        village_gold=1
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 600 700 800}
        {INCOME 30 35 40}
        recruit=Corrupted Snow Hunter,Corrupted Orcish Grunt,Corrupted Orcish Assassin,Corrupted Orcish Slayer,Corrupted Orcish Warrior,Corrupted Elvish Fighter,Corrupted Elvish Hero,Corrupted Elvish Scout,Corrupted Elvish Rider,Corrupted Elvish Archer,Corrupted Elvish Ranger,Corrupted Drake Clasher,Corrupted Drake Fighter,Corrupted Drake Arbiter,Corrupted Drake Thrasher,Corrupted Drake Warrior,Spell Eater
        {AI_OVERHAUL_PLACE {SIDE}}
        {AI_OVERHAUL_PLACE_2 {SIDE}}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
#enddef
    {CORRUPTION_SIDE_FULL_RECRUIT 2 "Corrupted Naga Myrmidon"}
    {CORRUPTION_SIDE_FULL_RECRUIT 3 "Corrupted Drake Arbiter"}
    {CORRUPTION_SIDE_FULL_RECRUIT 4 "Corrupted Orcish Sovereign"}
    {CORRUPTION_SIDE_FULL_RECRUIT 5 "Corrupted Armageddon Drake"}
    {CORRUPTION_SIDE_FULL_RECRUIT 6 "Corrupted Elvish Nightprowler"}
#undef CORRUPTION_SIDE_FULL_RECRUIT
    [side]
        type=Corrupted Elvish Juggernaut
        canrecruit=yes
        random_traits=yes
        generate_name=yes
        side=7
        village_gold=2
        team_name=Corruption
        user_team_name=_"Corruption"
        gold=0
        {INCOME 100 120 140}
        recruit=Corrupted Snow Hunter,Corrupted Orcish Grunt,Corrupted Orcish Assassin,Corrupted Orcish Slayer,Corrupted Orcish Warrior,Corrupted Elvish Fighter,Corrupted Elvish Hero,Corrupted Elvish Scout,Corrupted Elvish Rider,Corrupted Elvish Archer,Corrupted Elvish Ranger,Corrupted Drake Clasher,Corrupted Drake Fighter,Corrupted Drake Arbiter,Corrupted Drake Thrasher,Corrupted Drake Warrior,Spell Eater
        {AI_OVERHAUL_PLACE 7}
        {AI_OVERHAUL_PLACE_2 7}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=8
        team_name=Corruption
        user_team_name=_"Corruption"
        {AI_OVERHAUL_PLACE 8}
        {AI_OVERHAUL_PLACE_2 8}
        [ai]
            aggression=1.0
        [/ai]
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Get to the centre of the map"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note= _ "Note: No upkeep, no income, no matter what it shows. Additional gold can be found in chests."
        [/objectives]
        [recall]
            id=Lethalia
            x,y=70,63
        [/recall]
        [recall]
            id=ally_ch7sc3
            x,y=71,64
        [/recall]
        [recall]
            id=ally_ch7sc4
            x,y=69,64
        [/recall]
        [recall]
            id=ally_ch7sc7
            x,y=68,63
        [/recall]
        {CAPTURE_VILLAGES 1 70 64 14}
#ifdef HARD
        {VARIABLE spawn_count 60}
#endif
#ifdef NORMAL
        {VARIABLE spawn_count 50}
#endif
#ifdef EASY
        {VARIABLE spawn_count 50}
#endif
        [while]
            [variable]
                name=spawn_count
                greater_than=0
            [/variable]
            [do]
                {VARIABLE_OP spawn_type rand (Wraith,Spectre,Shadow,Nightgaunt,Grim Knight,Dark Shade,Death Knight,Draug,Banebow,Soul Shooter,Ghast,Necrophage,Deathlord,Reaper,Abomination)}
                {VARIABLE_OP spawn_x rand (1..76)}
                {VARIABLE_OP spawn_y rand (1..66)}
                {GENERIC_UNIT 8 $spawn_type $spawn_x $spawn_y}
                {VARIABLE_OP spawn_count sub 1}
            [/do]
        [/while]
        {CLEAR_VARIABLE spawn_type,spawn_x,spawn_y,spawn_count}
        [kill]
            [filter_location]
                terrain=Xu,Xuc,Xoc,Xos
            [/filter_location]
        [/kill]
        {RANDOM_ITEM 3 3}
        {RANDOM_ITEM 74 2}
        {RANDOM_ITEM 74 47}
        {GOLD_CHEST 26 57}
        {GOLD_CHEST 12 53}
        {GOLD_CHEST 13 39}
        {GOLD_CHEST 33 4}
        {GOLD_CHEST 70 15}
        {GOLD_CHEST 53 43}
        {GOLD_CHEST 26 15}
        {GOLD_CHEST 37 17}
    [/event]

    [event]
        name=start
        [message]
            speaker=ally_ch7sc7
            message= _ "The dungeons of the tower should be ahead."
        [/message]
        [message]
            speaker=Efraim
            message= _ "We should be prepared for anything. Enemies will be strong, numerous, and coming all the time. I suppose that a tower of this size will contain lots of enemies."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "But many of them might not be fighters. The nagini was speaking about some sorcerers that were transforming the captives into these monsters. Maybe there is a lot of them here, and they should not be so dangerous. A group of naga mercenaries dealt heavy damages to them, we should crush them with ease."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Enough optimism. We need to take to the top of the tower, to kill the dracolich, Lilith or whatever it is! We should hurry up now, to get as far as possible before they really notice us. And use as many shortcuts as possible."
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            side=2,3,4,5,6
            canrecruit=yes
        [/filter]
        [terrain]
            x,y=62,57
            terrain=Ur^Dr
        [/terrain]
        {EARTHQUAKE (           [redraw]
    [/redraw])}
    [event]
        name=side turn
        first_time_only=no
        delayed_variable_substitution=yes
        [if]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [then]
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Corrupted Orcish Warrior,Corrupted Elvish Ranger,Ghast,Necrophage,Spell Eater)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Corrupted Orcish Warrior,Corrupted Elvish Ranger,Soul Shooter,Ghast,Necrophage,Deathlord,Spell Eater)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Corrupted Orcish Warrior,Corrupted Elvish Ranger,Soul Shooter,Ghast,Necrophage,Deathlord,Reaper,Abomination,Spell Eater)}
#endif
                {GENERIC_UNIT 5 $spawn_type 62 57}
                {CLEAR_VARIABLE spawn_type,spawn_x,spawn_y}
            [/then]
        [/if]
    [/event]
[/event]
[event]
    name=moveto
    [filter]
        x,y=35-46,27-37
        side=1
    [/filter]
    [message]
        speaker=Efraim
        message= _ "Time to see who is behind all of this!"
    [/message]
    [endlevel]
        result=victory
        bonus=no
        {NEW_GOLD_CARRYOVER 100}
    [/endlevel]
[/event]
[event]
    name=time over
    [message]
        speaker=Lethalia
        message= _ "Renforcements are coming from all directions!"
    [/message]
    [endlevel]
        result=defeat
    [/endlevel]
[/event]
{BEELZEBUB_SPAWN_POINT 9 5 10 21 5-15,16-26}
{DISABLE_UPKEEP 1}
{GENERIC_DEATHS}
{DROPS 5 7 (axe,axe,staff,staff,sword,sword,sword,knife,bow,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5,6,7,8}
{GLOBAL_EVENTS}
[/scenario]
