#textdomain wesnoth-loti
[scenario]
    id="13_Avengers"
    name= _ "Avengers"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/13_Outer_Camps.map}"
    next_scenario=14_Arctic_Wastelands
    victory_when_enemies_defeated=yes
    {TURNS 26 24 22}
    experience_modifier=80
    {SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC legends_of_the_north.ogg}
    {EXTRA_SCENARIO_MUSIC frantic.ogg}
    {TWO_SUNS_DEFAULT_SCHEDULE}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress
#ifdef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_VII
        gold=500
#else
        gold=600
#endif
        village_gold=4
        random_traits=yes
        unrenamable=yes
        team_name=good
        user_team_name=_"Good"
    [/side]
    [side]
        type=Demon Overlord
        name= _ "Argoth"
        side=2
        id=enemy_side2
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 400 550 700}
        {INCOME 80 120 140}
        village_gold=2
        recruit=Demon
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        type=Demonologist
        side=3
        id=enemy_side3
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 400 550 700}
        {INCOME 80 120 140}
        village_gold=2
        recruit=Demon
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        type=Corrupted Orcish Sovereign
        side=4
        id=enemy_side4
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 400 550 700}
        {INCOME 80 120 140}
        village_gold=2
        recruit=Corrupted Orcish Warrior,Corrupted Orcish Slayer,Corrupted Naga Warrior,Spell Eater
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        type=Corrupted Elvish Juggernaut
        side=5
        id=enemy
        id=enemy_side5
        team_name=Corruption
        user_team_name=_"Corruption"
        {GOLD 400 550 700}
        {INCOME 80 120 140}
        village_gold=2
        recruit=Corrupted Snow Hunter,Corrupted Elvish Ranger,Corrupted Elvish Hero,Corrupted Elvish Rider,Spell Eater
        {AI_OVERHAUL_PLACE 5}
        {AI_OVERHAUL_PLACE_2 5}
        [ai]
            passive_leader_shares_keep=yes
            aggression=1.0
        [/ai]
    [/side]
    [side]
        no_leader=yes
        side=6
        team_name=Corruption
        user_team_name=_"Corruption"
        {AI_OVERHAUL_PLACE 6}
        {AI_OVERHAUL_PLACE_2 6}
        [ai]
            aggression=1.0
        [/ai]
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        [recall]
            id=ally_ch7sc3
        [/recall]
        [recall]
            id=ally_ch7sc4
        [/recall]
        [recall]
            id=ally_ch7sc7
        [/recall]
        {CAPTURE_VILLAGES 1 11 6 10}
        {CAPTURE_VILLAGES 2 15 32 10}
        {CAPTURE_VILLAGES 3 36 27 10}
        {CAPTURE_VILLAGES 4 40 15 10}
        {CAPTURE_VILLAGES 5 38 6 10}
    [/event]

    [event]
        name=start
        [message]
            speaker=Lethalia
            message= _ "She is very weak now. I can locate her position approximately. She should be northwest from here, somewhere between us, the northern sea, and a bit to west."
        [/message]
        [message]
            speaker=Efraim
            message= _ "But I think we will not catch her before she finds herself a hole to recover in."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Why?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Just look there."
        [/message]
        [message]
            speaker=enemy_side4
            message= _ "You killed the Queen of Darkness! Ruined her plans! And for that, you will suffer!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Is that all the remaining enemy forces she can muster? I think that we have almost won!"
        [/message]
        [message]
            speaker=enemy_side5
            message= _ "You killed her! And I loved her! You will not go any further!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "You loved her? How can an undead love another undead?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I suppose that he survived the possession, but is faithful to her anyway. Strange what a person achieves with a bit less clothes."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I am quite sure somebody would fall in love with you too if you were the Queen of Darkness."
        [/message]
        [message]
            speaker=enemy_side5
            message= _ "Stop mocking me! You will be dead soon anyway!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "You cannot understand it? She is an undead, with no feelings but hatred, anger, greed and hunger for power. Any other feelings of hers are just pretended."
        [/message]
        [message]
            speaker=enemy_side3
            message= _ "We needed somebody to fight for! We needed our leader, and you slew her!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "We never discuss anything with demonologists and their kind. All you deserve is to die!"
        [/message]
        [message]
            speaker=enemy_side4
            message= _ "She gave us war, what we all craved for! We shall have our revenge on you now. Bow down before the Revengencers of the Queen of Darkness!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Avengers..."
        [/message]
        [message]
            speaker=enemy_side5
            message= _ "Die, damn you!"
        [/message]
        [message]
            speaker=enemy_side2
            message= _ "Finally some words I like."
        [/message]
    [/event]

    [event]
        name=enemies defeated
        [message]
            speaker=Efraim
            message= _ "These were not an easy work. I hope these were really the last of them. It is now time to kill the Queen of Darkness herself!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "To the northwest!"
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    [event]
        name=side turn
        first_time_only=no
        [if]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [then]
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Walking Corpse,Destroyer,Elvish Juggernaut,Spell Eater)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Bone Shooter,Destroyer,Elvish Juggernaut,Master Bowman,Spell Eater)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Bone Shooter,Revenant,Necrophage,Destroyer,Elvish Juggernaut,Master Bowman,Swordmaster,Spell Eater)}
#endif
                {VARIABLE_OP spawn_x rand (27,41)}
                {VARIABLE_OP spawn_y rand (1,2)}
                {GENERIC_UNIT 6 $spawn_type $spawn_x $spawn_y}
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Walking Corpse,Master Bowman,Swordmaster,Monstrosity)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Bone Shooter,Destroyer,Dragon Rider,Master Bowman,Monstrosity)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Soulless,Ghoul,Skeleton,Skeleton Archer,Ghost,Bone Shooter,Revenant,Necrophage,Destroyer,Dragon Rider,Master Bowman,Swordmaster,Monstrosity,Spell Eater)}
#endif
                {VARIABLE_OP spawn_x rand (43,44)}
                {VARIABLE_OP spawn_y rand (7,22)}
                {GENERIC_UNIT 6 $spawn_type $spawn_x $spawn_y}
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Wraith,Spectre,Shadow,Nightgaunt,Grim Knight,Dark Shade,Death Knight,Draug,Banebow,Ghast,Necrophage,Monstrosity)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Wraith,Spectre,Shadow,Nightgaunt,Grim Knight,Dark Shade,Death Knight,Draug,Banebow,Soul Shooter,Ghast,Necrophage,Deathlord,Monstrosity)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Wraith,Spectre,Shadow,Nightgaunt,Grim Knight,Dark Shade,Death Knight,Draug,Banebow,Soul Shooter,Ghast,Necrophage,Deathlord,Reaper,Monstrosity,Abomination)}
#endif
                {VARIABLE_OP spawn_x rand (11,28)}
                {VARIABLE_OP spawn_y rand (32,34)}
                {GENERIC_UNIT 6 $spawn_type $spawn_x $spawn_y}
#ifdef EASY
                {VARIABLE_OP spawn_type rand (Wraith,Spectre,Shadow,Nightgaunt,Grim Knight,Dark Shade,Demon,Draug,Banebow,Ghast)}
#endif
#ifdef NORMAL
                {VARIABLE_OP spawn_type rand (Wraith,Spectre,Shadow,Nightgaunt,Grim Knight,Dark Shade,Demon,Draug,Banebow,Soul Shooter,Ghast,Necrophage,Spell Eater)}
#endif
#ifdef HARD
                {VARIABLE_OP spawn_type rand (Wraith,Spectre,Shadow,Nightgaunt,Grim Knight,Dark Shade,Demon,Draug,Banebow,Soul Shooter,Ghast,Necrophage,Deathlord,Reaper,Monstrosity,Abomination,Spell Eater)}
#endif
                {VARIABLE_OP spawn_x rand (1,2,3)}
                {VARIABLE_OP spawn_y rand (12,28)}
                {GENERIC_UNIT 6 $spawn_type $spawn_x $spawn_y}
                {CLEAR_VARIABLE spawn_type,spawn_x,spawn_y}
            [/then]
        [/if]
    [/event]

    [event]
        name=time over
        [replace_schedule]
            [time]
                id=snowstorm_day
                name= _ "Snowstorm Day"
                image=misc/schedule-snowstorm-day.png
                lawful_bonus=25
                red=0
                green=5
                blue=5
            [/time]
        [/replace_schedule]
        [message]
            speaker=Efraim
            message= _ "A snowstorm is coming, we are doomed!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 7 6 12 12 7-17,7-17}
    {GENERIC_DEATHS}
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5,6}
    {GLOBAL_EVENTS}
[/scenario]
