#textdomain wesnoth-loti
[scenario]
    id="01_Thirst_for_Adventures"
    name= _ "Thirst for Adventures"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/01_Travel1.map}"
    next_scenario=02_Journey_South
    victory_when_enemies_defeated=no
    turns=-1
    {SCENARIO_MUSIC "elf-land.ogg"}
    {EXTRA_SCENARIO_MUSIC elvish-theme.ogg}
    {DEFAULT_SCHEDULE}

    {CHAPTER_TITLE desert_shadows.png 3 "~NOP()" _"<i>Destruction of the world or the rule of dragons. Now I am sure what they will choose.</i> -Niflheim, leader of the Draconic Hordes"}

#define TOWN_GUARD X Y
    [unit]
        type=Royal Guard
        generate_name=yes
        ai_special=guardian
        x={X}
        y={Y}
        [modifications]
            {TRAIT_LOYAL}
            [object]
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        flat={UNREACHABLE}
                        shallow_water={UNREACHABLE}
                    [/movement_costs]
                [/effect]
            [/object]
        [/modifications]
    [/unit]
#enddef

    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Elvish Fighter LotI,Elvish Archer LotI,Elvish Scout LotI
        {GOLD 1000 850 700}
        income=-2
        village_gold=0
        team_name=good
        user_team_name=_"Good"
        unrenamable=yes
        shroud=yes
#ifndef EASY
        fog=yes
#endif
    [/side]

    [side]
        type=Lieutenant
        id=town_commander
        generate_name=yes
        random_traits=yes
        side=2
        ai_special=guardian
        canrecruit=no
        recruit=Horseman,Cavalryman,Bowman,Spearman,Heavy Infantryman
        team_name=good
        user_team_name=_"Good"
        gold=100
        [unit]
            type=Knight
            generate_name=yes
            ai_special=guardian
            x=111
            y=64
            id=s_knight
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [unit]
            type=Knight
            generate_name=yes
            ai_special=guardian
            x=142
            y=21
            id=ne_knight
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [unit]
            type=Knight
            generate_name=yes
            ai_special=guardian
            x=139
            y=40
            id=se_knight
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        {TOWN_GUARD 116 45}
        {TOWN_GUARD 116 48}
        {TOWN_GUARD 120 43}
        {TOWN_GUARD 123 49}
    [/side]
    {FORCE_CHANCE_TO_HIT side=3,4,5,6,7,8 side=2 0 ()}
    [side]
        type=Highwayman
        id=bandit_commander
        generate_name=yes
        random_traits=yes
        ai_special=guardian
        side=3
        canrecruit=yes
        recruit=Footpad,Thug,Thief,Poacher
        team_name=good
        user_team_name=_"Good"
        ai_special=guardian
        {GOLD 0 0 0}
        income=-2
        [ai]
            [avoid]
                x=80-142
                [or]
                    y=1-50
                [/or]
            [/avoid]
        [/ai]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_STRUGGLE}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        type="Will_o_Wisp"
        id=creature_commander
        generate_name=yes
        random_traits=yes
        side=4
        canrecruit=yes
        recruit=Mist,Wolf
        team_name=good
        user_team_name=_"Good"
        ai_special=guardian
        {GOLD 0 0 0}
        income=-2
        [ai]
            [avoid]
                x=90-142
                [or]
                    y=40-65
                [/or]
            [/avoid]
        [/ai]
    [/side]
    [side]
        type=Lich
        id=undead_commander
        generate_name=yes
        random_traits=yes
        ai_special=guardian
        side=5
        canrecruit=yes
        recruit=Skeleton,Soulless,Skeleton Archer,Ghoul,Ghost
        team_name=good
        user_team_name=_"Good"
        {GOLD 0 0 0}
        income=-2
        [ai]
            [avoid]
                x=1-100
                [or]
                    y=30-65
                [/or]
            [/avoid]
        [/ai]
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_KILLHUNGER}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Enter the town east from the forest and help its citizens"
                condition=win
            [/objective]
            [objective]
                description=_ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
            note={NO_EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_100}
        [/objectives]
    [/event]

    [event]
        name=prestart
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "After defeating Lilith, Stormrider, Efraim and Lethalia helped Delly to become younger and relive as a preserved lich. Stormrider told them that he would be happy if they decided to help him in some of his world saving quests. After spending several years in the Forest of Eternity, their boredom caused them to leave for an adventurous journey..."
        [/message]
        [recall]
            id=Lethalia
        [/recall]
    [/event]

    [event]
        name=start
        [label]
            x,y=3,32
            text=_"Chasm of Sleeping Bats"
        [/label]
        [label]
            x,y=14,21
            text=_"Meadow of Woses"
        [/label]
        [label]
            x,y=38,16
            text=_"Town of Eternity"
        [/label]
        [label]
            x,y=14,21
            text=_"Meadow of Woses"
        [/label]
        [label]
            x,y=37,24
            text=_"Island of Harmony"
        [/label]
        [label]
            x,y=37,34
            text=_"Wonderful Island"
        [/label]
        [label]
            x,y=2,28
            text=_"Snowy Hills"
        [/label]
        [label]
            x,y=16,19
            text=_"Serpent River"
        [/label]
        [label]
            x,y=38,20
            text=_"Wandering River"
        [/label]
        [label]
            x,y=46,39
            text=_"Peninsula of Alath the Wise"
        [/label]
        [label]
            x,y=25,50
            text=_"Meadow of Blood"
        [/label]
        [label]
            x,y=31,42
            text=_"Meadow of Wolves"
        [/label]
        [label]
            x,y=27,43
            text=_"Isle of Recluse"
        [/label]
        [message]
            speaker=Lethalia
            message= _ "There is so much beauty around me, but I feel like there is something missing."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I feel the same; like a longing for the past. It seems our struggle with Lilith has left a permanent impression. Remember how it was before? The years passed effortlessly. But now, hardly five years have passed and I feel restless. Life seems hollow without the excitement of adventure."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Then what about heading east? Ogira lies to the north, the Kingdom of Wesnoth extends throughout the west, and we have been south on our previous journey. Not much is known about the east."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I see you have thought this through, although we would also need an escort. I have spoken to many elves who also long for adventure. They have grown up with stories of conquest and adventure. Many want an adventure of their own, something they will be known for. This would be their chance."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "That's true, but you are forgetting that we would have to get by without the help of our shamans. Although they aid us in battle, they avoid combat whenever possible. It goes against their nature."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I didn't think of that. Their aid will indeed be sorely missed. Still, we might chance upon some mages who would want to join our party."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Let us hope."
        [/message]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "Unit recruitment is modified for this campaign. The price of recruiting a unit is its normal price times ten. However, these units are automatically recalled at the start of each scenario, which can be useful in scenarios where you will start without a keep. These special units also have the <i>loyal</i> attribute and advance slightly faster.

(While it is possible to recall units from previous campaigns, this is not recommended as you will have to pay upkeep for them and, as mentioned above, there are many scenarios that you start without a keep.)"
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            x,y=113-126,42-51
            side=1
        [/filter]
        [message]
            speaker=town_commander
            message= _ "Who approaches?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "We are Efraim and Lethalia. We come from the Forest of Eternity in search of adventure. Is there a quest we could aid you with?"
        [/message]
        [message]
            speaker=town_commander
            message= _ "Indeed, it was about time someone asked! A lich recently been creating trouble for me and my men. One year ago, this lich made his home in the swamps north from here and started raising the dead. Undead are now wandering these places. We are flooded with reports from farmers who are convinced that their homes and fields are hexed. I have had to lower the taxes in hope that the farmers will not abandon their farms. Our soldiers are truly afraid of entering the swamps, so our hands are tied. If you are able to defeat this lich and cleanse our lands, we will be indebted to you."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            x,y=54-92,1-34
            side=1
        [/filter]
        [modify_side]
            side=4
            team_name=monsters
            user_team_name=_"Monsters"
            canrecruit=yes
            recruit=Mist,Wolf
            {GOLD 400 500 600}
        [/modify_side]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=54-92,35-68
            side=1
        [/filter]
        [message]
            speaker=bandit_commander
            message= _ "I hear footsteps; someone is coming! Come men, it is time to replenish our coffers!"
        [/message]
        [modify_side]
            side=3
            team_name=bandits
            user_team_name=_"Bandits"
            canrecruit=yes
            recruit=Footpad,Thug,Thief,Poacher
            {GOLD 400 500 600}
        [/modify_side]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=110-138,1-15
            side=1
        [/filter]
        [message]
            speaker=undead_commander
            message= _ "Yes, come to me mortals! More enemies, more dead, more skeletons..."
        [/message]
        [modify_side]
            side=5
            team_name=undead
            user_team_name=_"Undead"
            canrecruit=yes
            recruit=Skeleton,Soulless,Skeleton Archer,Ghoul,Ghost
            {GOLD 400 500 600}
        [/modify_side]
    [/event]

    [event]
        name=die
        [filter]
            id=undead_commander
        [/filter]
        [unit]
            type=Stormrider
            id=Stormrider
            name="Stormrider"
            x=123
            y=47
            {IS_HERO}
            side=1
            ai_special=guardian
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_STRONG}
            [/modifications]
        [/unit]
        [unit]
            type=Delly_lich
            id=Delly
            name="Delly"
            x=123
            y=48
            ai_special=guardian
            side=1
            {IS_HERO}
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_QUICK}
            [/modifications]
        [/unit]
        [unit]
            type=Argan_lich
            id=Argan
            name="Argan"
            x=122
            y=48
            ai_special=guardian
            side=1
            {IS_HERO}
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    id=leadership
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    id=leadership1
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    id=leadership2
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
            [/modifications]
        [/unit]
        [message]
            speaker=Argan
            message= _ "Finally we found you! We have been looking for you for quite some time."
        [/message]
        [message]
            speaker=Efraim
            message= _ "What is the problem?"
        [/message]
        [message]
            speaker=Stormrider
            message= _ "We need your assistance. Recently, a necromancer created a portal to the world of the dead. A young mage named Delfador managed to close the portal, but the barrier between worlds was left weakened. However, it seems to be regenerating and with time we expect it to recover its strength."
        [/message]
        [message]
            speaker=Stormrider
            message= _ "A new portal has been reported to be opening in the southeast desert. Although it is growing slowly, it is a long journey from here. There are many dangers in the desert, some of which we might not get through. That is why we need you. If we do not manage to get through the desert and its troubles now, who knows what will be allowed to come through the portal?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Then what are we waiting for?"
        [/message]
        {MOVE_UNIT id=s_knight 122 48}
        [message]
            speaker=s_knight
            message=_"A company of heroes! I am desperate for help! Many bandits are encamped southwest from here, harassing and threatening any passerby. They have proved too quick and agile for my men, who find the forest hard to traverse. The bandits' headquarters are west of here in an old and abandoned castle. If you are able to vanquish them, you will have my elite guard at your disposal! Although not as agile as your elves, my men are much more hardy and would be of inestimable value against tougher foes."
        [/message]
        [message]
            speaker=Stormrider
            message= _ "We might have a bit of time to spare. His soldiers might be handy to us, so it should be worth it. Are we going to help him?"
            [option]
                message= _"Yes"
                [command]
                    [endlevel]
                        result=victory
                        bonus=yes
                        {NEW_GOLD_CARRYOVER 100}
                        next_scenario=01b_Bandits
                    [/endlevel]
                [/command]
            [/option]
            [option]
                message= _"No"
                [command]
                    [endlevel]
                        result=victory
                        bonus=yes
                        {NEW_GOLD_CARRYOVER 100}
                        next_scenario=02_Journey_South
                    [/endlevel]
                [/command]
            [/option]
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 100}
            next_scenario=01b_Bandits
        [/endlevel]	#For the case of trouble
        [store_starting_location]		#No idea what the hell is this - but it may have some purpose. Was I drunk when I was writing this?
            side=2
            variable=temp_starting_location
        [/store_starting_location]

        {CAPTURE_VILLAGES 2 $temp_starting_location.x $temp_starting_location.y 15}
        {CLEAR_VARIABLE temp_starting_location}
    [/event]
    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "How can this be? My powers have failed me!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "Why did I get us into this? Look what has become of me! A widow!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 6 2 71 42 67-77,37-47}
    {GLOBAL_EVENTS}
    {CAMPAIGN3_DEATH_MESSAGES}
    {DROPS 3 5 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear) yes 3,4,5}
    experience_modifier=125
[/scenario]
