#textdomain wesnoth-loti
[scenario]
    id=01b_Bandits
    name=_"Bandits"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/01b_Valley_of_Bandits.map}"
    {SCENARIO_MUSIC "wanderer.ogg"}
    {EXTRA_SCENARIO_MUSIC "nunc_dimittis.ogg"}
    {TURNS 17 16 15}
    victory_when_enemies_defeated=no

    {DEFAULT_SCHEDULE}

    next_scenario=02_Journey_South

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat Muerte"
                condition=win
            [/objective]
            [objective]
                description= _ "End of a great hero"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_100}
        [/objectives]
    [/event]

    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=
        gold=0
        income=0
        team_name=good
        user_team_name=_"Good"
        village_gold=1
    [/side]
    {RECALL_HEROES}
    [side]
        type=Shadow Prince
        id=Muerte
        name=Muerte
        canrecruit=yes
        recruit=Ruffian,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper
        side=2
        {GOLD 500 600 700}
        team_name=bandits
        user_team_name=_"Bandits"
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_LESSER_NIGHTSTALK}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]

    [story]
        [part]
            background=story/mountains2.jpg
            story= _ "And so they joined their old friends for a new adventure. While they didn't know what they would face, they both felt a renewed excitement and sense of purpose. A smile played on their lips."
        [/part]
    [/story]

    [event]
        name=start
        {PLACE_ITEM 601 12 1}
        [item]
            x,y=12,1
            image=items/ring-silver.png
        [/item]

        [message]
            speaker=Efraim
            message= _ "No reservations in attacking a group of bandits, Delly?"
        [/message]
        [message]
            speaker=Delly
            message= _ "Not really; that is not what I am anymore. Besides, this looks like it could be fun."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "They stand no chance against us. We will wait for them in the forests on our side of the river. Then we shall bear down on them with speed and force, leaving our less experienced soldiers to finish them off. Thus, our elves will gain invaluable experience for future battles."
        [/message]
        [message]
            speaker=Argan
            message= _ "An excellent strategy! It is good to have you back, Lethalia."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "It is good to be back. I have missed the frontline."
        [/message]
        [message]
            speaker=Muerte
            message= _ "A powerful enemy approaches! We cannot afford to lose our stronghold. To arms outlaws, to arms brigands! He who spills first blood will dine at my table tonight!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Muerte
        [/filter]
        [message]
            speaker=unit
            message= _ "I die with freedom in my heart, a freedom you cannot kill. My men have fought bravely. We will be remembered."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Great words from one such as you. You have taken from others and shown no remorse. You will be forgotten. As a pebble on the road is passed without notice, so is your death."
        [/message]
        [allow_recruit]
            side=1
            type=Heavy Infantryman LotI
        [/allow_recruit]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Stormrider
            message= _ "We must hurry on. Our time has been wasted here."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 3 2 16 17 13-20,12-25}
    {GLOBAL_EVENTS}
    {CAMPAIGN3_DEATH_MESSAGES}
    {DROPS 3 5 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear,mace) no 2}
    experience_modifier=125
[/scenario]
