#textdomain wesnoth-loti
[scenario]
    id="02b_Mining"
    name= _ "Mining"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/02b_Mines.map}"
    next_scenario=03_Siege
    victory_when_enemies_defeated=yes
    {TURNS 23 22 21}
    {INTRO_AND_SCENARIO_MUSIC the_city_falls.ogg the_deep_path.ogg}
    {EXTRA_SCENARIO_MUSIC into_the_shadows.ogg}
    {EXTRA_SCENARIO_MUSIC underground.ogg}
    {UNDERGROUND}

    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Elvish Fighter LotI,Elvish Archer LotI,Elvish Scout LotI,Dwarvish Fighter LotI
        gold=200
        team_name=good
        user_team_name=_"Good"
        village_gold=1
        shroud=yes
    [/side]

    [side]
        type=Ancient Lich
        id=lich_commander
        generate_name=yes
        random_traits=yes
        side=2
        canrecruit=yes
        recruit=Skeleton,Skeleton Archer,Walking Corpse,Ghost,Vampire Bat,Revenant,Bone Shooter,Chocobone,Deathblade,Shadow,Wraith,Blood Bat,Soulless,Banebow,Nightgaunt,Spectre,Draug,Dread Bat
        team_name=evil
        user_team_name=_"Evil"
        {INCOME 30 35 40}
        {GOLD 50 70 90}
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_CONVICTION 40}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        type=Death Knight
        generate_name=yes
        random_traits=yes
        side=3
        canrecruit=yes
        recruit=Goblin Spearman,Goblin Rouser,Goblin Impaler
        team_name=evil
        user_team_name=_"Evil"
        {INCOME 15 20 25}
        {GOLD 50 70 90}
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_DOOM}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        type=Death Knight
        generate_name=yes
        random_traits=yes
        side=4
        canrecruit=yes
#ifdef EASY
        recruit=Goblin Spearman,Goblin Rouser,Goblin Impaler
#endif
#ifdef NORMAL
        recruit=Goblin Spearman,Goblin Rouser
#endif
#ifdef HARD
        recruit=Goblin Spearman
#endif
        team_name=evil
        user_team_name=_"Evil"
        {INCOME 15 20 25}
        {GOLD 50 70 90}
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_LEECH}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        type=Lich
        generate_name=yes
        random_traits=yes
        side=5
        canrecruit=yes
        recruit=Skeleton,Skeleton Archer,Walking Corpse,Ghost,Vampire Bat,Revenant,Bone Shooter,Soulless
        team_name=evil
        user_team_name=_"Evil"
        {INCOME 15 20 25}
        {GOLD 50 70 90}
#ifdef HARD
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_DESPAIR 60}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        type=Lich
        generate_name=yes
        random_traits=yes
        side=6
        canrecruit=yes
        recruit=Skeleton,Skeleton Archer,Walking Corpse,Ghost,Vampire Bat,Revenant,Bone Shooter,Soulless
        team_name=evil
        user_team_name=_"Evil"
        {INCOME 15 20 25}
        {GOLD 50 70 90}
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_SHIELD 60}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        type=Lich
        generate_name=yes
        random_traits=yes
        side=7
        canrecruit=yes
        recruit=Skeleton,Skeleton Archer,Walking Corpse,Ghost,Vampire Bat,Revenant,Bone Shooter,Soulless
        team_name=evil
        user_team_name=_"Evil"
        {INCOME 15 20 25}
        {GOLD 50 70 90}
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=ranged
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_GUIDED}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description=_ "End of a hero"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_100}
        [/objectives]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "The dwarf explained that his clan had discovered a new mine which held a lot of promise, but also hordes of undead and their goblin servants. There was simply no getting at them. Frustrated, their lord was offering gold and warriors to anyone able to reliably rid them of this counterproductive hindrance."
        [/message]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "The dwarvish lord seemed to have a strange theory about the existence - he said that there are two kinds of living sentinent beings - heroes and plebs. Without any problems, he said that Efraim, Lethalia, Stormrider, Argan, Delly and him were heroes, and that the rest of the dwarves and probably also the rest of their party were plebs. Heroes were truly living, while the rest were just well-made imitations of the truly living, - they never truly had feelings and never became important, and that they lived only to give the heroes a world in which to do their heroic deeds."
        [/message]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "Although it did not sound completely unreal, as if each of them felt it might have been right, it was also very immoral as a philosophy. They argued whether they should help a narcissist like him, but finally they decided they would - dwarvish warriors could be quite useful allies."
        [/message]
        {GENERIC_UNIT 1 "Dwarvish Fighter LotI" 38 6}
        [+unit]
            [variables]
                chapter=3
            [/variables]
        [/unit]
        {GENERIC_UNIT 1 "Dwarvish Fighter LotI" 35 6}
        [+unit]
            [variables]
                chapter=3
            [/variables]
        [/unit]
        {GENERIC_UNIT 1 "Dwarvish Fighter LotI" 36 7}
        [+unit]
            [modifications]
                {TRAIT_HIGHLANDER}
            [/modifications]
            [variables]
                chapter=3
            [/variables]
        [/unit]
        {UPDATE_ATTACKS 38 6}
        {UPDATE_ATTACKS 35 6}
        {UPDATE_ATTACKS 36 7}
        [gold]
            side=1
            amount=300
        [/gold]
    [/event]
    {RECALL_HEROES}

    [event]
        name=start
        [message]
            speaker=Lethalia
            message= _ "I can hear goblins from the west."
        [/message]
        [message]
            speaker=Argan
            message= _ "Nice. Elves will fight the goblins and others will fight the undead. And we must attack them unprepared."
        [/message]
    [/event]

    [event]
        name=enemies defeated
        [message]
            speaker=Efraim
            message= _ "Victory!"
        [/message]
        [gold]
            side=1
            amount=400
        [/gold]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    {GLOBAL_EVENTS}
    {CAMPAIGN3_DEATH_MESSAGES}
    {DROPS 3 3 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear,mace) yes 2,3,4,5,6,7}
    experience_modifier=125
[/scenario]
