#textdomain wesnoth-loti
[scenario]
    id="03_Siege"
    name= _ "Siege"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/03_Mageville.map}"
    next_scenario=04_Entering_the_Desert
    victory_when_enemies_defeated=no
    {TURNS 25 23 21}
    {DEFAULT_MUSIC_PLAYLIST}
    {DEFAULT_SCHEDULE}
    {PLACE_IMAGE scenery/village-human-burned1.png 37 19}
    {PLACE_IMAGE scenery/village-human-burned2.png 32 21}
    {PLACE_IMAGE scenery/village-human-burned3.png 39 25}
    {PLACE_IMAGE scenery/village-human-burned4.png 33 30}
    {PLACE_IMAGE scenery/village-human-burned1.png 41 32}
    {PLACE_IMAGE scenery/village-human-burned2.png 26 22}
    {PLACE_IMAGE scenery/village-human-burned3.png 34 25}
    {PLACE_IMAGE scenery/trash.png 34 23}
    {PLACE_IMAGE scenery/trash.png 33 19}
    {PLACE_IMAGE scenery/pine1.png 53 26}
    {PLACE_IMAGE items/bones.png 45 21}
    {PLACE_IMAGE items/burial.png 50 20}
    {PLACE_IMAGE items/bonestack.png 49 23}
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Elvish Fighter LotI,Elvish Archer LotI,Elvish Scout LotI
        gold=0
        income=-2
        village_gold=0
        team_name=good
        user_team_name=_"Good"
        village_gold=1
    [/side]

    [side]
        type=Sergeant
        id=lord_amwyn
        name="Lord Amwyn"
        random_traits=yes
        side=2
        canrecruit=yes
        recruit=Spearman,Horseman,Cavalryman,Bowman,Fencer,Heavy Infantryman
        team_name=good
        user_team_name=_"Good"
        ai_special=guardian
        {GOLD 400 350 300}
        income=20
    [/side]
    [side]
        type=Great Mage
        gender=male
        id=Amalius
        name="Amalius"
        random_traits=yes
        side=3
        canrecruit=yes
        recruit=White Mage,Red Mage,Mage of Light,Arch Mage,Silver Mage
        team_name=good
        user_team_name=_"Good"
        {GOLD 600 500 400}
        income=20
    [/side]
    [side]
        type=Orcish Strafer
        id=orcish_commander
        generate_name=yes
        random_traits=yes
        ai_special=guardian
        side=4
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Orcish Assassin,Orcish Crossbowman,Orcish Warrior
#endif
#ifdef NORMAL
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll,Goblin Knight,Orcish Assassin,Orcish Crossbowman,Orcish Warrior
#endif
#ifdef HARD
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll,Goblin Knight,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Troll Rocklobber,Orcish Warrior,Orcish Warlord,Orcish Slurbow,Direwolf Rider
#endif
        team_name=evil
        user_team_name=_"Evil"
        ai_special=guardian
        {GOLD 1500 1600 1700}
        income=40
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_LEECH}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Defeat the orcish leader"
                condition=win
            [/objective]
            [objective]
                description=_ "End of a hero"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Lord Amwyn or Amalius"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_100}
        [/objectives]
    [/event]
    {RECALL_HEROES}

    [event]
        name=start
        [message]
            speaker=lord_amwyn
            message= _ "A party of warriors approach from the north. Their assistance might tip the scales in our favour."
        [/message]
        [message]
            speaker=Amalius
            message= _ "I do not have a good feeling about this. They seem to have every race known to Wesnoth with them. What kind of army is that?"
        [/message]
        [message]
            speaker=lord_amwyn
            message= _ "Beggars cannot be choosers. We have withstood the orcs once, but we will not stand against a second wave. I am ready to ally with any who would help us."
        [/message]
        [message]
            speaker=lord_amwyn
            message= _ "Warriors from the north, please hear our plight! The orcs near our stronghold with an army much larger than our own. Our chances of victory are slim, but with your aid, we might win a decisive battle."
        [/message]
        [message]
            speaker=Delly
            message= _ "We really cannot be bothered. Our quest lies further south."
        [/message]
        [message]
            speaker=Efraim
            message= _ "(To Delly) How could you say that? Many a time have we found ourselves in similar situations. We must do what we can to help."
        [/message]
        [message]
            speaker=Amalius
            message= _ "Please, our lives depend on your help. We pledge our mages to you if we win this battle."
        [/message]
        [message]
            speaker=Efraim
            message= _ "We have been in similar struggles ourselves. We'll help you defeat the orcs."
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=orcish_commander
        [/filter]
        [message]
            speaker=second_unit
            message= _ "Another orcish army defeated!"
        [/message]
        [message]
            speaker=lord_amwyn
            message= _ "You have helped us. As I promised, I will send some of our mages with you."
        [/message]
        [allow_recruit]
            side=1
            type=Mage LotI
        [/allow_recruit]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Delly
            message= _ "We should have let the orcs defeat them. Our time has been wasted on this mission."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 5 3 8 11 3-13,6-16}
    {GLOBAL_EVENTS}
    {CAMPAIGN3_DEATH_MESSAGES}
    {DROPS 3 3 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear,mace) no 4}
    experience_modifier=125
[/scenario]
