#textdomain wesnoth-loti
[scenario]
    id="04_Entering_the_Desert"
    name= _ "Entering the Desert"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/04_Desert.map}"
    next_scenario=05_The_Pit
    {TURNS 50 46 42}
    {SCENARIO_MUSIC "heroes_rite.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_deep_path.ogg"}
    {EXTRA_SCENARIO_MUSIC "vengeful.ogg"}
    victory_when_enemies_defeated=no
#define GUARDIAN_UNIT SIDE TYPE X Y
    [unit]
        side={SIDE}
        type={TYPE}
        x={X}
        y={Y}
        generate_name=yes
        random_traits=yes
        random_gender=yes
        upkeep=full
        ai_special=guardian
    [/unit]
#enddef
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}

    [time_area]
        x=42
        y=67
        {UNDERGROUND}
    [/time_area]
    [time_area]
        x=41-43
        y=68-69
        {UNDERGROUND}
    [/time_area]

    {PLACE_IMAGE items/bones.png 11 46}
    {PLACE_IMAGE items/bones.png 33 23}
    {PLACE_IMAGE items/bones.png 14 25}
    {PLACE_IMAGE items/bones.png 38 33}
    {PLACE_IMAGE items/bones.png 45 40}
    {PLACE_IMAGE items/burial.png 35 37}
    {PLACE_IMAGE items/bonestack.png 22 56}
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Elvish Fighter LotI,Elvish Archer LotI,Elvish Scout LotI,Mage LotI
        gold=0
        income=0
        team_name=good
        user_team_name=_"Good"
        village_gold=1
        shroud=yes
    [/side]

    [side]
        type=Highwayman
        generate_name=yes
        random_traits=yes
        side=2
        canrecruit=yes
#ifdef EASY
        recruit=Footpad,Thug,Bandit,Thief,Trapper,Poacher,Rogue,Outlaw
#endif
#ifdef NORMAL
        recruit=Footpad,Thug,Bandit,Thief,Trapper,Poacher,Rogue,Outlaw,Fugitive,Ranger
#endif
#ifdef HARD
        recruit=Footpad,Thug,Bandit,Thief,Trapper,Poacher,Rogue,Outlaw,Fugitive,Ranger,Huntsman,Assassin,Highwayman
#endif
        team_name=desert
        user_team_name=_"Desert"
        ai_special=guardian
        {GOLD 300 370 450}
    [/side]
    [side]
        no_leader=yes
        side=3
        team_name=desert
        user_team_name=_"Desert"
    [/side]
    [side]
        type=Spectre
        ai_special=guardian
        side=4
        canrecruit=no
        team_name=evil
        user_team_name=_"Evil"
        ai_special=guardian
    [/side]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Pass through the desert"
                condition=win
                [show_if]
                    [variable]
                        name=turn_number
                        less_than=18
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Get to the place where the shadows are appearing."
                condition=win
                [show_if]
                    [variable]
                        name=turn_number
                        greater_than_equal_to=18
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "End of a hero"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_100}
        [/objectives]
    [/event]
    {RECALL_HEROES}
    [story]
        [part]
            background=story/desert.jpg
            story= _ "As they continued their journey, a sense of foreboding grew over them. Gone were the forests they were accustomed to. These were replaced by sand dunes that stretched as far as the eye could see. Jagged rocks protruded from the sand, glaring menacingly at any who dared travel these lands, as if to express their displeasure in anyone's company than their own. Replenishing their resources and preparing their troops, the heroes marched on."
        [/part]
    [/story]
    [event]
        name=turn 2
        {RANDOM_ITEM 6 59}
    [/event]
    [event]
        name=start
        [message]
            speaker=Stormrider
            message= _ "While I know the undead to dwell here, I sense an otherworldly power at work. I believe we are very near our goal."
        [/message]
        [message]
            speaker=Delly
            message= _ "You mean the portal that leads to the world of the dead?"
        [/message]
        [message]
            speaker=Stormrider
            message= _ "Yes, I feel its darkness. We must be careful. Who knows what has already left the portal?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Then let us get there as quickly as possible. The sooner we reach the portal, the sooner we will know what we are up against."
        [/message]
        [message]
            speaker=Stormrider
            message= _ "As always, Lethalia, your advice is sound, but we must not stray from each other. The liches and creatures that dwell here are known for their power. We cannot let them single us out, especially at night when their power is strongest."
        [/message]
        {GUARDIAN_UNIT 3 "Skeleton Archer" 4 24}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 9 28}
        {GUARDIAN_UNIT 3 "Fog" 16 24}
        #The Fog unit is what is dangerous. If a unit gets petrified, it will be useless until the and of the scenario. If Lethalia gets petrified,
        #the player is probably screwed.
        {GUARDIAN_UNIT 3 "Giant Spider" 21 27}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 29 23}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 34 25}
        {GUARDIAN_UNIT 3 "Giant Spider" 45 24}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 40 25}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 50 26}
        {GUARDIAN_UNIT 3 "Lich" 6 37}
        {GUARDIAN_UNIT 3 "Skeleton" 3 42}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 9 46}
        {GUARDIAN_UNIT 3 "Giant Spider" 15 45}
        {GUARDIAN_UNIT 3 "Wolf" 15 39}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 20 36}
        {GUARDIAN_UNIT 3 "Giant Spider" 24 39}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 22 43}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 27 49}
        {GUARDIAN_UNIT 3 "Skeletal Dragon" 33 44}
        {GUARDIAN_UNIT 3 "Ghoul" 31 39}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 36 36}
        {GUARDIAN_UNIT 3 "Giant Spider" 44 39}
        {GUARDIAN_UNIT 3 "Fog" 49 36}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 51 41}
        {GUARDIAN_UNIT 3 "Giant Spider" 47 43}
        {GUARDIAN_UNIT 3 "Skeleton" 40 46}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 38 33}
        {GUARDIAN_UNIT 3 "Skeletal Dragon" 3 64}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 8 70}
        {GUARDIAN_UNIT 3 "Skeleton" 14 73}
        {GUARDIAN_UNIT 3 "Giant Spider" 19 65}
        {GUARDIAN_UNIT 3 "Fog" 23 58}
        {GUARDIAN_UNIT 3 "Giant Scorpion" 31 57}
    [/event]
    [event]
        name=turn 17
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Wraith 42 69}
#ifdef NORMAL
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Nightgaunt 43 68}
#endif
        [message]
            speaker=Stormrider
            message= _ "No! I can feel this world's border is shaking! I hope we are not too late!"
        [/message]
    [/event]
    [event]
        name=turn 18
        {GENERIC_UNIT 4 Ghost 41 68}
#ifdef NORMAL
        {GENERIC_UNIT 4 Ghost 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Wraith 43 68}
#endif
        [message]
            speaker=Stormrider
            message= _ "There is more to this than I feared! Some spell has been cast to keep this world in perpetual darkness! We must stop this endless night as fast as possible!"
        [/message]
        [objectives]
            summary= _ "New Objectives:"
            show=yes
            [objective]
                description=_ "Get to the place where the shadows are appearing."
                condition=win
            [/objective]
            [objective]
                description=_ "End of a hero"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_100}
        [/objectives]
    [/event]
    [event]
        name=turn 19
        {GENERIC_UNIT 4 Ghost 41 68}
    [/event]
    [event]
        name=turn 20
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 42 69}
    [/event]
    [event]
        name=turn 21
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 42 69}
        {GENERIC_UNIT 4 Wraith 43 68}
    [/event]
    [event]
        name=turn 22
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Wraith 42 69}
#ifdef NORMAL
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Nightgaunt 43 68}
#endif
    [/event]
    [event]
        name=turn 23
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
#ifdef NORMAL
        {GENERIC_UNIT 4 Ghost 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
    [/event]
    [event]
        name=turn 24
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
#ifdef NORMAL
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
    [/event]
    [event]
        name=turn 25
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
#ifdef NORMAL
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
    [/event]
    [event]
        name=turn 26
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
#ifdef NORMAL
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Spectre 43 68}
#endif
    [/event]
    [event]
        name=turn 27
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
#ifdef NORMAL
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
    [/event]
    [event]
        name=turn 28
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Ghost 42 69}
#ifdef NORMAL
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Nightgaunt 43 68}
#endif
    [/event]
    [event]
        name=turn 29
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
#ifdef NORMAL
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
    [/event]
    [event]
        name=turn 30
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
#ifdef NORMAL
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Nightgaunt 43 68}
#endif
    [/event]
    [event]
        name=turn 31
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 42 67}
        {GENERIC_UNIT 4 Ghost 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
#ifdef NORMAL
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
    [/event]
    [event]
        name=turn 32
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 42 67}
        {GENERIC_UNIT 4 Ghost 43 69}
        {GENERIC_UNIT 4 Ghost 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
#ifdef NORMAL
        {GENERIC_UNIT 4 Ghost 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
    [/event]
    [event]
        name=turn 33
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 42 67}
        {GENERIC_UNIT 4 Ghost 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
#ifdef NORMAL
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
    [/event]
    [event]
        name=turn 34
        {GENERIC_UNIT 4 Shadow 41 68}
        {GENERIC_UNIT 4 Ghost 42 67}
        {GENERIC_UNIT 4 Wraith 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
#ifdef NORMAL
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
#ifdef HARD
        {GENERIC_UNIT 4 Shadow 43 68}
#endif
    [/event]
    #Too late.
    [event]
        name=turn 35
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 42 67}
        {GENERIC_UNIT 4 Ghost 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
        {GENERIC_UNIT 4 Shadow 43 68}
    [/event]
    [event]
        name=turn 36
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 42 67}
        {GENERIC_UNIT 4 Shadow 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
        {GENERIC_UNIT 4 Nightgaunt 43 68}
    [/event]
    [event]
        name=turn 37
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 42 67}
        {GENERIC_UNIT 4 Shadow 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
        {GENERIC_UNIT 4 Shadow 43 68}
    [/event]
    [event]
        name=turn 38
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 42 67}
        {GENERIC_UNIT 4 Shadow 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Spectre 42 69}
        {GENERIC_UNIT 4 Shadow 43 68}
    [/event]
    [event]
        name=turn 39
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Wraith 42 67}
        {GENERIC_UNIT 4 Shadow 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Spectre 42 69}
        {GENERIC_UNIT 4 Shadow 43 68}
    [/event]
    [event]
        name=turn 40
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Ghost 42 67}
        {GENERIC_UNIT 4 Shadow 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Spectre 42 69}
        {GENERIC_UNIT 4 Nightgaunt 43 68}
    [/event]
    [event]
        name=turn 41
        {GENERIC_UNIT 4 Ghost 41 68}
        {GENERIC_UNIT 4 Wraith 42 67}
        {GENERIC_UNIT 4 Shadow 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Spectre 42 69}
        {GENERIC_UNIT 4 Nightgaunt 43 68}
    [/event]
    [event]
        name=turn 42
        {GENERIC_UNIT 4 Wraith 41 68}
        {GENERIC_UNIT 4 Wraith 42 67}
        {GENERIC_UNIT 4 Shadow 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Wraith 42 69}
        {GENERIC_UNIT 4 Nightgaunt 43 68}
    [/event]
    [event]
        name=turn 43
        {GENERIC_UNIT 4 Wraith 41 68}
        {GENERIC_UNIT 4 Wraith 42 67}
        {GENERIC_UNIT 4 Shadow 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Spectre 42 69}
        {GENERIC_UNIT 4 Nightgaunt 43 68}
    [/event]
    [event]
        name=turn 44
        {GENERIC_UNIT 4 Wraith 41 68}
        {GENERIC_UNIT 4 Wraith 42 67}
        {GENERIC_UNIT 4 Shadow 43 69}
        {GENERIC_UNIT 4 Nightgaunt 41 69}
        {GENERIC_UNIT 4 Spectre 42 69}
        {GENERIC_UNIT 4 Nightgaunt 43 68}
    [/event]
    [event]
        name=turn 45
        {GENERIC_UNIT 4 Wraith 41 68}
        {GENERIC_UNIT 4 Wraith 42 67}
        {GENERIC_UNIT 4 Nightgaunt 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Spectre 42 69}
        {GENERIC_UNIT 4 Nightgaunt 43 68}
    [/event]
    [event]
        name=turn 46
        {GENERIC_UNIT 4 Wraith 41 68}
        {GENERIC_UNIT 4 Wraith 42 67}
        {GENERIC_UNIT 4 Nightgaunt 43 69}
        {GENERIC_UNIT 4 Wraith 41 69}
        {GENERIC_UNIT 4 Spectre 42 69}
        {GENERIC_UNIT 4 Nightgaunt 43 68}
    [/event]
    [event]
        name=turn 47
        {GENERIC_UNIT 4 Wraith 41 68}
        {GENERIC_UNIT 4 Wraith 42 67}
        {GENERIC_UNIT 4 Nightgaunt 43 69}
        {GENERIC_UNIT 4 Spectre 41 69}
        {GENERIC_UNIT 4 Spectre 42 69}
        {GENERIC_UNIT 4 Nightgaunt 43 68}
    [/event]
    [event]
        name=turn 48
        {GENERIC_UNIT 4 Wraith 41 68}
        {GENERIC_UNIT 4 Spectre 42 67}
        {GENERIC_UNIT 4 Nightgaunt 43 69}
        {GENERIC_UNIT 4 Spectre 41 69}
        {GENERIC_UNIT 4 Spectre 42 69}
        {GENERIC_UNIT 4 Nightgaunt 43 68}
    [/event]
    [event]
        name=turn 49
        {GENERIC_UNIT 4 Spectre 41 68}
        {GENERIC_UNIT 4 Spectre 42 67}
        {GENERIC_UNIT 4 Nightgaunt 43 69}
        {GENERIC_UNIT 4 Spectre 41 69}
        {GENERIC_UNIT 4 Spectre 42 69}
        {GENERIC_UNIT 4 Nightgaunt 43 68}
    [/event]
    [event]
        name=turn 50
        {GENERIC_UNIT 4 Spectre 41 68}
        {GENERIC_UNIT 4 Spectre 42 67}
        {GENERIC_UNIT 4 Nightgaunt 43 69}
        {GENERIC_UNIT 4 Spectre 41 69}
        {GENERIC_UNIT 4 Spectre 42 69}
        {GENERIC_UNIT 4 Nightgaunt 43 68}
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=40-44,66-70
        [/filter]
        [message]
            speaker=unit
            message= _ "They keep appearing from this pit!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "How can this evil be stopped? Who is responsible for this sudden, unending darkness?"
        [/message]
        [message]
            speaker=Stormrider
            message= _ "I do not know. We need answers, but I am afraid we shall have to enter the pit to get them."
        [/message]
        [message]
            speaker=Efraim
            message= _ "We have not come this far to stop here. Let us descend with caution."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Stormrider
            message= _ "We cannot fight them off; they are too many! We have taken too long in the desert and the dead continue to come. We have failed our mission!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 5 3 43 39 38-48,34-43}
    {GLOBAL_EVENTS}
    {CAMPAIGN3_DEATH_MESSAGES}
    {DROPS 3 3 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear,mace) no 2,3,4}
    experience_modifier=125
[/scenario]
