#textdomain wesnoth-loti
[scenario]
    id="06_Darkest_Darkness"
    name= _ "Darkest Darkness"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/06_Deep_Cave.map}"
    next_scenario=07_End_of_all_Hopes
    victory_when_enemies_defeated=no
    {TURNS 20 17 14}
    {INTRO_AND_SCENARIO_MUSIC casualties_of_war.ogg the_deep_path.ogg}
    {EXTRA_SCENARIO_MUSIC frantic.ogg}
    {EXTRA_SCENARIO_MUSIC underground.ogg}
    {DEEP_UNDERGROUND}
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Elvish Fighter LotI,Elvish Archer LotI,Elvish Scout LotI,Mage LotI
        gold=0
        team_name=good
        user_team_name=_"Good"
        village_gold=1
        shroud=yes
    [/side]

    [side]
        type=Ancient Lich
        id=lich_commander
        generate_name=yes
        random_traits=yes
        side=2
        canrecruit=yes
        recruit=Skeleton,Skeleton Archer,Revenant,Bone Shooter,Chocobone,Banebow,Draug,Deathblade,Wraith,Ghost,Shadow,Nightgaunt,Spectre
        team_name=evil
        user_team_name=_"Evil"
        {GOLD 200 250 300}
        income=20
        {GENERIC_UNIT 2 "Bone Shooter" 27 14}
        {GENERIC_UNIT 2 "Deathblade" 26 13}
        {GENERIC_UNIT 2 "Wraith" 25 13}
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_UNYIELDING}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        type=Lich King
        generate_name=yes
        random_traits=yes
        side=3
        canrecruit=yes
        recruit=Skeleton,Skeleton Archer,Revenant,Bone Shooter,Chocobone,Monstrosity
        team_name=evil
        user_team_name=_"Evil"
        {GOLD 150 200 250}
        income=10
        {GENERIC_UNIT 3 "Chocobone" 24 13}
        {GENERIC_UNIT 3 "Revenant" 24 12}
        {GENERIC_UNIT 3 "Bone Shooter" 21 22}
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_DARKENS_IMPROVED}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        type=Lich
        generate_name=yes
        random_traits=yes
        side=4
        canrecruit=yes
        recruit=Wraith,Ghost,Shadow
        team_name=evil
        user_team_name=_"Evil"
        {GOLD 150 200 250}
        income=10
        {GENERIC_UNIT 4 "Wraith" 29 21}
        {GENERIC_UNIT 4 "Wraith" 30 21}
        {GENERIC_UNIT 4 "Shadow" 31 23}
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=ranged
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_SPIRITUAL_ATTACK}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        type=Lich
        generate_name=yes
        random_traits=yes
        side=5
        canrecruit=yes
        recruit=Walking Corpse,Soulless
        team_name=evil
        user_team_name=_"Evil"
        {GOLD 100 150 175}
        income=20
        {GENERIC_UNIT 2 "Walking Corpse" 30 20}
        {GENERIC_UNIT 2 "Soulless" 31 21}
        {GENERIC_UNIT 2 "Soulless" 32 21}
#ifdef HARD
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=ranged
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_GREATER_INFECT}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        type=Dread Bat
        random_traits=yes
        side=6
        canrecruit=yes
        recruit=Vampire Bat,Blood Bat
        team_name=evil
        user_team_name=_"Evil"
        {GOLD 70 90 125}
        income=10
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_HIT_AND_RUN}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description=_ "End of a hero"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_100}
        [/objectives]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "They found themselves in a place where the living foot had not stepped for millennia. They walked several days in the darkness, feeling that they were awakening unknown entities and tempting them with their living souls. Feeding on bats, rats and mushrooms, they were fleeing from any alien presence. But eventually they realised they were surrounded."
        [/message]
    [/event]
    {RECALL_HEROES}

    [event]
        name=start
        [message]
            speaker=Stormrider
            message= _ "They are everywhere!"
        [/message]
        [message]
            speaker=Argan
            message= _ "Calm down, we will prevail."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I believe there is a way to avoid the battle with all the monsters here. If we find a narrow tunnel, we can break the ceiling in and get out of here. And I can feel the surface is not too far from here. After getting rid of them, I can lead you there. I hope I am right."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=13,33-34
            side=1
        [/filter]
        [message]
            speaker=Efraim
            message= _ "Great, we found a narrow tunnel. Escape this way."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=enemies defeated
        [message]
            speaker=Efraim
            message= _ "Victory! Let us proceed. I have no idea where those tunnels lead, but I hope the surface is not far."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Argan
            message= _ "We ran out of supplies of food and hope."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 7 4 9 10 1-9,5-15}
    {GLOBAL_EVENTS}
    {CAMPAIGN3_DEATH_MESSAGES}
    {DROPS 1 2 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear,mace) no 2,3,4,5,6}
    experience_modifier=125
[/scenario]
