#textdomain wesnoth-loti
[scenario]
    id="07_End_of_all_Hopes"
    name= _ "End of all Hopes"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/07_First_Exit.map}"
    next_scenario=08_Lost
    victory_when_enemies_defeated=no
    {TURNS 25 21 18}
    {INTRO_AND_SCENARIO_MUSIC journeys_end.ogg the_deep_path.ogg}
    {EXTRA_SCENARIO_MUSIC the_king_is_dead.ogg}
    {EXTRA_SCENARIO_MUSIC vengeful.ogg}
    {DESERT_SUN}

    [time_area]
        x=1-54
        y=23-43
        {UNDERGROUND}
    [/time_area]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Elvish Fighter LotI,Elvish Archer LotI,Elvish Scout LotI,Mage LotI
        gold=0
        team_name=good
        user_team_name=_"Good"
        village_gold=0
    [/side]

    [side]
        type=Assassin
        id=bandit_leader
        generate_name=yes
        random_traits=yes
        random_gender=yes
        side=2
        canrecruit=yes
        recruit=Thief,Rogue,Poacher,Trapper,Thug,Bandit,Footpad,Outlaw
        team_name=good
        user_team_name=_"Good"
        {GOLD 200 250 300}
        {GENERIC_UNIT 2 "Highwayman" 28 11}
        {GENERIC_UNIT 2 "Fugitive" 30 12}
        {GENERIC_UNIT 2 "Rogue" 29 13}
    [/side]
    [side]
        type=Lich
        generate_name=yes
        side=3
        canrecruit=yes
        recruit=Skeleton,Skeleton Archer,Revenant,Bone Shooter,Chocobone,Deathblade
        team_name=evil
        user_team_name=_"Evil"
        {GOLD 500 600 700}
        income=40
        {GENERIC_UNIT 3 "Chocobone" 3 31}
        {GENERIC_UNIT 3 "Revenant" 3 32}
        {GENERIC_UNIT 3 "Bone Shooter" 4 31}
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_HEALS_OTHER 32}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        type=Orcish Warlord
        id=orcish_leader
        generate_name=yes
        random_traits=yes
        side=4
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Orcish Assassin,Orcish Crossbowman,Orcish Warrior
#endif
#ifdef NORMAL
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Crossbowman,Orcish Warrior,Orcish Slayer
#endif
#ifdef HARD
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Troll Rocklobber,Orcish Warlord,Orcish Slurbow,Troll Warrior,Direwolf Rider
#endif
        team_name=evil
        user_team_name=_"Evil"
        {GOLD 400 550 700}
        income=30
        {GENERIC_UNIT 4 "Orcish Warrior" 7 5}
        {GENERIC_UNIT 4 "Orcish Ruler" 8 5}
        {GENERIC_UNIT 4 "Orcish Slayer" 9 5}
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_STRUGGLE}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Get to the western corner of the caves"
                condition=win
            [/objective]
            [objective]
                description=_ "End of a hero"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_100}
        [/objectives]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "Lethalia led them into an abandoned dwarvish town with a road to the surface..."
        [/message]
    [/event]
    {RECALL_HEROES}

    [event]
        name=start
        {MOVE_UNIT id=Stormrider 44 20}
        [message]
            speaker=Stormrider
            message= _ "I can see the sunlight."
        [/message]
        [message]
            speaker=bandit_leader
            message= _ "Yes, but there are impassable mountains everywhere around. There is no way around. We are fighting the orcs, earning gold and food by being hired by dwarves and undead."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Damn it. I found a way to the surface, but it is useless. What shall we do now?"
        [/message]
        [message]
            speaker=bandit_leader
            message= _ "First, you should help us."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "No. In any case. Why should we help mercenaries like you? Pay you to be allowed to leave freely?"
        [/message]
        [message]
            speaker=bandit_leader
            message= _ "No. Orcs are attacking us. We need to defeat them. As a reward our mercenaries will be available to you."
        [/message]
        [message]
            speaker=Efraim
            message= _ "We have to find another exit. We do not like being lost, so would prefer to get away as soon as possible. Maybe we will help you, maybe not. But we have a lich with army before us. It is useful to have expendable soldiers."
            # Not sure what "Sacrificable soldiers are not to tarnish." means? - not to be wasted/sniffed at, OR not worth worrying over  Nick
            # Badly written. Is it okay now?  Dugi
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=orcish_leader
        [/filter]
        [message]
            speaker=unit
            message= _ "Curse you."
        [/message]
        [allow_recruit]
            side=1
            type=Ruffian,Poacher,Trapper,Ranger,Huntsman,Bandit,Thug,Highwayman,Footpad,Outlaw,Fugitive,Thief,Rogue,Assassin
        [/allow_recruit]
        [message]
            speaker=bandit_leader
            message= _ "Now, you are blessed with some of my soldiers. But they will not fight for free."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=1,27
            side=1
        [/filter]
        [message]
            speaker=Efraim
            message= _ "We have made it."
        [/message]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=1,38
            side=1
        [/filter]
        [message]
            speaker=Efraim
            message= _ "Well, let us go this way."
        [/message]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 5 4 15 16 10-20,11-21}
    {GLOBAL_EVENTS}
    {CAMPAIGN3_DEATH_MESSAGES}
    {DROPS 1 2 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear,mace,mace) yes 3,4}
    experience_modifier=125
[/scenario]
