#textdomain wesnoth-loti
[scenario]
    id="08_Lost"
    name= _ "Lost"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/08_Depths.map}"
    next_scenario=09_Ambush
    victory_when_enemies_defeated=no
    turns=200
    {INTRO_AND_SCENARIO_MUSIC into_the_shadows.ogg the_deep_path.ogg}
    {EXTRA_SCENARIO_MUSIC sad.ogg}
    {EXTRA_SCENARIO_MUSIC vengeful.ogg}

    {DEEP_UNDERGROUND}
    {PLACE_IMAGE items/chest.png 45 38}
    {PLACE_IMAGE items/chest.png 19 2}
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Elvish Fighter LotI,Elvish Archer LotI,Elvish Scout LotI,Mage LotI
        gold=100
        team_name=good
        user_team_name=_"Good"
        village_gold=0
        income=-2
        shroud=yes
    [/side]

    [side]
        type=Armageddon Drake
        id=armageddon_drake
        generate_name=yes
        random_traits=yes
        side=2
        ai_special=guardian
        canrecruit=yes
        recruit=Drake Burner,Drake Fighter,Drake Clasher,Drake Glider,Fire Drake,Drake Flare,Drake Warrior,Drake Thrasher,Drake Arbiter,Sky Drake
        team_name=evil
        user_team_name=_"Evil"
        gold=0
        village_gold=0
        income=-2
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_CONVICTION 40}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        type=Lich
        side=3
        canrecruit=yes
        recruit=Skeleton,Skeleton Archer,Deathblade,Revenant,Draug,Bone Shooter,Banebow
        team_name=evil
        user_team_name=_"Evil"
        ai_special=guardian
        gold=0
        village_gold=0
        income=-2
#ifdef HARD
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_ABSORB_4}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        type=Fire Dragon
        id=fire_dragon
        name=_"Blueflame"
        random_traits=yes
        side=4
        canrecruit=yes
        recruit=Drake Burner,Drake Fighter,Drake Clasher,Drake Glider,Fire Drake,Drake Flare,Drake Warrior,Drake Thrasher,Drake Arbiter,Sky Drake,Hurricane Drake,Drake Enforcer,Drake Flameheart,Inferno Drake,Drake Blademaster,Drake Warden
        team_name=evil
        user_team_name=_"Evil"
        ai_special=guardian
        village_gold=0
        gold=0
        income=-2
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_REGENERATES_OTHER 40}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        type=Goblin Rouser
        generate_name=yes
        random_traits=yes
        side=5
        canrecruit=yes
        recruit=Goblin Spearman,Goblin Impaler
        team_name=evil
        user_team_name=_"Evil"
        ai_special=guardian
        gold=0
        village_gold=0
        income=-2
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_LEECH}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        type=Ancient Lich
        side=6
        canrecruit=yes
        recruit=Skeleton,Skeleton Archer,Deathblade,Draug,Bone Shooter,Ghost,Shadow,Wraith,Walking Corpse,Soulless
        team_name=evil
        user_team_name=_"Evil"
        ai_special=guardian
        gold=0
        income=-2
        village_gold=0
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=ranged
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_LEECH}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        type=Dread Bat
        side=7
        canrecruit=yes
        recruit=Vampire Bat,Blood Bat
        team_name=evil
        user_team_name=_"Evil"
        ai_special=guardian
        gold=0
        village_gold=0
        income=-2
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_TRICKERY}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        type=Great Troll
        side=8
        generate_name=yes
        random_traits=yes
        id=troll_leader
        canrecruit=yes
        recruit=Troll Whelp,Troll,Troll Rocklobber,Troll Shaman,Troll Hero
        team_name=evil
        user_team_name=_"Evil"
        ai_special=guardian
        village_gold=0
        gold=0
        income=-2
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_ANGER}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        no_leader=yes
        side=9
        team_name=evil
        user_team_name=_"Evil"
        {GUARDIAN_UNIT 9 "Chocobone" 73 30}
        {GUARDIAN_UNIT 9 "Revenant" 68 33}
        {GUARDIAN_UNIT 9 "Bone Shooter" 63 27}
        {GUARDIAN_UNIT 9 "Deathblade" 52 29}
        {GUARDIAN_UNIT 9 "Skeleton" 65 44}
        {GUARDIAN_UNIT 9 "Skeleton Archer" 73 48}
        {GUARDIAN_UNIT 9 "Spectre" 64 50}
        {GUARDIAN_UNIT 9 "Deathblade" 51 49}
        {GUARDIAN_UNIT 9 "Shadow" 44 51}
        {GUARDIAN_UNIT 9 "Shadow" 38 45}
        {GUARDIAN_UNIT 9 "Bone Shooter" 30 44}
        {GUARDIAN_UNIT 9 "Banebow" 21 48}
        {GUARDIAN_UNIT 9 "Soulless" 26 41}
        {GUARDIAN_UNIT 9 "Wraith" 25 33}
        {GUARDIAN_UNIT 9 "Draug" 27 48}
        {GUARDIAN_UNIT 9 "Deathblade" 25 24}
        {GUARDIAN_UNIT 9 "Chocobone" 28 19}
        {GUARDIAN_UNIT 9 "Ghost" 26 14}
        {GUARDIAN_UNIT 9 "Lich" 36 13}
        {GUARDIAN_UNIT 9 "Deathblade" 33 9}
        {GUARDIAN_UNIT 9 "Bone Shooter" 36 5}
        {GUARDIAN_UNIT 9 "Revenant" 42 8}
        {GUARDIAN_UNIT 9 "Nightgaunt" 41 3}
        {GUARDIAN_UNIT 9 "Monstrosity" 49 5}
        {GUARDIAN_UNIT 9 "Deathblade" 50 1}
        {GUARDIAN_UNIT 9 "Revenant" 10 47}
        {GUARDIAN_UNIT 9 "Skeleton Archer" 9 45}
        {GUARDIAN_UNIT 9 "Banebow" 10 39}
        {GUARDIAN_UNIT 9 "Chocobone" 3 40}
        {GUARDIAN_UNIT 9 "Revenant" 5 36}
        {GUARDIAN_UNIT 9 "Bone Shooter" 10 30}
        {GUARDIAN_UNIT 9 "Spectre" 7 26}
        {GUARDIAN_UNIT 9 "Deathblade" 14 19}
        {GUARDIAN_UNIT 9 "Deathblade" 5 19}
        {GUARDIAN_UNIT 9 "Deathblade" 5 13}
        {GUARDIAN_UNIT 9 "Deathblade" 10 10}
        {GUARDIAN_UNIT 9 "Chocobone" 7 6}
        {GUARDIAN_UNIT 9 "Revenant" 9 10}
        {GUARDIAN_UNIT 9 "Bone Shooter" 12 14}
        {GUARDIAN_UNIT 9 "Deathblade" 5 16}
        {GUARDIAN_UNIT 9 "Chocobone" 15 19}
        {GUARDIAN_UNIT 9 "Draug" 11 20}
        {GUARDIAN_UNIT 9 "Banebow" 11 12}
        {GUARDIAN_UNIT 9 "Lich" 5 7}
#ifdef NORMAL
        {GUARDIAN_UNIT 9 "Lich" 40 4}
        {GUARDIAN_UNIT 9 "Death Knight" 33 44}
        {GUARDIAN_UNIT 9 "Draug" 55 31}
        {GUARDIAN_UNIT 9 "Dread Bat" 68 33}
        {GUARDIAN_UNIT 9 "Vampire Bat" 32 23}
        {GUARDIAN_UNIT 9 "Blood Bat" 30 13}
        {GUARDIAN_UNIT 9 "Blood Bat" 40 1}
#endif
#ifdef HARD
        {GUARDIAN_UNIT 9 "Lich" 40 4}
        {GUARDIAN_UNIT 9 "Death Knight" 33 44}
        {GUARDIAN_UNIT 9 "Draug" 55 31}
        {GUARDIAN_UNIT 9 "Dread Bat" 68 33}
        {GUARDIAN_UNIT 9 "Vampire Bat" 32 23}
        {GUARDIAN_UNIT 9 "Blood Bat" 30 13}
        {GUARDIAN_UNIT 9 "Blood Bat" 40 1}
        {GUARDIAN_UNIT 9 "Lich" 29 17}
        {GUARDIAN_UNIT 9 "Death Knight" 24 29}
        {GUARDIAN_UNIT 9 "Banebow" 12 12}
        {GUARDIAN_UNIT 9 "Dread Bat" 9 25}
        {GUARDIAN_UNIT 9 "Vampire Bat" 4 4}
        {GUARDIAN_UNIT 9 "Monstrosity" 48 2}
        {GUARDIAN_UNIT 9 "Blood Bat" 69 49}
#endif
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Get to the western corner of the caves"
                condition=win
            [/objective]
            [objective]
                description=_ "End of a hero"
                condition=lose
            [/objective]
            note={NO_EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_100}
        [/objectives]
    [/event]
    {RECALL_HEROES}
    [event]
        name=turn 2
        {RANDOM_ITEM 20 53}
        {RANDOM_ITEM 87 55}
        {RANDOM_ITEM 47 47}
        {RANDOM_ITEM 87 55}
    [/event]
    [event]
        name=start
        [message]
            speaker=Lethalia
            message= _ "I can feel that we should go west from here. But who knows what awaits us there?"
        [/message]
        [message]
            speaker=Argan
            message= _ "Our steps may wake up something terrible. But also we do not want to be blocked somewhere from both sides, so we had better move slowly and kill everything we wake."
        [/message]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "Note: If you don't divide the party, it will be easy but lengthy, if you do, it will be more challenging."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=46-76,48-71
            side=1
        [/filter]
        [message]
            speaker=armageddon_drake
            message= _ "Someone decided to attack our homes... Kill them, children of dragons."
        [/message]
        [message]
            speaker=unit
            message= _ "But we did not want to disturb you. We are just lost..."
        [/message]
        [message]
            speaker=armageddon_drake
            message= _ "Stop lying. You came here to raid."
        [/message]
        [message]
            speaker=unit
            message= _ "But we are not lying..."
        [/message]
        [modify_side]
            side=2
            team_name=drakes
            user_team_name=_"Drakes"
            {GOLD 400 530 660}
            income=20
        [/modify_side]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=46-63,29-47
            side=1
        [/filter]
        [message]
            speaker=unit
            message= _ "I have a feeling I awakened some dark evil here."
        [/message]
        [modify_side]
            side=3
            team_name=Lich3
            user_team_name=_"Undead"
            {GOLD 400 530 660}
            income=15
        [/modify_side]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=26-40,56-70
            side=1
        [/filter]
        [message]
            speaker=fire_dragon
            message= _ "You dare to enter my den? My servants will kill you all."
        [/message]
        [message]
            speaker=unit
            message= _ "Sorry, we are going back. We did not want to disturb you."
        [/message]
        [message]
            speaker=fire_dragon
            message= _ "I am not interested in that. Die! You disturbed me, so feel my fury!"
        [/message]
        [modify_side]
            side=4
            team_name=dragon
            user_team_name=_"Dragon"
            {GOLD 300 330 360}
            income=20
        [/modify_side]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=4-25,51-66
            side=1
        [/filter]
        [message]
            speaker=unit
            message= _ "There are some goblins!"
        [/message]
        [modify_side]
            side=5
            team_name=goblins
            user_team_name=_"Goblins"
            {GOLD 300 330 360}
            income=10
        [/modify_side]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=28-58,23-39
            side=1
        [/filter]
        [message]
            speaker=unit
            message= _ "I have awakened some ancient evil."
        [/message]
        [modify_side]
            side=6
            team_name=Lich6
            user_team_name=_"Undead"
            {GOLD 400 530 660}
            income=20
        [/modify_side]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=50-78,1-23
            side=1
        [/filter]
        [message]
            speaker=unit
            message= _ "I can hear bats flapping with wings. Many bats."
        [/message]
        [modify_side]
            side=7
            team_name=bats
            user_team_name=_"Bats"
            {GOLD 200 230 260}
            income=10
        [/modify_side]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=10-36,1-9
            side=1
        [/filter]
        [message]
            speaker=troll_leader
            message= _ "Get away from our cave!"
        [/message]
        [message]
            speaker=unit
            message= _ "Sorry to disturb you, we didn't know about trolls here."
        [/message]
        [message]
            speaker=troll_leader
            message= _ "No! You wanted to steal like goblins before! Kill them!"
        [/message]
        [modify_side]
            side=8
            team_name=trolls
            user_team_name=_"Trolls"
            {GOLD 300 330 360}
            income=20
        [/modify_side]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=1-20,4-23
            side=1
        [/filter]
        [message]
            speaker=unit
            message= _ "There is a deep lake here."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Careful, undead may be hiding in its depths."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=90-92,42-46
            side=1
        [/filter]
        [message]
            speaker=unit
            message= _ "I do not think it is the correct path. We had to go west, not east."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Careful, undead may be hiding somewhere around here."
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=fire_dragon
        [/filter]
        [message]
            speaker=unit
            message= _ "Curse you."
        [/message]
        {PLACE_ITEM 602 $x1 $y1}
    [/event]
    [event]
        name=moveto
        [filter]
            x=45
            y=38
            side=1
        [/filter]
        [sound]
            name=gold.ogg
        [/sound]
        [message]
            speaker=unit
            message= _ "There are three hundred pieces of gold!"
        [/message]
        [gold]
            side=1
            amount=300
        [/gold]
        [remove_item]
            x,y=$x1,$y1
        [/remove_item]
    [/event]
    [event]
        name=moveto
        [filter]
            x=19
            y=2
            side=1
        [/filter]
        [sound]
            name=gold.ogg
        [/sound]
        [message]
            speaker=unit
            message= _ "There are four hundred pieces of gold!"
        [/message]
        [gold]
            side=1
            amount=400
        [/gold]
        [remove_item]
            x,y=$x1,$y1
        [/remove_item]
    [/event]

    [event]
        name=moveto
        [filter]
            x,y=1-4,35-40
            side=1
        [/filter]
        [message]
            speaker=Efraim
            message= _ "I hope we do not get lost again."
        [/message]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]

        {CLEAR_VARIABLE dragonX}
        {CLEAR_VARIABLE dragonY}
    [/event]
    {BEELZEBUB_SPAWN_POINT 10 4 32 44 27-37,39-49}
    {GLOBAL_EVENTS}
    {CAMPAIGN3_DEATH_MESSAGES}
    {DROPS 1 1 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear,mace,mace) yes 2,3,4,5,6,7,8,9}
    experience_modifier=125
[/scenario]
