#textdomain wesnoth-loti
[scenario]
    id="09_Ambush"
    name= _ "Ambush"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/09_Small_Cave.map}"
    next_scenario=10_Gehenna
    victory_when_enemies_defeated=no
    {TURNS 10 8 7}
    {SCENARIO_MUSIC the_underground.ogg}
    {EXTRA_SCENARIO_MUSIC battle.ogg}
    {EXTRA_SCENARIO_MUSIC weight_of_revenge.ogg}
    {DEEP_UNDERGROUND}
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Elvish Fighter LotI,Elvish Archer LotI,Elvish Scout LotI,Mage LotI
        gold=0
        team_name=good
        user_team_name=_"Good"
        village_gold=0
        shroud=yes
    [/side]

    [side]
        no_leader=yes
        side=2
        team_name=evil
        user_team_name=_"Evil"
        {GENERIC_UNIT 2 "Assassin" 16 3}
        {GENERIC_UNIT 2 "Necromancer" 25 3}
        {GENERIC_UNIT 2 "Rogue" 30 3}
        {GENERIC_UNIT 2 "Assassin" 9 7}
        {GENERIC_UNIT 2 "Necromancer" 11 10}
        {GENERIC_UNIT 2 "Dark Sorcerer" 14 11}
        {GENERIC_UNIT 2 "Assassin" 19 12}
        {GENERIC_UNIT 2 "Necromancer" 23 13}
        {GENERIC_UNIT 2 "Rogue" 27 9}
        {GENERIC_UNIT 2 "Lich" 30 6}
        {GENERIC_UNIT 2 "Necromancer" 29 5}
        {GENERIC_UNIT 2 "Fugitive" 22 4}
        {GENERIC_UNIT 2 "Assassin" 21 5}
        {GENERIC_UNIT 2 "Necromancer" 17 4}
        {GENERIC_UNIT 2 "Rogue" 14 5}
        {GENERIC_UNIT 2 "Assassin" 18 14}
        {GENERIC_UNIT 2 "Necromancer" 27 11}
        {GENERIC_UNIT 2 "Rogue" 25 5}
        {GENERIC_UNIT 2 "Assassin" 15 14}
        {GENERIC_UNIT 2 "Necromancer" 28 6}
        {GENERIC_UNIT 2 "Dark Sorcerer" 10 5}
#ifdef NORMAL
        {GENERIC_UNIT 2 "Assassin" 11 8}
        {GENERIC_UNIT 2 "Necromancer" 26 9}
        {GENERIC_UNIT 2 "Fugitive" 19 4}
#endif
#ifdef HARD
        {GENERIC_UNIT 2 "Assassin" 11 8}
        {GENERIC_UNIT 2 "Necromancer" 26 9}
        {GENERIC_UNIT 2 "Fugitive" 19 4}
        {GENERIC_UNIT 2 "Assassin" 11 5}
        {GENERIC_UNIT 2 "Necromancer" 25 11}
        {GENERIC_UNIT 2 "Fugitive" 16 13}
#endif
    [/side]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Kill all attackers"
                condition=win
            [/objective]
            [objective]
                description=_ "End of a hero"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_100}
        [/objectives]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "They continued walking in the darkness with no idea where they were going. Lethalia could use her magic to feel where the exit was, but no one trusted it. Even she did not..."
        [/message]
    [/event]
    {RECALL_HEROES}

    [event]
        name=start
        [message]
            speaker=Stormrider
            message= _ "Damn! They ambushed us!"
        [/message]
        [message]
            speaker=Argan
            message= _ "This is bad. Other humans in dark caves. I am afraid something is happening. Like Lilith's corruption."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "No time for speculation. We have to fight!"
        [/message]
    [/event]
    [event]
        name=die
        first_time_only=no
        [if]
            [have_unit]
                side=2
            [/have_unit]
            [then]
            [/then]
            [else]
                [message]
                    speaker=Efraim
                    message= _ "We survived the ambush. We should find their hideout and find out what are they trying to do."
                [/message]
                [endlevel]
                    result=victory
                    bonus=no
                    {NEW_GOLD_CARRYOVER 100}
                [/endlevel]
            [/else]
        [/if]
    [/event]

    [event]
        name=time over
        [message]
            speaker=Lethalia
            message= _ "There are another foes approaching from both directions. We are going to lose."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {GLOBAL_EVENTS}
    {CAMPAIGN3_DEATH_MESSAGES}
    {DROPS 1 2 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear,mace,mace) no 2}
    experience_modifier=125
[/scenario]
