#textdomain wesnoth-loti
[scenario]
    id="10_Gehenna"
    name= _ "Gehenna"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/10_Gehenna.map}"
    next_scenario="11_Achilles'_Revenge"
    victory_when_enemies_defeated=no
    turns=50
    {SCENARIO_MUSIC the_city_falls.ogg}
    {EXTRA_SCENARIO_MUSIC battle.ogg}
    {EXTRA_SCENARIO_MUSIC casualties_of_war.ogg}
    {DEEP_UNDERGROUND}
#define TOWN_GUARD1 X Y
    [unit]
        type=Necromancer
        generate_name=yes
        random_gender=yes
        random_traits=yes
        ai_special=guardian
        x={X}
        y={Y}
        side=2
        [modifications]
            {TRAIT_LOYAL}
            [object]
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        flat={UNREACHABLE}
                        cave={UNREACHABLE}
                    [/movement_costs]
                [/effect]
            [/object]
        [/modifications]
    [/unit]
#enddef
#define TOWN_GUARD2 X Y
    [unit]
        type=Assassin
        generate_name=yes
        random_gender=yes
        random_traits=yes
        ai_special=guardian
        x={X}
        y={Y}
        side=2
        [modifications]
            {TRAIT_LOYAL}
            [object]
                [effect]
                    apply_to=movement_costs
                    replace="true"
                    [movement_costs]
                        cave={UNREACHABLE}
                    [/movement_costs]
                [/effect]
            [/object]
        [/modifications]
    [/unit]
#enddef

    {PLACE_IMAGE items/chest.png 22 2}
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Elvish Fighter LotI,Elvish Archer LotI,Elvish Scout LotI,Mage LotI
        gold=100
        team_name=good
        user_team_name=_"Good"
        village_gold=0
        shroud=yes
        income=-2
    [/side]

    [side]
        type=Shadowalker
        id=Achilles
        name="Achilles"
        random_traits=yes
        canrecruit=yes
        {IS_HERO}
        [modifications]
            [object]
                [effect]
                    apply_to=attack
                    increase_damage=50%
                [/effect]
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_LEADERSHIP_LEVEL_5}
                        [damage]
                            id=achilles absorb
                            name= _ "absorbs (1)"
                            description= _ "Absorb: When this unit is hit, it takes its regular damage, but heals 1 HP after it."
                        [/damage]
                    [/abilities]
                [/effect]
                [effect]
                    apply_to=resistance
                    replace=true
                    [resistance]
                        arcane=0
                        blade=0
                        impact=0
                        pierce=170
                        cold=0
                        fire=0
                    [/resistance]
                [/effect]
                [effect]
                    apply_to=hitpoints
                    increase_total=-20
                    increase=-20
                [/effect]
                [effect]
                    apply_to=max_experience
                    increase=100
                [/effect]
            [/object]
        [/modifications]
        recruit=Thief,Rogue,Footpad,Outlaw,Dark Adept,Dark Sorcerer,Vampire Bat,Blood Bat
        gold=300
        village_gold=1
        {INCOME 5 20 35}
        side=2
        team_name=evil
        user_team_name=_"Evil"
        {GENERIC_UNIT 2 "Assassin" 49 18}
        {GENERIC_UNIT 2 "Necromancer" 46 20}
        {GENERIC_UNIT 2 "Rogue" 53 21}
        {GENERIC_UNIT 2 "Assassin" 53 23}
        {GENERIC_UNIT 2 "Necromancer" 50 26}
        {GENERIC_UNIT 2 "Dark Sorcerer" 46 25}
        {GENERIC_UNIT 2 "Assassin" 45 22}
        {GENERIC_UNIT 2 "Necromancer" 42 18}
        {GENERIC_UNIT 2 "Rogue" 40 15}
        {GENERIC_UNIT 2 "Assassin" 35 18}
        {GENERIC_UNIT 2 "Necromancer" 39 21}
        {GENERIC_UNIT 2 "Fugitive" 35 22}
        {GENERIC_UNIT 2 "Assassin" 34 25}
        {GENERIC_UNIT 2 "Necromancer" 41 26}
        {GENERIC_UNIT 2 "Rogue" 45 26}
        {GENERIC_UNIT 2 "Assassin" 49 23}
        {GENERIC_UNIT 2 "Necromancer" 47 21}
        {GENERIC_UNIT 2 "Rogue" 42 20}
        {GENERIC_UNIT 2 "Assassin" 34 21}
        {GENERIC_UNIT 2 "Necromancer" 30 22}
        {GENERIC_UNIT 2 "Dark Sorcerer" 31 18}
#ifdef NORMAL
        {GENERIC_UNIT 2 "Assassin" 27 12}
        {GENERIC_UNIT 2 "Necromancer" 27 20}
        {GENERIC_UNIT 2 "Fugitive" 29 25}
#endif
#ifdef HARD
        {GENERIC_UNIT 2 "Assassin" 27 12}
        {GENERIC_UNIT 2 "Necromancer" 27 20}
        {GENERIC_UNIT 2 "Fugitive" 29 25}
        {GENERIC_UNIT 2 "Assassin" 21 26}
        {GENERIC_UNIT 2 "Necromancer" 23 20}
        {GENERIC_UNIT 2 "Fugitive" 21 15}
#endif
        {TOWN_GUARD1 16 5}
        {TOWN_GUARD2 18 8}
        {TOWN_GUARD1 18 9}
        {TOWN_GUARD2 19 10}
        {TOWN_GUARD1 19 11}
        {TOWN_GUARD2 21 12}
        {TOWN_GUARD1 22 12}
        {TOWN_GUARD2 23 13}
        {TOWN_GUARD1 24 14}
        {TOWN_GUARD2 24 15}
        {TOWN_GUARD1 25 16}
        {TOWN_GUARD2 25 18}
        {TOWN_GUARD1 25 19}
        {TOWN_GUARD2 25 21}
        {TOWN_GUARD1 25 22}
        {TOWN_GUARD2 24 23}
        {TOWN_GUARD1 24 24}
        {TOWN_GUARD2 23 26}
        {TOWN_GUARD1 22 26}
        {TOWN_GUARD2 22 27}
        {TOWN_GUARD1 22 28}
        {TOWN_GUARD2 1 11}
        {TOWN_GUARD1 2 11}
        {TOWN_GUARD2 3 11}
        {TOWN_GUARD1 7 11}
        {TOWN_GUARD2 10 13}
        {TOWN_GUARD1 11 14}
        {TOWN_GUARD2 12 16}
        {TOWN_GUARD1 11 20}
        {TOWN_GUARD2 11 22}
        {TOWN_GUARD1 8 23}
        {TOWN_GUARD2 7 24}
        {TOWN_GUARD1 4 24}
        {TOWN_GUARD2 3 24}
        {TOWN_GUARD1 1 24}
        {TOWN_GUARD2 1 21}
        {TOWN_GUARD1 2 20}
        {TOWN_GUARD2 3 20}
        {TOWN_GUARD1 4 18}
        {TOWN_GUARD2 4 16}
        {TOWN_GUARD1 4 15}
        {TOWN_GUARD2 2 14}
    [/side]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Kill Achilles"
                condition=win
            [/objective]
            [objective]
                description=_ "End of a hero"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "After surviving the ambush, they continued west and found the outer fortifications of some large town. The human guards attacked without question or warning, so they defeated them and took over the fortification. Now the reserves are approaching..."
        [/message]
    [/event]
    {RECALL_HEROES}
    [event]
        name=turn 2
        {RANDOM_ITEM 21 3}
        {RANDOM_ITEM 22 3}
        {RANDOM_ITEM 23 3}
        {RANDOM_ITEM 21 2}
    [/event]
    [event]
        name=start
        [message]
            speaker=Efraim
            message= _ "They are getting closer and closer. They know about us and know the area. And they know how to fight in the dark."
        [/message]
        [message]
            speaker=Argan
            message= _ "But we are heroes who can easily challenge three of them at once. And some of our soldiers are already great heroes as well."
        [/message]
        [message]
            speaker=Delly
            message= _ "Yes, fight as well as you can."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "The surface is near. And now I am sure that we get home that way."
        [/message]
        [message]
            speaker=Stormrider
            message= _ "I just received a word from my god. They are attacking us because they know that we are trying to get to the surface through their town, Gehenna, named after the cave it is in, where they are trying to reopen the gate! It seems that they already tried to do it before but their first experiment got out of control. Someone is trying to conquer the world again! We must defeat their leader, Achilles, who is both a warrior and a mage and has made a potion that made him well nigh invincible. But hopefully we will find a way to kill him."
        [/message]
        #He is immune to everything but piercing attacks. Therefore, arrows and poison will work on him (or brute force, of course).
    [/event]

    [event]
        name=moveto
        [filter]
            x=22
            y=2
            side=1
        [/filter]
        [sound]
            name=gold.ogg
        [/sound]
        [message]
            speaker=unit
            message= _ "He he he! Their treasury!"
        [/message]
        [gold]
            side=1
            amount=1000
        [/gold]
        [remove_item]
            x,y=22,2
        [/remove_item]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Achilles
        [/filter]
        [message]
            speaker=Achilles
            message= _ "I lost, but the world will suffer my retribution!"
            #Yeah, the retribution will be terrible. Will lead to a permanent change of the world to worse.
        [/message]
        [kill]
            id=Achilles
            animate=no
            fire_event=no
        [/kill]
        [message]
            speaker=second_unit
            message= _ "He ran away! We must catch him before he does something terrible."
        [/message]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]

    [event]
        name=attacker hits
        first_time_only=no

        [filter_second]
            id=Achilles
        [/filter_second]
        [heal_unit]
            animate=no
            [filter]
                x,y=$x2,$y2
            [/filter]
            amount=1
            restore_statuses=no
        [/heal_unit]
    [/event]
    [event]
        name=defender hits
        first_time_only=no

        [filter]
            id=Achilles
        [/filter]
        [heal_unit]
            animate=no
            [filter]
                x,y=$x1,$y1
            [/filter]
            amount=1
            restore_statuses=no
        [/heal_unit]
    [/event]
    {BEELZEBUB_SPAWN_POINT 3 4 10 9 5-15,14-24}
    {GLOBAL_EVENTS}
    {CAMPAIGN3_DEATH_MESSAGES}
    {DROPS 1 1 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear,mace,mace) no 2}
    experience_modifier=125
[/scenario]
