#textdomain wesnoth-loti
[scenario]
    id=12_Bitter_Swamp
    name= _ "Bitter Swamp"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/12_Bitter_Swamp.map}"
    {SCENARIO_MUSIC "wanderer.ogg"}
    {EXTRA_SCENARIO_MUSIC "traveling_minstrels.ogg"}
    {TURNS 30 25 20}
    victory_when_enemies_defeated=yes
    {DEFAULT_SCHEDULE}

    next_scenario=13_First_Confrontation
    [story]
        [part]
            background=maps/wesnoth.png
            show_title=yes
            {NEW_JOURNEY 999 622}
            {NEW_JOURNEY 986 612}
            {NEW_BATTLE 978 592}
        [/part]
    [/story]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "End of a great hero"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
    [/event]

    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=
        gold=0
        income=0
        team_name=good
        user_team_name=_"Good"
        village_gold=0
        fog=yes
    [/side]
    {RECALL_HEROES}
    [side]
        type=Saurian Flanker
        name= _ "Kalma"
        generate_name=yes
        canrecruit=yes
        recruit=Saurian Skirmisher,Saurian Augur,Saurian Ambusher,Saurian Soothsayer,Saurian Oracle
        side=2
        {GOLD 300 440 500}
        {INCOME 35 50 75}
        team_name=evil
        user_team_name=_"Evil"
        village_gold=5
        [ai]
            {MODIFY_AI_ADD_ASPECT 2 attacks (
                [facet]
                    name=testing_ai_default::aspect_attacks
                    id=dont_attack_trader
                    invalidate_on_gamestate_change=yes
                    [filter_enemy]
                        [not]
                            id=trader
                        [/not]
                    [/filter_enemy]
                [/facet]
            )}
        [/ai]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_INCINERATE}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        type=Ancient Lich
        generate_name=yes
        canrecruit=yes
        recruit=Walking Corpse,Soulless,Skeleton Archer,Bone Shooter,Skeleton,Deathblade,Revenant,Ghost,Wraith,Shadow,Ghoul,Necrophage
        side=3
        {GOLD 300 500 660}
        {INCOME 35 40 45}
        team_name=evil
        user_team_name=_"Evil"
        {GENERIC_UNIT 3 "Fog" 23 11}
        {GENERIC_UNIT 3 "Fog" 9 21}
        village_gold=5
        [ai]
            {MODIFY_AI_ADD_ASPECT 3 attacks (
                [facet]
                    name=testing_ai_default::aspect_attacks
                    id=dont_attack_trader
                    invalidate_on_gamestate_change=yes
                    [filter_enemy]
                        [not]
                            id=trader
                        [/not]
                    [/filter_enemy]
                [/facet]
            )}
        [/ai]
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=ranged
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_DISTANT_ATTACK}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        no_leader=yes
        side=4
        team_name="good"
        user_team_name=_"Good"
        ai_algorithm=idle_ai
        [unit]
            type=Merchant
            x,y=23,5
            id=trader
            generate_name=yes
            ai_special=guardian
            [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    [effect]
                        apply_to=movement
                        set=0
                    [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
            [/modifications]
        [/unit]
    [/side]
    [event]
        name=start
        {RANDOM_ITEM 3 28}
        [message]
            speaker=Delly
            message= _ "No! I hate swamps."
        [/message]
        [message]
            speaker=Efraim
            message= _ "But this is the shortest way to Wesnoth."
        [/message]
        [message]
            speaker=Argan
            message= _ "There is a road here. Maybe there is some civilisation."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "In any case, there are bits of bones between the stones. The road was made by skeletons to lead travellers right into their filthy hands."
        [/message]
    [/event]

    [event]
        name=enemies defeated
        [message]
            speaker=unit
            message= _ "Ha! We won! We may proceed. This swamp is becoming a safer place."
        [/message]
        {CLEAR_VARIABLE i1}
        {CLEAR_VARIABLE i2}
        {CLEAR_VARIABLE i3}
        {CLEAR_VARIABLE i4}
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Stormrider
            message= _ "The dragons are destroying Wesnoth! We will not be able to save them."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            [filter_adjacent]
                x,y=23,5
            [/filter_adjacent]
        [/filter]
        [store_gold]
            side=1
            variable=gold
        [/store_gold]
        [message]
            speaker=trader
            message= _ "Hello, I am a trader. I sell items. Look at my stock and tell me what would you like to look at more closely."
            {SELL_GEMS}
            {SHOP_ITEM _"Sword of Barys" 150 55 items/sword.png i1}
            {SHOP_ITEM _"Tome of Liches" 100 13 items/book6.png i2}
            {SHOP_ITEM _"Poisonous Bow" 80 31 items/bow.png i3}
            {SHOP_ITEM _"Staff of Crelanu" 200 30 items/staff.png i4}
            [option]
                message=_"Nothing"
                [command]
                [/command]
            [/option]
        [/message]
        {CLEAR_VARIABLE gold}
    [/event]
    {BEELZEBUB_SPAWN_POINT 5 4 15 11 10-20,6-16}
    {FORCE_CHANCE_TO_HIT side=2,3 id=trader 0 ()}
    #{NEUTRAL_SIDE 4}		#Clashes with victory_when_enemies_defeated=yes for unobvious reasons
    {GLOBAL_EVENTS}
    {CAMPAIGN3_DEATH_MESSAGES}
    {DROPS 1 2 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear,mace,mace) yes 2,3}
    experience_modifier=125
[/scenario]
