#textdomain wesnoth-loti
[scenario]
    id=13_First_Confrontation
    name= _ "First Confrontation"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/13_Road_to_Wesnoth.map}"
    {GLOBAL_EVENTS}
    {SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC "battle.ogg"}
    {TURNS 30 27 25}
    victory_when_enemies_defeated=yes

    {DEFAULT_SCHEDULE}

    next_scenario=14_Chasing_Dragons
    [story]
        [part]
            background=maps/wesnoth.png
            show_title=yes
            {OLD_JOURNEY 999 622}
            {OLD_JOURNEY 986 612}
            {OLD_BATTLE 978 592}
            {NEW_JOURNEY 969 558}
            {NEW_JOURNEY 961 535}
            {NEW_BATTLE 949 508}
        [/part]
        [part]
            story= _ "The dragon's prophecy seemed apocalyptic, but Lethalia found a way to prevent it from being fulfilled..."
            background="maps/wesnoth.png"
            show_title=no
        [/part]
        [part]
            story= _ "Lethalia:
If we defeat the dragons, the Wesnothian Empire will have a golden era, whose mages will erect a second sun. But we already know that a second sun will come to be in the sky. It will banish the night and evil, but completely modify the weather and transform the country to withered desert. But as the rise of two suns may be only in an impossibly distant future, the golden era of Wesnoth may be also impossibly distant. If we rename Wesnoth, the time when some country gets a name Wesnoth, may become pretty distant. Wesnoth comes from Northwest, and it has no logic nowadays. Midland is a much better name. Such a decision requires a royal decree. Now, who better to ask for this petty favour than our king's overambitious consort? Young Asheviere is already out to seize power, we shall help her to mount the throne, and one hand washes the other. Tyrants like destroying the past."
            background="maps/wesnoth.png"
            show_title=no
        [/part]
    [/story]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the enemy leader and the dragon"
                condition=win
            [/objective]
            [objective]
                description= _ "End of a great hero"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
#ifdef HARD
    # If player leaves army behind for safety, at least make hiding in the corner less safe        
    [terrain]
        terrain=Khs
        x,y=4,21
    [/terrain]
    [terrain]
        terrain=Chs
        x= 3, 3, 4, 5, 5
        y=21,22,20,21,22
    [/terrain]
    [terrain]
        terrain=Ss
        x= 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 6
        y=20,21,22,18,19,20,21,22,18,20,18,19,19,20,20,21,22
    [/terrain]
    [terrain]
        terrain=Rd
        x,y=7,20
    [/terrain]
    [event]
        name=side 1 turn 3  # Keep this from being lost in the initial dialog, and give player a break if they move immediately
        {POISON_SWAMP Efraim Lethalia}
    [/event]
#endif
    [/event]
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        ranrecruit=yes
        side=1
        controller=human
        recruit=
        gold=0
        income=0
        team_name=good
        user_team_name=_"Good"
        village_gold=0
        fog=no
    [/side]
    {RECALL_HEROES}
    [side]
        type=Armageddon Drake
        canrecruit=yes
        generate_name=yes
        random_traits=yes
#ifdef HARD
        recruit=Drake Burner,Drake Fighter,Drake Clasher,Fire Drake,Drake Flare,Drake Warrior,Drake Thrasher,Drake Arbiter,Sky Drake,Sky Drake
#else
        recruit=Drake Burner,Drake Fighter,Drake Clasher,Drake Glider,Fire Drake,Drake Flare,Drake Warrior,Drake Thrasher,Drake Arbiter,Sky Drake
#endif
        side=2
        {GOLD 1500 2000 2500}
        {INCOME 60 70 80}
        team_name=evil
        user_team_name=_"Evil"
        village_gold=7
        [modifications]
            [advancement]
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_SHIELD 40}
                    [/abilities]
                [/effect]
            [/advancement]
        [/modifications]
        [ai]
            aggression=0.9
        [/ai]
#ifdef HARD
    # some units to attack our non-heroes in case player decides to leave army behind for safety
    {GENERIC_UNIT 2 "Drake Glider" 2 8}
    {GENERIC_UNIT 2 "Drake Glider" 21 11}
    {GENERIC_UNIT 2 "Drake Glider" 6 7}
    {GENERIC_UNIT 2 "Drake Glider" 14 12}
    {GENERIC_UNIT 2 "Drake Burner" 19 15}
    {GENERIC_UNIT 2 "Drake Burner" 21 14}
    {GENERIC_UNIT 2 "Drake Burner" 4 10}
    {GENERIC_UNIT 2 "Sky Drake" 1 11}
    {GENERIC_UNIT 2 "Sky Drake" 8 11}
    {GENERIC_UNIT 2 "Sky Drake" 19 13}
    # and some to get in front of E/L to slow them down so the AI can recruit
    {GENERIC_UNIT 2 "Sky Drake" 2 15}
    {GENERIC_UNIT 2 "Drake Arbiter" 3 18}
    {GENERIC_UNIT 2 "Drake Warden" 6 18}
    {GENERIC_UNIT 2 "Drake Warrior" 9 20}
    {GENERIC_UNIT 2 "Drake Arbiter" 20 10}
    {GENERIC_UNIT 2 "Drake Flare" 21 5}
    {GENERIC_UNIT 2 "Drake Warrior" 20 3}
    {GENERIC_UNIT 2 "Drake Thrasher" 17 4}
    {GENERIC_UNIT 2 "Drake Clasher" 9 9}
    {GENERIC_UNIT 2 "Drake Arbiter" 17 10}
    {GENERIC_UNIT 2 "Drake Flare" 11 10}
    {GENERIC_UNIT 2 "Drake Warrior" 13 11}
    {GENERIC_UNIT 2 "Drake Thrasher" 15 4}
    {GENERIC_UNIT 2 "Drake Arbiter" 14 6}
    {GENERIC_UNIT 2 "Drake Arbiter" 2 8}
    {GENERIC_UNIT 2 "Drake Flare" 16 8}
    {GENERIC_UNIT 2 "Drake Flare" 8 8}
    {GENERIC_UNIT 2 "Drake Warrior" 19 8}
    {GENERIC_UNIT 2 "Drake Thrasher" 18 13}
    {GENERIC_UNIT 2 "Drake Clasher" 15 13}
#endif
    [/side]
    [side]
        type=Fire Dragon loti
        canrecruit=yes
        id=dragon
        x,y=20,2
        recruit=
        side=3
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=0.9
            [avoid]
                x,y=21,1
            [/avoid]
        [/ai]
#ifdef NORMAL
        [modifications]
            [advancement]
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_WEAK_REFLECT}
                    [/abilities]
                [/effect]
            [/advancement]
        [/modifications]
#endif
#ifdef HARD
        [modifications]
            [advancement]
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_REFLECT}
                    [/abilities]
                [/effect]
            [/advancement]
        [/modifications]
#endif
    [/side]

    [event]
        name=start
        [message]
            speaker=Efraim
            message= _ "So we must protect Wesnoth from dragons and let the Empire of Wesnoth get under command of a tyrant."
        [/message]
        [message]
            speaker=Delly
            message= _ "Funny."
        [/message]
        [message]
            speaker=Stormrider
            message= _ "Look! There is a dragon preparing to send out an army of drakes."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Maybe he was sent to defeat us. But they underestimated us. A mere dragon cannot stop us!"
        [/message]
        # make some units ignore E/L and go after others 
        [micro_ai]
            side=2
            ai_type=assassin
            action=add
            ca_score=110000
            [filter]
                type=Sky Drake,Drake Burner
            [/filter]
            [filter_second]
                canrecruit=no
            [/filter_second]
        [/micro_ai]
    [/event]

    [event]
        name=enemies defeated
        [message]
            speaker=Stormrider
            message= _ "Well, we stopped this minor annoyance and we are going to stop the dragons!"
        [/message]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Stormrider
            message= _ "The dragons are destroying Wesnoth! We will not save the folks."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 4 4 15 7 10-20,2-12}
    {CAMPAIGN3_DEATH_MESSAGES}
    {DROPS 1 2 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear,mace,mace) no 2,3}
    experience_modifier=125
[/scenario]
