#textdomain wesnoth-loti
[scenario]
    id=13_First_Confrontation
    name= _ "First Confrontation"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/13_Road_to_Wesnoth.map}"
    {SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC "battle.ogg"}
    {TURNS 30 27 25}
    victory_when_enemies_defeated=yes

    {DEFAULT_SCHEDULE}

    next_scenario=14_Chasing_Dragons
    [story]
        [part]
            background=maps/wesnoth.png
            show_title=yes
            {OLD_JOURNEY 999 622}
            {OLD_JOURNEY 986 612}
            {OLD_BATTLE 978 592}
            {NEW_JOURNEY 969 558}
            {NEW_JOURNEY 961 535}
            {NEW_BATTLE 949 508}
        [/part]
        [part]
            story= _ "The dragon's prophecy seemed apocalyptic, but Lethalia found a way to prevent it from being fulfilled..."
            background="maps/wesnoth.png"
            show_title=no
        [/part]
        [part]
            story= _ "Lethalia:
If we defeat the dragons, the Wesnothian Empire will have a golden era, whose mages will erect a second sun. But we already know that a second sun will come to be in the sky. It will banish the night and evil, but completely modify the weather and transform the country to withered desert. But as the rise of two suns may be only in an impossibly distant future, the golden era of Wesnoth may be also impossibly distant. If we rename Wesnoth, the time when some country gets a name Wesnoth, may become pretty distant. Wesnoth comes from Northwest, and it has no logic nowadays. Midland is a much better name. Such a decision requires a royal decree. Now, who better to ask for this petty favour than our king's overambitious consort? Young Asheviere is already out to seize power, we shall help her to mount the throne, and one hand washes the other. Tyrants like destroying the past."
            background="maps/wesnoth.png"
            show_title=no
        [/part]
    [/story]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the enemy leader and the dragon"
                condition=win
            [/objective]
            [objective]
                description= _ "End of a great hero"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
    [/event]

    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=
        gold=0
        income=0
        team_name=good
        user_team_name=_"Good"
        village_gold=0
        fog=no
    [/side]
    {RECALL_HEROES}
    [side]
        type=Armageddon Drake
        canrecruit=yes
        generate_name=yes
        random_traits=yes
        recruit=Drake Burner,Drake Fighter,Drake Clasher,Drake Glider,Fire Drake,Drake Flare,Drake Warrior,Drake Thrasher,Drake Arbiter,Sky Drake
        side=2
        {GOLD 1500 2000 2500}
        {INCOME 60 70 80}
        team_name=evil
        user_team_name=_"Evil"
        village_gold=7
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_SHIELD 40}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        type=Fire Dragon
        canrecruit=yes
        id=dragon
        x,y=20,2
        recruit=
        side=3
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            [avoid]
                x,y=21,1
            [/avoid]
        [/ai]
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_WEAK_REFLECT}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]

    [event]
        name=start
        [message]
            speaker=Efraim
            message= _ "So we must protect Wesnoth from dragons and let the Empire of Wesnoth get under command of a tyrant."
        [/message]
        [message]
            speaker=Delly
            message= _ "Funny."
        [/message]
        [message]
            speaker=Stormrider
            message= _ "Look! There is a dragon preparing to send out an army of drakes."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Maybe he was sent to defeat us. But they underestimated us. A mere dragon cannot stop us!"
        [/message]
    [/event]

    [event]
        name=enemies defeated
        [message]
            speaker=unit
            message= _ "Well, we stopped this minor annoyance and we are going to stop the dragons!"
        [/message]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Stormrider
            message= _ "The dragons are destroying Wesnoth! We will not save the folks."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 4 4 15 7 10-20,2-12}
    {GLOBAL_EVENTS}
    {CAMPAIGN3_DEATH_MESSAGES}
    {DROPS 1 2 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear,mace,mace) no 2,3}
    experience_modifier=125
[/scenario]
