#textdomain wesnoth-loti
[scenario]
    id=15_Nightmare
    name= _ "Nightmare"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/15_Land_of_Fear.map}"
    {SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC "weight_of_revenge.ogg"}
    {TURNS 7 8 9}
    victory_when_enemies_defeated=no
    disallow_recall=yes
    {SECOND_WATCH}

    next_scenario=15s_Epilogue

    [story]
        [part]
            background=maps/wesnoth.png
            show_title=no
            {OLD_JOURNEY 999 622}
            {OLD_JOURNEY 986 612}
            {OLD_BATTLE 978 592}
            {OLD_JOURNEY 969 558}
            {OLD_JOURNEY 961 535}
            {OLD_BATTLE 949 508}
            {OLD_JOURNEY 922 501}
            {OLD_JOURNEY 880 487}
            {OLD_JOURNEY 847 471}
            {OLD_BATTLE 808 466}
        [/part]
        [part]
            story= _ "With the good news, they traveled to Weldyn in order to meet the king. They had big plans to deceive him to let them inhabit his court, so they could start dark plots to ruin or rename the empire of Wesnoth to save the world."
            #Nickg4000: I'm not 100% sure what you're trying to say here
            #Dugi: Dammit, another uncorrected dialogue that remained from the times when I sucked at english. Is it better now?
            background="maps/wesnoth.png"
            show_title=no
            {OLD_JOURNEY 999 622}
            {OLD_JOURNEY 986 612}
            {OLD_BATTLE 978 592}
            {OLD_JOURNEY 969 558}
            {OLD_JOURNEY 961 535}
            {OLD_BATTLE 949 508}
            {OLD_JOURNEY 922 501}
            {OLD_JOURNEY 880 487}
            {OLD_JOURNEY 847 471}
            {OLD_BATTLE 808 466}
        [/part]
        [part]
            background=maps/wesnoth.png
            show_title=no
            {OLD_JOURNEY 999 622}
            {OLD_JOURNEY 986 612}
            {OLD_BATTLE 978 592}
            {OLD_JOURNEY 969 558}
            {OLD_JOURNEY 961 535}
            {OLD_BATTLE 949 508}
            {OLD_JOURNEY 922 501}
            {OLD_JOURNEY 880 487}
            {OLD_JOURNEY 847 471}
            {OLD_BATTLE 808 466}
            {NEW_JOURNEY 778 475}
            {NEW_JOURNEY 739 487}
            {NEW_JOURNEY 721 514}
            {NEW_BATTLE 685 523}
        [/part]
    [/story]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Aaaaa! Enemies everywhere!!!"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim"
                condition=lose
            [/objective]
        [/objectives]
    [/event]

    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim de Ceise"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Walking Corpse,Ghost,Soulless,Wraith,Shadow,Deathblade,Revenant,Chocobone,Bone Shooter
        {GOLD 700 650 600}
        income=0
        team_name=good
        user_team_name=_"Good"
        village_gold=2
    [/side]

    [side]
        type=Spectre
        id=spectre
        [modifications]
            [object]
                [effect]
                    apply_to=hitpoints
                    increase_total=50
                    increase=50
                [/effect]
                [effect]
                    apply_to=attack
                    increase_damage=20%
                [/effect]
            [/object]
        [/modifications]
        [ai]
            recruitment_ignore_bad_movement=yes
            recruitment_ignore_bad_combat=yes
            simple_targeting=yes
            aggression=1.0
        [/ai]
        canrecruit=yes
        recruit=Ghost,Wraith,Spectre,Shadow,Nightgaunt
        side=2
        team_name=evil
        user_team_name=_"Evil"
        {GOLD 600 720 840}
        {INCOME 10 20 30}
        {GENERIC_UNIT 2 "Spectre" 36 18}
        {GENERIC_UNIT 2 "Nightgaunt" 42 21}
        {GENERIC_UNIT 2 "Spectre" 34 22}
        {GENERIC_UNIT 2 "Spectre" 41 26}
        {GENERIC_UNIT 2 "Nightgaunt" 34 26}
        {GENERIC_UNIT 2 "Spectre" 28 36}
        {GENERIC_UNIT 2 "Spectre" 30 30}
        {GENERIC_UNIT 2 "Nightgaunt" 25 30}
    [/side]
    [side]
        type=Dark Dragon
        canrecruit=yes
        id=Baal
        name="Ba'al"
        random_traits=yes
        recruit=Fire Dragon,Ice Dragon,Armageddon Drake
        side=3
        {GOLD 600 720 840}
        {INCOME 10 20 30}
        [ai]
            recruitment_ignore_bad_movement=yes
            recruitment_ignore_bad_combat=yes
            simple_targeting=yes
            aggression=1.0
        [/ai]
        team_name=evil
        user_team_name=_"Evil"
        {GENERIC_UNIT 3 "Drake Blademaster" 37 12}
        {GENERIC_UNIT 3 "Drake Blademaster" 41 9}
        {GENERIC_UNIT 3 "Hurricane Drake" 40 6}
        {GENERIC_UNIT 3 "Drake Blademaster" 36 4}
        {GENERIC_UNIT 3 "Inferno Drake" 28 4}
    [/side]
    [side]
        type=Shadowalker
        id=Achilles
        name="Achilles"
        random_traits=yes
        canrecruit=yes
        [ai]
            recruitment_ignore_bad_movement=yes
            recruitment_ignore_bad_combat=yes
            simple_targeting=yes
            aggression=1.0
        [/ai]
        [modifications]
            [object]
                [effect]
                    apply_to=attack
                    increase_damage=50%
                [/effect]
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_LEADERSHIP_LEVEL_5}
                    [/abilities]
                [/effect]
                [effect]
                    apply_to=resistance
                    replace=true
                    [resistance]
                        arcane=0
                        blade=0
                        impact=0
                        pierce=170
                        cold=0
                        fire=0
                    [/resistance]
                [/effect]
                [effect]
                    apply_to=hitpoints
                    increase_total=-20
                    increase=-20
                [/effect]
                [effect]
                    apply_to=max_experience
                    increase=100
                [/effect]
            [/object]
        [/modifications]
        recruit=Necromancer,Assassin
        village_gold=2
        {GOLD 600 720 840}
        {INCOME 10 20 30}
        side=4
        team_name=evil
        user_team_name=_"Evil"
        {GENERIC_UNIT 4 "Necromancer" 4 5}
        {GENERIC_UNIT 4 "Necromancer" 6 9}
        {GENERIC_UNIT 4 "Assassin" 5 12}
        {GENERIC_UNIT 4 "Necromancer" 8 15}
        {GENERIC_UNIT 4 "Assassin" 9 19}
        {GENERIC_UNIT 4 "Necromancer" 16 21}
        {GENERIC_UNIT 4 "Necromancer" 21 25}
    [/side]
    [event]
        name=start
        [disallow_recruit]
            type=Iron Mauler LotI,Shock Trooper LotI,Heavy Infantryman LotI,Mage LotI,Red Mage LotI,White Mage LotI,Silver Mage LotI,Arch Mage LotI,Mage of Light LotI,Great Mage LotI,Dwarvish Fighter LotI,Dwarvish Steelclad LotI,Dwarvish Lord LotI,Ruffian,Poacher,Trapper,Ranger,Huntsman,Bandit,Thug,Highwayman,Footpad,Outlaw,Fugitive,Thief,Rogue,Assassin,Elvish Fighter LotI,Elvish Archer LotI,Elvish Scout LotI
            side=1
        [/disallow_recruit]
        [message]
            speaker=Achilles
            message= _ "Ha! I was not dead. I just tricked you; ...and I reopened the gate to the world of the dead."
        [/message]
        [message]
            speaker=spectre
            message= _ "Ha ha ha... You are going to die!"
        [/message]
        [message]
            speaker=Baal
            message= _ "You killed me, but you forgot that I am immortal. There is no way to kill me. You shall pay for the pain you caused to me."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Damn, what is happening? Where are the others, Lethalia, Stormrider...? I am all alone here facing legions of dragons, shadows and dark mages... My only chance to survive is necromancy, I remember it well, but I should not use it. But it is my only chance to survive. There is no one who can report my actions anyway."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Approach, evil. Approach and feel my wrath!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "I had better be careful, this looks very bad..."
        [/message]
    [/event]

    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "This cannot be true..."
        [/message]
        [endlevel]
            result=victory
            bonus=no
            linger_mode=no
            carryover_report=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    {GLOBAL_EVENTS}
    {CAMPAIGN3_DEATH_MESSAGES}
    {DROPS 3 5 (sword,bow,axe,staff,spear) yes 2,3,4}
    experience_modifier=125
[/scenario]
