#textdomain wesnoth-loti
[scenario]
    id="02_Overpowered"
    name= _ "Overpowered"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/02_North_from_Home.map}"
    next_scenario=03_United
    victory_when_enemies_defeated=no
    disallow_recall=yes
    {TURNS 30 28 26}
    experience_modifier=80
    {SCENARIO_MUSIC "frantic.ogg"}
    {EXTRA_SCENARIO_MUSIC elvish-theme.ogg}
    {EXTRA_SCENARIO_MUSIC elf-land.ogg}
    {TWO_SUNS_DEFAULT_SCHEDULE}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone
#ifdef HARD
        village_gold=2
#else
        village_gold=3
#endif
        gold=150
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        fog=yes
    [/side]

    [side]
        no_leader=yes
        side=2
        recruit=
        team_name=Invaders
        user_team_name=_"Invaders"
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
    [/side]
    [side]
        no_leader=yes
        side=3
        recruit=
        team_name=Invaders
        user_team_name=_"Invaders"
        [ai]
            aggression=1.0
        [/ai]
    [/side]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Flee to the northern border of the map"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of Efraim, Lethalia, Krux or Vritra"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        [recall]
            id=Krux
        [/recall]
        [recall]
            id=Vritra
        [/recall]
    [/event]

    [event]
        name=start
        {CAPTURE_VILLAGES 1 34 45 10}
        [message]
            speaker=Vritra
            message= _ "What were these things?!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I think that they were demons."
        [/message]
        [message]
            speaker=Vritra
            message= _ "So we have an army of demonologists behind us?"
        [/message]
        [message]
            speaker=Krux
            message= _ "Maybe there is simply only one demonologist, but extremely powerful. He <i>must</i> be powerful, if he can modify the demons to look like people."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I cannot even remember when I told you this..."
        [/message]
        [message]
            speaker=Krux
            message= _ "You told us that demons live in a world that is separated from this world so that they cannot come, that they look like monstrously altered people, with strangely pointed ears, horns, sharp teeth, forked tongues, aggressive facial traits... And that demonologists summon them into this world, to build armies to conquer and destroy, and because the demons are very powerful, they are very good at conquest and destruction."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "You remember it well. The power of this demonologist, and maybe also his apprentices, is quite shocking. I have never seen anything like that."
        [/message]
        [message]
            speaker=Vritra
            message= _ "So these disguised demons might be just scouts, followed by an even bigger and more terrible army?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "I would fear that. But we can do the thing that defeats most evil overlords. Get around the army somehow, appear in their chamber unexpectedly, and slay him without warning!"
        [/message]
        {GENERIC_UNIT 2 "Demon Infiltrator Unknown Spearman" 35 49}
        [message]
            speaker=Lethalia
            message= _ "Enough storytelling, can you see that demon over there? They are pursuing us!"
        [/message]
        [message]
            speaker=Krux
            message= _ "You will raise some undead to slow them and we will flee, they are slow, it should not be a problem."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I have a bad feeling about this... The demons must be aware of it, they are not stupid."
        [/message]
        {GENERIC_UNIT 3 "Bewitched Wolf" 37 30}
        {GENERIC_UNIT 3 "Bewitched Wolf" 6 30}
        {GENERIC_UNIT 3 "Bewitched Wolf" 25 27}
        {GENERIC_UNIT 3 "Bewitched Wolf" 39 25}
        {GENERIC_UNIT 3 "Bewitched Wolf" 34 18}
        {GENERIC_UNIT 3 "Bewitched Wolf" 21 16}
        {GENERIC_UNIT 3 "Bewitched Wolf" 10 10}
        {GENERIC_UNIT 3 "Bewitched Wolf" 16 26}
        {GENERIC_UNIT 3 "Bewitched Wolf" 21 17}
        {GENERIC_UNIT 2 "Demon Infiltrator Unknown Spearman" 38 49}
        {GENERIC_UNIT 2 "Demon Infiltrator Unknown Spearman" 31 49}
        {GENERIC_UNIT 2 "Demon Infiltrator Unknown Bowman" 32 49}
        {GENERIC_UNIT 2 "Demon Infiltrator Unknown Spearman" 31 48}
        {GENERIC_UNIT 2 "Demon Infiltrator Unknown Bowman" 34 49}
        {GENERIC_UNIT 2 "Demon Infiltrator Unknown Spearman" 36 49}
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            y=1-2
        [/filter]
        [message]
            speaker=Efraim
            message= _ "There are armed forces in the town, hurry up. "
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            y=1-37
        [/filter]
        [message]
            speaker=Efraim
            message= _ "This land used to be a place where orcish raids were stopped. That is why there are a lot of fortifications."
        [/message]
    [/event]
    [event]
        name=new turn
        first_time_only=no
#ifdef EASY
        {VARIABLE_OP spawn_type rand (Demon Infiltrator Unknown Spearman,Demon Infiltrator Unknown Spearman,Demon Infiltrator Unknown Bowman)}
#endif
#ifdef NORMAL
        {VARIABLE_OP spawn_type rand (Demon Infiltrator Unknown Spearman,Demon Infiltrator Unknown Spearman,Demon Infiltrator Unknown Bowman,Demon Infiltrator Unknown Swordsman)}
#endif
#ifdef HARD
        {VARIABLE_OP spawn_type rand (Demon Infiltrator Unknown Spearman,Demon Infiltrator Unknown Swordsman)}
#endif
        {GENERIC_UNIT 2 $spawn_type 38 49}
        {VARIABLE_OP spawn_type rand (Demon Infiltrator Unknown Spearman,Demon Infiltrator Unknown Spearman,Demon Infiltrator Unknown Bowman)}
        {GENERIC_UNIT 2 $spawn_type 31 49}
        {CLEAR_VARIABLE spawn_type,spawn_x,spawn_y}
        {GENERIC_UNIT 3 "Bewitched Wolf" 37 1}
    [/event]
    [event]
        name=turn 13
        [event]
            name=new turn
            first_time_only=no
            {GENERIC_UNIT 3 "Bewitched Wolf" 6 1}
        [/event]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "You can also see that army approaching us, right?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "No, we should not have let her fight..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "No, we should not have let him fight..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {GENERIC_DEATHS}
    {DROPS 5 7 (axe,sword,bow) yes 2,3}
    {GLOBAL_EVENTS}
[/scenario]
