#textdomain wesnoth-loti
[scenario]
    id="07_Unimportant_Revolution"
    name= _ "Unimportant Revolution"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/07_Mountains_End.map}"
    next_scenario=08_The_Desert
    {TURNS 27 25 23}
    experience_modifier=80
    {SCENARIO_MUSIC "northern_mountains.ogg"}
    {EXTRA_SCENARIO_MUSIC wanderer.ogg}
    {EXTRA_SCENARIO_MUSIC loyalists.ogg}
    {TWO_SUNS_DEFAULT_SCHEDULE}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress
        village_gold=2
        gold=200
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
    [/side]

    [side]
        type=Shadow Prince
        id=ally
        generate_name=yes
        canrecruit=yes
        side=2
        recruit=Assassin,Huntsman,Fugitive,Highwayman,Ranger
        village_gold=3
        gold=1000
        income=200
        team_name=good
        user_team_name=_"Good"
    [/side]
    [side]
        type=Demon Infiltrator Highwayman
        name= _ "Belial"
        id=enemy
        generate_name=yes
        canrecruit=yes
        side=3
        recruit=Demon Infiltrator Thug,Demon Infiltrator Poacher,Demon Infiltrator Footpad
        village_gold=4
        {GOLD 2500 2800 3200}
        {INCOME 230 260 300}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
    [/side]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Defeat the enemy leader"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of Efraim, Lethalia or Krux"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        [recall]
            id=Krux
        [/recall]
        {CAPTURE_VILLAGES 3 24 37 15}
        {CAPTURE_VILLAGES 1 24 3 10}
        {CAPTURE_VILLAGES 2 9 20 10}
    [/event]
    [story]
        [part]
            background=story/mountains2.jpg
            story= _ "After he had vented his anger in curses, Efraim presented the results of his investigation to his caring companioness and the journey became even sadder than before. The enemy held their daughter and could threaten at any time to kill her. Having to decide between her life and the destruction of the world was something that had to be avoided at all costs."
        [/part]
    [/story]
    [event]
        name=start
        [message]
            speaker=Lethalia
            message= _ "I cannot believe that you condemned a whole town to a death in flames for kidnapping her. Most of the people you burned to death were <i>innocent</i>."
        [/message]
        [message]
            speaker=Efraim
            message= _ "They were not innocent. Not a single person there was innocent. Some of these people were demonic infiltrators. For the others, things like kidnapping or murder was nothing unusual. This angered me greatly, and when I learned she was given to a party of demons, I could not hold it any longer. Although they deserved it, this does not excuse me. I have things to think about now."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I hope it will not happen again..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "You killed the whole population of the Weldyn town, and there was a lot of better people than these criminals."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "But I was a lich then, and they would be killed by the falling sun anyway..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "These bandits would die during the Twilight of the Gods anyway. Or kill more people before dying for other reasons. And I was in an exceptional rage."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Fair enough, you are not worse than me... We are sometimes too powerful for this world, we should try to control it. When we are angry, our power seems to grow incredibly."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Yes, it seems..."
        [/message]
        [message]
            speaker=ally
            message= _ "Can you please help us? We are attacked by these corrupted..."
        [/message]
        [message]
            speaker=enemy
            message= _ "You destroyed our town, you deserve death!"
        [/message]
        [message]
            speaker=ally
            message= _ "Some time ago, I noticed our town was being infiltrated by demons, and our deeds were becoming more and more violent. From robbing people we changed to killing anyone we found. Or capturing them alive, just to sell them into slavery to the country of Karhaba. We wanted to stop this, but their connections were too strong then. We became outcasts from a town of outcasts, and they even started hunting us. Please, help us! We are not strong enough to face them."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I need to know the paths south from here. If you promise to explain to me how to get to the town of Krapul, I will help you."
        [/message]
        [message]
            speaker=ally
            message= _ "Krapul is the capital of Karhaba. I should know how to get out of these mountains, but I do not know the way through the desert that is between these mountains and Karhaba. Deal?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Deal. Attack!"
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id=enemy
        [/filter]
        [message]
            speaker=ally
            message= _ "Thank you a lot. You have helped us greatly. I will explain how to reach the desert and tell some of my men to join you."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Thank you."
        [/message]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "No, we should not have let him fight..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 4 9 37 11 32-37,6-16}
    {GENERIC_DEATHS}
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 3}
    {GLOBAL_EVENTS}
[/scenario]
