#textdomain wesnoth-loti
[scenario]
    id="10_Ruins_of_Wesnoth"
    name= _ "Ruins of Wesnoth"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/10_Borders_of_Karhaba.map}"
    next_scenario=11_Odd_World
    {TURNS 29 27 25}
    experience_modifier=80
    victory_when_enemies_defeated=yes
    {SCENARIO_MUSIC "casualties_of_war.ogg"}
    {EXTRA_SCENARIO_MUSIC wanderer.ogg}
    {EXTRA_SCENARIO_MUSIC loyalists.ogg}
    {TWO_SUNS_DEFAULT_SCHEDULE}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper
        village_gold=3
        gold=100
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
    [/side]

    [side]
        type=Grand Marshal
        id=petty_enemy
        generate_name=yes
        canrecruit=yes
        side=2
        recruit=Dragoon,Knight,Lancer,Longbowman,Duelist,Shock Trooper,Swordsman,Javelineer,Pikeman
        village_gold=4
        {GOLD 500 800 1100}
        {INCOME 30 60 80}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
#ifdef HARD
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_ADAMANT}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        no_leader=yes
        side=3
        recruit=Demon Infiltrator White Mage,Demon Infiltrator Shock Trooper,Demon Infiltrator Swordsman
        team_name=evil
        user_team_name=_"Evil"
        village_gold=0
        {NO_INCOME}
        {GOLD 1700 1900 2300}
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
    [/side]
    [side]
        no_leader=yes
        side=4
        recruit=Demon Warrior
        team_name=evil
        user_team_name=_"Evil"
        village_gold=0
        {NO_INCOME}
        {GOLD 2300 2550 2800}
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
    [/side]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Defeat the enemies"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of Efraim, Lethalia or Krux"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        [recall]
            id=Krux
        [/recall]
        {CAPTURE_VILLAGES 1 41 3 10}
        {CAPTURE_VILLAGES 2 2 35 20}
    [/event]

    [event]
        name=start
        [message]
            speaker=Lethalia
            message= _ "Look at this place. Does it remind you of something?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "This strange desert forest? No... Deserts remind me of the place where we left the grave, and also the place where we fought the spirits who started invading this world."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I always wonder why black souls did not appear back then. If they had, we would all be dead. That adventure was very risky."
        [/message]
        [message]
            speaker=Efraim
            message= _ "They must have thought it was a trap, or they did not exist back then. Maybe the souls of the dead in that world started to hate us after closing these gates, and that hatred gave birth to black souls. Their crusade was so terrible..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "But I was not speaking about the desert, look at those hills."
        [/message]
        [message]
            speaker=Efraim
            message= _ "They remind me of a place I visited several times. I think we are not far from Weldyn. ...from the place where once Weldyn was. Oh, damn, this place used to be full of small towns, villages, it was a highly populated farmland, the core of the country... and now it is just a desert, not even the castles remained. These ruins were built long after it."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Yes. It is a terrible feeling seeing what this land has become."
        [/message]
        [message]
            speaker=Efraim
            message= _ "On the other hand, the northlands were never as densely populated. It was just an empty steppe. And now, there is everything."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "We also seem to be on the borders of a country that is populated and mighty. Maybe behind those hills, the desert or half-desert ends. There are usually strange forests south from deserts. Completely unknown to elves, almost impenetrable and full of dangerous animals."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Shall we go around or across the hills?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "A hard question, the hills seem to be more hospitable than this half-desert, but they may be dangerous, full of enemies. Let me think..."
        [/message]
        [message]
            speaker=petty_enemy
            message= _ "Here are the invaders. In the name of Emperor Abbath, surrender and we might let you live."
        [/message]
        [message]
            speaker=Efraim
            message= _ "And we will become gladiators, fighting to death for pleasure of observers. I see through your lies."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "We will never surrender. Show us what you can do."
        [/message]
    [/event]
    [event]
        name=turn 4
        [unit]
            type=Demon Infiltrator Destroyer
            id=first_enemy
            name= _ "Thamuz"
            x,y=44,38
            canrecruit=yes
            side=3
            random_traits=yes
            generate_name=yes
        [/unit]
        [message]
            speaker=first_enemy
            message= _ "My general, I came to help you. The enemies you are facing are far stronger than you expected. You will need my help."
        [/message]
        [message]
            speaker=enemy
            message= _ "I think I can handle, there is not many of them... but any help is welcome."
        [/message]
        [replace_schedule]
            {SCHEDULE_HELL}
        [/replace_schedule]
        [message]
            speaker=Lethalia
            message= _ "Darn, reinforcements! And something weird happened to the skies."
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=petty_enemy
        [/filter]
        [message]
            speaker=petty_enemy
            message= _ "Damn you, I had a promising career!"
        [/message]
        [fire_event]
            name=spawn_last_boss
        [/fire_event]
    [/event]
    [event]
        name=turn 10
        [fire_event]
            name=spawn_last_boss
        [/fire_event]
    [/event]
    [event]
        name=spawn_last_boss
        [unit]
            type=Demon Overlord
            id=second_enemy
            name= _ "Kasdeya"
            x,y=9,4
            gender=female
            canrecruit=yes
            side=4
            random_traits=yes
            generate_name=yes
        [/unit]
        [modify_side]
            side=4
            {INCOME 200 250 300}
        [/modify_side]
        [message]
            speaker=second_enemy
            message= _ "I was told about some disturbance in this region, what do we have here... plenty of enemies, who seem to be quite potent. Somebody needs to be taken into Inferno, attack!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "No, we should not have let him fight..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=enemies defeated
        [message]
            speaker=Efraim
            message= _ "These demons came from northwest, but I think that they were just on a march from the mountains. The twilight came from south, I bet the demons are coming from there, and the river Styx must have a source in the south too. We must stop them before it gets too late."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "And about Vritra?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "She is very likely behind the mountains. There are just a few outposts before them. We have to cross them anyway, and closing the gate should inhibit the demons greatly, making them lose their influence, and make it much easier to rescue her."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Agreed."
        [/message]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 5 9 33 20 28-38,15-25}
    {GENERIC_DEATHS}
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4}
    {GLOBAL_EVENTS}
[/scenario]
