#textdomain wesnoth-loti
[scenario]
    id="11_Odd_World"
    name= _ "Odd World"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/11_Odd_World.map}"
    next_scenario=12_Gladiatrix_The_Reckoning
    turns=120
    experience_modifier=80
    victory_when_enemies_defeated=no
    {SCENARIO_MUSIC "sad.ogg"}
    {EXTRA_SCENARIO_MUSIC the_dangerous_symphony.ogg}
    {EXTRA_SCENARIO_MUSIC siege_of_laurelmor.ogg}
    {SCHEDULE_HELL}
    [time_area]
        x=56-67
        y=0-9
        {UNDERGROUND}
    [/time_area]
    [time_area]
        x=63-67
        y=25-30
        {UNDERGROUND}
    [/time_area]
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper
        village_gold=0
        village_support=1000
        gold=200
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
    [/side]
    [side]
        type=Demon Overlord
        name= _ "Ronwe"
        generate_name=yes
        canrecruit=yes
        side=2
        recruit=Demon Warrior
        village_gold=0
        {INCOME 100 120 140}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
    [/side]
    [side]
        type=Demon Overlord
        canrecruit=yes
        name= _ "Abigor"
        side=3
        recruit=Imp
        village_gold=0
        {INCOME 100 120 140}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
    [/side]
    [side]
        no_leader=yes
        side=4
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
    [/side]
    [side]
        no_leader=yes
        side=5
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 5}
        {AI_OVERHAUL_PLACE_2 5}
    [/side]
    [side]
        no_leader=yes
        side=6
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 6}
        {AI_OVERHAUL_PLACE_2 6}
    [/side]
    [side]
        no_leader=yes
        side=7
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 7}
        {AI_OVERHAUL_PLACE_2 7}
    [/side]
    [event]
        name=prestart
        {VARIABLE progress 0}
        [objectives]
            side=1
            [objective]
                description=_ "Close the portal"
                condition=win
                [show_if]
                    [variable]
                        name=progress
                        equals=0
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Exit through the cave southeast from the crater"
                condition=win
                [show_if]
                    [variable]
                        name=progress
                        equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description=_ "Death of Efraim, Lethalia or Krux"
                condition=lose
            [/objective]
            note= _"Note: No upkeep, no income, no matter what it shows. Additional gold can be found in chests."
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        [recall]
            id=Krux
        [/recall]
        {CAPTURE_VILLAGES 1 5 3 10}
        {RANDOM_ITEM 59 5}
        {RANDOM_ITEM 64 6}
        {RANDOM_ITEM 62 49}
        {RANDOM_ITEM 1 49}
        {RANDOM_ITEM 23 1}
        {GOLD_CHEST 15 24}
        {GOLD_CHEST 7 35}
        {GOLD_CHEST 56 34}
        {GOLD_CHEST 31 10}
        {GOLD_CHEST 37 14}
    [/event]

    [event]
        name=start
        [message]
            speaker=Krux
            message= _ "What is this place? It looks so... unnatural."
        [/message]
        [message]
            speaker=Efraim
            message= _ "It looks like an erupting volcano, but the rivers of flame flow into abnormal distances."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "It is the river Styx, flowing here from Inferno. The portal must be close, there are many rivers flowing from here."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I hope the end of this destruction is approaching as you expect."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "What is that strange fire?"
        [/message]
        {MOVE_UNIT id=Efraim 8 4}
        [message]
            speaker=Efraim
            message= _ "Some kind of power source. It seems to give energy to anyone who approaches it. And these cinders it releases seem to be consumable. Containing a lot of energy. It might be useful as a replacement of food if we travel somewhere far away. Maybe it serves as food to demons. I believe that controlling these power sources might be equivalent to controlling villages."
        [/message]
        {MOVE_UNIT id=Efraim 5 3}
        [message]
            speaker=Lethalia
            message= _ "Interesting. I hope it is not corrupted, like most things related to demons."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I could not sense anything foul about it. Maybe it was in Inferno already before the demons became evil, and this power was too neutral for them to corrupt."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I hope you are right. Let us go, we do not have much time to lose."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "No, we should not have let him fight..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x,y=52-67,11-28
        [/filter]
        [message]
            speaker=unit
            message= _ "No signs of a portal here, there is just a crater."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "But the crater is the source of the river Styx!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Yes, but there is no portal. Demons are not appearing anywhere, they are just present here in large numbers. I have a feeling they are using these flames to heal themselves, or to recharge their power."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Yes, this place looks like Inferno is said to look, these power sources everywhere, I am quite sure they are recharging their powers here."
        [/message]
        [message]
            speaker=Efraim
            message= _ "They probably made this sleeping volcano explode, and directed the river into all locations they wanted to visit. That is probably why it was also in our valley."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I never even knew this mountain was a sleeping volcano... But where do you think the real portal into Inferno is?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Well, this country looks much more corrupted by them than our land, so it is probably closer to the portal. Maybe it is only because of the volcano, though."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Anyway, Vritra is behind these mountains. We will find out in that town, Krapul."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I think that I saw a cave here once, and it might lead through the mountains. It is probably under that hill, that is southeast from the centre of the crater."
        [/message]
        {VARIABLE progress 1}
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=66-67,25-30
        [/filter]
        [message]
            speaker=unit
            message= _ "This cave should lead through the mountains, I can feel wind passing through it, that does not smell like lava."
        [/message]
        {CLEAR_VARIABLE progress}
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]

    [event]
        name=new turn
        first_time_only=no
#ifdef EASY
        {VARIABLE_OP spawn_type rand (Demon,Imp)}
#endif
#ifdef NORMAL
        {VARIABLE_OP spawn_type rand (Demon,Imp,Demon Warrior)}
#endif
#ifdef HARD
        {VARIABLE_OP spawn_type rand (Demon,Imp,Demon Warrior,Succubus)}
#endif
        {VARIABLE_OP spawn_x rand (2,4)}
        {VARIABLE_OP spawn_y rand (20,28)}
        {GENERIC_UNIT 4 $spawn_type $spawn_x $spawn_y}
#ifdef EASY
        {VARIABLE_OP spawn_type rand (Demon,Imp,Imp,Imp,Demon Warrior,Succubus)}
#endif
#ifdef NORMAL
        {VARIABLE_OP spawn_type rand (Demon,Imp,Imp,Imp,Demon Warrior,Demon Warrior,Succubus)}
#endif
#ifdef HARD
        {VARIABLE_OP spawn_type rand (Demon,Imp,Imp,Imp,Demon Warrior,Demon Warrior,Succubus,Succubus)}
#endif
        {VARIABLE_OP spawn_x rand (29,43,47)}
        {GENERIC_UNIT 5 $spawn_type $spawn_x 49}
#ifdef EASY
        {VARIABLE_OP spawn_type rand (Demon,Imp,Imp,Imp,Demon Warrior,Demon Warrior,Succubus,Succubus)}
#endif
#ifdef NORMAL
        {VARIABLE_OP spawn_type rand (Demon,Imp,Imp,Demon Warrior,Demon Warrior,Succubus,Succubus)}
#endif
#ifdef HARD
        {VARIABLE_OP spawn_type rand (Demon,Imp,Demon Warrior,Demon Warrior,Succubus,Succubus)}
#endif
        {VARIABLE_OP spawn_x rand (58,61)}
        {VARIABLE_OP spawn_y rand (35,47)}
        {GENERIC_UNIT 6 $spawn_type $spawn_x $spawn_y}
#ifdef EASY
        {VARIABLE_OP spawn_type rand (Demon,Demon Warrior,Demon Warrior,Succubus,Succubus)}
#endif
#ifdef NORMAL
        {VARIABLE_OP spawn_type rand (Demon Warrior,Succubus)}
#endif
#ifdef HARD
        {VARIABLE_OP spawn_type rand (Demon Warrior,Succubus,Succubus)}
#endif
        {VARIABLE_OP spawn_x rand (23,28)}
        {VARIABLE_OP spawn_y rand (1,5)}
        {GENERIC_UNIT 7 $spawn_type $spawn_x $spawn_y}
        {CLEAR_VARIABLE spawn_type,spawn_x,spawn_y,spawn_side,spawn_count}
    [/event]

    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Damn, the volcano is erupting, and nothing can stop the huge flow of lava!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 8 10 21 15 16-26,10-20}
    {GENERIC_DEATHS}
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5,6,7}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
