#textdomain wesnoth-loti
#define HEAL_VRITRA
    [store_unit]
        [filter]
            id=Vritra
        [/filter]
        variable=Vritra_store
        kill=no
    [/store_unit]
    {VARIABLE Vritra_store.hitpoints $Vritra_store.max_hitpoints}
    [unstore_unit]
        variable=Vritra_store
        find_vacant=no
    [/unstore_unit]
    {CLEAR_VARIABLE Vritra_store}
#enddef
#define HEAL_PARTY
    [store_unit]
        [filter]
            side=1
        [/filter]
        variable=heal_store
        kill=no
    [/store_unit]
    {FOREACH heal_store i}
        {VARIABLE heal_store[$i].hitpoints $heal_store[$i].max_hitpoints}
        {CLEAR_VARIABLE heal_store[$i].status.poisoned}
        {CLEAR_VARIABLE heal_store[$i].status.slowed}
        [unstore_unit]
            variable=heal_store[$i]
            find_vacant=no
        [/unstore_unit]
    {NEXT i}
    {CLEAR_VARIABLE heal_store}
#enddef
[scenario]
    id="12_Gladiatrix_The_Reckoning"
    name= _ "Gladiatrix - The Reckoning"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/12_Krapul.map}"
    next_scenario=13_River_of_Flame
    victory_when_enemies_defeated=no
    disallow_recall=yes
    turns=-1
    experience_modifier=80
    {SCENARIO_MUSIC "breaking_the_chains.ogg"}
    {EXTRA_SCENARIO_MUSIC the_dangerous_symphony.ogg}
    {EXTRA_SCENARIO_MUSIC the_city_falls.ogg}
    {SHORTDARK}
    [side]
        type=Vritra
        id=Vritra
        name=_"Vritra"
        canrecruit=yes
        side=1
        controller=human
        recruit=
        village_gold=0
        gold=0
        {NO_INCOME}
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        fog=no
        shroud=yes
    [/side]

    [side]
        no_leader=yes
        side=2
        team_name=Evil
        user_team_name=_"Evil"
        recruit=Dragoon,Knight,Lancer,Longbowman,Duelist,Shock Trooper,Swordsman,Javelineer,Pikeman
        {GOLD 400 500 600}
        [ai]
            aggression=1.0
            caution=-10
        [/ai]
        village_gold=0
        {GUARDIAN_UNIT 2 "Duelist" 7 23}
        {GUARDIAN_UNIT 2 "Heavy Infantryman" 16 18}
        {GUARDIAN_UNIT 2 "Iron Mauler" 33 21}
        {GUARDIAN_UNIT 2 "Red Mage" 30 25}
        {GUARDIAN_UNIT 2 "Swordsman" 42 29}
    [/side]
    [side]
        no_leader=yes
        side=3
        team_name=Evil
        user_team_name=_"Evil"
        recruit=Dragoon,Knight,Lancer,Longbowman,Duelist,Shock Trooper,Swordsman,Javelineer,Pikeman
        {GOLD 400 500 600}
        [ai]
            aggression=1.0
            caution=-10
        [/ai]
        village_gold=0
        {GUARDIAN_UNIT 2 "Master at Arms" 36 59}
        {GUARDIAN_UNIT 2 "Destroyer" 43 55}
        {GUARDIAN_UNIT 2 "Iron Mauler" 33 52}
        {GUARDIAN_UNIT 2 "Arch Mage" 41 45}
        {GUARDIAN_UNIT 2 "Royal Guard" 44 39}
    [/side]
    [side]
        no_leader=yes
        side=4
        team_name=Evil
        user_team_name=_"Evil"
        recruit=Dragoon,Knight,Lancer,Longbowman,Duelist,Shock Trooper,Swordsman,Javelineer,Pikeman
        {GOLD 100 130 160}
        {INCOME 20 25 30}
        [ai]
            aggression=1.0
            caution=-10
        [/ai]
        village_gold=0
    [/side]
    [side]
        no_leader=yes
        side=5
        team_name=Evil
        user_team_name=_"Evil"
        recruit=Dragoon,Knight,Lancer,Longbowman,Duelist,Shock Trooper,Swordsman,Javelineer,Pikeman
        {GOLD 100 130 160}
        {INCOME 20 25 30}
        [ai]
            aggression=1.0
            caution=-10
        [/ai]
        village_gold=0
    [/side]
    [side]
        no_leader=yes
        side=6
        team_name=Evil
        user_team_name=_"Evil"
        recruit=Dragoon,Knight,Lancer,Longbowman,Duelist,Shock Trooper,Swordsman,Javelineer,Pikeman
        {GOLD 100 130 160}
        {INCOME 20 25 30}
        [ai]
            aggression=1.0
            caution=-10
        [/ai]
        village_gold=0
    [/side]
    [side]
        no_leader=yes
        side=7
        team_name=Evil
        user_team_name=_"Evil"
        recruit=Demon Infiltrator Bowman,Demon Infiltrator Fencer, Demon Infiltrator Heavy Infantryman,Demon Infiltrator Spearman
        {INCOME 12 15 17}
        [ai]
            aggression=1.0
            caution=-10
        [/ai]
        village_gold=0
    [/side]
    [side]
        no_leader=yes
        side=8
        team_name=Evil
        user_team_name=_"Evil"
        recruit=Demon Infiltrator Bowman,Demon Infiltrator Fencer,Demon Infiltrator Heavy Infantryman,Demon Infiltrator Spearman
        {INCOME 12 15 17}
        [ai]
            aggression=1.0
            caution=-10
        [/ai]
        village_gold=0
    [/side]
    [side]
        no_leader=yes
        side=9
        team_name=Evil
        user_team_name=_"Evil"
        recruit=Demon Infiltrator White Mage,Demon Infiltrator Shock Trooper,Demon Infiltrator Swordsman
        {INCOME 12 15 17}
        [ai]
            aggression=1.0
            caution=-10
        [/ai]
        village_gold=0
    [/side]
    [side]
        no_leader=yes
        side=10
        team_name=Evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
            caution=-10
        [/ai]
        village_gold=0
        {GUARDIAN_UNIT 10 "Demon Infiltrator Swordsman" 60 39}
        {GUARDIAN_UNIT 10 "Demon Infiltrator Swordsman" 63 38}
    [/side]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Run for your life"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of Vritra"
                condition=lose
            [/objective]
        [/objectives]
        [message]
            speaker=narrator
            caption= _ "Vritra"
            image="portraits/Vritra.png"
            message= _ "Weeks passed... They told us to practise, but all fights were delayed. We were afraid of the special challenge, I hoped that they would not use us as a blood sacrifice, but there were still dangerous things we would never be able to handle."
        [/message]
        {VARIABLE someone_died 0}
#define IS_GLADIATOR_ALIVE_CHECK NUMBER X Y TYPE
    [recall]
        id=gladiator{NUMBER}
        x,y={X},{Y}
    [/recall]
    [if]
        [not]
            [have_unit]
                id=gladiator{NUMBER}
            [/have_unit]
        [/not]
        [then]
            [unit]
                side=1
                id=gladiator{NUMBER}
                x,y={X},{Y}
                type={TYPE}
                generate_name=yes
                random_traits=yes
                random_gender=yes
                [modifications]
                    {TRAIT_LOYAL}
                [/modifications]
            [/unit]
            {VARIABLE someone_died 1}
        [/then]
    [/if]
#enddef
        {IS_GLADIATOR_ALIVE_CHECK 1 17 56 "Elvish Warlord"}
        {IS_GLADIATOR_ALIVE_CHECK 2 14 54 "Shadowalker"}
        {IS_GLADIATOR_ALIVE_CHECK 3 11 56 "Dwarvish Technocrat"}
        {IS_GLADIATOR_ALIVE_CHECK 4 12 58 "Destroyer"}
        {IS_GLADIATOR_ALIVE_CHECK 5 15 60 "Warlock"}
        {IS_GLADIATOR_ALIVE_CHECK 6 18 57 "Swordmaster"}
#undef IS_GLADIATOR_ALIVE_CHECK
        [message]
            speaker=narrator
            caption= _ "Vritra"
            image="portraits/Vritra.png"
            message= _ "Recently, I managed to persuade a servant to tell us what that special challenge would be like. He replied that we would have to fight each other and prove ourselves in duels to death. Though one would get permission to skip the first duel, we would have to fight until only one survives. This last survivor would be released to freedom."
        [/message]
        [if]
            [variable]
                name=someone_died
                equals=1
            [/variable]
            [then]
                [message]
                    speaker=narrator
                    caption= _ "Vritra"
                    image="portraits/Vritra.png"
                    message= _ "To this end, our team was stocked up, the fallen were replaced with new fighters. To guarantee that the home crowd was presented with a full program of entertainment."
                [/message]
            [/then]
        [/if]
        {CLEAR_VARIABLE someone_died}
        [message]
            speaker=narrator
            caption= _ "Vritra"
            image="portraits/Vritra.png"
            message= _ "This also means that the demons have decided to take a next step towards the corruption of the humans. Instead of watching people fight, they will watch the brutality of a fight of two fighters until one of them dies. Watching people die in a violent way, cheering all the time, happy that their favourite fighter won. Although this new idea gave us hope that we shall be released one day, but made us fear death even more. The killing of fellow sufferers we learned to value as friends over time is just too terrible to think about."
        [/message]
        [message]
            speaker=narrator
            caption= _ "Vritra"
            image="portraits/Vritra.png"
            message= _ "We have decided to escape. I have studied the magical barrier around us, and it was not very strong. It was strong in the arena, but not strong here, in the training room. After a few unsuccessful attempts to figure out an easy way to get through it, I got angry, and shot a flow of dark energy into the wall. As usually, my dangerous and uncontrollable anger gave me unexpected powers. So the magical barrier cracked and strong ones broke through the wall and our escape started."
        [/message]
        [set_variables]
            name=main_item_storage
            mode=replace
            to_variable=item_storage
        [/set_variables]
        [set_variables]
            name=item_storage
            mode=replace
            to_variable=vritra_item_storage
        [/set_variables]
        {CLEAR_VARIABLE vritra_item_storage}
        {RANDOM_ITEM 3 57}
        {RANDOM_ITEM 9 55}
        {RANDOM_ITEM 19 57}
        {RANDOM_ITEM 16 53}
    [/event]
    [event]
        name=start
        [message]
            speaker=gladiator3
            message= _ "Now we will decapitate those who wanted me to fight my friends!"
        [/message]
        [message]
            speaker=Vritra
            message= _ "We will kill everyone that we see, they will pay for their sins..."
        [/message]
        [message]
            speaker=gladiator5
            message= _ "Maybe you should be more pacifistic, we just need to flee..."
        [/message]
        [message]
            speaker=Vritra
            message= _ "We must free this city from the demons and their filthy followers. We will kill the emperor and everyone who stands in our way. The chaos we cause should make it easier for my parents to conquer it."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=8-18,43-50
        [/filter]
        {GENERIC_UNIT 10 Hellhound 3 38}
        {GENERIC_UNIT 10 Hellhound 3 38}
        {GENERIC_UNIT 10 Hellhound 3 38}
        {GENERIC_UNIT 10 Hellhound 3 38}
        {GENERIC_UNIT 10 Hellhound 3 38}
        {GENERIC_UNIT 10 Hellhound 3 38}
        {GENERIC_UNIT 10 Hellhound 3 38}
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=17-28,34-42
        [/filter]
        {GENERIC_UNIT 10 "Shadow Hound" 23 47}
        {GENERIC_UNIT 10 "Shadow Hound" 23 47}
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=8-22,27-35
        [/filter]
        [unit]
            type=Succubus
            id=succubus
            name= _ "Cresil"
            x,y=14,31
            gender=female
            side=10
            random_traits=yes
        [/unit]
    [/event]
    [event]
        name=attack
        [filter]
            id=succubus
        [/filter]
        [message]
            speaker=succubus
            message= _ "I would like you to explain why are you doing all of this. There are only more enemies ahead, if you continue, you will be slaughtered. Come back into the training room and practice. You were only told about the duels because they wanted you to practice harder."
        [/message]
        [message]
            speaker=second_unit
            message= _ "I do not believe there are so many enemies ahead..."
        [/message]
        [message]
            speaker=succubus
            message= _ "Believe me, I want to help you. There is too many of them, you would never survive that. There are entire armies of soldiers who can challenge dracoliches. This whole thing was just a plan to see a gladiator fight more realistically, in the real world."
        [/message]
        [message]
            speaker=second_unit
            message= _ "Well, fine, if you say so..."
        [/message]
        [message]
            speaker=Vritra
            message= _ "Die, foul demon. And stop confusing our heads. You are nothing but another monster standing in our way!"
        [/message]
        [message]
            speaker=succubus
            message= _ "I will slaughter you all!"
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=2-42,12-30
        [/filter]
        [unit]
            type=General
            generate_name=yes
            x,y=13,22
            canrecruit=yes
            side=2
            random_traits=yes
        [/unit]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=30-50,27-53
        [/filter]
        [unit]
            type=Iron Mauler
            generate_name=yes
            x,y=37,35
            canrecruit=yes
            side=3
            random_traits=yes
        [/unit]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=28-66,44-66
        [/filter]
        [unit]
            type=Champion Bowman
            generate_name=yes
            x,y=62,61
            canrecruit=yes
            side=4
            random_traits=yes
        [/unit]
        [unit]
            type=Swordmaster
            generate_name=yes
            x,y=63,55
            canrecruit=yes
            side=5
            random_traits=yes
        [/unit]
        [unit]
            type=Duke
            generate_name=yes
            x,y=57,51
            canrecruit=yes
            side=6
            random_traits=yes
        [/unit]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=47-66,15-28
        [/filter]
        [unit]
            type=Demon Infiltrator Messenger
            name= _ "Verrine"
            id=guardian
            x,y=59,18
            random_gender=yes
            canrecruit=yes
            side=7
            random_traits=yes
        [/unit]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=43-66,1-14
        [/filter]
        [unit]
            type=Demon Infiltrator Messenger
            name= _ "Semiazas"
            x,y=54,6
            canrecruit=yes
            side=8
            random_traits=yes
        [/unit]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=30-47,1-10
        [/filter]
        [unit]
            type=Demon Infiltrator Prophet
            name= _ "Emperor Abbath I"
            id=emperor
            x,y=31,6
            canrecruit=yes
            side=9
            random_traits=yes
        [/unit]
    [/event]
    [event]
        name=attack
        [filter_second]
            side=2
        [/filter_second]
        [message]
            speaker=Vritra
            message= _ "You watched us suffer, and cheered. All those in this town are so perverted that killing you will just save you from your own corruption!"
        [/message]
        [message]
            speaker=second_unit
            message= _ "I thought you were our friends..."
        [/message]
        {HEAL_VRITRA}
        [message]
            speaker=Vritra
            message= _ "No, we hate you all, maggots."
        [/message]
    [/event]
    [event]
        name=attack
        [filter]
            side=7
        [/filter]
        [message]
            speaker=guardian
            message= _ "You dare to attack the castle of our Emperor? Suffer!"
        [/message]
        {HEAL_VRITRA}
        [message]
            speaker=Vritra
            message= _ "You are the one who deserves suffering, foul demon."
        [/message]
    [/event]
    [event]
        name=attack
        [filter]
            side=9
        [/filter]
        [message]
            speaker=emperor
            message= _ "You were fools to come here. You will perish!"
        [/message]
        {HEAL_VRITRA}
        [message]
            speaker=Vritra
            message= _ "We shall kill you, I want to fulfil my promise."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=0-21,0-8
        [/filter]
        [message]
            speaker=unit
            message= _ "Freedom!"
        [/message]
        [set_variables]
            name=vritra_item_storage
            mode=replace
            to_variable=item_storage
        [/set_variables]
        [set_variables]
            name=item_storage
            mode=replace
            to_variable=main_item_storage
        [/set_variables]
        {CLEAR_VARIABLE main_item_storage}
        [store_unit]
            [filter]
                side=1
            [/filter]
            variable=vritras_army_store
            kill=yes
        [/store_unit]
        [endlevel]
            result=victory
            bonus=no
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Vritra
            message= _ "No, you cannot kill me, you ugly, filthy, hell-spawned abomination, I will..."
        [/message]
        {HEAL_VRITRA}
        [message]
            speaker=Vritra
            message= _ "I will kill everybody! This world has betrayed me, so I am taking it under my management. All the living shall perish under the flaming storms I can command..."
        [/message]
        [replace_schedule]
            {SCHEDULE_FLAMING_SKY}
        [/replace_schedule]
        [message]
            speaker=Vritra
            message= _ "Burn!"
        [/message]
        [kill]
            [not]
                id=Vritra
            [/not]
        [/kill]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {GENERIC_DEATHS}
    {DROPS 7 10 (sword,axe,mace,staff) yes 2,3,4,5,6,7,8,9,10}
    {GLOBAL_EVENTS}
[/scenario]
