#textdomain wesnoth-loti
[scenario]
    id="13_River_of_Flame"
    name= _ "River of Flame"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/13_River_of_Flame.map}"
    next_scenario=14_Finally_Together
    {TURNS 45 43 41}
    experience_modifier=80
    victory_when_enemies_defeated=no
    {SCENARIO_MUSIC "the_deep_path.ogg"}
    {EXTRA_SCENARIO_MUSIC into_the_shadows.ogg}
    {EXTRA_SCENARIO_MUSIC the_dangerous_symphony.ogg}
    {UNDERGROUND}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper
        village_gold=2
        gold=100
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
    [/side]
    [side]
        type=Demon Overlord
        name= _ "Zepar"
        canrecruit=yes
        side=2
        recruit=Demon Warrior
        village_gold=4
        {INCOME 50 60 70}
        {GOLD 300 400 500}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
    [/side]
    [side]
        type=Demon Overlord
        canrecruit=yes
        gender=female
        name= _ "Proserpine"
        side=3
        recruit=Imp
        village_gold=4
        {INCOME 50 60 70}
        {GOLD 300 400 500}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
    [/side]
    [side]
        type=Succubus
        name= _ "Kobal"
        side=4
        recruit=Demon
        village_gold=4
        {INCOME 50 60 70}
        {GOLD 300 400 500}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
    [/side]
    [side]
        type=Demon Overlord
        name= _ "Ayperos"
        side=5
        recruit=Demon Infiltrator Bowman,Demon Infiltrator Fencer,Demon Infiltrator Heavy Infantryman,Demon Infiltrator Spearman
        village_gold=4
        {INCOME 50 60 70}
        {GOLD 300 400 500}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 5}
        {AI_OVERHAUL_PLACE_2 5}
    [/side]
    [side]
        no_leader=yes
        side=6
        ai_formula=idle_ai
        team_name=trolls
        user_team_name=_"Trolls"
        {GUARDIAN_UNIT 6 "Troll" 45 38}
    [/side]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Reach the cave in the southeastern corner of the map"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of Efraim, Lethalia or Krux"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        [recall]
            id=Krux
        [/recall]
    [/event]

    [event]
        name=start
        {CAPTURE_VILLAGES 1 3 2 10}
        {CAPTURE_VILLAGES 5 44 10 15}
        {CAPTURE_VILLAGES 3 4 32 15}
        {CAPTURE_VILLAGES 4 36 32 15}
        {CAPTURE_VILLAGES 2 19 12 15}
        [message]
            speaker=Lethalia
            message= _ "Perfect. The air does not smell like lava, but there is so much lava here that it is making me think we are already in Inferno."
        [/message]
        [message]
            speaker=Efraim
            message= _ "The air does not smell like lava because of the strong wind blowing from behind this river. Somewhere, southeast from here, must be a path that leads to the surface, on the other side of the mountains. But we have to cross this river. It will be swarming with demons, I expect."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "This will be a hard terrain..."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "No, we should not have let him fight..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x,y=42-49,34-40
        [/filter]
        [message]
            speaker=unit
            message= _ "There is a troll here."
        [/message]
        [message]
            side=6
            message= _ "Hello. Come, this tunnel is safe, demons do not seek empty cold tunnels, they only seek hot lava. Come, you look like the heroes our Big Boss is looking for. He says you can stop these rivers of lava that are destroying our caves."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    {BEELZEBUB_SPAWN_POINT 7 8 16 16 11-21,11-21}
    {NEUTRAL_SIDE 6}
    {GENERIC_DEATHS}
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5}
    {GLOBAL_EVENTS}
[/scenario]
