#textdomain wesnoth-loti
[scenario]
    id="14_Finally_Together"
    name= _ "Finally Together"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/14_Jungle_Entrance.map}"
    next_scenario=15_Jungle_Hell
    {TURNS 35 33 31}
    experience_modifier=80
    victory_when_enemies_defeated=yes
    {SCENARIO_MUSIC "elf-land.ogg"}
    {EXTRA_SCENARIO_MUSIC traveling_minstrels.ogg}
    {EXTRA_SCENARIO_MUSIC nunc_dimittis.ogg}
    {TWO_SUNS_DEFAULT_SCHEDULE}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper,Troll,Troll Whelp,Troll Rocklobber
        village_gold=3
        gold=150
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
    [/side]
    [side]
        type=Grand Marshal
        generate_name=yes
        canrecruit=yes
        side=2
        recruit=Cavalier,Grand Knight,Arch Mage,Iron Mauler,Silver Mage,Royal Guard,Pilum Master,Halberdier,Master Bowman
        village_gold=7
        {GOLD 1200 1300 1500}
        {INCOME 100 120 140}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_HEALS_OTHER 48}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        type=Demon Infiltrator Iron Mauler
        canrecruit=yes
        name= _ "Aym"
        side=3
        recruit=Demon Infiltrator White Mage,Demon Infiltrator Shock Trooper,Demon Infiltrator Swordsman
        village_gold=7
        {GOLD 1200 1300 1500}
        {INCOME 100 120 140}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
    [/side]
    [side]
        type=Demon Infiltrator General
        name= _ "Mullin"
        side=4
        recruit=Demon Infiltrator Cavalryman,Demon Infiltrator Bowman,Demon Infiltrator Spearman,Demon Infiltrator Heavy Infantryman,Demon Infiltrator Fencer
        village_gold=7
        {GOLD 1200 1300 1500}
        {INCOME 100 120 140}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
    [/side]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of Efraim, Lethalia, Krux or Vritra"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        [recall]
            id=Krux
        [/recall]
        [message]
            speaker=narrator
            message= _ "The leader of the trolls hosted them and got his concerns over demons off his chest. But Efraim's revelation about the scope of the problem shocked him to the core. Ready to help, he pointed them in the right direction and dispatched some of his warriors as a security escort."
        [/message]
    [/event]

    [event]
        name=start
        {CAPTURE_VILLAGES 1 44 3 10}
        {CAPTURE_VILLAGES 4 11 20 15}
        {CAPTURE_VILLAGES 3 1 18 15}
        {CAPTURE_VILLAGES 2 4 23 15}
        [message]
            speaker=Lethalia
            message= _ "Finally, we have left these caves. But this forest looks somehow strange."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Back in the day when only a single sun was shining, there used to be such forests behind the southern deserts. They are not very different from the usual forests in my opinion, just some locations are too overgrown with plants that there is no way to get through them."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "These are not forests. We elves can tell a forest from a group of strange plants."
        [/message]
        [message]
            speaker=Efraim
            message= _ "You will get used to it, I even met some elves that lived there back then."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "And I have a feeling like if another river of flame was nearby, the weather is unnaturally hot."
        [/message]
        [message]
            speaker=Efraim
            message= _ "This is a warm country. We will need some time to get used to it. I wonder what is behind this forest now, when the two suns are heating the land too much."
        [/message]
        {FOREACH vritras_army_store i}
            {VARIABLE vritras_army_store[$i].x 4}
            {VARIABLE vritras_army_store[$i].y 4}
            {CLEAR_VARIABLE vritras_army_store[$i].status}
            {VARIABLE vritras_army_store[$i].hitpoints $vritras_army_store[$i].max_hitpoints}
            {VARIABLE vritras_army_store[$i].moves $vritras_army_store[$i].max_moves}
            {VARIABLE vritras_army_store[$i].attacks_left $vritras_army_store[$i].max_attacks}
            [unstore_unit]
                variable=vritras_army_store[$i]
                find_vacant=yes
            [/unstore_unit]
        {NEXT i}
        {MODIFY_UNIT id=Vritra canrecruit no}
        {CLEAR_VARIABLE vritras_army_store}
        {VARIABLE count nothing_yet}
        [while]
            [variable]
                name=count
                not_equals="spear"
            [/variable]
            [do]
                {TEXT_COUNT count sling spear}
                {TEXT_COUNT count claws sling}
                {TEXT_COUNT count essence claws}
                {TEXT_COUNT count thunderstick essence}
                {TEXT_COUNT count limited thunderstick}
                {TEXT_COUNT count polearm limited}
                {TEXT_COUNT count potion polearm}
                {TEXT_COUNT count mace potion}
                {TEXT_COUNT count ring mace}
                {TEXT_COUNT count amulet ring}
                {TEXT_COUNT count cloak amulet}
                {TEXT_COUNT count knife cloak}
                {TEXT_COUNT count dagger knife}
                {TEXT_COUNT count xbow dagger}
                {TEXT_COUNT count staff xbow}
                {TEXT_COUNT count bow staff}
                {TEXT_COUNT count axe bow}
                {TEXT_COUNT count sword axe}
                {TEXT_COUNT count boots sword}
                {TEXT_COUNT count gauntlets boots}
                {TEXT_COUNT count helm gauntlets}
                {TEXT_COUNT count armour helm}
                {TEXT_COUNT count nothing_yet armour}
                {VARIABLE variable_in_foreach "vritra_item_storage.$count|.length"}
                [set_variable]
                    name="foreach"
                    to_variable="$variable_in_foreach"
                [/set_variable]
                [while]
                    [variable]
                        name="i"
                        less_than="$foreach"
                    [/variable]
                    [do]
                        {VARIABLE_OP variable_to_set_length to_variable item_storage.$count|.length}
                        [set_variables]
                            name=item_storage.$count|[$variable_to_set_length]
                            mode=replace
                            to_variable=vritra_item_storage.$count|[$i]
                        [/set_variables]
                        {CLEAR_VARIABLE variable_to_set_length}
                        {VARIABLE_OP i add 1}
                    [/do]
                [/while]
                {CLEAR_VARIABLE i}
            [/do]
        [/while]
        {CLEAR_VARIABLE count}
        {CLEAR_VARIABLE main_item_storage,vritra_item_storage}

        {CLEAR_VARIABLE Vritra_inventory}
        [message]
            speaker=Vritra
            message= _ "I have found you!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Vritra, they released you?"
        [/message]
        [message]
            speaker=Vritra
            message= _ "No, I have fled. Killed the emperor and his guards on the way."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "What did they do to you?"
        [/message]
        [message]
            speaker=Vritra
            message= _ "Bad things. We had to fight together against various monsters in some kind of theatre for them. But when they decided to force us to fight each other we fled from the desperation. And took revenge upon the demon that caused it all, Emperor Ablat the First."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Did you gain some important information there?"
        [/message]
        [message]
            speaker=Vritra
            message= _ "Yes, Ablat the Emperor had a small map hidden in his clothes. It revealed the locations of the three volcanic eruptions controlled by these demons, the progress of their political infiltration, and the location of the portal. It is south from the jungle."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Excellent job. But we have to deal with the army that is chasing you."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "No, we should not have let him fight..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Vritra
            message= _ "No, first I fled from the slavery in that terrible town, and now I am killed?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [replace_schedule]
            {SCHEDULE_HELL}
        [/replace_schedule]
        [message]
            speaker=Efraim
            message= _ "Something really bad is happening!"
        [/message]
    [/event]
    [event]
        name=enemies defeated
        [message]
            speaker=Efraim
            message= _ "Perfect, this problem is dealt with, now to find the portal."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    {BEELZEBUB_SPAWN_POINT 5 11 34 17 29-39,12-22}
    {GENERIC_DEATHS}
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4}
    {GLOBAL_EVENTS}
[/scenario]
