#textdomain wesnoth-loti
#define CH8S15_SPAWN X Y COORDINATES
    [event]
        name=moveto
        [filter]
            side=1
            x,y={COORDINATES}
        [/filter]
        {VARIABLE_OP spawn_sort rand (demons,infiltrators)}
        [if]
            [variable]
                name=spawn_sort
                equals=demons
            [/variable]
            [then]
#ifdef HARD
                {VARIABLE spawn_count 25}
#endif
#ifdef NORMAL
                {VARIABLE spawn_count 22}
#endif
#ifdef EASY
                {VARIABLE spawn_count 19}
#endif
                {GENERIC_UNIT 6 "Demon Overlord" {X} {Y}}
                [while]
                    [variable]
                        name=spawn_count
                        greater_than=0
                    [/variable]
                    [do]
                        {VARIABLE_OP spawn_type rand (Demon,Demon Warrior,Imp,Imp,Imp)}
                        {GENERIC_UNIT 6 $spawn_type {X} {Y}}
                        [+unit]
                            [modifications]
                                [object]
                                    [effect]
                                        apply_to=movement_costs
                                        replace="true"
                                        [movement_costs]
                                            impassable=3
                                        [/movement_costs]
                                    [/effect]
                                    [effect]
                                        apply_to=defense
                                        replace="true"
                                        [defense]
                                            impassable=50
                                        [/defense]
                                    [/effect]
                                [/object]
                            [/modifications]
                        [/unit]
                        {VARIABLE_OP spawn_count sub 1}
                    [/do]
                [/while]
            [/then]
        [/if]
        [if]
            [variable]
                name=spawn_sort
                equals=infiltrators
            [/variable]
            [then]
#ifdef HARD
                {VARIABLE spawn_count 26}
#endif
#ifdef NORMAL
                {VARIABLE spawn_count 23}
#endif
#ifdef EASY
                {VARIABLE spawn_count 21}
#endif
                {GENERIC_UNIT 7 "Demon Infiltrator Messenger" {X} {Y}}
                [while]
                    [variable]
                        name=spawn_count
                        greater_than=0
                    [/variable]
                    [do]
                        {VARIABLE_OP spawn_type rand (Demon Infiltrator Cavalryman,Demon Infiltrator Bowman,Demon Infiltrator Spearman,Demon Infiltrator Heavy Infantryman,Demon Infiltrator Fencer,Demon Infiltrator White Mage,Demon Infiltrator Shock Trooper,Demon Infiltrator Swordsman,Demon Infiltrator Iron Mauler)}
                        {GENERIC_UNIT 7 $spawn_type {X} {Y}}
                        [+unit]
                            [modifications]
                                [object]
                                    [effect]
                                        apply_to=movement_costs
                                        replace="true"
                                        [movement_costs]
                                            impassable=3
                                        [/movement_costs]
                                    [/effect]
                                    [effect]
                                        apply_to=defense
                                        replace="true"
                                        [defense]
                                            impassable=50
                                        [/defense]
                                    [/effect]
                                [/object]
                            [/modifications]
                        [/unit]
                        {VARIABLE_OP spawn_count sub 1}
                    [/do]
                [/while]
            [/then]
        [/if]
        [allow_undo]
        [/allow_undo]	#You can go back, but the enemy will be there anyway; this is to make sure that the player cannot notice some enemies spawned in the distance
        {CLEAR_VARIABLE spawn_count,spawn_type,spawn_sort}
    [/event]
#enddef
#define CH8S15_SPAWN_POINT X Y
    {VARIABLE_OP did_spawn rand (0,0,0,0,0,0,1)}
    [if]
        [variable]
            name=did_spawn
            equals=1
        [/variable]
        [then]
            {VARIABLE_OP spawn_type rand (Demon,Demon Warrior,Succubus,Imp)}
            {VARIABLE_OP spawn_side rand (2,3,4,5)}
            {GENERIC_UNIT $spawn_side $spawn_type {X} {Y}}
            [+unit]
                [modifications]
                    [object]
                        [effect]
                            apply_to=movement_costs
                            replace=true
                            [movement_costs]
                                impassable=3
                            [/movement_costs]
                        [/effect]
                        [effect]
                            apply_to=defense
                            replace=true
                            [defense]
                                impassable=50
                            [/defense]
                        [/effect]
                    [/object]
                [/modifications]
            [/unit]
        [/then]
    [/if]
#enddef
[scenario]
    id="15_Jungle_Hell"
    name= _ "Jungle Hell"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/15_Jungle_Hell.map}"
    next_scenario=16_The_Gates_of_Hell
    victory_when_enemies_defeated=no
    turns=250
    experience_modifier=80
    {DEFAULT_MUSIC_PLAYLIST}
    {TWO_SUNS_DEFAULT_SCHEDULE}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thief,Rogue,Thug,Bandit,Poacher,Trapper,Footpad,Outlaw,Troll Whelp,Troll Rocklobber
        gold=100
        shroud=yes
        fog=yes
        random_traits=yes
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
    [/side]
#define ENEMY_NO_LEADER_SIDE SIDE
    [side]
        no_leader=yes
        side={SIDE}
        team_name=Evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE {SIDE}}
        {AI_OVERHAUL_PLACE_2 {SIDE}}
        [ai]
            aggression=1.0
        [/ai]
    [/side]
#enddef
    {ENEMY_NO_LEADER_SIDE 2}
    {ENEMY_NO_LEADER_SIDE 3}
    {ENEMY_NO_LEADER_SIDE 4}
    {ENEMY_NO_LEADER_SIDE 5}
    {ENEMY_NO_LEADER_SIDE 6}
    {ENEMY_NO_LEADER_SIDE 7}

    [event]
        name=prestart
        {VARIABLE teleport_wait 10}
#ifdef HARD
        {VARIABLE spawn_count 80}
#endif
#ifdef NORMAL
        {VARIABLE spawn_count 65}
#endif
#ifdef EASY
        {VARIABLE spawn_count 45}
#endif
        [while]
            [variable]
                name=spawn_count
                greater_than=0
            [/variable]
            [do]
                {VARIABLE_OP spawn_type rand (Demon,Demon Warrior,Imp,Imp,Imp,Demon,Demon Warrior,Imp,Imp,Imp,Demon,Demon Warrior,Imp,Imp,Imp,Demon,Demon Warrior,Imp,Imp,Imp,Demon,Demon Warrior,Imp,Imp,Imp,Demon,Demon Warrior,Imp,Imp,Imp,Demon Infiltrator Cavalryman,Demon Infiltrator Bowman,Demon Infiltrator Spearman,Demon Infiltrator Heavy Infantryman,Demon Infiltrator Fencer,Demon Infiltrator White Mage,Demon Infiltrator Shock Trooper,Demon Infiltrator Swordsman,Demon Infiltrator Iron Mauler)}
                {VARIABLE_OP spawn_x rand (1..100)}
                {VARIABLE_OP spawn_y rand (1..120)}
                {VARIABLE_OP spawn_side rand (2,3,4,5)}
                {GUARDIAN_UNIT $spawn_side $spawn_type $spawn_x $spawn_y}
                {VARIABLE_OP spawn_count sub 1}
            [/do]
        [/while]
#ifdef HARD
        {VARIABLE spawn_count 37}
#endif
#ifdef NORMAL
        {VARIABLE spawn_count 34}
#endif
#ifdef EASY
        {VARIABLE spawn_count 28}
#endif
        [kill]
            [filter_location]
                terrain=Gg^Fzr
            [/filter_location]
        [/kill]
        [while]
            [variable]
                name=spawn_count
                greater_than=0
            [/variable]
            [do]
                {VARIABLE_OP spawn_type rand (Demon,Demon Warrior,Imp,Imp,Imp,Demon,Demon Warrior,Imp,Imp,Imp,Demon,Demon Warrior,Imp,Imp,Imp,Demon,Demon Warrior,Imp,Imp,Imp,Demon,Demon Warrior,Imp,Imp,Imp,Demon,Demon Warrior,Imp,Imp,Imp,Demon Infiltrator Cavalryman,Demon Infiltrator Bowman,Demon Infiltrator Spearman,Demon Infiltrator Heavy Infantryman,Demon Infiltrator Fencer,Demon Infiltrator White Mage,Demon Infiltrator Shock Trooper,Demon Infiltrator Swordsman,Demon Infiltrator Iron Mauler)}
                {VARIABLE_OP spawn_x rand (1..100)}
                {VARIABLE_OP spawn_y rand (1..120)}
                {VARIABLE_OP spawn_side rand (2,3,4,5)}
                {GENERIC_UNIT $spawn_side $spawn_type $spawn_x $spawn_y}
                [+unit]
                    [modifications]
                        [object]
                            [effect]
                                apply_to=movement_costs
                                replace="true"
                                [movement_costs]
                                    impassable=3
                                [/movement_costs]
                            [/effect]
                            [effect]
                                apply_to=defense
                                replace="true"
                                [defense]
                                    impassable=50
                                [/defense]
                            [/effect]
                        [/object]
                    [/modifications]
                [/unit]
                {VARIABLE_OP spawn_count sub 1}
            [/do]
        [/while]
        {CLEAR_VARIABLE spawn_type,spawn_x,spawn_y,spawn_side,spawn_count}
        [objectives]
            side=1
            [objective]
                description=_ "Reach the southern border of the map"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of Efraim, Lethalia, Krux or Vritra"
                condition=lose
            [/objective]
            note= _"Note: No upkeep, no income, no matter what it shows. Additional gold can be found in chests.
You can teleport all units to Efraim once per ten turns. (see options in the right-click menu)
Items left behind WILL BE put into the inventory."
        [/objectives]
        [teleport]
            [filter]
                id=Efraim
            [/filter]
            x,y=52,12
            animate=no
        [/teleport]
        {GOLD_CHEST 12 4}
        {GOLD_CHEST 7 6}
        {GOLD_CHEST 2 24}
        {GOLD_CHEST 2 36}
        {GOLD_CHEST 3 70}
        {GOLD_CHEST 3 94}
        {GOLD_CHEST 12 4}
        {GOLD_CHEST 7 6}
        {GOLD_CHEST 79 117}
        {GOLD_CHEST 97 113}
        {GOLD_CHEST 99 87}
        {GOLD_CHEST 96 38}
        {GOLD_CHEST 77 72}
        [set_menu_item]
            id=zz_ch6s9_teleport
            description= _ "Teleport units to leader"
            [show_if]
                [have_unit]
                    x,y=$x1,$y1
                    id=Efraim
                [/have_unit]
                [and]
                    [variable]
                        name=teleport_wait
                        greater_than_equal_to=10
                    [/variable]
                [/and]
            [/show_if]
            [command]
                {VARIABLE teleport_wait 0}
                [store_unit]
                    [filter]
                        side=1
                        [not]
                            id=Efraim
                        [/not]
                    [/filter]
                    kill=no
                    variable=teleport_store
                [/store_unit]
                {FOREACH teleport_store i}
                    [teleport]
                        [filter]
                            id=$teleport_store[$i].id
                        [/filter]
                        x,y=$x1,$y1
                        clear_shroud=yes
                        animate=no
                    [/teleport]
                {NEXT i}
                {CLEAR_VARIABLE teleport_store}
            [/command]
        [/set_menu_item]
        [recall]
            id=Lethalia
            x,y=58,2
        [/recall]
        [recall]
            id=Krux
        [/recall]
        [recall]
            id=Vritra
        [/recall]
    [/event]
    {CH8S15_SPAWN 43 20 25-60,5-37}
    {CH8S15_SPAWN 24 19 8-38,13-37}
    {CH8S15_SPAWN 3 24 1-20,7-40}
    {CH8S15_SPAWN 74 11 57-91,1-27}
    {CH8S15_SPAWN 90 24 74-100,8-41}
    {CH8S15_SPAWN 75 36 58-91,19-52}
    {CH8S15_SPAWN 34 43 18-52,28-60}
    {CH8S15_SPAWN 15 36 1-32,20-53}
    {CH8S15_SPAWN 23 70 7-40,53-86}
    {CH8S15_SPAWN 7 76 1-23,60-95}
    {CH8S15_SPAWN 91 53 74-100,37-70}
    {CH8S15_SPAWN 65 61 48-82,45-78}
    {CH8S15_SPAWN 56 71 38-70,57-87}
    {CH8S15_SPAWN 74 83 58-90,67-100}
    {CH8S15_SPAWN 44 90 28-60,74-107}
    {CH8S15_SPAWN 13 91 1-30,76-111}
    {CH8S15_SPAWN 47 105 30-63,87-120}
    {CH8S15_SPAWN 85 109 68-100,90-120}
    {CH8S15_SPAWN 36 111 20-53,94-120}
    {CH8S15_SPAWN 7 118 1-24,100-120}
    [event]
        name=new turn
        first_time_only=no
        {VARIABLE_OP teleport_wait add 1}
        {CH8S15_SPAWN_POINT 1 24}
        {CH8S15_SPAWN_POINT 1 36}
        {CH8S15_SPAWN_POINT 1 69}
        {CH8S15_SPAWN_POINT 1 94}
        {CH8S15_SPAWN_POINT 100 112}
        {CH8S15_SPAWN_POINT 100 86}
        {CH8S15_SPAWN_POINT 100 39}
        {CH8S15_SPAWN_POINT 34 3}
        {CH8S15_SPAWN_POINT 25 39}
        {CH8S15_SPAWN_POINT 69 93}
        {CH8S15_SPAWN_POINT 53 48}
#ifndef EASY
        {CH8S15_SPAWN_POINT 59 15}
        {CH8S15_SPAWN_POINT 15 71}
#endif
#ifdef HARD
        {CH8S15_SPAWN_POINT 53 82}
        {CH8S15_SPAWN_POINT 47 29}
#endif
        {CLEAR_VARIABLE did_spawn,spawn_type,spawn_sort,spawn_side}
    [/event]
    [event]
        name=start
        [message]
            speaker=Vritra
            message= _ "This jungle... it is a real labyrinth."
        [/message]
        [message]
            speaker=Krux
            message= _ "And most demons are coming from this direction. This will be a really dreadful labyrinth, sister."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I am afraid of that too."
        [/message]
        {MOVE_UNIT id=Efraim 58 2}
        [message]
            speaker=Efraim
            message= _ "This tropical forest will be probably harder than the tundra. The impassable parts are creating a labyrinth and it is swarming with demons, who seem to be able to penetrate through it. We might follow the river, against its direction, but it forks a lot and we can get lost anyway."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x,y=1-30,119-120
        [/filter]
        [message]
            speaker=unit
            message= _ "Let us see what is at the end of this jungle."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Smile, my friends, after this green hell comes heaven: No trees! ... But sand. And−"
        [/message]
        {VARIABLE teleport_wait 0}
        {FOREACH items i}
            {VARIABLE o 0}
            [while]
                [variable]
                    name=o
                    less_than=$item_list.object.length
                [/variable]
                [do]
                    [if]
                        [variable]
                            name=item_list.object[$o].number
                            equals=$items[$i].type
                        [/variable]
                        [then]
                            {VARIABLE item_number $o}
                        [/then]
                    [/if]
                    [set_variable]
                        name=o
                        add=1
                    [/set_variable]
                [/do]
            [/while]
            [set_variable]
                name=length
                to_variable=item_storage.$item_list.object[$item_number].sort|.length
            [/set_variable]
            [set_variables]
                name=item_storage.$item_list.object[$item_number].sort|[$length]
                mode=replace
                [value]
                    type=$item_list.object[$item_number].number
                [/value]
            [/set_variables]
            {CLEAR_VARIABLE item_number,o,length}
        {NEXT i}
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Vritra
            message= _ "No, first I fled from the slavery in that terrible town, and now I was killed?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "No, we should not have let him fight..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "How many demons have entered our world during the time we are fighting in this green hell? Millions! We will all die, even if we finally managed to close it eventually!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    {BEELZEBUB_SPAWN_POINT 8 10 77 37 72-82,32-42}
    {GENERIC_DEATHS}
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5,6,7}
    {GLOBAL_EVENTS}
    {DISABLE_UPKEEP 1}
[/scenario]
