#textdomain wesnoth-loti
#define CH8S16_SPAWN_POINT X Y
    {VARIABLE_OP did_spawn rand (0,1)}
    [if]
        [variable]
            name=did_spawn
            equals=1
        [/variable]
        [then]
            {VARIABLE_OP spawn_type rand (Demon,Demon Warrior,Succubus,Imp)}
            {VARIABLE_OP spawn_side rand (6,7,8,9)}
            {GENERIC_UNIT $spawn_side $spawn_type {X} {Y}}
        [/then]
    [/if]
#enddef
[scenario]
    id="16_The_Gates_of_Hell"
    name= _ "The Gates of Hell"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/16_Gates_of_Hell.map}"
    next_scenario=01_Transporting_Facility
    turns=100
    experience_modifier=80
    victory_when_enemies_defeated=no
    {SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC battle-epic.ogg}
    {EXTRA_SCENARIO_MUSIC vengeful.ogg}
    {SCHEDULE_HELL}
    [side]
        type=Efraim_god
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Skeleton,Skeleton Archer,Ghost,Walking Corpse,Soulless,Bone Shooter,Deathblade,Revenant,Wraith,Shadow,Chocobone,Spearman,Swordsman,Javelineer,Pikeman,Bowman,Longbowman,Heavy Infantryman,Shock Trooper,Fencer,Duelist,Mage,White Mage,Red Mage,Cavalryman,Dragoon,Horseman,Lancer,Snow Hunter,Knight,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Marshal,Elvish Champion,Elvish Sharpshooter,Elvish Avenger,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Thug,Bandit,Thief,Rogue,Footpad,Outlaw,Poacher,Trapper,Troll,Troll Whelp,Troll Rocklobber
        village_gold=2
        gold=300
        team_name=good
        unrenamable=yes
        user_team_name=_"Good"
        shroud=yes
    [/side]
    [side]
        type=Demon Overlord
        name= _ "Adriel"
        canrecruit=yes
        side=2
        recruit=Demon Infiltrator Cavalryman,Demon Infiltrator Bowman,Demon Infiltrator Spearman,Demon Infiltrator Heavy Infantryman,Demon Infiltrator Fencer,Demon
        village_gold=4
        {GOLD 1200 1300 1500}
        {INCOME 100 120 140}
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 2}
        {AI_OVERHAUL_PLACE_2 2}
    [/side]
    [side]
        type=Demon Overlord
        canrecruit=yes
        name= _ "Agrat-bat-mahlaht"
        gender=female
        side=3
        recruit=Imp
        village_gold=4
        {GOLD 600 700 800}
        {INCOME 50 60 70}
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 3}
        {AI_OVERHAUL_PLACE_2 3}
    [/side]
    [side]
        type=Succubus
        name= _ "Asmoday"
        side=4
        recruit=Demon Warrior
        village_gold=4
        {GOLD 600 700 800}
        {INCOME 50 60 70}
        team_name=evil
        user_team_name=_"Evil"
        [ai]
            aggression=1.0
        [/ai]
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
    [/side]
    [side]
        type=Abaddon
        name= _ "Abaddon"
        side=5
        village_gold=0
        gold=0
        income=-2
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 5}
        {AI_OVERHAUL_PLACE_2 5}
        [ai]
            aggression=1.0
            [avoid]
                y=0-45
            [/avoid]
        [/ai]
    [/side]
#define ENEMY_NO_LEADER_SIDE SIDE
    [side]
        no_leader=yes
        side={SIDE}
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE {SIDE}}
        {AI_OVERHAUL_PLACE_2 {SIDE}}
        [ai]
            aggression=1.0
        [/ai]
    [/side]
#enddef
    {ENEMY_NO_LEADER_SIDE 6}
    {ENEMY_NO_LEADER_SIDE 7}
    {ENEMY_NO_LEADER_SIDE 8}
    {ENEMY_NO_LEADER_SIDE 9}
    [story]
        [part]
            background=gateway.png
            story= _ "And then they saw it. Skies in fire, lightning arcing and striking the mountains, a cave with an evil aura radiating from it and armies of demons marching through the land, grouping in camps and leaving the area in organised divisions. The land itself was bare, with no life."
        [/part]
    [/story]
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Approach the portal with Efraim or Lethalia"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of Efraim, Lethalia, Krux or Vritra"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={NO_EARLY_FINISH_BONUS_NOTE}
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        [recall]
            id=Krux
        [/recall]
        [recall]
            id=Vritra
        [/recall]
    [/event]
    [event]
        name=start
        [remove_shroud]
            side=1
            x=0-45
            y=0-30
        [/remove_shroud]
        {CAPTURE_VILLAGES 2 22 25 40}
        [item]
            x,y=9,49
            halo=terrain/gate_of_hell.png
        [/item]
        [message]
            speaker=Lethalia
            message= _ "Damn, it is so hot here."
        [/message]
        [message]
            speaker=Vritra
            message= _ "I would have died if I had as much clothes... you see there was a reason for me to leave them at home..."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I assumed that life would thrive more and more in hotter and hotter climate, but it seems that the suns heated this place so terribly that nothing can live here. Northern steppes were transformed into normal country, normal country was transformed into desert, desert was transformed into jungles, and former jungles became too hot for any kind of life. Maybe this dead place looks like Inferno, and the demons broke with the portal here because of it."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "We have to finish this as early as possible. This heat is unbearable."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I agree. All we need is to defeat all demons in those camps and then we will just have to enter the cave with the portal, fending off the demons. It can be done quickly, I am sure."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "How do you want to close the portal? We do not even know why demonologists can open small temporary portals from here and why the demons cannot."
        [/message]
        [message]
            speaker=Krux
            message= _ "The demonologists can only maintain their portals open for a very short period of time, so keeping a portal open might need a very powerful source of energy. So if you destroy that source, it will collapse."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "That sounds reasonable. I hope it is not on their side."
        [/message]
        [message]
            speaker=Vritra
            message= _ "If it was, somebody would have to sacrifice himself. And we would have a lot of dying warriors on our side after slashing through the lines of demons."
        [/message]
        [message]
            speaker=Efraim
            message= _ "That is grim, but it should be possible."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "It is too hot here, attack!"
        [/message]
    [/event]
    [event]
        name=new turn
        first_time_only=no
        {CH8S16_SPAWN_POINT 9 49}
        {CH8S16_SPAWN_POINT 9 48}
        {CH8S16_SPAWN_POINT 10 48}
        {CH8S16_SPAWN_POINT 10 57}
        {CH8S16_SPAWN_POINT 9 50}
        {CH8S16_SPAWN_POINT 8 49}
        {CH8S16_SPAWN_POINT 8 48}
#ifndef EASY
        {CH8S16_SPAWN_POINT 41 37}
        {CH8S16_SPAWN_POINT 1 25}
#endif
#ifdef HARD
        {CH8S16_SPAWN_POINT 1 11}
        {CH8S16_SPAWN_POINT 44 45}
#endif
        {CLEAR_VARIABLE did_spawn,spawn_type,spawn_sort,spawn_side}
    [/event]

    [event]
        name=attack
        [filter]
            type=Abaddon
        [/filter]
        [message]
            speaker=unit
            message= _ "I am thy infernal demise, you are my sacrifice! I will crush you, give you death! Infernal greetings from Inferno!"
        [/message]
        [message]
            speaker=second_unit
            message= _ "Darn, he is strong..."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Krux
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "No, we should not have let him fight..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vritra
        [/filter]
        [message]
            speaker=Vritra
            message= _ "No, first I fled from the slavery in that terrible town, and now I was killed?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Efraim
            [filter_location]
                x,y=9,49
                radius=2
            [/filter_location]
            [or]
                id=Lethalia
                [filter_location]
                    x,y=9,49
                    radius=2
                [/filter_location]
            [/or]
        [/filter]
        [message]
            speaker=unit
            message= _ "The lava is not the source that maintains the portal. Neither are those purple flames... Both are not strong enough and hardly more than kind of refreshment tonics for the demons... The source is somewhere on the other side... And... guarded by a load of demons. We must enter Inferno, with the bravest of our soldiers, hack through the demons, and cast a delayed spell to have some time to leave."
        [/message]
        [message]
            speaker=Vritra
            message= _ "May I go with you?"
        [/message]
        [message]
            speaker=unit
            message= _ "No, only the bravest of our soldiers. This is too dangerous, you will remain here. If the portal closes while we are in Inferno, muster the remaining forces and escape. The Twilight of Gods will be stopped no matter if we return or not, I have prepared a powerful spell that will release an explosion of energy when I die, so our death should close it as well."
        [/message]
        [store_unit]
            [filter]
                id=Vritra
            [/filter]
            kill=yes
            variable=Vritra_store
        [/store_unit]
        [store_unit]
            [filter]
                id=Krux
            [/filter]
            kill=yes
            variable=Krux_store
        [/store_unit]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 0}
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "How many demons have entered our world during the time we are fighting in this green hell? Millions! We will all die, even if we will manage to close it at once!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 10 11 28 17 23-33,12-22}
    {GENERIC_DEATHS}
    {DROPS 5 7 (axe,axe,staff,sword,sword,knife,bow,xbow,spear,spear,bow,dagger,mace) yes 2,3,4,5,6,7,8,9}
    {GLOBAL_EVENTS}
[/scenario]
