#textdomain wesnoth-loti
#define INSERT_INTO_ITEMS SORT ITEM_NUMBER
    [loti_item_storage_add]
        number = {ITEM_NUMBER}
        sort = {SORT}
    [/loti_item_storage_add]
#enddef
#define GEM_CASE NUMBER VARIABLE_NAME
    [case]
        value={NUMBER}
        [if]
            [variable]
                name={VARIABLE_NAME}
                greater_than=0
            [/variable]
            [then]
                {VARIABLE_OP {VARIABLE_NAME} add 1}
            [/then]
            [else]
                {VARIABLE {VARIABLE_NAME} 1}
            [/else]
        [/if]
    [/case]
#enddef
#define CANNOT_TAKE_OPTIONS
    [option]
        label=_"Store it."
        [show_if]
            [not]
                [variable]
                    name=no_inventory
                    equals=yes
                [/variable]
            [/not]
        [/show_if]
        [command]
            {INSERT_INTO_ITEMS $item_list.object[$item_number].sort| $item_list.object[$item_number].number|}
            [remove_item]
                x,y=$x1,$y1
                image=$item_list.object[$item_number].image
            [/remove_item]
            {CLEAR_VARIABLE items[$k]}
            {VARIABLE_OP l add -1}
            {VARIABLE picked 1}
        [/command]
    [/option]
    [option]
        label=_"Leave it on the ground."
        [command]
        [/command]
    [/option]
#enddef

#define GENERATE_ITEM_LIST
    [set_variables]
        name=item_list
        mode=replace
        [literal]
            {ITEM_LIST}
        [/literal]
    [/set_variables]
    {FOREACH item_list.object item_number}
        [describe_object]
            number=$item_list.object[$item_number].number
            sort=$item_list.object[$item_number].sort
            output=item_list.object[$item_number].description
        [/describe_object]
    {NEXT item_number}
    [clear_item_list_cache]
    [/clear_item_list_cache]
    [set_variables]		#Item types are used in the code, and translating them will cause errors. This should make the usage of language names easy
        name=item_type_translations
        [value]
            [armour]
                translation= _ "armour"
            [/armour]
            [helm]
                translation= _ "helm"
            [/helm]
            [gauntlets]
                translation= _ "gauntlets"
            [/gauntlets]
            [boots]
                translation= _ "boots"
            [/boots]
            [sword]
                translation= _ "sword"
            [/sword]
            [axe]
                translation= _ "axe"
            [/axe]
            [staff]
                translation= _ "staff"
            [/staff]
            [bow]
                translation= _ "bow"
            [/bow]
            [dagger]
                translation= _ "dagger"
            [/dagger]
            [xbow]
                translation= _ "crossbow"
            [/xbow]
            [knife]
                translation= _ "knife"
            [/knife]
            [mace]
                translation= _ "mace"
            [/mace]
            [spear]
                translation= _ "spear"
            [/spear]
            [polearm]
                translation= _ "polearm"
            [/polearm]
            [sling]
                translation= _ "sling"
            [/sling]
            [thunderstick]
                translation= _ "thunderstick"
            [/thunderstick]
            [claws]
                translation= _ "metal claws"
            [/claws]
            [essence]
                translation= _ "otherworldly essence"
            [/essence]
            [amulet]
                translation= _ "amulet"
            [/amulet]
            [ring]
                translation= _ "ring"
            [/ring]
            [cloak]
                translation= _ "cloak"
            [/cloak]
            [limited]
                translation= _ "limited"
            [/limited]
            [potion]
                translation= _ "potion"
            [/potion]
        [/value]
    [/set_variables]
#enddef

#define REMOVE_OBJECT SORT
    [store_unit]
        [filter]
            x,y=$x1,$y1
        [/filter]
        variable=gifted
        kill=no
    [/store_unit]
    {VARIABLE i 0}
    [while]
        [variable]
            name=i
            less_than=$gifted.modifications.object.length
        [/variable]
        [do]
            [if]
                [variable]
                    name=gifted.modifications.object[$i].sort
                    equals={SORT}
                [/variable]
                [then]
                    [item]
                        x,y=$x1,$y1
                        image=$gifted.modifications.object[$i].image
                        halo=halo/misc/leadership-flare-1.png:20,halo/misc/leadership-flare-2.png:20,halo/misc/leadership-flare-3.png:20,halo/misc/leadership-flare-4.png:20,halo/misc/leadership-flare-4.png:20,halo/misc/leadership-flare-6.png:20,halo/misc/leadership-flare-7.png:20,halo/misc/leadership-flare-8.png:20,halo/misc/leadership-flare-9.png:20,halo/misc/leadership-flare-10.png:20,halo/misc/leadership-flare-11.png:20,halo/misc/leadership-flare-12.png:20,halo/misc/leadership-flare-13.png:20,misc/blank-hex.png:1000
                    [/item]
                    {VARIABLE_OP items_dropped add 1}
                    [set_variables]
                        name=items_to_add
                        mode=append
                        [value]
                            x=$x1
                            y=$y1
                            type=$gifted.modifications.object[$i].number
                            sort={SORT}
                        [/value]
                    [/set_variables]
                    {PLACE_ITEM_EVENT $x1 $y1}
                    {CLEAR_VARIABLE gifted.modifications.object[$i]}
                [/then]
                [else]
                    [set_variable]
                        name=i
                        add=1
                    [/set_variable]
                [/else]
            [/if]
        [/do]
    [/while]
    {CLEAR_VARIABLE i}
    [unstore_unit]
        variable=gifted
        find_vacant=no
    [/unstore_unit]
    {CLEAR_VARIABLE gifted}
#enddef

#define ITEM_PICK
    [event]
        name=item_pick
        first_time_only=no
        [item_pick_menu]
            x,y=$x1,$y1
        [/item_pick_menu]
    [/event]
    [event]
        name=item_pick_inventory
        first_time_only=no
        [item_pick_menu_inventory]
            x,y=$x1,$y1
        [/item_pick_menu_inventory]
    [/event]
#enddef
