#textdomain wesnoth-loti
#define SOUL_EATER
    [event]
        name=die
        first_time_only=no

        [filter_second]
            ability=soul eater
            [or]
                ability=feeding_optimised
            [/or]
        [/filter_second]
        [store_unit]
            [filter]
                x,y=$x2,$y2
            [/filter]
            variable=eater
        [/store_unit]
        [if]
            [variable]
                name=eater.variables.max_devour_count
                greater_than=0
            [/variable]
            [else]
                {VARIABLE eater.variables.max_devour_count 30}
                {VARIABLE bool no}
                {VARIABLE soul_eater_advances "lightning,fireball,thunder,meteor,chill,shadowwave,resist_fire,resist_cold,resist_blade,resist_pierce,resist_impact,health,regeneration,absorb,heal,leadership,spirit,fire_penetrate,cold_penetrate,arcane_penetrate,blade_penetrate,impact_penetrate,pierce_penetrate"}   # Should be global, #define, or hidden away somewhere
                [foreach]
                    array=eater.modifications.advancement
                    [do]
                        [is_in_list]
                            list=$soul_eater_advances
                            string=$this_item.id
                            to_variable=bool
                        [/is_in_list]
                        [if]
                            [variable]
                                name=bool
                                equals=yes
                            [/variable]
                            [then]
                                {VARIABLE_OP eater.variables.max_devour_count multiply 3}
                                [set_variable]
                                    name=eater.variables.max_devour_count
                                    divide=2
                                    round=floor
                                [/set_variable]
                            [/then]
                        [/if]
                    [/do]
                [/foreach]
            [/else]
        [/if]
        {CLEAR_VARIABLE bool,soul_eater_advances}
        [if]
            [variable]
                name=eater.variables.devour_count
                greater_than=0
            [/variable]
            [then]
                {VARIABLE_OP eater.variables.devour_count add 1}
                [if]
                    [variable]
                        name=eater.variables.devour_count
                        greater_than_equal_to=$eater.variables.max_devour_count
                    [/variable]
                    [then]
#ifdef MULTIPLAYER
                        [if]
                            [variable]
                                name=side_number
                                equals=$eater.side
                            [/variable]
                            [then]
#endif
                                [show_redeem_menu]
                                    find_in=eater
                                    to_variable=chose
                                    ability_tree=soul_eater
                                [/show_redeem_menu]

                                {VARIABLE eater.modifications.advancement[$eater.modifications.advancement.length].id $chose}
                                {VARIABLE_OP eater.variables.devour_count sub $eater.variables.max_devour_count}
                                [if]
                                    [variable]
                                        name=eater.variables.devour_count
                                        less_than=0
                                    [/variable]
                                    [then]
                                        {VARIABLE eater.variables.devour_count 0}
                                    [/then]
                                [/if]
                                {VARIABLE_OP eater.variables.max_devour_count multiply 3}
                                [set_variable]
                                    name=eater.variables.max_devour_count
                                    divide=2
                                    round=floor
                                [/set_variable]
                                {VARIABLE question_asked "$eater.variables.devour_count|/$eater.variables.max_devour_count"}
                                {CLEAR_VARIABLE eater.variables.max_devour_count}	#Will be reviewed later, for possible errors

                                [unstore_unit]
                                    variable=eater
                                    {COLOR_HEAL}
                                    text="$question_asked"
                                    find_vacant=no
                                    advance=no
                                [/unstore_unit]
#ifdef MULTIPLAYER
                            [/then]
                            [else]
                                [unstore_unit]
                                    variable=eater
                                    {COLOR_HEAL}
                                    text="$eater.variables.devour_count|/$eater.variables.max_devour_count"
                                    find_vacant=no
                                    advance=no
                                [/unstore_unit]
                            [/else]
                        [/if]
#endif
                    [/then]
                    [else]
                        [unstore_unit]
                            variable=eater
                            {COLOR_HEAL}
                            text="$eater.variables.devour_count|/$eater.variables.max_devour_count"
                            find_vacant=no
                            advance=no
                        [/unstore_unit]
                    [/else]
                [/if]
            [/then]
            [else]
                {VARIABLE eater.variables.devour_count 1}
                [unstore_unit]
                    variable=eater
                    {COLOR_HEAL}
                    text="$eater.variables.devour_count|/$eater.variables.max_devour_count"
                    find_vacant=no
                    advance=no
                [/unstore_unit]
            [/else]
        [/if]
        {CLEAR_VARIABLE eater,chose,question_asked}
    [/event]
#enddef
