#the table of bindings "weapon name -> weapon type"
#define DEFAULT_WEAPON_BINDINGS
    [add_weapon_binding]
        name="sword"
        type="sword"
    [/add_weapon_binding]

    [add_weapon_binding]
        name="short sword"
        type="sword"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="greatsword"
        type="sword"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="long sword"
        type="sword"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="battlesword"
        type="sword"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="saber"
        type="sword"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="mberserk"
        type="sword"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="whirlwind"
        type="sword"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="spectral blades"
        type="sword"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="lichsword"
        type="sword"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="axe"
        type="axe"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="battle axe"
        type="axe"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="axe_whirlwind"
        type="axe"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="berserker frenzy"
        type="axe"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="cleaver"
        type="axe"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="hatchet"
        type="axe"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="bow"
        type="bow"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="longbow"
        type="bow"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="staff"
        type="staff"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="plague staff"
        type="staff"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="crossbow"
        type="xbow"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="slurbow"
        type="xbow"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="crossbow-whirlwind"
        type="xbow"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="dagger"
        type="dagger"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="knife"
        type="knife"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="throwing knife"
        type="knife"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="throwing knives"
        type="knife"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="mace"
        type="mace"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="mace-spiked"
        type="mace"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="morning star"
        type="mace"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="club"
        type="mace"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="flail"
        type="mace"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="scourge"
        type="mace"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="mace_berserk"
        type="mace"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="hammer"
        type="mace"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="hammer-runic"
        type="mace"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="spear"
        type="spear"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="javelin"
        type="spear"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="lance"
        type="spear"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="spike"
        type="spear"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="pike"
        type="spear"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="trident"
        type="spear"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="trident-blade"
        type="spear"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="pitchfork"
        type="spear"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="halberd"
        type="polearm"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="scythe"
        type="polearm"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="whirlwind-scythe"
        type="polearm"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="war talon"
        type="claws"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="claws"
        type="claws"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="battle claws"
        type="claws"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="war blade"
        type="claws"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="touch"
        type="essence"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="baneblade"
        type="essence"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="faerie touch"
        type="essence"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="vine"
        type="essence"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="torch"
        type="essence"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="sling"
        type="sling"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="bolas"
        type="sling"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="net"
        type="sling"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="thunderstick"
        type="thunderstick"
    [/add_weapon_binding]
    
    [add_weapon_binding]
        name="dragonstaff"
        type="thunderstick"
    [/add_weapon_binding]
#enddef
