#textdomain wesnoth-tbc
[unit_type]
    id=Exalted Blackguard
    name= _ "Exalted Blackguard"
    race=human
    image="units/humans/blackguard.png"
    small_profile="portraits/humans/transparent/iron-mauler.png~SCALE(205,205)~CS(-40,-60,-60)"
    profile="portraits/humans/transparent/iron-mauler.png~RIGHT()~CS(-40,-60,-60)"
    hitpoints=150
    movement_type=smallfoot
    movement=5
    experience=1000
    level=7
    alignment=chaotic
    advances_to=null
    cost=150
    halo=halo/darkens-aura.png
    description= _ "Exalted Blackguard is one of the worst kinds of criminal in existence. They aren't committing deeds of evil for selfish reasons, they are doing them because they want them to be done. They are servants of an evil force, whose only desire is to cause suffering."
    die_sound={SOUND_LIST:HUMAN_DIE}
    usage=fighter
    {DEFENSE_ANIM "units/humans/blackguard-defend-2.png" "units/humans/blackguard-defend-1.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
        {ABILITY_DARKENS}
    [dummy]
        id=blood_rain
        name= _ "blood rain"
#ifver WESNOTH_VERSION >= 1.11.2
        description= _ "Wherever this unit steps, it begins to rain blood, dealing 8 damage per turn to enemies slowing them and healing 8 hitpoints per turn to allies."
#else
        description= _ "Blood Rain: Wherever this unit steps, it begins to rain blood, dealing 8 damage per turn to allies and healing 8 hitpoints per turn to allies."
#endif
    [/dummy]
        {ABILITY_ABSORB_2}
    [/abilities]
    [resistance]
        blade=60
        pierce=60
    fire=80
    cold=80
    impact=90
    [/resistance]
    [portrait]
        size=400
        side="right"
        mirror="false"
        image="portraits/humans/transparent/iron-mauler.png~CS(-40,-60,-60)"
    [/portrait]
    [attack]
        name=scourge
        description=_"scourge"
        icon=attacks/scourge.png
        type=impact
        range=melee
        damage=12
        number=4
    [specials]
        {WEAPON_SPECIAL_DRAIN}
        {WEAPON_SPECIAL_HIT_AND_RUN}
    [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=scourge
        [/filter_attack]
        [frame]
            begin=-260
            end=-100
            image="units/humans/blackguard-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/humans/blackguard-attack-2.png"
                sound=flail.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/humans/blackguard-attack-2.png"
                sound=flail-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/humans/blackguard.png"
        [/frame]
    [/attack_anim]
    [event]
    name=turn refresh
    id=blood_rain
    first_time_only=no
    [store_unit]
        [filter]
            side=$side_number
            ability=blood_rain
        [/filter]
        variable=rainers
        kill=no
    [/store_unit]
    {FOREACH rainers i}
        {VARIABLE already no}
        {FOREACH blood_rain j}
            [if]
                [variable]
                    name=blood_rain[$j].x
                    equals=$rainers[$i].x
                [/variable]
                [and]
                    [variable]
                        name=blood_rain[$j].x
                        equals=$rainers[$i].x
                    [/variable]
                [/and]
                [and]
                    [variable]
                        name=blood_rain[$j].side
                        equals=$rainers[$i].side
                    [/variable]
                [/and]
                [then]
                    {VARIABLE already yes}
                [/then]
            [/if]
        {NEXT j}
        [if]
            [variable]
                name=already
                equals=yes
            [/variable]
            [else]
                [set_variables]
                    mode=replace
                    name=blood_rain[$blood_rain.length]
                    [value]
                        x,y=$rainers[$i].x,$rainers[$i].y
                        side=$rainers[$i].side
                    [/value]
                [/set_variables]
                [item]
                    halo=bloodrain/bloodrain-1.png:40,bloodrain/bloodrain-2.png:40,bloodrain/bloodrain-3.png:40,bloodrain/bloodrain-4.png:40,bloodrain/bloodrain-5.png:40,bloodrain/bloodrain-6.png:40,bloodrain/bloodrain-7.png:40,bloodrain/bloodrain-8.png:40,bloodrain/bloodrain-9.png:40,bloodrain/bloodrain-10.png:40
                    x,y=$rainers[$i].x,$rainers[$i].y
                [/item]
                [event]
                    name=victory
                    id=remove_blood_rain_notes
                    {CLEAR_VARIABLE blood_rain}
                [/event]
            [/else]
        [/if]
        {CLEAR_VARIABLE already}
    {NEXT i}
    [store_side]
        side=$side_number
        variable=this_side
    [/store_side]
    {FOREACH blood_rain i}
        [store_side]
            side=$blood_rain[$i].side
            variable=rain_side
        [/store_side]
        [if]
            [variable]
                name=this_side.team_name
                equals=$rain_side.team_name
            [/variable]
            [then]
                [heal_unit]
                    [filter]
                    [filter_location]
                        x,y=$blood_rain[$i].x,$blood_rain[$i].y
                        radius=1
                    [/filter_location]
                    side=$side_number
                    [/filter]
                    amount=8
                    animate=yes
                    restore_statuses=yes
                [/heal_unit]
            [/then]
            [else]
                [harm_unit]
                    [filter]
                    [filter_location]
                        x,y=$blood_rain[$i].x,$blood_rain[$i].y
                        radius=1
                    [/filter_location]
                    side=$side_number
                    [/filter]
                    amount=8
                    slowed=yes
                    kill=no
                [/harm_unit]
                [if]
                    [have_unit]
                        [filter_location]
                            x,y=$blood_rain[$i].x,$blood_rain[$i].y
                            radius=1
                        [/filter_location]
                        side=$side_number
                    [/have_unit]
                    [then]
                        [fire_event]
                            name=raining blood
                        [/fire_event]
                    [/then]
                [/if]
            [/else]
        [/if]
        {CLEAR_VARIABLE rain_side}
    {NEXT i}
    {CLEAR_VARIABLE rainers,this_side}
    [/event]
    [event]
    name=victory
    id=blood_rain_end
    {CLEAR_VARIABLE blood_rain}
    [/event]
[/unit_type]
