#textdomain wesnoth-tbc
[unit_type]
    id=Manhunter
    name= _ "Manhunter"
    race=human
    gender=female
    image="units/humans/exterminator+female.png~O(30%)"
    profile=units/unknown-unit.png
    hitpoints=250
    movement_type=elusivefoot
    movement=6
    experience=350
    level=8
    alignment=chaotic
    advances_to=null
    cost=60
    usage=fighter
    description= _ "This manhunter is shrouded in mystery."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/humans/exterminator+female-defend.png~O(30%)" "units/humans/exterminator+female.png~O(30%)" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [abilities]
        {ABILITY_SKIRMISHER}
    [dummy]
        id=spellcasting_shadow
        name= _ "spell casting"
#ifver WESNOTH_VERSION >= 1.11.2
        description= _ "At the beginning of this unit's turn, a spell is cast. It can be desecration that summons undead, magic storm that sends magical bolts at enemies or cave-in that deals damage and changes terrain."
#else
        description= _ "Spell Casting: At the beginning of this unit's turn, a spell is cast. It can be desecration that summons undead, magic storm that sends magical bolts at enemies or cave-in that deals damage and changes terrain."
#endif
    [/dummy]
    [/abilities]
    [attack]
        name=dagger
        description=_"dagger"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=scythe
        description=_"scythe"
        icon=attacks/scythe.png
        type=blade
        range=melee
        damage=17
        number=2
        [specials]
            {WEAPON_SPECIAL_CHAOS}
        [/specials]
    [/attack]
    [attack]
        name=knife
        description=_"knife"
        icon=attacks/dagger-thrown-poison-human.png
        type=blade
        range=ranged
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        damage=5
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-350
                end=-100
                image="units/humans/exterminator+female-throwknife-1.png~O(30%)"
                sound=throwing-knife.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-350
                end=-100
                image="units/humans/exterminator+female-throwknife-1.png~O(30%)"
                sound=throwing-knife-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=50
            image="units/humans/exterminator+female-throwknife-2.png~O(30%)"
        [/frame]
        [frame]
            begin=50
            end=50
            image="units/humans/exterminator+female.png~O(30%)"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        [frame]
            begin=-225
            end=-200
            image="units/humans/exterminator+female.png~O(30%)"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/humans/exterminator+female-dagger-1.png~O(30%)"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=150
                image="units/humans/exterminator+female-dagger-2.png~O(30%)"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=150
                image="units/humans/exterminator+female-dagger-2.png~O(30%)"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/humans/exterminator+female.png~O(30%)"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=scythe
        [/filter_attack]
        [frame]
            begin=-225
            end=-200
            image="units/humans/exterminator+female.png~O(30%)"
        [/frame]

        [if]
            hits=yes
            [frame]
                begin=-200
                end=0
                image="units/humans/exterminator+female-scythe-1.png~O(30%)"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=0
                image="units/humans/exterminator+female-scythe-1.png~O(30%)"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=150
            image="units/humans/exterminator+female-scythe-2.png~O(30%)"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/humans/exterminator+female.png~O(30%)"
        [/frame]
    [/attack_anim]
    [event]
    name=turn refresh
    id=spellcasting_shadow
    first_time_only=no
    [store_unit]
        [filter]
            side=$side_number
            ability=spellcasting_shadow
        [/filter]
        variable=casters
        kill=no
    [/store_unit]
    {FOREACH casters i}
        {VARIABLE_OP spell rand (desecrate,magic_storm,cave_in)}
        [switch]
            variable=spell
            [case]
                value=desecrate
                [floating_text]
                    x,y=$casters[$i].x,$casters[$i].y
                    text=_"Desecate!"
                [/floating_text]
                {VARIABLE count 0}
                [while]
                    [variable]
                        name=count
                        {QUANTITY less_than 4 5 6}
                    [/variable]
                    [do]
                        {GENERIC_UNIT $side_number Soulless $casters[$i].x $casters[$i].y}
                        [+unit]
                            attacks_left=0
                            moves=0
                        [/unit]
                        {VARIABLE_OP count add 1}
                    [/do]
                [/while]
                {CLEAR_VARIABLE count}
            [/case]
            [case]
                value=magic_storm
                [floating_text]
                    x,y=$casters[$i].x,$casters[$i].y
                    text=_"Magic Storm!"
                [/floating_text]
                {VARIABLE count 0}
                [while]
                    [variable]
                        name=count
                        {QUANTITY less_than 4 5 6}
                    [/variable]
                    [do]
                        {GENERIC_UNIT $side_number "Magic Missile" $casters[$i].x $casters[$i].y}
                        {VARIABLE_OP count add 1}
                    [/do]
                [/while]
                {CLEAR_VARIABLE count}
                [event]
                    name=turn end
                    [kill]
                        type=Magic Missile
                        animate=no
                        fire_event=no
                    [/kill]
                [/event]
                [event]
                    name=attacker hits
                    first_time_only=no
                    id=suicide_attacker_hits
                    [filter_attack]
                        special_id=suicide
                    [/filter_attack]
                    [kill]
                        id=$unit.id
                        animate=no
                        experience=no
                        fire_event=no
                    [/kill]
                [/event]
            [/case]
            [case]
                value=cave_in
                [floating_text]
                    x,y=$casters[$i].x,$casters[$i].y
                    text=_"Cave In!"
                [/floating_text]
                [store_unit]
                    [filter]
                        [filter_side]
                            [enemy_of]
                                side=$side_number
                            [/enemy_of]
                        [/filter_side]
                    [/filter]
                    variable=targets
                    kill=no
                [/store_unit]
                {VARIABLE_OP target rand "0..$targets.length"}
                [store_locations]
                    x,y=$targets[$target].x,$targets[$target].y
                    variable=terrain
                [/store_locations]
                [set_variables]
                    name=terrains
                    mode=replace
                    [split]
                        list=$terrain.terrain
                        key=identified
                        separator="^"
                        remove_empty=yes
                    [/split]
                [/set_variables]
                {EARTHQUAKE (
                    [terrain]
                        x,y=$targets[$target].x,$targets[$target].y
                        terrain=$terrains.identified|^Dr
                    [/terrain]
                )}
                [redraw]
                [/redraw]
                [harm_unit]
                    [filter]
                        id=$targets[$target].id
                    [/filter]
                    amount=24
                    damage_type=impact
                    fire_event=yes
                    animate=yes
                    experience=no
                    kill=yes
                [/harm_unit]
                {CLEAR_VARIABLE target,targets,terrains,terrain}
            [/case]
        [/switch]
        [fire_event]
            name=spellcast
            [primary_unit]
                id=$casters[$i]
            [/primary_unit]
        [/fire_event]
    {NEXT i}
    {CLEAR_VARIABLE casters,spell}
    [/event]
[/unit_type]
