#textdomain wesnoth-tbc
[unit_type]
    id=Reezer
    name= _ "Divine Child"
    race=monster
    image="reezer.png"
    hitpoints=49
    movement_type=fly
    movement=7
    experience=20
    level=3
    alignment=neutral
    advances_to=null
    cost=1000
    usage=scout
    hide_help=true
    do_not_list=yes
        [attack]
        name=lightning
        description=_"divine wrath"
        icon=attacks/lightning.png
        type=lightning
        range=ranged
        damage=17
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        [/attack]
[/unit_type]
