#textdomain wesnoth-tbc
[unit_type]
    id=Shuja tbc
    name= _ "Shuja"
    race=human # The name of this race is expected to vary after that the word 'Khalifa' suddenly got a far more evil meaning, so he'll be just a human with some unusual stats
    image="shuja/shuja.png"
    hitpoints=70
    movement_type=smallfoot
    [movement_costs]
            shallow_water=3
            reef=2
            swamp_water=3
            flat=1
            sand=1
            forest=2
            hills=2
            mountains=3
            village=1
            castle=1
            cave=2
            frozen=3
            fungus=2
    [/movement_costs]
    [defense]
            shallow_water=80
            reef=70
            swamp_water=70
            flat=60
            sand=50
            forest=60
            hills=40
            mountains=60
            village=50
            castle=40
            cave=60
            frozen=80
            fungus=60
    [/defense]
    [resistance]
            blade=80
            pierce=80
            impact=110
            fire=100
            cold=100
            arcane=80
    [/resistance]
    movement=5
    {QUANTITY experience 120 140 160}
    level=3
    alignment=lawful
    advances_to=null
    cost=58
    usage=fighter
    description= _ "Distinguished for their bravery and skill, Shujas are the leaders among their warlod's ranks. Their exploits are well known among their cohorts, inspiring soldiers to fight for their cause. Despite this, they are often found leading from the front, taking down their foes with sword and shield."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_SLOW}
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "shuja/shuja-block-2.png" "shuja/shuja-block-1.png" {SOUND_LIST:ELF_HIT} }
    [attack]
        name=long sword
        description= _ "long sword"
        icon=attacks/longsword.png
        type=blade
        range=melee
        damage=13
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=shield bash
        description= _ "shield bash"
        icon=attacks/heater-shield.png
        type=impact
        range=melee
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=long sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="shuja/shuja.png"
        [/frame]
        [frame]
            begin=-175
            end=-50
            image="shuja/shuja-attack-sword-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=100
                image="shuja/shuja-attack-sword-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=100
                image="shuja/shuja-attack-sword-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="shuja/shuja-attack-sword-3.png"
        [/frame]
        [frame]
            begin=175
            end=200
            image="shuja/shuja.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shield bash
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="shuja/shuja.png"
        [/frame]
        [frame]
            begin=-175
            end=-50
            image="shuja/shuja-attack-shield-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=100
                image="shuja/shuja-attack-shield-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=100
                image="shuja/shuja-attack-shield-2.png"
                sound=mace.wav
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="shuja/shuja-attack-shield-1.png"
        [/frame]
        [frame]
            begin=175
            end=200
            image="shuja/shuja.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA shuja/shuja.png shuja/shuja-attack-sword-1.png shuja/shuja-attack-sword-2.png shuja/shuja.png shuja/shuja-attack-sword-1.png shuja/shuja-attack-sword-2.png (
        [advancement]
            max_times=1
            id=sword
            description= _ "faster at sword combat"
            image="attacks/longsword.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=sword2
            description= _ "better with sword"
            image="attacks/longsword.png"
            strict_amla=yes
            require_amla="sword"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=sword3
            description= _ "faster with sword"
            image="attacks/longsword.png"
            strict_amla=yes
            require_amla="sword,sword2"
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=sword4
            description= _ "better with sword"
            image="attacks/longsword.png"
            strict_amla=yes
            require_amla="sword,sword2"
            [effect]
                apply_to=attack
                name=saber
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=shield
            description= _ "better with shield (+1 shield damage, +1% all terrain defences)"
            image="attacks/heater-shield.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-1
                    shallow_water=-1
                    reef=-1
                    flat=-1
                    castle=-1
                    village=-1
                    forest=-1
                    cave=-1
                    hills=-1
                    mountains=-1
                    fungus=-1
                    swamp_water=-1
                    sand=-1
                [/defense]
            [/effect]
            [effect]
                apply_to=attack
                name=shield bash
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=shield-speed
            description= _ "bashing faster with shield"
            image="attacks/heater-shield.png"
            strict_amla=yes
            require_amla="shield"
            [effect]
                apply_to=attack
                name=shield bash
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better protected from physical blows (3% better resistances)"
            image=icons/armor_leather.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-3
                    pierce=-3
                    impact=-3
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership
            description= _ "able to lead allies into battle (like a level 2 unit)"
            image=attacks/fist.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL 2}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership2
            description= _ "a better leader"
            image=attacks/fist.png
            strict_amla=yes
            require_amla="leadership"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL 2}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL 3}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership3
            description= _ "a better leader"
            image=attacks/fist.png
            strict_amla=yes
            require_amla="leadership2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL 3}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL 4}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=4
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            {AMLA_DEFAULT_BONUSES}
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/advancement]
    ) "Shuja tbc"}
