#textdomain wesnoth-loti
[scenario]
    id="03_Forest_of_Witchery"
    name= _ "Forest of Witchery"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/03_Forest_of_Witchery.map}"
    next_scenario=03s_In_the_Magical_Mirror
    victory_when_enemies_defeated=no
    {TURNS 23 20 17}
    {SCENARIO_MUSIC "the_dangerous_symphony.ogg"}
    {EXTRA_SCENARIO_MUSIC elvish-theme.ogg}
    {EXTRA_SCENARIO_MUSIC traveling_minstrels.ogg}
    {DEFAULT_SCHEDULE}

    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid
        {GOLD 300 250 200}
        team_name=good
        user_team_name=_"Good"
    [/side]

    [side]
        no_leader=yes
        side=2
        team_name=monsters
        user_team_name= _ "Monsters"
    [/side]
    [side]
        no_leader=yes
        side=3
        team_name=monsters
        user_team_name= _ "Monsters"
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description=_ "Move to the Great Tree at the south with anyone"
                condition=win
            [/objective]
            [objective]
                description=_ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description=_ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [recall]
            id=Lethalia
        [/recall]
        {GENERIC_UNIT 3 Wose 22 10}
        {GENERIC_UNIT 3 Wose 33 2}
        {GENERIC_UNIT 3 Wose 6 14}
        {GENERIC_UNIT 3 Wose 17 30}
        {GENERIC_UNIT 3 "Elder Wose" 32 25}
        {GENERIC_UNIT 3 Mist 11 30}
        {GENERIC_UNIT 3 Mist 24 32}
        {GENERIC_UNIT 3 Wolf 20 14}
#ifdef NORMAL
        {GENERIC_UNIT 3 "Elder Wose" 32 15}
#endif
#ifdef HARD
        {GENERIC_UNIT 3 "Elder Wose" 32 15}
        {GENERIC_UNIT 3 Mist 9 6}
#endif
    [/event]

    [story]
        [part]
            background=murky_forest.png
            story= _ "With a renewed sense of purpose after the inspiring conversation with the High Priest Jacob, Lethalia and Efraim kept on their southward course towards Arach."
        [/part]
        [part]
            background=murky_forest.png
            story= _ "Lethalia, even though her body is no longer animated by her natural elvish life, went through the forest alongside her other elvish companions just as she used to do before dying: swiftly and masterfully."
        [/part]
        [part]
            background=murky_forest.png
            story= _ "With the less experienced Efraim trailing behind most of the time, stuck in a thorny bush here and tripping on a tree root there, they covered a good distance over a day."
        [/part]
        [part]
            background=murky_forest.png
            story= _ "Lethalia suddenly halts before a portion of thicker woods. This allowed for Efraim to finally catch up with her, but something was not right. An eerie breeze sweeps through northwards, touched by which even their undead bodies cannot help but to shiver."
        [/part]
    [/story]

    [event]
        name=start
        [message]
            speaker=Lethalia
            message= _ "Can you feel it? There is evil here."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I did feel my body shivering, which is something I have not felt for a long time - quite invigorating I must add! One of the disadvantages of our kind of existence is this almost complete absence of physical sensations..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "There is a... dark presence... in the woods ahead. Something that is affecting the trees and the animals and maybe even attracting lower spirits..."
        [/message]
        [message]
            speaker=Efraim
            sound=wolf-growl-1.ogg
            message= _ "Those wolves don't sound very friendly... But from what you say, they may not be all we have to deal with crossing these woods..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "We must remain alert. Nothing in this forest is friendly, it is too... infected... by something... or someone... filling it with anger!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Then let us stay on our toes and try to avoid trouble and quickly move through south. Stay alert!"
        [/message]
    [/event]
    #I know that the enemies could be randomly placed across the forest. But they are supposed to attack the player, not to ambush him, so the exact locations
    #are not important.
    [event]
        name=turn 4
        {GENERIC_UNIT 3 Wose 26 1}
        {GENERIC_UNIT 3 Mist 1 12}
        {GENERIC_UNIT 3 Mist 1 17}
        {GENERIC_UNIT 3 Wolf 21 28}
#ifdef NORMAL
        {GENERIC_UNIT 3 "Wose" 4 20}
#endif
#ifdef HARD
        {GENERIC_UNIT 3 "Wose" 4 20}
        {GENERIC_UNIT 3 Mist 19 21}
#endif
#ifndef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_II
        {GENERIC_UNIT 3 Wose 26 1}
        {GENERIC_UNIT 3 Mist 1 12}
        {GENERIC_UNIT 3 Mist 1 17}
        {GENERIC_UNIT 3 Wolf 21 28}
        {GENERIC_UNIT 3 "Wose" 4 20}
        {GENERIC_UNIT 3 "Wose" 4 20}
        {GENERIC_UNIT 3 Mist 19 21}
#endif
    [/event]
    [event]
        name=turn 8
        {GENERIC_UNIT 3 "Will_o_Wisp" 18 4}
        {GENERIC_UNIT 3 "Will_o_Wisp" 20 8}
        {GENERIC_UNIT 3 Wolf 34 5}
#ifdef NORMAL
        {GENERIC_UNIT 3 "Will_o_Wisp" 5 5}
#endif
#ifdef HARD
        {GENERIC_UNIT 3 "Wose" 4 20}
        {GENERIC_UNIT 3 "Will_o_Wisp" 5 5}
#endif
#ifndef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_II
        {GENERIC_UNIT 3 "Will_o_Wisp" 18 4}
        {GENERIC_UNIT 3 "Will_o_Wisp" 20 8}
        {GENERIC_UNIT 3 Wolf 34 5}
        {GENERIC_UNIT 3 "Wose" 4 20}
        {GENERIC_UNIT 3 "Will_o_Wisp" 5 5}
#endif
    [/event]
    [event]
        name=turn 10
        {GENERIC_UNIT 3 "Elder Wose" 15 34}
        {GENERIC_UNIT 3 Mist 14 27}
        {GENERIC_UNIT 3 Wolf 5 25}
#ifdef NORMAL
        {GENERIC_UNIT 3 "Wose" 33 26}
#endif
#ifdef HARD
        {GENERIC_UNIT 3 "Wose" 33 26}
        {GENERIC_UNIT 3 Mist 30 33}
#endif
#ifndef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_II
        {GENERIC_UNIT 3 "Elder Wose" 15 34}
        {GENERIC_UNIT 3 Mist 14 27}
        {GENERIC_UNIT 3 Wolf 5 25}
        {GENERIC_UNIT 3 "Wose" 33 26}
        {GENERIC_UNIT 3 Mist 30 33}
#endif
    [/event]
    [event]
        name=turn 14
        {GENERIC_UNIT 3 "Will_o_Wisp" 19 5}
        {GENERIC_UNIT 3 "Will_o_Wisp" 20 4}
        {GENERIC_UNIT 3 "Wose" 22 4}
        {GENERIC_UNIT 3 Wolf 34 5}
#ifdef NORMAL
        {GENERIC_UNIT 3 "Will_o_Wisp" 5 5}
#endif
#ifdef HARD
        {GENERIC_UNIT 3 "Wose" 4 20}
        {GENERIC_UNIT 3 "Will_o_Wisp" 5 5}
#endif
#ifndef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_II
        {GENERIC_UNIT 3 "Will_o_Wisp" 19 5}
        {GENERIC_UNIT 3 "Will_o_Wisp" 20 4}
        {GENERIC_UNIT 3 "Wose" 22 4}
        {GENERIC_UNIT 3 Wolf 34 5}
        {GENERIC_UNIT 3 "Wose" 4 20}
        {GENERIC_UNIT 3 "Will_o_Wisp" 5 5}
#endif
    [/event]
    [event]
        name=turn 16
        {GENERIC_UNIT 3 Wose 3 1}
        {GENERIC_UNIT 3 Mist 12 15}
        {GENERIC_UNIT 3 Mist 20 12}
        {GENERIC_UNIT 3 Wolf 11 28}
#ifdef NORMAL
        {GENERIC_UNIT 3 "Wose" 4 20}
#endif
#ifdef HARD
        {GENERIC_UNIT 3 "Wose" 4 20}
        {GENERIC_UNIT 3 Mist 19 21}
#endif
#ifndef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_II
        {GENERIC_UNIT 3 Wose 3 1}
        {GENERIC_UNIT 3 Mist 12 15}
        {GENERIC_UNIT 3 Mist 20 12}
        {GENERIC_UNIT 3 Wolf 11 28}
        {GENERIC_UNIT 3 "Wose" 4 20}
        {GENERIC_UNIT 3 Mist 19 21}
#endif
    [/event]
    [event]
        name=turn 20
        {GENERIC_UNIT 3 "Will_o_Wisp" 18 4}
        {GENERIC_UNIT 3 "Will_o_Wisp" 25 8}
        {GENERIC_UNIT 3 "Ancient Wose" 22 4}
        {GENERIC_UNIT 3 Wolf 34 5}
#ifdef NORMAL
        {GENERIC_UNIT 3 "Will_o_Wisp" 5 5}
#endif
#ifdef HARD
        {GENERIC_UNIT 3 "Wose" 4 20}
        {GENERIC_UNIT 3 "Will_o_Wisp" 5 5}
#endif
#ifndef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_II
        {GENERIC_UNIT 3 "Will_o_Wisp" 18 4}
        {GENERIC_UNIT 3 "Will_o_Wisp" 25 8}
        {GENERIC_UNIT 3 "Ancient Wose" 22 4}
        {GENERIC_UNIT 3 Wolf 34 5}
        {GENERIC_UNIT 3 "Wose" 4 20}
        {GENERIC_UNIT 3 "Will_o_Wisp" 5 5}
#endif
    [/event]
    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "The forest... the spirits! They're swallowing me!! AHHHHHH!!!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            sound=ambient/wardrums.ogg
            message= _ "War drums in the distance! Lilith's army is approaching and we're stuck here! We failed!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "Efraim, wake up! We must defeat them! Wake up! Wake up! Nooooo! WAKE UP!!!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=8,35
        [/filter]
        [message]
            speaker=Efraim
            message= _ "We made it. Let us get out of here."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Not yet, wait. This tree... it has not fallen yet to the evil that infests the rest of the forest."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I don't think it is a good idea to stay here much longer!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Shh... it is trying to tell me something... it is channelling its essence... with another tree inside Arach's castle!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "So?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I am getting visions of what is happening there now! We may find out what Lilith's minions are planning! Let me try to amplify the channel to you... I think this spell will do it..."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 4 1 13 43 8-18,38-48}
    {GLOBAL_EVENTS}
    {DROPS 2 3 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear) no 2,3}
    experience_modifier=125
[/scenario]
