#textdomain wesnoth-loti
[scenario]
    id="06_The_Army_of_Darkness"
    name= _ "The Army of Darkness"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/06_Deep_Lake.map}"
    next_scenario=07_Infinite_Legion
    victory_when_enemies_defeated=yes
    {TURNS 21 19 17}
    {SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC weight_of_revenge.ogg}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}

    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Lord
        {GOLD 600 500 400}
        team_name=good
        user_team_name=_"Good"
    [/side]
    {STARTING_VILLAGES 1 2}
    [side]
        type=Mermaid Siren
        id=Luala
        name=Luala
        random_traits=yes
        side=2
        canrecruit=yes
        recruit=Mermaid Siren,Mermaid Enchantress,Mermaid Initiate,Mermaid Priestess,Mermaid Diviner,Merman Fighter,Merman Entangler,Merman Hunter,Merman Netcaster,Merman Hoplite,Merman Javelineer,Merman Spearman,Merman Triton,Merman Spearman,Merman Warrior
        team_name=good
        user_team_name=_"Good"
        gold=450
    [/side]
    {STARTING_VILLAGES 2 10}
    [side]
        no_leader=yes
        side=3
        team_name=good,evil
        user_team_name=_"Good"
        ai_algorithm=idle_ai
        [unit]
            type=Merchant
            x,y=10,20
            id=trader
            generate_name=yes
            ai_special=guardian
            [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    [effect]
                        apply_to=movement
                        set=0
                    [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
            [/modifications]
        [/unit]
    [/side]
    [side]
        type=Reaper
        side=4
        canrecruit=yes
        recruit=Ghost,Wraith,Spectre,Shadow,Nightgaunt
        team_name=evil
        user_team_name=_"Evil"
        {GOLD 200 400 850}
        income=20
        {AI_OVERHAUL_PLACE 4}
        {AI_OVERHAUL_PLACE_2 4}
    [/side]
    {STARTING_VILLAGES 3 2}
    [side]
        type=Dark Shade
        side=5
        canrecruit=yes
        recruit=Ghost,Wraith,Spectre,Shadow,Nightgaunt
        team_name=evil
        user_team_name=_"Evil"
        {GOLD 100 300 500}
        income=20
        {AI_OVERHAUL_PLACE 5}
        {AI_OVERHAUL_PLACE_2 5}
    [/side]
    [side]
        type=Reaper
        side=6
        canrecruit=yes
        recruit=Ghost,Wraith,Spectre,Shadow,Nightgaunt
        team_name=evil
        user_team_name=_"Evil"
        {GOLD 500 650 800}
        income=30
        {AI_OVERHAUL_PLACE 6}
        {AI_OVERHAUL_PLACE_2 6}
    [/side]
    {STARTING_VILLAGES 5 2}
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        {GENERIC_UNIT 4 Nightgaunt 55 11}
        {GENERIC_UNIT 4 Spectre 49 12}
        {GENERIC_UNIT 4 Wraith 29 12}
        {GENERIC_UNIT 4 Shadow 21 9}
        {GENERIC_UNIT 4 Wraith 54 40}
        {GENERIC_UNIT 4 Shadow 47 43}
        {GENERIC_UNIT 4 Ghost 54 31}
        {GENERIC_UNIT 4 Wraith 53 24}
        {GENERIC_UNIT 4 Shadow 47 41}
        {GENERIC_UNIT 4 Ghost 52 18}
        {GENERIC_UNIT 5 Nightgaunt 7 32}
        {GENERIC_UNIT 5 Spectre 22 28}
        {GENERIC_UNIT 5 Wraith 24 32}
        {GENERIC_UNIT 5 Shadow 7 38}
        {GENERIC_UNIT 5 Wraith 5 40}
        {GENERIC_UNIT 5 Shadow 13 42}
        {GENERIC_UNIT 5 Ghost 24 21}
        {GENERIC_UNIT 5 Wraith 26 31}
        {GENERIC_UNIT 5 Shadow 30 44}
        {GENERIC_UNIT 5 Ghost 42 40}
        {GENERIC_UNIT 6 Nightgaunt 21 15}
        {GENERIC_UNIT 6 Spectre 12 8}
        {GENERIC_UNIT 6 Wraith 9 4}
        {GENERIC_UNIT 6 Shadow 4 12}
        {GENERIC_UNIT 6 Wraith 12 11}
        {GENERIC_UNIT 6 Shadow 21 15}
        {GENERIC_UNIT 6 Ghost 3 18}
        {GENERIC_UNIT 6 Wraith 19 19}
        {GENERIC_UNIT 6 Shadow 27 22}
        {GENERIC_UNIT 6 Ghost 24 26}
    [/event]

    [story]
        [part]
            background=story/path4.jpg
            story= _ "The journey south towards Arach was not an easy and quiet march as they hoped. When they were approaching a river, a feeling of malice lurking about in every shadow grew inside them. A feeling such as this could never be taken for a good omen, but a clear sign, proclaiming the arrival of something terrible..."
        [/part]
    [/story]

    [event]
        name=start
        [recall]
            id=Lethalia
        [/recall]
        [message]
            speaker=Efraim
            message= _ "Shadows! Evil shades! We must not engage them in the water! The advantage will be theirs there! And there are too many of them!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Yes, it seems that they may have been sent to cut us off at the river, but we can still outwit them. Most of these undead are mindless and they rushed towards us as soon as we were detected. Many of them have already crossed the river. We will stand a better chance if we make use of that and fight them before we ford the river."
        [/message]
        [message]
            speaker=Luala
            message= _ "Elves! Help us! We have long expected the arrival of filth to our mother-waters and have readied our best and bravest mermen warriors but the evil outnumber us. We are hopeful as to the defence of our lake, but their sheer numbers may tip the scales against us all. Help us, land beings! The honour of the Elves is recognised even the legends of the water people."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "(whispering) Hmm... gladly the news of corruption among the elvish kind appears to not yet have reached the depth of their water cities. We must help and we must succeed."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Yes, friends, we will fight alongside you! We will squeeze them between ourselves, between land and water. There are still too many of them; it will not be easy. And we must hurry before they are able to take good positions."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Luala
        [/filter]
        [message]
            speaker=Luala
            message= _ "We could not sustain their attack! We are lost! Please! Stop them here before they spread to any other of our kind's cities!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "They will be stopped!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=Efraim
            message= _ "No! You cannot die here! We must stop Lilith!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "The rest of their army is arriving and we are still fighting the spirits. We are doomed now!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=Efraim
            message= _ "No, I cannot die here! We must stop Lilith!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=enemies defeated
        [message]
            speaker=Lethalia
            message= _ "Victory! We have to hurry now because if more of them catch us again now, we will surely die. Come!"
        [/message]
        {CLEAR_VARIABLE i1}
        {CLEAR_VARIABLE i2}
        {CLEAR_VARIABLE i3}
        {CLEAR_VARIABLE i4}
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            [filter_adjacent]
                x,y=10,20
            [/filter_adjacent]
        [/filter]
        [store_gold]
            side=1
            variable=gold
        [/store_gold]
        [message]
            speaker=trader
            message= _ "Hello, I am a trader. I sell items. Look at my stock and tell me what would you like to look at more closely."
            {SELL_GEMS}
            {SHOP_ITEM _"Leather Armour" 30 41 items/armour-leather.png i1}
            {SHOP_ITEM _"Woodland Cloak" 60 34 items/cloak-green.png i2}
            {SHOP_ITEM _"The Vile Knife" 30 54 items/dagger.png i3}
            {SHOP_ITEM _"Fine Bow" 70 23 items/bow-elven.png i4}
            [option]
                message=_"Nothing"
                [command]
                [/command]
            [/option]
        [/message]
        {CLEAR_VARIABLE gold}
    [/event]
    {BEELZEBUB_SPAWN_POINT 7 2 25 34 15-35,29-39}
    {FORCE_CHANCE_TO_HIT side=4,5,6 id=trader 0 ()}
    {GLOBAL_EVENTS}
    {DROPS 2 3 (sword,sword,sword,bow,bow,staff) yes 4,5,6}
    experience_modifier=125
[/scenario]
