#textdomain wesnoth-loti
[scenario]
    id="07_Infinite_Legion"
    name= _ "Infinite Legion"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/07_Northern_Woods.map}"
    next_scenario=08_Sightseeing
    victory_when_enemies_defeated=no
    turns=35
    {SCENARIO_MUSIC "heroes_rite.ogg"}
    {EXTRA_SCENARIO_MUSIC weight_of_revenge.ogg}
    {EXTRA_SCENARIO_MUSIC the_dangerous_symphony.ogg}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
#define DIVISION Z W X Y
    [unit]
        type={Z}
        id={W}
        x={X}
        y={Y}
        side=5
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    increase_damage=30%
                [/effect]
                [effect]
                    apply_to=hitpoints
                    increase_total=30%
                    increase=30%
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/unit]
    {GENERIC_UNIT 5 Draug {X} {Y}}
    [+unit]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    set_type=fire
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/unit]
#ifdef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_II
    {GENERIC_UNIT 5 Deathblade {X} {Y}}
#else
    {GENERIC_UNIT 5 "Grim Knight" {X} {Y}}
#endif
    [+unit]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_WEAK_REFLECT}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/unit]
    {GENERIC_UNIT 5 Deathblade {X} {Y}}
    [+unit]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=resistance
                    replace=true
                    [resistance]
                        arcane=30
                    [/resistance]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/unit]
#ifdef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_II
    {GENERIC_UNIT 5 Revenant {X} {Y}}
#else
    {GENERIC_UNIT 5 "Deathlord" {X} {Y}}
#endif
    [+unit]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=resistance
                    replace=true
                    [resistance]
                        fire=40
                    [/resistance]
                [/effect]
                [effect]
                    apply_to=attack
                    set_type=impact
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/unit]
    {GENERIC_UNIT 5 "Bone Shooter" {X} {Y}}
    [+unit]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_MARKSMAN}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/unit]
#ifdef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_II
    {GENERIC_UNIT 5 Banebow {X} {Y}}
#else
    {GENERIC_UNIT 5 "Soul Shooter" {X} {Y}}
#endif
    [+unit]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    set_type=arcane
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/unit]
    {GENERIC_UNIT 5 "Monstrosity" {X} {Y}}
    [+unit]
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=resistance
                    replace=true
                    [resistance]
                        fire=50
                        arcane=50
                    [/resistance]
                [/effect]
                [effect]
                    apply_to=attack
                    increase_damage=3
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/unit]
#enddef
    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger
        {GOLD 600 500 400}
        team_name=good
        user_team_name=_"Good"
    [/side]
    {STARTING_VILLAGES 1 4}
    [side]
        no_leader=yes
        side=2
        team_name=wolves
        user_team_name=_"Wolves"
    [/side]
    [side]
        no_leader=yes
        side=3
        team_name=water_creatures
        user_team_name=_"Water Creatures"
    [/side]
    [side]
        no_leader=yes
        side=4
        team_name=bats
        user_team_name=_"Bats"
    [/side]
    [side]
        no_leader=yes
        side=5
        team_name=evil
        user_team_name=_"Evil"
        {AI_OVERHAUL_PLACE 5}
        {AI_OVERHAUL_PLACE_2 5}
    [/side]
    {STARTING_VILLAGES 5 35}
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Reach the southern edge of the map with Efraim or Lethalia"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note= _ "Note: Better use skip AI moves in preferences menu
"+{EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        {GENERIC_UNIT 2 Wolf 14 5}
        {GENERIC_UNIT 2 Wolf 15 5}
        {GENERIC_UNIT 2 Wolf 16 5}
        {GENERIC_UNIT 2 Wolf 11 6}
        {GENERIC_UNIT 2 Wolf 12 4}
        {GENERIC_UNIT 2 Wolf 14 4}
        {GENERIC_UNIT 2 Wolf 7 6}
        {GENERIC_UNIT 2 Wolf 19 8}
        {GENERIC_UNIT 2 Wolf 14 2}
        {GENERIC_UNIT 3 "Sea Serpent" 9 36}
        {GENERIC_UNIT 3 "Cuttle Fish" 8 36}
        {GENERIC_UNIT 3 "Cuttle Fish" 10 35}
        {GENERIC_UNIT 3 "Cuttle Fish" 7 36}
        {GENERIC_UNIT 3 "Tentacle of the Deep" 9 34}
        {GENERIC_UNIT 3 "Tentacle of the Deep" 7 35}
        {GENERIC_UNIT 3 "Tentacle of the Deep" 9 37}
        {GENERIC_UNIT 3 "Tentacle of the Deep" 11 36}
        {GENERIC_UNIT 4 "Blood Bat" 72 20}
        {GENERIC_UNIT 4 "Dread Bat" 70 17}
        {GENERIC_UNIT 4 "Vampire Bat" 69 19}
        {GENERIC_UNIT 4 "Vampire Bat" 69 17}
        {GENERIC_UNIT 4 "Vampire Bat" 70 19}
        {GENERIC_UNIT 4 "Blood Bat" 66 20}
        {DIVISION "Deathlord" EL1 9 29}
        {DIVISION "Deathlord" EL4 16 32}
#ifdef HARD
        {DIVISION "Deathlord" EL5 29 37}
        {DIVISION "Deathlord" EL13 64 28}
        {DIVISION "Soul Shooter" EL12 70 34}
        {DIVISION "Ancient Lich" EL3 2 36}
        {DIVISION Deathlord EL2 18 25}
#endif
#ifdef NORMAL
        {DIVISION "Deathlord" EL5 29 37}
        {DIVISION "Deathlord" EL13 64 28}
        {DIVISION "Ancient Lich" EL2 18 25}
#endif
        {DIVISION "Ancient Lich" EL7 8 22}
        {DIVISION "Deathlord" EL8 12 9}
        {DIVISION "Deathlord" EL9 6 38}
        {DIVISION Deathlord EL10 4 32}
        {DIVISION "Ancient Lich" EL11 63 36}
        {DIVISION "Ancient Lich" EL14 70 22}
        {DIVISION "Grim Knight" EL15 9 17}
        {DIVISION Deathlord EL16 16 1}
        {DIVISION Deathlord EL21 16 15}
        {DIVISION Deathlord EL17 42 36}
        {DIVISION "Grim Knight" EL18 70 12}
        {DIVISION "Ancient Lich" EL19 55 36}
        {DIVISION "Grim Knight" EL20 70 26}
#ifndef CAMPAIGN_LEGEND_OF_THE_INVINCIBLES_II
        {DIVISION Deathlord EL24 66 32}
        {DIVISION Deathlord EL22 60 35}
        {DIVISION Deathlord EL23 53 35}
        {DIVISION "Grim Knight" EL25 37 33}
#endif
    [/event]
    [story]
        [part]
            background=story/path4.jpg
            story= _ "Victory over the shadows brought no comfort to Lethalia. In fact, a feeling of unease filled her as she led the party southward alongside Efraim. It was a slight knot in the stomach, a bad premonition about the path ahead - something she dared not speak, lest it be made real. Albeit unspoken, her fears were not unfounded. There is also another, far darker magic creating reality around them as they travel..."
        [/part]
    [/story]
    [event]
        name=start
        [recall]
            id=Lethalia
        [/recall]
        [recall]
            id=Efraim
        [/recall]
        [message]
            speaker=Efraim
            message= _ "What is this now?! We will never defeat an army so huge! And we are surrounded!"
        [/message]
        [scroll_to_unit]
            id=EL8
        [/scroll_to_unit]
        [scroll_to_unit]
            id=EL4
        [/scroll_to_unit]
        [scroll_to_unit]
            id=EL9
        [/scroll_to_unit]
        [scroll_to_unit]
            id=EL11
        [/scroll_to_unit]
        [scroll_to_unit]
            id=EL10
        [/scroll_to_unit]
        [scroll_to_unit]
            id=EL16
        [/scroll_to_unit]
        [scroll_to_unit]
            id=EL19
        [/scroll_to_unit]
        [message]
            speaker=Lethalia
            message= _ "No, we can beat them... It is not hopeless! We must try to attack them while they ford the river, just as we did when we were fighting the orcs before! And the beasts of the wild have not taken sides, they will slow and disturb them!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "I did not mean that... I was not desperate, you know? I just think there is another way. The forest is unwelcoming to these monsters, it will also slow down their progress. We could send a detachment to lure them away. Once they are far enough and we have lost them, our decoy can sneak back to us. The undead will not be able to catch up. We may not need to fight them as we did the shadows before."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=Efraim
            message= _ "Lethalia! We had planned so well..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Look! More corrupted elves are arriving to finish us. Now we are done for!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "Courage and wits could not save us... Wesnoth is doomed..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=1-72,38-40
            canrecruit=yes
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "It worked! Let us get moving quickly! Arach awaits our judgement!"
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 6 2 57 34 52-62,29-39}
    {GLOBAL_EVENTS}
    {DROPS 2 3 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear) no 2,3,4,5}
    experience_modifier=125
[/scenario]
