#textdomain wesnoth-loti
[scenario]
    id="09_Underground"
    name= _ "Underground"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/09_Labyrinth.map}"
    next_scenario=10_Lilith
    victory_when_enemies_defeated=no
    {TURNS 25 23 21}
    #The glowing runes indicate the incorrect way. Patters are just to confuse.
    #If the player doesn't find it out, he can to try it again.
    {SCENARIO_MUSIC "the_deep_path.ogg"}
    {EXTRA_SCENARIO_MUSIC into_the_shadows.ogg}
    {EXTRA_SCENARIO_MUSIC the_city_falls.ogg}
    {INDOORS}
    {PLACE_IMAGE scenery/rune1.png 25 23}
    {PLACE_IMAGE scenery/rune1.png 24 20}
    {PLACE_IMAGE scenery/rune1-glow.png 28 19}
    {PLACE_IMAGE scenery/rune1-glow.png 30 21}
    {PLACE_IMAGE scenery/rune2-glow.png 26 18}
    {PLACE_IMAGE scenery/rune2-glow.png 30 17}
    {PLACE_IMAGE scenery/rune3.png 23 17}
    {PLACE_IMAGE scenery/rune3.png 25 14}
    {PLACE_IMAGE scenery/rune3-glow.png 29 15}
    {PLACE_IMAGE scenery/rune3-glow.png 31 12}
    {PLACE_IMAGE scenery/rune4-glow.png 28 11}
    {PLACE_IMAGE scenery/rune4-glow.png 28 9}
    {PLACE_IMAGE scenery/rune5.png 18 17}
    {PLACE_IMAGE scenery/rune5.png 12 16}
    {PLACE_IMAGE scenery/rune5-glow.png 7 17}
    {PLACE_IMAGE scenery/rune5-glow.png 3 18}
    {PLACE_IMAGE scenery/rune6-glow.png 8 20}
    {PLACE_IMAGE scenery/rune6-glow.png 5 20}
    {PLACE_IMAGE scenery/rune1-glow.png 4 23}
    {PLACE_IMAGE scenery/rune1-glow.png 2 21}
    {PLACE_IMAGE scenery/rune2.png 12 19}
    {PLACE_IMAGE scenery/rune2.png 12 22}
    {PLACE_IMAGE scenery/rune2-glow.png 12 24}
    {PLACE_IMAGE scenery/rune2-glow.png 7 23}
    {PLACE_IMAGE scenery/rune3-glow.png 4 14}
    {PLACE_IMAGE scenery/rune3-glow.png 2 11}
    {PLACE_IMAGE scenery/rune4.png 11 14}
    {PLACE_IMAGE scenery/rune4.png 20 13}
    {PLACE_IMAGE scenery/rune5-glow.png 9 13}
    {PLACE_IMAGE scenery/rune5-glow.png 10 8}
    {PLACE_IMAGE scenery/rune6-glow.png 5 9}
    {PLACE_IMAGE scenery/rune6-glow.png 8 7}
    {PLACE_IMAGE scenery/rune1.png 16 7}
    {PLACE_IMAGE scenery/rune1.png 13 4}
    {PLACE_IMAGE scenery/rune1-glow.png 11 3}
    {PLACE_IMAGE scenery/rune1-glow.png 7 2}
    {PLACE_IMAGE scenery/rune2-glow.png 9 6}
    {PLACE_IMAGE scenery/rune2-glow.png 2 3}
    {PLACE_IMAGE scenery/rune4.png 23 9}
    {PLACE_IMAGE scenery/rune4.png 26 4}
    {PLACE_IMAGE scenery/rune4-glow.png 20 4}
    {PLACE_IMAGE scenery/rune4-glow.png 18 2}
    {PLACE_IMAGE scenery/rune3.png 23 2}
    {PLACE_IMAGE scenery/rune3.png 31 2}

#define LABYRINTH_SPAWN_POINT PERIOD X Y
    [event]
        name=side turn
        first_time_only=no
        [if]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [then]
                {VARIABLE do_spawn $turn_number}
                {VARIABLE_OP do_spawn modulo {PERIOD}}
                [if]
                    [variable]
                        name=do_spawn
                        equals=1
                    [/variable]
                    [then]
#ifdef EASY
                        {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghoul,Ghast,Necrophage,Walking Corpse,Soulless,Ghost,Wraith,Spectre,Revenant,Deathblade,Shadow,Nightgaunt,Bone Shooter,Banebow,Chocobone,Draug,Death Knight,Monstrosity)}
#else
                        {VARIABLE_OP spawn_type rand (Skeleton,Skeleton Archer,Ghoul,Ghast,Necrophage,Walking Corpse,Soulless,Ghost,Wraith,Soul Shooter,Spectre,Revenant,Grim Knight,Deathblade,Shadow,Nightgaunt,Bone Shooter,Banebow,Chocobone,Draug,Death Knight,Deathlord,Reaper,Monstrosity,Abomination)}
#endif
                        {GENERIC_UNIT 2 $spawn_type {X} {Y}}
#ifdef HARD
                        [+unit]
                            [modifications]
                                [trait]
                                    id=better
                                    male_name= _ "masterfully made"
                                    description= _ "Made better than other undead"
                                    [effect]
                                        apply_to=hitpoints
                                        increase_total=5
                                    [/effect]
                                    [effect]
                                        apply_to=hitpoints
                                        times=per level
                                        increase_total=3
                                    [/effect]
                                    [effect]
                                        apply_to=attack
                                        times=per level
                                        increase_damage=1
                                    [/effect]
                                [/trait]
                            [/modifications]
                        [/unit]
#endif
                    [/then]
                [/if]
            [/then]
        [/if]
        {CLEAR_VARIABLE do_spawn}
        {CLEAR_VARIABLE spawn_type}
    [/event]
#enddef

    [side]
        type=Efraim_lich
        id=Efraim
        name=_"Efraim"
        canrecruit=yes
        side=1
        controller=human
        recruit=Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Druid,Elvish Sorceress,Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger
        gold=0
        shroud=yes
        team_name=good
        user_team_name=_"Good"
    [/side]
    [side]
        no_leader=yes
        side=2
        team_name="Creep"
        user_team_name=_"Creep"
    [/side]
    {LABYRINTH_SPAWN_POINT 7 6 1}
    {LABYRINTH_SPAWN_POINT 4 4 6}
    {LABYRINTH_SPAWN_POINT 7 2 21}
    {LABYRINTH_SPAWN_POINT 4 14 22}
    {LABYRINTH_SPAWN_POINT 5 30 21}
    {LABYRINTH_SPAWN_POINT 8 30 12}
    {LABYRINTH_SPAWN_POINT 6 18 1}
    {LABYRINTH_SPAWN_POINT 4 31 1}
    {LABYRINTH_SPAWN_POINT 3 29 1}

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Get to the northern exit with one of your leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
    [/event]

    [event]
        name=start
        [recall]
            id=Lethalia
        [/recall]

        [message]
            speaker=Lethalia
            message= _ "We must hurry! We are surely being chased. We must reach Lilith before they reach us. If we are caught here, there is no escape for us."
        [/message]
        [message]
            speaker=Efraim
            message= _ "But this looks like a labyrinth. We do not know the way."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "These runes probably indicate the way, but I cannot make anything of them. They have been set in a way only their initiates can understand."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=Efraim
            message= _ "How did you, puny abomination, dare to kill my Lethalia...!? I will destroy you, your masters, your friends, your descendants, your gods, your ancenstors, your world, your..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=Efraim
            message= _ "I think that I received too much damage to be able to restore myself. Can you help me, Lethalia?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Yes, let... a curse on this world, it is too late, his spirit is already gone!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "They are coming... we shall be surrounded in these dark tunnels!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=moveto
        [filter]
            canrecruit=yes
            x,y=29-31,1-2
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "Made it!"
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 80}
        [/endlevel]
    [/event]
    {GLOBAL_EVENTS}
    {DROPS 2 3 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear) no 2}
    experience_modifier=125
[/scenario]
