#textdomain wesnoth-loti
[unit_type]
    id=09 Great Mage
    [base_unit]
        id=Great Mage
    [/base_unit]
    hide_help=yes
    do_not_list=true
    description= _ "In the past, any person who was even considered for the title of Great Mage was quite nearly a legend in their own time, and town criers had forcibly learnt discretion in applying the title. Merit for the title is carefully considered by a council of the leading magi of the age, and the conferment of the title was given only by a majority vote. Regardless, anyone who was seriously nominated for the honor of being called a Great Mage was, without question, a master of their art, and had surpassed almost any of their peers in skill.

In present, Wesnothian mages grew much more powerful, and reaching the level of Great Mage is quite common. Because their art progressed so far, the sheer fear of their spells keeps many lands in obedience.

Though they are not warriors, by any means, the application of their art to combat is something that often causes other soldiers to stand aside in awe."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=9
        number=2
        attack_weight=0
    [/attack]
    [attack]
        name=fireball
        description=_"fireball"
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_EXPLOSIVE}
        [/specials]
        damage=16
        number=4
    [/attack]
[/unit_type]
