#textdomain wesnoth-loti
[unit_type]
    id=Abomination
    name= _ "Abomination"
    race=undead
    {TRAIT_FEARLESS_MUSTHAVE}
    image="units/undead/abomination/abomination.png"
    profile="portraits/abomination.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=73
    movement_type=gruefoot
    movement=5
    experience=140
    {QUANTITY experience 100 120 140}
    level=4
    alignment=chaotic
    advances_to=null
    cost=56
    usage=fighter
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Ghast
        experience=300
    [/advancefrom]
#endif
    description= _ "Horror tales about terrifying undead usually lie. They describe ghasts as the most nightmarish beings that ever existed. And that is just plain wrong. There is Abomination, a mutated kind of ghast that scares even the most courageous monster hunters. It has literally a dozen mouths, most of them belonging to ghoul homunculi attached to its body with tentacles. "+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}
    die_sound=ghoul-hit.wav
    [abilities]
        {ABILITY_KILLHUNGER}
        {ABILITY_DESPAIR 10}
    [/abilities]
    [attack]
        name=bite
        description=_ "bite"
        icon=attacks/fangs.png
        type=blade
        range=melee
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/abomination.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/abomination.png"
    [/portrait]
#define ABOMINATION_DIRECTIONAL_ANIMS BASE COUNT AFFIX LENGTH
    [if]
        direction=s
        [frame]
            image="{BASE}-s{AFFIX}[1~{COUNT}].png:{LENGTH}"
        [/frame]
    [/if]
    [else]
        direction=se
        [frame]
            image="{BASE}-se{AFFIX}[1~{COUNT}].png:{LENGTH}"
        [/frame]
    [/else]
    [else]
        direction=sw
        [frame]
            image="{BASE}-se{AFFIX}[1~{COUNT}].png:{LENGTH}"
        [/frame]
    [/else]
    [else]
        direction=nw
        [frame]
            image="{BASE}-nw{AFFIX}[1~{COUNT}].png~FL(horiz):{LENGTH}"
        [/frame]
    [/else]
    [else]
        direction=ne
        [frame]
            image="{BASE}-nw{AFFIX}[1~{COUNT}].png~FL(horiz):{LENGTH}"
        [/frame]
    [/else]
    [else]
        direction=n
        [frame]
            image="{BASE}-n{AFFIX}[1~{COUNT}].png:{LENGTH}"
        [/frame]
    [/else]
#enddef
    [defend]
        start_time=-250
        {ABOMINATION_DIRECTIONAL_ANIMS units/undead/abomination/abomination-defend 5 - 100}
        [if]
            hits=hit
            hit_sound_start_time=-25
            [hit_sound_frame]
                sound=ghoul-hit.wav
            [/hit_sound_frame]
        [/if]
    [/defend]
#define ABOMINATION_ATTACK_ANIM VARIATION
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        start_time=-250
        {ABOMINATION_DIRECTIONAL_ANIMS "units/undead/abomination/abomination-attack" 5 -{VARIATION}- 100}
        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -350}
        {SOUND:POISON}
    [/attack_anim]
#enddef

    {ABOMINATION_ATTACK_ANIM 1}
    {ABOMINATION_ATTACK_ANIM 2}
    {ABOMINATION_ATTACK_ANIM 3}

    [standing_anim]
        start_time=0
        [frame]
            image=units/undead/abomination/abomination-standing-[1~6].png:200
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        {ABOMINATION_DIRECTIONAL_ANIMS units/undead/abomination/abomination-run 8 - 100}
    [/movement_anim]

#undef ABOMINATION_DIRECTIONAL_ANIMS
#undef ABOMINATION_ATTACK_ANIM
    {GENERIC_AMLA  units/undead/abomination/abomination.png units/undead/abomination/abomination-attack-s-3-4.png units/undead/abomination/abomination-attack-s-3-3.png units/undead/abomination/abomination.png units/undead/abomination/abomination-attack-s-3-4.png units/undead/abomination/abomination-attack-s-3-3.png (
        [advancement]
            max_times=1
            always_display=yes
            id=bite1
            description= _ "biting better"
            image=attacks/fangs.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=bite
                increase_damage=3
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=bite2
            description= _ "biting faster"
            image=attacks/fangs.png
            strict_amla=yes
            require_amla="bite1"
            [effect]
                apply_to=attack
                name=bite
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=bite2-leech
            description= _ "feasting on enemies when biting"
            image=attacks/fangs.png
            strict_amla=yes
            require_amla="bite1"
            [effect]
                apply_to=attack
                name=bite
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_LEECH}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=bite3
            description= _ "biting better"
            image=attacks/fangs.png
            strict_amla=yes
            require_amla="bite2"
            [effect]
                apply_to=attack
                name=bite
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=murderlust
            description= _ "healing more from kills"
            image=attacks/fangs-spider.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_KILLHUNGER}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_MURDERLUST}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=regurgitate1
            description= _ "able to regurgitate culinary feasts as Walking Corpses"
            image="attacks/blank-attack.png~BLIT(units/undead/zombie-attack.png~CROP(6,6,60,60)~RC(magenta>black))"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=bite
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_PLAGUE}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=regurgitate2
            description= _ "able to regurgitate culinary feasts as Ghouls"
            image="attacks/blank-attack.png~BLIT(units/undead/ghoul-attack-2.png~CROP(6,6,60,60)~RC(magenta>black))"
            strict_amla=yes
            require_amla="regurgitate1"
            [effect]
                apply_to=attack
                name=bite
                remove_specials=plague
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_PLAGUE_TYPE_LOTI Ghoul _"Ghoul"}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=despair
            description= _ "causing nearby enemies to deal even less damage"
            image=attacks/dark-missile.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_DESPAIR 10}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_DESPAIR 15}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=despair2
            description= _ "causing nearby enemies to deal even less damage"
            image=attacks/dark-missile.png
            strict_amla=yes
            require_amla="despair"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_DESPAIR 15}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_DESPAIR 20}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=despair3
            description= _ "causing nearby enemies to deal even less damage"
            image=attacks/dark-missile.png
            strict_amla=yes
            require_amla="despair2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_DESPAIR 20}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_DESPAIR 25}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Abomination"}
