#textdomain wesnoth-loti
#define LIGHTNING_AMPLIFICATOR DIRECTION_NUMBER
    [attack_anim]
        [filter_attack]
            name=lightning
        [/filter_attack]

        {LIGHTNING_BOLT {DIRECTION_NUMBER} }

        start_time=-250
    [/attack_anim]
#enddef
[unit_type]
    id=Amplificator
    name= _ "Horrid Abomination"
    race=monster
    image="units/enemies/mutant.png"
    hitpoints=800
    {QUANTITY HITPOINTS 200 400 800}
    movement_type=smallfoot
    movement=0
    experience=250
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL 6}
        {ABILITY_BACKSTAB_LEADERSHIP}
#ifdef HARD
        {ABILITY_REFLECT}
#else
        {ABILITY_WEAK_REFLECT}
#endif
    [/abilities]
    level=10
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=120
    usage=archer
    description= _ "It is hard to believe that a living being could do something so terrible to another living being. Looking at it, all possible mercy towards Akula is tamed."
    die_sound=lich-die.ogg
    {DEFENSE_ANIM "units/enemies/mutant-defend.png" "units/enemies/mutant.png" {SOUND_LIST:LICH_HIT} }
    [resistance]
        blade=30
        {QUANTITY blade 70 50 30}
        pierce=30
        {QUANTITY pierce 70 50 30}
        impact=30
        {QUANTITY impact 70 50 30}
        fire=30
        {QUANTITY fire 70 50 30}
        cold=30
        {QUANTITY code 70 50 30}
        arcane=30
        {QUANTITY arcane 70 50 30}
    [/resistance]
    [attack]
        name=claw
        description= _"claw-like appendage"
        icon=attacks/claws-undead.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
#ifdef EASY
        {WEAPON_SPECIAL_BACKSTAB}
#endif
#ifdef NORMAL
        {WEAPON_SPECIAL_GREATER_BACKSTAB}
#endif
#ifdef HARD
        {WEAPON_SPECIAL_UBER_BACKSTAB}
#endif
        [/specials]
        range=melee
        damage=10
        {QUANTITY damage 8 9 10}
        number=9
        {QUANTITY number 7 8 9}
    [/attack]
    [attack]
        name=lightning
        description= _"retribution"
        icon=attacks/lightning.png
        type=lightning
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=22
        {QUANTITY damage 16 18 20}
        number=5
        {QUANTITY number 3 4 5}
    [/attack]

    {LIGHTNING_AMPLIFICATOR 1}
    {LIGHTNING_AMPLIFICATOR 2}
    {LIGHTNING_AMPLIFICATOR 3}
[/unit_type]

#undef LIGHTNING_AMPLIFICATOR
