#textdomain wesnoth-loti
#define LIGHTNING_ANCIENTWARRIOR DIRECTION_NUMBER
    [attack_anim]
        [filter_attack]
            name=lightning
        [/filter_attack]

        {LIGHTNING_BOLT {DIRECTION_NUMBER} }

        start_time=-250
        [if]
            hits=yes
            [frame]
                duration=50
                sound=lightning.ogg
                image=units/humans/ancient-warrior-lightning.png
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=50
                sound=lightning-miss.ogg
                image=units/humans/ancient-warrior-lightning.png
            [/frame]
        [/else]
        [frame]
            duration=200
            image=units/humans/ancient-warrior-lightning.png
        [/frame]
        [frame]
            duration=100
            image=units/humans/ancient-warrior.png
        [/frame]
    [/attack_anim]
#enddef
[unit_type]
    id=Ancient Warrior
    name= _ "Ancient Warrior"
    race=human
    image="units/humans/ancient-warrior.png"
    hitpoints=80
    movement_type=armoredfoot
    movement=6
    experience=100
    level=4
    alignment=lawful
    advances_to=null
    {TRAIT_FEARLESS_MUSTHAVE}
    {AMLA_DEFAULT}
    cost=100
    usage=fighter
    description= _ "Ancient Warriors are fighters who, for some reasons didn't grow old and die. Their experience and strength makes them nearly undefeatable soldiers, but they rarely employ themselves in wars."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_ARCANE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM_RANGE "units/humans/ancient-warrior-defend.png" "units/humans/ancient-warrior.png" {SOUND_LIST:HUMAN_HIT} melee }
    {DEFENSE_ANIM_RANGE "units/humans/ancient-warrior-defend.png" "units/humans/ancient-warrior.png" {SOUND_LIST:HUMAN_HIT} ranged }
    [abilities]
        {ABILITY_ZEAL}
    [/abilities]
    [standing_anim]
        layer=60
        start_time=0
        [frame]
            duration=30
            image="units/humans/ancient-warrior.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-standing1.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-standing2.png"
        [/frame]
        [frame]
            duration=240
            image="units/humans/ancient-warrior-standing3.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-standing2.png"
        [/frame]
        [frame]
            duration=400
            image="units/humans/ancient-warrior-standing3.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-standing2.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-standing1.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-standing1.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-standing2.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-standing1.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-standing1.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-standing2.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-standing2.png"
        [/frame]
        [frame]
            duration=300
            image="units/humans/ancient-warrior-standing3.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-standing4.png"
        [/frame]
        [frame]
            duration=300
            image="units/humans/ancient-warrior-standing3.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-standing2.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-standing1.png"
        [/frame]
    [/standing_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=30
            image="units/humans/ancient-warrior-idle1.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-idle2.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-idle3.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-idle4.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-idle5.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-idle6.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-idle7.png"
        [/frame]
        [frame]
            duration=30
            image="units/humans/ancient-warrior-idle8.png"
        [/frame]
    [/idle_anim]
    [attack]
        name=hammer
        description=_"hammer"
        icon=attacks/hammer-dwarven-runic.png
        type=impact
        range=melee
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=25
        number=3
    [/attack]
    [attack]
        name=lightning
        description=_"lightning"
        icon=attacks/lightning.png
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=50
        number=1
    [/attack]
    {LIGHTNING_ANCIENTWARRIOR 1}
    {LIGHTNING_ANCIENTWARRIOR 2}
    {LIGHTNING_ANCIENTWARRIOR 3}
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        [frame]
            begin=-300
            end=-250
            image="units/humans/ancient-warrior.png"
            offset=0.0~0.1
        [/frame]
        [frame]
            begin=-250
            end=-200
            image="units/humans/ancient-warrior.png"
            offset=0.1~0.15
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/humans/ancient-warrior-attack1.png"
            offset=0.15~0.35
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=-25
                image="units/humans/ancient-warrior-attack2.png"
                sound=mace.wav
                offset=0.35~0.45
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=-25
                image="units/humans/ancient-warrior-attack2.png"
                sound={SOUND_LIST:MISS}
                offset=0.35~0.45
            [/frame]
        [/else]
        [frame]
            begin=-25
            end=100
            image="units/humans/ancient-warrior.png"
            offset=0.45~0.5
        [/frame]
    [/attack_anim]
[/unit_type]
