#textdomain wesnoth-loti
[unit_type]
    id=Blackguard
    name= _ "Blackguard"
    race=human
    image="units/humans/blackguard.png"
    small_profile="portraits/humans/transparent/iron-mauler.png~SCALE(205,205)"
    profile="portraits/humans/transparent/iron-mauler.png~RIGHT()"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=75
    movement_type=smallfoot
    movement=5
    experience=140
    {QUANTITY experience 100 120 140}
    level=4
    alignment=chaotic
    advances_to=null
    cost=60
    halo=halo/darkens-aura.png
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Highwayman
        experience=300
    [/advancefrom]
    [advancefrom]
        unit=Iron Mauler
        experience=320
    [/advancefrom]
#endif
    description= _ "Blackguards are either outlaws who were even knighted for causing severe havoc in a land by a rival landlord, or knights whose love for war and gold has gone far beoyond reason. They do not behave like knights, rather like a twisted opposite of knights. Clad in black armour, radiating darkness, prefering to fight in the dead of night, attacking by surprise and scaring enemies by their appearance."
    die_sound={SOUND_LIST:HUMAN_DIE}
    usage=fighter
    {DEFENSE_ANIM "units/humans/blackguard-defend-2.png" "units/humans/blackguard-defend-1.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
        {ABILITY_DARKENS}
    [/abilities]
    [resistance]
        blade=70
        pierce=70
    [/resistance]
    [portrait]
        size=400
        side="right"
        mirror="false"
        image="portraits/humans/transparent/iron-mauler.png"
    [/portrait]
    [attack]
        name=scourge
        description=_"scourge"
        icon=attacks/scourge.png
        type=impact
        range=melee
        damage=13
        number=4
        [specials]
            {WEAPON_SPECIAL_CHARGING_BACKSTAB}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=scourge
        [/filter_attack]
        [frame]
            begin=-260
            end=-100
            image="units/humans/blackguard-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/humans/blackguard-attack-2.png"
                sound=flail.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/humans/blackguard-attack-2.png"
                sound=flail-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/humans/blackguard.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/humans/blackguard.png units/humans/blackguard-attack-1.png units/humans/blackguard-attack-2.png units/humans/blackguard.png units/humans/blackguard-attack-1.png units/humans/blackguard-attack-2.png (    [advancement]
    max_times=1
    always_display=yes
    id=scourge
    description= _ "striking better with scourge"
    image=attacks/morning-star.png
    strict_amla=yes
    require_amla=""
    [effect]
        apply_to=attack
        name=scourge
        increase_damage=1
    [/effect]
    {AMLA_DEFAULT_BONUSES}
[/advancement]
[advancement]
    max_times=1
    always_display=yes
    id=scourge2
    description= _ "striking faster with scourge"
    image=attacks/morning-star.png
    strict_amla=yes
    require_amla="scourge"
    [effect]
        apply_to=attack
        name=scourge
        increase_damage=-1
        increase_attacks=1
    [/effect]
    {AMLA_DEFAULT_BONUSES}
[/advancement]
[advancement]
    max_times=10
    always_display=yes
    id=scourge3
    description= _ "striking better with scourge"
    image=attacks/morning-star.png
    strict_amla=yes
    require_amla="scourge2,scourge"
    [effect]
        apply_to=attack
        name=scourge
        increase_damage=1
    [/effect]
    {AMLA_DEFAULT_BONUSES}
[/advancement]
[advancement]
    id=armour
    max_times=5
    description= _ "better protected from physical blows (2% better resistances; +4% resist impact)"
    image=icons/steel_armor.png
    strict_amla=yes
    require_amla=""
    [effect]
        apply_to=resistance
        replace=false
        [resistance]
            blade=-2
            pierce=-2
            impact=-4
        [/resistance]
    [/effect]
    {AMLA_DEFAULT_BONUSES}
[/advancement]
[advancement]
    max_times=3
    always_display=yes
    id=movement
    description= _ "faster"
    image=icons/boots_elven.png
    strict_amla=yes
    require_amla=""
    [effect]
        apply_to=movement
        increase=1
    [/effect]
    {AMLA_DEFAULT_BONUSES}
[/advancement]
[advancement]
    max_times=1
    always_display=yes
    id=darken
    description= _ "able to darken even the night"
    image=attacks/curse.png
    strict_amla=yes
    require_amla=""
    [effect]
        apply_to=remove_ability
        [abilities]
            {ABILITY_DARKENS}
        [/abilities]
    [/effect]
    [effect]
        apply_to=new_ability
        [abilities]
            {ABILITY_DARKENS_IMPROVED}
        [/abilities]
    [/effect]
    {AMLA_DEFAULT_BONUSES}
[/advancement]
[advancement]
    max_times=1
    always_display=yes
    id=darken2
    description= _ "radiating unearthly darkness"
    image=attacks/curse.png
    strict_amla=yes
    require_amla="darken"
    [effect]
        apply_to=remove_ability
        [abilities]
            {ABILITY_DARKENS_IMPROVED}
        [/abilities]
    [/effect]
    [effect]
        apply_to=new_ability
        [abilities]
            {ABILITY_DARKENS_GREAT}
        [/abilities]
    [/effect]
    {AMLA_DEFAULT_BONUSES}
[/advancement]
) "Blackguard"}
