#textdomain wesnoth-loti
[unit_type]
    id=Black Army Pikeman
    name= _ "Black Army Pikeman"
    race=human
    image="units/enemies/black_army_pikeman.png"
    profile="portraits/humans/pikeman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=77
    movement_type=smallfoot
    movement=5
    experience=200
    level=4
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=56
    usage=fighter
    description= _ "The Black Army is a company of professional well-paid full-time mercenaries, purely devoted to warfare. Their skill is hard to match, their loyality to gold is endless and their mercy is unheard of. Pikemen of the Black Army are highly aggressive warriors whose defence relies on the length of their weapon."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/enemies/black_army_pikeman-defend.png" "units/enemies/black_army_pikeman-defend.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=80
        impact=80
	pierce=50
	cold=40
    [/resistance]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/pikeman.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/pikeman.png"
    [/portrait]
    [attack]
        name=pike
        description=_"pike"
        type=pierce
        range=melee
        damage=20
        number=4
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=pike
        [/filter_attack]
        start_time=-150
        [frame]
            image="units/enemies/black_army_pikeman.png:50"
        [/frame]
        [frame]
            image="units/enemies/black_army_pikeman-attack.png:200"
        [/frame]
        [frame]
            image="units/enemies/black_army_pikeman.png:50"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
[/unit_type]
