#textdomain wesnoth-loti
[unit_type]
    id=Black Army Swordsman
    name= _ "Black Army Swordsman"
    race=human
    image="units/enemies/black_army_swordsman.png"
    profile="portraits/humans/royal-guard.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=96
    movement_type=smallfoot
    movement=6
    experience=200
    level=4
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=61
    usage=fighter
    description= _ "The Black Army is a company of professional well-paid full-time mercenaries, purely devoted to warfare. Their skill is hard to match, their loyality to gold is endless and their mercy is unheard of. Swordsmen of this army are unyielding piles of steel that adamantly stand their ground and fight until a victory is won and they receive their payment."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/enemies/black_army_swordsman-defend.png" "units/enemies/black_army_swordsman-defend.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=65
        impact=65
	pierce=80
	fire=40
    [/resistance]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/royal-guard.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/royal-guard.png"
    [/portrait]
    [attack]
        name=sword
        description=_"longsword"
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=15
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/enemies/black_army_swordsman.png:50"
        [/frame]
        [frame]
            image="units/enemies/black_army_swordsman-attack-1.png:100"
        [/frame]
        [frame]
            image="units/enemies/black_army_swordsman-attack-2.png:100"
        [/frame]
        [frame]
            image="units/enemies/black_army_swordsman-attack-1.png:100"
        [/frame]
        [frame]
            image="units/enemies/black_army_swordsman.png:50"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
