#textdomain wesnoth-loti
[unit_type]
    id=Black Army Mage
    name= _ "Black Army Mage"
    race=human
    image="units/enemies/black_army_mage.png"
    profile="portraits/humans/mage-arch.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=72
    movement_type=smallfoot
    movement=5
    experience=200
    level=4
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=75
    usage=mixed fighter
    description= _ "The Black Army is a company of professional well-paid full-time mercenaries, purely devoted to warfare. Their skill is hard to match, their loyality to gold is endless and their mercy is unheard of. Mages serving in this army are hand picked for their cruelty and ability to use magic specially with the purpose to destroy."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/enemies/black_army_mage-defend.png" "units/enemies/black_army_mage-defend.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
	fire=40
	cold=40
	arcane=40
    [/resistance]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/mage-arch.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/mage-arch.png"
    [/portrait]
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/quarterstaff.png
        type=impact
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=fireball
        description=_"fireball"
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=19
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/enemies/black_army_mage.png:50"
        [/frame]
        [frame]
            image="units/enemies/black_army_mage-melee.png:200"
        [/frame]
        [frame]
            image="units/enemies/black_army_mage.png:50"
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL_XY 18 -27}
        start_time=-575
        [frame]
            image="units/enemies/black_army_mage.png:50"
        [/frame]
        [frame]
            image="units/enemies/black_army_mage-cast-1.png:100"
        [/frame]
        [frame]
            image="units/enemies/black_army_mage-cast-2.png:100"
            sound=fire.wav
        [/frame]
        [frame]
            image="units/enemies/black_army_mage-cast-1.png:100"
        [/frame]
        [frame]
            image="units/enemies/black_army_mage.png:75"
        [/frame]
    [/attack_anim]
[/unit_type]
