#textdomain wesnoth-loti
[race]
    id=burning soul-loti
    name= _"race^Burning Soul"
    plural_name= _"race^Burning Souls"
    num_traits=2
    description= _ "Burning Souls are the tormented spirits of people slain by demons or otherwise dragged into Inferno. With their free will suppressed by insanity, there is no more left than pain and sorrow. They suffer hell, Uria's demons burn them alive, both out- and inwardly, but have them regenerate instantly to survive forever. The tormentors control bodies and limbs, cause these pour souls to even hurt themselves and increase the agony (if such is possible at all) or set them against enemies of their demonic queen.

Ultimately, Burning Souls seek nothing but their own death, because only death can free them from their suffering. Outside help, which would – given a vestige of sound mind and enough mental strength remained – eventually allow them to escape from this cruel, never-ending cycle almost never comes."
[/race]
