#textdomain wesnoth-loti
[unit_type]
    id=Champion
    name= _ "Champion"
    race=human
    image="units/humans/champion.png"
    profile="portraits/humans/master-at-arms.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=62
    movement_type=elusivefoot
    movement=7
    experience=150
    level=4
    alignment=lawful
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Master at Arms
        experience=320
    [/advancefrom]
#endif
    cost=59
    usage=fighter
    description= _ "After hundreds of battles and duels, the survivor learns that victory is not as important as survival. The best warrior is not the one who kills the most enemies, but the one who survives the most battles. Even with fewer kills per battle, the one who lives longer will eventually kill more people than fighters who kill enemies in large numbers. And the secret of survival is proper defence. Even in duels, the winner is the one who does not get hit, not the one who can hit the best.

Those who understand this rule learn to defend extremely well and become so legendary in duels that even kings call them their champions in various occasions, like trials by combat. Sometimes they even adapt to wearing a light armour to protect themselves.

Gameplay notes:
This unit is highly defensive and focused on counterattacks, not on damage.
Advancements are defense-oriented, this unit's potential in avoiding hits is the greatest of all units."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}
    {DEFENSE_ANIM "units/humans/champion-defend-2.png" "units/humans/champion-defend-1.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/master-at-arms.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/master-at-arms.png"
    [/portrait]
    [resistance]
        cold=90
        blade=110
        impact=110
        pierce=110
    [/resistance]
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=saber
        description=_"saber"
        icon=attacks/saber-human.png
        type=blade
        range=melee
        damage=7
        number=5
        [specials]
            {WEAPON_SPECIAL_PARRY}
        [/specials]
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=22
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=crossbow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-600
            end=-500
            image="units/humans/champion-crossbow-1.png"
        [/frame]
        [frame]
            begin=-500
            end=-400
            image="units/humans/champion-crossbow-2.png"
        [/frame]
        {SOUND:HIT_AND_MISS crossbow.ogg crossbow-miss.ogg -400}
        [frame]
            begin=-400
            end=-300
            image="units/humans/champion-crossbow-3.png"
        [/frame]
        [frame]
            begin=-300
            end=-100
            image="units/humans/champion-crossbow-4.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/humans/champion-crossbow-5.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/humans/champion-crossbow-6.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/humans/champion-crossbow-3.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/humans/champion-crossbow-2.png"
        [/frame]
        [frame]
            begin=400
            end=500
            image="units/humans/champion-crossbow-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=saber
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/humans/champion.png"
        [/frame]
        [frame]
            begin=-175
            end=-125
            image="units/humans/champion-melee-2-1.png"
        [/frame]
        [frame]
            begin=-125
            end=-75
            image="units/humans/champion-melee-2-2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=75
                image="units/humans/champion-melee-3-3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=75
                image="units/humans/champion-melee-1-3.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=75
            end=125
            image="units/humans/champion-recover-1.png"
        [/frame]
        [frame]
            begin=125
            end=175
            image="units/humans/champion-recover-2.png"
        [/frame]
        [frame]
            begin=175
            end=200
            image="units/humans/champion.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=saber
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/humans/champion.png"
        [/frame]
        [frame]
            begin=-175
            end=-125
            image="units/humans/champion-melee-2-1.png"
        [/frame]
        [frame]
            begin=-125
            end=-75
            image="units/humans/champion-melee-2-2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=75
                image="units/humans/champion-melee-2-3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=75
                image="units/humans/champion-melee-1-3.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=75
            end=125
            image="units/humans/champion-recover-1.png"
        [/frame]
        [frame]
            begin=125
            end=175
            image="units/humans/champion-recover-2.png"
        [/frame]
        [frame]
            begin=175
            end=200
            image="units/humans/champion.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=saber
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/humans/champion.png"
        [/frame]
        [frame]
            begin=-175
            end=-125
            image="units/humans/champion-melee-1-1.png"
        [/frame]
        [frame]
            begin=-125
            end=-75
            image="units/humans/champion-melee-1-2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=75
                image="units/humans/champion-melee-1-3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=75
                image="units/humans/champion-melee-1-3.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=75
            end=125
            image="units/humans/champion-recover-1.png"
        [/frame]
        [frame]
            begin=125
            end=175
            image="units/humans/champion-recover-2.png"
        [/frame]
        [frame]
            begin=175
            end=200
            image="units/humans/champion.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/humans/champion.png units/humans/champion-defend-1.png units/humans/champion-melee-1-1.png units/humans/champion.png units/humans/champion-defend-1.png units/humans/champion-melee-1-1.png (
        [advancement]
            max_times=1
            id=sword
            description= _ "faster at melee combat"
            image="attacks/saber-human.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=sword2
            description= _ "better with sword"
            image="attacks/saber-human.png"
            strict_amla=yes
            require_amla="sword"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=sword3
            description= _ "faster with sword"
            image="attacks/saber-human.png"
            strict_amla=yes
            require_amla="sword,sword2"
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=sword4
            description= _ "better with sword"
            image="attacks/saber-human.png"
            strict_amla=yes
            require_amla="sword,sword2,sword3"
            [effect]
                apply_to=attack
                name=saber
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=crossbow
            description= _ "faster with crossbow"
            image=attacks/crossbow-human.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=crossbow
                increase_damage=-9
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=block
            description= _ "better at defending"
            image="attacks/saber-human.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-3
                    shallow_water=-3
                    reef=-3
                    flat=-3
                    castle=-3
                    village=-3
                    forest=-3
                    cave=-3
                    hills=-3
                    mountains=-3
                    fungus=-3
                    swamp_water=-3
                    sand=-3
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better protected from physical blows (3% better resistances)"
            image=icons/armor_leather.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-3
                    pierce=-3
                    impact=-3
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=careful
            description= _ "10% better resistances when defending"
            image=icons/armor_leather.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_CAREFUL 10}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=careful2
            description= _ "20% better resistances when defending"
            image=icons/armor_leather.png
            strict_amla=yes
            require_amla="careful"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_CAREFUL 10}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_CAREFUL 20}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=careful3
            description= _ "25% better resistances when defending"
            image=icons/armor_leather.png
            strict_amla=yes
            require_amla="careful2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_CAREFUL 20}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_CAREFUL 25}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=crossbow2
            description= _ "better with crossbow"
            image=attacks/crossbow-human.png
            strict_amla=yes
            require_amla="crossbow"
            [effect]
                apply_to=attack
                type=pierce
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=4
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            {AMLA_DEFAULT_BONUSES}
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/advancement]
    ) "Champion"}
