#textdomain wesnoth-loti
[unit_type]
    id=Chaos Rider
    name= _ "Chaos Rider"
    race=human
    image="units/humans/chaosrider.png"
    profile="portraits/humans/cavalier.png"
    hitpoints=79
    movement_type=mounted
    movement=9
    experience=140
    {QUANTITY experience 100 120 140}
    level=4
    alignment=lawful
    advances_to=null
    undead_variation=mounted
    cost=65
    usage=scout
    description= _ "The daring deeds of Cavaliers are known, but only some of them choose to play with fire. Wizards bind spirits of fire into their swords and horses, making them one of the most dangerous things on the battlefield."
    die_sound=horse-die.ogg
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/cavalier.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/cavalier.png"
    [/portrait]
    {DEFENSE_ANIM "units/humans/chaosrider-defend.png" "units/humans/chaosrider.png" {SOUND_LIST:HORSE_HIT} }
    [abilities]
        {ABILITY_BURNING_AURA 8}
    [/abilities]
    [resistance]
        blade=70
        impact=60
        fire=60
    [/resistance]
    [attack]
        name=sword
        description=_"flamesword"
        icon=attacks/sword-flaming.png
        type=fire
        range=melee
        damage=13
        number=4
    [/attack]
    [attack]
        name=stomp
        description=_"stomp"
        icon=attacks/stomp-fire.png
        type=impact
        range=melee
        damage=22
        number=2
        [specials]
            {WEAPON_SPECIAL_DAZZLE}
        [/specials]
    [/attack]
    [attack]
        name=fireball
        description=_"fireball"
        type=fire
        range=ranged
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [standing_anim]
        start_time=0
        [frame]
            duration=600
            image="units/humans/chaosrider-standing.png"
            halo=halo/flame-sword-[1~12].png
        [/frame]
    [/standing_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-225
            end=-200
            image="units/humans/chaosrider.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=200
                image="units/humans/chaosrider-attack.png"
                sound=fire.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=200
                image="units/humans/chaosrider-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=200
            end=225
            image="units/humans/chaosrider.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=stomp
        [/filter_attack]
        [frame]
            begin=-225
            end=-200
            image="units/humans/chaosrider.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=200
                image="units/humans/chaosrider-defend.png"
                sound=horse-canter.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=200
                image="units/humans/chaosrider-defend.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=200
            end=225
            image="units/humans/chaosrider.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL_XY 0 0}

        start_time=-575
        [frame]
            duration=50
            image="units/humans/chaosrider.png"
        [/frame]
        [frame]
            duration=100
            image="units/humans/chaosrider-fireball.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=225
            image="units/humans/chaosrider-fireball.png"
        [/frame]
        [frame]
            duration=75
            image="units/humans/chaosrider.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/humans/chaosrider.png units/humans/chaosrider-fireball.png units/humans/chaosrider-fireball.png units/humans/chaosrider.png units/humans/chaosrider-fireball.png units/humans/chaosrider-fireball.png (
        [advancement]
            max_times=1
            always_display=yes
            id=sword
            description= _ "striking better with sword"
            image=attacks/sword-flaming.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=sword
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword2
            description= _ "striking faster with sword"
            image=attacks/sword-flaming.png
            strict_amla=yes
            require_amla="sword"
            [effect]
                apply_to=attack
                name=sword
                increase_damage=-1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=sword-incinerate
            description= _ "incinerating enemies with sword"
            image=attacks/sword-flaming.png
            strict_amla=yes
            require_amla="sword2"
            [effect]
                apply_to=attack
                name=sword
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_INCINERATE}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=sword3
            description= _ "striking better with sword"
            image=attacks/sword-flaming.png
            strict_amla=yes
            require_amla="sword2,sword"
            [effect]
                apply_to=attack
                name=sword
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=stomp
            description= _ "stomping enemies better"
            image=attacks/stomp-fire.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=stomp
                increase_damage=4
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=fireball
            description= _ "better with fireball"
            image=attacks/fireball.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=fireball
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=fireball2
            description= _ "faster with fireball"
            image=attacks/fireball.png
            strict_amla=yes
            require_amla="fireball"
            [effect]
                apply_to=attack
                name=fireball
                increase_damage=-1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=fireball3
            description= _ "better with fireball"
            image=attacks/fireball.png
            strict_amla=yes
            require_amla="fireball2"
            [effect]
                apply_to=attack
                name=fireball
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=fireball_cone
            description= _ "able to hit multiple enemies with fireball"
            image=attacks/fireball.png
            strict_amla=yes
            require_amla="fireball"
            [effect]
                apply_to=attack
                name=fireball
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_CONE}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=fireball_explosive
            description= _ "able to hit even more enemies with fireball"
            image=attacks/fireball.png
            strict_amla=yes
            require_amla="fireball_cone"
            [effect]
                apply_to=attack
                name=fireball
                remove_specials=cone
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_EXPLOSIVE}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=burning_aura
            strict_amla=yes
            description= _ "dealing more damage with burning aura"
            image=attacks/fire-beam.png
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_BURNING_AURA 8}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_BURNING_AURA 12}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=burning_aura2
            strict_amla=yes
            description= _ "dealing more damage with burning aura"
            image=attacks/fire-beam.png
            require_amla="burning_aura"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_BURNING_AURA 12}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_BURNING_AURA 16}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=firecast
            strict_amla=yes
            description= _ "casting a fiery spell on every melee hit"
            image=attacks/fire-beam.png
            require_amla="burning_aura2,fireball2,sword2"
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_FIRECAST}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=4
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Chaos Rider"}
[/unit_type]
