#textdomain wesnoth-loti

# Using this unit to load events into scenarios to avoid lengthy preprocessing.

[unit_type]
    id=Chapter5 Event Loader
    alignment=neutral
    advances_to=null
    cost=1
    hide_help=true
    do_not_list=yes
    {CAMPAIGN5_EVENTS_LIST}
[/unit_type]
