#textdomain wesnoth-loti
[unit_type]
    id=Dark Shade
    name= _ "Dark Shade"
    race=undead
    image="units/undead/dark-shade.png"
    profile=portraits/undead/shadow.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=47
    movement_type=undeadspirit
    movement=7
    experience=130
    {QUANTITY experience 90 110 130}
    level=4
    alignment=chaotic
    advances_to=null
    cost=66
    usage=scout
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Nightgaunt
        experience=250
    [/advancefrom]
#endif
    description= _ "Dark shade is a spirit of something so dark that it was not allowed to exist in the real world. Only its shadow appears on walls and attacks the shadows of its victims - and the victims will get hurt too."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}+{SPECIAL_NOTES_SPIRIT}+{SPECIAL_NOTES_NIGHTSTALK}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_DRAIN}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/undead/transparent/shadow.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/undead/transparent/shadow.png"
    [/portrait]
    die_sound=wail-long.wav
    [abilities]
        {ABILITY_NIGHTSTALK}
        {ABILITY_SKIRMISHER}
    [/abilities]
    [defend]
        start_time=-225
        alpha=0.8~0.5:225,0.5~0.8:225
        [frame]
            duration=100
            image="units/undead/dark-shade.png"
        [/frame]
        [frame]
            duration=100
            image="units/undead/dark-shade-defend-1.png"
        [/frame]
        [if]
            hits=hit,kill
            [frame]
                duration=150
                image="units/undead/dark-shade-defend-2.png"
                sound=wail-sml.wav
            [/frame]
        [/if]
        [else]
            [frame]
                duration=150
                image="units/undead/dark-shade-defend-2.png"
                sound=wail-sml.wav
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/undead/dark-shade-defend-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/undead/dark-shade.png"
        [/frame]
    [/defend]

    [attack]
        name=claws
        description=_"claws"
        type=blade
        icon=attacks/claws-undead.png
        range=melee
        damage=11
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=soul sip
        description=_"soul sip"
        type=arcane
        icon=attacks/soul-sip.png
        range=ranged
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        start_time=-300
        direction=s,se,sw
        alpha=0.8~0.5:300,0.5~0.8:300
        [frame]
            duration=100
            image="units/undead/dark-shade.png"
        [/frame]
        [frame]
            duration=100
            image="units/undead/dark-shade-se-attack-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/undead/dark-shade-se-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/undead/dark-shade-se-attack-2.png"
                sound=claws.ogg
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/undead/dark-shade-se-attack-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/undead/dark-shade.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        start_time=-300
        alpha=0.8~0.5:300,0.5~0.8:300
        direction=n,ne,nw
        [frame]
            duration=100
            image="units/undead/dark-shade.png"
        [/frame]
        [frame]
            duration=100
            image="units/undead/dark-shade-ne-attack-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/undead/dark-shade-ne-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/undead/dark-shade-ne-attack-2.png"
                sound=claws.ogg
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/undead/dark-shade-ne-attack-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/undead/dark-shade.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=soul sip
        [/filter_attack]
        [if]
            hits=yes
            [missile_frame]
                begin=-200
                end=200
                halo="halo/elven/druid-healing8.png:50,halo/elven/druid-healing7.png:50,halo/elven/druid-healing6.png:50,halo/elven/druid-healing5.png:50,halo/elven/druid-healing4.png:50,halo/elven/druid-healing3.png:50,halo/elven/druid-healing2.png:50,halo/elven/druid-healing1.png:50"
                cs=100,-100,-150
                blend_ratio="0~1:400"
                blend_color=150,80,50
                offset=1.0~0.0
            [/missile_frame]
        [/if]
        [else]
            hits=no
            [missile_frame]
                begin=-200
                end=200
                halo="misc/blank-hex.png"
            [/missile_frame]
        [/else]
        [frame]
            begin=-200
            end=0
            image="units/undead/dark-shade-attack-ranged.png"
        [/frame]
        [frame]
            begin=0
            end=200
            image="units/undead/dark-shade-attack-ranged.png"
            sound=magicmissile.wav
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/undead/dark-shade.png"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        alpha=0.8~0.4:1400,0.4~0.6:600,0.6~0.4:600,0.4~0.8:1400
        [frame]
            duration=4000
            image="units/undead/dark-shade.png"
        [/frame]
    [/standing_anim]
    {GENERIC_AMLA units/undead/dark-shade.png units/undead/dark-shade-attack-ranged.png units/undead/dark-shade-attack-ranged.png units/undead/dark-shade.png units/undead/dark-shade-attack-ranged.png units/undead/dark-shade-attack-ranged.png (
        [advancement]
            max_times=1
            id=claws
            description= _ "clawing better"
            image="attacks/claws-undead.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=claws
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=claws2
            description= _ "clawing better"
            image="attacks/claws-undead.png"
            strict_amla=yes
            require_amla="claws"
            [effect]
                apply_to=attack
                name=claws
                increase_damage=1
                remove_specials=backstab
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_GREATER_BACKSTAB}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=claws3
            description= _ "clawing better"
            image="attacks/claws-undead.png"
            strict_amla=yes
            require_amla="claws,claws2"
            [effect]
                apply_to=attack
                name=claws
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=claws4
            description= _ "clawing better"
            image="attacks/claws-undead.png"
            strict_amla=yes
            require_amla="claws,claws2,claws3"
            [effect]
                apply_to=attack
                name=claws
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=sip
            description= _ "draining enemies better"
            image="attacks/soul-sip.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=soul sip
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=sip2
            description= _ "draining enemies better"
            image="attacks/soul-sip.png"
            strict_amla=yes
            require_amla="sip"
            [effect]
                apply_to=attack
                name=soul sip
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=sip3
            description= _ "draining more from living, able to drain a bit from the non-living as well"
            image="attacks/soul-sip.png"
            strict_amla=yes
            require_amla="sip,sip2"
            [effect]
                apply_to=attack
                name=soul sip
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_LEECH}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=sip4
            description= _ "draining enemies better"
            image="attacks/soul-sip.png"
            strict_amla=yes
            require_amla="sip,sip2"
            [effect]
                apply_to=attack
                name=soul sip
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            {AMLA_DEFAULT_BONUSES}
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/advancement]
    ) "Dark Shade"}
