#textdomain wesnoth-loti
[unit_type]		#He used to be weaker. I have made a real badass from him in 2.1.4. He is also immune to disintegrate.
    id=Dark Dragon
    name= _ "Dark Dragon"
    race=monster
    image="units/enemies/dark-dragon.png"
    hitpoints=500
    movement_type=drakefly
    movement=10
    experience=1000
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_6}
    [/abilities]
    level=10
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=120
    undead_variation=drake
    usage=archer
    description= _ "A dark dragon is a legendary creature, normally seen only in fantastic tales. They are very rare, and were it not for the historical events, the singlehanded destruction of cities and towns that these creatures have wrought, they might be dismissed as mere myth. Legends are very specific about the ravages of dark dragons; noting their great strength, speed, their preternatural cunning, and above all else, the great darkness that accumulates inside of them all the time.

Battling a dragon is said to be the pinnacle of danger itself, fit only for fools, or the bravest of knights.

Special notes: This unit absorbs the vital energy of its victims when its foul breath touches them, healing a half of the damage inflicited and makes them fall in lethargy, halving their damage and doubling their movement costs. The leadership of this unit enables adjacent units of the same side to deal more damage in combat, though this only applies to units of lower level."+{SPECIAL_NOTES_ARCANE}
    die_sound=drake-die.ogg
    [resistance]
        arcane=140
        fire=80
        cold=80
    [/resistance]
    [attack]
        name=bite
        description= _"bite"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=30
        number=5
    [/attack]
    [attack]
        name=dark breath
        description= _"dark breath"
        icon=attacks/dark-missile.png
        type=arcane
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        range=ranged
        damage=25
        number=7
    [/attack]
    [movement_anim]
        start_time=0
        submerge=0.01
        [frame]
            duration=500
            image="units/enemies/dark-dragon-fly.png"
        [/frame]
        [frame]
            duration=500
            image="units/enemies/dark-dragon.png"
        [/frame]
    [/movement_anim]
    [attack_anim]
        [filter_attack]
            name=dark breath
        [/filter_attack]
        start_time=-400
        {MISSILE_FRAME_DARKNESS_BEAM}
        [frame]
            begin=-500
            end=-450
            image="units/enemies/dark-dragon.png"
        [/frame]
        [frame]
            begin=-450
            end=-400
            image="units/enemies/dark-dragon-breath.png"
        [/frame]

        [if]
            hits=no

            [frame]
                begin=-400
                end=-250
                image="units/enemies/dark-dragon-breath.png"
                sound=magic-dark.ogg
            [/frame]
        [/if]
        [else]
            hits=yes

            [frame]
                begin=-400
                end=-250
                image="units/enemies/dark-dragon-breath.png"
                sound=magic-dark-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-250
            end=-50
            image="units/enemies/dark-dragon-breath.png"
        [/frame]
        [frame]
            begin=-50
            end=100
            image="units/enemies/dark-dragon.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        [frame]
            begin=-500
            end=-450
            image="units/enemies/dark-dragon.png"
        [/frame]
        [frame]
            begin=-450
            end=-300
            image="units/enemies/dark-dragon-breath.png"
        [/frame]
        [if]
            hits=no
            direction=s,se,sw
            [frame]
                begin=-300
                end=50
                image="units/enemies/dark-dragon-fangs.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            direction=s,se,sw
            [frame]
                begin=-300
                end=50
                image="units/enemies/dark-dragon-fangs.png"
                sound=bite.ogg
            [/frame]
        [/else]
        [else]
            hits=yes
            direction=n,ne,nw
            [frame]
                begin=-300
                end=50
                image="units/enemies/dark-dragon-fangs-n.png"
                sound=bite.ogg
            [/frame]
        [/else]
        [else]
            hits=no
            direction=n,ne,nw
            [frame]
                begin=-300
                end=50
                image="units/enemies/dark-dragon-fangs-n.png"
            [/frame]
        [/else]
        [frame]
            begin=-50
            end=450
            image="units/enemies/dark-dragon-breath.png"
        [/frame]
        [frame]
            begin=450
            end=500
            image="units/enemies/dark-dragon.png"
        [/frame]
    [/attack_anim]
[/unit_type]
