#textdomain wesnoth-loti
[unit_type]
    id=Deathlord
    name= _ "Deathlord"
    race=undead
    image="units/undead/deathlord.png"
    profile="portraits/undead/draug.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=83
    movement_type=undeadfoot
    movement=5
    experience=140
    {QUANTITY experience 100 120 140}
    level=4
    alignment=chaotic
    advances_to=null
    cost=65
    usage=fighter
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Draug
        experience=250
    [/advancefrom]
    [advancefrom]
        unit=Death Knight
        experience=250
    [/advancefrom]
    [advancefrom]
        unit=Death Knight LotI
        experience=250
    [/advancefrom]
#endif
    description= _ "Clad in a dark armour radiating with evil power of their controller, carrying a battle axe made not of steel, but of bones of its victims put together with malevolent magic, these terrible knights of evil bring doom to everyone who crosses their path. Cruelty is not what it seeks, but warfare is the only thing it remembers from its previous life, and so it fights; without any purpose or goal, it is simply the only thing its mindless body can do."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}
    die_sound=skeleton-big-die.ogg
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/undead/transparent/draug.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/undead/transparent/draug.png"
    [/portrait]
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [resistance]
        blade=50
        pierce=30
        impact=110
    [/resistance]
    [attack]
        name=axe
        description=_"axe"
        icon=attacks/battleaxe-undead.png
        type=blade
        range=melee
        damage=10
        number=5
        [specials]
            {WEAPON_SPECIAL_HORRID}
        [/specials]
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-undead.png
        type=pierce
        range=ranged
        damage=5
        number=3
    [/attack]
    {DEFENSE_ANIM "units/undead/deathlord-defend-2.png" "units/undead/deathlord-defend-1.png" {SOUND_LIST:SKELETON_BIG_HIT} }
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/undead/deathlord.png"
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/undead/deathlord-attack1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=100
                image="units/undead/deathlord-attack2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=100
                image="units/undead/deathlord-attack2.png"
                sound=axe.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/undead/deathlord-defend-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=crossbow
        [/filter_attack]
        start_time=-400
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            duration=100
            image="units/undead/deathlord-crossbow.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=150
                image="units/undead/deathlord-crossbow.png"
                sound=crossbow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=150
                image="units/undead/deathlord-crossbow.png"
                sound=crossbow-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    {GENERIC_AMLA units/undead/deathlord.png units/undead/deathlord-attack1.png units/undead/deathlord-attack2.png units/undead/deathlord.png units/undead/deathlord-attack1.png units/undead/deathlord-attack2.png (
        [advancement]
            max_times=1
            id=axe
            description= _ "better at melee combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=axe2
            description= _ "better at melee combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=axe3
            description= _ "better at melee combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe,axe2"
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=axe4
            description= _ "better at melee combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe,axe2,axe3"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=doom
            description= _ "able to attack in a terrible way that lowers enemy resistance"
            image=attacks/axe-unholy.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=doom
                description= _ "doom"
                icon=attacks/axe-unholy.png
                range=melee
                defense_weight=0
                damage=-30
                number=-30
                clone_anim=yes
                [specials]
                    {WEAPON_SPECIAL_DOOM}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=doom2
            description= _ "crippling enemies better"
            image=attacks/axe-unholy.png
            strict_amla=yes
            require_amla="doom"
            [effect]
                apply_to=improve_bonus_attack
                name=doom
                increase_damage=15
                increase_attacks=5
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=block
            description= _ "better at blocking attacks"
            image=icons/shield_tower.png
            strict_amla=yes
            require_amla=""
            {AMLA_DEFAULT_BONUSES}
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-4
                    castle=-4
                    sand=-4
                    village=-4
                    flat=-4
                    hills=-4
                    mountains=-4
                    swamp_water=-4
                    cave=-4
                    shallow_water=-4
                    reef=-4
                    forest=-4
                    fungus=-4
                [/defense]
            [/effect]
        [/advancement]
        [advancement]
            max_times=1
            id=xbow
            description= _ "better with crossbow"
            image="attacks/crossbow-undead.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=crossbow
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=xbow2
            description= _ "better with crossbow"
            image="attacks/crossbow-undead.png"
            strict_amla=yes
            require_amla="xbow"
            [effect]
                apply_to=attack
                name=crossbow
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=xbow-poison
            description= _ "shooting poisonous arrows"
            image="attacks/crossbow-undead.png"
            strict_amla=yes
            require_amla="xbow2,xbow"
            [effect]
                apply_to=attack
                name=crossbow
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_POISON}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=xbow3
            description= _ "better with crossbow"
            image="attacks/crossbow-undead.png"
            strict_amla=yes
            require_amla="xbow2,xbow"
            [effect]
                apply_to=attack
                name=crossbow
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better resistance (2% blade, 2% pierce, 3% cold, but -1% arcane)"
            image=icons/skull.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-2
                    pierce=-2
                    cold=-3
                    arcane=1
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Deathlord"}
