#textdomain wesnoth-loti
[unit_type]
    id=Deathshroom
    name= _ "Deathshroom"
    race=monster
    image="units/enemies/plants/deathshroom.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=97
    movement_type=carnivorousplantfoot
    movement=1
    experience=250
    level=2
    alignment=neutral
    advances_to=Hatredshroom
    cost=78
    usage=shaman
    description= _ "Deathshroom is a venomous mushroom that grows in symbiosis with Flowers of Evil. It feeds on the very essence of evil that exists around it, and channels it to nearby infernal plants, that give it substances it needs to grow."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_MAGICAL}
    die_sound=wose-hit.ogg
    {DEFENSE_ANIM "units/enemies/plants/deathshroom-defend-2.png" "units/enemies/plants/deathshroom-defend-1.png" wose-hit.ogg }
    [abilities]
        [regenerate]
            value=24
            id=symbiosis 24
            name= _ "symbiosis (24)"
            female_name= _ "female^symbiosis (24)"
            description= _ "The unit will heal itself 24 HP per turn, if there is a Flower of Evil or Voracius Herb next to it. If it is poisoned, it will remove the poison instead of healing."
            affect_self=yes
            poison=cured
            [filter_self]
                [filter_adjacent]
                    type=Voracious Herb
                    [or]
                        type=Flower of Evil
                    [/or]
                [/filter_adjacent]
            [/filter_self]
        [/regenerate]
    [/abilities]
    [attack]
        name=shadow wave
        description=_"shadow wave"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            [drains]
                id=drains
                name= _ "drains"
                description= _ "This unit drains health from living units, healing itself for half the amount of damage it deals (rounded down)."
                [filter_self]
                    [filter_adjacent]
                        type=Voracious Herb
                        [or]
                            type=Flower of Evil
                        [/or]
                    [/filter_adjacent]
                [/filter_self]
            [/drains]
        [/specials]
        range=ranged
        damage=11
        number=2
        icon=attacks/dark-missile.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=shadow wave
        [/filter_attack]
        [missile_frame]
            begin=-100
            end=100
            image="projectiles/darkmissile-n.png"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]

        [frame]
            begin=-200
            end=-150
            image="units/enemies/plants/deathshroom.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/enemies/plants/deathshroom-defend-1.png"
            halo=halo/undead/black-magic-1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=0
                image="units/enemies/plants/deathshroom-defend-1.png"
                sound=magic-dark.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=0
                image="units/enemies/plants/deathshroom-defend-1.png"
                sound=magic-dark-miss.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/else]
        [frame]
            begin=0
            end=75
            image="units/enemies/plants/deathshroom-defend-1.png"
            halo=halo/undead/black-magic-3.png
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/enemies/plants/deathshroom.png"
            halo=halo/undead/black-magic-4.png
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/enemies/plants/deathshroom.png"
            halo=halo/undead/black-magic-5.png
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/enemies/plants/deathshroom.png"
        [/frame]
    [/attack_anim]
[/unit_type]
