#textdomain wesnoth-loti
[unit_type]
    id=Demon Lord
    name= _ "Demon Lord"
    gender=male,female
    race=demon lord-loti
    image="units/enemies/demons/demon-lord.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=1000
    {QUANTITY hitpoints 700 850 1000}
    [advancement]
        strict_amla=yes
        max_times=100
        id=amla_demon_lord
        image="misc/icon-amla-tough.png"
#ifndef EASY
        [effect]
            apply_to=hitpoints
            increase_total=100
            increase=200
        [/effect]
#endif
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=attack
            increase_damage=11
            {QUANTITY increase_damage 9 10 11}
        [/effect]
    [/advancement]
    movement_type=demonfoot
    [resistance]
        impact=80
        blade=60
        pierce=60
    [/resistance]
    [trait]
        id=disastrous
        male_name= _ "disastrous"
        female_name= _ "female^disastrous"
        description= _ "cleaves"
        [effect]
            apply_to=attack
            range=melee
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_CLEAVE}
            [/set_specials]
        [/effect]
    [/trait]
    movement=5
    experience=300
    {QUANTITY experience 500 400 300}
    level=20
    alignment=liminal
    advances_to=null
    cost=600
    usage=mixed fighter
    description= _ "Demon Lords are ancient creatures of supreme power and unexpectable abilities. Their nearly human appearance makes it easy for them to manipulate mortals into mischief."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/enemies/demons/demon-lord-defend.png" "units/enemies/demons/demon-lord-defend.png" {SOUND_LIST:ORC_HIT} }
    [attack]
        name=glaive
        description=_"glaive"
        icon=attacks/glaive.png
        type=blade
        range=melee
        {QUANTITY damage 45 55 70}
        number=4
    [/attack]
    [attack]
        name=fireball
        description=_"fireball"
        type=fire
        range=ranged
        {QUANTITY damage 41 52 65}
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}

        start_time=-575
        [frame]
            duration=50
            image="units/enemies/demons/demon-lord.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/demons/demon-lord-magic.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=225
            image="units/enemies/demons/demon-lord-magic.png"
        [/frame]
        [frame]
            duration=75
            image="units/enemies/demons/demon-lord.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=firestorm
        [/filter_attack]
        {MISSILE_FRAME_FIRESTORM}

        start_time=-575
        [frame]
            duration=50
            image="units/enemies/demons/demon-lord.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/demons/demon-lord-magic.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=225
            image="units/enemies/demons/demon-lord-magic.png"
        [/frame]
        [frame]
            duration=75
            image="units/enemies/demons/demon-lord.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/enemies/demons/demon-lord.png"
        [/frame]
        [frame]
            begin=-200
            end=0
            image="units/enemies/demons/demon-lord-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=0
                end=100
                image="units/enemies/demons/demon-lord-attack-2.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=0
                end=100
                image="units/enemies/demons/demon-lord-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/enemies/demons/demon-lord.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "Demon Lord"
        gender=female
        image="units/enemies/demons/demon-lord+female.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM "units/enemies/demons/demon-lord+female-defend.png" "units/enemies/demons/demon-lord+female-defend.png" {SOUND_LIST:ELF_FEMALE_HIT} }
        [resistance]
            impact=100
            blade=100
            pierce=100
        [/resistance]
        [defense]	#Like elusivefoot
            deep_water=80
            shallow_water=60
            reef=50
            swamp_water=50
            flat=60
            sand=50
            forest=30
            hills=30
            mountains=30
            village=30
            castle=30
            cave=50
            frozen=50
            unwalkable=60
            impassable=0
            fungus=40
        [/defense]
        [attack_anim]
            [filter_attack]
                name=fireball
            [/filter_attack]
            {MISSILE_FRAME_FIREBALL}

            start_time=-575
            [frame]
                image="units/enemies/demons/demon-lord+female.png"
            [/frame]
            [frame]
                image="units/enemies/demons/demon-lord+female-magic.png"
                sound=fire.wav
            [/frame]
            [frame]
                image="units/enemies/demons/demon-lord+female-magic.png"
            [/frame]
            [frame]
                image="units/enemies/demons/demon-lord+female.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=fireball
            [/filter_attack]
            {MISSILE_FRAME_FIRESTORM}

            start_time=-575
            [frame]
                image="units/enemies/demons/demon-lord+female.png"
            [/frame]
            [frame]
                image="units/enemies/demons/demon-lord+female-magic.png"
                sound=fire.wav
            [/frame]
            [frame]
                image="units/enemies/demons/demon-lord+female-magic.png"
            [/frame]
            [frame]
                image="units/enemies/demons/demon-lord+female.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                range=melee
            [/filter_attack]
            [frame]
                image="units/enemies/demons/demon-lord+female.png"
            [/frame]
            [frame]
                image="units/enemies/demons/demon-lord+female-attack-1.png"
            [/frame]
            [if]
                hits=yes
                [frame]
                    image="units/enemies/demons/demon-lord+female-attack-2.png"
                    sound=axe.ogg
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    image="units/enemies/demons/demon-lord+female-attack-2.png"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/else]
            [frame]
                image="units/enemies/demons/demon-lord+female.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
