#textdomain wesnoth-loti
[unit_type]
    id=Destroyer
    name= _ "Destroyer"
    race=human
    {TRAIT_FEARLESS}
    image="units/humans/destroyer.png"
    small_profile="portraits/humans/transparent/iron-mauler.png~SCALE(205,205)"
    profile="portraits/humans/transparent/iron-mauler.png~RIGHT()"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=75
    movement_type=armoredfoot
    movement=5
    experience=130
    {QUANTITY experience 90 110 130}
    level=4
    alignment=lawful
    advances_to=null
    cost=62
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Iron Mauler
        experience=320
    [/advancefrom]
#endif
    description= _ "The strongest warriors of mankind, the Destroyers, are because of their strength and resilience sometimes considered to be not humans, but demons in human armour. No matter what they really are, their help in war is so significant that any warlord would pay great amounts of gold for every single destroyer he can have in his army.

Note: Destroyers can learn berserk."
    die_sound={SOUND_LIST:HUMAN_DIE}
    usage=fighter
    {DEFENSE_ANIM "units/humans/destroyer-defend.png" "units/humans/destroyer.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=scourge
        description=_"scourge"
        icon=attacks/scourge.png
        type=impact
        range=melee
        damage=22
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=scourge
        [/filter_attack]
        [frame]
            begin=-100
            end=-25
            image="units/humans/destroyer.png"
            offset=0.0~0.1
        [/frame]
        [frame]
            begin=-25
            end=50
            image="units/humans/destroyer-attack-1.png"
            offset=0.1~0.15
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=50
                end=125
                image="units/humans/destroyer-attack-2.png"
                sound=flail.ogg
                offset=0.35~0.45
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=50
                end=125
                image="units/humans/destroyer-attack-2.png"
                sound=flail-miss.ogg
                offset=0.35~0.45
            [/frame]
        [/else]
        [frame]
            begin=125
            end=200
            image="units/humans/destroyer-attack-3.png"
            offset=0.45~0.5
        [/frame]
        [frame]
            begin=200
            end=275
            image="units/humans/destroyer-attack-4.png"
            offset=0.45~0.5
        [/frame]
        [frame]
            begin=275
            end=300
            image="units/humans/destroyer.png"
            offset=0.5
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=mace_berserk
        [/filter_attack]
        [frame]
            begin=-100
            end=-25
            image="units/humans/destroyer.png"
            offset=0.0~0.1
        [/frame]
        [frame]
            begin=-25
            end=50
            image="units/humans/destroyer-attack-1.png"
            offset=0.1~0.15
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=50
                end=125
                image="units/humans/destroyer-attack-2.png"
                sound=mace.wav
                offset=0.35~0.45
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=50
                end=125
                image="units/humans/destroyer-attack-2.png"
                sound={SOUND_LIST:MISS}
                offset=0.35~0.45
            [/frame]
        [/else]
        [frame]
            begin=125
            end=200
            image="units/humans/destroyer-attack-3.png"
            offset=0.45~0.5
        [/frame]
        [frame]
            begin=200
            end=275
            image="units/humans/destroyer-attack-4.png"
            offset=0.45~0.5
        [/frame]
        [frame]
            begin=275
            end=300
            image="units/humans/destroyer.png"
            offset=0.5
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/humans/destroyer.png units/humans/destroyer-attack-1.png units/humans/destroyer-attack-2.png units/humans/destroyer.png units/humans/destroyer-attack-1.png units/humans/destroyer-attack-2.png (
        [advancement]
            max_times=1
            always_display=yes
            id=scourge
            description= _ "striking more furiously with scourge"
            image=attacks/morning-star.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=scourge
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=scourge2
            description= _ "striking more furiously with scourge"
            image=attacks/morning-star.png
            strict_amla=yes
            require_amla="scourge"
            [effect]
                apply_to=attack
                name=scourge
                increase_damage=-5
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=scourge3
            description= _ "striking more furiously with scourge"
            image=attacks/morning-star.png
            strict_amla=yes
            require_amla="scourge2,scourge"
            [effect]
                apply_to=attack
                name=scourge
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=berserk
            description= _ "able to enter a battle frenzy like dwarves, but only when attacking"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="scourge"
            [effect]
                apply_to=new_attack
                name="mace_berserk"
                description= _ "frenzy"
                icon=attacks/frenzy.png
                type=impact
                range=melee
                defense_weight=0
                [specials]
                    {WEAPON_SPECIAL_LESSER_BERSERK 3}
                [/specials]
                damage=7
                number=5
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=berserk2
            description= _ "striking better when in battle frenzy"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="berserk"
            [effect]
                apply_to=attack
                name=mace_berserk
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better protected from physical blows (2% better resistances; +4% resist impact)"
            image=icons/steel_armor.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-2
                    pierce=-2
                    impact=-4
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Destroyer"}
