#textdomain wesnoth-loti
[unit_type]
    id=Dracolich
    name= _ "Dracolich"
    race=undead
    image="units/monsters/skeletal-dragon.png"
    hitpoints=500
#ifdef EASY
    hitpoints=350
#endif
#ifdef NORMAL
    hitpoints=425
#endif
#ifdef HARD
    hitpoints=500
#endif
    movement_type=undeadfly
    movement=8
    experience=5000
    level=15
    alignment=chaotic
    advances_to=null
    cost=100
    usage=mixed fighter
    [resistance]
        blade=60
        pierce=40
        impact=120
        fire=100
        arcane=130
    [/resistance]
    description= _ "The most evil and twisted dragons explore the dark side of the magic, just like the necromancers. Upon death or when they decide, they become dracoliches, terrible abominations far stronger than dragons, far stronger than liches, far stronger than anything in this world."+{SPECIAL_NOTES}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_SLOW}
    die_sound=skeleton-big-die.ogg
    [attack]
        name=jaw
        description=_"jaw"
        icon=attacks/fangs.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        damage=19
        number=5
    [/attack]
    [attack]
        name=claws
        description= _"claws"
        type=blade
        range=melee
        damage=41
        number=3
    [/attack]
    [attack]
        description= _"dark breath"
        name="dark breath"
        icon=attacks/dark-missile.png
        type=arcane
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        range=ranged
        damage=21
        number=4
    [/attack]
    {DEFENSE_ANIM "units/monsters/skeletal-dragon-defend.png" "units/monsters/skeletal-dragon.png" {SOUND_LIST:SKELETON_BIG_HIT} }
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/monsters/skeletal-dragon-attack-claws1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-150
                end=-50
                image="units/monsters/skeletal-dragon-attack-claws2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-150
                end=-50
                image="units/monsters/skeletal-dragon-attack-claws2.png"
                sound=claws.ogg
            [/frame]
        [/else]
        [frame]
            begin=-50
            end=100
            image="units/monsters/skeletal-dragon-attack-claws3.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=jaw
        [/filter_attack]
        [frame]
            begin=-150
            end=-50
            image="units/monsters/skeletal-dragon-attack-jaw1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=100
                image="units/monsters/skeletal-dragon-attack-jaw2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=100
                image="units/monsters/skeletal-dragon-attack-jaw2.png"
                sound=bite.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dark breath
        [/filter_attack]
        start_time=-400
        [if]
            direction=n,ne,nw
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-1.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-2.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-3.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-4.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-5.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-6.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=130
                halo="halo/darkness-beam-7.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-6.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-5.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-4.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-3.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-2.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-1.png"
                offset=1.0
            [/missile_frame]
        [/if]
        [else]
            direction=s,se,sw
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-1.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-2.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-3.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-4.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-5.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-6.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=130
                halo="halo/darkness-beam-7.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-6.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-5.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-4.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-3.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-2.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-1.png~FL(vert)"
                offset=1.0
            [/missile_frame]
        [/else]
        [frame]
            duration=180
            image="units/monsters/skeletal-dragon.png"
        [/frame]
        [frame]
            duration=180
            image="units/monsters/skeletal-dragon-attack-claws1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=180
                image="units/monsters/skeletal-dragon-attack-claws2.png"
                sound=magic-dark-big.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=180
                image="units/monsters/skeletal-dragon-attack-claws2.png"
                sound=magic-dark-big-miss.ogg
            [/frame]
        [/else]
        [frame]
            duration=140
            image="units/monsters/skeletal-dragon.png"
        [/frame]
    [/attack_anim]
[/unit_type]
