#textdomain wesnoth-loti
[unit_type]
    id=Dragon Rider
    name= _ "Dragon Rider"
    race=human
    image="units/humans/dragonrider.png"
    profile="portraits/humans/grand-knight.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=101
    movement_type=mounted
    movement=9
    experience=180
    {QUANTITY experience 120 150 180}
    level=5
    alignment=lawful
    advances_to=null
    undead_variation=mounted
    cost=90
    usage=fighter
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Grand Knight
        experience=800
    [/advancefrom]
    [advancefrom]
        unit=Grand Marshal
        experience=500
    [/advancefrom]
#endif
    [resistance]
        blade=60
        pierce=80
        impact=60
        fire=50
        cold=120
        arcane=110
    [/resistance]
    [movement_costs]
        shallow_water=1
        reef=1
        swamp_water=1
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=1
        village=1
        castle=1
        cave=2
        frozen=1
        fungus=2
    [/movement_costs]
    [defense]
        mountains=60
    [/defense]
    description= _ "The greatest elite of human warriors is sometimes invited to join a special order, the Dragon Riders. Relatively unknown to the world, they managed to control the mightiest creatures of the world. They appear when the world is in danger."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARGE}
    die_sound=drake-die.ogg
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/grand-knight.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/grand-knight.png"
    [/portrait]
    [attack]
        name=bite
        description= _"bite"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=13
        number=4
    [/attack]
    [attack]
        name=lance
        description=_"lance"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        range=melee
        damage=17
        number=3
    [/attack]
    [attack]
        name=fire breath
        description= _"fire breath"
        icon=attacks/fire-breath-drake.png
        type=fire
        range=ranged
        damage=13
        number=4
    [/attack]
    {DEFENSE_ANIM "units/humans/dragonrider-breath.png" "units/humans/dragonrider.png" {SOUND_LIST:DRAKE_HIT} }
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        [frame]
            begin=-500
            end=-450
            image="units/humans/dragonrider.png"
        [/frame]
        [frame]
            begin=-450
            end=-300
            image="units/humans/dragonrider-breath.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-300
                end=50
                image="units/humans/dragonrider-jaws.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-300
                end=50
                image="units/humans/dragonrider-jaws.png"
                sound=bite.ogg
            [/frame]
        [/else]
        [frame]
            begin=-50
            end=450
            image="units/humans/dragonrider-breath.png"
        [/frame]
        [frame]
            begin=450
            end=500
            image="units/humans/dragonrider.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=lance
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/humans/dragonrider.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=150
                image="units/humans/dragonrider-charge.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=150
                image="units/humans/dragonrider-charge.png"
                sound=spear.ogg
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/humans/dragonrider.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]
        [if]
            direction=n

            [missile_frame]
                begin=-400
                end=100
                halo=projectiles/fire-breath-n-1.png:80,projectiles/fire-breath-n-2.png:80,projectiles/fire-breath-n-3.png:80,projectiles/fire-breath-n-4.png:80,projectiles/fire-breath-n-5.png:80
                halo_x,halo_y=20,-34
            [/missile_frame]
        [/if]
        [else]
            direction=s

            [missile_frame]
                begin=-400
                end=100
                halo=projectiles/fire-breath-s-1.png:80,projectiles/fire-breath-s-2.png:80,projectiles/fire-breath-s-3.png:80,projectiles/fire-breath-s-4.png:80,projectiles/fire-breath-s-5.png:80
                halo_x,halo_y=22,12
            [/missile_frame]
        [/else]
        [else]
            direction=ne,nw

            [missile_frame]
                begin=-400
                end=100
                halo=projectiles/fire-breath-ne-1.png:80,projectiles/fire-breath-ne-2.png:80,projectiles/fire-breath-ne-3.png:80,projectiles/fire-breath-ne-4.png:80,projectiles/fire-breath-ne-5.png:80
                halo_x,halo_y=35,-22
            [/missile_frame]
        [/else]
        [else]
            direction=se,sw

            [missile_frame]
                begin=-400
                end=100
                halo=projectiles/fire-breath-se-1.png:80,projectiles/fire-breath-se-2.png:80,projectiles/fire-breath-se-3.png:80,projectiles/fire-breath-se-4.png:80,projectiles/fire-breath-se-5.png:80
                halo_x,halo_y=37,14
            [/missile_frame]
        [/else]

        [frame]
            begin=-500
            end=-450
            image="units/humans/dragonrider.png"
        [/frame]
        [frame]
            begin=-450
            end=-400
            image="units/humans/dragonrider-breath.png"
        [/frame]

        [if]
            hits=no

            [frame]
                begin=-400
                end=-250
                image="units/humans/dragonrider-breath.png"
                sound=flame-big-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes

            [frame]
                begin=-400
                end=100
                image="units/humans/dragonrider-breath.png"
                sound=flame-big.ogg
            [/frame]
            [frame]
                begin=100
                end=200
                image="units/humans/dragonrider.png"
            [/frame]
        [/else]
    [/attack_anim]
    {GENERIC_AMLA units/humans/dragonrider.png units/humans/dragonrider-charge.png units/humans/dragonrider-breath.png units/humans/dragonrider.png units/humans/dragonrider-charge.png units/humans/dragonrider-breath.png (
        [advancement]
            max_times=5
            always_display=yes
            id=bite
            description= _ "commanding the dragon to bite better"
            image=attacks/fangs-animal.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=bite
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=bite-drain
            description= _ "able to order the dragon to eat bits of freshly torn meat during battle"
            image=attacks/fangs-animal.png
            strict_amla=yes
            require_amla="bite"
            [effect]
                apply_to=attack
                name=bite
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_DRAIN}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=lance
            description= _ "striking better with lance"
            image=attacks/lance.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=lance
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=lance2
            description= _ "striking better with lance"
            image=attacks/lance.png
            strict_amla=yes
            require_amla="lance"
            [effect]
                apply_to=attack
                name=lance
                increase_damage=-3
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=lance3
            description= _ "charging more powerfully with lance (2.5 times more damage)"
            image=attacks/lance.png
            strict_amla=yes
            require_amla="lance,lance2"
            [effect]
                apply_to=attack
                name=lance
                remove_specials=charge
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_CHARGING 2.5}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=lance4
            description= _ "charging even more powerfully with the lance (3 times more damage)"
            image=attacks/lance.png
            strict_amla=yes
            require_amla="lance,lance2,lance3"
            [effect]
                apply_to=attack
                name=lance
                remove_specials=charge
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_CHARGING 3}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=lance5
            description= _ "striking even better with the lance"
            image=attacks/lance.png
            strict_amla=yes
            require_amla="lance,lance2"
            [effect]
                apply_to=attack
                name=lance
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=fire
            description= _ "commanding the dragon to breathe fire better"
            image=attacks/fire-breath-drake.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=fire breath
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=fire2
            description= _ "commanding the dragon to breathe fire faster"
            image=attacks/fire-breath-drake.png
            strict_amla=yes
            require_amla="fire"
            [effect]
                apply_to=attack
                name=fire breath
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=fire3
            description= _ "commanding the dragon to breathe fire better"
            image=attacks/fire-breath-drake.png
            strict_amla=yes
            require_amla="fire2"
            [effect]
                apply_to=attack
                name=fire breath
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=fire-incinerate
            description= _ "incinerating enemies with dragon breath"
            image=attacks/fire-breath-drake.png
            strict_amla=yes
            require_amla="fire3"
            [effect]
                apply_to=attack
                name=fire breath
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_INCINERATE}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership
            description= _ "able to lead allies into battle (like a level 2 unit)"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_2}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership2
            description= _ "able to lead allies into battle (like a level 3 unit)"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="leadership"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_2}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_3}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership3
            description= _ "a greater leader in battle (like a level 4 unit)"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="leadership2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_3}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_4}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership4
            description= _ "a greater leader in battle (like a proper level 5 unit)"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="leadership3"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_4}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_5}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "riding a tougher dragon (2% better resistances; +3% resist pierce)"
            image=icons/steel_armor.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-2
                    pierce=-3
                    impact=-2
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Dragon Rider"}
