#textdomain wesnoth-loti
[unit_type]
    id=Duke
    name= _ "Duke"
    race=human
    gender=male
    image="units/humans/duke.png"
    profile="portraits/humans/marshal.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {DEFENSE_ANIM "units/humans/duke-defend.png" "units/humans/duke.png" {SOUND_LIST:HUMAN_HIT} }
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/humans/duke-leading.png"
        [/frame]
    [/leading_anim]
    [healing_anim]
        [frame]
            begin=-150
            end=150
            image="units/humans/duke-leading.png"
        [/frame]
    [/healing_anim]
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Grand Marshal
        experience=500
    [/advancefrom]
#endif
    hitpoints=86
    movement_type=smallfoot
    movement=6
    experience=140
    {QUANTITY experience 100 120 140}
    level=5
    alignment=lawful
    advances_to=null
    cost=88
    usage=fighter
    description= _ "If those who have earned the title of Grand Marshal are fearsome, those leaders of battle known as Dukes make them seem like lowly corporals. Few other commanders leave such a great mark on battlefield and state alike, as the sheer strategic prowess of the Duke inevitably carries over into political life. Though some may best him in single combat, few have ever triumphed over a Duke in charge of a full army; not only can he exhort those in his command to greater efficiency as a unit, his mere presence is enough to stir his troops to rash death-or-glory charges against the enemy."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}+_" This unit can fanaticise all units adjacent to him into a frenzy, making them deal and take double damage, but only offensively."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        blade=75
        pierce=75
        impact=75
    [/resistance]
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_5}
        {ABILITY_CHARGE_LEADERSHIP}
    [/abilities]
    [attack]
        name=sword
        description=_"longsword"
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=11
        number=4
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=8
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/humans/duke.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/humans/duke-attack1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/humans/duke-attack2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/humans/duke-attack2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/humans/duke.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=crossbow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-400
            end=-300
            image="units/humans/duke-crossbow.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-300
                end=-150
                image="units/humans/duke-crossbow2.png"
                sound=crossbow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-150
                image="units/humans/duke-crossbow2.png"
                sound=crossbow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-150
            end=0
            image="units/humans/duke-crossbow.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/humans/duke.png units/humans/duke-attack1.png units/humans/duke-leading.png units/humans/duke.png units/humans/duke-attack1.png units/humans/duke-leading.png (
        [advancement]
            max_times=1
            id=melee
            description= _ "faster at melee"
            image="attacks/greatsword-human.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=melee2
            description= _ "better at melee"
            image="attacks/greatsword-human.png"
            strict_amla=yes
            require_amla="melee"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=xbow
            description= _ "better with crossbow"
            image="attacks/crossbow-human.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=ranged
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=xbow2
            description= _ "better with crossbow"
            image="attacks/crossbow-human.png"
            strict_amla=yes
            require_amla="xbow"
            [effect]
                apply_to=attack
                range=ranged
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=xbow3
            description= _ "better with crossbow"
            image="attacks/crossbow-human.png"
            strict_amla=yes
            require_amla="xbow2,xbow"
            [effect]
                apply_to=attack
                range=ranged
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=3
            description= _ "better protected from physical blows (3% better resistances)"
            image=icons/steel_armor.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-3
                    pierce=-3
                    impact=-3
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=leadership
            strict_amla=yes
            description= _ "possessing the leadership of a level 6 unit"
            image=attacks/frenzy.png
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_5}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_6}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=leadership2
            strict_amla=yes
            description= _ "able to make all adjacent allies capable to attack first even when defending"
            image=attacks/frenzy.png
            require_amla="leadership"
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_FIRSTSTRIKE_LEADERSHIP}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=leadership3
            strict_amla=yes
            description= _ "able to let all adjacent allies gain 1 movement point after attacking"
            image=attacks/frenzy.png
            require_amla="leadership"
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_PENETRATE_LEADERSHIP}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=heal1
            description= _ "able to heal allies"
            image=attacks/lightbeam.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_CURES}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=heal2
            description= _ "able to heal allies better"
            image=attacks/lightbeam.png
            strict_amla=yes
            require_amla="heal1"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_CURES}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_HEALS_OTHER 12}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Duke"}
