#textdomain wesnoth-loti
[unit_type]
    id=Dwarvish Protector
    name= _ "Dwarvish Protector"
    race=dwarf
    image="units/dwarves/protector.png"
    profile=portraits/dwarves/sentinel.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=82
    movement_type=dwarvishfoot
    movement=4
    experience=130
    {QUANTITY experience 90 110 130}
    level=4
    alignment=neutral
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Dwarvish Sentinel
        experience=250
    [/advancefrom]
#endif
    cost=68
    usage=fighter
    description= _ "Dwarvish Protectors are the hardiest from all dwarves. A wall of Dwarvish Protectors can resist enemy blows better than a stone wall - and is much more dangerous."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/protector-defend-2.png" "units/dwarves/protector-defend-1.png" {SOUND_LIST:DWARF_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/dwarves/transparent/sentinel.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dwarves/transparent/sentinel.png"
    [/portrait]
    [defense]
        flat=60
        forest=60
        sand=60
        mountains=40
        hills=50
    [/defense]
    [resistance]
        blade=60
        pierce=60
    [/resistance]
    [abilities]
        {ABILITY_UNYIELDING}
    [/abilities]
    [attack]
        name=spear
        description=_"spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=12
        number=3
    [/attack]
    [attack]
        name=javelin
        description=_"javelin"
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=13
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=javelin
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        [frame]
            begin=-250
            end=-150
            image="units/dwarves/protector-defend-1.png"
            sound={SOUND_LIST:THROW}
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=-50
                image="units/dwarves/protector-attack.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=-50
                image="units/dwarves/protector-attack.png"
            [/frame]
        [/else]
        [frame]
            begin=-50
            end=0
            image="units/dwarves/protector.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/dwarves/protector.png"
        [/frame]
        [frame]
            begin=-150
            end=-100
            image="units/dwarves/protector-defend-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/dwarves/protector-attack.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/dwarves/protector-attack.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=75
            image="units/dwarves/protector-defend-1.png"
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/dwarves/protector.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/dwarves/protector.png units/dwarves/protector-defend-1.png units/dwarves/protector-defend-1.png units/dwarves/protector.png units/dwarves/protector-defend-1.png units/dwarves/protector-defend-1.png (
        [advancement]
            max_times=1
            always_display=yes
            id=spear
            description= _ "striking better with spear"
            image=attacks/spear.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=spear
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=spear2
            description= _ "striking faster with spear"
            image=attacks/spear.png
            strict_amla=yes
            require_amla="spear"
            [effect]
                apply_to=attack
                name=spear
                increase_damage=-2
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=spear3
            description= _ "striking better with spear"
            image=attacks/spear.png
            strict_amla=yes
            require_amla="spear2"
            [effect]
                apply_to=attack
                name=spear
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=javelin
            description= _ "throwing javelins faster"
            image=attacks/javelin-human.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=javelin
                increase_damage=-2
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=javelin2
            description= _ "throwing javelins better"
            image=attacks/javelin-human.png
            strict_amla=yes
            require_amla="javelin"
            [effect]
                apply_to=attack
                name=javelin
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=charge
            strict_amla=yes
            description= _ "able to charge into battle"
            image=attacks/frenzy.png
            require_amla=""
            [effect]
                apply_to=bonus_attack
                range=melee
                name="charge"
                description= _ "charge"
                clone_anim=yes
                icon=attacks/frenzy.png
                defense_weight=0
                number=-30
                [specials]
                    {WEAPON_SPECIAL_CHARGE}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=adamant
            strict_amla=yes
            description= _ "better resistances when defending"
            image="icons/shield_tower.png"
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_UNYIELDING}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_ADAMANT}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=block
            description= _ "blocking better"
            image="icons/shield_tower.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-4
                    castle=-2
                    sand=-4
                    village=-2
                    flat=-2
                    hills=-2
                    mountains=-2
                    swamp_water=-4
                    cave=-2
                    shallow_water=-4
                    reef=-2
                    forest=-4
                    fungus=-4
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better protected from physical blows (3% better resistances)"
            image=icons/steel_armor.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-3
                    pierce=-3
                    impact=-2
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            {AMLA_DEFAULT_BONUSES}
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/advancement]
    ) "Dwarvish Protector"}
