#textdomain wesnoth-loti
[unit_type]
    id=Dwarvish Battlerager
    name= _ "Dwarvish Battlerager"
    race=dwarf
    image="units/dwarves/battlerager.png"
    profile="portraits/dwarves/ulfserker.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=63
    movement_type=dwarvishfoot
    movement=5
    experience=100
    {QUANTITY experience 70 85 100}
    level=3
    alignment=neutral
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Dwarvish Berserker
        experience=150
    [/advancefrom]
#endif
    cost=57
    usage=fighter
    description= _ "Dwarvish Lords are always thinking about ways to make their army more powerful. One of their frequent decisions is that Berserkers, a rare caste of Dwarves, who work themselves into a towering rage before combat, disdain all notion of defense, thinking only of the unrelenting assaults for which they are legendary, should wear armours. Berserkers usually refuse, because armour would prevent them from attacking as strongly as possible. Sometimes a cunning Dwarvish Lord decides to forge an armour to appeal to them. These armours are black, heavy, and there is a lot of spikes on them, that attires the attention of any Berserker. Clad in a spiky armour, a Berserker becomes a Battlerager, an even more scary warrior than Berserkers."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BERSERK}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/battlerager-defend-2.png" "units/dwarves/battlerager-defend-1.png" {SOUND_LIST:DWARF_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/dwarves/transparent/ulfserker.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dwarves/transparent/ulfserker.png"
    [/portrait]
    [defense]
        hills=60
        mountains=50
        village=60
        cave=60
        castle=60
    [/defense]
    [resistance]
        blade=60
        pierce=70
    [/resistance]
    [abilities]
        {ABILITY_THORNS}
    [/abilities]
    [attack]
        name=berserker frenzy
        description=_"berserker frenzy"
        icon=attacks/frenzy.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
        range=melee
        damage=9
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=berserker frenzy
        [/filter_attack]
        start_time=-100
        [frame]
            duration=80
            image="units/dwarves/battlerager-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=80
                image="units/dwarves/battlerager-attack-2.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=80
                image="units/dwarves/battlerager-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/dwarves/battlerager-attack-3.png"
        [/frame]
        [frame]
            duration=80
            image="units/dwarves/battlerager-attack-4.png"
        [/frame]
        [frame]
            duration=30
            image="units/dwarves/battlerager.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/dwarves/battlerager.png units/dwarves/battlerager-defend-1.png units/dwarves/battlerager-defend-2.png units/dwarves/battlerager.png units/dwarves/battlerager-defend-1.png units/dwarves/battlerager-defend-2.png (
        [advancement]
            id=axe
            max_times=1
            description= _ "frenzying better"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=berserker frenzy
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=axe2
            max_times=1
            description= _ "frenzying better"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="axe"
            [effect]
                apply_to=attack
                name=berserker frenzy
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=axe3
            max_times=1
            description= _ "frenzying better"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="axe,axe2"
            [effect]
                apply_to=attack
                name=berserker frenzy
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=axe4
            max_times=3
            description= _ "frenzying better"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="axe,axe2,axe3"
            [effect]
                apply_to=attack
                name=berserker frenzy
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "tougher"
            image=icons/steel_armor.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-3
                    pierce=-3
                    impact=-2
                    fire=-2
                    cold=-2
                    arcane=-2
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=spikes
            strict_amla=yes
            description= _ "impaling enemies on spikes on armour better, also in range"
            image="icons/steel_armor.png"
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_THORNS}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_WEAK_REFLECT}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=spikes2
            strict_amla=yes
            description= _ "impaling enemies on spikes on armour better"
            image="icons/steel_armor.png"
            require_amla="spikes"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_WEAK_REFLECT}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_REFLECT}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=4
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            {AMLA_DEFAULT_BONUSES}
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/advancement]
    ) "Dwarvish Battlerager"}
