#textdomain wesnoth-loti
[unit_type]
    id=Dwarvish Technocrat
    name= _ "Dwarvish Technocrat"
    race=dwarf
    image="units/dwarves/technocrat.png"
    profile="portraits/dwarves/dragonguard.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=72
    movement_type=dwarvishfoot
    movement=4
    experience=150
    {QUANTITY experience 110 130 150}
    level=4
    alignment=neutral
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Dwarvish Dragonguard
        experience=300
    [/advancefrom]
#endif
    cost=61
    usage=archer
    description= _ "Dwarves always have some secrets they never tell even to their closest friends if they are not dwarves too. One of them is also the secret of their technical invention, the thunderstick. Although it is a very powerful weapon itself, they still seek to improve it and make it even more powerful."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM_RANGE "units/dwarves/technocrat-blade-defend-2.png" units/dwarves/technocrat-blade-defend-1.png {SOUND_LIST:DWARF_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/dwarves/technocrat-defend.png" units/dwarves/technocrat.png {SOUND_LIST:DWARF_HIT} ranged}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/dwarves/transparent/dragonguard.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dwarves/transparent/dragonguard.png"
    [/portrait]
    [attack]
        name=dagger
        description=_"dagger"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=11
        number=3
    [/attack]
    [attack]
        name=thunderstick
        description=_"thunderstick"
        type=pierce
        range=ranged
        damage=50
        number=1
        icon=attacks/thunderstick-modern.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=thunderstick
        [/filter_attack]
        [frame]
            begin=-600
            end=-400
            image="units/dwarves/technocrat-defend.png"
        [/frame]
        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH 0 0}
            direction=se,sw
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/dwarves/technocrat-attack-ranged-se.png"
                sound=dragonstick.ogg
            [/frame]
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            direction=se,sw
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/dwarves/technocrat-attack-ranged-se.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH 0 20}
            direction=ne,nw
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/dwarves/technocrat-attack-ranged-ne.png"
                sound=dragonstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            direction=ne,nw
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/dwarves/technocrat-attack-ranged-ne.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH 0 20}
            hits=yes
            direction=n
            [frame]
                begin=-400
                end=0
                image="units/dwarves/technocrat-attack-ranged-n.png"
                sound=dragonstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            hits=no
            direction=n
            [frame]
                begin=-400
                end=0
                image="units/dwarves/technocrat-attack-ranged-n.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH 0 0}
            direction=s
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/dwarves/technocrat-attack-ranged-s.png"
                sound=dragonstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            direction=s
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/dwarves/technocrat-attack-ranged-s.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=1
            image="units/dwarves/technocrat-attack-ranged-se.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-250
        offset=0.0~0.1:200,0.1~0.6:200,0.6~0.0:250
        [frame]
            duration=50
            image="units/dwarves/technocrat-blade.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves/technocrat-blade-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves/technocrat-blade-2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/dwarves/technocrat-blade-3.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/dwarves/technocrat-blade-3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/dwarves/technocrat-blade-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves/technocrat-blade-5.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/dwarves/technocrat.png units/dwarves/technocrat-defend.png units/dwarves/technocrat-defend.png units/dwarves/technocrat.png units/dwarves/technocrat-defend.png units/dwarves/technocrat-defend.png (
        [advancement]
            max_times=1
            id=gun
            description= _ "better at shooting"
            image="attacks/thunderstick-modern.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=thunderstick
                increase_damage=10
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=gun2
            description= _ "better at shooting"
            image="attacks/thunderstick-modern.png"
            strict_amla=yes
            require_amla="gun"
            [effect]
                apply_to=attack
                name=thunderstick
                increase_damage=8
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=gun3
            description= _ "better at shooting"
            image="attacks/thunderstick-modern.png"
            strict_amla=yes
            require_amla="gun2"
            [effect]
                apply_to=attack
                name=thunderstick
                increase_damage=6
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=gun4
            description= _ "better at shooting"
            image="attacks/thunderstick-modern.png"
            strict_amla=yes
            require_amla="gun3"
            [effect]
                apply_to=attack
                name=thunderstick
                increase_damage=5
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=gun5
            description= _ "better at shooting"
            image="attacks/thunderstick-modern.png"
            strict_amla=yes
            require_amla="gun4"
            [effect]
                apply_to=attack
                name=thunderstick
                increase_damage=4
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=dagger
            description= _ "better with dagger"
            image="attacks/dagger-human.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=dagger
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=dagger2
            description= _ "able to backstab with the dagger"
            image="attacks/dagger-human.png"
            strict_amla=yes
            require_amla="dagger"
            [effect]
                apply_to=attack
                name=dagger
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_BACKSTAB}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=storm
            strict_amla=yes
            description= _ "more technically skilled, using a gun that can fire very quickly"
            image=attacks/thunderstick.png
            require_amla=""
            [effect]
                apply_to=bonus_attack
                range=ranged
                name="bullet storm"
                description= _ "bullet storm"
                clone_anim=yes
                icon=attacks/thunderstick.png
                defense_weight=0
                number=500
                damage=-90
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=storm2
            description= _ "shooting bullet storms better"
            image=attacks/thunderstick.png
            strict_amla=yes
            require_amla="storm"
            [effect]
                apply_to=improve_bonus_attack
                name=bullet storm
                increase_damage=3
                increase_attacks=100
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=blunderbuss
            strict_amla=yes
            description= _ "more technically skilled, using a very precise gun"
            image=attacks/thunderstick.png
            require_amla=""
            [effect]
                apply_to=bonus_attack
                range=ranged
                name="blunderbuss"
                description= _ "blunderbuss"
                clone_anim=yes
                icon=attacks/thunderstick.png
                defense_weight=0
                damage=-40
                [specials]
                    {WEAPON_SPECIAL_MARKSMAN}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=blunderbuss2
            description= _ "doing more damage when shooting precisely"
            image=attacks/thunderstick.png
            strict_amla=yes
            require_amla="blunderbuss"
            [effect]
                apply_to=improve_bonus_attack
                name=blunderbuss
                increase_damage=20
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=bullets
            description= _ "shooting bullets that penetrate armour better"
            image=attacks/thunderstick-modern.png
            strict_amla=yes
            require_amla=""
            pierce_penetrate=10
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=4
            always_display=yes
            id=bullets2
            description= _ "shooting bullets that penetrate armour better"
            image=attacks/thunderstick-modern.png
            strict_amla=yes
            require_amla="bullets"
            pierce_penetrate=5
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            {AMLA_DEFAULT_BONUSES}
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/advancement]
    ) "Dwarvish Technocrat"}
