#textdomain wesnoth-loti
[unit_type]
    id=Elvish Overlord
    name= _ "Elvish Overlord"
    race=elf
    image="units/elves/overlord.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/elves/high-lord.png"
    hitpoints=78
    movement_type=woodlandfloat
    movement=6
    experience=140
    {QUANTITY experience 100 120 140}
    level=4
    alignment=neutral
    advances_to=null
    cost=85
    usage=mixed fighter
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Elvish High Lord
        experience=250
    [/advancefrom]
#endif
    description= _ "Some elvish fighters who use faerie powers a lot may eventually become a male half-fairy. It gives them unusual dexterity and their skill with swords will get even better. The main problem with it is that touching iron causes pain to them - that is why they use weapons made from various rare metals."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:ELF_HIT}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/elves/transparent/high-lord.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/elves/transparent/high-lord.png"
    [/portrait]
    {DEFENSE_ANIM_RANGE "units/elves/overlord-defend.png" "units/elves/overlord.png" {SOUND_LIST:ELF_HIT} melee}
    {DEFENSE_ANIM_ELVEN_RANGE "units/elves/overlord-magic-1.png" "units/elves/overlord-magic-2.png" {SOUND_LIST:ELF_HIT} ranged}
    [attack]
        name=sword
        description= _"sword"
        icon=attacks/sword-red.png
        type=blade
        range=melee
        damage=10
        number=5
    [/attack]
    [attack]
        name=faerie fire
        description= _"faerie fire"
        type=arcane
        icon=attacks/faerie-fire.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=7
        number=5
    [/attack]
    [attack_anim]
        [filter_attack]
            name=faerie fire
        [/filter_attack]
        hits=yes
        {MISSILE_FRAME_FAERIE_FIRE}

        [frame]
            begin=-450
            end=-375
            image="units/elves/overlord-magic-1.png"
            sound=magic-faeriefire.ogg

            halo=halo/elven/faerie-fire-halo1.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-375
            end=-300
            image="units/elves/overlord-magic-1.png"
            halo=halo/elven/faerie-fire-halo2.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/elves/overlord-magic-2.png"
            halo=halo/elven/faerie-fire-halo3.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/elves/overlord-magic-2.png"
            halo=halo/elven/faerie-fire-halo4.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/elves/overlord-magic-2.png"
            halo=halo/elven/faerie-fire-halo5.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/elves/overlord-magic-1.png"
            halo=halo/elven/faerie-fire-halo6.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-0
            end=75
            image="units/elves/overlord-magic-1.png"
            halo=halo/elven/faerie-fire-halo7.png
            halo_x,halo_y=-19,-14
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=faerie fire
        [/filter_attack]
        hits=no
        {MISSILE_FRAME_FAERIE_FIRE}

        [frame]
            begin=-450
            end=-375
            image="units/elves/overlord-magic-1.png"
            sound=magic-faeriefire-miss.ogg

            halo=halo/elven/faerie-fire-halo1.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-375
            end=-300
            image="units/elves/overlord-magic-1.png"
            halo=halo/elven/faerie-fire-halo2.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/elves/overlord-magic-2.png"
            halo=halo/elven/faerie-fire-halo3.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/elves/overlord-magic-2.png"
            halo=halo/elven/faerie-fire-halo4.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/elves/overlord-magic-2.png"
            halo=halo/elven/faerie-fire-halo5.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/elves/overlord-magic-1.png"
            halo=halo/elven/faerie-fire-halo6.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-0
            end=75
            image="units/elves/overlord-magic-1.png"
            halo=halo/elven/faerie-fire-halo7.png
            halo_x,halo_y=-19,-14
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/elves/overlord.png"
        [/frame]
        [frame]
            begin=-175
            end=-50
            image="units/elves/overlord-sword-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=150
                image="units/elves/overlord-sword-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=150
                image="units/elves/overlord-sword-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/elves/overlord-sword-2.png"
        [/frame]
        [frame]
            begin=20
            end=225
            image="units/elves/overlord.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/elves/overlord.png units/elves/overlord-magic-1.png units/elves/overlord-magic-2.png units/elves/overlord.png units/elves/overlord-magic-1.png units/elves/overlord-magic-2.png (
        [advancement]
            max_times=1
            id=sword
            description= _ "faster at melee combat"
            image="attacks/sword-elven.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=sword2
            description= _ "faster at melee combat"
            image="attacks/sword-elven.png"
            strict_amla=yes
            require_amla="sword"
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=sword3
            description= _ "better at melee combat"
            image="attacks/sword-elven.png"
            strict_amla=yes
            require_amla="sword,sword2"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=faerie
            description= _ "a faster caster"
            image="attacks/faerie-fire.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=ranged
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=faerie2
            description= _ "a better caster"
            image="attacks/faerie-fire.png"
            strict_amla=yes
            require_amla="faerie"
            [effect]
                apply_to=attack
                range=ranged
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=faerie3
            description= _ "a faster caster"
            image="attacks/faerie-fire.png"
            strict_amla=yes
            require_amla="faerie,faerie2"
            [effect]
                apply_to=attack
                range=ranged
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=faerie4
            description= _ "a better caster"
            image="attacks/faerie-fire.png"
            strict_amla=yes
            require_amla="faerie,faerie2,faerie3"
            [effect]
                apply_to=attack
                range=ranged
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=gossamer
            description= _ "able to cover his sword in sticky spiderwebs to slow enemies"
            image=attacks/web.png
            strict_amla=yes
            require_amla="faerie2"
            [effect]
                apply_to=bonus_attack
                name=spiderweb sword
                description= _ "spiderweb sword"
                icon=attacks/web.png
                range=melee
                damage=-40
                clone_anim=yes
                [specials]
                    {WEAPON_SPECIAL_SLOW}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            always_display=yes
            id=gossamer2
            description= _ "dealing more damage with the spiderweb sword"
            image=attacks/web.png
            strict_amla=yes
            require_amla="gossamer"
            [effect]
                apply_to=improve_bonus_attack
                name=spiderweb sword
                increase_damage=15
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better protected from physical blows (2% better resistances)"
            image=icons/armor_leather.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-2
                    pierce=-2
                    impact=-2
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=ambush
            description= _ "able to hide in deciduous forests"
            image=icons/dress_silk_green.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_WEAK_AMBUSH}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=ambush2
            description= _ "able to hide in all forests"
            image=icons/dress_silk_green.png
            strict_amla=yes
            require_amla="ambush"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_WEAK_AMBUSH}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_AMBUSH}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership
            description= _ "able to lead allies into battle (like a level 3 unit)"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_3}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership2
            description= _ "a greater leader in battle (like a proper level 4 unit)"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="leadership"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_3}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_4}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=dodge
            description= _ "better at blocking (lowering the chance to be hit by 3%)"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-3
                    castle=-2
                    sand=-3
                    village=-2
                    flat=-3
                    hills=-3
                    mountains=-2
                    cave=-4
                    shallow_water=-4
                    coastal_reef=-3
                    swamp_water=-4
                    forest=-2
                    fungus=-3
                    deep_water=-4
                    unwalkable=-3
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=magic_resilience
            max_times=3
            description= _ "better protected from magical attacks (7/3/3% better resistances to arcane/fire/cold)"
            image=icons/magical_shield.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    arcane=-7
                    fire=-3
                    cold=-3
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Elvish Overlord"}
