#textdomain wesnoth-loti
[unit_type]
    id=Elvish Nightprowler
    name= _ "Elvish Nightprowler"
    race=elf
    gender=male,female
    image="units/elves/nightprowler.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/elves/ranger.png"
    hitpoints=67
    movement_type=woodland
    movement=7
    experience=150
    {QUANTITY experience 110 130 150}
    level=4
    alignment=neutral
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Elvish Avenger
        experience=230
    [/advancefrom]
#endif
    cost=60
    usage=mixed fighter
    description= _ "Sometimes, elvish avengers will become so good at stealth, that they can even leave the forest at night, remaining concealed."+{SPECIAL_NOTES}+{SPECIAL_NOTES_AMBUSH}+{SPECIAL_NOTES_NIGHTSTALK}
    die_sound={SOUND_LIST:ELF_HIT}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/elves/transparent/ranger.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/elves/transparent/ranger.png"
    [/portrait]
    [movement_costs]
        shallow_water=2
        mountains=2
    [/movement_costs]
    [defense]
        shallow_water=70
        swamp_water=60
        sand=60
    [/defense]
    [abilities]
        {ABILITY_AMBUSH}
        {ABILITY_NIGHTSTALK}
    [/abilities]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=9
        number=4
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=9
        number=5
    [/attack]
    {DEFENSE_ANIM_RANGE "units/elves/nightprowler-sword-defend.png" "units/elves/nightprowler-sword.png" {SOUND_LIST:ELF_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/elves/nightprowler-bow-defend.png" "units/elves/nightprowler-bow.png" {SOUND_LIST:ELF_HIT} ranged}
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-445
            end=-360
            image="units/elves/nightprowler-bow.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-360
                end=-265
                image="units/elves/nightprowler-bow-attack1.png"
                sound=bow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-380
                end=-265
                image="units/elves/nightprowler-bow-attack1.png"
                sound=bow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-265
            end=-170
            image="units/elves/nightprowler-bow-attack2.png"
        [/frame]
        [frame]
            begin=-170
            end=-30
            image="units/elves/nightprowler-bow-attack3.png"
        [/frame]
        [frame]
            begin=-30
            end=65
            image="units/elves/nightprowler-bow.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/elves/nightprowler-sword.png"
        [/frame]
        [frame]
            begin=-175
            end=-75
            image="units/elves/nightprowler-sword-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=75
                image="units/elves/nightprowler-sword-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=75
                image="units/elves/nightprowler-sword-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=75
            end=175
            image="units/elves/nightprowler-sword-3.png"
        [/frame]
        [frame]
            begin=175
            end=200
            image="units/elves/nightprowler-sword.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Elvish Nightprowler"
        gender=female
        image="units/elves/nightprowler+female.png"
        profile="portraits/elves/ranger+female.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM_RANGE "units/elves/nightprowler-sword-defend.png" "units/elves/nightprowler+female-sword.png" {SOUND_LIST:ELF_FEMALE_HIT} melee}
        {DEFENSE_ANIM_RANGE "units/elves/nightprowler-bow-defend.png" "units/elves/nightprowler-bow.png" {SOUND_LIST:ELF_FEMALE_HIT} ranged}
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/elves/transparent/ranger+female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/elves/transparent/ranger+female.png"
        [/portrait]
        [attack_anim]
            [filter_attack]
                name=bow
            [/filter_attack]
            [frame]
                image="units/elves/nightprowler-bow.png"
            [/frame]
            [if]
                [frame]
                    image="units/elves/nightprowler-bow-attack1.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/elves/nightprowler-bow-attack1.png"
                [/frame]
            [/else]
            [frame]
                image="units/elves/nightprowler-bow-attack2.png"
            [/frame]
            [frame]
                image="units/elves/nightprowler-bow-attack3.png"
            [/frame]
            [frame]
                image="units/elves/nightprowler-bow.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            [frame]
                image="units/elves/nightprowler+female-sword.png"
            [/frame]
            [frame]
                image="units/elves/nightprowler-sword-1.png"
            [/frame]
            [if]
                hits=no
                [frame]
                    image="units/elves/nightprowler-sword-2.png"
                [/frame]
            [/if]
            [else]
                hits=yes
                [frame]
                    image="units/elves/nightprowler-sword-2.png"
                [/frame]
            [/else]
            [frame]
                image="units/elves/nightprowler-sword-3.png"
            [/frame]
            [frame]
                image="units/elves/nightprowler+female-sword.png"
            [/frame]
        [/attack_anim]
    [/female]
    {GENERIC_AMLA units/elves/nightprowler-sword.png units/elves/nightprowler-sword-1.png units/elves/nightprowler-sword-2.png units/elves/nightprowler+female-sword.png units/elves/nightprowler-sword-1.png units/elves/nightprowler-sword-2.png (
        [advancement]
            max_times=1
            id=bow
            description= _ "better with the bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=ranged
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow2
            description= _ "faster with bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow"
            [effect]
                apply_to=attack
                range=ranged
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow-precise
            description= _ "shooting very precisely"
            image="attacks/bow-elven-magic.png"
            strict_amla=yes
            require_amla="bow"
            [effect]
                apply_to=attack
                range=ranged
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_MARKSMAN}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow3
            description= _ "faster with the bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow,bow2"
            [effect]
                apply_to=attack
                range=ranged
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=bow4
            description= _ "better with the bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow,bow2,bow3"
            [effect]
                apply_to=attack
                range=ranged
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=sword
            description= _ "faster at melee combat"
            image="attacks/sword-elven.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=sword2
            description= _ "better at melee combat"
            image="attacks/sword-elven.png"
            strict_amla=yes
            require_amla="sword"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=sword3
            description= _ "faster at melee combat"
            image="attacks/sword-elven.png"
            strict_amla=yes
            require_amla="sword,sword2"
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=sword4
            description= _ "better at melee combat"
            image="attacks/sword-elven.png"
            strict_amla=yes
            require_amla="sword,sword2,sword3"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=sword-backstab
            description= _ "able to stab backs"
            image="attacks/sword-elven.png"
            strict_amla=yes
            require_amla="sword,sword2"
            [effect]
                apply_to=attack
                range=melee
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_BACKSTAB}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=berserk
            description= _ "able to enter a shooting frenzy like dwarves with axes, but only when attacking"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="bow2"
            [effect]
                apply_to=bonus_attack
                name="bow_berserk"
                description= _ "fury"
                icon=attacks/frenzy.png
                range=ranged
                force_original_attack=bow
                defense_weight=0
                [specials]
                    {WEAPON_SPECIAL_LESSER_BERSERK 3}
                [/specials]
                damage=-30
                attacks=-40
                clone_anim=yes
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=berserk2
            description= _ "shooting faster when in shooting frenzy"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="berserk"
            [effect]
                apply_to=improve_bonus_attack
                name=bow_berserk
                increase_attacks=10
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=berserk2_damage
            description= _ "shooting better when in shooting frenzy"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="berserk"
            [effect]
                apply_to=improve_bonus_attack
                name=bow_berserk
                increase_damage=15
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=dodge
            description= _ "better at blocking (lowering the chance to be hit by 2%)"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-2
                    castle=-2
                    sand=-2
                    village=-2
                    flat=-2
                    hills=-2
                    mountains=-2
                    cave=-2
                    shallow_water=-2
                    coastal_reef=-2
                    swamp_water=-2
                    forest=-2
                    fungus=-2
                    deep_water=-2
                    unwalkable=-2
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Elvish Nightprowler"}
