#textdomain wesnoth-loti
[unit_type]
    id=Elvish Assassin
    name= _ "Elvish Assassin"
    race=elf
    gender=male,female
    image="units/elves/assassin.png"
    profile="portraits/elves/marksman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=59
    movement_type=woodland
    movement=6
    experience=160
    {QUANTITY experience 120 135 160}
    level=4
    alignment=neutral
    advances_to=null
    cost=71
    usage=archer
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Elvish Sharpshooter
        experience=250
    [/advancefrom]
#endif
    description= _ "Unlike human assassins, elvish assassins are honoured warriors who have proven their incredible skill in archery by killing the enemy warband's leader just by shooting him from a distance, or even a whole enemy clump by covering them by a deadly arrow storm before they came to him. Even when cornered and forced to fight in melee range, they can defeat their enemies with trickery, without properly fighting them."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_BACKSTAB}
    die_sound={SOUND_LIST:ELF_HIT}
    # Base image is drawn for the right side.
    [portrait]
        size=400
        side="left"
        mirror="true"
        image="portraits/elves/transparent/marksman.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="false"
        image="portraits/elves/transparent/marksman.png"
    [/portrait]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=longbow
        description=_"longbow"
        icon=attacks/bow-elven-magic.png
        type=pierce
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=13
        number=5
    [/attack]
    [attack]
        name=execution
        description=_"execution"
        icon=attacks/bow-elven-magic.png
        type=pierce
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=45
        number=1
        temporary=yes
    [/attack]
    {DEFENSE_ANIM_RANGE "units/elves/assassin-melee-defend.png" "units/elves/assassin.png" {SOUND_LIST:ELF_HIT} melee }
    {DEFENSE_ANIM_RANGE "units/elves/assassin-bow-defend.png" "units/elves/assassin-bow.png" {SOUND_LIST:ELF_HIT} ranged }
    [attack_anim]
        [filter_attack]
            name=longbow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-445
            end=-380
            image="units/elves/assassin-bow.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-380
                end=-305
                image="units/elves/assassin-bow-attack-1.png"
                sound=bow-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-380
                end=-305
                image="units/elves/assassin-bow-attack-1.png"
                sound=bow.ogg
            [/frame]
        [/else]
        [frame]
            begin=-305
            end=-150
            image="units/elves/assassin-bow-attack-2.png"
        [/frame]
        [frame]
            begin=-150
            end=0
            image="units/elves/assassin-bow-attack-3.png"
        [/frame]
        [frame]
            begin=0
            end=200
            image="units/elves/assassin-bow-attack-4.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=execution_bonus_attack
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-500
            end=-460
            image="units/elves/assassin-bow.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-460
                end=-405
                image="units/elves/assassin-bow-attack-1.png"
                sound=bow-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-460
                end=-405
                image="units/elves/assassin-bow-attack-1.png"
                sound=bow.ogg
            [/frame]
        [/else]
        [frame]
            begin=-405
            end=-200
            image="units/elves/assassin-bow-attack-2.png"
        [/frame]
        [frame]
            begin=-200
            end=0
            image="units/elves/assassin-bow-attack-3.png"
        [/frame]
        [frame]
            begin=0
            end=200
            image="units/elves/assassin-bow-attack-4.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=arrow storm
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/arrowstorm-n.png"
            image_diagonal="projectiles/arrowstorm-ne.png"
        [/missile_frame]
        [frame]
            begin=-445
            end=-400
            image="units/elves/assassin-bow.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-400
                end=-350
                image="units/elves/assassin-bow-attack-1.png"
                sound=bow-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-400
                end=-350
                image="units/elves/assassin-bow-attack-1.png"
                sound=bow.ogg
            [/frame]
        [/else]
        [frame]
            begin=-350
            end=-300
            image="units/elves/assassin-bow-attack-3.png"
        [/frame]
        [frame]
            begin=-300
            end=-250
            image="units/elves/assassin-bow-attack-4.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-250
                end=-200
                image="units/elves/assassin-bow-attack-1.png"
                sound=bow-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-250
                end=-200
                image="units/elves/assassin-bow-attack-1.png"
                sound=bow.ogg
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=-150
            image="units/elves/assassin-bow-attack-4.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-150
                end=-100
                image="units/elves/assassin-bow-attack-1.png"
                sound=bow-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-150
                end=-100
                image="units/elves/assassin-bow-attack-1.png"
                sound=bow.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=-50
            image="units/elves/assassin-bow-attack-3.png"
        [/frame]
        [frame]
            begin=50
            end=0
            image="units/elves/assassin-bow-attack-4.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-175
            end=-75
            image="units/elves/assassin-melee-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/elves/assassin-melee-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/elves/assassin-melee-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/elves/assassin-melee-3.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Elvish Assassin"
        gender=female
        image="units/elves/assassin+female.png"
        profile="portraits/elves/marksman+female.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM_RANGE "units/elves/assassin-melee-defend.png" "units/elves/assassin+female.png" {SOUND_LIST:ELF_FEMALE_HIT} melee}
        {DEFENSE_ANIM_RANGE "units/elves/assassin-bow-defend.png" "units/elves/assassin-bow.png" {SOUND_LIST:ELF_FEMALE_HIT} ranged}
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/elves/transparent/marksman+female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/elves/transparent/marksman+female.png"
        [/portrait]
    [/female]
    {GENERIC_AMLA units/elves/assassin.png units/elves/assassin-melee-1.png units/elves/assassin-melee-2.png units/elves/assassin+female.png units/elves/assassin-melee-1.png units/elves/assassin-melee-2.png (
        [advancement]
            max_times=2
            id=melee
            description= _ "faster at melee"
            image="attacks/sword-elven.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=melee2
            description= _ "better at melee"
            image="attacks/sword-elven.png"
            strict_amla=yes
            require_amla="melee"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow
            description= _ "faster with the bow"
            image="attacks/bow-elven-magic.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=longbow
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow2
            description= _ "better with bow"
            image="attacks/bow-elven-magic.png"
            strict_amla=yes
            require_amla="bow"
            [effect]
                apply_to=attack
                name=longbow
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow-precise
            description= _ "shooting insanely precisely"
            image="attacks/bow-elven-magic.png"
            strict_amla=yes
            require_amla="bow,bow2"
            [effect]
                apply_to=attack
                name=longbow
                increase_damage=-1
                remove_specials=marksman
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_FOCUSED}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
            {AMLA_DEFAULT_BONUSES}	#Not accidentally
        [/advancement]
        [advancement]
            max_times=1
            id=bow3
            description= _ "faster with the bow"
            image="attacks/bow-elven-magic.png"
            strict_amla=yes
            require_amla="bow,bow2"
            [effect]
                apply_to=attack
                name=longbow
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=bow4
            description= _ "better with the bow"
            image="attacks/bow-elven-magic.png"
            strict_amla=yes
            require_amla="bow,bow2,bow3"
            [effect]
                apply_to=attack
                name=longbow
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=arrowstorm
            description= _ "able to shoot a storm of arrows without giving the enemy a chance to counterattack"
            image=attacks/bow-elven-magic.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=arrow storm
                description= _ "arrow storm"
                icon=attacks/bow-elven-magic.png
                range=ranged
                defense_weight=0
                damage=-20
                number=-40
                force_original_attack=longbow
                [specials]
                    {WEAPON_SPECIAL_DISTANT_ATTACK}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=arrowstorm2
            description= _ "shooting arrow storms better"
            image=attacks/bow-elven-magic.png
            strict_amla=yes
            require_amla="arrowstorm"
            [effect]
                apply_to=improve_bonus_attack
                name=arrow storm
                increase_damage=10
                increase_attacks=5
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=execution
            image=attacks/bow-elven-magic.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=execution_bonus_attack
                description= _ "execution"
                icon=attacks/bow-elven-magic.png
                range=ranged
                defense_weight=0
                damage=-40
                merge=yes
                force_original_attack=longbow
            [/effect]
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=execution
            description= _ "executing enemy bosses better"
            image=attacks/bow-elven-magic.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=improve_bonus_attack
                name=execution_bonus_attack
                increase_damage=10
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=dodge
            description= _ "better at dodging (lowering the chance to be hit by 2%)"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-2
                    castle=-2
                    sand=-2
                    village=-2
                    flat=-2
                    hills=-2
                    mountains=-2
                    cave=-2
                    shallow_water=-2
                    coastal_reef=-2
                    swamp_water=-2
                    forest=-2
                    fungus=-2
                    deep_water=-2
                    unwalkable=-2
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Elvish Assassin"}
