#textdomain wesnoth-loti
[unit_type]
    id=Elvish Gryphon Rider
    name= _ "Elvish Gryphon Rider"
    race=elf	#The elf is important, not the bird. I want them to have ELVISH names.
    image="units/elves/gryphon-rider.png"
    profile="portraits/elves/marksman.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=62
    gender=male,female
    movement_type=fly
    movement=10
    experience=150
    {QUANTITY experience 110 130 150}
    level=4
    alignment=neutral
    advances_to=null
    cost=66
    usage=scout
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Elvish Sharpshooter
        experience=250
    [/advancefrom]
    [advancefrom]
        unit=Elvish Outrider
        experience=250
    [/advancefrom]
#endif
    description= _ "With enough skill in archery and horse riding, an elf can decide to ride giant birds instead of horses, gaining incredible mobility and an ability to shoot his foes from above, relatively protected from enemy blows."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [portrait]
        size=400
        side="left"
        mirror="true"
        image="portraits/elves/transparent/marksman.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="false"
        image="portraits/elves/transparent/marksman.png"
    [/portrait]
    [defense]
        forest=30
        mountains=40
        village=40
        castle=40
    [/defense]
    [resistance]
        arcane=110
    [/resistance]
    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=16
        number=3
    [/attack]
    [attack]
        name=longbow
        description=_"longbow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=9
        number=4
    [/attack]
    [standing_anim]
        start_time=0
        layer=60
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-4.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-5.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-6.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-7.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-8.png"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-4.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-5.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-6.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-7.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves/gryphon-rider-flying-8.png"
        [/frame]
    [/movement_anim]
    {DEFENSE_ANIM "units/elves/gryphon-rider-flying-4.png" "units/elves/gryphon-rider-flying-5.png" {SOUND_LIST:GRYPHON_HIT} }
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/elves/gryphon-rider-flying-5.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/elves/gryphon-rider-flying-4.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/elves/gryphon-rider-flying-4.png"
                sound=claws.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/elves/gryphon-rider-flying-5.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=longbow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-445
            end=-380
            image="units/elves/gryphon-rider-bow-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-380
                end=-305
                image="units/elves/gryphon-rider-bow-1.png"
                sound=bow-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-380
                end=-305
                image="units/elves/gryphon-rider-bow-1.png"
                sound=bow.ogg
            [/frame]
        [/else]
        [frame]
            begin=-305
            end=-230
            image="units/elves/gryphon-rider-bow-2.png"
        [/frame]
        [frame]
            begin=-230
            end=-130
            image="units/elves/gryphon-rider-bow-3.png"
        [/frame]
        [frame]
            begin=-130
            end=0
            image="units/elves/gryphon-rider-bow-4.png"
        [/frame]
        [frame]
            begin=0
            end=150
            image="units/elves/gryphon-rider-flying-1.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Elvish Gryphon Rider"
        gender=female
        image="units/elves/gryphon-rider+female.png"
        profile="portraits/elves/marksman+female.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM "units/elves/gryphon-rider+female-flying-4.png" "units/elves/gryphon-rider+female-flying-5.png" {SOUND_LIST:GRYPHON_HIT} }
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/elves/transparent/marksman+female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/elves/transparent/marksman+female.png"
        [/portrait]
        [attack_anim]
            [filter_attack]
                name=claws
            [/filter_attack]
            [frame]
                image="units/elves/gryphon-rider+female-flying-5.png"
            [/frame]
            [if]
                hits=no
                [frame]
                    image="units/elves/gryphon-rider+female-flying-4.png"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/if]
            [else]
                hits=yes
                [frame]
                    image="units/elves/gryphon-rider+female-flying-4.png"
                    sound=claws.ogg
                [/frame]
            [/else]
            [frame]
                image="units/elves/gryphon-rider+female-flying-5.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=longbow
            [/filter_attack]
            [frame]
                image="units/elves/gryphon-rider+female-bow-1.png"
            [/frame]
            [if]
                hits=no
                [frame]
                    image="units/elves/gryphon-rider+female-bow-1.png"
                [/frame]
            [/if]
            [else]
                hits=yes
                [frame]
                    image="units/elves/gryphon-rider+female-bow-1.png"
                [/frame]
            [/else]
            [frame]
                image="units/elves/gryphon-rider+female-bow-2.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-bow-3.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-bow-4.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-1.png"
            [/frame]
        [/attack_anim]

        [standing_anim]
            [frame]
                image="units/elves/gryphon-rider+female-flying-1.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-2.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-3.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-4.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-5.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-6.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-7.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-8.png"
            [/frame]
        [/standing_anim]
        [movement_anim]
            [frame]
                image="units/elves/gryphon-rider+female-flying-1.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-2.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-3.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-4.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-5.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-6.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-7.png"
            [/frame]
            [frame]
                image="units/elves/gryphon-rider+female-flying-8.png"
            [/frame]
        [/movement_anim]
    [/female]
    {GENERIC_AMLA units/elves/gryphon-rider-flying-5.png units/elves/gryphon-rider-flying-6.png units/elves/gryphon-rider-flying-7.png units/elves/gryphon-rider+female-flying-5.png units/elves/gryphon-rider+female-flying-6.png units/elves/gryphon-rider+female-flying-7.png (
        [advancement]
            max_times=1
            id=melee
            description= _ "better at commanding the gryphon to attack fast"
            image="attacks/claws-animal.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
                increase_damage=-2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=melee2
            description= _ "better at commanding the gryphon to attack fast"
            image="attacks/claws-animal.png"
            strict_amla=yes
            require_amla="melee"
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=melee3
            description= _ "better at commanding the gryphon"
            image="attacks/claws-animal.png"
            strict_amla=yes
            require_amla="melee"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow
            description= _ "faster with the bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=longbow
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow2
            description= _ "better with bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow"
            [effect]
                apply_to=attack
                name=longbow
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow-precise
            description= _ "shooting very precisely"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow,bow2"
            [effect]
                apply_to=attack
                name=longbow
                increase_damage=-1
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_MARKSMAN}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow3
            description= _ "faster with the bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow,bow2"
            [effect]
                apply_to=attack
                name=longbow
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=bow4
            description= _ "better with the bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow,bow2,bow3"
            [effect]
                apply_to=attack
                name=longbow
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=penetrate
            description= _ "able to move one hex after attacking an enemy"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_PENETRATE}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=penetrate2
            description= _ "able to move more hexes after attacking an enemy (only after bow attack)"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla="penetrate"
            [effect]
                apply_to=attack
                name=longbow
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_HIT_AND_RUN}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=dodge
            description= _ "more nimble (lowering the chance to be hit by 4%)"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-4
                    castle=-4
                    sand=-4
                    village=-4
                    flat=-4
                    hills=-4
                    mountains=-2
                    cave=-4
                    shallow_water=-4
                    coastal_reef=-4
                    swamp_water=-4
                    forest=-2
                    fungus=-4
                    deep_water=-4
                    unwalkable=-4
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Elvish Gryphon Rider"}
