#textdomain wesnoth-loti
[unit_type]
    id=Elvish Warlord
    name= _ "Elvish Warlord"
    race=elf
    image="units/elves/warlord.png"
    profile="portraits/elves/captain.png"
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/elves/warlord-leading.png"
        [/frame]
    [/leading_anim]
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=75
    movement_type=woodland
    movement=5
    {LESS_NIMBLE_ELF}
    experience=130
    {QUANTITY experience 90 110 130}
    level=4
    alignment=neutral
    advances_to=null
    cost=72
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Elvish Marshal
        experience=260
    [/advancefrom]
#endif
    usage=fighter
    description= _ "Some elves are not so peace-loving as others, and intentionally seek war. They are not trying to start wars, just joining wars where they know which side is evil. Their skill at leading allies into combat is incredibly good, so that trying to outsmart an Elvish Warlord usually results in an even more humiliating defeat than fighting them using usual strategies."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:ELF_HIT}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/elves/transparent/captain.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/elves/transparent/captain.png"
    [/portrait]
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_4}
        {ABILITY_MARKSMAN_LEADERSHIP}
    [/abilities]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=9
        number=5
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=10
        number=3
    [/attack]
    {DEFENSE_ANIM_RANGE "units/elves/warlord-defend.png" "units/elves/warlord.png" {SOUND_LIST:ELF_HIT} melee }
    {DEFENSE_ANIM_RANGE "units/elves/warlord-bow-defend.png" "units/elves/warlord-bow.png" {SOUND_LIST:ELF_HIT} ranged }
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        hits=yes
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-445
            end=-380
            image="units/elves/warlord-bow.png"
        [/frame]
        [frame]
            begin=-380
            end=-305
            image="units/elves/warlord-bow-attack1.png"
            sound=bow.ogg
        [/frame]
        [frame]
            begin=-305
            end=-230
            image="units/elves/warlord-bow-attack2.png"
        [/frame]
        [frame]
            begin=-230
            end=-130
            image="units/elves/warlord-bow-attack3.png"
        [/frame]
        [frame]
            begin=-130
            end=0
            image="units/elves/warlord-bow-attack4.png"
        [/frame]
        [frame]
            begin=0
            end=65
            image="units/elves/warlord-bow.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        hits=no
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-445
            end=-380
            image="units/elves/warlord-bow.png"
        [/frame]
        [frame]
            begin=-380
            end=-305
            image="units/elves/warlord-bow-attack1.png"
            sound=bow-miss.ogg
        [/frame]
        [frame]
            begin=-305
            end=-230
            image="units/elves/warlord-bow-attack2.png"
        [/frame]
        [frame]
            begin=-230
            end=-130
            image="units/elves/warlord-bow-attack3.png"
        [/frame]
        [frame]
            begin=-130
            end=0
            image="units/elves/warlord-bow-attack4.png"
        [/frame]
        [frame]
            begin=0
            end=65
            image="units/elves/warlord-bow.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-175
            end=-100
            image="units/elves/warlord-melee-2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=75
                image="units/elves/warlord-melee-1.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=75
                image="units/elves/warlord-melee-1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=75
            end=150
            image="units/elves/warlord-melee-2.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/elves/warlord.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/elves/warlord.png units/elves/warlord-defend.png units/elves/warlord-leading.png units/elves/warlord.png units/elves/warlord-defend.png units/elves/warlord-leading.png (
        [advancement]
            max_times=1
            always_display=yes
            id=sword
            description= _ "striking better with sword"
            image=attacks/sword-elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=sword
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword2
            description= _ "striking faster with sword"
            image=attacks/sword-elven.png
            strict_amla=yes
            require_amla="sword"
            [effect]
                apply_to=attack
                name=sword
                increase_damage=-1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=sword3
            description= _ "striking better with sword"
            image=attacks/sword-elven.png
            strict_amla=yes
            require_amla="sword2,sword"
            [effect]
                apply_to=attack
                name=sword
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow
            description= _ "faster with the bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=ranged
                increase_attacks=1
                increase_damage=-2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow2
            description= _ "better with bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow"
            [effect]
                apply_to=attack
                name=bow
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow-precise
            description= _ "shooting very precisely"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow,bow2"
            [effect]
                apply_to=attack
                name=bow
                increase_damage=-1
                [set_specials]
                    mode=replace
                    {WEAPON_SPECIAL_MARKSMAN}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow3
            description= _ "faster with the bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow,bow2"
            [effect]
                apply_to=attack
                name=bow
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=bow4
            description= _ "better with the bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow,bow2,bow3"
            [effect]
                apply_to=attack
                name=bow
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership
            description= _ "a better leader (like a level 5 unit)"
            image=attacks/fist.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_4}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_5}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership2
            description= _ "able to improve nearby allies' reactions"
            image=attacks/fist.png
            strict_amla=yes
            require_amla="leadership"
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_FIRSTSTRIKE_LEADERSHIP}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=horrid
            description= _ "able to attack in a terribly scary way"
            image=attacks/wail.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=grim strike
                description= _ "grim strike"
                icon=attacks/wail.png
                range=melee
                damage=-20
                clone_anim=yes
                [specials]
                    {WEAPON_SPECIAL_HORRID}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            always_display=yes
            id=horrid2
            description= _ "scaring enemies with the sword attack better"
            image=attacks/wail.png
            strict_amla=yes
            require_amla="horrid"
            [effect]
                apply_to=improve_bonus_attack
                name=grim strike
                increase_damage=15
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=dodge
            description= _ "better at blocking (lowering the chance to be hit by 2%)"
            image=icons/shield_steel.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-2
                    castle=-2
                    sand=-2
                    village=-2
                    flat=-2
                    hills=-2
                    mountains=-2
                    cave=-2
                    shallow_water=-2
                    coastal_reef=-2
                    swamp_water=-2
                    forest=-2
                    fungus=-2
                    deep_water=-2
                    unwalkable=-2
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better protected from physical blows (2% better resistances)"
            image=icons/armor_leather.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-2
                    pierce=-2
                    impact=-2
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Elvish Warlord"}
