#textdomain wesnoth-loti
[unit_type]
    id=Exterminator
    name= _ "Exterminator"
    race=human
    gender=male,female
    image="units/humans/exterminator.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile=portraits/humans/assassin.png
    hitpoints=68
    movement_type=elusivefoot
    movement=6
    experience=130
    {QUANTITY experience 85 100 130}
    level=4
    alignment=chaotic
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Assassin
        experience=300
    [/advancefrom]
#endif
    cost=60
    usage=fighter
    description= _ "Masters of the Assassins are almost always sent to slay their victims rather than to steal something. Their favourite technique is to stab enemies from behind with a dagger, but because not all murders can be done silently, they also practised standard combat, and carry a scythe they can wield with scary skill, that is particularly useful when surrounded. Deadly at night, exterminators are less able fighting under the sun."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_SKIRMISHER}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/humans/exterminator-defend.png" "units/humans/exterminator.png" {SOUND_LIST:HUMAN_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/assassin.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/assassin.png"
    [/portrait]
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=dagger
        description=_"dagger"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=scythe
        description=_"scythe"
        icon=attacks/scythe.png
        type=blade
        range=melee
        damage=17
        number=2
        [specials]
            {WEAPON_SPECIAL_CHAOS}
        [/specials]
    [/attack]
    [attack]
        name=knife
        description=_"knife"
        icon=attacks/dagger-thrown-poison-human.png
        type=blade
        range=ranged
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        damage=5
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-350
                end=-100
                image="units/humans/exterminator-throwknife-1.png"
                sound=throwing-knife.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-350
                end=-100
                image="units/humans/exterminator-throwknife-1.png"
                sound=throwing-knife-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=50
            image="units/humans/exterminator-throwknife-2.png"
        [/frame]
        {SOUND:POISON}
        [frame]
            begin=50
            end=50
            image="units/humans/exterminator.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        [frame]
            begin=-225
            end=-200
            image="units/humans/exterminator.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/humans/exterminator-dagger-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=150
                image="units/humans/exterminator-dagger-2.png"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=150
                image="units/humans/exterminator-dagger-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/humans/exterminator.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=scythe
        [/filter_attack]
        [frame]
            begin=-225
            end=-200
            image="units/humans/exterminator.png"
        [/frame]

        [if]
            hits=yes
            [frame]
                begin=-200
                end=0
                image="units/humans/exterminator-scythe-1.png"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=0
                image="units/humans/exterminator-scythe-1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=150
            image="units/humans/exterminator-scythe-2.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/humans/exterminator.png"
        [/frame]
    [/attack_anim]

    [female]
        name= _ "Exterminatrix"
        gender=female
        image="units/humans/exterminator+female.png"
        profile="portraits/humans/assassin+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/humans/exterminator+female-defend.png" "units/humans/exterminator+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/humans/transparent/assassin+female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/humans/transparent/assassin+female.png"
        [/portrait]
        [attack_anim]
            [filter_attack]
                name=knife
            [/filter_attack]
            [if]
                [frame]
                    image="units/humans/exterminator+female-throwknife-1.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/humans/exterminator+female-throwknife-1.png"
                [/frame]
            [/else]
            [frame]
                image="units/humans/exterminator+female-throwknife-2.png"
            [/frame]
            [frame]
                image="units/humans/exterminator+female.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=dagger
            [/filter_attack]
            [frame]
                image="units/humans/exterminator+female.png"
            [/frame]
            [frame]
                image="units/humans/exterminator+female-dagger-1.png"
            [/frame]
            [if]
                [frame]
                    image="units/humans/exterminator+female-dagger-2.png"
                    sound=dagger-swish.wav
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/humans/exterminator+female-dagger-2.png"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/else]
            [frame]
                image="units/humans/exterminator+female.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=scythe
            [/filter_attack]
            [frame]
                image="units/humans/exterminator+female.png"
            [/frame]
            [if]
                [frame]
                    image="units/humans/exterminator+female-scythe-1.png"
                    sound=dagger-swish.wav
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/humans/exterminator+female-scythe-1.png"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/else]
            [frame]
                image="units/humans/exterminator+female-scythe-2.png"
            [/frame]
            [frame]
                image="units/humans/exterminator+female.png"
            [/frame]
        [/attack_anim]
    [/female]
    {GENERIC_AMLA units/humans/exterminator.png units/humans/exterminator-throwknife-1.png units/humans/exterminator-throwknife-2.png units/humans/exterminator+female.png units/humans/exterminator+female-throwknife-1.png units/humans/exterminator+female-throwknife-2.png (
        [advancement]
            max_times=2
            id=dagger
            description= _ "faster with dagger"
            image="attacks/dagger-human.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=dagger
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=dagger2
            description= _ "better at backstabbing"
            image="attacks/dagger-human.png"
            strict_amla=yes
            require_amla="dagger"
            [effect]
                apply_to=attack
                name=dagger
                remove_specials=backstab
                increase_damage=-1
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_GREATER_BACKSTAB}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=dagger2
            description= _ "better with dagger"
            image="attacks/dagger-human.png"
            strict_amla=yes
            require_amla="dagger"
            [effect]
                apply_to=attack
                name=dagger
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=scythe
            description= _ "better with scythe"
            image=attacks/scythe.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=scythe
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=scythe2
            description= _ "better with scythe"
            image=attacks/scythe.png
            strict_amla=yes
            require_amla="scythe"
            [effect]
                apply_to=attack
                name=scythe
                increase_damage=-3
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=scythe3
            description= _ "better with scythe"
            image=attacks/scythe.png
            strict_amla=yes
            require_amla="scythe2"
            [effect]
                apply_to=attack
                name=scythe
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            id=knife
            description= _ "faster with knives"
            image=attacks/dagger-thrown-poison-human.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=knife
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=knife2
            description= _ "very precise with knives"
            image=attacks/dagger-thrown-poison-human.png
            strict_amla=yes
            require_amla="knife"
            [effect]
                apply_to=attack
                name=knife
                remove_specials=marksman
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_FOCUSED}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=knife3
            description= _ "better with knives"
            image=attacks/dagger-thrown-poison-human.png
            strict_amla=yes
            require_amla="knife,knife2"
            [effect]
                apply_to=attack
                name=knife
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=murderous_frenzy
            description= _ "able to charge at enemies when backstabbing if selected"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=murderous frenzy
                description= _ "murderous frenzy"
                icon=attacks/frenzy.png
                range=melee
                force_original_attack=dagger
                defense_weight=0
                damage=-30
                clone_anim=yes
                [specials]
                    {WEAPON_SPECIAL_CHARGING_BACKSTAB}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            always_display=yes
            id=murderous_frenzy2
            description= _ "charging at enemy backs better"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="murderous_frenzy"
            [effect]
                apply_to=improve_bonus_attack
                name=murderous frenzy
                increase_damage=10
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=whirlwind
            description= _ "able to perform a whirlwind attack"
            image=attacks/scythe.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=whirlwind-scythe
                description= _ "whirlwind"
                icon=attacks/scythe.png
                range=melee
                defense_weight=0
                damage=-30
                number=-30
                clone_anim=yes
                force_original_attack=scythe
                [specials]
                    {WEAPON_SPECIAL_WHIRLWIND}
                    {WEAPON_SPECIAL_MAGICAL}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            always_display=yes
            id=whirlwind2
            description= _ "whirling better"
            image=attacks/scythe.png
            strict_amla=yes
            require_amla="whirlwind"
            [effect]
                apply_to=improve_bonus_attack
                name=whirlwind-scythe
                increase_damage=15
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=nightstalk
            description= _ "able to move at night without being seen on useful terrains"
            image=attacks/dark-missile.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LESSER_NIGHTSTALK}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=nightstalk2
            description= _ "able to move at night without being seen on all accessible terrains"
            image=attacks/dark-missile.png
            strict_amla=yes
            require_amla="nightstalk"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LESSER_NIGHTSTALK}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_NIGHTSTALK}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=block
            description= _ "better at defending"
            image="attacks/dagger-human.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-3
                    shallow_water=-3
                    reef=-3
                    flat=-3
                    castle=-3
                    village=-3
                    forest=-3
                    cave=-3
                    hills=-3
                    mountains=-3
                    fungus=-3
                    swamp_water=-3
                    sand=-3
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=block2
            description= _ "better at defending"
            image="attacks/dagger-human.png"
            strict_amla=yes
            require_amla="block"
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-2
                    shallow_water=-2
                    reef=-2
                    flat=-2
                    castle=-2
                    village=-2
                    forest=-2
                    cave=-2
                    hills=-2
                    mountains=-2
                    fungus=-2
                    swamp_water=-2
                    sand=-2
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=block3
            description= _ "better at defending"
            image="attacks/dagger-human.png"
            strict_amla=yes
            require_amla="block,block2"
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-1
                    shallow_water=-1
                    reef=-1
                    flat=-1
                    castle=-1
                    village=-1
                    forest=-1
                    cave=-1
                    hills=-1
                    mountains=-1
                    fungus=-1
                    swamp_water=-1
                    sand=-1
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=4
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            {AMLA_DEFAULT_BONUSES}
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/advancement]
    ) "Exterminator"}
