#textdomain wesnoth-loti

[unit_type]
    id=Faerie Fire Unit
    name= _ "Faerie Fire"
    race=monster
    image="halo/elven/shyde-stationary-halo1.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=15
    movement_type=undeadspirit
    movement=6
    experience=160
    level=0
    alignment=neutral
    advances_to=null
    cost=15
    {AMLA_DEFAULT}
    usage=archer
    halo=halo/elven/shyde-stationary-halo1.png:150,halo/elven/shyde-stationary-halo2.png:150,halo/elven/shyde-stationary-halo3.png:150,halo/elven/shyde-stationary-halo4.png:150,halo/elven/shyde-stationary-halo5.png:150,halo/elven/shyde-stationary-halo6.png:150
    description= _ "This is a piece of faerie fire that can exist without external source of magical power. It is not too powerful, although it can incinerate foes and thereby create other separate faerie fires."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SPIRIT}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_PLAGUE}

    [defend]
        start_time=-126
        [frame]
            duration=1
            image="halo/elven/elven-shield-halo-20pct.png"
        [/frame]
        [frame]
            duration=100
            image="halo/elven/elven-shield-halo-40pct.png"
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=150
                image="halo/elven/elven-shield-halo-60pct.png"
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=150
                image="halo/elven/elven-shield-halo-80pct.png"
            [/frame]
        [/else]
        [frame]
            duration=1
            image="halo/elven/elven-shield-halo-100pct.png"
        [/frame]
    [/defend]

    [standing_anim]
        layer=60
        start_time=0
        [frame]
            duration=50
            image="halo/elven/shyde-stationary-halo5.png"
        [/frame]
        [frame]
            duration=60
            image="halo/elven/shyde-stationary-halo6.png"
        [/frame]
        [frame]
            duration=80
            image="halo/elven/shyde-stationary-halo1.png"
        [/frame]
        [frame]
            duration=60
            image="halo/elven/shyde-stationary-halo2.png"
        [/frame]
        [frame]
            duration=50
            image="halo/elven/shyde-stationary-halo3.png"
        [/frame]
        [frame]
            duration=60
            image="halo/elven/shyde-stationary-halo4.png"
        [/frame]
        [frame]
            duration=80
            image="halo/elven/shyde-stationary-halo3.png"
        [/frame]
        [frame]
            duration=60
            image="halo/elven/shyde-stationary-halo4.png"
        [/frame]
    [/standing_anim]

    [attack]
        name=faerie fire
        description=_"faerie fire"
        icon=attacks/faerie-fire.png
        type=arcane
        range=ranged
        damage=5
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_PLAGUE_TYPE_LOTI "Faerie Fire Unit" _"Faerie Fire Unit"}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=faerie fire
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_FIRE}

        [if]
            hits=yes
            [frame]
                begin=-450
                end=-375
                sound=magic-faeriefire.ogg

                halo=halo/elven/faerie-fire-halo1.png
                halo_x,halo_y=0,-28
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-450
                end=-375
                sound=magic-faeriefire-miss.ogg
                halo=halo/elven/faerie-fire-halo1.png
                halo_x,halo_y=0,-28
            [/frame]
        [/else]
        [frame]
            begin=-375
            end=-300
            halo=halo/elven/faerie-fire-halo2.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-300
            end=-225
            halo=halo/elven/faerie-fire-halo3.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-225
            end=-150
            halo=halo/elven/faerie-fire-halo4.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-150
            end=-75
            halo=halo/elven/faerie-fire-halo5.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-75
            end=0
            halo=halo/elven/faerie-fire-halo6.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-0
            end=75
            halo=halo/elven/faerie-fire-halo7.png
            halo_x,halo_y=0,-28
        [/frame]
    [/attack_anim]
[/unit_type]
