#textdomain wesnoth-loti
[unit_type]
    id=Flies
    name= _ "Flies"
    race=monster
    image="units/enemies/flies.png"
    hitpoints=83
    movement_type=fly
    movement=7
    experience=200
    level=3
    alignment=liminal
    advances_to=null
    {AMLA_DEFAULT}
    cost=65
    usage=fighter
    description= _ "A fly, even if it is a bloodsucking horse-fly, is completely harmless, but a swarm of them can be a threat. They drink only a drop of blood with each bite, but if they are numerous enough, it can add up to fatal blood loss."+{SPECIAL_NOTES}+{SPECIAL_NOTES_DRAIN}
    [resistance]
        arcane=100
    [/resistance]
    [defense]
        shallow_water=30
        reef=30
        swamp_water=20
        flat=20
        sand=20
        forest=20
        hills=20
        mountains=30
        village=20
        castle=20
        cave=30
        frozen=30
        fungus=30
        deep_water=30
    [/defense]
    [attack]
        name=bite
        description=_"bite"
        icon=attacks/fangs-spider.png
        type=blade
        range=melee
        damage=3
        number=15
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_SWARM}
        [/specials]
    [/attack]
    [standing_anim]
        start_time=0
        layer=60
        [frame]
            duration=150
            image="units/enemies/flies.png"
        [/frame]
        [frame]
            duration=150
            image="units/enemies/flies-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/enemies/flies-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/enemies/flies-4.png"
        [/frame]
        [frame]
            duration=150
            image="units/enemies/flies-5.png"
        [/frame]
        [frame]
            duration=150
            image="units/enemies/flies-6.png"
        [/frame]
    [/standing_anim]
[/unit_type]
