#textdomain wesnoth-loti
[unit_type]
    id=Flower of Evil
    name= _ "Flower of Evil"
    race=monster
    image="units/enemies/plants/groviglio_fatale.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=184
    movement_type=carnivorousplantfoot
    movement=1
    experience=500
    level=5
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=138
    usage=fighter
    description= _ "Flowers of Evil are one of the few plant types adopted to the hostile environment in Inferno after Uria's arrival. They are dangerous even to approach, and their main source of food are creatures living around, imps and demons, but if more interesting prey is nearby, they leave them alone. They are extremely dangerous in proximity of symbiotic mushrooms."+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_FEEDING}+{SPECIAL_NOTES_SLOW}
    die_sound=wose-hit.ogg
    [abilities]
        {ABILITY_REGENERATES_OTHER 16}
        {ABILITY_FEEDING}
    [/abilities]
    [attack]
        name=fangs
        description=_"fangs"
        icon="attacks/fangs-poison.png"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_POISON}
            [firststrike]
                id=firststrike
                name= _ "first strike"
                description= _ "This unit always strikes first with this attack, even when defending."
                [filter_self]
                    [filter_adjacent]
                        type=Deathshroom
                        [or]
                            type=Hatredshroom
                        [/or]
                    [/filter_adjacent]
                [/filter_self]
            [/firststrike]
            [damage]
                id=charge
                name= _ "charge"
                description= _ "When used offensively, this attack deals double damage to the target. It also causes this unit to take double damage from the target’s counterattack."
                multiply=2
                apply_to=both
                active_on=offense
                [filter_self]
                    [filter_adjacent]
                        type=Deathshroom
                        [or]
                            type=Hatredshroom
                        [/or]
                    [/filter_adjacent]
                [/filter_self]
            [/damage]
        [/specials]
        range=melee
        damage=33
        number=3
    [/attack]
    [attack]
        name=ensnare
        description=_"ensnare"
        icon="attacks/entangle.png"
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
            [chance_to_hit]
                id=marksman
                name= _ "marksman"
                description= _ "When used offensively, this attack always has at least a 60% chance to hit."
                value=60
                cumulative=yes
                active_on=offense
                [filter_self]
                    [filter_adjacent]
                        type=Deathshroom
                        [or]
                            type=Hatredshroom
                        [/or]
                    [/filter_adjacent]
                [/filter_self]
            [/chance_to_hit]
        [/specials]
        range=ranged
        damage=13
        number=2
    [/attack]
    [death]
        start_time=0
        [frame]
            duration=100
            image="units/enemies/plants/groviglio_fatale_die1.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/plants/groviglio_fatale_die2.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/plants/groviglio_fatale_die3.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/plants/groviglio_fatale_die4.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/plants/groviglio_fatale_die5.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/plants/groviglio_fatale_die6.png"
        [/frame]
    [/death]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        [frame]
            begin=-330
            end=-270
            image="units/enemies/plants/groviglio_fatale_attack1.png"
        [/frame]
        [frame]
            begin=-270
            end=-200
            image="units/enemies/plants/groviglio_fatale_attack2.png"
        [/frame]
        [frame]
            begin=-200
            end=-150
            image="units/enemies/plants/groviglio_fatale_attack3.png"
            sound=bite.ogg
        [/frame]
        [frame]
            begin=-150
            end=150
            image="units/enemies/plants/groviglio_fatale_attack4.png"
            sound=bite.ogg
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/enemies/plants/groviglio_fatale_attack1.png"
        [/frame]
        [frame]
            begin=200
            end=230
            image="units/enemies/plants/groviglio_fatale_ranged.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=ensnare
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/entangle.png"
            image_diagonal="projectiles/entangle.png"
        [/missile_frame]
        [frame]
            begin=-150
            end=0
            image="units/enemies/plants/groviglio_fatale_ranged.png"
            sound=tail.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
