#textdomain wesnoth-loti
#define LIGHTNING_MIST DIRECTION_NUMBER
    [attack_anim]
        [filter_attack]
            name=lightning
        [/filter_attack]

        {LIGHTNING_BOLT {DIRECTION_NUMBER} }

        start_time=-250
        [if]
            hits=yes
            [frame]
                duration=50
                sound=lightning.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=50
                sound=lightning-miss.ogg
            [/frame]
        [/else]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo3.png
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo4.png
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo5.png
        [/frame]
    [/attack_anim]
#enddef
[unit_type]
    id=Fog
    name= _ "Fog"
    race=undead
    image="halo/elven/shyde-stationary-halo3.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=30
    movement_type=undeadspirit
    movement=4
    experience=180
    level=3
    alignment=chaotic
    advances_to=null
    cost=60
    usage=scout
    halo=halo/elven/shyde-stationary-halo1.png:150,halo/elven/shyde-stationary-halo2.png:150,halo/elven/shyde-stationary-halo3.png:150,halo/elven/shyde-stationary-halo4.png:150,halo/elven/shyde-stationary-halo5.png:150,halo/elven/shyde-stationary-halo6.png:150
    description= _ "Fog is a materialised concentration of magical energy that can exist without a constant magic source. The offensive magic casted upon it has nearly no effect, because it heals from that source of magic as fast as it is hurt by it. But a bladed weapon can shred its ethereal body into pieces easily."+{SPECIAL_NOTES}+{SPECIAL_NOTES_PETRIFY}+{SPECIAL_NOTES_SPIRIT}

    [resistance]
        cold=5
        fire=5
        arcane=5
        impact=20
        blade=120
        pierce=30
    [/resistance]
    [defend]
        start_time=-126
        [frame]
            duration=1
            image="halo/elven/elven-shield-halo-20pct.png"
        [/frame]
        [frame]
            duration=100
            image="halo/elven/elven-shield-halo-40pct.png"
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=150
                image="halo/elven/elven-shield-halo-60pct.png"
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=150
                image="halo/elven/elven-shield-halo-80pct.png"
            [/frame]
        [/else]
        [frame]
            duration=1
            image="halo/elven/elven-shield-halo-100pct.png"
        [/frame]
    [/defend]

    [standing_anim]
        layer=60
        start_time=0
        [frame]
            duration=50
            image="halo/elven/shyde-stationary-halo3.png"
            image="halo/elven/shyde-stationary-halo4.png"
        [/frame]
        [frame]
            duration=60
            image="halo/elven/shyde-stationary-halo4.png"
            image="halo/elven/shyde-stationary-halo6.png"
        [/frame]
        [frame]
            duration=80
            image="halo/elven/shyde-stationary-halo5.png"
            image="halo/elven/shyde-stationary-halo2.png"
        [/frame]
        [frame]
            duration=60
            image="halo/elven/shyde-stationary-halo6.png"
            image="halo/elven/shyde-stationary-halo3.png"
        [/frame]
        [frame]
            duration=50
            image="halo/elven/shyde-stationary-halo5.png"
            image="halo/elven/shyde-stationary-halo1.png"
        [/frame]
        [frame]
            duration=60
            image="halo/elven/shyde-stationary-halo6.png"
            image="halo/elven/shyde-stationary-halo4.png"
        [/frame]
        [frame]
            duration=80
            image="halo/elven/shyde-stationary-halo1.png"
            image="halo/elven/shyde-stationary-halo4.png"
        [/frame]
        [frame]
            duration=60
            image="halo/elven/shyde-stationary-halo2.png"
            image="halo/elven/shyde-stationary-halo1.png"
        [/frame]
    [/standing_anim]

    [attack]
        name=lightning
        description=_"horrible lightning"
        icon=attacks/lightning.png
        type=fire
        range=ranged
        damage=15
        number=1
        [specials]
            {WEAPON_SPECIAL_PETRIFY}
        [/specials]
    [/attack]

    {LIGHTNING_MIST 1}
    {LIGHTNING_MIST 2}
    {LIGHTNING_MIST 3}
[/unit_type]
