#textdomain wesnoth-loti
[unit_type]
    id=Goblin Warbanner
    name= _ "Goblin Warbanner"
    race=goblin
    image=units/orcs/goblinwarbanner.png
    profile="portraits/goblins/rouser.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=42
    movement_type=orcishfoot
    movement=5
    experience=80
    {QUANTITY experience 70 75 80}
    level=2
    alignment=chaotic
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Goblin Rouser
        experience=80
    [/advancefrom]
#endif
    cost=31
    usage=fighter
    description=_"Some goblins, after surviving an improbably high number of fights, become experienced enough to lead other goblins to battle, or even weaker orcs. These goblins are no longer bullied by orcs, but still used to lead a tiring force."
    die_sound={SOUND_LIST:GOBLIN_DIE}
    {DEFENSE_ANIM "units/orcs/goblinwarbanner.png" "units/orcs/goblinwarbanner.png" {SOUND_LIST:GOBLIN_HIT} }
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/goblins/transparent/rouser.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/goblins/transparent/rouser.png"
    [/portrait]
    [attack]
        name=spear
        description=_"spear"
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
        name=javelin
        description=_"javelin"
        icon=attacks/spear-orcish.png
        type=pierce
        range=ranged
        damage=10
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/orcs/goblinwarbanner.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/orcs/goblinwarbanner-attack-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=100
                end=200
                image="units/orcs/goblinwarbanner-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=100
                end=200
                image="units/orcs/goblinwarbanner-attack-2.png"
                sound=spear.ogg
            [/frame]
        [/else]
        [frame]
            begin=200
            end=250
            image="units/orcs/goblinwarbanner-attack-2.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/orcs/goblinwarbanner.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=javelin
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        [frame]
            begin=-250
            end=-150
            image="units/orcs/goblinwarbanner-attack-1.png"
            sound={SOUND_LIST:THROW}
        [/frame]
        [frame]
            begin=-150
            end=-100
            image="units/orcs/goblinwarbanner-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=-50
                image="units/orcs/goblinwarbanner-attack-1.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=-50
                image="units/orcs/goblinwarbanner-attack-1.png"
            [/frame]
        [/else]
        [frame]
            begin=-50
            end=50
            image="units/orcs/goblinwarbanner-attack-3.png"
        [/frame]
    [/attack_anim]
    [idle_anim]
        [frame]
            begin=0
            end=150
            image="units/orcs/goblinwarbanner-victory2.png"
        [/frame]
        [frame]
            begin=150
            end=300
            image="units/orcs/goblinwarbanner-victory1.png"
        [/frame]
        [frame]
            begin=300
            end=450
            image="units/orcs/goblinwarbanner-victory2.png"
        [/frame]
        [frame]
            begin=450
            end=750
            image="units/orcs/goblinwarbanner-victory1.png"
        [/frame]
        [frame]
            begin=750
            end=825
            image="units/orcs/goblinwarbanner-victory2.png"
        [/frame]
    [/idle_anim]
    [victory_anim]
        [frame]
            begin=0
            end=150
            image="units/orcs/goblinwarbanner-victory2.png"
        [/frame]
        [frame]
            begin=150
            end=300
            image="units/orcs/goblinwarbanner-victory1.png"
        [/frame]
        [frame]
            begin=300
            end=450
            image="units/orcs/goblinwarbanner-victory2.png"
        [/frame]
        [frame]
            begin=450
            end=750
            image="units/orcs/goblinwarbanner-victory1.png"
        [/frame]
        [frame]
            begin=750
            end=825
            image="units/orcs/goblinwarbanner-victory2.png"
        [/frame]
    [/victory_anim]
    [leading_anim]
        [frame]
            begin=-125
            end=125
            image="units/orcs/goblinwarbanner-victory1.png"
        [/frame]
    [/leading_anim]
    {GENERIC_AMLA units/orcs/goblinwarbanner.png units/orcs/goblinwarbanner-victory1.png units/orcs/goblinwarbanner-victory2.png units/orcs/goblinwarbanner.png units/orcs/goblinwarbanner-victory1.png units/orcs/goblinwarbanner-victory2.png (
        [advancement]
            max_times=1
            always_display=yes
            id=spear
            description= _ "striking better with spear"
            image=attacks/spear.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=spear
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=spear2
            description= _ "striking faster with spear"
            image=attacks/spear.png
            strict_amla=yes
            require_amla="spear"
            [effect]
                apply_to=attack
                name=spear
                increase_damage=-2
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=spear3
            description= _ "striking better with spear"
            image=attacks/spear.png
            strict_amla=yes
            require_amla="spear2"
            [effect]
                apply_to=attack
                name=spear
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=javelin
            description= _ "throwing spears faster"
            image=attacks/javelin-human.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=javelin
                increase_damage=-2
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=javelin2
            description= _ "throwing spears better"
            image=attacks/javelin-human.png
            strict_amla=yes
            require_amla="javelin"
            [effect]
                apply_to=attack
                name=javelin
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=javelin3
            description= _ "throwing spears more precisely"
            image=attacks/javelin-human.png
            strict_amla=yes
            require_amla="javelin2"
            [effect]
                apply_to=attack
                name=javelin
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_MARKSMAN}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=wardrums
            description= _ "able to drum in a way that makes allies march faster"
            image=attacks/fist.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_WARDRUMS}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership
            description= _ "a better leader"
            image=attacks/fist.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_2}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_3}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=dodge
            description= _ "better at dodging enemy attacks (lowering the chance to be hit by 2%)"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-2
                    castle=-2
                    sand=-2
                    village=-2
                    flat=-2
                    hills=-2
                    mountains=-2
                    cave=-2
                    shallow_water=-2
                    coastal_reef=-2
                    swamp_water=-2
                    forest=-2
                    fungus=-2
                    deep_water=-2
                    unwalkable=-2
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Goblin Warbanner"}
