#textdomain wesnoth-loti
[unit_type]
    id=Goblin Ravager
    name= _ "Goblin Ravager"
    race=wolf
    image="units/orcs/goblin-ravager.png"
    profile="portraits/orcs/goblin-ravager.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=53
    movement_type=orcishfoot
    movement=9
    experience=100
    {QUANTITY experience 80 90 100}
    level=3
    alignment=chaotic
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Goblin Pillager
        experience=180
    [/advancefrom]
#endif
    cost=47
    usage=scout
    description= _ "To perform their destructive work effectfully, Goblin Pillagers must be able to move fast. In the event of a shortage of wolves, another mount has to fill in. Though giant spiders are far less intelligent than wolves, the fear spread by their sight makes up for this imperfection. Taming those beasts claims high casualties and their appetite for riders in front of them is detrimental – but one has to overlook such little mishaps leniently: Goblins are numerous, useless for most other jobs, and since birth used to submit to their fates."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_POISON}
    die_sound={SOUND_LIST:WOLF_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/goblins/transparent/pillager.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/goblins/transparent/pillager.png"
    [/portrait]
    {DEFENSE_ANIM "units/orcs/goblin-ravager-melee-2.png" "units/orcs/goblin-ravager-melee-1.png" hiss.wav }
    [defense]
        village=50
    [/defense]
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs-spider.png
        type=blade
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=torch
        description=_"torch"
        icon=attacks/torch.png
        type=fire
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=net
        description=_"net"
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=8
        number=2
        range=ranged
        icon=attacks/net.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=net
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=0
            image="projectiles/web.png"
            image_diagonal="projectiles/web.png"
        [/missile_frame]
        [frame]
            begin=-300
            end=-150
            image="units/orcs/goblin-ravager-ranged.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=-75
                image="units/orcs/goblin-ravager-standing-2.png"
                sound=net.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=-75
                image="units/orcs/goblin-ravager-standing-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=-75
            end=100
            image="units/orcs/goblin-ravager-standing-3.png"
        [/frame]
        {SOUND:SLOW}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=torch
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=50
                image="units/orcs/goblin-ravager-torch.png"
                sound=torch.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=50
                image="units/orcs/goblin-ravager-torch.png"
                sound=torch-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/orcs/goblin-ravager-melee-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        start_time=-400
        [filter_attack]
            name=fangs
        [/filter_attack]
        [frame]
            duration=50
            image="units/orcs/goblin-ravager-melee-1.png"
        [/frame]
        [frame]
            duration=50
            image="units/orcs/goblin-ravager-melee-2.png"
        [/frame]
        [frame]
            duration=50
            image="units/orcs/goblin-ravager-melee-3.png"
        [/frame]
        [frame]
            duration=50
            image="units/orcs/goblin-ravager-melee-4.png"
        [/frame]
        [frame]
            duration=50
            image="units/orcs/goblin-ravager-melee-5.png"
        [/frame]
        [frame]
            duration=50
            image="units/orcs/goblin-ravager-melee-6.png"
        [/frame]
        [frame]
            duration=50
            image="units/orcs/goblin-ravager-melee-7.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=50
                image="units/orcs/goblin-ravager-melee-8.png"
                sound=bite.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=50
                image="units/orcs/goblin-ravager-melee-8.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/orcs/goblin-ravager-melee-9.png"
        [/frame]
        {SOUND:POISON}
        [frame]
            duration=50
            image="units/orcs/goblin-ravager-melee-10.png"
        [/frame]
        [frame]
            duration=50
            image="units/orcs/goblin-ravager-melee-11.png"
        [/frame]
        [frame]
            duration=50
            image="units/orcs/goblin-ravager-melee-12.png"
        [/frame]
        [frame]
            duration=50
            image="units/orcs/goblin-ravager-melee-13.png"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        [frame]
            duration=100
            image="units/orcs/goblin-ravager.png"
        [/frame]
        [frame]
            duration=100
            image="units/orcs/goblin-ravager-standing-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/orcs/goblin-ravager-standing-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/orcs/goblin-ravager-standing-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/orcs/goblin-ravager-standing-5.png"
        [/frame]
    [/standing_anim]
    {GENERIC_AMLA units/orcs/goblin-ravager.png units/orcs/goblin-ravager-melee-1.png units/orcs/goblin-ravager-melee-2.png units/orcs/goblin-ravager.png units/orcs/goblin-ravager-melee-1.png units/orcs/goblin-ravager-melee-2.png (
        [advancement]
            max_times=1
            always_display=yes
            id=fangs1
            description= _ "biting better"
            image=attacks/fangs-animal.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=fangs
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=fangs2
            description= _ "biting faster"
            image=attacks/fangs-animal.png
            strict_amla=yes
            require_amla="fangs1"
            [effect]
                apply_to=attack
                name=fangs
                increase_damage=-1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=fangs2-leech
            description= _ "feasting on enemies when biting"
            image=attacks/fangs-animal.png
            strict_amla=yes
            require_amla="fangs1"
            [effect]
                apply_to=attack
                name=fangs
                increase_damage=-1
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_LEECH}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=fangs3
            description= _ "biting better"
            image=attacks/fangs-animal.png
            strict_amla=yes
            require_amla="fangs2"
            [effect]
                apply_to=attack
                name=fangs
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=torch
            description= _ "torching better"
            image=attacks/torch.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=torch
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            always_display=yes
            id=torch2
            description= _ "torching faster"
            image=attacks/torch.png
            strict_amla=yes
            require_amla="torch"
            [effect]
                apply_to=attack
                name=torch
                increase_damage=-2
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=torch3
            description= _ "incinerating with torch"
            image=attacks/torch.png
            strict_amla=yes
            require_amla="torch2"
            [effect]
                apply_to=attack
                name=torch
                increase_damage=-1
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_INCINERATE}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=net
            description= _ "throwing nets better"
            image=attacks/net.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=net
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            always_display=yes
            id=net2
            description= _ "throwing nets faster"
            image=attacks/net.png
            strict_amla=yes
            require_amla="net"
            [effect]
                apply_to=attack
                name=net
                increase_damage=-1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=dodge
            description= _ "more nimble (lowering the chance to be hit by 4%)"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-4
                    castle=-4
                    sand=-4
                    village=-4
                    flat=-4
                    hills=-4
                    mountains=-2
                    cave=-4
                    shallow_water=-4
                    coastal_reef=-4
                    swamp_water=-4
                    forest=-2
                    fungus=-4
                    deep_water=-4
                    unwalkable=-4
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Goblin Ravager"}
