#textdomain wesnoth-loti
[unit_type]
    id=Grim Knight
    name= _ "Grim Knight"
    race=undead
    image="units/undead/grim-knight.png"
    profile="portraits/undead/deathblade.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=56
    movement_type=undeadfoot
    movement=7
    experience=100
    {QUANTITY experience 80 90 100}
    level=3
    alignment=chaotic
    advances_to=null
    [defense]
        village=60
    [/defense]
    cost=49
    usage=fighter
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Deathblade
        experience=180
    [/advancefrom]
    [advancefrom]
        unit=Chocobone LotI
        experience=180
    [/advancefrom]
    [advancefrom]
        unit=Chocobone
        experience=180
    [/advancefrom]
#endif
    description= _ "Grim Knights are undead who can ride a living horse thanks to dark magic controlling the horse's mind and altering its body. Undead legions use them for approximately the same purposes as living armies use their horsemen."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARGE}
    die_sound=horse-die.ogg
    [abilities]
        {ABILITY_PENETRATE}
    [/abilities]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/undead/transparent/deathblade.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/undead/transparent/deathblade.png"
    [/portrait]
    [attack]
        name=axe
        description=_"axe"
        icon=attacks/axe-deathblade.png
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]
    [attack]
        name=lance
        description=_"lance"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        range=melee
        damage=15
        number=2
    [/attack]
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/undead/grim-knight-moving.png"
        [/frame]
    [/movement_anim]
    {DEFENSE_ANIM "units/undead/grim-knight-defend.png" "units/undead/grim-knight.png" {SOUND_LIST:HORSE_HIT} }
    [attack_anim]
        [filter_attack]
            name=lance
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/undead/grim-knight.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=150
                image="units/undead/grim-knight-moving.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=150
                image="units/undead/grim-knight-moving.png"
                sound=spear.ogg
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/undead/grim-knight.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/undead/grim-knight.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-150
                end=0
                image="units/undead/grim-knight-attack-axe-1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-150
                end=0
                image="units/undead/grim-knight-attack-axe-1.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=100
            image="units/undead/grim-knight-attack-axe-2.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/undead/grim-knight.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/undead/grim-knight.png units/undead/grim-knight-attack-axe-1.png units/undead/grim-knight-attack-axe-1.png units/undead/grim-knight.png units/undead/grim-knight-attack-axe-1.png units/undead/grim-knight-attack-axe-1.png (
        [advancement]
            max_times=1
            always_display=yes
            id=lance
            description= _ "striking better with lance"
            image=attacks/lance.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=lance
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=lance2
            description= _ "striking better with lance"
            image=attacks/lance.png
            strict_amla=yes
            require_amla="lance"
            [effect]
                apply_to=attack
                name=lance
                increase_damage=-3
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=lance3
            description= _ "charging more powerfully with lance (2.5 times more damage)"
            image=attacks/lance.png
            strict_amla=yes
            require_amla="lance,lance2"
            [effect]
                apply_to=attack
                name=lance
                remove_specials=charge
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_CHARGING 2.5}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=lance4
            description= _ "charging even more powerfully with the lance (3 times more damage)"
            image=attacks/lance.png
            strict_amla=yes
            require_amla="lance,lance2,lance3"
            [effect]
                apply_to=attack
                name=lance
                remove_specials=charge
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_CHARGING 3}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=lance5
            description= _ "striking even better with the lance"
            image=attacks/lance.png
            strict_amla=yes
            require_amla="lance,lance2,lance3"
            [effect]
                apply_to=attack
                name=lance
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=knockback
            description= _ "able to knock enemies back"
            image=attacks/axe-unholy.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=knockback
                description= _ "knockback"
                icon=attacks/axe-unholy.png
                range=melee
                defense_weight=0
                clone_anim=yes
                force_original_attack=lance
                [specials]
                    {WEAPON_SPECIAL_KNOCKBACK}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=axe
            description= _ "better at axe combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=axe
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=axe2
            description= _ "better at axe combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe"
            [effect]
                apply_to=attack
                name=axe
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=axe3
            description= _ "better at axe combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe,axe2"
            [effect]
                apply_to=attack
                name=axe
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=axe4
            description= _ "better at axe combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe,axe2,axe3"
            [effect]
                apply_to=attack
                name=axe
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "more undead-like resistance (improved resistances, slightly worsened weaknesses)"
            image=icons/skull.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-2
                    pierce=-3
                    impact=1
                    fire=1
                    cold=-3
                    arcane=2
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Grim Knight"}
