#textdomain wesnoth-loti
[unit_type]
    id=Imp
    name= _ "Imp"
    race=imp-loti
    image="units/enemies/imp.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=44
    movement_type=impfoot
    movement=5
    experience=80
    level=2
    alignment=liminal
    advances_to=Doom Imp
    cost=32
    usage=fighter
    description= _ "Imps are foul creations of demons to do the inferior work for the demons, like cleaning dens. Imps are weaker than demons and almost mindless."
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/enemies/imp-defend.png" "units/enemies/imp.png" {SOUND_LIST:ORC_HIT} }
    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-drake.png
        type=blade
        range=melee
        damage=6
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=infernal chill
        [/filter_attack]
        {MISSILE_FRAME_ICE}

        start_time=-575
        [frame]
            duration=50
            image=units/enemies/imp.png
        [/frame]
        [frame]
            duration=100
            image=units/enemies/imp-attack-1.png
            sound=magic-dark.ogg
        [/frame]
        [frame]
            duration=225
            image=units/enemies/imp-attack-1.png
        [/frame]
        [frame]
            duration=75
            image=units/enemies/imp.png
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shadow wave
        [/filter_attack]
        [missile_frame]
            begin=-100
            end=100
            image="projectiles/darkmissile-n.png"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]

        [frame]
            begin=-300
            end=-225
            image=units/enemies/imp.png
        [/frame]
        [frame]
            begin=-225
            end=-150
            image=units/enemies/imp-attack-1.png
        [/frame]
        [frame]
            begin=-150
            end=-75
            image=units/enemies/imp-attack-1.png
            halo=halo/undead/black-magic-1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=0
                image=units/enemies/imp-attack-1.png
                sound=magic-dark.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=0
                image=units/enemies/imp-attack-1.png
                sound=magic-dark-miss.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/else]
        [frame]
            begin=0
            end=75
            image=units/enemies/imp-defend.png
            halo=halo/undead/black-magic-3.png
        [/frame]
        [frame]
            begin=75
            end=150
            image=units/enemies/imp-defend.png
            halo=halo/undead/black-magic-4.png
        [/frame]

        [frame]
            begin=150
            end=200
            image=units/enemies/imp-defend.png
            halo=halo/undead/black-magic-5.png
        [/frame]
        [frame]
            begin=200
            end=250
            image=units/enemies/imp.png
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image=units/enemies/imp.png
        [/frame]
        [frame]
            begin=-200
            end=-50
            image="units/enemies/imp-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-50
                end=100
                image="units/enemies/imp-attack-1.png"
                sound=claws.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=100
                image="units/enemies/imp-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image=units/enemies/imp.png
        [/frame]
    [/attack_anim]
[/unit_type]
