#textdomain wesnoth-loti
[unit_type]
    id=Faerie Incarnation
    name= _ "female^Faerie Incarnation"
    race=elf
    gender=female
    image="units/elves/incarnation.png"
    profile="portraits/elves/shyde.png~RIGHT()"
    halo=halo/elven/shyde-stationary-halo1.png:150,halo/elven/shyde-stationary-halo2.png:150,halo/elven/shyde-stationary-halo3.png:150,halo/elven/shyde-stationary-halo4.png:150,halo/elven/shyde-stationary-halo5.png:150,halo/elven/shyde-stationary-halo6.png:150
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=55
    movement_type=woodlandfloat
    movement=6
    experience=120
    {QUANTITY experience 80 100 120}
    level=4
    alignment=neutral
    advances_to=null
    cost=65
    usage=mixed fighter
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Elvish Shyde
        experience=250
    [/advancefrom]
#endif
    description= _ "Some elves have gone so far on the faerie path, that they are much more a fairy than an elf. This gives them unearthly beauty and otherworldly powers commanding plants. However, this transformation also includes behavioral changes, and their integration into elvish society is problematic."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_CURES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_POISON}+_" This unit regenerates, which allows it to heal as though always stationed in a village, if it is standing in a forest."
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/elves/transparent/shyde.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/elves/transparent/shyde.png"
    [/portrait]
    [resistance]
        arcane=80
    [/resistance]
    [abilities]
        {ABILITY_HEALS_OTHER 16}
        [regenerate]
            value=16
            id=natures power
            name=_ "nature's power"
            description=_ "This unit heals 16 HP per turn if standing on a forested hex. If poisoned, the poison will be cured instead."
            name_inactive=_ "nature's power"
            affect_self=yes
            [filter_self]
                [filter_location]
                    terrain=*^F*, *^Uf, *^Ufi, *^Fz*
                [/filter_location]
            [/filter_self]
            poison=cured
        [/regenerate]
    [/abilities]
    [attack]
        name=vine
        description=_"vine whip"
        icon=attacks/vine.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=9
        number=3
        range=melee
    [/attack]
    [attack]
        name=ensnare
        description=_"ensnare"
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_LEECH}
        [/specials]
        damage=5
        number=4
        range=ranged
        icon=attacks/entangle.png
    [/attack]
    [attack]
        name=thorns
        description=_"thorns"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_POISON}
        [/specials]
        damage=7
        number=4
        range=ranged
    [/attack]
    {DEFENSE_ANIM_ELVEN_RANGE "units/elves/incarnation-defend.png" "units/elves/incarnation-activate.png" {SOUND_LIST:ELF_FEMALE_HIT} melee }
    {DEFENSE_ANIM_ELVEN_RANGE "units/elves/incarnation-defend.png" "units/elves/incarnation-activate.png" {SOUND_LIST:ELF_FEMALE_HIT} ranged }
    [healing_anim]
        [frame]
            begin=-150
            end=-110
            image="units/elves/incarnation-activate.png"
            halo="halo/elven/druid-healing1.png"
        [/frame]
        [frame]
            begin=-110
            end=-70
            image="units/elves/incarnation-activate.png"
            halo="halo/elven/druid-healing2.png"
        [/frame]
        [frame]
            begin=-70
            end=30
            image="units/elves/incarnation-ranged.png"
            halo="halo/elven/druid-healing3.png"
        [/frame]
        [frame]
            begin=30
            end=-10
            image="units/elves/incarnation-ranged.png"
            halo="halo/elven/druid-healing4.png"
        [/frame]
        [frame]
            begin=-10
            end=30
            image="units/elves/incarnation-ranged.png"
            halo="halo/elven/druid-healing5.png"
        [/frame]
        [frame]
            begin=30
            end=70
            image="units/elves/incarnation-activate.png"
            halo="halo/elven/druid-healing6.png"
        [/frame]
        [frame]
            begin=70
            end=110
            image="units/elves/incarnation-activate.png"
            halo="halo/elven/druid-healing7.png"
        [/frame]
        [frame]
            begin=110
            end=150
            image="units/elves/incarnation.png"
            halo="halo/elven/druid-healing8.png"
        [/frame]
    [/healing_anim]
    [attack_anim]
        [filter_attack]
            name=thorns
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=0
            image="projectiles/thorns.png"
            image_diagonal="projectiles/thorns-ne.png"
        [/missile_frame]
        [frame]
            begin=-450
            end=-375
            image="units/elves/incarnation.png"
            halo=halo/elven/nature-halo1.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-375
            end=-300
            image="units/elves/incarnation-activate.png"
            halo=halo/elven/nature-halo2.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/elves/incarnation-activate.png"
            halo=halo/elven/nature-halo3.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/elves/incarnation-activate.png"
            halo=halo/elven/nature-halo4.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/elves/incarnation-ranged.png"
            halo=halo/elven/nature-halo5.png
            halo_x,halo_y=0,-12
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=0
                image="units/elves/incarnation-ranged.png"
                sound=magic-thorns-1.ogg,magic-thorns-2.ogg
                halo=halo/elven/nature-halo6.png
                halo_x,halo_y=0,-12
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=0
                image="units/elves/incarnation-ranged.png"
                sound=magic-thorns-miss-1.ogg,magic-thorns-miss-2.ogg
                halo=halo/elven/nature-halo6.png
                halo_x,halo_y=0,-12
            [/frame]
        [/else]
        [frame]
            begin=-0
            end=75
            image="units/elves/incarnation-activate.png"
            halo=halo/elven/nature-halo7.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/elves/incarnation.png"
            halo=halo/elven/nature-halo8.png
            halo_x,halo_y=0,-12
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=ensnare
        [/filter_attack]
        [missile_frame]
            offset=1.0
            begin=-200
            end=50
            image="projectiles/entangle.png"
            image_diagonal="projectiles/entangle.png"
        [/missile_frame]
        [frame]
            begin=-450
            end=-375
            image="units/elves/incarnation.png"
            halo=halo/elven/nature-halo1.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-375
            end=-300
            image="units/elves/incarnation-activate.png"
            halo=halo/elven/nature-halo2.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/elves/incarnation-ranged.png"
            halo=halo/elven/nature-halo3.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/elves/incarnation-ranged.png"
            halo=halo/elven/nature-halo4.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/elves/incarnation-ranged.png"
            halo=halo/elven/nature-halo5.png
            halo_x,halo_y=0,-12
        [/frame]
        {SOUND:SLOW}
        [frame]
            begin=-75
            end=0
            image="units/elves/incarnation-ranged.png"
            halo=halo/elven/nature-halo6.png
            sound=entangle.wav
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-0
            end=75
            image="units/elves/incarnation-activate.png"
            halo=halo/elven/nature-halo7.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/elves/incarnation.png"
            halo=halo/elven/nature-halo8.png
            halo_x,halo_y=0,-12
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=vine
        [/filter_attack]
        [frame]
            begin=-250
            end=-150
            image="units/elves/incarnation.png"
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/elves/incarnation-activate.png"
        [/frame]
        [frame]
            begin=-50
            end=200
            image="units/elves/incarnation-melee.png"
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/elves/incarnation-activate.png"
        [/frame]
        [frame]
            begin=250
            end=300
            image="units/elves/incarnation.png"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        submerge=0.01
        [frame]
            duration=400
            image="units/elves/incarnation.png"
        [/frame]
        [frame]
            duration=400
            image="units/elves/incarnation-standing-2.png"
        [/frame]
        [frame]
            duration=400
            image="units/elves/incarnation-standing-3.png"
        [/frame]
        [frame]
            duration=400
            image="units/elves/incarnation-standing-2.png"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        submerge=0.01
        [frame]
            duration=400
            image="units/elves/incarnation.png"
        [/frame]
        [frame]
            duration=400
            image="units/elves/incarnation-standing-2.png"
        [/frame]
        [frame]
            duration=400
            image="units/elves/incarnation-standing-3.png"
        [/frame]
        [frame]
            duration=400
            image="units/elves/incarnation-standing-2.png"
        [/frame]
    [/movement_anim]
    {GENERIC_AMLA units/elves/incarnation.png units/elves/incarnation-activate.png units/elves/incarnation-ranged.png units/elves/incarnation.png units/elves/incarnation-activate.png units/elves/incarnation-ranged.png (
        [advancement]
            max_times=1
            id=melee
            description= _ "commanding vines better"
            image="attacks/vine.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=4
            id=melee2
            description= _ "commanding vines better"
            image="attacks/vine.png"
            strict_amla=yes
            require_amla="melee"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=ensnare
            description= _ "ensnaring better"
            image="attacks/entangle.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=ensnare
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=ensnare2
            description= _ "ensnaring better"
            image="attacks/entangle.png"
            strict_amla=yes
            require_amla="ensnare"
            [effect]
                apply_to=attack
                name=ensnare
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=thorns
            description= _ "piercing with thorns better"
            image="attacks/thorns.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=thorns
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            id=thorns2
            description= _ "piercing with thorns faster"
            image="attacks/thorns.png"
            strict_amla=yes
            require_amla="thorns"
            [effect]
                apply_to=attack
                name=thorns
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=thorns3
            description= _ "piercing with thorns better"
            image="attacks/thorns.png"
            strict_amla=yes
            require_amla="thorns2"
            [effect]
                apply_to=attack
                name=thorns
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=leeches
            description= _ "slowly draining adjacent enemies"
            image="attacks/thorns.png"
            strict_amla=yes
            require_amla="thorns"
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEECH}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=heal
            description= _ "able to heal allies better"
            image=attacks/lightbeam.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_HEALS_OTHER 16}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_HEALS_OTHER 22}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=heal2
            description= _ "able to heal allies better"
            image=attacks/lightbeam.png
            strict_amla=yes
            require_amla="heal"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_HEALS_OTHER 22}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_HEALS_OTHER 28}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=heal3
            description= _ "able to heal allies better"
            image=attacks/lightbeam.png
            strict_amla=yes
            require_amla="heal,heal2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_HEALS_OTHER 28}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_HEALS_OTHER 34}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=conviction
            description= _ "decreasing non-physical resistances of adjacent enemies (-20%)"
            image=attacks/faerie-fire.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_CONVICTION 20}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=conviction2
            description= _ "decreasing non-physical resistances of adjacent enemies (-30%)"
            image=attacks/faerie-fire.png
            strict_amla=yes
            require_amla="conviction"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_CONVICTION 20}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_CONVICTION 30}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=conviction3
            description= _ "decreasing non-physical resistances of adjacent enemies (-40%)"
            image=attacks/faerie-fire.png
            strict_amla=yes
            require_amla="conviction2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_CONVICTION 30}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_CONVICTION 40}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=vine_toxic
            description= _ "able to poison all adjacent enemy units"
            image=attacks/entangle.png
            strict_amla=yes
            require_amla="conviction"
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_TOXIC_AURA}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            {AMLA_DEFAULT_BONUSES}
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/advancement]
    ) "Faerie Incarnation"}
