#textdomain wesnoth-loti
[unit_type]
    id=Infernal Knight
    name= _ "Infernal Knight"
    race=undead
    image="units/undead/infernal-knight.png"
    halo="halo/fires-small-1.png~O(80%):100,halo/fires-small-2.png~O(80%):100,halo/fires-small-3.png~O(80%):100,halo/fires-small-2.png~O(80%):100,halo/fires-small-3.png~O(80%):100,halo/fires-small-4.png~O(80%):100"
    profile=portraits/undead/death-knight.png
    {LEADING_ANIM "units/undead/infernal-knight-lead-2.png" "units/undead/infernal-knight-lead-1.png" -17,-37}
    hitpoints=76
    movement_type=undeadfoot
    movement=5
    experience=150
    {QUANTITY experience 110 130 150}
    level=4
    alignment=chaotic
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Death Knight
        experience=270
    [/advancefrom]
    [advancefrom]
        unit=Death Knight LotI
        experience=270
    [/advancefrom]
#endif
    [resistance]
        fire=60
    [/resistance]
    cost=60
    usage=fighter
    description= _ "Tales are told of the mightiest warriors and generals, who, cursed with hate and stung by betrayal, have experimented with demonic magic and returned back to this world as Death Knights. Wielding the same weapons as in life, they command both fire and the Undead in their quest for revenge."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}+{SPECIAL_NOTES_MAGICAL}
    die_sound=lich-die.ogg
    [abilities]
        {ABILITY_LEADERSHIP}
        {ABILITY_SUBMERGE}
    [/abilities]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/undead/death-knight.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/undead/death-knight.png"
    [/portrait]
    [attack]
        name=battle axe
        description=_"battle axe"
        icon=attacks/battleaxe-undead.png
        type=blade
        range=melee
        damage=12
        number=4
    [/attack]
    [attack]
        name=fireball
        description=_"fireball"
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=11
        number=4
    [/attack]
    {DEFENSE_ANIM "units/undead/infernal-knight-defend-2.png" "units/undead/infernal-knight-defend-1.png" {SOUND_LIST:SKELETON_BIG_HIT}}
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL_XY 17 -22}
        start_time=-575
        [frame]
            image="units//undead/infernal-knight.png:50"
        [/frame]
        [frame]
            image="units//undead/infernal-knight-lead-1.png:100"
        [/frame]
        [frame]
            image="units//undead/infernal-knight-lead-[2,1].png:[150,75]"
            sound=fire.wav
        [/frame]
        [frame]
            image="units//undead/infernal-knight.png:75"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=battle axe
        [/filter_attack]
        [frame]
            begin=-300
            end=-250
            image="units/undead/infernal-knight.png"
            offset=0.0~0.1
        [/frame]
        [frame]
            begin=-250
            end=-200
            image="units/undead/infernal-knight-melee-attack-1.png"
            offset=0.1~0.15
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/undead/infernal-knight-melee-attack-2.png"
            offset=0.15~0.35
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=-25
                image="units/undead/infernal-knight-melee-attack-3.png"
                sound=axe.ogg
                offset=0.35~0.45
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=-25
                image="units/undead/infernal-knight-melee-attack-3.png"
                sound={SOUND_LIST:MISS}
                offset=0.35~0.45
            [/frame]
        [/else]
        [frame]
            begin=-25
            end=75
            image="units/undead/infernal-knight-melee-attack-4.png"
            offset=0.45~0.5
        [/frame]
        [frame]
            begin=75
            end=95
            image="units/undead/infernal-knight-melee-attack-5.png"
            offset=0.5
        [/frame]
        [frame]
            begin=95
            end=125
            image="units/undead/infernal-knight-melee-attack-5.png"
            offset=0.5~0.4
        [/frame]
        [frame]
            begin=125
            end=200
            image="units/undead/infernal-knight-melee-attack-6.png"
            offset=0.4~0.2
        [/frame]
        [frame]
            begin=150
            end=225
            image="units/undead/infernal-knight.png"
            offset=0.2~0.0
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/undead/infernal-knight.png units/undead/infernal-knight-lead-1.png units/undead/infernal-knight-lead-2.png units/undead/infernal-knight.png units/undead/infernal-knight-lead-1.png units/undead/infernal-knight-lead-2.png (
        [advancement]
            max_times=1
            id=firecast
            description= _ "casting random fire spells on enemies when attacking them with an axe"
            image=attacks/fireball.png
            strict_amla=yes
            require_amla="fireball,axe3"
            [effect]
                apply_to=attack
                increase_damage=-2
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_FIRECAST}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=axe
            description= _ "better at melee combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=axe2
            description= _ "better at melee combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=axe3
            description= _ "faster at melee combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe,axe2"
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=axe4
            description= _ "better at melee combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe,axe2,axe3"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=fireball
            description= _ "better with fireball"
            image=attacks/fireball.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=fireball
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=fireball2
            description= _ "faster with fireball"
            image=attacks/fireball.png
            strict_amla=yes
            require_amla="fireball"
            [effect]
                apply_to=attack
                name=fireball
                increase_damage=-2
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=fireball3
            description= _ "better with fireball"
            image=attacks/fireball.png
            strict_amla=yes
            require_amla="fireball2"
            [effect]
                apply_to=attack
                name=fireball
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=fireball3-explosion
            description= _ "dealing damage to multiple enemies with fireball"
            image=attacks/fireball.png
            strict_amla=yes
            require_amla="fireball3"
            [effect]
                apply_to=attack
                name=fireball
                increase_attacks=-1
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_EXPLOSIVE}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=leadership
            description= _ "a greater leader in battle (like a level 5 unit)"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL 5}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    [advancement]
        id=fire_resist
        max_times=10
        description= _ "10% more resistant to fire"
        image=attacks/claws-fire-elemental.png
        strict_amla=yes
        require_amla=""
        [effect]
        apply_to=resistance
        replace=false
        [resistance]
            fire=-10
        [/resistance]
        [/effect]
        {AMLA_DEFAULT_BONUSES}
    [/advancement]
        [advancement]
            max_times=3
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            {AMLA_DEFAULT_BONUSES}
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/advancement]
    ) "Infernal Knight"}
