#textdomain wesnoth-loti
[unit_type]
    id=Lich King
    name= _ "Lich King"
    race=undead
    image="units/undead/lich-king.png"
    profile=portraits/undead/death-knight.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    {LEADING_ANIM "units/undead/lich-king-lead-2.png" "units/undead/lich-king-lead-1.png" -17,-37}
    hitpoints=81
    movement_type=undeadfoot
    movement=5
    experience=150
    {QUANTITY experience 110 130 150}
    level=4
    alignment=chaotic
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Death Knight
        experience=270
    [/advancefrom]
    [advancefrom]
        unit=Death Knight LotI
        experience=270
    [/advancefrom]
    [advancefrom]
        unit=Lich
        experience=300
    [/advancefrom]
#endif
    cost=60
    usage=fighter
    description= _ "Lich Kings are powerful undead warriors with free will and magic powers. Unlike other undead, they are not obeying a master, they are raising and controlling their minions, and unlike liches, they are leading their minions into battles."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}+{SPECIAL_NOTES_MAGICAL}
    die_sound=lich-die.ogg
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_4}
        {ABILITY_SUBMERGE}
    [/abilities]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/undead/transparent/death-knight.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/undead/transparent/death-knight.png"
    [/portrait]
    [attack]
        name=battle axe
        description=_"battle axe"
        icon=attacks/battleaxe-undead.png
        type=blade
        range=melee
        damage=12
        number=4
    [/attack]
    [attack]
        name=chill tempest
        description=_"chill tempest"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=12
        number=3
        icon=attacks/iceball.png
    [/attack]
    [attack]
        name=shadow wave
        description=_"shadow wave"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=9
        number=3
        icon=attacks/dark-missile.png
    [/attack]
    {DEFENSE_ANIM "units/undead/lich-king-defend-2.png" "units/undead/lich-king-defend-1.png" {SOUND_LIST:SKELETON_BIG_HIT}}
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=0
            image="projectiles/darkmissile-n.png"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]

        [frame]
            begin=-300
            end=-150
            image="units/undead/lich-king-lead-1.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/undead/lich-king-lead-1.png"
            halo=halo/undead/black-magic-1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=0
                image="units/undead/lich-king-lead-2.png"
                sound=magic-dark-big.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=0
                image="units/undead/lich-king-lead-2.png"
                sound=magic-dark-big-miss.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/else]
        [frame]
            begin=0
            end=75
            image="units/undead/lich-king-lead-2.png"
            halo=halo/undead/black-magic-3.png
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/undead/lich-king-lead-2.png"
            halo=halo/undead/black-magic-4.png
        [/frame]

        [frame]
            begin=150
            end=200
            image="units/undead/lich-king-lead-1.png"
            halo=halo/undead/black-magic-5.png
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/undead/lich-king-lead-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=battle axe
        [/filter_attack]
        [frame]
            begin=-300
            end=-250
            image="units/undead/lich-king.png"
            offset=0.0~0.1
        [/frame]
        [frame]
            begin=-250
            end=-200
            image="units/undead/lich-king-melee-attack-1.png"
            offset=0.1~0.15
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/undead/lich-king-melee-attack-2.png"
            offset=0.15~0.35
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=-25
                image="units/undead/lich-king-melee-attack-3.png"
                sound=axe.ogg
                offset=0.35~0.45
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=-25
                image="units/undead/lich-king-melee-attack-3.png"
                sound={SOUND_LIST:MISS}
                offset=0.35~0.45
            [/frame]
        [/else]
        [frame]
            begin=-25
            end=75
            image="units/undead/lich-king-melee-attack-4.png"
            offset=0.45~0.5
        [/frame]
        [frame]
            begin=75
            end=95
            image="units/undead/lich-king-melee-attack-5.png"
            offset=0.5
        [/frame]
        [frame]
            begin=95
            end=125
            image="units/undead/lich-king-melee-attack-5.png"
            offset=0.5~0.4
        [/frame]
        [frame]
            begin=125
            end=200
            image="units/undead/lich-king-melee-attack-6.png"
            offset=0.4~0.2
        [/frame]
        [frame]
            begin=150
            end=225
            image="units/undead/lich-king.png"
            offset=0.2~0.0
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/undead/lich-king.png units/undead/lich-king-lead-1.png units/undead/lich-king-lead-2.png uunits/undead/lich-king.png units/undead/lich-king-lead-1.png units/undead/lich-king-lead-2.png (
        [advancement]
            max_times=1
            id=axe
            description= _ "better at melee combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=axe2
            description= _ "better at melee combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=axe3
            description= _ "faster at melee combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe,axe2"
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=axe4
            description= _ "better at melee combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe,axe2,axe3"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=doom
            description= _ "able to attack in a terrible way that lowers enemy resistance"
            image=attacks/axe-unholy.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=doom
                description= _ "doom"
                icon=attacks/axe-unholy.png
                range=melee
                defense_weight=0
                damage=-30
                number=-30
                clone_anim=yes
                [specials]
                    {WEAPON_SPECIAL_DOOM}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=doom2
            description= _ "crippling enemies better"
            image=attacks/axe-unholy.png
            strict_amla=yes
            require_amla="doom"
            [effect]
                apply_to=improve_bonus_attack
                name=doom
                increase_damage=15
                increase_attacks=5
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]

        [advancement]
            max_times=1
            id=magic
            description= _ "a better caster"
            image="attacks/dark-missile.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=ranged
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=magic-chill
            description= _ "casting chill tempests faster"
            image="attacks/iceball.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=chill tempest
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=magic-shadow
            description= _ "casting shadow waves faster"
            image="attacks/dark-missile.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=shadow wave
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=magic-chill2
            description= _ "a better caster of chill tempests"
            image="attacks/iceball.png"
            strict_amla=yes
            require_amla="magic-chill,magic"
            [effect]
                apply_to=attack
                name=chill tempest
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=magic-shadow2
            description= _ "a better caster of shadow waves"
            image="attacks/dark-missile.png"
            strict_amla=yes
            require_amla="magic-shadow,magic"
            [effect]
                apply_to=attack
                name=shadow wave
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=leadership
            description= _ "a greater leader in battle (like a level 5 unit)"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="axe"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_4}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_5}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            {AMLA_DEFAULT_BONUSES}
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/advancement]
    ) "Lich King"}
