#textdomain wesnoth-loti
[unit_type]
    id=Lunatic Knight
    name= _ "Lunatic Knight"
    race=human
    image="units/humans/lunatic-knight.png"
    profile="portraits/humans/lancer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
    movement_type=mounted
    movement=10
    experience=120
    {QUANTITY experience 80 100 120}
    level=3
    alignment=lawful
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Lancer
        experience=200
    [/advancefrom]
#endif
    undead_variation=mounted
    cost=60
    usage=fighter
    description= _ "Lunatic knights are ones of the most zealous warriors a warlord might employ. The reason why they fight is neither glory nor gold. They enjoy the thrill of battles, and that motivates them to join armed conflicts. In battle, they are feared adversaries, their fervour, speed and strength are a huge threat for anyone. They usually die before they realise that Lunatic Knights are not quite well protected, and can fall whenever their charge fails to defeat their target."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARGE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/lancer.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/lancer.png"
    [/portrait]
    die_sound=horse-die.ogg
    [attack]
        name=lance
        description=_"lance"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        range=melee
        damage=15
        number=3
    [/attack]
    [attack]
        name=lance
        description=_"lance"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_CHARGE}
            {WEAPON_SPECIAL_KNOCKBACK}
        [/specials]
        range=melee
        damage=14
        number=3
    [/attack]
    {DEFENSE_ANIM "units/humans/lunatic-knight-defend.png" "units/humans/lunatic-knight.png" {SOUND_LIST:HORSE_HIT} }
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/humans/lunatic-knight-moving.png"
        [/frame]
    [/movement_anim]
    [attack_anim]
        [filter_attack]
            name=lance
        [/filter_attack]
        [frame]
            begin=-250
            end=-225
            image="units/humans/lunatic-knight.png"
            sound=horse-canter.wav
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/humans/lunatic-knight-moving.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-150
                end=150
                image="units/humans/lunatic-knight-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-150
                end=150
                image="units/humans/lunatic-knight-attack.png"
                sound=spear.ogg
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/humans/lunatic-knight-moving.png"
        [/frame]
        [frame]
            begin=200
            end=225
            image="units/humans/lunatic-knight.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/humans/lunatic-knight.png units/humans/lunatic-knight-moving.png units/humans/lunatic-knight-defend.png units/humans/lunatic-knight.png units/humans/lunatic-knight-moving.png units/humans/lunatic-knight-defend.png (
        [advancement]
            max_times=1
            always_display=yes
            id=lance
            description= _ "striking better with lance"
            image=attacks/lance.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=lance
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=lance2
            description= _ "striking better with lance"
            image=attacks/lance.png
            strict_amla=yes
            require_amla="lance"
            [effect]
                apply_to=attack
                name=lance
                increase_damage=-3
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=lance3
            description= _ "charging more powerfully with lance (2.5 times more damage)"
            image=attacks/lance.png
            strict_amla=yes
            require_amla="lance,lance2"
            [effect]
                apply_to=attack
                name=lance
                remove_specials=charge
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_CHARGING 2.5}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=lance4
            description= _ "charging even more powerfully with the lance (3 times more damage)"
            image=attacks/lance.png
            strict_amla=yes
            require_amla="lance,lance2,lance3"
            [effect]
                apply_to=attack
                name=lance
                remove_specials=charge
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_CHARGING 3}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=lance5
            description= _ "striking even better with the lance"
            image=attacks/lance.png
            strict_amla=yes
            require_amla="lance,lance2"
            [effect]
                apply_to=attack
                name=lance
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=penetrate
            description= _ "able to move one hex after attacking an enemy"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_PENETRATE}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=penetrate2
            description= _ "able to move more hexes after attacking an enemy"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla="penetrate"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_PENETRATE}
                [/abilities]
            [/effect]
            [effect]
                apply_to=attack
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_HIT_AND_RUN}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better protected from physical blows (2% better resistances; +3% resist pierce)"
            image=icons/steel_armor.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-2
                    pierce=-3
                    impact=-2
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Lunatic Knight"}
