#textdomain wesnoth-loti
[unit_type]
    #He just can advance to Sergeant
    id=Peasant_Mario
#ifndef MULTIPLAYER
    advances_to=Spearman,Bowman,Sergeant
#endif
    [base_unit]
        id=Peasant
    [/base_unit]
    cost=9
    hide_help=true
    do_not_list=yes
[/unit_type]
