#textdomain wesnoth-loti
[unit_type]
    id=Merchant
    name= _ "Merchant"
    race=human
    image="merchant.png"
    hitpoints=23
    movement_type=smallfoot
    movement=6
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=35
    usage=fighter
    hide_help=true
    do_not_list=yes
    description= _ "Merchants are masters of buying items from people who do not need them, transport them to another location and sell them to people who need them and are willing to pay more. Those who have unneeded items are happy to get money from them, those who need items are happy to buy them, so everybody likes merchants."
    [attack]
        name=cargo throw
        description=_"cargo throw"
        icon=attacks/rock_thrown.png
        type=impact
        range=ranged
        damage=8
        number=3
    [/attack]
[/unit_type]
