#textdomain wesnoth-loti
[unit_type]
    id=Meteor
    name= _ "Meteor"
    race=mechanical
    image="misc/blank-hex.png"
    hitpoints=10
    movement_type=none
    movement=0
    experience=100000
    level=1
    alignment=neutral
    advances_to=null
    cost=30
    usage=fighter
    description= _ "Meteoroids are huge rocks falling from the sky, destroying anything they fall on. The fires they are wrapped in as they fly through the air are called meteor. They usually come also with a huge shockwave that can be more damaging than the fire."
    die_sound=fire.ogg
    [death]
        start_time=0
        [frame]
            duration=100
            halo="halo/meteor-1.png"
            offset=0
        [/frame]
        [frame]
            duration=100
            halo="halo/meteor-2.png"
            offset=0
        [/frame]
        [frame]
            duration=100
            halo="halo/meteor-3.png"
            offset=0
        [/frame]
        [frame]
            duration=100
            halo="halo/meteor-4.png"
            offset=0
        [/frame]
        [frame]
            duration=100
            halo="halo/meteor-5.png"
            offset=0
        [/frame]
        [frame]
            duration=100
            halo="halo/meteor-6.png"
            offset=0
        [/frame]
        [frame]
            duration=100
            halo="halo/meteor-7.png"
            offset=0
            halo_mod="~O(80%)"
        [/frame]
        [frame]
            duration=100
            halo="halo/meteor-8.png"
            offset=0
            halo_mod="~O(60%)"
        [/frame]
        [frame]
            duration=100
            halo="halo/meteor-9.png"
            offset=0
            halo_mod="~O(30%)"
        [/frame]
    [/death]
[/unit_type]
