#textdomain wesnoth-loti
[unit_type]
    id=Monstrosity
    name= _ "Monstrosity"
    race=undead
    image="units/undead/monstrosity.png"
    {TRAIT_FEARLESS_MUSTHAVE}
    hitpoints=42
    movement_type=fly
    movement=5
    level=2
    experience=80
    {QUANTITY experience 70 75 80}
    alignment=chaotic
    advances_to=null
    cost=26
    usage=fighter
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Soulless
        experience=90
    [/advancefrom]
#endif
    [abilities]
        {ABILITY_DESPAIR 10}
    [/abilities]
    description= _ "When a Walking Corpse kills a victim and reanimates it to unlife, it also drains a part of its soul. This rarely has an effect, but sometimes, when much of the flesh has rotten away already, this accumulated soul energy reshapes the corpse into a horrid, tentaculous form with bones protruding from it that floats around, scaring everything."+{SPECIAL_NOTES}+{SPECIAL_NOTES_PLAGUE}
    {DEFENSE_ANIM "units/undead/monstrosity-defend-2.png" "units/undead/monstrosity-defend-1.png" {SOUND_LIST:ZOMBIE_HIT} }
    [resistance]
        arcane=140
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=70
    [/resistance]
    [attack]
        name=touch
        description=_"touch"
        icon=attacks/tentacle.png
        type=impact
        range=melee
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        [frame]
            begin=-250
            end=-150
            image="units/undead/monstrosity-attack-1.png"
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/undead/monstrosity-attack-2.png"
        [/frame]
        [frame]
            begin=-50
            end=50
            image="units/undead/monstrosity-attack-3.png"
            sound=zombie-attack.wav
        [/frame]
        [frame]
            begin=50
            end=150
            image="units/undead/monstrosity-attack-2.png"
        [/frame]
        [frame]
            begin=150
            end=250
            image="units/undead/monstrosity-attack-1.png"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        [frame]
            duration=200
            image="units/undead/monstrosity.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/monstrosity-float-1.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/monstrosity-float-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/monstrosity-float-3.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/monstrosity-float-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/monstrosity-float-1.png"
        [/frame]
    [/standing_anim]
    {GENERIC_AMLA units/undead/monstrosity.png units/undead/monstrosity-defend-1.png units/undead/monstrosity-defend-2.png units/undead/monstrosity.png units/undead/monstrosity-defend-1.png units/undead/monstrosity-defend-2.png (
        [advancement]
            max_times=10
            id=melee
            description= _ "hitting harder"
            image="attacks/tentacle.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            id=melee-speed
            description= _ "hitting faster"
            image="attacks/tentacle.png"
            strict_amla=yes
            require_amla="melee"
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=soulless
            description= _ "transforming enemies into Soulless also with the plague"
            image="attacks/tentacle.png"
            strict_amla=yes
            require_amla="melee,melee-speed"
            [effect]
                apply_to=attack
                range=melee
                remove_specials=plague
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_PLAGUE_TYPE_LOTI Soulless _"Soulless"}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=leeching
            description= _ "leeching some life from targets"
            image="attacks/baneblade.png"
            strict_amla=yes
            require_amla="melee,melee,melee,melee"
            [effect]
                apply_to=attack
                range=melee
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_LEECH}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=haunt
            description= _ "spreading a stronger feeling of dread"
            image=attacks/staff-plague.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_DESPAIR 10}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_DESPAIR 15}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=haunt2
            description= _ "spreading a stronger feeling of dread"
            image=attacks/staff-plague.png
            strict_amla=yes
            require_amla="haunt"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_DESPAIR 15}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_DESPAIR 20}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=haunt3
            description= _ "spreading a stronger feeling of dread"
            image=attacks/staff-plague.png
            strict_amla=yes
            require_amla="haunt,haunt2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_DESPAIR 20}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_DESPAIR 25}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=dodge
            description= _ "better at dodging enemy attacks (lowering the chance to be hit by 2%)"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-2
                    castle=-2
                    sand=-2
                    village=-2
                    flat=-2
                    hills=-2
                    mountains=-2
                    cave=-2
                    shallow_water=-2
                    coastal_reef=-2
                    swamp_water=-2
                    forest=-2
                    fungus=-2
                    deep_water=-2
                    unwalkable=-2
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Monstrosity"}
