#textdomain wesnoth-loti
[unit_type]
    id=Orcish Nightblade loti
    name= _ "Orcish Nightblade"
    race=orc
    image="units/orcs/nightblade.png"
    profile="portraits/orcs/slayer.png"
    hitpoints=48
    movement_type=elusivefoot
    [resistance]
        arcane=100
    [/resistance]
    movement=6
    experience=110
    {QUANTITY experience 70 90 110}
    level=3
    alignment=chaotic
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Orcish Slayer
        experience=220
    [/advancefrom]
#endif
    cost=43
    usage=mixed fighter
#textdomain wesnoth-units
    description= _ "A blade in the dark, dripping with poison — for many orcish warlords the last thing they see. Due to their high fees, orcish nightblades specialize in “resolving internal conflicts” and are rarely seen on the battlefield. Practice makes perfect, and few can rival them in that regard: they have long lost count of their victims, though that admittedly isn’t too hard for an orc with only ten fingers."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_POISON}
    die_sound={SOUND_LIST:ORC_DIE}
#textdomain wesnoth-loti
    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws.png
        type=blade
        range=melee
        damage=12
        number=2
    [/attack]
#textdomain wesnoth-units
    [attack]
        name=kick
        description=_"kick"
        icon=attacks/kick.png
        type=impact
        range=melee
        damage=11
        number=2
    [/attack]
    [attack]
        name=throwing knives
        description=_"throwing knives"
        icon=attacks/dagger-thrown-poison-orcish.png
        type=blade
        range=ranged
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
#textdomain wesnoth-units

    {DEFENSE_ANIM "units/orcs/nightblade-defend-se2-2.png" "units/orcs/nightblade-defend-se2-1.png" {SOUND_LIST:ORC_SMALL_HIT}}

    [defend]
        start_time=-150
        [if]
            hits=hit
            sound_start_time=-25
            [sound_frame]
                sound={SOUND_LIST:ORC_SMALL_HIT}
            [/sound_frame]
        [/if]
        [frame]
            image="units/orcs/nightblade-defend-se1-[1~5].png:100"
        [/frame]
    [/defend]

    [attack_anim]
        [filter_attack]
            name=throwing knives
        [/filter_attack]

        start_time=-350
        missile_start_time=-100

        [missile_frame]
            duration=100
            image=projectiles/dagger-n.png
            image_diagonal=projectiles/dagger-ne.png
        [/missile_frame]

        [frame]
            image="units/orcs/nightblade-throw-se[1~9].png:100"
        [/frame]

        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]

        start_time=-550
        [frame]
            image="units/orcs/nightblade-attack-se[1~9].png:100"
            #   offset=0.0~0.5:500,0.5~0.0:400
        [/frame]

        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=kick
        [/filter_attack]

        start_time=-500
        [frame]
            image=units/orcs/nightblade-kick-se[1~12].png:[100,150*2,50*4,100*5]
            offset=0.0~0.1:400,0.1~0.3:100,0.3~0.4:400,0.4~0.0:200
        [/frame]

        {SOUND:HIT_AND_MISS club.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]

    {GENERIC_AMLA units/orcs/nightblade-se.png units/orcs/nightblade-defend-se1-4.png units/orcs/nightblade-defend-se1-3.png units/orcs/nightblade-se.png units/orcs/nightblade-defend-se1-4.png units/orcs/nightblade-defend-se1-3.png (
        [advancement]
            max_times=10
            id=claws
            description= _ "clawing better"
            image="attacks/claws.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=claws
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            id=claws2
            description= _ "clawing faster"
            image="attacks/claws.png"
            strict_amla=yes
            require_amla="claws"
            [effect]
                apply_to=attack
                name=claws
                increase_damage=-2
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=claws3
            description= _ "clawing with backstab"
            image="attacks/claws.png"
            strict_amla=yes
            require_amla="claws,claws2"
            [effect]
                apply_to=attack
                name=claws
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_BACKSTAB}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=kick
            description= _ "kicking better"
            image="attacks/kick.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=kick
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=kick2
            description= _ "kicking faster"
            image="attacks/kick.png"
            strict_amla=yes
            require_amla="kick"
            [effect]
                apply_to=attack
                name=kick
                increase_damage=-1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=kick3
            description= _ "throwing enemies back with kicks"
            image="attacks/kick.png"
            strict_amla=yes
            require_amla="kick,kick2"
            [effect]
                apply_to=attack
                name=kick
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_KNOCKBACK}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=kick4
            description= _ "throwing many enemies back with kicks"
            image="attacks/kick.png"
            strict_amla=yes
            require_amla="kick,kick2,kick3"
            [effect]
                apply_to=attack
                name=kick
		remove_specials=knockback
                increase_attacks=-1
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_SHOCKWAVE}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            id=knife
            description= _ "faster with knives"
            image=attacks/dagger-thrown-poison-orcish.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=throwing knives
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=knife2
            description= _ "using fire-enchanted knives"
            image=attacks/dagger-thrown-poison-orcish.png
            strict_amla=yes
            require_amla="knife"
            [effect]
                apply_to=attack
                name=throwing knives
                set_type=fire
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=knife2
            description= _ "using cold-enchanted knives"
            image=attacks/dagger-thrown-poison-orcish.png
            strict_amla=yes
            require_amla="knife"
            [effect]
                apply_to=attack
                name=throwing knives
                set_type=cold
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=knife2
            description= _ "using arcane-enchanted knives"
            image=attacks/dagger-thrown-poison-orcish.png
            strict_amla=yes
            require_amla="knife"
            [effect]
                apply_to=attack
                name=throwing knives
                set_type=arcane
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=knife3
            description= _ "better with knives"
            image=attacks/dagger-thrown-poison-orcish.png
            strict_amla=yes
            require_amla="knife"
            [effect]
                apply_to=attack
                name=throwing knives
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=knife-berserk
            description= _ "using magically returning knives (new berserk ranged attack)"
            image=attacks/dagger-thrown-poison-orcish.png
            strict_amla=yes
            require_amla="knife2"
            [effect]
                apply_to=bonus_attack
                name=throwing berserk
                description= _ "throwing berserk"
                icon=attacks/dagger-thrown-poison-orcish.png
                range=ranged
                defense_weight=0
                clone_anim=yes
                force_original_attack=throwing knives
                [specials]
                    {WEAPON_SPECIAL_LESSER_BERSERK 3}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=nightstalk
            description= _ "able to move at night without being seen on useful terrains"
            image=attacks/dark-missile.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LESSER_NIGHTSTALK}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=nightstalk2
            description= _ "able to move at night without being seen on all accessible terrains"
            image=attacks/dark-missile.png
            strict_amla=yes
            require_amla="nightstalk"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LESSER_NIGHTSTALK}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_NIGHTSTALK}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=block
            description= _ "better at defending"
            image="attacks/dagger-human.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-3
                    shallow_water=-3
                    reef=-3
                    flat=-3
                    castle=-3
                    village=-3
                    forest=-3
                    cave=-3
                    hills=-3
                    mountains=-3
                    fungus=-3
                    swamp_water=-3
                    sand=-3
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=block2
            description= _ "better at defending"
            image="attacks/dagger-human.png"
            strict_amla=yes
            require_amla="block"
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-2
                    shallow_water=-2
                    reef=-2
                    flat=-2
                    castle=-2
                    village=-2
                    forest=-2
                    cave=-2
                    hills=-2
                    mountains=-2
                    fungus=-2
                    swamp_water=-2
                    sand=-2
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=block3
            description= _ "better at defending"
            image="attacks/dagger-human.png"
            strict_amla=yes
            require_amla="block,block2"
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-1
                    shallow_water=-1
                    reef=-1
                    flat=-1
                    castle=-1
                    village=-1
                    forest=-1
                    cave=-1
                    hills=-1
                    mountains=-1
                    fungus=-1
                    swamp_water=-1
                    sand=-1
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Orcish Nightblade loti"}
