#textdomain wesnoth-loti
[unit_type]
    id=Orcish Sovereign LotI
    advances_to=Orcish Warmonger
    [base_unit]
        id=Orcish Warmonger base
    [/base_unit]
    hide_help=true
    do_not_list=yes
[/unit_type]

[unit_type]
    id=Orcish Warmonger base
    name= _ "Orcish Warmonger"
    race=orc
    image="units/orcs/warmonger.png"
    profile="portraits/orcs/sovereign.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=90
    movement_type=orcishfoot
    movement=6
    experience=140
    {QUANTITY experience 100 120 140}
    hide_help=true
    do_not_list=yes
    level=4
    alignment=chaotic
    advances_to=null
    cost=50
    usage=mixed fighter
    description= _ "The mightiest and most zealous of the Orcish Warlords will eventually start working on increasing the number of wars in the world. These warmongers are battle-hardened and battle-loving fighters, whose only desire is to fight until the world's end."
    die_sound={SOUND_LIST:ORC_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/orcs/transparent/sovereign.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/orcs/transparent/sovereign.png"
    [/portrait]
    {DEFENSE_ANIM_RANGE "units/orcs/warmonger-defend-2.png" "units/orcs/warmonger-defend-1.png" {SOUND_LIST:ORC_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/orcs/warmonger-bow-defend.png" "units/orcs/warmonger.png" {SOUND_LIST:ORC_HIT} ranged}
    [attack]
        name=greatsword
        description=_"greatsword"
        icon=attacks/greatsword-orcish.png
        type=blade
        range=melee
        damage=16
        number=3
        [specials]
            {WEAPON_SPECIAL_MAYHEM}
        [/specials]
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        icon=attacks/bow-orcish.png
        type=pierce
        range=ranged
        damage=8
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        start_time=-445
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            duration=65
            image="units/orcs/warmonger-bow.png"
        [/frame]
        [frame]
            duration=75
            image="units/orcs/warmonger-bow-attack-1.png"
        [/frame]
        [frame]
            duration=75
            image="units/orcs/warmonger-bow-attack-2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/orcs/warmonger-bow-attack-3.png"
                sound=bow-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/orcs/warmonger-bow-attack-3.png"
                sound=bow.ogg
            [/frame]
        [/else]
        [frame]
            duration=130
            image="units/orcs/warmonger-bow-attack-4.png"
        [/frame]
        [frame]
            duration=65
            image="units/orcs/warmonger-bow-attack-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=greatsword
        [/filter_attack]

        offset=0.0~0.3,0.3~0.45,0.45~0.3,0.3~0.0
        start_time=-300
        [frame]
            duration=50
            image="units/orcs/warmonger.png"
        [/frame]
        [frame]
            duration=100
            image="units/orcs/warmonger-attack-sword-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/orcs/warmonger-attack-sword-2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=75
                image="units/orcs/warmonger-attack-sword-3.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=75
                image="units/orcs/warmonger-attack-sword-3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/orcs/warmonger-attack-sword-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/orcs/warmonger-attack-sword-5.png"
        [/frame]
        [frame]
            duration=75
            image="units/orcs/warmonger-attack-sword-6.png"
        [/frame]
        [frame]
            duration=50
            image="units/orcs/warmonger.png"
        [/frame]
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Orcish Warmonger
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Orcish Warlord
        experience=350
    [/advancefrom]
#endif
    [base_unit]
        id=Orcish Warmonger base
    [/base_unit]
    hide_help=false
    do_not_list=no
    {GENERIC_AMLA units/orcs/warmonger.png units/orcs/warmonger-defend-1.png units/orcs/warmonger-defend-2.png units/orcs/warmonger.png units/orcs/warmonger-defend-1.png units/orcs/warmonger-defend-2.png (
        [advancement]
            max_times=1
            always_display=yes
            id=sword
            description= _ "striking better with sword"
            image=attacks/greatsword-orcish.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=greatsword
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword2
            description= _ "striking faster with sword"
            image=attacks/greatsword-orcish.png
            strict_amla=yes
            require_amla="sword"
            [effect]
                apply_to=attack
                name=greatsword
                increase_damage=-2
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword2-horror
            description= _ "attacking in a scary way"
            image=attacks/greatsword-orcish.png
            strict_amla=yes
            require_amla="sword,sword2"
            [effect]
                apply_to=attack
                name=greatsword
                increase_damage=-1
                remove_specials=horrid,horrid_dummy
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_HORRID}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=sword3
            description= _ "striking better with sword"
            image=attacks/greatsword-orcish.png
            strict_amla=yes
            require_amla="sword2,sword"
            [effect]
                apply_to=attack
                name=greatsword
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=doom
            description= _ "able to attack in a terrible way that lowers enemy resistance"
            image=attacks/axe-unholy.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=doom
                description= _ "doom"
                icon=attacks/greatsword-orcish.png
                range=melee
                defense_weight=0
                damage=-30
                number=-30
                clone_anim=yes
                [specials]
                    {WEAPON_SPECIAL_DOOM}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=doom2
            description= _ "crippling enemies better"
            image=attacks/axe-unholy.png
            strict_amla=yes
            require_amla="doom"
            [effect]
                apply_to=improve_bonus_attack
                name=doom
                increase_damage=15
                increase_attacks=5
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow
            description= _ "better with bow"
            image="attacks/bow-orcish.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=bow
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow2
            description= _ "better with bow"
            image="attacks/bow-orcish.png"
            strict_amla=yes
            require_amla="bow"
            [effect]
                apply_to=attack
                name=bow
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow-poison
            description= _ "shooting poisonous arrows"
            image="attacks/bow-orcish.png"
            strict_amla=yes
            require_amla="bow2,bow"
            [effect]
                apply_to=attack
                name=bow
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_POISON}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=bow3
            description= _ "better with bow"
            image="attacks/bow-orcish.png"
            strict_amla=yes
            require_amla="bow2,bow"
            [effect]
                apply_to=attack
                name=bow
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership
            description= _ "able to lead allies into battle (like a level 2 unit)"
            image=attacks/fist.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_2}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership2
            description= _ "a better leader (like a level 3 unit)"
            image=attacks/fist.png
            strict_amla=yes
            require_amla="leadership"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_2}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_3}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership3
            description= _ "a better leader (like a level 4 unit)"
            image=attacks/fist.png
            strict_amla=yes
            require_amla="leadership2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_3}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL_4}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership2_bloodthirst
            description= _ "able to cause nearby allies to attack like bloodthirsty fanatics"
            image=attacks/fist.png
            strict_amla=yes
            require_amla="leadership2"
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_CHARGE_LEADERSHIP}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=evisceration
            description= _ "better at gruesome things that arouse nearby allies"
            image=attacks/dagger-curved.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LESSER_EVISCERATION}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=evisceration2
            description= _ "better at gruesome things that arouse nearby allies"
            image=attacks/dagger-curved.png
            strict_amla=yes
            require_amla="evisceration"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LESSER_EVISCERATION}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_EVISCERATION}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=evisceration3
            description= _ "better at gruesome things that arouse nearby allies"
            image=attacks/dagger-curved.png
            strict_amla=yes
            require_amla="evisceration2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_EVISCERATION}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_GREATER_EVISCERATION}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better protected from physical blows (3% better resistances)"
            image=icons/steel_armor.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-3
                    pierce=-3
                    impact=-3
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Orcish Warmonger"}
