#textdomain wesnoth-loti
[unit_type]
    id=Phantom
    name= _ "Phantom"
    race=undead
    image="units/undead/phantom.png"
    profile="portraits/undead/deathblade.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=undeadfoot
    movement=6
    experience=100
    {QUANTITY experience 80 90 100}
    level=3
    alignment=chaotic
    advances_to=null
    cost=43
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Deathblade
        experience=120
    [/advancefrom]
#endif
    [movement_costs]
        deep_water=2
        shallow_water=2
        reef=2
        swamp_water=1
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=1
        village=1
        castle=1
        cave=1
        frozen=1
        unwalkable=1
        fungus=1
    [/movement_costs]

    [defense]
        {FLY_DEFENSE 50}
        cave=50
        fungus=50
    [/defense]
    usage=fighter
    description= _ "Undead lords sometimes figure out a way to make their deathblades fully use their potiential. They remove their legs, replacing them with a ghostly tail allowing them to float and spin as they want. They also add them an additional pair of arms, to make these minions more destructive. Phantoms are, however, quite vulnerable."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}
    die_sound=skeleton-big-die.ogg
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/undead/transparent/deathblade.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/undead/transparent/deathblade.png"
    [/portrait]
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [resistance]
        blade=60
        impact=120
        pierce=40
    [/resistance]
    [attack]
        name=axe
        description=_"axe"
        icon=attacks/axe-deathblade.png
        type=blade
        range=melee
        damage=10
        number=5
    [/attack]
    {DEFENSE_ANIM "units/undead/phantom-defend-2.png" "units/undead/phantom-defend-1.png" {SOUND_LIST:SKELETON_BIG_HIT} }
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/undead/phantom-attack1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/undead/phantom-attack2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/undead/phantom-attack2.png"
                sound=axe.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/undead/phantom-attack3.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/undead/phantom-defend-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=whirlwind-axe
        [/filter_attack]
        [frame]
            begin=-300
            end=-250
            image="units/undead/phantom-whirlwind1.png"
        [/frame]
        [frame]
            begin=-250
            end=-200
            image="units/undead/phantom-whirlwind1.png"
        [/frame]
        [frame]
            begin=-200
            end=-150
            image="units/undead/phantom-whirlwind3.png"
        [/frame]
        [frame]
            begin=-150
            end=-100
            image="units/undead/phantom-whirlwind1.png"
        [/frame]
        [frame]
            begin=-100
            end=-50
            image="units/undead/phantom-whirlwind1.png"
        [/frame]
        [frame]
            begin=-50
            end=0
            image="units/undead/phantom-whirlwind3.png"
        [/frame]
        [frame]
            begin=0
            end=50
            image="units/undead/phantom-whirlwind1.png"
        [/frame]
        [frame]
            begin=50
            end=100
            image="units/undead/phantom-whirlwind1.png"
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/undead/phantom-whirlwind3.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/undead/phantom-whirlwind1.png"
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/undead/phantom-whirlwind1.png"
        [/frame]
        [frame]
            begin=250
            end=300
            image="units/undead/phantom-whirlwind3.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/undead/phantom.png units/undead/phantom-attack1.png units/undead/phantom-defend-1.png units/undead/phantom.png units/undead/phantom-attack1.png units/undead/phantom-defend-1.png (
        [advancement]
            max_times=1
            id=axe
            description= _ "better at axe combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=axe
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=axe2
            description= _ "better at axe combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe"
            [effect]
                apply_to=attack
                name=axe
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=axe3
            description= _ "better at axe combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe,axe2"
            [effect]
                apply_to=attack
                name=axe
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=axe4
            description= _ "better at axe combat"
            image="attacks/battleaxe-undead.png"
            strict_amla=yes
            require_amla="axe,axe2,axe3"
            [effect]
                apply_to=attack
                name=axe
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=whirlwind
            description= _ "able to perform a whirlwind attack"
            image=attacks/axe-deathblade.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=whirlwind-axe
                description= _ "whirlwind"
                icon=attacks/axe-deathblade.png
                range=melee
                defense_weight=0
                damage=-30
                number=-30
                [specials]
                    {WEAPON_SPECIAL_WHIRLWIND}
                    {WEAPON_SPECIAL_MAGICAL}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=4
            always_display=yes
            id=whirlwind2
            description= _ "whirling better"
            image=attacks/axe-deathblade.png
            strict_amla=yes
            require_amla="whirlwind"
            [effect]
                apply_to=improve_bonus_attack
                name=whirlwind-axe
                increase_damage=10
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=dodge
            description= _ "more nimble (lowering the chance to be hit by 4%)"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-4
                    castle=-4
                    sand=-4
                    village=-4
                    flat=-4
                    hills=-4
                    mountains=-4
                    cave=-4
                    shallow_water=-4
                    coastal_reef=-4
                    swamp_water=-4
                    forest=-4
                    fungus=-4
                    deep_water=-4
                    unwalkable=-4
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Phantom"}
