#textdomain wesnoth-loti
[unit_type]
    id=Phantom of the Opera
    name= _"Phantom of the Opera"
    advances_to=null
    [base_unit]
        id=Phantom
    [/base_unit]
    cost=55
    hitpoints=68
    level=5
    hide_help=true
    do_not_list=yes
    [abilities]
        {ABILITY_NIGHTSTALK}
        {ABILITY_DARKENS}
    [/abilities]
[/unit_type]
