#textdomain wesnoth-loti
[unit_type]
    id=Powerslave
    name= _"Powerslave"
    advances_to=null
        [base_unit]
        id=Blackguard
    [/base_unit]
    cost=55
    hide_help=true
    do_not_list=yes
    {AMLA_DEFAULT}
[/unit_type]

