#textdomain wesnoth-loti

[unit_type]
    id=Power Generator
    name= _ "Power Generator"
    race=monster
    image="units/enemies/core-compact.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=80
    movement_type=smallfoot
    {TRAIT_MECHANICAL}
    [movement_costs]
        flat={UNREACHABLE}
        frozen={UNREACHABLE}
    [/movement_costs]
    [resistance]
        blade=40
        pierce=40
        impact=50
        fire=70
        cold=70
        arcane=20
    [/resistance]
    movement=7
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    cost=60
    usage=scout
    hide_help=yes
    do_not_list=yes
    description= _ "High amounts of an unknown kind energy are created in this machine, and used in an unknown way somewhere else. You have pretty much no idea what this thing is meant to do. The light it creates seems to harm everyone nearby."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ILLUMINATES}+{SPECIAL_NOTES_MAGICAL}
    [abilities]
        {ABILITY_ILLUMINATES}
        {ABILITY_DEATHAURA 16}
    [/abilities]
    [attack]
        name=lightning
        description=_"lightning"
        icon=attacks/lightning.png
        type=fire
        range=ranged
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=lightning
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=0
            image="projectiles/shockmissile-n.png"
            image_diagonal="projectiles/shockmissile-ne.png"
        [/missile_frame]
        [frame]
            begin=-300
            end=-200
            image="units/enemies/core-compact.png"
            halo=halo/undead/black-magic-1.png
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/enemies/core-compact.png"
                sound=magic-dark-big-miss.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/enemies/core-compact.png"
                sound=magic-dark-big.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=0
            image="units/enemies/core-compact.png"
            halo=halo/undead/black-magic-3.png
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/enemies/core-compact.png"
            halo=halo/undead/black-magic-4.png
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/enemies/core-compact.png"
            halo=halo/undead/black-magic-5.png
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/enemies/core-compact.png"
        [/frame]
    [/attack_anim]

    [standing_anim]
        start_time=-250
        [frame]
            duration=25
            image="units/enemies/core-compact.png"
            halo=halo/lightning-bolt-1-1.png~FL(vert)
            halo_y=-125
            #         sound=lightning.ogg		#Better no sound, it would be annoying
        [/frame]
        [frame]
            duration=25
            halo=halo/lightning-bolt-1-2.png~FL(vert)
            halo_y=-125
            image="units/enemies/core-compact.png"
            #         sound=lightning.ogg		#Better no sound, it would be annoying
        [/frame]
        [frame]
            duration=25
            halo=halo/lightning-bolt-1-3.png~FL(vert)
            halo_y=-125
            image="units/enemies/core-compact.png"
            #         sound=lightning.ogg		#Better no sound, it would be annoying
        [/frame]
        [frame]
            duration=25
            halo=halo/lightning-bolt-1-4.png~FL(vert)
            halo_y=-125
            image="units/enemies/core-compact.png"
            #         sound=lightning.ogg		#Better no sound, it would be annoying
        [/frame]
        [frame]
            duration=25
            image="units/enemies/core-compact.png"
            halo=halo/lightning-bolt-2-1.png~FL(vert)
            halo_y=-125
            #         sound=lightning.ogg		#Better no sound, it would be annoying
        [/frame]
        [frame]
            duration=25
            halo=halo/lightning-bolt-2-2.png~FL(vert)
            halo_y=-125
            image="units/enemies/core-compact.png"
            #         sound=lightning.ogg		#Better no sound, it would be annoying
        [/frame]
        [frame]
            duration=25
            halo=halo/lightning-bolt-2-3.png~FL(vert)
            halo_y=-125
            image="units/enemies/core-compact.png"
            #         sound=lightning.ogg		#Better no sound, it would be annoying
        [/frame]
        [frame]
            duration=25
            halo=halo/lightning-bolt-2-4.png~FL(vert)
            halo_y=-125
            image="units/enemies/core-compact.png"
            #         sound=lightning.ogg		#Better no sound, it would be annoying
        [/frame]
        [frame]
            duration=25
            image="units/enemies/core-compact.png"
            halo=halo/lightning-bolt-3-1.png~FL(vert)
            halo_y=-125
            #         sound=lightning.ogg		#Better no sound, it would be annoying
        [/frame]
        [frame]
            duration=25
            halo=halo/lightning-bolt-3-2.png~FL(vert)
            halo_y=-125
            image="units/enemies/core-compact.png"
            #         sound=lightning.ogg		#Better no sound, it would be annoying
        [/frame]
        [frame]
            duration=25
            halo=halo/lightning-bolt-3-3.png~FL(vert)
            halo_y=-125
            image="units/enemies/core-compact.png"
            #         sound=lightning.ogg		#Better no sound, it would be annoying
        [/frame]
        [frame]
            duration=25
            halo=halo/lightning-bolt-3-4.png~FL(vert)
            halo_y=-125
            image="units/enemies/core-compact.png"
            #         sound=lightning.ogg		#Better no sound, it would be annoying
        [/frame]
    [/standing_anim]
[/unit_type]

[unit_type]
    id=Machine Fabricator
    name= _ "Machine Fabricator"
    [base_unit]
        id=Power Generator
    [/base_unit]
    hitpoints=120
    level=5
    description= _ "This dreadful machine is spitting mechanic monsters all the time. It should be destroyed as soon as possible, to prevent it from making even more monsters."
    [abilities]
        {ABILITY_DEATHAURA 16}
    [/abilities]
    [attack]
        name=lightning
        description=_"lightning"
        icon=attacks/lightning.png
        type=fire
        range=ranged
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
[/unit_type]

[unit_type]
    id=Master Fabricator
    name= _ "Master Fabricator"
    #It will be coloured by an event
    [base_unit]
        id=Power Generator
    [/base_unit]
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    hitpoints=300
    #Its main power is be summoning
    level=10
    [attack]
        name=lightning
        description=_"lightning"
        icon=attacks/lightning.png
        type=fire
        range=ranged
        damage=14
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
[/unit_type]
