#textdomain wesnoth-loti
[unit_type]
    id=Prophet of Disaster
    name= _"Prophet of Disaster"
    advances_to=null
    [base_unit]
        id=Prophet
    [/base_unit]
    cost=55
    hide_help=true
    do_not_list=yes
    gender=male
    alignment=chaotic
    generate_name=yes
    level=5
    {AMLA_DEFAULT}
    [abilities]
        {ABILITY_DARKENS}
    [/abilities]
    [attack]
        name=lance
        description=_"lance"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        range=melee
        damage=16
        {QUANTITY damage 16 20 24}
        number=2
        {QUANTITY number 2 3 4}
    [/attack]
[/unit_type]

