#textdomain wesnoth-loti
[unit_type]
    id=Rabid Icemonax
    name= _"Rabid Icemonax"
    [base_unit]
        id=Great Icemonax
    [/base_unit]
    level=4
    hitpoints=88
    cost=44
    experience=150
    advances_to=null
#ifdef HARD
    [object]
                [effect]
                    apply_to=status
                    add=unslowable
                [/effect]
    [/object]
#endif

    [resistance]  
        cold=20
        {QUANTITY cold 60 40 20}
        arcane=40 
        {QUANTITY arcane 100 60 40}
    [/resistance]
    [defense]
        frozen=20
        {QUANTITY frozen 60 40 20}
    [/defense]

    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=11
        number=5
        [specials]
            {WEAPON_SPECIAL_BERSERK}
#ifdef HARD
            {WEAPON_SPECIAL_SLOW}
#endif
        [/specials]
    [/attack]
    [attack]
        name=bite
        description=_"bite"
        icon=attacks/fangs-rodent.png~CS(-20,-20,50)~BLIT(attacks/blank-border.png)
        type=cold
        range=melee
        damage=15
        number=3
    [/attack]
    [attack]
        name=tail
        description=_"tail"
        icon=attacks/tail-monax.png
        type=impact
        range=melee
        damage=23
        number=2
    [/attack]
    [attack]
        name=spit
        description=_"spit"
        icon=attacks/ice-blast.png
        type=cold
        range=ranged
        damage=10
        number=4
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_SLOW}
#ifdef HARD
            {WEAPON_SPECIAL_EXPLOSIVE_SLOW}
#endif
        [/specials]
    [/attack]
[/unit_type]
