#textdomain wesnoth-loti
[unit_type]
    id=Reaper
    name= _ "Reaper"
    race=undead
    image="units/undead/reaper.png"
    profile=portraits/undead/spectre.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=43
    movement_type=undeadspirit
    movement=7
    experience=140
    {QUANTITY experience 100 120 140}
    level=4
    alignment=chaotic
    advances_to=null
    cost=70
    usage=scout
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Spectre
        experience=300
    [/advancefrom]
#endif
    description= _ "Reapers are abominations, brought from the world of the dead into our world, but maintaining connections to their world to drain excessive amounts of power from it, longing for nothing else but bringing as many souls into the world of the dead. In most cases, they are a creation of a necromancer, forcing a spirit to become a reaper, manipulating it to do what he wants."+{SPECIAL_NOTES}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_SPIRIT}+{SPECIAL_NOTES_ARCANE}
    [abilities]
        {ABILITY_KILLHUNGER}
    [/abilities]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/undead/transparent/spectre.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/undead/transparent/spectre.png"
    [/portrait]
    die_sound=wail-long.wav
    [attack]
        name=baneblade
        description=_"baneblade"
        icon=attacks/baneblade-scythe.png
        type=arcane
        range=melee
        damage=8
        number=5
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=wail
        description=_"wail"
        icon=attacks/wail.png
        type=cold
        range=ranged
        damage=7
        number=3
    [/attack]
    [standing_anim]
        start_time=0
        alpha=0.8~0.4:1100,0.4~0.6:450,0.6~0.4:450,0.4~0.8:1100
        [frame]
            duration=200
            image="units/undead/reaper-standing-1.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-3.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-4.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-1.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-3.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-4.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-1.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-3.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-4.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-1.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-3.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/reaper-standing-4.png"
        [/frame]
    [/standing_anim]
    {DEFENSE_ANIM "units/undead/reaper-defend.png" "units/undead/reaper.png" wail.wav }
    [attack_anim]
        [filter_attack]
            name=wail
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        [frame]
            begin=-250
            end=-200
            image="units/undead/reaper-standing-1.png"
        [/frame]
        [frame]
            sound=wail.wav
            begin=-200
            end=50
            image="units/undead/reaper-standing-2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=baneblade
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/undead/reaper-attack-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/undead/reaper-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/undead/reaper-attack-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=200
            image="units/undead/reaper.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/undead/reaper-attack-claws-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/undead/reaper-attack-claws-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/undead/reaper-attack-claws-2.png"
                sound=claws.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=200
            image="units/undead/reaper.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/undead/reaper.png units/undead/reaper-attack-claws-1.png units/undead/reaper-attack-claws-2.png units/undead/reaper.png units/undead/reaper-attack-claws-1.png units/undead/reaper-attack-claws-2.png (
        [advancement]
            max_times=1
            id=scythe
            description= _ "better at combat with a scythe"
            image="attacks/baneblade-scythe.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=baneblade
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=scythe2
            description= _ "better at combat with a scythe"
            image="attacks/baneblade-scythe.png"
            strict_amla=yes
            require_amla="scythe"
            [effect]
                apply_to=attack
                name=baneblade
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=scythe3
            description= _ "better at combat with a scythe"
            image="attacks/baneblade-scythe.png"
            strict_amla=yes
            require_amla="scythe,scythe2"
            [effect]
                apply_to=attack
                name=baneblade
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=scythe4
            description= _ "better at combat with a scythe"
            image="attacks/baneblade-scythe.png"
            strict_amla=yes
            require_amla="scythe,scythe2,scythe3"
            [effect]
                apply_to=attack
                name=baneblade
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=wail
            description= _ "wailing louder"
            image="attacks/wail.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=wail
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=wail2
            description= _ "wailing louder"
            image="attacks/wail.png"
            strict_amla=yes
            require_amla="wail"
            [effect]
                apply_to=attack
                name=wail
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=wail-slow
            description= _ "wailing so badly that the enemies will be slowed by it"
            image="attacks/wail.png"
            strict_amla=yes
            require_amla="wail2"
            [effect]
                apply_to=attack
                name=wail
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_SLOW}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=claws
            description= _ "able to attack with claws, that has a chance to slay the enemy regardless of his HP"
            image="attacks/claws-undead.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_attack
                name=claws
                description=_"claws"
                type=blade
                icon=attacks/claws-undead.png
                range=melee
                damage=7
                number=3
                [specials]
                    {WEAPON_SPECIAL_DISINTEGRATE}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=claws2
            description= _ "clawing faster"
            image="attacks/claws-undead.png"
            strict_amla=yes
            require_amla="claws"
            [effect]
                apply_to=attack
                name=claws
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            id=claws2-damage
            description= _ "clawing better"
            image="attacks/claws-undead.png"
            strict_amla=yes
            require_amla="claws"
            [effect]
                apply_to=attack
                name=claws
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=dodge
            description= _ "better at dodging (lowering the chance to be hit by 5%)"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-5
                    castle=-5
                    sand=-5
                    village=-5
                    flat=-5
                    hills=-5
                    mountains=-5
                    cave=-5
                    shallow_water=-5
                    coastal_reef=-5
                    swamp_water=-5
                    forest=-5
                    fungus=-5
                    deep_water=-5
                    unwalkable=-5
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=dodge2
            description= _ "better at dodging (lowering the chance to be hit by 3%)"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla="dodge"
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-3
                    castle=-3
                    sand=-3
                    village=-3
                    flat=-3
                    hills=-3
                    mountains=-3
                    cave=-3
                    shallow_water=-3
                    coastal_reef=-3
                    swamp_water=-3
                    forest=-3
                    fungus=-3
                    deep_water=-3
                    unwalkable=-3
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=magic_resist
            max_times=5
            description= _ "more resistant to magic (4% better resistances)"
            image=icons/magical_shield.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    fire=-4
                    arcane=-4
                    cold=-4
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            {AMLA_DEFAULT_BONUSES}
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/advancement]
    ) "Reaper"}
