#textdomain wesnoth-loti
[unit_type]
    id=Romero
    name= _ "Demon Infiltrator"
    race=demon-loti
    hitpoints=1000
    {QUANTITY hitpoints 800 950 1100}
    ignore_race_traits=yes
    movement_type=demonfoot
    movement=7
    experience=600
    {QUANTITY experience 800 700 600}
    halo=halo/demon-infiltrator-aura-1.png~O(40%):150,halo/demon-infiltrator-aura-2.png~O(40%):150,halo/demon-infiltrator-aura-3.png~O(40%):150,halo/demon-infiltrator-aura-4.png~O(40%):150,halo/demon-infiltrator-aura-5.png~O(40%):150
    [base_unit]
        id=Elvish Lord
    [/base_unit]
    [advancement]
        strict_amla=yes
        max_times=100
        id=amla_demon_lord
        image="misc/icon-amla-tough.png"
#ifndef EASY
        [effect]
            apply_to=hitpoints
            increase_total=100
            increase=200
        [/effect]
#endif
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=attack
            increase_damage=11
            {QUANTITY increase_damage 8 9 10}
        [/effect]
    [/advancement]
    level=25
    alignment=liminal
    advances_to=null
    cost=600
    usage=mixed fighter
    description= _ "Some demons are violent and war-loving, but others prefer more peaceful aproach to their misdeeds. Pretending to be good and misleading the good to turn to evil is frequently more effective than brutish violence. But this does not mean that if it comes to fighting, it will be an easy fight."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_DRAIN}
    [attack]
        name=sword
        description= _"sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        {QUANTITY damage 25 30 37}
        number=7
        [specials]
            {WEAPON_SPECIAL_CLEAVE}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=faerie fire
        description= _"faerie fire"
        type=arcane
        {QUANTITY damage 29 32 36}
        number=5
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_EXPLOSIVE}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        icon=attacks/faerie-fire.png
    [/attack]
[/unit_type]
