#textdomain wesnoth-loti
[unit_type]
    id=Seventh Son
    name= _"Seventh Son"
    advances_to=null
        [base_unit]
        id=Celestial Messenger
    [/base_unit]
    cost=55
    hitpoints=78
    level=5
    hide_help=true
    do_not_list=yes
    gender=male
    alignment=chaotic
    generate_name=yes
    [abilities] 
        {ABILITY_DARKENS}
    [/abilities] 
[/unit_type]

