#textdomain wesnoth-loti
[unit_type]
    id=Shadow Prince
    name= _ "Shadow Prince"
    race=human
    gender=male,female
    image="units/humans/shadowprince.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/humans/outlaw.png"
    hitpoints=75
    movement_type=elusivefoot
    movement=7
    experience=140
    {QUANTITY experience 100 120 140}
    level=4
    alignment=chaotic
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Fugitive
        experience=300
    [/advancefrom]
    [advancefrom]
        unit=Highwayman
        experience=300
    [/advancefrom]
#endif
    cost=70
    usage=mixed fighter
    description= _ "After years of life as a criminal, the outlaw gains pride and no longer feels the need to behave like a brute. To teach the others that they are superior too, they learn some magic, and practise fighting with a staff that they used when learning magic. Their authority above other criminals is so great, that they can hide in any settlement."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CONCEALMENT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/humans/shadowprince-defend.png" "units/humans/shadowprince.png" {SOUND_LIST:HUMAN_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/outlaw.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/outlaw.png"
    [/portrait]
    [abilities]
        {ABILITY_CONCEALMENT}
    [/abilities]
    [resistance]
        pierce=100
        blade=100
        impact=100
    [/resistance]
    [attack]
        name=staff
        description= _ "quarterstaff"
        type=impact
        range=melee
        damage=10
        number=3
        icon=attacks/quarterstaff.png
    [/attack]
    [attack]
        name=magic blast
        description= _ "magic blast"
        type=impact
        range=ranged
        damage=8
        number=4
        icon=attacks/noctum.png
        [specials]
            {WEAPON_SPECIAL_SHOCKWAVE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=magic blast
        [/filter_attack]
        {MISSILE_FRAME_ICE}
        [if]
            hits=yes
            [frame]
                begin=-400
                end=-150
                image="units/humans/shadowprince-magic-1.png"
                sound=explosion.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-400
                end=-150
                image="units/humans/shadowprince-magic-1.png"
                sound=explosion.ogg
            [/frame]
        [/else]
        [frame]
            begin=-150
            end=50
            image="units/humans/shadowprince-magic-2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/humans/shadowprince-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/humans/shadowprince-attack-2.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/humans/shadowprince-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/humans/shadowprince-attack-3.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "Shadow Princess"
        gender=female
        image="units/humans/shadowprince+female.png"
        profile="portraits/humans/outlaw+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/humans/shadowprince-defend.png" "units/humans/shadowprince+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/humans/transparent/outlaw+female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/humans/transparent/outlaw+female.png"
        [/portrait]
        [attack_anim]
            [filter_attack]
                name=magic blast
            [/filter_attack]
            [if]
                [frame]
                    image="units/humans/shadowprince+female-magic-1.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/humans/shadowprince+female-magic-1.png"
                [/frame]
            [/else]
            [frame]
                image="units/humans/shadowprince+female-magic-2.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=staff
            [/filter_attack]
            [frame]
                image="units/humans/shadowprince-attack-1.png"
            [/frame]
            [if]
                [frame]
                    image="units/humans/shadowprince-attack-2.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/humans/shadowprince-attack-2.png"
                [/frame]
            [/else]
            [frame]
                image="units/humans/shadowprince-attack-3.png"
            [/frame]
        [/attack_anim]
    [/female]
    {GENERIC_AMLA units/humans/shadowprince.png units/humans/shadowprince-magic-1.png units/humans/shadowprince-magic-2.png units/humans/shadowprince+female.png units/humans/shadowprince+female-magic-1.png units/humans/shadowprince+female-magic2-2.png (
        [advancement]
            max_times=1
            always_display=yes
            id=quarterstaff
            description= _ "striking better with quarterstaff"
            image=attacks/quarterstaff.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=staff
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=quarterstaff2
            description= _ "striking faster with quarterstaff"
            image=attacks/quarterstaff.png
            strict_amla=yes
            require_amla="quarterstaff"
            [effect]
                apply_to=attack
                name=staff
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=quarterstaff3
            description= _ "striking better with quarterstaff"
            image=attacks/quarterstaff.png
            strict_amla=yes
            require_amla="quarterstaff2"
            [effect]
                apply_to=attack
                name=staff
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=quarterstaff4
            description= _ "staff"
            image=attacks/quarterstaff.png
            strict_amla=yes
            require_amla="quarterstaff3"
            [effect]
                apply_to=attack
                name=staff
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=magic
            description= _ "better with magic"
            image=attacks/noctum.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=magic blast
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            always_display=yes
            id=magic2
            description= _ "faster with magic"
            image=attacks/noctum.png
            strict_amla=yes
            require_amla="magic"
            [effect]
                apply_to=attack
                name=magic blast
                increase_damage=-1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=magic3
            description= _ "better with magic"
            image=attacks/noctum.png
            strict_amla=yes
            require_amla="magic"
            [effect]
                apply_to=attack
                name=magic blast
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=ambush
            description= _ "able to hide in forests at night"
            image=icons/dress_silk_green.png
            strict_amla=yes
            require_amla="magic3"
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_NOCTURNAL_AMBUSH}
                [/abilities]
            [/effect]
        [/advancement]
        [advancement]
            id=block
            max_times=5
            description= _ "better at defending"
            image=attacks/quarterstaff.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-2
                    shallow_water=-2
                    deep_water=-2
                    reef=-2
                    flat=-2
                    castle=-1
                    village=-1
                    forest=-1
                    cave=-2
                    hills=-1
                    mountains=-1
                    fungus=-1
                    swamp_water=-2
                    sand=-2
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=penetrate
            description= _ "breaking through enemy impact resistances better (8%)"
            image=attacks/fireball.png
            strict_amla=yes
            require_amla=""
            impact_penetrate=8
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=penetrate2
            description= _ "breaking through enemy impact resistances better (7%)"
            image=attacks/fireball.png
            strict_amla=yes
            require_amla="penetrate"
            impact_penetrate=7
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            id=penetrate3
            description= _ "breaking through enemy impact resistances better (5%)"
            image=attacks/fireball.png
            strict_amla=yes
            require_amla="penetrate2"
            impact_penetrate=5
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Shadow Prince"}
