#textdomain wesnoth-loti
[unit_type]
    id=Siege Troll
    name= _ "Siege Troll"
    race=troll
    image="units/trolls/siege-troll-base.png"
    profile=portraits/trolls/troll.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=90
    movement_type=largefoot
    [resistance]
        blade=40
        pierce=50
        impact=90
        fire=110
        cold=110
        arcane=110
    [/resistance]
    movement=4
    experience=150
    {QUANTITY experience 110 130 150}
    level=4
    alignment=chaotic
    advances_to=null
    undead_variation=troll
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Troll Warrior
        experience=280
    [/advancefrom]
#endif
    cost=48
    description= _ "Trolls rarely use more than the most basic of equipment.  The Orcish tribes will occasionally outfit the biggest, strongest, toughest Troll they can find with heavy armor and use it as a siege weapon."+{SPECIAL_NOTES}+{SPECIAL_NOTES_REGENERATES}
    die_sound={SOUND_LIST:TROLL_DIE}
    usage=fighter
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [attack]
        name=hammer
        description=_"hammer"
        icon=attacks/hammer-troll.png
        type=impact
        range=melee
        damage=20
        number=3
    [/attack]
    {DEFENSE_ANIM "units/trolls/siege-troll-defend.png" "units/trolls/siege-troll-base.png" {SOUND_LIST:TROLL_HIT} }
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-300
        [frame]
            duration=25
            image="units/trolls/siege-troll-base.png"
        [/frame]
        [frame]
            duration=75
            image="units/trolls/siege-troll-attack-1.png"
        [/frame]
        [frame]
            duration=50
            image="units/trolls/siege-troll-attack-2.png"
        [/frame]
        [frame]
            duration=25
            image="units/trolls/siege-troll-attack-3.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=175
                image="units/trolls/siege-troll-attack-4.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=175
                image="units/trolls/siege-troll-attack-4.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=75
            image="units/trolls/siege-troll-attack-3.png"
        [/frame]
        [frame]
            duration=25
            image="units/trolls/siege-troll-attack-1.png"
        [/frame]
        [frame]
            duration=50
            image="units/trolls/siege-troll-base.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/trolls/siege-troll-base.png units/trolls/siege-troll-attack-1.png units/trolls/siege-troll-attack-4.png units/trolls/siege-troll-base.png units/trolls/siege-troll-attack-1.png units/trolls/siege-troll-attack-4.png (
        [advancement]
            id=hammer
            max_times=1
            description= _ "stronger with hammer"
            image=attacks/hammer-troll.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=hammer
                increase_damage=3
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=hammer2
            max_times=1
            description= _ "stronger with hammer"
            image=attacks/hammer-troll.png
            strict_amla=yes
            require_amla="hammer"
            [effect]
                apply_to=attack
                name=hammer
                increase_damage=3
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=hammer_speed
            max_times=1
            description= _ "faster with hammer"
            image=attacks/hammer-troll.png
            strict_amla=yes
            require_amla="hammer2"
            [effect]
                apply_to=attack
                name=hammer
                increase_damage=-7
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=hammer3
            max_times=10
            description= _ "stronger with hammer"
            image=attacks/hammer-troll.png
            strict_amla=yes
            require_amla="hammer2"
            [effect]
                apply_to=attack
                name=hammer
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=horrid
            description= _ "able to attack in a terribly scary way"
            image=attacks/wail.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=grim strike
                description= _ "grim strike"
                icon=attacks/wail.png
                range=melee
                damage=-20
                clone_anim=yes
                [specials]
                    {WEAPON_SPECIAL_HORRID}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            always_display=yes
            id=horrid2
            description= _ "scaring enemies with the scary attack better"
            image=attacks/wail.png
            strict_amla=yes
            require_amla="horrid"
            [effect]
                apply_to=improve_bonus_attack
                name=grim strike
                increase_damage=15
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=devastation
            description= _ "able to attack and defend with a single, devastating blow"
            image=attacks/hammer-troll.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=devastation
                description= _ "devastation"
                icon=attacks/hammer-troll.png
                range=melee
                damage=-40
                merge=yes
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=devastation2
            description= _ "attacking better with the single blow"
            image=attacks/hammer-troll.png
            strict_amla=yes
            require_amla="devastation"
            [effect]
                apply_to=improve_bonus_attack
                name=devastation
                increase_damage=15
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better protected from physical blows (2% better resistances)"
            image=icons/steel_armor.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-2
                    pierce=-2
                    impact=-2
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=regeneration1
            max_times=1
            description= _ "regenerating 4 additional hitpoints per turn"
            image=icons/potion_green_medium.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_REGENERATES}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 12}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=regeneration2
            max_times=1
            description= _ "regenerating 3 additional hitpoints per turn"
            image=icons/potion_green_medium.png
            strict_amla=yes
            require_amla="regeneration1"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 12}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 15}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=regeneration3
            max_times=1
            description= _ "regenerating 3 additional hitpoints per turn"
            image=icons/potion_green_medium.png
            strict_amla=yes
            require_amla="regeneration1,regeneration2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 15}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 18}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=regeneration4
            max_times=1
            description= _ "regenerating 2 additional hitpoints per turn"
            image=icons/potion_green_medium.png
            strict_amla=yes
            require_amla="regeneration1,regeneration2,regeneration3"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 18}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 20}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=regeneration5
            max_times=1
            description= _ "regenerating 2 additional hitpoints per turn"
            image=icons/potion_green_medium.png
            strict_amla=yes
            require_amla="regeneration1,regeneration2,regeneration3,regeneration4"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 20}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 22}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=regeneration6
            max_times=1
            description= _ "regenerating 2 additional hitpoints per turn"
            image=icons/potion_green_medium.png
            strict_amla=yes
            require_amla="regeneration1,regeneration2,regeneration3,regeneration4,regeneration5"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 22}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 24}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Siege Troll"}
