#textdomain wesnoth-loti
[unit_type]
    id=Skeletal Dragon LotI
    name= _ "Skeletal Dragon"
    race=undead
    image="units/monsters/skeletal-dragon.png"
    hitpoints=86
    movement_type=undeadfly
    movement=5
    experience=160
    {QUANTITY experience 120 140 160}
    level=4
    alignment=chaotic
    advances_to=null
    cost=100
    usage=fighter
    [resistance]
        blade=60
        pierce=40
        impact=120
        fire=100
        arcane=130
    [/resistance]
    description= _ "Even of the mightiest living creatures there will remain nothing but bones and dark sinew in the end. But dark powers that know no bounds raise also those back to life – and if they are downright nasty in the shape of a harmless looking pile of bone... Only few who have been deceived by that appearance lived long enough to realise their terrible mistake.

Gameplay notes: This unit can learn to use a dark breath that can, along with its jaws, turn this skeletal dragon into a doom to all living.
Keep in mind that this unit is a unique creation of magic, sacrificing it is not the best idea (and a crime against the preservation of biodiversity)."+{SPECIAL_NOTES}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_SLOW}
    die_sound=skeleton-big-die.ogg
    [attack]
        name=jaw
        description=_"jaw"
        icon=attacks/fangs.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        damage=10
        number=4
    [/attack]
    [attack]
        name=claws
        description= _"claws"
        type=blade
        range=melee
        damage=25
        number=2
    [/attack]
    {DEFENSE_ANIM "units/monsters/skeletal-dragon-defend.png" "units/monsters/skeletal-dragon.png" {SOUND_LIST:SKELETON_BIG_HIT} }
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/monsters/skeletal-dragon-attack-claws1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-150
                end=-50
                image="units/monsters/skeletal-dragon-attack-claws2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-150
                end=-50
                image="units/monsters/skeletal-dragon-attack-claws2.png"
                sound=claws.ogg
            [/frame]
        [/else]
        [frame]
            begin=-50
            end=100
            image="units/monsters/skeletal-dragon-attack-claws3.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=jaw
        [/filter_attack]
        [frame]
            begin=-150
            end=-50
            image="units/monsters/skeletal-dragon-attack-jaw1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=100
                image="units/monsters/skeletal-dragon-attack-jaw2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=100
                image="units/monsters/skeletal-dragon-attack-jaw2.png"
                sound=bite.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dark breath
        [/filter_attack]
        start_time=-400
        [if]
            direction=n,ne,nw
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-1.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-2.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-3.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-4.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-5.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-6.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=130
                halo="halo/darkness-beam-7.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-6.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-5.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-4.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-3.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-2.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-1.png"
                offset=1.0
            [/missile_frame]
        [/if]
        [else]
            direction=s,se,sw
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-1.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-2.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-3.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-4.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-5.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/darkness-beam-6.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=130
                halo="halo/darkness-beam-7.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-6.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-5.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-4.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-3.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-2.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/darkness-beam-1.png~FL(vert)"
                offset=1.0
            [/missile_frame]
        [/else]
        [frame]
            duration=180
            image="units/monsters/skeletal-dragon.png"
        [/frame]
        [frame]
            duration=180
            image="units/monsters/skeletal-dragon-attack-claws1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=180
                image="units/monsters/skeletal-dragon-attack-claws2.png"
                sound=magic-dark-big.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=180
                image="units/monsters/skeletal-dragon-attack-claws2.png"
                sound=magic-dark-big-miss.ogg
            [/frame]
        [/else]
        [frame]
            duration=140
            image="units/monsters/skeletal-dragon.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/monsters/skeletal-dragon.png units/monsters/skeletal-dragon-attack-claws1.png units/monsters/skeletal-dragon-attack-claws2.png units/monsters/skeletal-dragon.png units/monsters/skeletal-dragon-attack-claws1.png units/monsters/skeletal-dragon-attack-claws2.png (
        [advancement]
            max_times=1
            always_display=yes
            id=jaws1
            description= _ "biting better"
            image=attacks/fangs.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=jaw
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=jaws2
            description= _ "biting faster"
            image=attacks/fangs.png
            strict_amla=yes
            require_amla="jaws1"
            [effect]
                apply_to=attack
                name=jaw
                increase_damage=-1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=jaws3
            description= _ "biting better"
            image=attacks/fangs.png
            strict_amla=yes
            require_amla="jaws2"
            [effect]
                apply_to=attack
                name=jaw
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=claws1
            description= _ "clawing better"
            image=attacks/claws.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=claws
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            always_display=yes
            id=claws2
            description= _ "clawing faster"
            image=attacks/claws.png
            strict_amla=yes
            require_amla="claws1"
            [effect]
                apply_to=attack
                name=claws
                increase_damage=-5
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=breath
            description= _ "able to breathe dark energy"
            image=attacks/dark-missile.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_attack
                description= _"dark breath"
                name="dark breath"
                icon=attacks/dark-missile.png
                type=arcane
                [specials]
                    {WEAPON_SPECIAL_SLOW}
                    {WEAPON_SPECIAL_DRAIN}
                [/specials]
                range=ranged
                damage=12
                number=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            always_display=yes
            id=breath_speed
            description= _ "breathing dark energy faster"
            image=attacks/dark-missile.png
            strict_amla=yes
            require_amla="breath"
            [effect]
                apply_to=attack
                name=dark breath
                increase_damage=-2
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=breath_damage
            description= _ "breathing darker energy better"
            image=attacks/dark-missile.png
            strict_amla=yes
            require_amla="breath"
            [effect]
                apply_to=attack
                name=dark breath
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Skeletal Dragon LotI"}
