#textdomain wesnoth-loti
[unit_type]
    id=Sky Goblin
    name= _ "Sky Goblin"
    race=goblin
    image="units/orcs/rocmaster.png"
    profile="portraits/goblins/impaler.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=41
    movement_type=fly
    movement=10
    experience=90
    {QUANTITY experience 80 85 90}
    level=2
    alignment=neutral
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Goblin Impaler
        experience=90
    [/advancefrom]
#endif
    cost=26
    usage=scout
    description= _ "The best of goblin fighters get the right to ride giant birds, to scout terrains ahead and occasionally attack vulnerable units that they manage to approach."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [standing_anim]
        [frame]
            begin=0
            end=150
            image="units/orcs/rocmaster1.png"
        [/frame]
        [frame]
            begin=150
            end=300
            image="units/orcs/rocmaster2.png"
        [/frame]
        [frame]
            begin=300
            end=450
            image="units/orcs/rocmaster3.png"
        [/frame]
        [frame]
            begin=450
            end=600
            image="units/orcs/rocmaster4.png"
        [/frame]
        [frame]
            begin=600
            end=750
            image="units/orcs/rocmaster5.png"
        [/frame]
        [frame]
            begin=750
            end=900
            image="units/orcs/rocmaster4.png"
        [/frame]
        [frame]
            begin=900
            end=1050
            image="units/orcs/rocmaster3.png"
        [/frame]
        [frame]
            begin=1050
            end=1200
            image="units/orcs/rocmaster2.png"
        [/frame]
    [/standing_anim]
    [defense]
        mountains=40
    [/defense]
    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-animal.png
        type=pierce
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        icon=attacks/bow-orcish.png
        type=pierce
        range=ranged
        damage=8
        number=2
    [/attack]
    {DEFENSE_ANIM "units/orcs/rocmaster1.png" "units/orcs/rocmaster2.png" {SOUND_LIST:GRYPHON_HIT} }
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/orcs/rocmaster1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/orcs/rocmaster1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/orcs/rocmaster2.png"
                sound=claws.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/orcs/rocmaster2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-100
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
    [/attack_anim]
    {GENERIC_AMLA units/orcs/rocmaster.png units/orcs/rocmaster1.png units/orcs/rocmaster2.png units/orcs/rocmaster.png units/orcs/rocmaster1.png units/orcs/rocmaster2.png (
        [advancement]
            max_times=2
            id=melee
            description= _ "much better at commanding the bird"
            image="attacks/claws-animal.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=melee2
            description= _ "better at commanding the bird"
            image="attacks/claws-animal.png"
            strict_amla=yes
            require_amla="melee"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow
            description= _ "better with the bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=ranged
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow2
            description= _ "better with bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow"
            [effect]
                apply_to=attack
                range=ranged
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow-precise
            description= _ "shooting insanely precisely"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow,bow2"
            [effect]
                apply_to=attack
                range=ranged
                increase_damage=-1
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_MARKSMAN}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow3
            description= _ "better with the bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow,bow2"
            [effect]
                apply_to=attack
                range=ranged
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=bow4
            description= _ "better with the bow"
            image="attacks/bow-elven.png"
            strict_amla=yes
            require_amla="bow,bow2,bow3"
            [effect]
                apply_to=attack
                range=ranged
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=skirmisher
            description= _ "a skirmisher"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_SKIRMISHER}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=dodge
            description= _ "more nimble (lowering the chance to be hit by 4%)"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-4
                    castle=-4
                    sand=-4
                    village=-4
                    flat=-4
                    hills=-4
                    mountains=-2
                    cave=-4
                    shallow_water=-4
                    coastal_reef=-4
                    swamp_water=-4
                    forest=-2
                    fungus=-4
                    deep_water=-4
                    unwalkable=-4
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Sky Goblin"}
