#textdomain wesnoth-loti
[unit_type]
    id=Soul Shooter
    name= _ "Soul Shooter"
    race=undead
    image="units/undead/soul-shooter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile=portraits/undead/banebow.png
    hitpoints=62
    movement_type=undeadfoot
    movement=5
    experience=140
    {QUANTITY experience 100 120 140}
    level=4
    alignment=chaotic
    advances_to=null
    cost=53
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Banebow
        experience=280
    [/advancefrom]
#endif
    description= _ "Entrapped by the evil of their existence, their victims' souls frequently remain on the battlefield, too scared to leave into the world of the dead. Soul Shooters can exploit them by binding them into their arrows, making them incredibly powerful."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}
    usage=archer
    die_sound=skeleton-big-die.ogg
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/undead/transparent/banebow.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/undead/transparent/banebow.png"
    [/portrait]
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [resistance]
        blade=60
        pierce=40
        impact=120
    [/resistance]
    [attack]
        name=dagger
        description=_"dagger"
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        icon=attacks/bow-orcish.png
        type=pierce
        range=ranged
        damage=13
        number=4
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    {DEFENSE_ANIM_RANGE "units/undead/soul-shooter-melee-defend-2.png" "units/undead/soul-shooter-melee-defend-1.png" {SOUND_LIST:SKELETON_BIG_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/undead/soul-shooter-bow-defend.png" "units/undead/soul-shooter-bow.png" {SOUND_LIST:SKELETON_BIG_HIT} ranged}
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/bone-n.png"
            image_diagonal="projectiles/bone-ne.png"
        [/missile_frame]
        [frame]
            begin=-445
            end=-380
            image="units/undead/soul-shooter-bow.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-380
                end=-305
                image="units/undead/soul-shooter-bow-attack-1.png"
                sound=bow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-380
                end=-305
                image="units/undead/soul-shooter-bow-attack-1.png"
                sound=bow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-305
            end=-230
            image="units/undead/soul-shooter-bow-attack-2.png"
        [/frame]
        [frame]
            begin=-230
            end=-130
            image="units/undead/soul-shooter-bow-attack-3.png"
        [/frame]
        [frame]
            begin=-130
            end=0
            image="units/undead/soul-shooter-bow-attack-4.png"
        [/frame]
        [frame]
            begin=0
            end=65
            image="units/undead/soul-shooter-bow.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-275

        [frame]
            duration=50
            image="units/undead/soul-shooter-melee-defend-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/undead/soul-shooter-melee-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/undead/soul-shooter-melee-attack-2.png"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/undead/soul-shooter-melee-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/undead/soul-shooter-melee-attack-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/undead/soul-shooter-melee-attack-4.png"
        [/frame]
        [frame]
            duration=50
            image="units/undead/soul-shooter-melee-defend-1.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/undead/soul-shooter.png units/undead/soul-shooter-melee-attack-1.png units/undead/soul-shooter-melee-attack-2.png units/undead/soul-shooter.png units/undead/soul-shooter-melee-attack-1.png units/undead/soul-shooter-melee-attack-2.png (
        [advancement]
            max_times=1
            id=bow
            description= _ "better with bow"
            image="attacks/bow-orcish.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=ranged
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow2
            description= _ "better with bow"
            image="attacks/bow-orcish.png"
            strict_amla=yes
            require_amla="bow"
            [effect]
                apply_to=attack
                range=ranged
                increase_damage=-1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=bow3
            description= _ "better with bow"
            image="attacks/bow-orcish.png"
            strict_amla=yes
            require_amla="bow,bow2"
            [effect]
                apply_to=attack
                range=ranged
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow-marksman
            description= _ "more precise with bow"
            image="attacks/bow-orcish.png"
            strict_amla=yes
            require_amla="bow"
            [effect]
                apply_to=attack
                range=ranged
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_MARKSMAN}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow-leech
            description= _ "leeching enemies with bow"
            image="attacks/bow-orcish.png"
            strict_amla=yes
            require_amla="bow2"
            [effect]
                apply_to=attack
                range=ranged
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_LEECH}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=bow-infect
            description= _ "turning enemies into undead with poison from bow"
            image="attacks/bow-orcish.png"
            strict_amla=yes
            require_amla="bow3"
            [effect]
                apply_to=attack
                range=ranged
                remove_specials=poison
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_INFECT}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=arcane
            description= _ "able to shoot cursed arcane arrows"
            image=attacks/bow-elven-magic.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=cursed arrow
                description= _ "cursed arrow"
                icon=attacks/bow-elven-magic.png
                range=ranged
                defense_weight=0
                damage=-20
                type=arcane
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=arcane2
            description= _ "shooting cursed arrows better"
            image=attacks/bow-elven-magic.png
            strict_amla=yes
            require_amla="arcane"
            [effect]
                apply_to=improve_bonus_attack
                name=cursed arrow
                increase_damage=10
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=dagger
            description= _ "better with dagger"
            image="attacks/dagger-undead.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=dagger2
            description= _ "better with dagger"
            image="attacks/dagger-undead.png"
            strict_amla=yes
            require_amla="dagger"
            [effect]
                apply_to=attack
                range=melee
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=dagger3
            description= _ "better with dagger"
            image="attacks/dagger-undead.png"
            strict_amla=yes
            require_amla="dagger,dagger2"
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=dagger-backstab
            description= _ "able to backstab with dagger"
            image="attacks/dagger-undead.png"
            strict_amla=yes
            require_amla="dagger,dagger2,dagger3"
            [effect]
                apply_to=attack
                range=melee
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_BACKSTAB}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "more undead-like resistance (improved resistances, slightly worsened weaknesses)"
            image=icons/skull.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-2
                    pierce=-3
                    impact=1
                    fire=1
                    cold=-3
                    arcane=2
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Soul Shooter"}
