#textdomain wesnoth-loti
[unit_type]
    id=Spell Eater
    name= _ "Spell Eater"
    race=monster
    image="units/enemies/spell-eater.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=50
    movement_type=undeadspirit
    movement=7
    experience=120
    level=4
    alignment=neutral
    advances_to=null
    cost=65
    usage=healer
    description= _ "Spell Eater is a strange magical creature that feeds on magic and grows stronger in its presence. It is not particularly resistant to magic when directly attacked but it can rapidly grow very powerful if nearby allies are attacked by magic attacks."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SPIRIT}+{SPECIAL_NOTES_MAGICAL}
    [resistance]
        cold=60
        fire=80
        arcane=80
        impact=50
        blade=50
        pierce=50
    [/resistance]
    [abilities]
        {ABILITY_SPELL_EATER}
    [/abilities]

    [standing_anim]
        layer=60
        start_time=0
        [frame]
            duration=50
            image="units/enemies/spell-eater.png"
        [/frame]
        [frame]
            duration=50
            image="units/enemies/spell-eater-2.png"
        [/frame]
        [frame]
            duration=50
            image="units/enemies/spell-eater-3.png"
        [/frame]
        [frame]
            duration=50
            image="units/enemies/spell-eater-4.png"
        [/frame]
        [frame]
            duration=50
            image="units/enemies/spell-eater-5.png"
        [/frame]
    [/standing_anim]

    [attack]
        name=touch
        description=_"touch"
        icon=attacks/nova.png
        type=arcane
        range=melee
        damage=28
        number=1
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=magic blast
        description=_"magic blast"
        type=arcane
        damage=17
        number=2
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        icon=attacks/faerie-fire.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=faerie fire
        [/filter_attack]
        hits=yes
        {MISSILE_FRAME_FAERIE_FIRE}

        [frame]
            begin=-450
            end=-375
            image="units/enemies/spell-eater.png"
            sound=magic-faeriefire.ogg
            halo=halo/elven/faerie-fire-halo1.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-375
            end=-300
            image="units/enemies/spell-eater-2.png"
            halo=halo/elven/faerie-fire-halo2.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/enemies/spell-eater-3.png"
            halo=halo/elven/faerie-fire-halo3.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/enemies/spell-eater-3.png"
            halo=halo/elven/faerie-fire-halo4.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/enemies/spell-eater-4.png"
            halo=halo/elven/faerie-fire-halo5.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/enemies/spell-eater-5.png"
            halo=halo/elven/faerie-fire-halo6.png
            halo_x,halo_y=-19,-14
        [/frame]
        [frame]
            begin=-0
            end=75
            image="units/enemies/spell-eater.png"
            halo=halo/elven/faerie-fire-halo7.png
            halo_x,halo_y=-19,-14
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        start_time=-200
        [frame]
            duration=30
            image="units/enemies/spell-eater.png"
        [/frame]
        [frame]
            duration=30
            image="units/enemies/spell-eater-2.png"
        [/frame]
        [frame]
            duration=30
            image="units/enemies/spell-eater-3.png"
        [/frame]
        [frame]
            duration=30
            image="units/enemies/spell-eater-4.png"
        [/frame]
        [frame]
            duration=30
            image="units/enemies/spell-eater-5.png"
        [/frame]
        [frame]
            duration=30
            image="units/enemies/spell-eater.png"
        [/frame]
        [frame]
            duration=30
            image="units/enemies/spell-eater-2.png"
        [/frame]
        [frame]
            duration=30
            image="units/enemies/spell-eater-3.png"
        [/frame]
        [frame]
            duration=30
            image="units/enemies/spell-eater-4.png"
        [/frame]
        [frame]
            duration=30
            image="units/enemies/spell-eater-5.png"
        [/frame]
        [frame]
            duration=30
            image="units/enemies/spell-eater.png"
        [/frame]
        [frame]
            duration=30
            image="units/enemies/spell-eater-2.png"
        [/frame]
        [frame]
            duration=30
            image="units/enemies/spell-eater-3.png"
        [/frame]
        [frame]
            duration=30
            image="units/enemies/spell-eater-4.png"
        [/frame]
        [frame]
            duration=30
            image="units/enemies/spell-eater-5.png"
        [/frame]
    [/attack_anim]


[/unit_type]
