#textdomain wesnoth-loti
[unit_type]
    id=Spider Demon
    name= _ "Spider Demon"
    gender=female
    race=demon-loti
    image="units/enemies/demons/spider-demon.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=137
    movement_type=demonfoot
    [resistance]
        impact=90
        blade=80
        pierce=80
    [/resistance]
    [movement_costs]
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=70
        shallow_water=60
        reef=50
        swamp_water=50
        flat=40
        sand=40
        forest=40
        hills=40
        mountains=30
        village=30
        castle=30
        cave=40
        frozen=70
        impassable=0
        fungus=40
    [/defense]
    movement=7
    experience=400
    level=9
    alignment=liminal
    advances_to=Demon Overlord
    cost=170
    usage=mixed fighter
    description= _ "This is a prototype of a new race of demons designed and created by Uria. Even without proper combat training, they can match even the most experienced demon warriors. These ones are for the purposes of faster replication created mostly in female variation, because one male can spawn breed with many females."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+" Demons are creatures of magic, and arcane attacks have only a little effect on them."+{SPECIAL_NOTES_POISON}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [trait]
        id=powerful
        male_name= _ "powerful"
        female_name= _ "female^powerful"
        description= _ "stronger with magic,"
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=2
            increase_attacks=1
        [/effect]
    [/trait]
    [trait]
        id=devastative
        male_name= _ "devastative"
        female_name= _ "female^devastative"
        description= _ "stronger with magic,"
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=30%
        [/effect]
    [/trait]
    {DEFENSE_ANIM "units/enemies/demons/spider-demon-melee-2.png" "units/enemies/demons/spider-demon-melee-1.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs-spider.png
        type=pierce
        range=melee
        damage=22
        number=3
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=fireball
        description=_"fireball"
        type=fire
        range=ranged
        damage=13
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}

        start_time=-575
        [frame]
            duration=50
            image="units/enemies/demons/spider-demon.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/demons/spider-demon-ranged-1.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=100
            image="units/enemies/demons/spider-demon-ranged-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/demons/spider-demon-ranged-1.png"
        [/frame]
        [frame]
            duration=75
            image="units/enemies/demons/spider-demon.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=infernal chill
        [/filter_attack]
        {MISSILE_FRAME_ICE}

        start_time=-575
        [frame]
            duration=50
            image="units/enemies/demons/spider-demon.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/demons/spider-demon-ranged-1.png"
            sound=magic-dark.ogg
        [/frame]
        [frame]
            duration=100
            image="units/enemies/demons/spider-demon-ranged-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/demons/spider-demon-ranged-1.png"
        [/frame]
        [frame]
            duration=75
            image="units/enemies/demons/spider-demon.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shadow wave
        [/filter_attack]
        [missile_frame]
            begin=-100
            end=100
            image="projectiles/darkmissile-n.png"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]

        [frame]
            begin=-300
            end=-225
            image="units/enemies/demons/spider-demon.png"
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/enemies/demons/spider-demon-ranged-1.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/enemies/demons/spider-demon-ranged-2.png"
            halo=halo/undead/black-magic-1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=0
                image="units/enemies/demons/spider-demon-ranged-2.png"
                sound=magic-dark.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=0
                image="units/enemies/demons/spider-demon-ranged-2.png"
                sound=magic-dark-miss.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/else]
        [frame]
            begin=0
            end=75
            image="units/enemies/demons/spider-demon-ranged-2.png"
            halo=halo/undead/black-magic-3.png
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/enemies/demons/spider-demon-ranged-1.png"
            halo=halo/undead/black-magic-4.png
        [/frame]

        [frame]
            begin=150
            end=200
            image="units/enemies/demons/spider-demon-ranged-1.png"
            halo=halo/undead/black-magic-5.png
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/enemies/demons/spider-demon.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        start_time=-400
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            duration=50
            image="units/enemies/demons/spider-demon-melee-1.png"
        [/frame]
        [frame]
            duration=50
            image="units/enemies/demons/spider-demon-melee-2.png"
        [/frame]
        [frame]
            duration=50
            image="units/enemies/demons/spider-demon-melee-3.png"
        [/frame]
        [frame]
            duration=50
            image="units/enemies/demons/spider-demon-melee-4.png"
        [/frame]
        [frame]
            duration=50
            image="units/enemies/demons/spider-demon-melee-5.png"
        [/frame]
        [frame]
            duration=50
            image="units/enemies/demons/spider-demon-melee-6.png"
        [/frame]
        [frame]
            duration=50
            image="units/enemies/demons/spider-demon-melee-7.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=50
                image="units/enemies/demons/spider-demon-melee-8.png"
                sound=bite.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=50
                image="units/enemies/demons/spider-demon-melee-8.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/enemies/demons/spider-demon-melee-9.png"
        [/frame]
        {SOUND:POISON}
        [frame]
            duration=50
            image="units/enemies/demons/spider-demon-melee-10.png"
        [/frame]
        [frame]
            duration=50
            image="units/enemies/demons/spider-demon-melee-11.png"
        [/frame]
        [frame]
            duration=50
            image="units/enemies/demons/spider-demon-melee-12.png"
        [/frame]
        [frame]
            duration=50
            image="units/enemies/demons/spider-demon-melee-13.png"
        [/frame]
    [/attack_anim]
[/unit_type]
