#textdomain wesnoth-loti
[unit_type]
    id=Machine Drone
    name= _ "Machine Drone"
    level=3
    advances_to=Machine Welder
    cost=55
    hitpoints=75
    experience=125
    usage=archer
    image="units/enemies/steelhive/drone.png"
    description= _ "This is one of the abominations that Uria created using and developing the knowledge she stole ages ago. It is a lifeless machine that does only what it was made for, and obeys whatever is considered its master's will."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}
    movement=8
    alignment=neutral
    race=monster
    movement_type=fly
    {MAGENTA_IS_THE_TEAM_COLOR}
    {TRAIT_MECHANICAL}
    {DEFENSE_ANIM "units/enemies/steelhive/drone-defend-2.png" "units/enemies/steelhive/drone-defend-1.png" "mace.wav" }	#mace.wav ressembles the sound when you hit a metallic object
    [resistance]
        arcane=40
        fire=80
        cold=70
        pierce=40
        blade=50
        impact=80
    [/resistance]
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=shock
        description= _"shock"
        icon=attacks/lightning.png
        type=fire
        range=ranged
        damage=14
        number=3
    [/attack]
    [standing_anim]
        start_time=0
        [frame]
            duration=200
            image="units/enemies/steelhive/drone.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/drone-float-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/drone-float-3.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/drone-float-2.png"
        [/frame]
    [/standing_anim]
    [attack_anim]
        [filter_attack]
            name=shock
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=0
            image="projectiles/shockmissile-n.png"
            image_diagonal="projectiles/shockmissile-ne.png"
        [/missile_frame]
        [frame]
            begin=-300
            end=-200
            image="units/enemies/steelhive/drone.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/enemies/steelhive/drone-ranged-1.png"
                sound=magic-dark-big-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/enemies/steelhive/drone-ranged-1.png"
                sound=magic-dark-big.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=0
            image="units/enemies/steelhive/drone-ranged-2.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/enemies/steelhive/drone-ranged-1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/enemies/steelhive/drone.png"
        [/frame]
    [/attack_anim]
[/unit_type]
[unit_type]
    id=Machine Welder
    name= _ "Machine Welder"
    level=5
    advances_to=null
    {AMLA_DEFAULT}
    cost=76
    hitpoints=76
    usage=scout
    image="units/enemies/steelhive/welder.png"
    description= _ "This is one of the abominations that Uria created using and developing the knowledge she stole ages ago. It is a lifeless machine that does only what it was made for, and obeys whatever is considered its master's will."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_FIRSTSTRIKE}
    movement=8
    alignment=neutral
    race=monster
    movement_type=fly
    {MAGENTA_IS_THE_TEAM_COLOR}
    {TRAIT_MECHANICAL}
    {DEFENSE_ANIM "units/enemies/steelhive/welder-defend-2.png" "units/enemies/steelhive/welder-defend-1.png" "mace.wav" }
    [resistance]
        arcane=40
        fire=80
        cold=70
        pierce=40
        blade=50
        impact=80
    [/resistance]
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=shock
        description= _"shock"
        icon=attacks/lightning.png
        type=fire
        range=ranged
        damage=16
        number=4
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [standing_anim]
        start_time=0
        [frame]
            duration=200
            image="units/enemies/steelhive/welder.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/welder-float-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/welder-float-3.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/welder-float-2.png"
        [/frame]
    [/standing_anim]
    [attack_anim]
        [filter_attack]
            name=shock
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=0
            image="projectiles/shockmissile-n.png"
            image_diagonal="projectiles/shockmissile-ne.png"
        [/missile_frame]
        [frame]
            begin=-300
            end=-200
            image="units/enemies/steelhive/welder.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/enemies/steelhive/welder-ranged-1.png"
                sound=magic-dark-big-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/enemies/steelhive/welder-ranged-1.png"
                sound=magic-dark-big.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=0
            image="units/enemies/steelhive/welder-ranged-2.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/enemies/steelhive/welder-ranged-1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/enemies/steelhive/welder.png"
        [/frame]
    [/attack_anim]
[/unit_type]
[unit_type]
    id=Machine Oculus
    name= _ "Machine Oculus"
    advances_to=Machine Sparkgazer
    level=3
    cost=58
    hitpoints=57
    experience=123
    usage=fighter
    image="units/enemies/steelhive/oculus.png"
    description= _ "This is one of the abominations that Uria created using and developing the knowledge she stole ages ago. It is a lifeless machine that does only what it was made for, and obeys whatever is considered its master's will."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARGE}
    {DEFENSE_ANIM "units/enemies/steelhive/oculus-melee2.png" "units/enemies/steelhive/oculus-melee1.png" "mace.wav" }
    movement=7
    alignment=neutral
    race=monster
    movement_type=fly
    {MAGENTA_IS_THE_TEAM_COLOR}
    {TRAIT_MECHANICAL}
    [resistance]
        arcane=40
        fire=80
        cold=70
        pierce=40
        blade=40
        impact=80
    [/resistance]
    [standing_anim]
        start_time=0
        [frame]
            duration=200
            image="units/enemies/steelhive/oculus.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/oculus-float-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/oculus-float-3.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/oculus-float-2.png"
        [/frame]
    [/standing_anim]
    [attack]
        name=spin
        description= _ "spin"
        icon="attacks/claws.png"
        type=blade
        range=melee
        damage=7
        number=6
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=spin
        [/filter_attack]
        start_time=-250
        [frame]
            duration=150
            image="units/enemies/steelhive/oculus-melee1.png"
            offset=0.0~0.6
        [/frame]
        [frame]
            duration=100
            image="units/enemies/steelhive/oculus-melee2.png"
            offset=0.6~0.8
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/enemies/steelhive/oculus-melee3.png"
                offset=0.8~0.85
                sound=squishy-hit.wav
            [/frame]
            [frame]
                duration=100
                image="units/enemies/steelhive/oculus-melee2.png"
                offset=0.85~0.8
            [/frame]
            [frame]
                duration=100
                image="units/enemies/steelhive/oculus-melee3.png"
                offset=0.8~0.6
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/enemies/steelhive/oculus-melee3.png"
                offset=0.8~0.6
                sound=squishy-miss.wav
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/enemies/steelhive/oculus-melee4.png"
            offset=0.6~0.0
        [/frame]
    [/attack_anim]
[/unit_type]
[unit_type]
    id=Machine Sparkgazer
    name= _ "Machine Sparkgazer"
    advances_to=null
    {AMLA_DEFAULT}
    level=5
    cost=81
    hitpoints=81
    experience=200
    usage=fighter
    image="units/enemies/steelhive/oculus.png"
    description= _ "This is one of the abominations that Uria created using and developing the knowledge she stole ages ago. It is a lifeless machine that does only what it was made for, and obeys whatever is considered its master's will."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARGE}
    {DEFENSE_ANIM "units/enemies/steelhive/sparkgazer-melee2.png" "units/enemies/steelhive/sparkgazer-melee1.png" "mace.wav" }
    movement=7
    alignment=neutral
    race=monster
    movement_type=fly
    {MAGENTA_IS_THE_TEAM_COLOR}
    {TRAIT_MECHANICAL}
    [resistance]
        arcane=40
        fire=80
        cold=70
        pierce=40
        blade=40
        impact=80
    [/resistance]
    [standing_anim]
        start_time=0
        [frame]
            duration=200
            image="units/enemies/steelhive/oculus.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/oculus-float-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/oculus-float-3.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/oculus-float-2.png"
        [/frame]
    [/standing_anim]

    [attack]
        name=spin
        description= _ "spin"
        icon="attacks/claws.png"
        type=blade
        range=melee
        damage=9
        number=7
        [specials]
            {WEAPON_SPECIAL_CHARGE}
            {WEAPON_SPECIAL_ANGER}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=chargespin
        [/filter_attack]
        start_time=-250
        [frame]
            duration=100
            image="units/steelhive/sparkgazer-melee1.png"
            offset=0.0~0.4
        [/frame]
        [frame]
            duration=50
            image="units/steelhive/sparkgazer-melee2.png"
            offset=0.4~0.6
        [/frame]
        [frame]
            duration=100
            image="units/steelhive/sparkgazer-melee3.png"
            offset=0.6~0.8
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/steelhive/sparkgazer-melee4.png"
                offset=0.8~0.85
                sound=squishy-hit.wav
            [/frame]
            [frame]
                duration=100
                image="units/steelhive/sparkgazer-melee3.png"
                offset=0.85~0.8
            [/frame]
            [frame]
                duration=100
                image="units/steelhive/sparkgazer-melee4.png"
                offset=0.8~0.6
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/steelhive/sparkgazer-melee4.png"
                offset=0.8~0.6
                sound=squishy-miss.wav
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/steelhive/sparkgazer-melee5.png"
            offset=0.6~0.0
        [/frame]
    [/attack_anim]
[/unit_type]
[unit_type]
    id=Machine Vector
    name= _ "Machine Vector"
    advances_to=Machine Vorpal
    level=3
    cost=62
    hitpoints=73
    experience=93
    usage=fighter	#Actually, rather a tank
    image="units/enemies/steelhive/vector.png"
    description= _ "This is one of the abominations that Uria created using and developing the knowledge she stole ages ago. It is a lifeless machine that does only what it was made for, and obeys whatever is considered its master's will."
    {DEFENSE_ANIM "units/enemies/steelhive/vector-defend.png" "units/enemies/steelhive/vector.png" "mace.wav" }
    movement=5
    alignment=neutral
    race=monster
    movement_type=demonfoot
    [resistance]
        arcane=40
        fire=80
        cold=70
        pierce=40
        blade=40
        impact=80
    [/resistance]
    {MAGENTA_IS_THE_TEAM_COLOR}
    {TRAIT_MECHANICAL}
    [attack]
        name=vectorblade
        description= _ "vectorblade"
        icon="attacks/rayblade.png"
        type=blade
        range=melee
        damage=11
        number=3
        [specials]
            {WEAPON_SPECIAL_STRUGGLE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=vectorblade
        [/filter_attack]
        [frame]
            begin=-250
            end=-150
            image="units/enemies/steelhive/vector-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                sound={SOUND_LIST:SWORD_SWISH}
                begin=-150
                end=0
                image="units/enemies/steelhive/vector-attack-2.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={SOUND_LIST:MISS}
                begin=-150
                end=0
                image="units/enemies/steelhive/vector-attack-2.png"
            [/frame]
        [/else]
        [frame]
            begin=0
            end=100
            image="units/enemies/steelhive/vector-attack-1.png"
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/enemies/steelhive/vector.png"
        [/frame]
    [/attack_anim]
[/unit_type]
[unit_type]
    id=Machine Vorpal
    name= _ "Machine Vorpal"
    advances_to=null
    {AMLA_DEFAULT}
    level=5
    cost=98
    hitpoints=114
    experience=175
    usage=fighter	#Actually, rather a tank
    image="units/enemies/steelhive/vorpal.png"
    description= _ "This is one of the abominations that Uria created using and developing the knowledge she stole ages ago. It is a lifeless machine that does only what it was made for, and obeys whatever is considered its master's will."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}
    {DEFENSE_ANIM "units/enemies/steelhive/vorpal-defend.png" "units/enemies/steelhive/vorpal.png" "mace.wav" }
    movement=5
    alignment=neutral
    race=monster
    movement_type=demonfoot
    [resistance]
        arcane=40
        fire=80
        cold=70
        pierce=40
        blade=40
        impact=80
    [/resistance]
    {MAGENTA_IS_THE_TEAM_COLOR}
    {TRAIT_MECHANICAL}
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=vorpalblade
        description= _ "vorpalblade"
        icon="attacks/rayblade.png"
        type=blade
        range=melee
        damage=13
        number=4
        [specials]
            {WEAPON_SPECIAL_STRUGGLE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=vorpalblade
        [/filter_attack]
        [frame]
            begin=-250
            end=-150
            image="units/enemies/steelhive/vorpal-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                sound={SOUND_LIST:SWORD_SWISH}
                begin=-150
                end=0
                image="units/enemies/steelhive/vorpal-attack-2.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={SOUND_LIST:MISS}
                begin=-150
                end=0
                image="units/enemies/steelhive/vorpal-attack-2.png"
            [/frame]
        [/else]
        [frame]
            begin=0
            end=100
            image="units/enemies/steelhive/vorpal-attack-1.png"
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/enemies/steelhive/vorpal.png"
        [/frame]
    [/attack_anim]
[/unit_type]
