#textdomain wesnoth-loti
[unit_type]
    id=Succubus
    name= _ "Incubus"
    gender=male,female
    race=demon-loti
    image="units/enemies/demons/incubus.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=120
    movement_type=demonfoot
    movement=6
    experience=300
    level=8
    alignment=liminal
    advances_to=null
    cost=180
    usage=mixed fighter
    description= _ "Succubi and Incubi are a very dangerous kind of demons. The often pretend to be friendly, and are enough attractive to make unprepared victims believe them. They excel at misleading, seducing and manipulating, rather than fighting, and their deadly charm is very dangerous also in combat."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+" Demons are creatures of magic, and arcane attacks have only a little effect on them. If a unit of opposite stands next to this unit at the beginning of its turn, it loses its will to attack that turn, and can only resist the temptation to run away."
    die_sound={SOUND_LIST:ELF_HIT}
    [movement_costs]
        unwalkable=1
    [/movement_costs]
    [abilities]
        {ABILITY_TEMPTATION}
    [/abilities]
    {DEFENSE_ANIM "units/enemies/demons/incubus-attack-1.png" "units/enemies/demons/incubus.png" {SOUND_LIST:ELF_HIT} }
    [attack]
        name=saber
        description=_"saber"
        icon=attacks/saber-human.png
        type=blade
        damage=9
        number=6
        range=melee
    [/attack]
    [attack]
        name=fireball
        description=_"fireball"
        type=fire
        range=ranged
        damage=12
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}

        start_time=-575
        [frame]
            duration=50
            image="units/enemies/demons/incubus.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/demons/incubus-magic.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=225
            image="units/enemies/demons/incubus-magic.png"
        [/frame]
        [frame]
            duration=75
            image="units/enemies/demons/incubus.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=infernal chill
        [/filter_attack]
        {MISSILE_FRAME_ICE}

        start_time=-575
        [frame]
            duration=50
            image="units/enemies/demons/incubus.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/demons/incubus-magic.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=225
            image="units/enemies/demons/incubus-magic.png"
        [/frame]
        [frame]
            duration=75
            image="units/enemies/demons/incubus.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shadow wave
        [/filter_attack]
        [missile_frame]
            begin=-100
            end=100
            image="projectiles/darkmissile-n.png"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]

        [frame]
            begin=-300
            end=-225
            image="units/enemies/demons/incubus.png"
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/enemies/demons/incubus-magic.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/enemies/demons/incubus-magic.png"
            halo=halo/undead/black-magic-1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=0
                image="units/enemies/demons/incubus-magic.png"
                sound=magic-dark.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=0
                image="units/enemies/demons/incubus-magic.png"
                sound=magic-dark-miss.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/else]
        [frame]
            begin=0
            end=75
            image="units/enemies/demons/incubus-magic.png"
            halo=halo/undead/black-magic-3.png
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/enemies/demons/incubus.png"
            halo=halo/undead/black-magic-4.png
        [/frame]

        [frame]
            begin=150
            end=200
            image="units/enemies/demons/incubus.png"
            halo=halo/undead/black-magic-5.png
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/enemies/demons/incubus.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/enemies/demons/incubus.png"
        [/frame]
        [frame]
            begin=-200
            end=-50
            image="units/enemies/demons/incubus-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-50
                end=100
                image="units/enemies/demons/incubus-attack-2.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=100
                image="units/enemies/demons/incubus-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/enemies/demons/incubus.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "Succubus"
        gender=female
        image="units/enemies/demons/succubus.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM "units/enemies/demons/succubus-attack-1.png" "units/enemies/demons/succubus.png" {SOUND_LIST:ELF_FEMALE_HIT} }
        [attack_anim]
            [filter_attack]
                name=fireball
            [/filter_attack]
            {MISSILE_FRAME_FIREBALL}

            [frame]
                image="units/enemies/demons/succubus.png"
            [/frame]
            [frame]
                image="units/enemies/demons/succubus-magic.png"
            [/frame]
            [frame]
                image="units/enemies/demons/succubus-magic.png"
            [/frame]
            [frame]
                image="units/enemies/demons/succubus.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=infernal chill
            [/filter_attack]
            {MISSILE_FRAME_ICE}

            [frame]
                image="units/enemies/demons/succubus.png"
            [/frame]
            [frame]
                image="units/enemies/demons/succubus-magic.png"
            [/frame]
            [frame]
                image="units/enemies/demons/succubus-magic.png"
            [/frame]
            [frame]
                image="units/enemies/demons/succubus.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=shadow wave
            [/filter_attack]
            [missile_frame]
                begin=-100
                end=100
                image="projectiles/darkmissile-n.png"
                image_diagonal="projectiles/darkmissile-ne.png"
            [/missile_frame]

            [frame]
                image="units/enemies/demons/succubus.png"
            [/frame]
            [frame]
                image="units/enemies/demons/succubus-magic.png"
            [/frame]
            [frame]
                image="units/enemies/demons/succubus-magic.png"
            [/frame]
            [if]
                hits=yes
                [frame]
                    image="units/enemies/demons/succubus-magic.png"
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    image="units/enemies/demons/succubus-magic.png"
                [/frame]
            [/else]
            [frame]
                image="units/enemies/demons/succubus.png"
            [/frame]
            [frame]
                image="units/enemies/demons/succubus.png"
            [/frame]
            [frame]
                image="units/enemies/demons/succubus.png"
            [/frame]
            [frame]
                image="units/enemies/demons/succubus.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                range=melee
            [/filter_attack]
            [frame]
                image="units/enemies/demons/succubus.png"
            [/frame]
            [frame]
                image="units/enemies/demons/succubus-attack-1.png"
            [/frame]
            [if]
                hits=yes
                [frame]
                    image="units/enemies/demons/succubus-attack-2.png"
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    image="units/enemies/demons/succubus-attack-2.png"
                [/frame]
            [/else]
            [frame]
                image="units/enemies/demons/succubus.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
