#textdomain wesnoth-loti
[unit_type]
    id=Suicide Drone
    name= _ "Suicide Drone"
    level=3
    advances_to=null
    cost=56
    hitpoints=50
    {QUANTITY hitpoints 20 35 50}
    experience=0
    usage=archer
    image="units/enemies/steelhive/drone.png"
    halo=halo/tentacles-1.png~RC(black>red):200,halo/tentacles-2.png~RC(black>red):200,halo/tentacles-3.png~RC(black>red):200,halo/tentacles-4.png~RC(black>red):200,halo/tentacles-5.png~RC(black>red):200
    description= _ ""
    movement=7
    alignment=neutral
    race=monster
    movement_type=fly
    {TRAIT_MECHANICAL}
    {TRAIT_UNSTABLE}
    {DEFENSE_ANIM "units/enemies/steelhive/drone-defend-2.png" "units/enemies/steelhive/drone-defend-1.png" "lightning.ogg"}
    [resistance]
        arcane=40
        {QUANTITY arcane 100 70 40}
        fire=80
        {QUANTITY fire 100 90 80}
        cold=70
        {QUANTITY cold 100 85 70}
        pierce=100
        {QUANTITY pierce 120 110 100}
        blade=50
        {QUANTITY blade 100 75 50}
        impact=80
        {QUANTITY impact 100 90 80}
    [/resistance]
    [abilities]
#ifdef HARD
        {ABILITY_SKIRMISHER}
#endif
    [/abilities]
    [attack]
        name=shock
        description= _"shock"
        icon=attacks/lightning.png
        type=lightning
        range=melee
        damage=20
        number=1
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_EXPLOSIVE_DETONATION}
        [/specials]
    [/attack]
    [standing_anim]
        start_time=0
        [frame]
            duration=200
            image="units/enemies/steelhive/drone.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/drone-float-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/drone-float-3.png"
        [/frame]
        [frame]
            duration=200
            image="units/enemies/steelhive/drone-float-2.png"
        [/frame]
    [/standing_anim]
    [attack_anim]
       [missile_frame]
            begin=-200
            end=0
            image="projectiles/shockmissile-n.png"
            image_diagonal="projectiles/shockmissile-ne.png"
        [/missile_frame]
        [frame]
            begin=-300
            end=-200
            image="units/enemies/steelhive/drone.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/enemies/steelhive/drone-ranged-1.png"
                sound=magic-dark-big-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/enemies/steelhive/drone-ranged-1.png"
                sound=lightning.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=0
            image="units/enemies/steelhive/drone-ranged-2.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/enemies/steelhive/drone-ranged-1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/enemies/steelhive/drone.png"
        [/frame]
    [/attack_anim]
[/unit_type]
