#textdomain wesnoth-loti
[unit_type]
    id=Swordmaster
    name= _ "Swordmaster"
    race=human
    image="units/humans/swordmaster.png"
    profile="portraits/humans/royal-guard.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=83
    movement_type=smallfoot
    movement=6
    experience=140
    {QUANTITY experience 100 120 140}
    level=4
    alignment=lawful
    advances_to=null
    cost=57
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Royal Guard
        experience=320
    [/advancefrom]
#endif
    description= _ "Some royal guards show a great expertise with swords, not only good defensive abilities, so they act as the main offensive force of defensive forces. Shattering the lines of enemy defence in times of war and protecting castles in times of peace, swordmasters are the greatest elite of human soldiers.

Note: The ability upgrades may require some books to learn them from."
    die_sound={SOUND_LIST:HUMAN_DIE}
    usage=fighter
    {DEFENSE_ANIM "units/humans/swordmaster-defend.png" "units/humans/swordmaster.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=80
        impact=80
        pierce=90
    [/resistance]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/royal-guard.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/royal-guard.png"
    [/portrait]
    [attack]
        name=sword
        description=_"two-bladed sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=6
        [specials]
            {WEAPON_SPECIAL_STRUGGLE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-100
            end=-25
            image="units/humans/swordmaster.png"
            offset=0.0~0.1
        [/frame]
        [frame]
            begin=-25
            end=50
            image="units/humans/swordmaster-attack-1.png"
            offset=0.1~0.15
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=50
                end=125
                image="units/humans/swordmaster-attack-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
                offset=0.35~0.45
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=50
                end=125
                image="units/humans/swordmaster-attack-2.png"
                sound={SOUND_LIST:MISS}
                offset=0.35~0.45
            [/frame]
        [/else]
        [frame]
            begin=125
            end=200
            image="units/humans/swordmaster-attack-2-1.png"
            offset=0.45~0.5
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/humans/swordmaster.png"
            offset=0.45~0.5
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-100
            end=-25
            image="units/humans/swordmaster.png"
            offset=0.0~0.1
        [/frame]
        [frame]
            begin=-25
            end=50
            image="units/humans/swordmaster-attack-2-1.png"
            offset=0.1~0.15
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=50
                end=125
                image="units/humans/swordmaster-attack-2-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
                offset=0.35~0.45
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=50
                end=125
                image="units/humans/swordmaster-attack-2-2.png"
                sound={SOUND_LIST:MISS}
                offset=0.35~0.45
            [/frame]
        [/else]
        [frame]
            begin=125
            end=200
            image="units/humans/swordmaster-attack-3.png"
            offset=0.45~0.5
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/humans/swordmaster.png"
            offset=0.45~0.5
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/humans/swordmaster.png units/humans/swordmaster-attack-1.png units/humans/swordmaster-attack-2.png units/humans/swordmaster.png units/humans/swordmaster-attack-1.png units/humans/swordmaster-attack-2.png (
        [advancement]
            max_times=1
            always_display=yes
            id=sword
            description= _ "striking better with sword"
            image=attacks/sword-human.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=sword
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword2
            description= _ "striking faster with sword"
            image=attacks/sword-human.png
            strict_amla=yes
            require_amla="sword"
            [effect]
                apply_to=attack
                name=sword
                increase_damage=-1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=sword3
            description= _ "striking better with sword"
            image=attacks/sword-human.png
            strict_amla=yes
            require_amla="sword2,sword"
            [effect]
                apply_to=attack
                name=sword
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=parry
            description= _ "able to attack parrying enemy blows"
            image=attacks/saber-human.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=parry
                description= _ "parry"
                icon=attacks/sword-human.png
                range=melee
                clone_anim=yes
                defense_weight=0
                damage=-20
                number=-70
                [specials]
                    {WEAPON_SPECIAL_PARRY}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=parry2
            description= _ "parrying better"
            image=attacks/saber-human.png
            strict_amla=yes
            require_amla="parry"
            [effect]
                apply_to=improve_bonus_attack
                name=parry
                increase_damage=10
                increase_attacks=5
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=doom
            description= _ "able to attack in a terrible way that lowers enemy resistance"
            image=attacks/axe-unholy.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=doom
                description= _ "doom"
                icon=attacks/sword-human.png
                range=melee
                defense_weight=0
                damage=-30
                number=-30
                clone_anim=yes
                [specials]
                    {WEAPON_SPECIAL_DOOM}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=doom2
            description= _ "crippling enemies better"
            image=attacks/axe-unholy.png
            strict_amla=yes
            require_amla="doom"
            [effect]
                apply_to=improve_bonus_attack
                name=doom
                increase_damage=15
                increase_attacks=5
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=block
            max_times=5
            description= _ "better at defending"
            image=icons/shield_steel.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-2
                    shallow_water=-2
                    deep_water=-2
                    reef=-2
                    flat=-2
                    castle=-2
                    village=-2
                    forest=-2
                    cave=-2
                    hills=-2
                    mountains=-2
                    fungus=-2
                    swamp_water=-2
                    sand=-2
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better protected from physical blows (2% better resistances)"
            image=icons/steel_armor.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-2
                    pierce=-2
                    impact=-2
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Swordmaster"}
