#textdomain wesnoth-loti
[unit_type]
    id=Sword Mage
    name= _ "Sword Mage"
    race=human
    gender=male,female
    image="units/humans/sword-mage.png"
    profile="portraits/humans/fencer.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=43
    movement_type=elusivefoot
    movement=6
    experience=48
    level=2
    alignment=lawful
    advances_to=Knight of Magic
    cost=32
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Mage
    [/advancefrom]
    [advancefrom]
        unit=Mage LotI
    [/advancefrom]
    [advancefrom]
        unit=Fencer
    [/advancefrom]
#endif
    usage=fighter
    description= _ "Because both mages and fencers prefer not to use armours, some mages or fencers came to an idea to practise both with a sword and with spells. This is incredibly hard to learn, requiring them to study in libraries and practise sword fights with any fighter who happens to cross their way, such as silk-stocking duelists wandering around, itching after potential affronts. No matter if they are mages or fencers, they are always considered to be too different by their fellow mages or fencers, and are excluded. As a result, they dislike the society and argue with any possible comrade. Due to this, all allies adjacent to a Sword Mage do 20% less damage."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/fencer.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/fencer.png"
    [/portrait]
    [resistance]
        fire=90
    [/resistance]
    [abilities]
        {ABILITY_ANTISOCIAL}
    [/abilities]
    {DEFENSE_ANIM "units/humans/sword-mage-defend.png" "units/humans/sword-mage.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=saber
        description=_"saber"
        icon=attacks/saber-human.png
        type=blade
        damage=6
        number=5
        range=melee
    [/attack]
    [attack]
        name=fireball
        description=_"fireball"
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=saber
        [/filter_attack]
        [frame]
            begin=-300
            end=-200
            image="units/humans/sword-mage-attack-1.png"
        [/frame]
        [frame]
            begin=-200
            end=-50
            image="units/humans/sword-mage-attack-2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-50
                end=50
                image="units/humans/sword-mage-attack-3.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=50
                end=50
                image="units/humans/sword-mage-attack-3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=200
            image="units/humans/sword-mage-attack-4.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}

        start_time=-575
        [frame]
            duration=50
            image="uunits/humans/sword-mage.png"
        [/frame]
        [frame]
            duration=100
            image="units/humans/sword-mage-magic-1.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=150
            image="units/humans/sword-mage-magic-2.png"
        [/frame]
        [frame]
            duration=75
            image="units/humans/sword-mage-magic-1.png"
        [/frame]
        [frame]
            duration=75
            image="units/humans/sword-mage.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Sword Mage"
        gender=female
        image="units/humans/sword-mage+female.png"
        profile="portraits/humans/mage+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/humans/sword-mage+female-defend.png" "units/humans/sword-mage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/humans/transparent/mage+female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/humans/transparent/mage+female.png"
        [/portrait]
        [attack_anim]
            [filter_attack]
                name=saber
            [/filter_attack]
            [frame]
                image="units/humans/sword-mage+female-attack-1.png"
            [/frame]
            [frame]
                image="units/humans/sword-mage+female-attack-2.png"
            [/frame]
            [if]
                hits=yes
                [frame]
                    image="units/humans/sword-mage+female-attack-3.png"
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    image="units/humans/sword-mage+female-attack-3.png"
                [/frame]
            [/else]
            [frame]
                image="units/humans/sword-mage+female-attack-4.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=fireball
            [/filter_attack]
            {MISSILE_FRAME_FIREBALL}

            start_time=-575
            [frame]
                image="uunits/humans/sword-mage+female.png"
            [/frame]
            [frame]
                image="units/humans/sword-mage+female-magic-1.png"
            [/frame]
            [frame]
                image="units/humans/sword-mage+female-magic-2.png"
            [/frame]
            [frame]
                image="units/humans/sword-mage+female-magic-1.png"
            [/frame]
            [frame]
                image="units/humans/sword-mage+female.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
