#textdomain wesnoth-units
[unit_type]
    id=Elvish Sylph LotI
    name= _ "female^Elvish Sylph"
    race=elf
    gender=female
    image="units/elves-wood/sylph.png"
    small_profile="portraits/elves/sylph.png~CROP(26,30,420,420)"
    profile="portraits/elves/sylph.png~RIGHT()"
    halo=halo/elven/shyde-stationary-halo[1~6].png:150
    hitpoints=68
    movement_type=woodlandfloat
    movement=6
    experience=140
    {QUANTITY experience 130 150 170}
    level=4
    alignment=neutral
    advances_to=null
    cost=161
    usage=mixed fighter
    description= _ "Tremendously powerful in unfathomable ways, the sage-like Sylphs are masters of manipulating the bridge between the mundane and arcane worlds. Long years spent peering into the ethereal realm have eroded the ability of these elves to view the physical world; in return, they are granted an abstract sight, gaining the ability to view one or even several different aspects of reality’s essence. Like the many shards of a broken mirror, the myriad fractures of the material world reflect the light of the arcane through its many different facets. Careful practice allows one to follow these strands of light from pane to pane, observing how the outcome of physical reality evolves with each choice made of free will. While direct weaving of the connecting fabric is usually impossible to achieve, indirect manipulation is feasible by machination in the corporeal plane where the reflection of the arcane plane is strongest. The ability of a Sylph to locate these ‘reflection pools’ and steer them is one of her greatest — and most feared — abilities."
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [resistance]
        arcane=80
    [/resistance]
    [attack]
        name=faerie touch
        description=_"faerie touch"
        icon=attacks/touch-faerie.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=6
        number=3
        range=melee
    [/attack]
    [attack]
        name=gossamer
        description=_"gossamer"
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=7
        number=5
        range=ranged
        icon=attacks/web.png
    [/attack]
    [attack]
        name=faerie fire
        description=_"faerie fire"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=16
        number=5
        range=ranged
        icon=attacks/faerie-fire.png
    [/attack]
    [defend]
        start_time=-175
        [frame]
            duration=25
            image="units/elves/sylph.png"
            halo=halo/elven/elven-shield-halo-20pct.png
        [/frame]
        [frame]
            duration=25
            image="units/elves/sylph.png"
            halo=halo/elven/elven-shield-halo-40pct.png
        [/frame]
        [frame]
            duration=50
            image="units/elves/sylph.png"
            halo=halo/elven/elven-shield-halo-60pct.png
        [/frame]
        [frame]
            duration=50
            image=units/elves/sylph-defend.png
            halo=halo/elven/elven-shield-halo-80pct.png
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=100
                image=units/elves/sylph-defend.png
                sound={SOUND_LIST:ELF_FEMALE_HIT}
                halo=halo/elven/elven-shield-halo-100pct.png
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=100
                image=units/elves/sylph-defend.png
                halo=halo/elven/elven-shield-halo-100pct.png
            [/frame]
        [/else]
        [frame]
            duration=50
            image=units/elves/sylph-defend.png
            halo=halo/elven/elven-shield-halo-80pct.png
        [/frame]
        [frame]
            duration=25
            image="units/elves/sylph.png"
            halo=halo/elven/elven-shield-halo-60pct.png
        [/frame]
        [frame]
            duration=25
            image="units/elves/sylph.png"
            halo=halo/elven/elven-shield-halo-40pct.png
        [/frame]
        [frame]
            duration=25
            image="units/elves/sylph.png"
            halo=halo/elven/elven-shield-halo-20pct.png
        [/frame]
    [/defend]
    [attack_anim]
        [filter_attack]
            name=faerie fire
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_FIRE}

        start_time=-450
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -450}
        [frame]
            image="units/elves/sylph-magic-[1,2*5,1].png:75"
            halo=halo/elven/faerie-fire-halo[1~7].png
            halo_x,halo_y=0,-28
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=gossamer
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            duration=150
            image="projectiles/web.png"
            image_diagonal="projectiles/web.png"
        [/missile_frame]
        start_time=-450
        [frame]
            image="units/elves/sylph-magic-[1,2*5,1].png:75"
            halo=halo/elven/faerie-fire-halo[1~7].png:75
            halo_x,halo_y=0,-28
        [/frame]
        attack_sound_start_time=-75
        [attack_sound_frame]
            sound=entangle.wav
        [/attack_sound_frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=faerie touch
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/elves/sylph-melee.png:[300]"
        [/frame]
    [/attack_anim]
#textdomain wesnoth-loti
    {GENERIC_AMLA units/elves/sylph.png units/elves/sylph-magic-1.png units/elves/sylph-magic-2.png units/elves/sylph.png units/elves/sylph-magic-1.png units/elves/sylph-magic-2.png (
        [advancement]
            max_times=1
            id=melee
            description= _ "faster at melee combat"
            image="attacks/touch-faerie.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=faerie touch
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=melee2
            description= _ "better at melee combat"
            image="attacks/touch-faerie.png"
            strict_amla=yes
            require_amla="melee"
            [effect]
                apply_to=attack
                name=faerie touch
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=web
            description= _ "faster with spiderwebs"
            image="attacks/web.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=gossamer
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=web2
            description= _ "better with spiderwebs"
            image="attacks/web.png"
            strict_amla=yes
            require_amla="web"
            [effect]
                apply_to=attack
                name=gossamer
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            id=magic
            description= _ "faster with faerie fire"
            image="attacks/faerie-fire.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=faerie fire
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            id=magic2
            description= _ "better with faerie fire"
            image="attacks/faerie-fire.png"
            strict_amla=yes
            require_amla="magic"
            [effect]
                apply_to=attack
                name=faerie fire
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=arcane_penetrate
            description= _ "decreasing arcane resistance of opponents by 10%"
            image=attacks/noctum.png
            strict_amla=yes
            require_amla=""
            arcane_penetrate=10
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=arcane_penetrate2
            description= _ "decreasing arcane resistance of opponents by 5% more"
            image=attacks/noctum.png
            strict_amla=yes
            require_amla="arcane_penetrate"
            arcane_penetrate=5
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=conviction
            description= _ "able to make enemies feel their guilt (-15% to non-physical resistances)"
            image=attacks/foot-boot.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_CONVICTION 15}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=conviction
            description= _ "deal 20% more damage, make all adjacent units deal 20% more damage"
            image=attacks/fist.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_ALL_DAMAGE_AURA 20}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            {AMLA_DEFAULT_BONUSES}
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/advancement]
    ) "Elvish Sylph LotI"}
[/unit_type]
