#textdomain wesnoth-units
[unit_type]
    id=The Prince
    name= _ "Prince"
    race=human
    image="units/enemies/the_prince.png"
    profile="portraits/humans/fencer.png"
    [leading_anim]
        start_time=-150
        [frame]
            image="units/enemies/the_prince-attack3.png:300"
        [/frame]
    [/leading_anim]
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=90
    movement_type=smallfoot
    movement=6
    experience=250
    level=5
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=200
    usage=fighter
    description= _ "A prince is virtuous, but is able to abandon his virtues in situations of necessity. He is loved for his virtues, but feared for the possibility of being forced to abandon these virtues. Because people worry less about doing an injury to someone that is loved than to one who they fear, he has to choose the rule by fear in hard times. The hard times have come, so it is time to fear the prince."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM_RANGE "units/enemies/the_prince-defend.png" "units/enemies/the_prince-defend.png" {SOUND_LIST:HUMAN_HIT} melee }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/fencer.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/fencer.png"
    [/portrait]
    [resistance]
        blade=70
        pierce=70
        impact=70
	fire=60
	cold=60
	arcane=60
    [/resistance]
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_5}
    [/abilities]
    [attack]
        name=sword
        description=_"longsword"
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=17
        number=5
    [/attack]
    [attack]
        name=thunderstick
        description=_"thunderstick"
        type=pierce
        range=ranged
        damage=52
        number=1
        icon=attacks/thunderstick.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-300
        [frame]
            image="units/enemies/the_prince.png:50"
            offset=0.0~0.15
        [/frame]
        [frame]
            image="units/enemies/the_prince-attack[1~4].png:[100,100,100,100]"
            offset=0.15~0.35:100,0.35~0.7:100,0.7~0.35:100,0.35~0.15:100
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -150}
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} 0}
        [frame]
            image="units/enemies/the_prince.png:75"
            offset=0.15~0.0
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=thunderstick
        [/filter_attack]
        start_time=-750

        [if]
            direction=s
            hits=yes
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH 2 1}
        [/if]
        [else]
            direction=s
            hits=no
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 4 7}
        [/else]
        [else]
            direction=ne,nw
            hits=yes
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH -1 16}
        [/else]
        [else]
            direction=ne,nw
            hits=no
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 8 -1}
        [/else]
        [else]
            direction=n
            hits=yes
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH -10 19}
        [/else]
        [else]
            direction=n
            hits=no
            {MISSILE_FRAME_MUZZLE_FLARE_MISS -9 -4}
        [/else]
        [else]
            direction=se,sw
            hits=yes
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH -3 7}
        [/else]
        [else]
            direction=se,sw
            hits=no
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 11 8}
        [/else]

        [frame]
            image="units/enemies/the_prince-gun.png:800"
        [/frame]
        [frame]
            image="units/enemies/the_prince.png:10"
        [/frame]

        {SOUND:HIT_AND_MISS thunderstick.ogg thunderstick-miss.ogg -250}
    [/attack_anim]
[/unit_type]
