#textdomain wesnoth-loti

#copied entirely from BEEM
#changed a bit in Sojournings of Grog
#AMLA and slight changes to fit the campaign added by Dugi

[unit_type]
    id=Troll Boulderlobber
    name= _ "Troll Boulderlobber"
    race=troll
    image="units/trolls/boulderlobber.png"
    profile=portraits/trolls/troll.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=62
    movement_type=largefoot
    movement=5
    {QUANTITY experience 70 85 100}
    level=3
    alignment=chaotic
    advances_to=null
    undead_variation=troll
    cost=43
    usage=mixed fighter #fighter in the origional from BEEM
    description= _ "Some trolls show an uncommon ability in throwing boulders. These Boulderlobbers throw enormous rocks, that common trolls could not even lift and that are often bigger than a man."+{SPECIAL_NOTES}+{SPECIAL_NOTES_REGENERATES}
    die_sound={SOUND_LIST:TROLL_DIE}
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Troll Rocklobber
        experience=225
    [/advancefrom]
#endif
    [attack]
        name=fist
        description=_"fist"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=13
        number=2
    [/attack]
    [attack]
        name=sling
        description=_"sling"
        type=impact
        range=ranged
        damage=26
        number=1
    [/attack]
    {DEFENSE_ANIM "units/trolls/boulderlobber-defend.png" "units/trolls/boulderlobber.png" {SOUND_LIST:TROLL_HIT} }
    [attack_anim]
        [filter_attack]
            name=sling
        [/filter_attack]

        start_time=-1000
        offset=0

        [if]
            hits=yes
            [sling_stone_frame]
                begin=-801
                end=-800
                image="misc/blank-hex.png"
            [/sling_stone_frame]
            [sling_stone_frame]
                begin=-800
                end=0
                halo="projectiles/stone-large.png"
                halo_x=24~0
                halo_y=0~-10,-10~-18,-18~-22,-22~-24,-24~-25,-25~-24,-24~-22,-22~-18,-18~-10,-10~-0
                offset=0.0~1.0
            [/sling_stone_frame]
            [sling_stone_frame]
                begin=0
                end=1
                image="misc/blank-hex.png"
            [/sling_stone_frame]

            [frame]
                duration=200
                image="units/trolls/boulderlobber-attack-ranged1.png"
                sound=sling-big.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [sling_stone_frame]
                begin=-801
                end=-800
                image="misc/blank-hex.png"
            [/sling_stone_frame]
            [sling_stone_frame]
                begin=-800
                end=100
                halo="projectiles/stone-large.png"
                halo_x=24~0
                halo_y=0~-10,-10~-16,-16~-20,-20~-22,-22~-20,-20~-16,-16~-10,-10~0,0~-4,-4~0,0~-2,-2~0
                offset=0.0~1.5
            [/sling_stone_frame]
            [sling_stone_frame]
                begin=100
                end=101
                image="misc/blank-hex.png"
            [/sling_stone_frame]

            [frame]
                duration=200
                image="units/trolls/boulderlobber-attack-ranged1.png"
                sound=sling-big-miss.ogg
            [/frame]
        [/else]
        [frame]
            duration=600
            image="units/trolls/boulderlobber-attack-ranged2.png"
        [/frame]
        [frame]
            duration=100
            image="units/trolls/boulderlobber-defend.png"
        [/frame]
        [frame]
            duration=100
            image="units/trolls/boulderlobber.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image="units/trolls/boulderlobber.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=250
                image="units/trolls/boulderlobber-attack-melee.png"
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=250
                image="units/trolls/boulderlobber-attack-melee.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/trolls/boulderlobber.png"
        [/frame]
    [/attack_anim]

    {GENERIC_AMLA units/trolls/boulderlobber.png units/trolls/boulderlobber-defend.png units/trolls/boulderlobber-attack-ranged1.png units/trolls/boulderlobber.png units/trolls/boulderlobber-defend.png units/trolls/boulderlobber-attack-ranged1.png (
        [advancement]
            id=sling
            max_times=1
            description= _ "throwing boulders better"
            image=attacks/sling.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=sling
                increase_damage=4
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=sling2
            max_times=1
            description= _ "throwing boulders better"
            image=attacks/sling.png
            strict_amla=yes
            require_amla="sling"
            [effect]
                apply_to=attack
                name=sling
                increase_damage=3
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=sling3
            max_times=10
            description= _ "throwing boulders better"
            image=attacks/sling.png
            strict_amla=yes
            require_amla="sling2"
            [effect]
                apply_to=attack
                name=sling
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=sling-slow
            max_times=1
            description= _ "throwing boulders that stun enemies"
            image=attacks/sling.png
            strict_amla=yes
            require_amla="sling2"
            [effect]
                apply_to=attack
                name=sling
                [set_specials]
                    {WEAPON_SPECIAL_SLOW}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=fist
            max_times=1
            description= _ "punching enemies better"
            image=attacks/fist-troll.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=fist
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=fist2
            max_times=5
            description= _ "punching enemies faster"
            image=attacks/fist-troll.png
            strict_amla=yes
            require_amla="fist"
            [effect]
                apply_to=attack
                name=fist
                increase_damage=-4
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=fist3
            max_times=10
            description= _ "punching enemies better"
            image=attacks/fist-troll.png
            strict_amla=yes
            require_amla="fist"
            [effect]
                apply_to=attack
                name=fist
                increase_damage=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better protected from physical blows (2% better resistances)"
            image=icons/steel_armor.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-2
                    pierce=-2
                    impact=-2
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=regeneration1
            max_times=1
            description= _ "regenerating 4 additional hitpoints per turn"
            image=icons/potion_green_medium.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_REGENERATES}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 12}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=regeneration2
            max_times=1
            description= _ "regenerating 3 additional hitpoints per turn"
            image=icons/potion_green_medium.png
            strict_amla=yes
            require_amla="regeneration1"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 12}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 15}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=regeneration3
            max_times=1
            description= _ "regenerating 3 additional hitpoints per turn"
            image=icons/potion_green_medium.png
            strict_amla=yes
            require_amla="regeneration1,regeneration2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 15}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 18}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=regeneration4
            max_times=1
            description= _ "regenerating 2 additional hitpoints per turn"
            image=icons/potion_green_medium.png
            strict_amla=yes
            require_amla="regeneration1,regeneration2,regeneration3"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 18}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 20}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=regeneration5
            max_times=1
            description= _ "regenerating 2 additional hitpoints per turn"
            image=icons/potion_green_medium.png
            strict_amla=yes
            require_amla="regeneration1,regeneration2,regeneration3,regeneration4"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 20}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 22}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=regeneration6
            max_times=1
            description= _ "regenerating 2 additional hitpoints per turn"
            image=icons/potion_green_medium.png
            strict_amla=yes
            require_amla="regeneration1,regeneration2,regeneration3,regeneration4,regeneration5"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 22}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_REGENERATES_OTHER 24}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Troll Boulderlobber"}
