#textdomain wesnoth-units
[unit_type]
    id=Vampire Spearman
    {TRAIT_UNDEAD}
    [base_unit]
        id=Spearman
    [/base_unit]
    advances_to=Vampire Swordsman,Vampire Lieutenant
    level=2
    [resistance]
        arcane=140
    [/resistance]
    alignment=chaotic
    hitpoints=45
    hide_help=true
    do_not_list=yes
    [attack]
        name=spear
        description=_"spear"
        type=arcane
        range=melee
        damage=10
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
    [attack]
        name=javelin
        description=_"javelin"
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=7
        number=1
        [specials]
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Swordsman
    {TRAIT_UNDEAD}
    [base_unit]
        id=Swordsman
    [/base_unit]
    advances_to=Vampire Guard
    level=3
    alignment=chaotic
    hitpoints=63
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=arcane
        range=melee
        damage=11
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Guard
    {TRAIT_UNDEAD}
    [base_unit]
        id=Royal Guard
    [/base_unit]
    level=4
    alignment=chaotic
    hitpoints=85
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=sword
        description=_"longsword"
        icon=attacks/greatsword-human.png
        type=arcane
        range=melee
        damage=14
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Lieutenant
    {TRAIT_UNDEAD}
    [base_unit]
        id=Lieutenant
    [/base_unit]
    advances_to=Vampire General
    level=3
    alignment=chaotic
    hitpoints=50
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=arcane
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire General
    {TRAIT_UNDEAD}
    [base_unit]
        id=General
    [/base_unit]
    advances_to=Vampire General
    level=4
    alignment=chaotic
    hitpoints=60
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=arcane
        range=melee
        damage=12
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Overlord
    {TRAIT_UNDEAD}
    [base_unit]
        id=Grand Marshal
    [/base_unit]
    level=5
    alignment=chaotic
    hitpoints=70
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=arcane
        range=melee
        damage=13
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Fencer
    {TRAIT_UNDEAD}
    [base_unit]
        id=Fencer
    [/base_unit]
    level=2
    advances_to=Vampire Duellist
    alignment=chaotic
    hitpoints=33
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=saber
        description=_"saber"
        icon=attacks/saber-human.png
        type=arcane
        damage=6
        number=4
        range=melee
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Duelist
    {TRAIT_UNDEAD}
    [base_unit]
        id=Duelist
    [/base_unit]
    advances_to=Vampire Master
    level=3
    alignment=chaotic
    hitpoints=50
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=saber
        description=_"saber"
        icon=attacks/saber-human.png
        type=arcane
        range=melee
        damage=7
        number=5
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=14
        number=1
        [specials]
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Master
    {TRAIT_UNDEAD}
    [base_unit]
        id=Master at Arms
    [/base_unit]
    level=4
    alignment=chaotic
    hitpoints=64
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=saber
        description=_"saber"
        icon=attacks/saber-human.png
        type=arcane
        range=melee
        damage=10
        number=5
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=24
        number=1
        [specials]
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Bowman
    {TRAIT_UNDEAD}
    [base_unit]
        id=Bowman
    [/base_unit]
    advances_to=Vampire Longbowman
    level=2
    alignment=chaotic
    hitpoints=38
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=short sword
        description=_"short sword"
        icon=attacks/sword-human-short.png
        type=arcane
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        type=pierce
        range=ranged
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Longbowman
    {TRAIT_UNDEAD}
    [base_unit]
        id=Longbowman
    [/base_unit]
    advances_to=Vampire Master Bowman
    level=3
    alignment=chaotic
    hitpoints=56
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=arcane
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
    [attack]
        name=bow
        description=_"longbow"
        type=pierce
        range=ranged
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Master Bowman
    {TRAIT_UNDEAD}
    [base_unit]
        id=Master Bowman
    [/base_unit]
    level=4
    alignment=chaotic
    hitpoints=74
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=arcane
        range=melee
        damage=11
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
    [attack]
        name=bow
        description=_"longbow"
        type=pierce
        range=ranged
        damage=13
        number=4
        [specials]
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Assassin
    {TRAIT_UNDEAD}
    [base_unit]
        id=Assassin
    [/base_unit]
    level=4
    alignment=chaotic
    hitpoints=60
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_NIGHTSTALK}
    [/abilities]
    [attack]
        name=dagger
        description=_"dagger"
        icon=attacks/dagger-human.png
        type=arcane
        range=melee
        damage=11
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
    [/attack]
    [attack]
        name=knife
        description=_"knife"
        icon=attacks/dagger-thrown-poison-human.png
        type=blade
        range=ranged
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
        damage=6
        number=3
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Heavy Infantryman
    {TRAIT_UNDEAD}
    [base_unit]
        id=Heavy Infantryman
    [/base_unit]
    level=2
    alignment=chaotic
    hitpoints=43
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=mace
        description=_"mace"
        icon=attacks/mace-spiked.png
        type=arcane
        [specials]
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
        range=melee
        damage=14
        number=2
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Shock Trooper
    {TRAIT_UNDEAD}
    [base_unit]
        id=Shock Trooper
    [/base_unit]
    level=3
    alignment=chaotic
    hitpoints=56
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=morning star
        description=_"flail"
        icon=attacks/morning-star.png
        type=arcane
        [specials]
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
        range=melee
        damage=23
        number=2
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Iron Mauler
    {TRAIT_UNDEAD}
    [base_unit]
        id=Iron Mauler
    [/base_unit]
    level=4
    alignment=chaotic
    hitpoints=70
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=mace
        description=_"mace"
        icon=attacks/mace-spiked.png
        type=arcane
        [specials]
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
        range=melee
        damage=31
        number=2
    [/attack]
[/unit_type]
[unit_type]
    id=Vampire Cavalier
    {TRAIT_UNDEAD}
    [base_unit]
        id=Cavalier
    [/base_unit]
    level=4
    alignment=chaotic
    hitpoints=70
    hide_help=true
    do_not_list=yes
    [resistance]
        arcane=140
        blade=70
        impact=60
        cold=80
    [/resistance]
    [attack]
        name=sword
        description=_"longsword"
        icon=attacks/greatsword-human.png
        type=arcane
        range=melee
        [specials]
            {WEAPON_SPECIAL_CHAOTIC}
        [/specials]
        damage=13
        number=4
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=24
        number=1
    [/attack]
[/unit_type]
