#textdomain wesnoth-loti
[unit_type]
    id=Voracious Herb
    name= _ "Voracious Herb"
    race=monster
    image="units/enemies/plants/pianta_carnivora.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=120
    movement_type=carnivorousplantfoot
    movement=1
    experience=400
    level=3
    alignment=neutral
    advances_to=Flower of Evil
    cost=98
    usage=fighter
    description= _ "Voracious Herb is one of the few plants adopted to the hostile environment in Inferno after Uria's arrival. They are dangerous even to approach, and their main source of food are creatures living around, imps and demons, but if more interesting prey is nearby, they leave them alone. They are extremely dangerous in proximity of symbiotic mushrooms."+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_FEEDING}
    die_sound=wose-hit.ogg
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/enemies/plants/pianta_carnivora_mov.png"
        [/frame]
    [/movement_anim]
    {DEFENSE_ANIM "units/enemies/plants/pianta_carnivora_difesa.png" "units/enemies/plants/pianta_carnivora.png" wose-hit.ogg }
    [abilities]
        {ABILITY_REGENERATES}
        {ABILITY_FEEDING}
    [/abilities]

    [attack]
        name=fangs
        description=_"fangs"
        icon="attacks/fangs-poison.png"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_POISON}
            [firststrike]
                id=firststrike
                name= _ "first strike"
                description= _ "This unit always strikes first with this attack, even when defending."
                [filter_self]
                    [filter_adjacent]
                        type=Deathshroom
                        [or]
                            type=Hatredshroom
                        [/or]
                    [/filter_adjacent]
                [/filter_self]
            [/firststrike]
            [damage]
                id=charge
                name= _ "charge"
                description= _ "When used offensively, this attack deals double damage to the target. It also causes this unit to take double damage from the target’s counterattack."
                multiply=2
                apply_to=both
                active_on=offense
                [filter_self]
                    [filter_adjacent]
                        type=Deathshroom
                        [or]
                            type=Hatredshroom
                        [/or]
                    [/filter_adjacent]
                [/filter_self]
            [/damage]
        [/specials]
        range=melee
        damage=32
        number=2
    [/attack]

    [death]
        start_time=0
        [frame]
            duration=100
            image="units/enemies/plants/pianta_carnivora_die1.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/plants/pianta_carnivora_die2.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/plants/pianta_carnivora_die3.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/plants/pianta_carnivora_die4.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/plants/pianta_carnivora_die5.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/plants/pianta_carnivora_die6.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/plants/pianta_carnivora_die7.png"
        [/frame]
        [frame]
            duration=100
            image="units/enemies/plants/pianta_carnivora_die8.png"
        [/frame]
    [/death]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        [frame]
            begin=-330
            end=-270
            image="units/enemies/plants/pianta_carnivora_attack1.png"
        [/frame]
        [frame]
            begin=-270
            end=-200
            image="units/enemies/plants/pianta_carnivora_attack2.png"
        [/frame]
        [frame]
            begin=-200
            end=-150
            image="units/enemies/plants/pianta_carnivora_attack3.png"
            sound=bite.ogg
        [/frame]
        [frame]
            begin=-150
            end=150
            image="units/enemies/plants/pianta_carnivora_attack4.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/enemies/plants/pianta_carnivora_attack5.png"
        [/frame]
        [frame]
            begin=200
            end=230
            image="units/enemies/plants/pianta_carnivora_attack6.png"
        [/frame]
    [/attack_anim]
[/unit_type]
