#textdomain wesnoth-loti
[unit_type]
    id=Werewolf Rider
    name= _ "Werewolf Rider"
    race=wolf
    image="units/orcs/werewolf-rider.png"
    profile="portraits/goblins/direwolver.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=73
    movement_type=orcishfoot
    movement=10
    experience=140
    {QUANTITY experience 100 120 140}
    level=4
    alignment=chaotic
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Direwolf Rider
        experience=300
    [/advancefrom]
#endif
    [abilities]
        {ABILITY_MURDERLUST}
    [/abilities]
    cost=49
    usage=scout
    description= _ "Sometimes it happens that an orc grows really unintelligent and naive, but blessed with extraordinary strength and predator-like instincts and ferocity. They have great difficulties with integration into the orcish community, but shamans usually perform a ritual that allows them to transform their body to the shape of an animal, which lets them use their innate abilities better. It is said that those orcs have the legacy of their beast ancestors of distant past and are considered sacred. They abandon orcish communities and hunt in the wilderness. They shift back into the humanoid form only rarely, usually only when they need to climb somewhere. Those orcs are half-men and half-beasts and are nearly impossible to tame. However, sometimes there are also battle-hardened and experienced goblin riders who are ambitious enough to search for those werewolves and even manage to tame one enough to ride with him into battle. Those goblins are called werewolf riders and whenever they appear on a battlefield, they strike fear into the hearts of their foes and are even respected by the greatest of the orcs."+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}
    die_sound={SOUND_LIST:WOLF_DIE}
    {DEFENSE_ANIM "units/orcs/werewolf-rider-defend.png" "units/orcs/werewolf-rider.png" {SOUND_LIST:WOLF_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/goblins/transparent/direwolver.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/goblins/transparent/direwolver.png"
    [/portrait]
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=10
        number=4
    [/attack]
    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/orcs/werewolf-rider.png"
            sound={SOUND_LIST:WOLF_GROWL}
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/orcs/werewolf-rider-claws-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=-50
                image="units/orcs/werewolf-rider-claws-2.png"
                sound=claws.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=-50
                image="units/orcs/werewolf-rider-claws-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=-50
            end=50
            image="units/orcs/werewolf-rider.png"
        [/frame]
        {SOUND:POISON}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        [frame]
            begin=-350
            end=-250
            image="units/orcs/werewolf-rider.png"
            sound={SOUND_LIST:WOLF_GROWL}
        [/frame]
        [frame]
            begin=-250
            end=-100
            image="units/orcs/werewolf-rider-bite.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=200
                image="units/orcs/werewolf-rider-bite.png"
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=200
                image="units/orcs/werewolf-rider-bite.png"
                sound=bite.ogg
            [/frame]
        [/else]
        [frame]
            begin=200
            end=250
            image="units/orcs/werewolf-rider.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/orcs/werewolf-rider.png units/orcs/werewolf-rider-defend.png units/orcs/werewolf-rider-bite.png units/orcs/werewolf-rider.png units/orcs/werewolf-rider-defend.png units/orcs/werewolf-rider-bite.png (
        [advancement]
            max_times=1
            id=claws
            description= _ "better at clawing"
            image="attacks/claws-animal.png"
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=claws
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=claws2
            description= _ "better at clawing"
            image="attacks/claws-animal.png"
            strict_amla=yes
            require_amla="claws"
            [effect]
                apply_to=attack
                name=claws
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            id=claws3
            description= _ "better at clawing"
            image="attacks/claws-animal.png"
            strict_amla=yes
            require_amla="claws2"
            [effect]
                apply_to=attack
                name=claws
                increase_attacks=1
                increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            id=claws4
            description= _ "better at clawing"
            image="attacks/claws-animal.png"
            strict_amla=yes
            require_amla="claws3"
            [effect]
                apply_to=attack
                name=claws
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=berserk
            description= _ "able to claw in a violent fury"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="claws2"
            [effect]
                apply_to=bonus_attack
                name=fury
                description= _ "fury"
                icon=attacks/frenzy.png
                range=melee
                defense_weight=0
                number=-40
                force_original_attack=claws
                [specials]
                    {WEAPON_SPECIAL_LESSER_BERSERK 3}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=3
            always_display=yes
            id=berserk2
            description= _ "clawing in an even more vicious berserk"
            image=attacks/frenzy.png
            strict_amla=yes
            require_amla="claws2,berserk"
            [effect]
                apply_to=improve_bonus_attack
                name=fury
                increase_damage=10
                increase_attacks=10
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=fangs1
            description= _ "biting better"
            image=attacks/fangs-animal.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=fangs
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=fangs2
            description= _ "biting faster"
            image=attacks/fangs-animal.png
            strict_amla=yes
            require_amla="fangs1"
            [effect]
                apply_to=attack
                name=fangs
                increase_damage=-1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=fangs2-leech
            description= _ "feasting on enemies when biting"
            image=attacks/fangs-animal.png
            strict_amla=yes
            require_amla="fangs1"
            [effect]
                apply_to=attack
                name=fangs
                increase_damage=-1
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_LEECH}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=10
            always_display=yes
            id=fangs3
            description= _ "biting better"
            image=attacks/fangs-animal.png
            strict_amla=yes
            require_amla="fangs2"
            [effect]
                apply_to=attack
                name=fangs
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=dodge
            description= _ "more nimble (lowering the chance to be hit by 4%)"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-4
                    castle=-4
                    sand=-4
                    village=-4
                    flat=-4
                    hills=-4
                    mountains=-2
                    cave=-4
                    shallow_water=-4
                    coastal_reef=-4
                    swamp_water=-4
                    forest=-2
                    fungus=-4
                    deep_water=-4
                    unwalkable=-4
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Werewolf Rider"}
