#textdomain wesnoth-loti
[scenario]
    id="01_An_Orcish_Assault"
    name= _ "An Orcish Assault"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/01_Ogira.map}"
    next_scenario="02_The_Assassination"
    experience_modifier=125
    {TURNS 16 15 14}
    {SCENARIO_MUSIC "elvish-theme.ogg"}

    {DEFAULT_SCHEDULE}

    [side]
        side=1
        id=Efraim_de_Ceise
        name= _ "Efraim de Ceise"
        type=09 Fencer
        profile=portraits/Efraim.png
        canrecruit=yes
        controller=human
        gold=150
        recruit=Fencer,Thief,Spearman,Bowman,Heavy Infantryman,Poacher
        team_name=Loyalists
        user_team_name=_"Loyalists"

        unrenamable=yes
        random_traits=yes
        facing=sw

        {FLAG_VARIANT long}

        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=profile
                    portrait=portraits/Efraim.png
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]

        [unit]
            id=Delenia
            name= _ "Delenia"
            unrenamable=yes
            gender=female
            type=Delly_start
            side=1
            x,y=31,4
            facing=sw
            {IS_HERO}
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
    [/side]

    [side]
        side=2
        id=Mario
        name= _ "Mario"
        type=Peasant_Mario
        canrecruit=yes
        recruit=Peasant,Woodsman
        gold=60
        income=5
        team_name=Loyalists
        user_team_name=_"Loyalists"

        unrenamable=yes
        facing=sw

        [modifications]
            {TRAIT_LOYAL}
            {TRAIT_STRONG}
        [/modifications]

        {FLAG_VARIANT loyalist}

        [ai]
            passive_leader=yes
            caution=0.6
            aggression=0.3
            grouping=no
            {ATTACK_DEPTH 3 3 2}
        [/ai]
    [/side]

    [side]
        side=3
        id=Lord_Redain
        name= _ "Lord Redain"
        type=General
        hidden=yes
        controller=ai
        canrecruit=yes
        gold=0
        village_gold=0
        income=-2
        team_name=Loyalists
        user_team_name=_"Loyalists"

        {FLAG_VARIANT loyalist}

        {LOYAL_UNIT () (Royal Guard) 26 1)} {GUARDIAN}
        {LOYAL_UNIT () (Royal Guard) 27 2)} {GUARDIAN}
        {LOYAL_UNIT () (Royal Guard) 28 1)} {GUARDIAN}
    [/side]

    [side]
        side=4
        id=Gromar
        name= _ "Gromar"
        type=Orcish Warrior
        canrecruit=yes
        recruit=Orcish Grunt,Wolf Rider,Orcish Archer,Troll Whelp
        {GOLD 175 200 225}
        {INCOME 1 2 2}
        random_traits=yes
        team_name=evil
        user_team_name=_"Evil"
        facing=nw
        color=brown

#ifver WESNOTH_VERSION >= 1.11.2
#ifver WESNOTH_VERSION >= 1.11.7
#else
        {MICRO_AI_RECRUITING}
#endif
#endif

        {FLAG_VARIANT ragged}

        {GENERIC_UNIT () (Orcish Grunt) 21 23} {FACING nw}
        {GENERIC_UNIT () (Orcish Archer) 24 26} {FACING nw}
        {GENERIC_UNIT () (Orcish Grunt) 23 22} {FACING nw}
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
#ifdef EASY
                        {ABILITY_DESPAIR 30}
#else
                        {ABILITY_DESPAIR 40}
#endif
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]

    {STARTING_VILLAGES 3 20}
    {STARTING_VILLAGES 4 11}

    {FORCE_CHANCE_TO_HIT side=4 id=Mario 0 ()}

    [event]
        name=prestart

        [modify_side]
            side=3
            controller=null
        [/modify_side]

#ifver WESNOTH_VERSION >= 1.11.2
        [micro_ai]
            side=4
            action=add
#ifver WESNOTH_VERSION >= 1.11.7
            ai_type=recruit_random
#else
            ai_type=recruiting
            recruiting_type=rushers
#endif
            randomness=1
        [/micro_ai]
#endif

        [objectives]
            side=1
            [objective]
                description= _ "Defeat Gromar"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Efraim or Delenia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Lord Redain"
                condition=lose
            [/objective]

            {TURNS_RUN_OUT}
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_80}
        [/objectives]
    [/event]

    [event]
        name=start

        [message]
            speaker=Delenia
            message= _ "What is going on here?"
        [/message]

        [scroll_to_unit]
            id=Gromar
        [/scroll_to_unit]

        #I'm not a fan of the underscores in the id, but I don't think I can change it without breaking other scenarios
        [message]
            speaker=Efraim_de_Ceise
            scroll=no
            message= _ "I think... Are those... Orcs? This cannot be happening! Orcs have never attacked us before!"
        [/message]

        [message]
            speaker=Lord_Redain
            message= _ "Bah, orcs are no match for us! Mario, try to weaken them before they reach the keep. It will make defeating them a lot easier for my troops."
        [/message]

        [message]
            speaker=Mario
            message= _ "But sir, we are just mere peasants. We cannot stand a chance against those orcs!"
        [/message]

        [message]
            speaker=Lord_Redain
            message= _ "Of course you cannot! See yourself as the... Distraction."
        [/message]

        [message]
            speaker=Mario
            message= _ "Distraction? You cannot just let us die like this!"
        [/message]

        [message]
            speaker=Lord_Redain
            message= _ "My soldiers are more important than any single one of you! This way, you at least have a purpose!"
        [/message]

        {REPLACE_SCENARIO_MUSIC "silence.ogg"}

        [message]
            speaker=Efraim_de_Ceise
            message= _ "I will not stand for this. You cannot let your own people die like this!"
        [/message]

        [message]
            speaker=Delenia
            message={WHISPER (_ "Efraim, be careful with what you do. We cannot engage the Lord head-on. It is better to... Tolerate his presence until we get a better opportunity to... Get rid of him.")}
        [/message]

        [message]
            speaker=Lord_Redain
            message= _ "You know nothing, Efraim. Be glad I do not treat you like the <b>peasants</b>!"
        [/message]

        [message]
            speaker=Efraim_de_Ceise
            message= _ "Fine. But I am not letting these men die like this!"
        [/message]

        [message]
            speaker=Mario
            message= _ "Thank you! May the Gods bless your kind heart!"
        [/message]

        [message]
            speaker=Lord_Redain
            message= _ "Hah, be a hero! Do you know how many have died a 'hero'?"
        [/message]

        [message]
            speaker=Delenia
            message={WHISPER (_ "I really hate his attitude...")}
        [/message]

        {REPLACE_SCENARIO_MUSIC "northerners.ogg"}
        {APPEND_MUSIC "battle.ogg"}
        {APPEND_MUSIC "loyalists.ogg"}

        [message]
            speaker=Efraim_de_Ceise
            message= _ "To arms!"
        [/message]
    [/event]

    # Activate Lord Redain's side when enemies get close
    [event]
        name=moveto
        [filter]
            side=4
            [filter_location]
                x,y=27,1
                radius=6
            [/filter_location]
        [/filter]

        [message]
            speaker=Lord_Redain
            message= _ "The enemies are approaching the walls! Guards!"
        [/message]

        [modify_side]
            side=3
            controller=ai
        [/modify_side]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Efraim_de_Ceise
        [/filter]

        [message]
            speaker=unit
            message= _ "Lord Redain was right... I should never have tried to be a hero."
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Lord_Redain
        [/filter]

        [message]
            speaker=unit
            message= _ "How could this happen?"
        [/message]

        [message]
            side=2
            message= _ "Ogira has fallen, run!"
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Delenia
        [/filter]

        [message]
            speaker=Delenia
            message= _ "I cannot even live long enough to ... kill ... <i>ack</i>"
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=time over
        [message]
            speaker=Gromar
            message= _ "Our chief is on his way! There is no way you can win this now!"
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            id=Gromar
        [/filter]

        [message]
            speaker=Mario
            message= _ "Thank you, sir! Without you we would all be dead! I will be forever in your debt. Please, let me join you wherever you may go."
        [/message]

        [message]
            speaker=Efraim_de_Ceise
            message= _ "It would be an honour."
        [/message]

        [modify_unit]
            [filter]
                id=Mario
            [/filter]
            side=1
            {IS_LOYAL}
            canrecruit=no
        [/modify_unit]

        {TEAM_COLOR_OVERRIDE id=Mario blue}

        [message]
            speaker=Mario
            message= _ "I will never disappoint you, sir!"
        [/message]
    [/event]

    [event]
        name=victory
        [message]
            speaker=Lord_Redain
            message= _ "Victory is ours!"
        [/message]

        [message]
            speaker=Efraim_de_Ceise
            message={WHISPER (_ "That murderer did not lift a finger as his 'people' went up against an enemy he considerd beneath him to fight.")}
        [/message]

        [message]
            speaker=Delenia
            message={WHISPER (_ "Well what do you propose we do? Personally, I would not be against sticking a knife in his back.")}
        [/message]

        [message]
            speaker=Efraim_de_Ceise
            message={WHISPER (_ "Do you really think that is a good idea? There are many still loyal to him.")}
        [/message]

        [message]
            speaker=Delenia
            message={WHISPER (_ "I do not care. Any leader so heartless as that does not deserve to rule. I should know ...")}
        [/message]

        [message]
            speaker=Efraim_de_Ceise
            message={WHISPER _"... Alright."}
        [/message]
    [/event]

    {DROPS 20 20 (sword,sword,dagger,knife,mace,bow,spear) no 4}	#Huge drops, I need to attract the player

    {GLOBAL_EVENTS}
[/scenario]
