#textdomain wesnoth-loti
[scenario]
    id=02_The_Assassination
    next_scenario=03_Banished

    name=_ "The Assassination"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/02_Redain_Castle.map}"
    {TURNS 20 17 15}
    victory_when_enemies_defeated=no

    {SCENARIO_MUSIC loyalists.ogg}
    {EXTRA_SCENARIO_MUSIC revelation.ogg}
    {EXTRA_SCENARIO_MUSIC breaking_the_chains.ogg}

    {SECOND_WATCH}

    [time_area]
        x=1-21
        y=1-10
        {UNDERGROUND}
    [/time_area]

    [side]
        side=1
        controller=human
        team_name=loyalists
        user_team_name=_ "Loyalists"
        type=09 Fencer
        id=Efraim_de_Ceise
        name=_ "Efraim de Ceise"
        unrenamable=yes
        canrecruit=yes
        recruit=Fencer,Thief
        {GOLD 60 50 45}
        income=0
        shroud=yes
        fog=yes
        share_maps=yes
        share_view=yes
    [/side]

    [side]
        side=2
        type=General
        controller=ai
        team_name=loyalists
        user_team_name=_"Loyalists"
        id=Lord_Redain
        name=_ "Lord Redain"
        random_traits=yes
        canrecruit=no
        gold=100
        income=20
    [/side]
    [side]
        side=3
        no_leader=yes
        team_name=loyalists
        user_team_name=_"Loyalists"
        canrecruit=no
    [/side]

    [event]
        name=prestart

        [objectives]
            side=1
            [objective]
                condition=win
                description=_ "Kill Lord Redain"
            [/objective]
            [objective]
                condition=lose
                description=_ "Death of Efraim"
            [/objective]
            [objective]
                condition=lose
                description=_ "Death of Delenia"
            [/objective]
            [objective]
                condition=lose
                description=_ "Turns run out"
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_80}
        [/objectives]

        [unit]
            type=Royal Guard
            side=2
            x,y=11,9
            canrecruit=no
            random_traits=yes
        [/unit]
        [unit]
            type=Royal Guard
            side=2
            x,y=17,9
            canrecruit=no
            random_traits=yes
        [/unit]
        [unit]
            type=Halberdier
            side=2
            x,y=17,3
            canrecruit=no
            random_traits=yes
        [/unit]
        [unit]
            type=Javelineer
            side=2
            x,y=21,1
            canrecruit=no
            random_traits=yes
        [/unit]
        [unit]
            type=Silver Mage
            side=2
            x,y=20,9
            canrecruit=no
            random_traits=yes
        [/unit]
        [unit]
            type=Royal Guard
            side=2
            x,y=11,1
            canrecruit=no
            random_traits=yes
        [/unit]
        [unit]
            type=Javelineer
            side=2
            x,y=1,1
            canrecruit=no
            random_traits=yes
        [/unit]
        [unit]
            type=Halberdier
            side=2
            x,y=11,7
            canrecruit=no
            random_traits=yes
        [/unit]
#ifdef HARD
        [unit]
            type=Swordsman
            side=2
            x,y=3,6
            canrecruit=no
            random_traits=yes
        [/unit]
#endif
#ifdef HARD
        [unit]
            type=Swordsman
            side=2
            x,y=1,6
            canrecruit=no
            random_traits=yes
        [/unit]
#endif
#ifdef NORMAL
        [unit]
            type=Royal Guard
            side=2
            x,y=1,6
            canrecruit=no
            random_traits=yes
        [/unit]
#endif
        [recall]
            id=Delenia
            side=1
        [/recall]
    [/event]
    # The general hits hard, so it might be needed to make sure he won't kill anyone he should not. Keeping this secret is important.
    {FORCE_CHANCE_TO_HIT id=Lord_Redain id="Efraim_de_Ceise" 20 ()}
    {FORCE_CHANCE_TO_HIT id=Lord_Redain id=Delenia 20 ()}
    [event]
        name=start
        {RANDOM_ITEM 21 1}
        [message]
            speaker=Efraim_de_Ceise
            message=_ "Here we are. Castle Redain, his evil lair. Inside are dozens of highly trained guards armed to the teeth and somehow still loyal to that tyrant. Well, no more. Listen up, people, this is important! Redain is not just selfish, but paranoid. Do NOT make any sudden movements towards him until we are all in position. We only have one shot at this."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            x,y=2,5
            side=1
            [or]
                x,y=3,6
            [/or]
            [or]
                x,y=3,7
            [/or]
            [or]
                x,y=2,7
            [/or]
            [or]
                x,y=1,7
            [/or]
            [or]
                x,y=1,6
            [/or]
        [/filter]
        [message]
            speaker=Lord_Redain
            message=_ "My goodness. Is that you, Efraim? What on earth do you want now?"
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message=_ "Lord Redain, for your horrendous war crimes today, in the name of the countless peasants you sent to die, the peasants YOU ARE SUPPOSED TO PROTECT, I hereby sentence you to death!"
        [/message]
        [message]
            speaker=Lord_Redain
            message=_ "..."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message=_ "...?"
        [/message]
        [message]
            speaker=Lord_Redain
            message=_ "...Tell me, Efraim, did you think this through... at <i>all</i>? Did it ever occur to you that maybe I had a good reason for my actions today?"
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message=_ "Oh, I trust that if you did, you would have shared them. I saw no other pressing matters you had to tend to as you just stood there and watched those villagers die! Delenia and I are decided on this. You cannot be allowed to live another hour!"
        [/message]
        [message]
            speaker=Lord_Redain
            message=_ "Delenia. Of course. Efraim, your susceptibility to even the crudest of feminine charms is truly awe inspiring. Tell me, if I put a skirt on a sock puppet might I be able to persuade you to leave?"
        [/message]
        [message]
            speaker=Delenia
            message=_ "How dare you! Had you lifted a single finger during that battle, countless lives would have been spared!"
        [/message]
        [message]
            speaker=Lord_Redain
            message=_ "You ungrateful outlaw scum. Have you already forgotten that it was I who saved your life not too long ago?"
        [/message]
        [message]
            speaker=Delenia
            message=_ "Not killing somebody is hardly sparing them, Redain. Efraim was the one who defended me <i>from</i> you!"
        [/message]
        [message]
            speaker=Lord_Redain
            message=_ "Semantics, semantics, these clarifications are really more trouble than they are worth. I think we are done here. Guards, kill them all!"
        [/message]
        [modify_side]
            side=2
            user_team_name=_"Defenders"
            team_name=Defenders
        [/modify_side]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Efraim_de_Ceise
        [/filter]
        [message]
            speaker=Efraim_de_Ceise
            message=_ "Scheisse!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Delenia
        [/filter]
        [message]
            speaker=Delenia
            message=_ "Curse... you... Redain..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=time over
        [message]
            speaker=Lord_Redain
            message=_ "Well, this has been fun, but I think it is high time for you all to die. Reinforcements! The traitors are this way!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Lord_Redain
        [/filter]
        [message]
            speaker=Efraim_de_Ceise
            message=_ "Good riddance."
        [/message]

        [unit]
            type=Lieutenant
            side=3
            name=_ "Lord Argan"
            id=Lord_Argan
            x,y=2,7
            {IS_HERO}
            canrecruit=no
            random_traits=yes
        [/unit]
        [message]
            speaker=Lord_Argan
            message=_ "L-Lord Redain! He... You killed him! I cannot believe... you actually did it!"
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message=_ "Yes. And I suppose you are going to want to join him, fighting for his honor."
        [/message]
        [message]
            speaker=Lord_Argan
            message=_ "Fighting for his honor? Are you mad? Do you think us all blind and deaf? We, more than anyone, know of the heinous atrocities committed by that monster. I am confident that there is not a man in this entire fortress who will impede your exit for a moment. On behalf of all of us, I thank you for your deeds tonight. Though I doubt the rest of the realm will receive you so warmly. I really hope you already realised this, but it is not a good idea to go back home, possibly ever."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message=_ "...Thank you. Truly."
        [/message]
        [message]
            speaker=Lord_Argan
            message=_ "With any luck, the misdeeds we shall bring to light about Redain shall be enough to keep you from being seen as an outright traitor, but if you truly wish to return home again, I advise you to follow this up by completely clearing this land of orcs. That should make it clear that you are still loyal to the land."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message=_ "...That will not be easy. I have my loyal soldiers, but I suspect even that might not be enough."
        [/message]
        [message]
            speaker=Delenia
            message=_ "I will go with you. With some of my thieves, we shall kill their leaders. That should create chaos between the tribes. They will fight amongst each other, and from there we will be able to drive the rest away."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message=_ "...Delenia, you make it sound so simple. This will likely be the most difficult thing we have ever done."
        [/message]

        [endlevel]
            result=victory
        [/endlevel]
    [/event]
    {DROPS 30 20 (sword,sword,dagger,knife,mace,spear,bow) no 2}
    {GLOBAL_EVENTS}
    experience_modifier=125
[/scenario]
