#textdomain wesnoth-loti
[scenario]
    id=03_Banished
    name= _ "Banished"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/03_Forest_Entry.map}"
    {SCENARIO_MUSIC "wanderer.ogg"}
    {EXTRA_SCENARIO_MUSIC "nunc_dimittis.ogg"}
    {TURNS 35 33 31}
    victory_when_enemies_defeated=no

    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
    {MORNING}

    next_scenario=04_Paradise_Lost

    [event]
        name=prestart
        {VARIABLE progress 1}
        [objectives]
            side=1
            [objective]
                description= _ "Explore the woods"
                condition=win
                [show_if]
                    [variable]
                        name=progress
                        equals=1
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Defeat the enemy boss"
                condition=win
                [show_if]
                    [variable]
                        name=progress
                        equals=2
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Death of Efraim"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Delenia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]

            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
    [/event]

    [label]
        x,y=25,35
        text=_"Elvish Lands"
    [/label]
    [label]
        x,y=24,28
        text=_"Maelea River"
    [/label]
    [side]
        type=09 Fencer
        id=Efraim_de_Ceise
        name= _ "Efraim de Ceise"
        unrenamable=yes
        side=1
        canrecruit=yes
        recruit=Fencer,Thief
        team_name=adventurers
        user_team_name=_"Adventurers"
        gold=140
        controller=human
        shroud=yes
    [/side]
    [side]
        id=Margund
        name= _ "Margund"
        type=Orcish Warlord
        ai_special=guardian
        random_traits=yes
        side=2
        canrecruit=yes

#ifdef EASY
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp
#endif
#ifdef NORMAL
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin
#endif
#ifdef HARD
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Slayer,Orcish Warrior
#endif

        gold=0
        income=−2
        team_name=evil
        user_team_name=_"Evil"
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
#ifndef HARD
                        {ABILITY_WEAK_REFLECT}
#else
                        {ABILITY_REFLECT}
#endif
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]

    [event]
        name=prestart
        [recall]
            id=Delenia
        [/recall]
    [/event]
    [story]
        [part]
            background=story/hills.jpg
            story= _ "With Lord Redain's abusive reign ended once and for all and Lord Argan working to secure their eventual welcome return, Efraim and Delenia quickly traveled south with their company in tow, finally arriving at the first stop on their quest: the orcish encampment left behind from the previous battle. Arriving before daybreak, they inspected the place for orcish remnants and, finding none, they stopped to rest until afternoon."
        [/part]
    [/story]
    [event]
        name=start
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Well, that's one orc fortress down. ...I guess we will just have to move on to the next one. When we are through here, this place should probably be dismantled. It causes the villagers needless distress and could make it easier for the orcs to attack again."
        [/message]
        [message]
            speaker=Delenia
            message= _ "I just sent one of my messengers to the village. After we have left, the peasants will dismantle it and use the materials to repair the damaged homes from the invasion."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Excellent. I believe there is an elvish village not too far to the south of here, and considering the direction from which the orcs came... While it could turn out all right, I feel we need to check on them just to make sure. The elves' numbers are very limited, so if they did become targeted by the orcs, they would be in big trouble. Also, best we do not harm the trees, the elves are said to despise it. No campfires from here on out, they won't be worth it if we wind up earning the ire of the elves on top of our homeland."
        [/message]
        [message]
            speaker=Delenia
            message= _ "We should gather some troops and split up to explore the area. This forest is massive, and we cannot afford to miss a single orc in it."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Wise council indeed. Let us go."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            x,y=18-31,30-40
            side=1
        [/filter]
        [modify_side]
            side=2
            {GOLD 200 250 300}
            income=15
        [/modify_side]
        [unit]
            type=Orcish Grunt
            generate_name=yes
            x=18
            y=35
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Orcish Grunt
            generate_name=yes
            x=31
            y=36
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Orcish Grunt
            generate_name=yes
            x=15
            y=37
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Orcish Warrior
            generate_name=yes
            x=26
            y=41
            side=2
            random_traits=yes
        [/unit]
        {VARIABLE progress 2}
        [remove_shroud]
            side=1
            x,y=21-29,31-35
        [/remove_shroud]
        [message]
            speaker=Delenia
            message= _ "Oh dear. Efraim, look at this. An elvish fortress, completely abandoned. It is exactly as you feared, the orcs have invaded. We need to help them!"
        [/message]
        [objectives]
            summary= _ "New Objectives:"
            show=yes
            [objective]
                description= _ "Defeat Margund"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Efraim or Delenia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Tuns run out"
                condition=lose
            [/objective]

            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Margund
        [/filter]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "What a shame... Look at all of the devastation! The orcs destroyed so much of the beautiful forest!"
        [/message]
        [message]
            speaker=Delenia
            message= _ "A shame, but on the bright side, the path of destruction makes a trail right to them."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Did they... Did they come from <i>inside</i> elven territory? It is worse than I thought! Onward, men! We have to hurry!"
        [/message]
        {CLEAR_VARIABLE progress}
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Efraim_de_Ceise
        [/filter]
        [message]
            speaker=unit
            message= _ "Nooooooooooo!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Delenia
        [/filter]
        [message]
            speaker=unit
            message= _ "Gah! No... why here? Why now!?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Margund
            message= _ "This is taking too long! Archers, light your arrows! Burn the forest to the ground!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 10 10 (sword,sword,dagger,knife,mace,spear,bow,xbow) no 2}
    {GLOBAL_EVENTS}
    experience_modifier=125
[/scenario]
