#textdomain wesnoth-loti
[scenario]
    id=04_Paradise_Lost
    name= _ "Paradise Lost"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/04_Amaranth.map}"
    {SCENARIO_MUSIC "wanderer.ogg"}
    {EXTRA_SCENARIO_MUSIC "elf-land.ogg"}
    {EXTRA_SCENARIO_MUSIC "elvish-theme.ogg"}
    turns=25
    victory_when_enemies_defeated=no

    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
    {MORNING}

    next_scenario=05_Shatter_the_Defilers

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Efraim"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Delenia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Lethalia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]

            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
    [/event]

    [side]
        type=09 Fencer
        id=Efraim_de_Ceise
        name= _ "Efraim de Ceise"
        unrenamable=yes
        side=1
        canrecruit=yes
        recruit=Fencer,Thief
        team_name=defenders
        user_team_name=_"Defenders"
        gold=200
        controller=human
    [/side]
    [side]
        team_name=defenders
        user_team_name=_"Defenders"
        type=Elvish Enchantress
        id=Lethalia
        name= _ "Lethalia"
        unrenamable=yes
        side=2
        canrecruit=yes
        recruit=Elvish Fighter,Elvish Archer,Elvish Scout,Elvish Shaman
        gold=250
        income=20
    [/side]
    [side]
        id=Grub_Drung
        name= _ "Grub Drung"
        type=Orcish Warlord
        random_traits=yes
        side=3
        canrecruit=yes

#ifdef EASY
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Orcish Assassin,Orcish Crossbowman
#endif
#ifdef NORMAL
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Crossbowman
#endif
#ifdef HARD
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Troll Rocklobber
#endif

        {GOLD 180 250 330}
        {INCOME 15 22 30}
        team_name=evil
        user_team_name=_"Evil"
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
#ifdef HARD
                        {ABILITY_GREATER_EVISCERATION}
#else
                        {ABILITY_EVISCERATION}
#endif
                    [/abilities]
                [/effect]
                [effect]
                    apply_to=movement
                    increase=-4
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        id=Brag
        name= _ "Brag"
        type=Orcish Slurbow
        random_traits=yes
        side=4
        canrecruit=yes

#ifdef EASY
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Orcish Assassin,Orcish Crossbowman
#endif
#ifdef NORMAL
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Crossbowman,Goblin Impaler
#endif
#ifdef HARD
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Troll Rocklobber,Goblin Impaler
#endif

        {GOLD 70 150 200}
        {INCOME 20 25 30}
        team_name=evil
        user_team_name=_"Evil"
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=ranged
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_BACKSTAB}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        id=Vrongromor
        name= _ "Vrongromor"
        type=Orcish Warlord
        random_traits=yes
        side=5
        canrecruit=yes

#ifdef EASY
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Orcish Assassin,Orcish Crossbowman,Troll Shaman
#endif
#ifdef NORMAL
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Crossbowman,Troll Shaman
#endif
#ifdef HARD
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Troll Rocklobber,Direwolf Rider
#endif

        {GOLD 140 220 300}
        {INCOME 10 15 20}
        team_name=evil
        user_team_name=_"Evil"
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_KNOCKBACK}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        type=Ancient Wose
        ai_special=guardian
        team_name=defenders
        user_team_name=_"Defenders"
        id=Grossbaum
        name=_ "Grossbaum"
        side=6
        canrecruit=no
    [/side]

    [story]
        [part]
            background=story/path1.jpg
            story= _ "The orcish trail led them south, where..."
        [/part]
    [/story]
    [event]
        name=start
        [recall]
            id=Delenia
            side=1
        [/recall]

        [message]
            speaker=Efraim_de_Ceise
            message= _ "Oh no! It seems the elves are in big trouble."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Help us! Our situation is hopeless, we will reward you if you help us. Save the town of Amaranth!"
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "A pretty girl in trouble? Let us help."
        [/message]
        [message]
            speaker=Delenia
            message= _ "Efraim, you are a fool. Elves may look young, but in reality may be very old."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "But that is good; I shall grow old and then we will die simultaneously, or at least I will die married to a beautiful young wife."
        [/message]
        [message]
            speaker=Delenia
            message= _ "These nobles are fools... She may be going to die in five years."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "That is not likely to happen, most elves we see at the moment will still look young in the day of my death."
        [/message]
        [message]
            speaker=Delenia
            message= _ "Elves are too different from us. Mixed marriages have never been successful. Maybe Redain was right when he was describing your behaviour. You see a beautiful elvish princess, and suddenly, I am nobody."
        [/message]
        [unit]
            type=Wose
            generate_name=yes
            x=2
            y=17
            side=6
        [/unit]
        [unit]
            type=Elder Wose
            generate_name=yes
            x=8
            y=19
            side=6
        [/unit]
        [unit]
            type=Wose
            generate_name=yes
            x=4
            y=20
            side=6
        [/unit]
        [unit]
            type=Ancient Wose
            generate_name=yes
            x=3
            y=20
            side=6
        [/unit]
        [unit]
            type=Elder Wose
            generate_name=yes
            x=6
            y=18
            side=6
        [/unit]
        [unit]
            type=Wose
            generate_name=yes
            x=20
            y=30
            side=6
        [/unit]
        [unit]
            type=Wose
            generate_name=yes
            x=17
            y=32
            side=6
        [/unit]
        [unit]
            type=Wose
            generate_name=yes
            x=19
            y=29
            side=6
        [/unit]
        [unit]
            type=Elder Wose
            generate_name=yes
            x=18
            y=19
            side=6
        [/unit]
        [unit]
            type=Wose
            generate_name=yes
            x=21
            y=26
            side=6
        [/unit]
        [unit]
            type=Wose
            generate_name=yes
            x=26
            y=29
            side=6
        [/unit]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Efraim_de_Ceise
        [/filter]
        [message]
            speaker=unit
            message= _ "Oh, no! I met a beautiful girl and it ended like this..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Delenia
        [/filter]
        [message]
            speaker=unit
            message= _ "Why did I decide to go with this fool?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=unit
            message= _ "I was foolish to think those humans would help us."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim_de_Ceise
            message= _ "I can see huge orc reinforcements coming from the west."
        [/message]
    [/event]
    [event]
        name=enemies defeated
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=victory
        [message]
            speaker=Lethalia
            message= _ "We survived! Many thanks and gratitude to the humans! Please, come to my fortress to celebrate the victory as my guests of honour."
        [/message]
    [/event]
    {FORCE_CHANCE_TO_HIT side=3,4,5 id=Lethalia 10 ()}
    {DROPS 5 7 (sword,sword,dagger,knife,mace,spear,bow,xbow) yes 3,4,5}
    {GLOBAL_EVENTS}
    experience_modifier=125
[/scenario]
