#textdomain wesnoth-loti
[scenario]
    id=05_Shatter_the_Defilers
    name= _ "Shatter the Defilers"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/05_South_Forest.map}"
    {SCENARIO_MUSIC "elvish-theme.ogg"}
    {EXTRA_SCENARIO_MUSIC "elf-land.ogg"}
    {EXTRA_SCENARIO_MUSIC "vengeful.ogg"}
    {TURNS 40 37 35}
    victory_when_enemies_defeated=no

    {DEFAULT_SCHEDULE}

    next_scenario=06_The_Ruins_of_Lost_Empires

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Efraim, Delenia or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]

            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
    [/event]
    {STARTING_VILLAGES 1 15}

    [side]
        type=09 Fencer
        id=Efraim_de_Ceise
        name= _ "Efraim de Ceise"
        unrenamable=yes
        side=1
        canrecruit=yes
        recruit=Fencer,Thief
        team_name=good
        user_team_name=_"Good"
        gold=0
        controller=human
        [unit]
            type=Elvish Enchantress
            id=Lethalia
            name="Lethalia"
            x=40
            y=4
            unrenamable=yes
            {IS_HERO}
            random_traits=yes
            [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
                [advancement]
#else
                [advance]
#endif
                    #I need her to level-up faster
                    [effect]
                        apply_to=max_experience
                        increase=-50%
                    [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
                [/advancement]
#else
                [/advance]
#endif
            [/modifications]
        [/unit]
        [unit]
            type=Elvish Archer
            generate_name=yes
            x=33
            y=6
            side=1
        [/unit]
        [unit]
            type=Elvish Fighter
            generate_name=yes
            x=36
            y=5
            side=1
        [/unit]
        [unit]
            type=Elvish Shaman
            generate_name=yes
            x=44
            y=5
            side=1
        [/unit]
        [unit]
            type=Elvish Avenger
            generate_name=yes
            x=41
            y=8
            side=1
        [/unit]
        [unit]
            type=Elvish Marksman
            generate_name=yes
            x=38
            y=8
            side=1
        [/unit]
        [unit]
            type=Elvish Hero
            generate_name=yes
            x=43
            y=1
            side=1
        [/unit]
        [unit]
            type=Elvish Captain
            generate_name=yes
            x=30
            y=7
            side=1
        [/unit]
        [unit]
            type=Elvish Archer
            generate_name=yes
            x=39
            y=7
            side=1
        [/unit]
        [unit]
            type=Elvish Archer
            generate_name=yes
            x=30
            y=2
            side=1
        [/unit]
        [unit]
            type=Elvish Archer
            generate_name=yes
            x=43
            y=9
            side=1
        [/unit]
        [unit]
            type=Elvish Ranger
            generate_name=yes
            x=36
            y=11
            side=1
        [/unit]
        [unit]
            type=Elvish Ranger
            generate_name=yes
            x=44
            y=8
            side=1
        [/unit]
        [unit]
            type=Elvish Shaman
            generate_name=yes
            x=37
            y=3
            side=1
        [/unit]
        [unit]
            type=Elvish Archer
            generate_name=yes
            x=33
            y=9
            side=1
        [/unit]
    [/side]
    [side]
        id=Mrud
        name= _ "Mrud"
        type=Orcish Warlord
        side=2
        canrecruit=yes
        random_traits=yes
#ifdef EASY
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Orcish Assassin,Orcish Crossbowman,Orcish Warrior
#endif
#ifdef NORMAL
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Crossbowman,Orcish Warrior
#endif
#ifdef HARD
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Troll Rocklobber,Orcish Warrior
#endif

        {GOLD 150 200 300}
        income=2
        team_name=evil
        user_team_name=_"Evil"
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_INCINERATE}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        id=Drobrulag
        name= _ "Drobrulag"
        type=Orcish Warlord
        side=3
        canrecruit=yes
        random_traits=yes

#ifdef EASY
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Orcish Assassin,Orcish Crossbowman
#endif
#ifdef NORMAL
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Crossbowman,Goblin Impaler
#endif
#ifdef HARD
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Troll Rocklobber,Goblin Impaler,Goblin Rouser
#endif

        {GOLD 150 200 300}
        income=2
        team_name=evil
        user_team_name=_"Evil"
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_MISANTHROPIA}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        id=Vrong
        name= _ "Vrong"
        type=Orcish Warlord
        side=4
        canrecruit=yes
        random_traits=yes

#ifdef EASY
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Orcish Assassin,Orcish Crossbowman,Troll Shaman
#endif
#ifdef NORMAL
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Crossbowman,Troll Shaman
#endif
#ifdef HARD
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Troll Whelp,Troll, Goblin Knight,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Troll Rocklobber,Direwolf Rider
#endif

        {GOLD 150 200 300}
        income=2
        team_name=evil
        user_team_name=_"Evil"
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
#ifdef HARD
                        {ABILITY_ABSORB_4}
#else
                        {ABILITY_ABSORB_2}
#endif
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [event]
        name=prestart
        [recall]
            id=Delenia
        [/recall]
    [/event]

    [event]
        name=start
        [store_unit]
            [filter]
                id=Lethalia
            [/filter]
            variable=Lethstore
        [/store_unit]
        [set_variables]
            name=Lethstore.modifications.trait[$Lethstore.modifications.trait.length]
            [value]
                id=loyal
                male_name= _ "loyal"
                female_name= _ "female^loyal"
                description= _ "Zero upkeep"
                [effect]
                    apply_to=loyal
                [/effect]
            [/value]
        [/set_variables]
        [unstore_unit]
            variable=Lethstore
            find_vacant=no
        [/unstore_unit]
        {UPDATE_ATTACKS 33 6}
        {UPDATE_ATTACKS 36 5}
        {UPDATE_ATTACKS 44 5}
        {UPDATE_ATTACKS 41 8}
        {UPDATE_ATTACKS 38 8}
        {UPDATE_ATTACKS 43 1}
        {UPDATE_ATTACKS 30 7}
        {UPDATE_ATTACKS 39 7}
        {UPDATE_ATTACKS 30 2}
        {UPDATE_ATTACKS 43 9}
        {UPDATE_ATTACKS 36 11}
        {UPDATE_ATTACKS 44 8}
        {UPDATE_ATTACKS 37 3}
        {UPDATE_ATTACKS 33 9}
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "They arrived at the city of Amaranth, but did not have chance to celebrate."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Queen,..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I am not a queen. We elves have no queens nor kings. Please, just use my name."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "So, what is your name, beautiful elvish lady?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "My name is Lethalia. And what are the names of you and your friends?"
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "My name is Efraim de Ceise, but call me Efraim."
        [/message]
        [message]
            speaker=Delenia
            message= _ "My name is Delenia."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Well. So we know each other now."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Perfect. Let us celebrate the victory."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "No. You prevented the orcs from defeating us, but that was only a small part of them. The remaining ones are preparing another assault. They have moved from the north into the High Hills nearby. We have to defeat them somehow."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Do you suggest any particular strategy?"
        [/message]
        [message]
            speaker=Delenia
            message= _ "The simplest answer is the most effective. We have to sneak to their camps and kill their leaders."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Was sneak killing always your favourite strategy to deal with things?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "But that is the only strategy we can use."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Look to the south! There is a large warband of orcs!"
        [/message]
        [message]
            speaker=Vrong
            message= _ "You will die, puny elves."
        [/message]
        [message]
            speaker=Delenia
            message= _ "So much for strategy, looks like we are in for a bloody brawl."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "But how can we muster enough forces? Many of my fencers have died, so it is becoming harder and harder to recruit them. Veterans will fight, but there is no infinite reservoir of them..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Some of my elves want to avenge the damage the orcs have done to the forest, but most would rather repair their homes than fight. I fear that my small army of elves are the only ones who can stop the orcs at the river, however..."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "We will make haste back I promise you. I must ask what need do orcs have for burning this forest?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "They thought that it would demoralise us, but it only helped us to muster more elves... We have wasted enough time talking. Efraim, you have proven yourself to be a better leader than I am, so lead us to victory!"
        [/message]
        [message]
            speaker=Delenia
            message= _ "Maybe we could attack them on the shores when they will be fording the river."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "You want to look as a clever person? I am sure everybody came to that idea as well..."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Maybe you should not mock your friend."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Efraim_de_Ceise
        [/filter]
        [message]
            speaker=unit
            message= _ "Lethalia... I have to let you lead our army... This does not bode well..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Delenia
        [/filter]
        [message]
            speaker=unit
            message= _ "No... It cannot be..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=unit
            message= _ "Bye, you will walk this world alone, Efraim..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim_de_Ceise
            message= _ "The battle is taking too long. No one wants to fight anymore. Damned orcs..."
        [/message]
    [/event]
    [event]
        name=enemies defeated
        [message]
            speaker=Lethalia
            message= _ "Perfect. The forest should be clean now. Let us sneak into their base."
        [/message]

        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    {DROPS 4 8 (sword,sword,sword,dagger,dagger,knife,xbow,bow,bow,staff,mace,spear) yes 2,3,4}
    {GLOBAL_EVENTS}
    experience_modifier=125
[/scenario]
