#textdomain wesnoth-loti
[scenario]
    id=07_The_Return
    name= _ "The Return"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/07_West_Forest.map}"
    {SCENARIO_MUSIC "wanderer.ogg"}
    {EXTRA_SCENARIO_MUSIC "legends_of_the_north.ogg"}
    {EXTRA_SCENARIO_MUSIC "journeys_end.ogg"}
    {TURNS 18 17 16}
    victory_when_enemies_defeated=no

    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
    {MORNING}

    next_scenario=08_Where_the_Sun_Does_not_Shine

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Get Efraim to the signpost in the northeast corner of the map"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Efraim"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Lethalia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={NO_EARLY_FINISH_BONUS_NOTE}
        [/objectives]
    [/event]
    {PLACE_IMAGE scenery/signpost.png 35 4}

    [side]
        type=09 Fencer
        id=Efraim_de_Ceise
        name= _ "Efraim de Ceise"
        unrenamable=yes
        side=1
        canrecruit=yes
        recruit=
        team_name=adventurers
        user_team_name=_"Adventurers"
        gold=150
        controller=human
    [/side]
    [side]
        no_leader=yes
        side=2
        team_name=bandits
        user_team_name=_"Bandits"
    [/side]

    [event]
        name=prestart
        [recall]
            id=Delenia
        [/recall]
        [recall]
            id=Lethalia
        [/recall]
    [/event]
    [story]
        [part]
            background=story/path5.jpg
            story= _ "The orcs were defeated. Only several days' journey stood between Efraim and his victorious return from exile."
        [/part]
    [/story]
    [event]
        name=start
        [message]
            speaker=Delenia
            message= _ "I shall be leaving soon for Ogira to spread word of our victory."
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Wait, do not leave... I will miss you."
        [/message]
        [message]
            speaker=Delenia
            message= _ "Finally you ceased to show off before your new subject of desire. I will leave soon, so if I am carrying some things you want back, take them back."
        [/message]
    [/event]

    [event]
        name=turn 2
        [message]
            speaker=Delenia
            message= _ "I will be going now, good luck!"
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Be careful, this is known to be Bandit country."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Goodbye."
        [/message]
        [kill]
            id=Delenia
            animate=no
            fire_event=no
        [/kill]

        [message]
            speaker=Lethalia
            message= _ "She can disappear perfectly, as if using magic... Let us head to Amaranth to celebrate this moment. And yes, even the Humans are invited!"
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            x,y=12-36,1-24
            side=1
        [/filter]
        [unit]
            type=Thug
            generate_name=yes
            x=18
            y=19
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Highwayman
            generate_name=yes
            x=8
            y=18
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Outlaw
            generate_name=yes
            x=23
            y=18
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Bandit
            generate_name=yes
            x=19
            y=11
            side=2
            random_traits=yes
        [/unit]
#ifdef HARD
        [unit]
            type=Thug
            side=2
            x,y=20,17
            random_traits=yes
        [/unit]
#endif
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Bandits are creeping from the forest!"
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=24-36,1-24
            side=1
        [/filter]
        [unit]
            type=Fugitive
            generate_name=yes
            x=19
            y=17
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Bandit
            generate_name=yes
            x=27
            y=21
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Footpad
            generate_name=yes
            x=23
            y=13
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Bandit
            generate_name=yes
            x=19
            y=21
            side=2
            random_traits=yes
        [/unit]
#ifndef EASY
        [unit]
            type=Thug
            side=2
            x,y=24,16
            random_traits=yes
        [/unit]
#endif
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Bandits, I should have known!"
        [/message]
    [/event]
    [event]
        name=turn 5
        [unit]
            type=Bandit
            generate_name=yes
            x=29
            y=9
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Highwayman
            generate_name=yes
            x=30
            y=12
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Bandit
            generate_name=yes
            x=31
            y=8
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Bandit
            generate_name=yes
            x=32
            y=6
            side=2
            random_traits=yes
        [/unit]
#ifdef HARD
        [unit]
            type=Bandit
            side=2
            x,y=30,10
            random_traits=yes
        [/unit]
#endif
        [message]
            speaker=Efraim_de_Ceise
            message= _ "I thought I smelled someone in need of a bath..."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=30-36,1-11
            side=1
        [/filter]
        [unit]
            type=Highwayman
            generate_name=yes
            x=26
            y=11
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Highwayman
            generate_name=yes
            x=33
            y=12
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Bandit
            generate_name=yes
            x=23
            y=13
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Bandit
            generate_name=yes
            x=24
            y=2
            side=2
            random_traits=yes
        [/unit]
#ifdef HARD
        [unit]
            type=Highwayman
            side=2
            x,y=25,11
            random_traits=yes
        [/unit]
#endif
#ifndef EASY
        [unit]
            type=Thug
            side=2
            x,y=25,11
            random_traits=yes
        [/unit]
#endif
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Their numbers are not relenting, I hear them crashing through the brush."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "But why from behind us? They must be preparing a trap!"
        [/message]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Maybe, or perhaps they just feel the need to escort us off their land."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I hope you are right. Hurry up!"
        [/message]
    [/event]
    [event]
        name=turn 10

        [unit]
            type=Highwayman
            generate_name=yes
            x=26
            y=7
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Highwayman
            generate_name=yes
            x=32
            y=3
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Highwayman
            generate_name=yes
            x=35
            y=7
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Highwayman
            generate_name=yes
            x=32
            y=9
            side=2
            random_traits=yes
        [/unit]
#ifdef HARD
        [unit]
            type=Thug
            side=2
            x,y=30,6
            random_traits=yes
        [/unit]
#endif
        [message]
            speaker=Efraim_de_Ceise
            message= _ "I am starting to feel as though your instincts were correct Lethalia."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=35,4
            id=Efraim_de_Ceise
        [/filter]
        [unit]
            type=Fugitive
            generate_name=yes
            x=34
            y=3
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Fugitive
            generate_name=yes
            x=35
            y=3
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Fugitive
            generate_name=yes
            x=35
            y=5
            side=2
            random_traits=yes
        [/unit]
        [unit]
            type=Fugitive
            id=Evil_Bastard
            name="Greor"
            x=36
            y=4
            side=2
            random_traits=yes
        [/unit]
        [message]
            speaker=Efraim_de_Ceise
            message= _ "Looks like I underestimated how well these degenerates can maneuver, bah!"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Stave them off, we will free you!"
        [/message]
        [message]
            speaker=Evil_Bastard
            message= _ "I'm afraid you will free nothing but a corpse. Surrender now, Lethalia. And you too, Efraim, or I will kill her, impale her head on a stick and use her sinews for our bowstrings." #CrowT: I like this line, but there were no bandit archers!
        [/message]		    #Dugi: Great idea! Makes it quite funny.
        [message]
            speaker=Lethalia
            message= _ "We have coexisted for years in relative peace, why are you attempting this bold move now?"
        [/message]
        [message]
            speaker=Evil_Bastard
            message= _ "My dear Lethalia, you must have heard about the price on your heads. The orcs will pay piles of gold to the one who captures you two."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "You will be written down in History as amongst the greatest fools for this act! I can assure you!" #Dugi: This promise will be broken.
        [/message]
        [endlevel]
            result=victory
            bonus=no
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Efraim_de_Ceise
        [/filter]
        [message]
            speaker=unit
            message= _ "Died during the victorious return home. How heroic..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=unit
            message= _ "I defeated the orcs. I, an elvish wizard, a mage of unmatchable power and commander of a huge army, was slain by a mere bandit."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim_de_Ceise
            message= _ "We have to hurry. The Elves now think we have been defeated."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    {DROPS 4 7 (sword,sword,sword,dagger,dagger,knife,xbow,bow,bow,staff,mace,spear) no 2}
    {GLOBAL_EVENTS}
    experience_modifier=125
[/scenario]
