#textdomain wesnoth-loti
[scenario]
    id=11_Ascension
    name= _ "Ascension"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/11_Mind_of_Efraim.map}"
    {TURNS 13 11 9}

    {INTRO_AND_SCENARIO_MUSIC heroes_rite.ogg the_deep_path.ogg}
    {EXTRA_SCENARIO_MUSIC breaking_the_chains.ogg}
    {EXTRA_SCENARIO_MUSIC revelation.ogg}

    victory_when_enemies_defeated=no

    {AFTERNOON}

    next_scenario=12_Toxic_Sun

    [event]
        name=prestart

        [objectives]
            side=1
            [objective]
                description= _ "Enslave the spirits"
                condition=win
            [/objective]
            [objective]
                description= _ "Enslavement of Efraim's spirit"
                condition=lose
            [/objective]
            note= _ "Note: Efraim can enslave a unit if it dies in the same turn as it was struck by him or his thrall."
        [/objectives]
        [set_variables]
            name=hidden_item_storage
            mode=replace
            to_variable=item_storage
        [/set_variables]
	{VARIABLE spirits_slain 0}
        {CLEAR_VARIABLE item_storage}
    [/event]

    [story]
        [part]
            story= _ "They spent nearly a year in the dragon's den. Living soldiers from their army were suffering badly from boredom, while Efraim and Lethalia were drinking small amounts of the poison in their food and water, experimenting with black magic all the time."
        [/part]
        [part]
            story= _ "Efraim:
So we know which incantations we must do with our last breaths. But there are greater threats. First, we will be stone cold, so anyone who touches us will know immediately we are undead. Second, we must hide our undead army somewhere."
        [/part]
        [part]
            story= _ "Lethalia:
The third problem is that the poison will make us die while unconscious. You are better at necromancy than me. What do you suggest?"
        [/part]
        [part]
            story= _ "Efraim:
The problem with heat may be solved by bounding more spirits into our bodies, - possibly later, after becoming liches. Our spirits will think and use magic, while the others shall heat and heal us, and provide more magical power to our souls. But we do risk them overcoming us... And about the second problem, I think we will be enough powerful to kill enough enemies at the beginning of each battle to raise an undead army at the place."
        [/part]
        [part]
            story= _ "Efraim:
The problem with unconsciousness can be solved by dying from something else, that would not damage our body, like suffocation or another, fast acting poison. And we have to hurry, I can feel that we are close to death."
        [/part]
        [part]
            story= _ "Lethalia:
I know. I have never been so ill before. Your ideas are great. I think that we should kill ourselves by drinking the rest of the poison to make sure we do not rot and if the poison will not act fast, we will have to drown because strangling may cause wounds. I know nothing about the healing power of the spirits, but I think that liches do not keep every wound they receive."
        [/part]
        [part]
            story= _ "Lethalia:
So I think that the spirits will remember some sort of original form of the body, because in other cases liches would look like humans. No... Their original form was also fleshy. Rotting is a natural process, while wounds are not. That is it. But I cannot say whether these wounds shall remain. We cannot risk."
        [/part]
        [part]
            story= _ "Efraim:
Probably you are right. When our health becomes very weak, we shall drink the rest of poison and tell someone strong to drown us. And to put a heavy stone on us, because it is not clear whether or not other spirits will prevail."
        [/part]
        [part]
            story= _ "Their end arrived in a month's time. They were so weak that they had problems to speak. Only Lethalia's magic kept them conscious. So they drank a huge dose of the poison and because it did not act fast, they told a strong elf to drown them, while the others put heavy boulders on them. Efraim was saying the last words of the incantation soundlessly in his mind."
        [/part]
        [part]
            background=dark_incantation.png
            story= _ "Efraim:
Emra ubred daem sillithod gorol haesmaelle... Marghad deab kroeuss... Grodhous maerell... Marinuereso... Marinueresiello hatphaenosus..."
        [/part]
        [part]
            background=dark_incantation.png
            story= _ "He felt he was dying... His life was evaporating like a drop of water that fell into a pool of lava... And three phrases remained to say."
        [/part]
        [part]
            background=dark_incantation.png
            story= _ "Efraim:
Thaerinaue mos foriek saanae... Quet pienako navaetolien varaet hoknusaere... Marae ubred siliod gorol haesmaelle graev drougthaesse..."
        [/part]
        [part]
            background=dark_incantation.png
            story= _ "He died."
        [/part]
    [/story]
    [side]
        type=Wraith
        id=Spirit_of_Efraim
        name= _ "Spirit of Efraim"
        unrenamable=yes
        profile="portraits/undead/ghost.png"
        side=1
        canrecruit=yes
        recruit=
        disallow_recall=yes
        controller=human
        gold=0
        team_name=Efraim
        user_team_name=_"Efraim"
    [/side]
    [side]
        side=2
        team_name=redain
        user_team_name=_"Spirit of lord Redain"
        gold=0
        type=Ghost
        id=Sredain
        name= _ "Spirit of lord Redain"
    [/side]
    [side]
        side=3
        team_name=margund
        user_team_name=_"Spirit of Margund"
        gold=0
        type=Ghost
        id=Smargund
        name= _ "Spirit of Margund"
    [/side]
    [side]
        side=4
        team_name=grub
        user_team_name=_"Spirit of Grub Drung"
        gold=0
        type=Ghost
        id=Sgrub
        name= _ "Spirit of Grub Drung"
    [/side]
    [side]
        side=5
        team_name=Sdrgor
        user_team_name=_"Spirit of Drgor"
        gold=0
        type=Ghost
        id=Sdrgor
        name= _ "Spirit of Drgor"
    [/side]
    [side]
        side=6
        team_name=spider
        user_team_name=_"Powerful spirit of a Cave Spider"
        gold=0
        type=Ghost
        id=Sspider
        name= _ "Powerful spirit of a Cave Spider"
    [/side]
    [side]
        side=7
        team_name=masardor
        user_team_name=_"Spirit of Masardor"
        gold=0
        type=Ghost
        id=Smasardor
        name= _ "Spirit of Masardor"
    [/side]
    [side]
        side=8
        team_name=vronar
        user_team_name=_"Spirit of Vronar"
        gold=0
        type=Ghost
        id=Svronar
        name= _ "Spirit of Vronar"
    [/side]
    [side]
        no_leader=yes
        side=9
        team_name=dragon
        user_team_name=_"Spirit of Hephaestus"
        gold=0
    [/side]

    [event]
        name=start
        [message]
            speaker=Spirit_of_Efraim
            message= _ "Where the hell I am?"
        [/message]
        [message]
            speaker=Sredain
            message= _ "In your mind, stupid fool. I will overcome you and command your body. You killed me, but now I will take your body and come back to life."
        [/message]
        [message]
            speaker=Smargund
            message= _ "No, I will capture his body. I will become an orc so strong that I will unite our tribes and crush Wesnoth!"
        [/message]
        [message]
            speaker=Sglub
            message= _ "I was a good leader in life. I am the one who deserves to rule!"
        [/message]
        [message]
            speaker=Svronar
            message= _ "I will rule this body. I was the greatest warlord in history!"
        [/message]
        [message]
            speaker=Spirit_of_Efraim
            message= _ "Perfect. I will fight them one by one. I will win, because I am the owner of my body and I know how to enslave spirits."
        [/message]
    [/event]

    [event]
        name=turn 4
        [unit]
            type=Spectre
            id=Sdragon
            name= _ "Spirit of Hephaestus"
            x=35
            y=14
            side=9
            [ai]
                [target]
                    id=Spirit_of_Efraim
                    value=50
                [/target]
            [/ai]
        [/unit]
        [message]
            speaker=Sdragon
            message= _ "Ha, ha, ha. You may be tricky, but the true power belongs to me."
        [/message]
        [message]
            speaker=Spirit_of_Efraim
            message= _ "Damn. I did not want to enslave Hephaestus. It will be hard. But the spirits under my control will crush him."
        [/message]
        [message]
            speaker=Sdragon
            message= _ "Your tricks are no challenge for the true power!"
        [/message]
        [message]
            speaker=Spirit_of_Efraim
            message= _ "I hope I will not lose. Dragons are cunning. If I lose, Hephaestus will be hidden under my identity and become even worse than he was in life. The mere idea of a dragon lich chills me."
        [/message]

        [objectives]
            summary= _ "New Objectives:"
            show=yes
            [objective]
                description= _ "Defeat the spirit of Hephaestus"
                condition=win
            [/objective]
            [objective]
                description= _ "Enslavement of Efraim's spirit"
                condition=lose
            [/objective]
        [/objectives]
    [/event]

    [event]
        name=attacker hits
        first_time_only=no
        [filter]
            side=1
        [/filter]
        [filter_second]
            canrecruit=yes
            [not]
                side=9
            [/not]
        [/filter_second]
        [modify_unit]
            [filter]
                find_in=second_unit
            [/filter]
            [variables]
                marked=yes
            [/variables]
        [/modify_unit]
    [/event]
    [event]
        name=defender hits
        first_time_only=no
        [filter_second]
            side=1
        [/filter_second]
        [filter]
            canrecruit=yes
            [not]
                side=9
            [/not]
        [/filter]
        [modify_unit]
            [filter]
                find_in=unit
            [/filter]
            [variables]
                marked=yes
            [/variables]
        [/modify_unit]
    [/event]

    [event]
        name=new turn
        first_time_only=no
        [store_unit]
            [filter]
                [filter_wml]
                    [variables]
                        marked=yes
                    [/variables]
                [/filter_wml]
            [/filter]
            variable=unmarking
        [/store_unit]
        {FOREACH unmarking i}
            {CLEAR_VARIABLE unmarking[$i].variables.marked}
            [unstore_unit]
                variable=unmarking[$i]
                find_vacant=no
            [/unstore_unit]
        {NEXT i}
        {CLEAR_VARIABLE unmarking}
    [/event]

    [event]
        name=die
        first_time_only=no
        [filter]
            [filter_wml]
                [variables]
                    marked=yes
                [/variables]
            [/filter_wml]
        [/filter]
        {VARIABLE unit.side 1}
        {VARIABLE unit.canrecruit no}
        {VARIABLE unit.hitpoints $unit.max_hitpoints}
	{VARIABLE_OP spirits_slain add 1}
        {CLEAR_VARIABLE unit.variables.marked}
        [set_variable]
            name=unit.name
            value=_"Enslaved " + $unit.name
        [/set_variable]
        [unstore_unit]
            variable=unit
            find_vacant=no
        [/unstore_unit]
        [message]
            speaker=Spirit_of_Efraim
            message= _ "I have you!"
        [/message]
        {VARIABLE_OP second_unit.experience add "$(8*$unit.level)"}
        [unstore_unit]
            variable=second_unit
            find_vacant=no
        [/unstore_unit]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Spirit_of_Efraim
        [/filter]
        [message]
            speaker=unit
            message= _ "No! How much pain shall it cause Lethalia?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Spirit_of_Efraim
            message= _ "Now everyone thinks I have lost. Someone will bury me."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Sdragon
        [/filter]
        [message]
            speaker=Spirit_of_Efraim
            message= _ "Well. He is now under my control. Other spirits have no chance at all against me now."
        [/message]
        [unit]
            type=Spectre
            x=$x1
            y=$y1
            id=ESdragon
            side=1
            name= _ "Enslaved spirit of Hephaestus"
        [/unit]
	{VARIABLE_OP spirits_slain add 1}
        [set_variables]
            name=item_storage
            mode=replace
            to_variable=hidden_item_storage
        [/set_variables]
        {CLEAR_VARIABLE hidden_item_storage}

        [endlevel]
            result=victory
            bonus=no
        [/endlevel]
    [/event]
[/scenario]
