##textdomain wesnoth-loti
[scenario]
    id=14_Shadow_Empire
    next_scenario=15_Long_Way_Home
    name= _ "Shadow Empire"
    victory_when_enemies_defeated=no
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/14_Shadow_Empire.map}"
    {TURNS 36 33 30}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {DAWN}
    {DUSK}
    {SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_dangerous_symphony.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_king_is_dead.ogg"}

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Capture Zorox with Lethalia (reduce his hitpoints to 0 or lower) and defeat the necromancers"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Zorox (a unit other than Lethalia kills him)"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40} + _ "
Note: Generals will turn to your side after Zorox's fall"
        [/objectives]
    [/event]

    {STARTING_VILLAGES 3 10}
    {STARTING_VILLAGES 4 9}
    {STARTING_VILLAGES 5 9}
    {STARTING_VILLAGES 6 4}
    {STARTING_VILLAGES 7 8}

    [story]
        [part]
            background=story/sad_autumn.jpg
            story= _ "Together, they marched through the glum northern autumn lands against the growing Shadow Empire... with great fear that it shall be their last march."
        [/part]
    [/story]

    [side]
        type=Efraim_lich
        id=Efraim
        name= _ "Efraim"
        unrenamable=yes
        side=1
        canrecruit=yes
        recruit=Walking Corpse,Ghost,Skeleton,Skeleton Archer,Chocobone,Wraith,Soulless,Shadow,Bone Shooter,Deathblade,Revenant
        team_name=good
        user_team_name=_"Good"
        {GOLD 500 400 300}
        controller=human
    [/side]

    [side]
        id=Garcyn
        name= _ "Garcyn"
        type=General
        random_traits=yes
        side=2
        canrecruit=yes
        recruit=Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Horseman,Lancer,Knight,Longbowman
        {GOLD 600 500 400}
        team_name=good
        user_team_name=_"Good"
    [/side]
    [side]
        id=Zorox
        name= _ "Zorox"
        type=Grand Marshal
        profile=portraits/Argan.png
        random_traits=yes
        side=3
        canrecruit=yes
#ifdef EASY
        recruit=Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Revenant,Wraith,Longbowman
#endif
#ifdef NORMAL
        recruit=Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Horseman,Revenant,Wraith,Longbowman
#endif
#ifdef HARD
        recruit=Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Horseman,Lancer,Knight,Revenant,Chocobone,Wraith,Longbowman
#endif
        {GOLD 800 900 1000}
        team_name=evil
        user_team_name=_"Evil"
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_EXTRA_DAMAGE_AURA _"omen" 40}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        id=Mal
        name= _ "Mal"
        type=Necromancer
        random_traits=yes
        side=4
        canrecruit=yes
#ifdef EASY
        recruit=Walking Corpse,Ghost,Skeleton,Skeleton Archer,Chocobone,Wraith,Soulless,Shadow,Bone Shooter,Deathblade,Revenant,Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Revenant,Wraith,Dark Adept,Dark Sorcerer
#endif
#ifdef NORMAL
        recruit=Walking Corpse,Ghost,Skeleton,Skeleton Archer,Chocobone,Wraith,Soulless,Shadow,Bone Shooter,Deathblade,Revenant,Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Horseman,Revenant,Wraith,Dark Adept,Dark Sorcerer
#endif
#ifdef HARD
        recruit=Walking Corpse,Ghost,Skeleton,Skeleton Archer,Chocobone,Wraith,Soulless,Shadow,Bone Shooter,Deathblade,Revenant,Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Horseman,Lancer,Knight,Revenant,Chocobone,Wraith,Dark Adept,Dark Sorcerer
#endif

        {GOLD 400 525 625}
        team_name=evil
        user_team_name=_"Evil"
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=ranged
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_TRICKERY}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        id=Mauvais
        name= _ "Mauvais"
        type=Necromancer
        random_traits=yes
        side=5
        canrecruit=yes
#ifdef EASY
        recruit=Walking Corpse,Ghost,Skeleton,Skeleton Archer,Chocobone,Wraith,Soulless,Shadow,Bone Shooter,Deathblade,Revenant,Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Revenant,Wraith,Dark Adept,Dark Sorcerer
#endif
#ifdef NORMAL
        recruit=Walking Corpse,Ghost,Skeleton,Skeleton Archer,Chocobone,Wraith,Soulless,Shadow,Bone Shooter,Deathblade,Revenant,Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Horseman,Revenant,Wraith,Dark Adept,Dark Sorcerer
#endif
#ifdef HARD
        recruit=Walking Corpse,Ghost,Skeleton,Skeleton Archer,Chocobone,Wraith,Soulless,Shadow,Bone Shooter,Deathblade,Revenant,Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Horseman,Lancer,Knight,Revenant,Chocobone,Wraith,Dark Adept,Dark Sorcerer
#endif

        {GOLD 400 525 625}
        team_name=evil
        user_team_name=_"Evil"
#ifdef HARD
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=ranged
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_EXTRA_5_IMPACT_DAMAGE}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        id=Sir_Loyalius
        name= _ "Sir Loyalius"
        random_traits=yes
        type=General
        side=6
        canrecruit=yes
#ifdef EASY
        recruit=Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Longbowman
#endif
#ifdef NORMAL
        recruit=Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Horseman,Longbowman
#endif
#ifdef HARD
        recruit=Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Horseman,Lancer,Knight,Longbowman
#endif
        {GOLD 250 275 300}
        team_name=evil
        user_team_name=_"Evil"
    [/side]
    [side]
        id=Sir_Ostiepok
        name= _ "Sir Ostiepok"
        random_traits=yes
        type=General
        side=7
        canrecruit=yes
#ifdef EASY
        recruit=Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Longbowman
#endif
#ifdef NORMAL
        recruit=Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Horseman,Longbowman
#endif
#ifdef HARD
        recruit=Spearman,Bowman,Cavalryman,Swordsman,Heavy Infantryman,Javelineer,Pikeman,Shock Trooper,Horseman,Lancer,Knight,Longbowman
#endif
        {GOLD 250 275 300}
        team_name=evil
        user_team_name=_"Evil"
    [/side]
    [event]
        name=prestart

        [recall]
            id=Lethalia
        [/recall]
        [recall]
            id=Argan
        [/recall]
    [/event]
    {RECRUIT_UNIT_VARIATIONS 1 "Walking Corpse" saurian,bat,bat,troll,saurian,saurian,troll,bat}
    {RECRUIT_UNIT_VARIATIONS 1 "Soulless" saurian,bat,bat,troll,saurian,saurian,troll,bat}
    [event]
        name=start
        [message]
            speaker=Garcyn
            message= _ "They call it the Shadow Empire. But it is small! They want to expand it in all directions. But they will not! They are practising necromancy, taking huge taxes from their citizens. That will be stopped! They were too strong for us. You are our only chance for us to survive, our chance to destroy the evil before it grows too large!"
        [/message]
        [message]
            speaker=Mal
            message= _ "Why do we not invade The Valley of Cold Harmony? Some black magic cannot equal a real army."
        [/message]
        [message]
            speaker=Zorox
            message= _ "Because the ongoing winter will be long and we need someone who will protect us from yetis and gryphons."
        [/message]
        [message]
            speaker=Mauvais
            message= _ "But they may attack us!"
        [/message]
        [message]
            speaker=Zorox
            message= _ "Have no fear. They know who is stronger. They would not dare to invade us."
        [/message]
        [message]
            speaker=Mal
            message= _ "But they are more used to winter than we are. And they know this will be their last winter. They will attack us fanatically because they know that that is the only way to evade their doom."
        [/message]
        [message]
            speaker=Zorox
            message= _ "Listen. You are mages, so you are good at magic and summoning undead minions. I am a Grand Marshal and I am good at battle tactics. Understood?"
        [/message]
        [message]
            speaker=Mal
            message= _ "No, but I will let it be."
        [/message]
        [message]
            speaker=Zorox
            message= _ "Fair enough."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Well. His arrogance is his greatest weakness. And it seems that only the necromancers are loyal to him. I think after his death the two cities to the south will turn to our side."
        [/message]
        [scroll_to_unit]
            id=Sir_Loyalius
        [/scroll_to_unit]
        [delay]
            time=500
        [/delay]
        [scroll_to_unit]
            id=Sir_Ostiepok
        [/scroll_to_unit]
        [delay]
            time=500
        [/delay]
        [message]
            speaker=Lethalia
            message= _ "And the necromancers will start a succession war like the orcs did."
        [/message]
        [message]
            speaker=Efraim
            message= _ "No. They are sure that they are bad tacticians. They will find someone like Zorox after his death."
        [/message]
        [message]
            speaker=Argan
            message= _ "And... He may become my future body."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Good. How will we do it?"
        [/message]
        [message]
            speaker=Lethalia
            message= _ "Easily. I can fly to his fortress, capture him and bring him here. I have imagined a spell that will shrink him so that he will fit in my pocket."
        [/message]
        [message]
            speaker=Efraim
            message= _ "Fine. Let us free this land of evil."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=unit
            message= _ "Lethalia, you are bound to eternal sorrow now."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=unit
            message= _ "Efraim, you are bound to eternal sorrow now."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Argan
        [/filter]
        [message]
            speaker=unit
            message= _ "And I was so close..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Argan
        [/filter]
        [message]
            speaker=unit
            message= _ "And I was so close..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Garcyn,Efraim
            message= _ "Damn it. The winter has come in its full might."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=die
        [filter]
            id=Zorox
        [/filter]
        [if]
            [variable]
                name=second_unit.id
                equals=Lethalia
            [/variable]
            [then]
                [message]
                    speaker=Lethalia
                    message= _ "Done, captured and shrunk."
                [/message]
                [message]
                    speaker=Sir_Loyalius
                    message= _ "The evil is going to lose. Raise your arms against it."
                [/message]
                [message]
                    speaker=Sir_Ostiepok
                    message= _ "The good is going to prevail. We are with you, Garcyn."
                [/message]
                [modify_side]
                    side=6
                    user_team_name=_"Good"
                    team_name=good
                [/modify_side]
                [modify_side]
                    side=7
                    user_team_name=_"Good"
                    team_name=good
                [/modify_side]
            [/then]
            [else]
                [message]
                    speaker=Argan
                    message= _ "Hey, you killed him!!!"
                [/message]
                [endlevel]
                    result=defeat
                [/endlevel]
            [/else]
        [/if]
    [/event]
    [event]
        name=enemies defeated
        [message]
            speaker=Lethalia
            message= _ "We won. We shall insert the poison into Zorox's body. When he is unconscious and his heart beats weakly, you will cast the spell to bound you and other spirits into his body. Then you will cease to be as you are now and we will send you from your bones with a huge rock. You will have no problems in prevailing over him because Death Knights have a very strong will."
        [/message]
        [message]
            speaker=Argan
            message= _ "Yes. Teach it to me."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "You shall have to wait until the poison conserves his body. You will be in flesh again just before the next winter arrives."
        [/message]

        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    {BEELZEBUB_SPAWN_POINT 8 1 32 35 27-37,30-40}
    {DROPS 2 3 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,mace,spear) yes 3,4,5,6,7}
    {GLOBAL_EVENTS}
    experience_modifier=125
[/scenario]
