#textdomain wesnoth-loti
[scenario]
    id=15_Long_Way_Home
    name= _ "Long Way Home"
    map_data="{~add-ons/Legend_of_the_Invincibles/maps/15_The_Path.map}"
    {TURNS 45 42 40}

    {INTRO_AND_SCENARIO_MUSIC heroes_rite.ogg transience.ogg}
    {EXTRA_SCENARIO_MUSIC siege_of_laurelmor.ogg}
    {EXTRA_SCENARIO_MUSIC northern_mountains.ogg}

    victory_when_enemies_defeated=no

    {DAWN}
    {DUSK}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}

    next_scenario=16_The_Battle_for_Ogira
    [time_area]
        x=1-23
        y=30-60
        {DAWN}
        {MORNING}
        {DUSK}
        {FIRST_WATCH}
        {FIRST_WATCH}
        {SECOND_WATCH}
    [/time_area]
    [time_area]
        x=1-23
        y=60-88
        {DAWN}
        {MORNING}
        {AFTERNOON}
        {DUSK}
        {FIRST_WATCH}
        {SECOND_WATCH}
    [/time_area]

    [event]
        name=prestart

        [objectives]
            side=1
            [objective]
                description= _ "Move Efraim to the southern border of the map"
                condition=win
            [/objective]
            [objective]
                description= _ "Destruction of Efraim or Lethalia"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
    [/event]

    [side]
        type=Efraim_lich
        id=Efraim
        name= _ "Efraim"
        unrenamable=yes
        side=1
        canrecruit=yes
        recruit=Spearman,Horseman,Bowman,Longbowman,Swordsman,Pikeman,Javelineer
        controller=human
        gold=100
        shroud=yes
        team_name=adventurers
        user_team_name=_"Adventurers"
        shroud=yes
    [/side]
    [side]
        id=Gorg
        name= _ "Gorg"
        type=Orcish Warlord
        random_traits=yes
        side=2
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Orcish Assassin,Orcish Crossbowman,Orcish Warrior
#endif
#ifdef NORMAL
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Goblin Knight,Orcish Assassin,Orcish Crossbowman,Orcish Warrior
#endif
#ifdef HARD
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Goblin Knight,Orcish Assassin,Orcish Slayer,Orcish Warrior,Orcish Crossbowman,Orcish Warrior
#endif
        {GOLD 350 400 500}
        team_name=evil
        user_team_name=_"Evil"
#ifndef EASY
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_REGENERATES_OTHER 42}
                    [/abilities]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        id=Rumurur
        name= _ "Rumurur"
        type=Troll Warrior
        random_traits=yes
        side=3
        canrecruit=yes
#ifdef EASY
        recruit=Troll Whelp,Troll
#endif
#ifdef NORMAL
        recruit=Troll Whelp,Troll,Troll Rocklobber
#endif
#ifdef HARD
        recruit=Troll Whelp,Troll Rocklobber,Troll,Troll Warrior,Troll Shaman
#endif
        {GOLD 150 200 250}
        team_name=evil
        user_team_name=_"Evil"
#ifdef HARD
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_MISDRYADIA}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
#endif
    [/side]
    [side]
        id=Samurr
        name= _ "Samurr"
        type=Saurian Flanker
        random_traits=yes
        side=4
        canrecruit=yes
#ifdef EASY
        recruit=Saurian Skirmisher,Saurian Augur
#endif
#ifdef NORMAL
        recruit=Saurian Skirmisher,Saurian Augur,Saurian Soothsayer,Saurian Ambusher
#endif
#ifdef HARD
        recruit=Saurian Skirmisher,Saurian Augur,Saurian Soothsayer,Saurian Ambusher,Saurian Oracle
#endif
        {GOLD 100 150 200}
        team_name=evil
        user_team_name=_"Evil"
        [modifications]
#ifver WESNOTH_VERSION >= 1.13.2
            [advancement]
#else
            [advance]
#endif
                [effect]
                    apply_to=attack
                    range=melee
                    [set_specials]
                        mode=append
                        {WEAPON_SPECIAL_LEECH}
                    [/set_specials]
                [/effect]
#ifver WESNOTH_VERSION >= 1.13.2
            [/advancement]
#else
            [/advance]
#endif
        [/modifications]
    [/side]
    [side]
        no_leader=yes
        side=5
        team_name="Good"
        user_team_name=_"Good"
        ai_algorithm=idle_ai
        [unit]
            type=Merchant
            x,y=13,31
            id=trader
            generate_name=yes
        [/unit]
    [/side]
    [event]
        name=prestart
        [store_unit]
            [filter]
                id=Argan
            [/filter]
            variable=argan_store
            kill=yes
        [/store_unit]
        [unit]
            id=Argan
            side=1
            x,y=recall,recall
            name=_"Argan"
            {IS_HERO}
            type=Argan_lich
            [insert_tag]
                name=modifications
                variable=argan_store.modifications
            [/insert_tag]
        [/unit]
        {CLEAR_VARIABLE argan_store}
        [recall]
            id=Argan
        [/recall]
        [store_unit]
            [filter]
                id=Argan
            [/filter]
            variable=argan_store
        [/store_unit]
        [set_variables]
#ifver WESNOTH_VERSION >= 1.13.2
            name=argan_store.modifications.advancement[$argan_store.modifications.advancement.length]
#else
            name=argan_store.modifications.advance[$argan_store.modifications.advance.length]
#endif
            [value]
                id=new_look
                [effect]
                    apply_to=image_mod
                    add="O(0%)"
                [/effect]
                [effect]
                    apply_to=image_mod
                    add="BLIT(units/human-loyalists/marshal.png~RC(magenta>red))"
                [/effect]
                [effect]
                    apply_to=profile
                    portrait="portraits/Argan.png"
                [/effect]
            [/value]
        [/set_variables]
        [unstore_unit]
            variable=argan_store
            find_vacant=no
        [/unstore_unit]
        {CLEAR_VARIABLE argan_store}
        [recall]
            id=Lethalia
        [/recall]
    [/event]

    [story]
        [part]
            background=story/mountains3.jpg
            story= _ "Winter has passed. Spring has passed. Summer has passed. The autumn is near its end. All the land is covered by snow..."
        [/part]
        [part]
            background=story/mountains3.jpg
            story= _ "Efraim was elected as the ruler of the land which was once called the Shadow Empire. Sir Loyalius and Sir Ostiepok watched Efraim pouring the poison drop after drop into the food of Zorox. They believed he had killed him. He did not show them his dead body, but they saw him more and more ill. When he was dying, only Efraim, Lethalia and Argan were around him."
        [/part]
        [part]
            background=story/mountains3.jpg
            story= _ "They were also figuring out a spell to conceal their undead soldiers, hiding them in an illusion to look like living."
        [/part]
        [part]
            background=story/mountains3.jpg
            story= _ "In the moment when Zorox released his soul, Argan finished the spells and Efraim destroyed him with a huge hammer. Zorox's body started shaking as Argan fought the spirits. After a while he woke up. They verified that it was him and celebrated. Efraim gave him the post of the land's ruler and when the snow started to fall, Argan gave them some of his soldiers and they set off to their journey south, back to Ogira. Everyone promised never to say that they had had anything to do with necromancy."
        [/part]
        [part]
            background=story/mountains3.jpg
            story= _ "A traveller told them that Ogira was directly to the south. During their journey, they watched the days lengthening into normal winter length and laughed at how they could see something evil in that. Most of the journey passed without incident, but one day, the troubles began."
        [/part]
    [/story]

    [event]
        name=turn 15
        [replace_map]
            map="{~add-ons/Legend_of_the_Invincibles/maps/15_The_Path2.map}"
            expand=yes
            shrink=yes
        [/replace_map]
        [message]
            speaker=Efraim
            message= _ "No! It is snowing. We have to hurry!"
        [/message]
    [/event]
    [event]
        name=turn 25
        [replace_map]
            map="{~add-ons/Legend_of_the_Invincibles/maps/15_The_Path3.map}"
            expand=yes
            shrink=yes
        [/replace_map]
        [message]
            speaker=Efraim
            message= _ "No! It is snowing. We really must hurry!"
        [/message]
    [/event]
    [event]
        name=start
        [message]
            speaker=Efraim
            message= _ "Let us continue south. I long to see Delenia, or Delly again, however she likes to call herself now."
        [/message]
        [message]
            speaker=Lethalia
            message= _ "I agree, let us go. But I can feel some orcs south from us. And no undead raising, remember that."
        [/message]
        [disallow_recruit]
            side=1
            type=Walking Corpse,Ghost,Skeleton,Skeleton Archer,Chocobone,Wraith,Soulless,Shadow,Bone Shooter,Deathblade,Revenant
        [/disallow_recruit]
        [message]
            speaker=Argan
            message= _ "I shall be leaving you very soon, the duties in my valley are waiting for me. If I am borrowing any items you need, take them, I do not want to owe you even more than I already do."
        [/message]
    [/event]

    [event]
        name=turn 3
        [message]
            speaker=Argan
            message= _ "Goodbye, my friends. We shall meet again, I feel it in my... corpse."
        [/message]
        [kill]
            id=Argan
        [/kill]
    [/event]

    [event]
        name=moveto
        [filter]
            x,y=1-23,20-40
            side=1
        [/filter]
        [message]
            speaker=Gorg
            message= _ "Elves and humans. You are returning to Ogira, Yes?"
        [/message]
        [message]
            speaker=Efraim
            message= _ "Yes. How did you know?"
        [/message]
        [message]
            speaker=Gorg
            message= _ "Every orc here knows you. And every orc here is going to join the siege of Ogira."
        [/message]
        [message]
            speaker=Efraim
            message= _ "So you reunited again?"
        [/message]
        [message]
            speaker=Gorg
            message= _ "No. But everyone wants revenge. We could have conquered the entire continent, but you jeopardised that. And now I will be the one who will kill you. To arms. Show no mercy. Kill them all!"
        [/message]
        [message]
            speaker=Efraim
            message= _ "We must hurry to Ogira. And earn as much gold as possible. It will be a big battle."
        [/message]
        [gold]
            amount=300
            side=2
        [/gold]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=1-23,46-61
            side=1
        [/filter]
        [message]
            speaker=Efraim
            message= _ "Damn it. There are mountains ahead. We should pass through the mountains rather than trying to go around. Delly has problems. We must hurry. Our scouts need to find a way around, although for them, it will be easier, they are much faster."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=1-23,69-83
            side=1
        [/filter]
        [message]
            speaker=Efraim
            message= _ "I had nearly lost hope of seeing flowers again."
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            x,y=1-23,84-88
            id=Efraim
        [/filter]
        [message]
            speaker=Lethalia
            message= _ "I have to go to my forest for reinforcements. We shall meet near Ogira."
        [/message]
        [message]
            speaker=Efraim
            message= _ "I hope we do not arrive late."
        [/message]
        {CLEAR_VARIABLE i1}
        {CLEAR_VARIABLE i2}
        {CLEAR_VARIABLE i3}
        {CLEAR_VARIABLE i4}
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Efraim
        [/filter]
        [message]
            speaker=unit
            message= _ "And Ogira is doomed now."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Lethalia
        [/filter]
        [message]
            speaker=unit
            message= _ "I wanted to see my forest again."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=Efraim
            message= _ "Ogira is surely defeated already."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            [filter_adjacent]
                x,y=13,31
            [/filter_adjacent]
        [/filter]
        [store_gold]
            side=1
            variable=gold
        [/store_gold]
        [message]
            speaker=trader
            message= _ "Hello, I am a trader. I sell items. Look at my stock and tell me what would you like to look at more closely."
            {SELL_GEMS}
            {SHOP_ITEM _"The Fencer's Study" 60 26 items/book3.png i1}
            {SHOP_ITEM _"Ring of Iced Veins" 80 18 items/ring-silver.png i2}
            {SHOP_ITEM _"Ring of Dragon's Bane" 30 35 items/ring-red.png i3}
            {SHOP_ITEM _"Claymore" 50 28 items/sword.png i4}
            [option]
                message= _ "Nothing"
                [command]
                [/command]
            [/option]
        [/message]
        {CLEAR_VARIABLE gold}
    [/event]

    {NEUTRAL_SIDE 5}
    {DROPS 3 4 (sword,sword,sword,bow,bow,dagger,knife,xbow,axe,axe,staff,staff,spear,spear,mace,mace) yes 2,3,4}
    {GLOBAL_EVENTS}
    experience_modifier=125
[/scenario]
