#textdomain wesnoth-affably_evil
[unit_type]
    id=Acanthamoeba
    name= _ "Noblewoman"
    race=human
    gender=female
    image="units/acanthamoeba.png"
    profile="portraits/Acanthamoeba.png"
    hitpoints=30
    movement_type=elusivefoot
    movement=6
    experience=20
    {QUANTITY experience 18 20 22}
    level=1
    alignment=neutral
    advances_to=null
    cost=20
    usage=fighter
    description= _ "Noblewomen are narcissistic, self-loving and venomous people who treat others with no respect. They are not very numerous, because they need monogamous relationships with noblemen who are not very numerous because of their nature. Fortunately. Some of them see the meaning of their life in extravagant dresses and dances, others assist their husbands in castle management, others hang around with noblemen and have some skill with swords (unlike noblemen, they do not boast about it). The first two will screech painfully if encountered and can damage eardrums. The third category can pose a certain threat.

Gameplay notes:
You can unlock more leadership advancements with sword advancements."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/Acanthamoeba.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/Acanthamoeba.png"
    [/portrait]
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL 1}
    [/abilities]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-steel.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]
    {DEFENSE_ANIM "units/acanthamoeba-defend.png" "units/acanthamoeba.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-225
            end=-200
            image="units/acanthamoeba.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/acanthamoeba-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=150
                image="units/acanthamoeba-attack-2.png"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=150
                image="units/acanthamoeba-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/acanthamoeba.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-350
                end=-100
                image="units/acanthamoeba-throwknife1.png"
                sound=throwing-knife.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-350
                end=-100
                image="units/acanthamoeba-throwknife1.png"
                sound=throwing-knife-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=50
            image="units/acanthamoeba-throwknife2.png"
        [/frame]
        [frame]
            begin=50
            end=50
            image="units/acanthamoeba.png"
        [/frame]
    [/attack_anim]
    {GENERIC_AMLA units/acanthamoeba.png units/acanthamoeba-attack-1.png units/acanthamoeba-attack-2.png units/acanthamoeba.png units/acanthamoeba-attack-1.png units/acanthamoeba-attack-2.png (

        [advancement]
            max_times=1
            always_display=yes
            id=sword1
            description= _ "better with sword"
            image=attacks/sword-steel.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=attack
                name=sword
                increase_damage=1
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword1_poison
            description= _ "using a poisoned sword"
            image=attacks/sword-steel.png
            strict_amla=yes
            require_amla="sword1"
            [effect]
                apply_to=attack
                name=sword
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_POISON}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword2
            description= _ "better with sword"
            image=attacks/sword-steel.png
            strict_amla=yes
            require_amla="sword1"
            [effect]
                apply_to=attack
                name=sword
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword2_marksman
            description= _ "more precise with sword"
            image=attacks/sword-steel.png
            strict_amla=yes
            require_amla="sword1"
            [effect]
                apply_to=attack
                name=sword
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_MARKSMAN}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword3
            description= _ "better with sword"
            image=attacks/sword-steel.png
            strict_amla=yes
            require_amla="sword1,sword2"
            [effect]
                apply_to=attack
                name=sword
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword3_struggle
            description= _ "more defensive with sword"
            image=attacks/sword-steel.png
            strict_amla=yes
            require_amla="sword1"
            [effect]
                apply_to=attack
                name=sword
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_STRUGGLE}
                [/set_specials]
        increase_damage=-1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword4
            description= _ "better with sword"
            image=attacks/sword-steel.png
            strict_amla=yes
            require_amla="sword1,sword2,sword3"
            [effect]
                apply_to=attack
                name=sword
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword4_speed
            description= _ "faster with sword"
            image=attacks/sword-steel.png
            strict_amla=yes
            require_amla="sword1,sword2,sword3,sword4"
            [effect]
                apply_to=attack
                name=sword
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword5
            description= _ "better with sword"
            image=attacks/sword-steel.png
            strict_amla=yes
            require_amla="sword1,sword2,sword3,sword4"
            [effect]
                apply_to=attack
                name=sword
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword5_speed
            description= _ "faster with sword"
            image=attacks/sword-steel.png
            strict_amla=yes
            require_amla="sword1,sword2,sword3,sword4,sword5,sword1_speed,sword4_speed"
            [effect]
                apply_to=attack
                name=sword
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=sword6
            description= _ "better with sword"
            image=attacks/sword-steel.png
            strict_amla=yes
            require_amla="sword1,sword2,sword3,sword4,sword5"
            [effect]
                apply_to=attack
                name=sword
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=sword6_cleave
            description= _ "hitting more enemies with sword"
            image=attacks/sword-steel.png
            strict_amla=yes
            require_amla="sword6"
            [effect]
                apply_to=attack
                name=sword
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_CLEAVE}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=knives
            description= _ "able to throw knives"
            image=attacks/dagger-thrown-human.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=new_attack
        name=knife
        description=_"knife"
        icon=attacks/dagger-thrown-human.png
        type=blade
        range=ranged
        damage=4
        number=2
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=knives1_speed
            description= _ "faster with knives"
            image=attacks/dagger-thrown-human.png
            strict_amla=yes
            require_amla="knives"
            [effect]
                apply_to=attack
                name=knife
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=knives2
            description= _ "better with knives"
            image=attacks/dagger-thrown-human.png
            strict_amla=yes
            require_amla="knives"
            [effect]
                apply_to=attack
                name=knife
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=knives2_precision
            description= _ "more precise with knives"
            image=attacks/dagger-thrown-human.png
            strict_amla=yes
            require_amla="knives2"
            [effect]
                apply_to=attack
                name=knife
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_MARKSMAN}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=knives3_speed
            description= _ "faster with knives"
            image=attacks/dagger-thrown-human.png
            strict_amla=yes
            require_amla="knives3"
            [effect]
                apply_to=attack
                name=knife
                increase_attacks=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=5
            always_display=yes
            id=knives3
            description= _ "better with knives"
            image=attacks/dagger-thrown-human.png
            strict_amla=yes
            require_amla="knives2"
            [effect]
                apply_to=attack
                name=knife
                increase_damage=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=knives3_precision
            description= _ "even more precise with knives"
            image=attacks/dagger-thrown-human.png
            strict_amla=yes
            require_amla="knives2_precision,knives3"
            [effect]
                apply_to=attack
                name=knife
        remove_specials=marksman
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_FOCUSED}
                [/set_specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership
            description= _ "a better leader (like a level 2 unit)"
            image=attacks/fist.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL 1}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL 2}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership2
            description= _ "a better leader (like a level 3 unit)"
            image=attacks/fist.png
            strict_amla=yes
            require_amla="leadership,sword2"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL 2}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL 3}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=1
            always_display=yes
            id=leadership3
            description= _ "a better leader (like a level 4 unit)"
            image=attacks/fist.png
            strict_amla=yes
            require_amla="leadership2,sword4"
            [effect]
                apply_to=remove_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL 3}
                [/abilities]
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_LEADERSHIP_LEVEL 4}
                [/abilities]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=4
            id=movement
            description= _ "faster"
            image=icons/boots_elven.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=dodge
            max_times=5
            description= _ "harder to be hit"
            image=icons/crossed_sword_and_hammer.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=defense
                replace=false
                [defense]
                    frozen=-2
                    shallow_water=-2
                    deep_water=-2
                    reef=-2
                    flat=-2
                    castle=-1
                    village=-1
                    forest=-1
                    cave=-2
                    hills=-1
                    mountains=-1
                    fungus=-2
                    swamp_water=-2
                    sand=-2
                [/defense]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better protected from physical blows (4% better resistances)"
            image=icons/armor_leather.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    blade=-4
                    pierce=-4
                    impact=-4
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            id=armour
            max_times=5
            description= _ "better protected from magical attacks (4% better resistances)"
            image=icons/magical_shield.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=resistance
                replace=false
                [resistance]
                    fire=-4
                    arcane=-4
                    cold=-4
                [/resistance]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
    ) "Acanthamoeba"}
